
/* styles: ledger transaction icons */

    .SourceTypeIcon {
        padding: 2px;
        margin-right: 3px;
        border-radius: 6px;
        width: 15px;
        height: 15px;
        color: white;
        background: #1ea8d4;
        font-size: 9px;
    }

    /* 1-Journal */
    .color-1 {
        background: #18b283;
        padding: 2px 4px;
    }
    /* 2-ARInvoice */
    .color-2 {
        background: #ffac00;
        padding: 2px 3px;
    }
    /* 3-ARPayment */
    .color-3 {
        background: #c65571;
    }
    /* 4-APInvoice */
    .color-4 {
        background: #ff6e0e;
        padding: 2px 3px;
    }

    /* 5-APPayment */
    .color-5 {
        background: #be69db;
    }

    /* 6-Cheque Deposit */
    .color-6 {
        background: #1082b2;
    }

    /* 7-Cash Deposit */
    .color-7 {
        background: #0fb2c7;
    }

    /* 8-Revaluation */
    .color-8 {
        background: #7941a0;
    }

    /* 9-Payment Cheque */
    .color-9{
        background:  #e45cea;
    }

    /* 10-Adjustment */
    .color-10{
        background:  #1dd8b0;
    }

    /* 10-InterestReport */
    .color-11{
        background:  #D79856;
    }

/* eof styles: ledger transaction icons */
