.ant-tree-treenode-disabled .ant-tree-switcher {
    display: none !important;
}

.ant-tree .ant-tree-treenode-disabled .ant-tree-node-content-wrapper {
    cursor: default !important;
    color: inherit !important;
    padding-left: 12px !important;
}

