.workflow-builder-component-container * {
    line-height: 1.2 !important;
}
/*ant tree select*/
.ant-motion-collapse-legacy {
    overflow: hidden;
  }
  .ant-motion-collapse-legacy-active {
    transition: height 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.15s cubic-bezier(0.645, 0.045, 0.355, 1) !important;
  }
  .ant-motion-collapse {
    overflow: hidden;
    transition: height 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.15s cubic-bezier(0.645, 0.045, 0.355, 1) !important;
  }
  /* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
  /* stylelint-disable no-duplicate-selectors */
  /* stylelint-disable */
  /* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
  .cdk-overlay-container {
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1000;
  }
  .cdk-overlay-backdrop {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-tap-highlight-color: transparent;
    transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    opacity: 0;
    position: absolute;
    pointer-events: auto;
    z-index: 1000;
  }
  .cdk-overlay-backdrop.ant-modal-mask {
    opacity: 1;
  }
  .cdk-overlay-pane {
    position: absolute;
    pointer-events: auto;
    z-index: 1000;
  }
  .cdk-overlay-connected-position-bounding-box {
    position: absolute;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    min-width: 1px;
    min-height: 1px;
  }
  .cdk-global-scrollblock {
    position: fixed;
    width: 100%;
    overflow-y: scroll;
  }
  .cdk-global-scrollblock body {
    overflow-x: visible;
  }
  .nz-overlay-transparent-backdrop,
  .nz-overlay-transparent-backdrop.cdk-overlay-backdrop-showing {
    opacity: 0;
  }
  .nz-animate-disabled.ant-drawer.ant-drawer-open .ant-drawer-mask {
    animation: none;
    transition: none;
  }
  .nz-animate-disabled.ant-drawer > * {
    transition: none;
  }
  .nz-animate-disabled .ant-modal-mask,
  .nz-animate-disabled .ant-modal {
    animation: none;
    transition: none;
  }
  .nz-animate-disabled .ant-modal-mask.zoom-enter,
  .nz-animate-disabled .ant-modal.zoom-enter,
  .nz-animate-disabled .ant-modal-mask.zoom-leave,
  .nz-animate-disabled .ant-modal.zoom-leave,
  .nz-animate-disabled .ant-modal-mask.zoom-enter-active,
  .nz-animate-disabled .ant-modal.zoom-enter-active,
  .nz-animate-disabled .ant-modal-mask.zoom-leave-active,
  .nz-animate-disabled .ant-modal.zoom-leave-active {
    animation: none;
    transition: none;
  }
  .nz-animate-disabled.ant-menu {
    transition: none;
  }
  .nz-animate-disabled.ant-menu .ant-menu-item,
  .nz-animate-disabled.ant-menu .ant-menu-submenu-title {
    transition: none;
  }
  .nz-animate-disabled.ant-menu .ant-menu-item .anticon,
  .nz-animate-disabled.ant-menu .ant-menu-submenu-title .anticon {
    transition: none;
  }
  .nz-animate-disabled.ant-menu .ant-menu-item .anticon + span,
  .nz-animate-disabled.ant-menu .ant-menu-submenu-title .anticon + span {
    transition: none;
  }
  .nz-animate-disabled.ant-tabs .ant-tabs-top-content.ant-tabs-content-animated,
  .nz-animate-disabled.ant-tabs .ant-tabs-bottom-content.ant-tabs-content-animated,
  .nz-animate-disabled.ant-tabs .ant-tabs-top-content > .ant-tabs-tabpane,
  .nz-animate-disabled.ant-tabs .ant-tabs-bottom-content > .ant-tabs-tabpane,
  .nz-animate-disabled.ant-tabs.ant-tabs-left .ant-tabs-ink-bar-animated,
  .nz-animate-disabled.ant-tabs.ant-tabs-right .ant-tabs-ink-bar-animated,
  .nz-animate-disabled.ant-tabs.ant-tabs-top .ant-tabs-ink-bar-animated,
  .nz-animate-disabled.ant-tabs.ant-tabs-bottom .ant-tabs-ink-bar-animated {
    transition: none;
  }
  .ant-affix {
    position: fixed;
    z-index: 10;
  }
  nz-affix {
    display: block;
  }