.prime-web-component .cdk-virtual-scroll-content-wrapper, .p-dialog .cdk-virtual-scroll-content-wrapper {
    contain: unset !important;
}

.p-dropdown.p-component {
    width: 100% !important;
}

p-autocomplete {
    width: 100% !important;
}

p-dropdown {
    width: 100% !important;
}

.p-field-checkbox label {
    margin-bottom: 0 !important;
}

.prime-web-component .PrimaryButton, .p-dialog .PrimaryButton {
    max-width: 100px !important;
}

.prime-web-component .mb-0, .p-dialog .mb-0 {
    margin-bottom: 0 !important;
}

.p-datepicker-touch-ui {
    min-width: 20vw !important;
}

.p-calendar .p-datepicker {
    width: 400px !important;
}

.p-inputtext {
    height: unset !important;
    min-height: unset !important;
    max-height: unset !important;
    line-height: unset !important;
    outline: unset !important;
    text-indent: unset !important;
    box-shadow: unset !important;
    -webkit-box-shadow: unset !important;
    -moz-box-shadow: unset !important;
}

.p-button {
    display: inline-flex !important;
    height: auto !important;
}

.p-button:not(.p-button-icon-only) {
    width: auto;
    height: auto !important;
}

.p-button.p-button-icon-only.p-button-rounded {
    height: 2.357rem !important;
}

.prime-web-component *, .p-dialog * {
    white-space: initial !important;
    font-size: 12px !important;
}

.p-button:not(.p-button-sm) {
    padding: 0.5rem 1rem !important;
}

.p-button.p-button-icon-only {
    padding: 0.5rem 0 !important;
}

.AddLabel {
    padding-bottom: 0.54rem !important;
}

.QueryColumnOrFiltersContainer br {
    display: none !important;
}

.p-checkbox {
    margin-bottom: 3px !important;
}

.p-datatable-emptymessage td{
    position: absolute !important;
    width: 100% !important;
}