::ng-deep {
    p-dynamicdialog .generic-table {
        .p-dialog-content {
            padding-bottom: 21px;
        }
    }
}

:host ::ng-deep {
    p-sorticon {
        display: none !important;
    }
    
    .p-paginator-bottom {
        display: none;
    }

    .p-datatable .p-datatable-scrollable-header {
        background: #e2f0fb !important;
        margin-bottom: 3px;
    }

    .p-datatable-scrollable-view {
        border: 1px solid lightgray;
        padding: 3px;
    }

    .p-datatable-scrollable-body {
        height: 400px;
    }

    tbody tr.ng-star-inserted:hover {
        background: #c9c9c9 !important;
    }

    // .highlight-row {
    //     background: #efefef !important;
    // }

    .p-datatable-resizable .p-datatable-tbody > tr > td {
        white-space: nowrap !important;
        text-overflow: ellipsis;

        .highlight {
            background: yellow;
        }
    }

    .p-datatable .p-datatable-thead > tr > th {
        border-right: 1px solid #1084dc47;
        border-left: 1px solid hsl(227deg 100% 74% / 53%);
        color: #1084dc !important;
        background: #e2f0fb !important;

        i {
            color: #1084dc !important;
        }
    }
}

:host {
    display: block;
    height: 300px;
}
