<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="MetaDataGenerator.Properties.Settings.Logitude2_5_MainConnectionString" connectionString="Data Source=.;Initial Catalog=Logitude2-5_Main;Persist Security Info=True;User ID=sa;Password=Saas256" providerName="System.Data.SqlClient"/>
    <add name="Globalstr" connectionString="Logitude2-5_Global,sa,Saas256,."/>
    <add name="SystemLogsStr" connectionString="Logitude2-5_SystemLogs,sa,Saas256,."/>

  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Microsoft.ServiceBus" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
  
                 <bindingRedirect oldVersion="0.0.0.0-1.8.0.0" newVersion="1.8.0.0"/>
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
  
                 <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
  
                 <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
  <appSettings>
    <!-- Service Bus specific app setings for messaging connections -->
    <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://[your namespace].servicebus.windows.net;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=[your secret]"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ILoginWcfService" />
        <binding name="BasicHttpBinding_IAgentWcfService" />
        <binding name="BasicHttpBinding_IBranchWcfService" />
        <binding name="BasicHttpBinding_ICustomerWcfService" />
        <binding name="BasicHttpBinding_IDepartmentWcfService" />
        <binding name="BasicHttpBinding_IPortWcfService" />
        <binding name="BasicHttpBinding_IUserWcfService" />
        <binding name="BasicHttpBinding_IQuoteWcfService" />
        <binding name="BasicHttpBinding_IDocumentInWcfService" />
        <binding name="BasicHttpBinding_ICountryWcfService" />
        <binding name="BasicHttpBinding_ICurrencyWcfService" />
        <binding name="BasicHttpBinding_IShipmentWcfService" />
        <binding name="BasicHttpBinding_IInsertCommTaskWcfService" />
        <binding name="BasicHttpBinding_IActivityWcfService" />
        <binding name="BasicHttpBinding_IExternalTasksQueueWcfService" />
        <binding name="BasicHttpBinding_IPaymentTermWcfService" />
        <binding name="BasicHttpBinding_IVendorWcfService" />
        <binding name="BasicHttpBinding_IShippingAgentWcfService" />
        <binding name="BasicHttpBinding_IAirlineWcfService" />
        <binding name="BasicHttpBinding_IShippingLineWcfService" />
        <binding name="BasicHttpBinding_ITruckerWcfService" />
        <binding name="BasicHttpBinding_IVesselWcfServcie" />
        <binding name="BasicHttpBinding_IWarehouseWcfService" />
        <binding name="BasicHttpBinding_IAccountingPartnerWcfService" />
        <binding name="BasicHttpBinding_IHybridTenantStateWcfService" />
        <binding name="BasicHttpBinding_IAddressWcfService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:9996/WcfApi/LoginWcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILoginWcfService"
        contract="LoginProxy.ILoginWcfService" name="BasicHttpBinding_ILoginWcfService" />
      <endpoint address="http://localhost:9996/WcfApi/AgentWcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAgentWcfService"
        contract="AgentProxy.IAgentWcfService" name="BasicHttpBinding_IAgentWcfService" />
      <endpoint address="http://localhost:9996/WcfApi/BranchWcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBranchWcfService"
        contract="BranchProxy.IBranchWcfService" name="BasicHttpBinding_IBranchWcfService" />
      <endpoint address="http://localhost:9996/WcfApi/CustomerWcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomerWcfService"
        contract="CustomerProxy.ICustomerWcfService" name="BasicHttpBinding_ICustomerWcfService" />
      <endpoint address="http://localhost:9996/WcfApi/DepartmentWcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDepartmentWcfService"
        contract="DepartmentProxy.IDepartmentWcfService" name="BasicHttpBinding_IDepartmentWcfService" />
      <endpoint address="http://localhost:9996/WcfApi/PortWcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPortWcfService"
        contract="PortProxy.IPortWcfService" name="BasicHttpBinding_IPortWcfService" />
      <endpoint address="http://localhost:9996/WcfApi/UserWcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserWcfService"
        contract="UserProxy.IUserWcfService" name="BasicHttpBinding_IUserWcfService" />
      <endpoint address="http://localhost:9996/WcfApi/QuoteWcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQuoteWcfService"
        contract="QuoteProxy.IQuoteWcfService" name="BasicHttpBinding_IQuoteWcfService" />
      <endpoint address="http://localhost:9996/WcfApi/DocumentInWcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDocumentInWcfService"
        contract="DocumentInProxy.IDocumentInWcfService" name="BasicHttpBinding_IDocumentInWcfService" />
      <endpoint address="http://localhost:9996/WcfApi/CountryWcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICountryWcfService"
        contract="CountryProxy.ICountryWcfService" name="BasicHttpBinding_ICountryWcfService" />
      <endpoint address="http://localhost:9996/WcfApi/CurrencyWcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICurrencyWcfService"
        contract="CurrencyProxy.ICurrencyWcfService" name="BasicHttpBinding_ICurrencyWcfService" />
      <endpoint address="http://localhost:9996/WcfApi/ShipmentWcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IShipmentWcfService"
        contract="ShipmentProxy.IShipmentWcfService" name="BasicHttpBinding_IShipmentWcfService" />
      <endpoint address="http://localhost:9996/WcfApi/InsertCommTaskWcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInsertCommTaskWcfService"
        contract="InsertCommTaskProxy.IInsertCommTaskWcfService" name="BasicHttpBinding_IInsertCommTaskWcfService" />
      <endpoint address="http://localhost:9996/WcfApi/ActivityWcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IActivityWcfService"
        contract="ActivityProxy.IActivityWcfService" name="BasicHttpBinding_IActivityWcfService" />
      <endpoint address="http://localhost:9996/WcfApi/ExternalTasksQueueWcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IExternalTasksQueueWcfService"
        contract="ExternalTasksQueueProxy.IExternalTasksQueueWcfService"
        name="BasicHttpBinding_IExternalTasksQueueWcfService" />
      <endpoint address="http://localhost:9996/WcfApi/PaymentTermWcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPaymentTermWcfService"
        contract="PaymentTermProxy.IPaymentTermWcfService" name="BasicHttpBinding_IPaymentTermWcfService" />
      <endpoint address="http://localhost:9996/WcfApi/VendorWcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVendorWcfService"
        contract="VendorProxy.IVendorWcfService" name="BasicHttpBinding_IVendorWcfService" />
      <endpoint address="http://localhost:9996/WcfApi/ShippingAgentWcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IShippingAgentWcfService"
        contract="ShippingAgentProxy.IShippingAgentWcfService" name="BasicHttpBinding_IShippingAgentWcfService" />
      <endpoint address="http://localhost:9996/WcfApi/AirlineWcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAirlineWcfService"
        contract="AirlineProxy.IAirlineWcfService" name="BasicHttpBinding_IAirlineWcfService" />
      <endpoint address="http://localhost:9996/WcfApi/ShippingLineWcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IShippingLineWcfService"
        contract="ShippingLineProxy.IShippingLineWcfService" name="BasicHttpBinding_IShippingLineWcfService" />
      <endpoint address="http://localhost:9996/WcfApi/TruckerWcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITruckerWcfService"
        contract="TruckerProxy.ITruckerWcfService" name="BasicHttpBinding_ITruckerWcfService" />
      <endpoint address="http://localhost:9996/WcfApi/VesselWcfServcie.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVesselWcfServcie"
        contract="VesselProxy.IVesselWcfServcie" name="BasicHttpBinding_IVesselWcfServcie" />
      <endpoint address="http://localhost:9996/WcfApi/WarehouseWcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWarehouseWcfService"
        contract="WarehouseProxy.IWarehouseWcfService" name="BasicHttpBinding_IWarehouseWcfService" />
      <endpoint address="http://localhost:9996/WcfApi/AccountingPartnerWcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccountingPartnerWcfService"
        contract="AccountingPartnerProxy.IAccountingPartnerWcfService"
        name="BasicHttpBinding_IAccountingPartnerWcfService" />
      <endpoint address="http://localhost:9996/WcfApi/HybridTenantStateWcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHybridTenantStateWcfService"
        contract="HybridTenantStateProxy.IHybridTenantStateWcfService"
        name="BasicHttpBinding_IHybridTenantStateWcfService" />
      <endpoint address="http://localhost:9996/WcfApi/AddressWcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAddressWcfService"
        contract="AddressProxy.IAddressWcfService" name="BasicHttpBinding_IAddressWcfService" />
    </client>
  </system.serviceModel>
</configuration>
