<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="MetaDataGenerator.Properties.Settings.Logitude2_5_MainConnectionString" connectionString="Data Source=.;Initial Catalog=Logitude2-5_Main;Persist Security Info=True;User ID=sa;Password=Saas256" providerName="System.Data.SqlClient" />
    <add name="Globalstr" connectionString="Logitude2-5_Global,sa,Saas256,." />
    <add name="SystemLogsStr" connectionString="Logitude2-5_SystemLogs,sa,Saas256,." />

  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
      
    <behaviors>
        <serviceBehaviors>
          <behavior name="debug">
            <serviceDebug includeExceptionDetailInFaults="true" />
          </behavior>
        </serviceBehaviors>
      </behaviors>
  <!--
      <services>
        <service name="CustomerProxy" behaviorConfiguration="debug"/>
      </services>-->
      
        <bindings>
            <basicHttpBinding>
                <binding maxBufferPoolSize="2147483647" maxBufferSize="2147483647"
                    maxReceivedMessageSize="2147483647" messageEncoding="Text">
                    <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647"
                        maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
                    <security mode="Transport">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IBranchWcfService" />
                <binding name="BasicHttpBinding_IAgentWcfService" />
                <binding name="BasicHttpBinding_ICustomerWcfService" />
                <binding name="BasicHttpBinding_IDepartmentWcfService" />
                <binding name="BasicHttpBinding_ICustomAgentWcfService" />
                <binding name="BasicHttpBinding_IPortWcfService" />
                <binding name="BasicHttpBinding_IUserWcfService" />
                <binding name="BasicHttpBinding_IAddressWcfService" />
                <binding name="BasicHttpBinding_IAirlineWcfService" />
                <binding name="BasicHttpBinding_ICountryWcfService" />
                <binding name="BasicHttpBinding_ICurrencyWcfService" />
                <binding name="BasicHttpBinding_IVendorWcfService" />
                <binding name="BasicHttpBinding_IShippingLineWcfService" />
                <binding name="BasicHttpBinding_IContactWcfService" />
                <binding name="BasicHttpBinding_ICardContactWcfService" />
                <binding name="BasicHttpBinding_IVesselWcfServcie" />
                <binding name="BasicHttpBinding_IActivityWcfService" />
                <binding name="BasicHttpBinding_IShippingAgentWcfService" />
                <binding name="BasicHttpBinding_ITruckerWcfService" />
                <binding name="BasicHttpBinding_IEntityStatusWcfService" />
                <binding name="BasicHttpBinding_IEventTypeWcfService" />
                <binding name="BasicHttpBinding_IOpportunityWcfService" />
                <binding name="BasicHttpBinding_IQuoteWcfService" />
                <binding name="BasicHttpBinding_IDocumentInWcfService" />
                <binding name="BasicHttpBinding_IDocumentTypeWcfService" />
                <binding name="BasicHttpBinding_ICityWcfService" />
                <binding name="BasicHttpBinding_IAutoSignUpWcfService" />
                <binding name="BasicHttpBinding_IPackageTypeWcfService" />
                <binding name="BasicHttpBinding_ILoginWcfService1">
                    <security mode="Transport">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_ICustomerWcfService1" />
                <binding name="BasicHttpBinding_IContactPasswordService" />
                <binding name="BasicHttpBinding_IDocumentsMetaDataTypeWcfService" />
                <binding name="BasicHttpBinding_IExternalTasksQueueWcfService1" />
                <binding name="BasicHttpBinding_IActivityWcfService1" />
                <binding name="BasicHttpBinding_ILoginWcfService2" />
                <binding name="BasicHttpBinding_IExternalTasksQueueWcfService" />
                <binding name="BasicHttpBinding_IShipmentWcfService1" />
                <binding name="BasicHttpBinding_IHybridTenantStateWcfService" />
                <binding name="BasicHttpBinding_ITestService" />
                <binding name="BasicHttpBinding_IFeatureWcfService" />
                <binding name="BasicHttpBinding_IHybridPartnerWcfService" />
                <binding name="BasicHttpBinding_IInsertCommTaskWcfService" />
                <binding name="BasicHttpBinding_IShipmentWcfService" />
                <binding name="BasicHttpBinding_ILoginWcfService" />
                <binding name="BasicHttpBinding_ICustomerDWWcfService" />
                <binding name="BasicHttpBinding_IHybridPartnersPermissionsWcfService" />
                <binding name="BasicHttpBinding_IIncotermWcfService" />
                <binding name="BasicHttpBinding_ITenantManagementDWWcfService"
                    maxReceivedMessageSize="1000000" />
                <binding name="BasicHttpBinding_IWarehouseWcfService" />
                <binding name="BasicHttpBinding_IPaymentTermWcfService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://127.0.0.1:81/WcfApi/AgentWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAgentWcfService"
                contract="AgentProxy.IAgentWcfService" name="BasicHttpBinding_IAgentWcfService" />
            <endpoint address="http://127.0.0.1:81/WcfApi/DepartmentWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDepartmentWcfService"
                contract="DepartmentProxy.IDepartmentWcfService" name="BasicHttpBinding_IDepartmentWcfService" />
            <endpoint address="http://127.0.0.1:81/WcfApi/CustomAgentWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomAgentWcfService"
                contract="CustomAgentProxy.ICustomAgentWcfService" name="BasicHttpBinding_ICustomAgentWcfService" />
            <endpoint address="http://localhost:62619/WcfApi/AirlineWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAirlineWcfService"
                contract="AirlineProxy.IAirlineWcfService" name="BasicHttpBinding_IAirlineWcfService" />
            <endpoint address="http://localhost:62619/WcfApi/VendorWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVendorWcfService"
                contract="VendorProxy.IVendorWcfService" name="BasicHttpBinding_IVendorWcfService" />
            <endpoint address="http://127.0.0.1:81/WcfApi/ShippingLineWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IShippingLineWcfService"
                contract="ShippingLineProxy.IShippingLineWcfService" name="BasicHttpBinding_IShippingLineWcfService" />
            <endpoint address="http://localhost:62619/WcfApi/VesselWcfServcie.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVesselWcfServcie"
                contract="VesselProxy.IVesselWcfServcie" name="BasicHttpBinding_IVesselWcfServcie" />
            <endpoint address="http://localhost:62619/WcfApi/BranchWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBranchWcfService"
                contract="BranchProxy.IBranchWcfService" name="BasicHttpBinding_IBranchWcfService" />
            <endpoint address="http://localhost:62619/WcfApi/ShippingAgentWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IShippingAgentWcfService"
                contract="ShippingAgentProxy.IShippingAgentWcfService" name="BasicHttpBinding_IShippingAgentWcfService" />
            <endpoint address="http://localhost:62619/WcfApi/TruckerWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITruckerWcfService"
                contract="TruckerProxy.ITruckerWcfService" name="BasicHttpBinding_ITruckerWcfService" />
            <endpoint address="http://localhost:62619/WcfApi/EventTypeWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEventTypeWcfService"
                contract="EventTypeProxy.IEventTypeWcfService" name="BasicHttpBinding_IEventTypeWcfService" />
            <endpoint address="http://localhost:62619/WcfApi/OpportunityWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOpportunityWcfService"
                contract="OpportunityProxy.IOpportunityWcfService" name="BasicHttpBinding_IOpportunityWcfService" />
            <endpoint address="http://localhost:62619/WcfApi/CityWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICityWcfService"
                contract="CityProxy.ICityWcfService" name="BasicHttpBinding_ICityWcfService" />
            <endpoint address="http://localhost:62619/WcfApi/AutoSignUpWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAutoSignUpWcfService"
                contract="AutoSignUpProxy.IAutoSignUpWcfService" name="BasicHttpBinding_IAutoSignUpWcfService" />
            <endpoint address="http://localhost:62619/WcfApi/PackageTypeWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPackageTypeWcfService"
                contract="PackageTypeProxy.IPackageTypeWcfService" name="BasicHttpBinding_IPackageTypeWcfService" />
            <endpoint address="http://localhost:62619/WcfApi/ContactPasswordService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IContactPasswordService"
                contract="ContactPasswordProxy.IContactPasswordService" name="BasicHttpBinding_IContactPasswordService" />
            <endpoint address="http://192.116.221.103/main/WcfApi/CustomerWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomerWcfService1"
                contract="AmitalIIGTestCustomerProxy.ICustomerWcfService"
                name="BasicHttpBinding_ICustomerWcfService1" />
            <endpoint address="http://192.116.221.103/main/WcfApi/LoginWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILoginWcfService1"
                contract="AmitalIIGTestLoginProxy.ILoginWcfService" name="BasicHttpBinding_ILoginWcfService1" />
            <endpoint address="http://localhost:62619/WcfApi/DocumentsMetadataTypeWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDocumentsMetaDataTypeWcfService"
                contract="DocumentsMetaDataTypeProxy.IDocumentsMetaDataTypeWcfService"
                name="BasicHttpBinding_IDocumentsMetaDataTypeWcfService" />
            <endpoint address="http://192.116.221.103/main/WcfApi/ExternalTasksQueueWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IExternalTasksQueueWcfService1"
                contract="ExternalTasksQueueIIGTestProxy.IExternalTasksQueueWcfService"
                name="BasicHttpBinding_IExternalTasksQueueWcfService1" />
            <endpoint address="http://cloud.amital.co.il/WcfApi/ActivityWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IActivityWcfService1"
                contract="ActivityProxyCloud.IActivityWcfService" name="BasicHttpBinding_IActivityWcfService1" />
            <endpoint address="http://localhost:9999/WcfApi/CountryWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICountryWcfService"
                contract="CountryProxy.ICountryWcfService" name="BasicHttpBinding_ICountryWcfService" />
            <endpoint address="http://192.116.221.103/main/WcfApi/DocumentTypeWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDocumentTypeWcfService"
                contract="DocumentTypeProxy.IDocumentTypeWcfService" name="BasicHttpBinding_IDocumentTypeWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/AddressWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAddressWcfService"
                contract="AddressProxy.IAddressWcfService" name="BasicHttpBinding_IAddressWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/ActivityWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IActivityWcfService"
                contract="ActivityProxy.IActivityWcfService" name="BasicHttpBinding_IActivityWcfService" />
            <endpoint address="http://cloud.amital.co.il/WcfApi/ShipmentWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IShipmentWcfService1"
                contract="ShipmentCloudProxy.IShipmentWcfService" name="BasicHttpBinding_IShipmentWcfService1" />
            <endpoint address="http://localhost:9996/WcfApi/ContactWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IContactWcfService"
                contract="ContactProxy.IContactWcfService" name="BasicHttpBinding_IContactWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/UserWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserWcfService"
                contract="UserProxy.IUserWcfService" name="BasicHttpBinding_IUserWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/PortWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPortWcfService"
                contract="PortProxy.IPortWcfService" name="BasicHttpBinding_IPortWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/HybridTenantStateWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHybridTenantStateWcfService"
                contract="HybridTenantStateProxy.IHybridTenantStateWcfService"
                name="BasicHttpBinding_IHybridTenantStateWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/QuoteWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQuoteWcfService"
                contract="QuoteProxy.IQuoteWcfService" name="BasicHttpBinding_IQuoteWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/EntityStatusWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEntityStatusWcfService"
                contract="EntityStatusProxy.IEntityStatusWcfService" name="BasicHttpBinding_IEntityStatusWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/TestService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITestService"
                contract="ServiceReference12222.ITestService" name="BasicHttpBinding_ITestService" />
            <endpoint address="http://localhost:9996/WcfApi/FeatureWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFeatureWcfService"
                contract="FeatureProxy.IFeatureWcfService" name="BasicHttpBinding_IFeatureWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/HybridPartnerWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHybridPartnerWcfService"
                contract="HybridPartnerProxy.IHybridPartnerWcfService" name="BasicHttpBinding_IHybridPartnerWcfService" />
            <endpoint address="http://system.logitudeworld.com/WcfApi/CustomerDWWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomerDWWcfService"
                contract="CustomerWDProxy.ICustomerDWWcfService" name="BasicHttpBinding_ICustomerDWWcfService" />
            <endpoint address="http://cloud2.amital.co.il/WcfApi/LoginWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILoginWcfService2"
                contract="LogingProxyCloud.ILoginWcfService" name="BasicHttpBinding_ILoginWcfService2" />
            <endpoint address="http://localhost:9996/WcfApi/DocumentInWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDocumentInWcfService"
                contract="DocumentInProxy.IDocumentInWcfService" name="BasicHttpBinding_IDocumentInWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/HybridPartnersPermissionsWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHybridPartnersPermissionsWcfService"
                contract="HybridPartnersPermissionsProxy.IHybridPartnersPermissionsWcfService"
                name="BasicHttpBinding_IHybridPartnersPermissionsWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/LoginWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILoginWcfService"
                contract="LoginProxy.ILoginWcfService" name="BasicHttpBinding_ILoginWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/ShipmentWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IShipmentWcfService"
                contract="ShipmentProxy.IShipmentWcfService" name="BasicHttpBinding_IShipmentWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/IncotermWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIncotermWcfService"
                contract="IncotermProxy.IIncotermWcfService" name="BasicHttpBinding_IIncotermWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/CurrencyWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICurrencyWcfService"
                contract="CurrencyProxy.ICurrencyWcfService" name="BasicHttpBinding_ICurrencyWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/CardContactWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICardContactWcfService"
                contract="CardContactProxy.ICardContactWcfService" name="BasicHttpBinding_ICardContactWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/TenantManagementDWWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITenantManagementDWWcfService"
                contract="TenantManagementDWProxy.ITenantManagementDWWcfService"
                name="BasicHttpBinding_ITenantManagementDWWcfService" />
            <endpoint address="http://localhost:9996/wcfapi/ExternalTasksQueueWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IExternalTasksQueueWcfService"
                contract="ExternalTasksQueueProxy.IExternalTasksQueueWcfService"
                name="BasicHttpBinding_IExternalTasksQueueWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/InsertCommTaskWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInsertCommTaskWcfService"
                contract="InsertCommTaskProxy.IInsertCommTaskWcfService" name="BasicHttpBinding_IInsertCommTaskWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/CustomerWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomerWcfService"
                contract="CustomerProxy.ICustomerWcfService" name="BasicHttpBinding_ICustomerWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/WarehouseWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWarehouseWcfService"
                contract="WarehouseProxy.IWarehouseWcfService" name="BasicHttpBinding_IWarehouseWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/PaymentTermWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPaymentTermWcfService"
                contract="PaymentTermProxy.IPaymentTermWcfService" name="BasicHttpBinding_IPaymentTermWcfService" />
        </client>

   
    </system.serviceModel>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Microsoft.ServiceBus" publicKeyToken="31bf3856ad364e35" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-1.8.0.0" newVersion="1.8.0.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
</configuration>