<connectionStrings  >
	<add name="DevartAmitalDirect" connectionString="Univ56,1521,amital,amitestm2,amitestm2" />
	<add name="Globalstr" connectionString="Amital1_Global,sa,Saas256,." />
	<add name="SystemLogsStr" connectionString="Amital1_SystemLogs,sa,Saas256,." />
	<add name="LogitudeStr" connectionString="Data Source=.;Initial Catalog=Amital1_Main;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
	<add name="LogitudeGlobalStr" connectionString="Data Source=.;Initial Catalog=Amital1_Global;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
	<add name="TotangoServiceId" connectionString="SP-11460-01" />
	<add name="DevartAmitalConnectionString" connectionString="metadata=res://Unifreight.Data/AmitalDataModel.csdl|res://Unifreight.Data/AmitalDataModel.ssdl|res://Unifreight.Data/AmitalDataModel.msl;provider=Devart.Data.Oracle;provider connection string=&quot;User Id=amitestm;Password=amitestm;Server=Univ56;Direct=True;Sid=amital;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" />

	<add name="Oracle_Globalstr"  connectionString="User Id=logitude_GLOBAL;  Password=oracle;Direct=True;Data Source=Univ56;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr"  connectionString="User Id=logitude_logs;  Password=oracle;Direct=True;Data Source=Univ56;port=1521;sid=amital"/>


	<clear/>


	<!--courier 58 -->
	<add name="Oracle_Globalstr"  connectionString="User Id=couriernet_global;  Password=couriernet_global;Direct=True;Data Source=Univ58;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr"  connectionString="User Id=couriernet_logs;  Password=couriernet_logs;Direct=True;Data Source=Univ58;port=1521;sid=amital"/>



	<clear/>
	<add name="Oracle_Globalstr"  connectionString="User Id=AMINET_GLOBAL;  Password=AMINET_GLOBAL;Direct=True;Data Source=Univ58;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr"  connectionString="User Id=AMINET_logs;  Password=AMINET_logs;Direct=True;Data Source=Univ58;port=1521;sid=amital"/>
	<add name="LogitudeSystemLogsStr" connectionString="Data Source=.;Initial Catalog=Amital1_SystemLogs;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />

	<clear/>
	<add name="Oracle_Globalstr"  connectionString="User Id=AMINETcst_GLOBAL;  Password=AMINETcst_GLOBAL;Direct=True;Data Source=10.10.10.96;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr"  connectionString="User Id=AMINETcst_LOGS;  Password=AMINETcst_LOGS;Direct=True;Data Source=10.10.10.96;port=1521;sid=amital"/>
	<add name="LogitudeSystemLogsStr" connectionString="Data Source=.;Initial Catalog=Amital1_SystemLogs;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
	<!--<clear/>
	<add name="Oracle_Globalstr"  connectionString="User Id=AMINET_GLOBAL;  Password=AMINET_GLOBAL;Direct=True;Data Source=Univ58;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr"  connectionString="User Id=AMINET_logs;  Password=AMINET_logs;Direct=True;Data Source=Univ58;port=1521;sid=amital"/>
	<add name="LogitudeSystemLogsStr" connectionString="Data Source=.;Initial Catalog=Amital1_SystemLogs;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->




	<clear/>
	<add name="LogitudeSystemLogsStr" connectionString="Data Source=.;Initial Catalog=Amital1_SystemLogs;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />


	<add name="LogitudeSystemLogsStr" connectionString="Data Source=.;Initial Catalog=Amital1_SystemLogs;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />












	<clear/>
	<add name="Oracle_Globalstr"  connectionString="User Id=AMINETpre_GLOBAL;  Password=AMINETpre_GLOBAL;Direct=True;Data Source=Univ58;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr"  connectionString="User Id=AMINETpre_logs;  Password=AMINETpre_logs;Direct=True;Data Source=Univ58;port=1521;sid=amital"/>




	<clear/>


	<add name="Oracle_Globalstr"  connectionString="User Id=aminetNXT_global;  Password=aminetNXT_global;Direct=True;Data Source=unidb2016;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr"  connectionString="User Id=aminetNXT_logs;  Password=aminetNXT_logs;Direct=True;Data Source=unidb2016;port=1521;sid=amital"/>





	<!--592-->
	<clear/>
	<add name="Oracle_Globalstr"  connectionString="User Id=aminetNXT_global     ;  Password=aminetNXT_global      ;Direct=True;Data Source=unidb2016;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr"  connectionString="User Id=aminetNXT_log;  Password=aminetNXT_log;Direct=True;Data Source=unidb2016;port=1521;sid=amital"/>
	<add name="LogitudeSystemLogsStr" connectionString="Data Source=.;Initial Catalog=Amital1_SystemLogs;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />



	<!--592-->




	<clear/>
	<!--courier 58 -->
	<add name="Oracle_Globalstr"  connectionString="User Id=couriernet_global;  Password=couriernet_global;Direct=True;Data Source=Univ58;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr"  connectionString="User Id=couriernet_logs;  Password=couriernet_logs;Direct=True;Data Source=Univ58;port=1521;sid=amital"/>
	<clear/>
	<add name="Oracle_Globalstr"  connectionString="User Id=aminetNXT_global     ;  Password=aminetNXT_global      ;Direct=True;Data Source=unidb2016;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr"  connectionString="User Id=aminetNXT_log;  Password=aminetNXT_log;Direct=True;Data Source=unidb2016;port=1521;sid=amital"/>
	<add name="LogitudeSystemLogsStr" connectionString="Data Source=.;Initial Catalog=Amital1_SystemLogs;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />







	<clear/>
	<!--courier 58 -->
	<add name="Oracle_Globalstr"  connectionString="User Id=couriernet_global;  Password=couriernet_global;Direct=True;Data Source=Univ58;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr"  connectionString="User Id=couriernet_logs;  Password=couriernet_logs;Direct=True;Data Source=Univ58;port=1521;sid=amital"/>



	<clear/>
	<add name="Oracle_Globalstr"  connectionString="User Id=aminetNXT_global     ;  Password=aminetNXT_global      ;Direct=True;Data Source=unidb2016;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr"  connectionString="User Id=aminetNXT_log;  Password=aminetNXT_log;Direct=True;Data Source=unidb2016;port=1521;sid=amital"/>
	<add name="LogitudeSystemLogsStr" connectionString="Data Source=.;Initial Catalog=Amital1_SystemLogs;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />



	<!-- next prod - 59.2 nextprod-->
	<clear/>
	<add name="Oracle_Globalstr"  connectionString="User Id=aminetnxt_global;  Password=aminetnxt_global;Direct=True;Data Source=unidb2016;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr"  connectionString="User Id=aminetnxt_logs;  Password=aminetnxt_logs;Direct=True;Data Source=unidb2016;port=1521;sid=amital"/>


	<!-- prod - 591 5.9BUILD cuorier-->
	<clear/>
	<add name="Oracle_Globalstr"  connectionString="User Id=aminetprd_global;  Password=aminetprd_global;Direct=True;Data Source=unidb2016;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr"  connectionString="User Id=aminetprd_logs;  Password=aminetprd_logs;Direct=True;Data Source=unidb2016;port=1521;sid=amital"/>


	<!-- unidb2016 583-593 customs-->
	<!--<clear/>
	<add name="Oracle_Globalstr"  connectionString="User Id=AMINETcst_GLOBAL;  Password=AMINETcst_GLOBAL;Direct=True;Data Source=10.10.10.96;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr"  connectionString="User Id=AMINETcst_LOGS;  Password=AMINETcst_LOGS;Direct=True;Data Source=10.10.10.96;port=1521;sid=amital"/>-->


	<!--Customs oracle19 511 customs19-->
	<!--<clear/>
	<add name="Oracle_Globalstr"  connectionString="User Id=AMINETcst_GLOBAL;  Password=AMINETcst_GLOBAL;Direct=True;Data Source=oracle19;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr"  connectionString="User Id=AMINETcst_LOGS;  Password=AMINETcst_LOGS;Direct=True;Data Source=oracle19;port=1521;sid=amital"/>-->


	<!-- export oracle19 ExportDist-->
	<!--<clear/>
	<add name="Oracle_Globalstr"  connectionString="User Id=AMINETexp_GLOBAL;  Password=AMINETexp_GLOBAL;Direct=True;Data Source=oracle19;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr"  connectionString="User Id=AMINETexp_LOGS;  Password=AMINETexp_LOGS;Direct=True;Data Source=oracle19;port=1521;sid=amital"/>-->

	
	<!-- export cloud -->
	<!--<clear/>
	<add name="LogitudeStr" connectionString="Data Source=amitaldb.database.windows.net;Initial Catalog=Main;Integrated Security=False;Persist Security Info=True;User ID=system;Password=Manager!#^;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
	<add name="LogitudeGlobalStr" connectionString="Data Source=amitaldb.database.windows.net;Initial Catalog=Global;Integrated Security=False;Persist Security Info=True;User ID=system;Password=Manager!#^;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
	<add name="LogitudeSystemLogsStr" connectionString="Data Source=amitaldb.database.windows.net;Initial Catalog=Logs;Integrated Security=False;Persist Security Info=True;User ID=system;Password=Manager!#^;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
	<add name="SystemLogsStr" connectionString="LOGS,system,Manager!#^,amitaldb.database.windows.net" />
	<add name="Globalstr" connectionString="Global,system,Manager!#^,amitaldb.database.windows.net" />-->
	


  


  <add name="OracleMainMigration"
         connectionString=
"User Id=logitude_main;  Password=oracle;Direct=True;Data Source=10.10.10.67;port=1521;sid=amital"
      providerName="Devart.Data.Oracle" />



     
<clear/>
	<add name="Oracle_Globalstr"  connectionString="User Id=AMINETcst_GLOBAL;  Password=AMINETcst_GLOBAL;Direct=True;Data Source=oracle19;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr"  connectionString="User Id=AMINETcst_LOGS;  Password=AMINETcst_LOGS;Direct=True;Data Source=oracle19;port=1521;sid=amital"/>



  <add name="SystemLogsStr" connectionString="LOGS_nextprod,sa,Saas256!,univ511" />
  <add name="Globalstr" connectionString="Global_nextprod,sa,Saas256!,univ511" />
  

  
  
<clear/>


	 <add name="Oracle_Globalstr"  connectionString="User Id=AMINETcst_GLOBAL;  Password=AMINETcst_GLOBAL;Direct=True;Data Source=ORACLE19;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr"  connectionString="User Id=AMINETcst_LOGS;  Password=AMINETcst_LOGS;Direct=True;Data Source=ORACLE19;port=1521;sid=amital"/>
	




	<clear/>

	<add name="Oracle_Globalstr"  connectionString="User Id=aminetnxt_GLOBAL;  Password=aminetnxt_GLOBAL;Direct=True;Data Source=oracle2022;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr"  connectionString="User Id=aminetnxt_LOGS;  Password=aminetnxt_LOGS;Direct=True;Data Source=oracle2022;port=1521;sid=amital"/>
 
  	
	<add name="LogitudeStr" connectionString="Data Source=univ511;Initial Catalog=Main;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256!;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
	<add name="LogitudeGlobalStr" connectionString="Data Source=univ511;Initial Catalog=Global;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256!;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />


	<add name="LogitudeSystemLogsStr" connectionString="Data Source=univ511;Initial Catalog=Logs;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256!;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />

	<add name="SystemLogsStr" connectionString="LOGS,sa,Saas256!,univ511" />
	<add name="Globalstr" connectionString="Global,sa,Saas256!,univ511" />

	   	<clear/>
    <add name="CargoTrackingStr" connectionString="CargoTracking,amitaladmin,ut6py6VH7QkEiwR,sql-customs-prod-il.database.windows.net" />
   <add name="Globalstr" connectionString="Global,amitaladmin,ut6py6VH7QkEiwR,sql-customs-prod-il.database.windows.net"/>
   <add name="SystemLogsStr" connectionString="SystemLogs,amitaladmin,ut6py6VH7QkEiwR,sql-customs-prod-il.database.windows.net"/>
  
  <add name="LogitudeStr" connectionString="Data Source=.;Initial Catalog=Logitude2-5_Main;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  <add name="LogitudeGlobalStr" connectionString="Data Source=.;Initial Catalog=Logitude2-5_Global;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  <add name="LogitudeSystemLogsStr" connectionString="Data Source=.;Initial Catalog=Logitude2-5_SystemLogs;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  
 
			 	<clear/>

	<add name="Oracle_Globalstr"  connectionString="User Id=AMINETCST_GLOBAL;  Password=AMINETCST_GLOBAL;Direct=True;Data Source=unidb2016;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr"  connectionString="User Id=AMINETCST_LOGS;  Password=AMINETCST_LOGS;Direct=True;Data Source=unidb2016;port=1521;sid=amital"/>

	<add name="LogitudeStr" connectionString="Data Source=sql-amital-dev-il.database.windows.net;Initial Catalog=Main-merge-test;Integrated Security=False;Persist Security Info=True;User ID=amitaladmin;Password=ut6py6VH7QkEiwR;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
	<add name="LogitudeGlobalStr" connectionString="Data Source=sql-amital-dev-il.database.windows.net;Initial Catalog=Global-merge-test;Integrated Security=False;Persist Security Info=True;User ID=amitaladmin;Password=ut6py6VH7QkEiwR;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
	
	
	<add name="LogitudeSystemLogsStr" connectionString="Data Source=sql-amital-dev-il.database.windows.net;Initial Catalog=Logs-merge-test;Integrated Security=False;Persist Security Info=True;User ID=amitaladmin;Password=ut6py6VH7QkEiwR;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />

	<add name="SystemLogsStr" connectionString="SystemLogs-MERGE-TEST,amitaladmin,ut6py6VH7QkEiwR,sql-amital-dev-il.database.windows.net" />
	<add name="Globalstr" connectionString="Global-merge-test,amitaladmin,ut6py6VH7QkEiwR,sql-amital-dev-il.database.windows.net" />
	<add name="CargoTrackingStr" connectionString="CargoTracking-merge-test,amitaladmin,ut6py6VH7QkEiwR,sql-amital-dev-il.database.windows.net" />
	
	   	<clear/>
	<add name="Oracle_Globalstr"  connectionString="User Id=AMINETcst_GLOBAL;  Password=AMINETcst_GLOBAL;Direct=True;Data Source=ORACLE2022;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr"  connectionString="User Id=AMINETcst_LOGS;  Password=AMINETcst_LOGS;Direct=True;Data Source=ORACLE2022;port=1521;sid=amital"/>

  	   	 <clear/>

  <add name="Oracle_Globalstr"  connectionString="User Id=AMINETcst_GLOBAL;  Password=AMINETcst_GLOBAL;Direct=True;Data Source=ORACLE19;port=1521;sid=amital"/>
  <add name="Oracle_SystemLogsStr"  connectionString="User Id=AMINETcst_LOGS;  Password=AMINETcst_LOGS;Direct=True;Data Source=ORACLE19;port=1521;sid=amital"/>


  <add name="LogitudeStr" connectionString="Data Source=univ511;Initial Catalog=Main_nextprod;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256!;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  <add name="LogitudeGlobalStr" connectionString="Data Source=univ511;Initial Catalog=Global_nextprod;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256!;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />


  <add name="LogitudeSystemLogsStr" connectionString="Data Source=univ511;Initial Catalog=Logs_nextprod;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256!;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />

  <add name="SystemLogsStr" connectionString="LOGS_nextprod,sa,Saas256!,univ511" />
  <add name="Globalstr" connectionString="Global_nextprod,sa,Saas256!,univ511" />
  	
  
  	<clear/>

	<add name="Oracle_Globalstr"  connectionString="User Id=aminetnxt_GLOBAL;  Password=aminetnxt_GLOBAL;Direct=True;Data Source=oracle19;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr"  connectionString="User Id=aminetnxt_LOGS;  Password=aminetnxt_LOGS;Direct=True;Data Source=oracle19;port=1521;sid=amital"/>
      <clear/>
  <!-- <add name="Oracle_Globalstr"  connectionString="User Id=Aminet5113_GLOBAL;  Password=Aminet5113_GLOBAL;Direct=True;Data Source=UNIDB2016;port=1521;sid=amital"/>
  <add name="Oracle_SystemLogsStr"  connectionString="User Id=Aminet5113_LOGS;  Password=Aminet5113_LOGS;Direct=True;Data Source=UNIDB2016;port=1521;sid=amital"/> -->
  <add name="Oracle_Globalstr"  connectionString="User Id=Aminet5113_GLOBAL;  Password=Aminet5113_GLOBAL;Direct=True;Data Source=oracle19;port=1521;sid=amital"/>
  <add name="Oracle_SystemLogsStr"  connectionString="User Id=Aminet5113_LOGS;  Password=Aminet5113_LOGS;Direct=True;Data Source=oracle19;port=1521;sid=amital"/>
  		   	<clear/>
    <add name="CargoTrackingStr" connectionString="CargoTracking,amitaladmin,ut6py6VH7QkEiwR,sql-amital-dev-il.database.windows.net" />
   <add name="Globalstr" connectionString="Global,amitaladmin,ut6py6VH7QkEiwR,sql-amital-dev-il.database.windows.net"/>
   <add name="SystemLogsStr" connectionString="SystemLogs,amitaladmin,ut6py6VH7QkEiwR,sql-amital-dev-il.database.windows.net"/>
  
  <add name="LogitudeStr" connectionString="Data Source=.;Initial Catalog=Logitude2-5_Main;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  <add name="LogitudeGlobalStr" connectionString="Data Source=.;Initial Catalog=Logitude2-5_Global;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  <add name="LogitudeSystemLogsStr" connectionString="Data Source=.;Initial Catalog=Logitude2-5_SystemLogs;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
</connectionStrings>