<table *ngIf="IsLoaded">
    <tr>
        <td>
            <div class="TableHolder">
                <table style="width: 100%; height: 100px;padding-top: 10px;">


                    <tr>
                        <td>

                            <div style="border: 1px solid #3BB3E2; padding: 1rem">
                                <table style="width: 100%;height: 400px; padding-top: 10px;" *ngIf="!_InEditMode">
                                    <tr>
                                        <td colspan="12" style="width: 100%; height:400px">
                                            <table>
                                                <tr style="width: 100%; height: 30px">
                                                    <td style="width:150px; font-size: 12px; color: #1B90CB; text-align:right">
                                                        {{'Customs.General.O.SpecialActivityRequestSample'| TextCodeTranslationPipe}}
                                                    </td>
                                                    <td> <div></div> </td>
                                                    <td style="height: 20px;">
                                                        <div>
                                                            <IconButton [IsSmall]="true"
                                                                        [Name]="'Add'"
                                                                        (click)="AddCustomsPartnerFtpCommand()"
                                                                        style="float:left;"></IconButton>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr style="width: 100%; height:350px">
                                                    <td colspan="3" style="width: 100% ; height : 100%">
                                                        <div class="GeneratedGridContainer" style="width: 100% ; height : 100%">
                                                            <logitude-edit-grid GridWidth="100%" GridHeight="100%" [ItemSource]="_FetchCustomsPartnerFtpResultList">

                                                                <!-- InterfaceCodeName -->
                                                                <log-column [header]="'Customs.CustomsPartnerFtp.F.InterfaceName' | TextCodeTranslationPipe"
                                                                            [width]="'140'" [Alignment]="'right'" [binding]="'InterfaceCodeName'" [Editable]="true">
                                                                    <ng-template let-item>
<log-cell-template  #logcelltemplate>
                                                                        <div class="TextTrimming RightCenter">
                                                                            <span>{{item.InterfaceCodeName}}</span>
                                                                        </div>

                                                                    </log-cell-template>
</ng-template>
                                                                </log-column>




                                                                <!-- PartnerCode -->
                                                                <log-column [header]="'Customs.CustomsPartnerFtp.F.PartnerCode' | TextCodeTranslationPipe"
                                                                            [width]="'140'" [Alignment]="'right'" [binding]="'PartnerCode'" [Editable]="true">
                                                                    <ng-template let-item>
<log-cell-template  #logcelltemplate>
                                                                        <div class="TextTrimming RightCenter">
                                                                            <span>{{item.PartnerCode}}</span>
                                                                        </div>

                                                                    </log-cell-template>
</ng-template>
                                                                </log-column>


                                                                <!-- TypeCode -->
                                                                <log-column [header]="'Customs.CustomsPartnerFtp.F.TypeCode' | TextCodeTranslationPipe"
                                                                            [width]="'140'" [Alignment]="'right'" [binding]="'TypeCode'" [Editable]="true">
                                                                    <ng-template let-item>
<log-cell-template  #logcelltemplate>
                                                                        <div class="TextTrimming RightCenter">
                                                                            <span>{{item.TypeCode}}</span>
                                                                        </div>
                                                                        <!--<div *ngIf="logcelltemplate.IsEditMode">
                <select class="LogLovContainer LogLOVControl LogLovInputDiv" style="width: 140px; cursor:pointer;"
                        #selectControl
                        (change)="item.TypeCodeChanged(selectControl)">
                    <option *ngFor="let c of _TypeCodeItems" [value]="c.Key" [selected]="c.Key==item.TypeCode">{{c.Value}}</option>
                </select>
            </div>-->
                                                                    </log-cell-template>
</ng-template>
                                                                </log-column>


                                                                <!--FileName-->
                                                                <log-column [header]="'Customs.CustomsPartnerFtp.F.FileName' | TextCodeTranslationPipe"
                                                                            [width]="'140'" [Alignment]="'right'" [binding]="'FileName'" [Editable]="true">
                                                                    <ng-template let-item>
<log-cell-template  #logcelltemplate>
                                                                        <div class="TextTrimming RightCenter">
                                                                            <span>{{item.FileName}}</span>
                                                                        </div>
                                                                        <!--<div *ngIf="logcelltemplate.IsEditMode">
                <LogTextBox [ObjectFieldName]="'FileName'" [ObjectTableName]="ObjectTableName" [Text]="FileName"
                            (LostFocus)="item.FileNameLostFocusMethod()"

                            [HideColumns]="true" [DataContext]="DataContext"></LogTextBox>
            </div>-->

                                                                    </log-cell-template>
</ng-template>
                                                                </log-column>
                                                                <!--FileExt-->
                                                                <log-column [header]="'Customs.CustomsPartnerFtp.F.FileExt' | TextCodeTranslationPipe"
                                                                            [width]="'140'" [Alignment]="'right'" [binding]="'FileExt'" [Editable]="true">
                                                                    <ng-template let-item>
<log-cell-template  #logcelltemplate>
                                                                        <div class="TextTrimming RightCenter">
                                                                            <span>{{item.FileExt}}</span>
                                                                        </div>
                                                                        <!--<div *ngIf="logcelltemplate.IsEditMode">
                <LogTextBox [ObjectFieldName]="'FileExt'" [ObjectTableName]="ObjectTableName" [Text]="FileExt"
                            #myLogTextBox

                            (LostFocus)="item.FileExtLostFocusMethod(logcelltemplate,myLogTextBox)"
                            [HideColumns]="true" [DataContext]="DataContext"></LogTextBox>
            </div>-->

                                                                    </log-cell-template>
</ng-template>
                                                                </log-column>




                                                                <!-- Delete Button-->
                                                                <log-column [width]="'40'" [Alignment]="'right'">
                                                                    <ng-template let-item>
<log-cell-template  [IgnoreMods]="true">

                                                                        <IconButton [Name]="'Edit'" [IsSmall]="true" (click)="EditButtonClicked(item)"></IconButton>

                                                                    </log-cell-template>
</ng-template>




                                                                </log-column>
                                                                <!-- Delete Button-->
                                                                <log-column [width]="'40'" [Alignment]="'right'">
                                                                    <ng-template let-item>
<log-cell-template  [IgnoreMods]="true">


                                                                        <IconButton [Name]="'Delete'" [IsSmall]="true" (click)="DeleteButtonClicked(item)" [IsEnabled]="!IsDisplayOnly"></IconButton>
                                                                    </log-cell-template>
</ng-template>
                                                                </log-column>


                                                            </logitude-edit-grid>
                                                        </div>
                                                    </td>
                                                </tr>

                                                <tr><td><div></div></td></tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>

                                <!--min-height: 400px;-->
                                <table style="width: 100%;height: 400px;  padding-top: 10px;" *ngIf="_InEditMode">
                                    <tr *ngIf="ValidationErrorsList != null && ValidationErrorsList.length > 0" style="height:1px;">
                                        <td style="padding-left: 10px; padding-right: 10px; overflow-x: auto;">
                                            <ValidationSummary [ItemsSource]="ValidationErrorsList"></ValidationSummary>
                                        </td>
                                    </tr>
                                    <!--  Request  -->
                                    <tr style="vertical-align: top;">
                                        <td>


                                            <table>

                                                <tr class="FormFieldRow">
                                                    <!-- InterfaceName -->
                                                    <td style="width: 130px;">
                                                        <LogLabel [ObjectFieldName]="'InterfaceName1'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext" [TextCode]="'Customs.CustomsPartnerFtp.F.InterfaceName'"></LogLabel>
                                                    </td>
                                                    <td style="width: 130px;">
                                                        <!--<select class="LogLovContainer LogLOVControl LogLovInputDiv" style="width: 140px; cursor:pointer;height: 22px;"
                                                                #selectControlInterfaceName
                                                                (change)="InterfaceNameChanged(selectControlInterfaceName)">
                                                            <option *ngFor="let c of _InterfaceNameItems" [value]="c.Key" [selected]="c.Key==InterfaceName">{{c.Value}}</option>
                                                        </select>-->
                                                        <ComboBox [ItemsSource]="_InterfaceNameItems" [Binding]="'Value'" [SelectedItem]="SelectedItemInterfaceName"  (SelectedItemChanged)="InterfaceNameChanged($event.Key)"></ComboBox>

                                                    </td>


                                                    <td style="width: 3px;"><div></div></td>

                                                    <!--  -->
                                                    <td style="width: 130px;"></td>
                                                    <td style="width: 130px;"></td>


                                                    <td><div></div></td>
                                                </tr>

                                                <tr class="FormFieldRow">

                                                    <!-- PartnerCode -->
                                                    <td style="width: 130px;">
                                                        <LogLabel [ObjectFieldName]="'PartnerCode1'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"  [TextCode]="'Customs.CustomsPartnerFtp.F.PartnerCode'"></LogLabel>
                                                    </td>
                                                    <td style="width: 130px;">
                                                        <!--<select class="LogLovContainer LogLOVControl LogLovInputDiv" style="width: 140px; cursor:pointer;height: 22px;"
                                                                #selectControlPartnerCode
                                                                (change)="PartnerCodeChanged(selectControlPartnerCode)">
                                                            <option *ngFor="let c of _PartnerCodeItems" [value]="c.Key" [selected]="c.Key==PartnerCode">{{c.Value}}</option>
                                                        </select>-->

                                                        <ComboBox [ItemsSource]="_PartnerCodeItems" [SelectedItem]="SelectedItemPartnerCode"  [Binding]="'Value'" (SelectedItemChanged)="PartnerCodeChanged($event.Key)"></ComboBox>
                                                    </td>

                                                    <td style="width: 3px;"><div></div></td>


                                                    <!-- TypeCode -->
                                                    <td style="width: 130px;">
                                                        <LogLabel [ObjectFieldName]="'TypeCode1'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"  [TextCode]="'Customs.CustomsPartnerFtp.F.TypeCode'"></LogLabel>
                                                    </td>
                                                    <td style="width: 130px;">
                                                        <!--<select class="LogLovContainer LogLOVControl LogLovInputDiv" style="width: 140px; cursor:pointer;height: 22px;"
                                                                #selectControl
                                                                (change)="TypeCodeChanged(selectControl)">
                                                            <option *ngFor="let c of _TypeCodeItems" [value]="c.Key" [selected]="c.Key==TypeCode">{{c.Value}}</option>
                                                        </select>-->
                                                        <ComboBox [ItemsSource]="_TypeCodeItems" [Binding]="'Value'"  [SelectedItem]="SelectedItemTypeCode" (SelectedItemChanged)="TypeCodeChanged($event.Key)"></ComboBox>
                                                    </td>



                                                </tr>


                                                <tr class="FormFieldRow" *ngIf="_InterfaceDetail !=null && _InterfaceDetail.ViaMethod == 'FTP' ">

                                                    <!-- FileName -->
                                                    <td style="width: 130px;">
                                                        <LogLabel [ObjectFieldName]="'FileName'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                                    </td>
                                                    <td style="width: 130px;">
                                                        <LogTextBox [ObjectFieldName]="'FileName'" [ObjectTableName]="ObjectTableName" [Text]="FileName"
                                                                    [HideColumns]="true" [DataContext]="DataContext"></LogTextBox>
                                                    </td>

                                                    <td style="width: 3px;"><div></div></td>


                                                    <!-- FileExt -->
                                                    <td style="width: 130px;">
                                                        <LogLabel [ObjectFieldName]="'FileExt'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                                    </td>
                                                    <td style="width: 130px;">
                                                        <LogTextBox [ObjectFieldName]="'FileExt'" [ObjectTableName]="ObjectTableName" [Text]="FileExt"
                                                                    [HideColumns]="true" [DataContext]="DataContext"></LogTextBox>
                                                    </td>



                                                </tr>



                                                <tr class="FormFieldRow" *ngIf="_InterfaceDetail !=null && _InterfaceDetail.ViaMethod == 'FTP' ">
                                                    <td colspan="5">


                                                        <table>
                                                            <tr>
                                                                <td style="width: 130px;">
                                                                    <LogLabel [ObjectFieldName]="'FTPDEF'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext" [Text]="'הגדרת FTP'"></LogLabel>
                                                                </td>
                                                                <td style="width: 250px;">
                                                                    <div class="BoxText" style="border:1px solid #ccc9c9; border-radius:3px;">
                                                                        <div style="padding-left:1px; display:inline-block; vertical-align:middle;">
                                                                            <span style="padding-left:5px;vertical-align:middle;">{{_SettingsHost}}</span>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <IconButton [Name]="'Edit'" [IsSmall]="true" (click)="EditFTP()" [disabled]="FtpDetailsId == null"></IconButton>
                                                                </td>
                                                                <td>
                                                                    <IconButton [Name]="'Add'" [IsSmall]="true" (click)="AddFTP()" [disabled]="FtpDetailsId != null"></IconButton>
                                                                </td>
                                                            </tr>
                                                        </table>









                                                    </td>

                                                </tr>



                                                <tr class="FormFieldRow" *ngIf="_InterfaceDetail !=null && _InterfaceDetail.ViaMethod == 'WEBAPI' ">
                                                    <td colspan="5">


                                                        <table>
                                                            <tr>
                                                                <td style="width: 130px;">
                                                                    <LogLabel [ObjectFieldName]="'WEBAPIURL'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext" [Text]="'כתובת השירות'"></LogLabel>
                                                                </td>
                                                                <td style="width: 417px;">
                                                                    <LogTextBox [ObjectFieldName]="'WEBAPIURL'" [ObjectTableName]="ObjectTableName"
                                                                                [DataContext]="DataContext" [HideColumns]="true"></LogTextBox>

                                                                </td>

                                                            </tr>
                                                        </table>

                                                    </td>
                                                </tr>

                                                <tr class="FormFieldRow" *ngIf="_InterfaceDetail !=null && _InterfaceDetail.ViaMethod == 'WEBAPI' ">
                                                    <td colspan="5">


                                                        <table>
                                                            <tr>
                                                                <td style="width: 130px;">
                                                                    <LogLabel [ObjectFieldName]="'WEBAPIAuthenticationURL'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext" [Text]="'כתובת אימות השירות'"></LogLabel>
                                                                </td>
                                                                <td style="width: 417px;">
                                                                    <LogTextBox [ObjectFieldName]="'WEBAPIAuthenticationURL'" [ObjectTableName]="ObjectTableName"
                                                                                [DataContext]="DataContext" [HideColumns]="true"></LogTextBox>

                                                                </td>

                                                            </tr>
                                                        </table>

                                                    </td>
                                                </tr>

                                                <tr class="FormFieldRow" *ngIf="_InterfaceDetail !=null && _InterfaceDetail.ViaMethod == 'WEBAPI' && (_InterfaceDetail.Code === 'IMPORT_ADD_OWNER' || _InterfaceDetail.Code === 'IMPORT_PRINT_TRACKING')">
                                                    <td colspan="5">
                                                        <table>
                                                            <tr>
                                                                <td style="width: 130px;">
                                                                    <LogLabel [ObjectFieldName]="'serviceURL'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext" [Text]="'כתובת פרוקסי'"></LogLabel>
                                                                </td>
                                                                <td style="width: 417px;">
                                                                    <LogTextBox [ObjectFieldName]="'serviceURL'" [ObjectTableName]="ObjectTableName"
                                                                                [DataContext]="DataContext" [HideColumns]="true"></LogTextBox>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>

                                                <tr class="FormFieldRow" *ngIf="_InterfaceDetail !=null && _InterfaceDetail.ViaMethod == 'WEBAPI' ">

                                                    <!-- User -->
                                                    <td style="width: 130px;">
                                                        <LogLabel [ObjectFieldName]="'User'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext" [Text]="'שם משתמש'"></LogLabel>
                                                    </td>
                                                    <td style="width: 130px;">
                                                        <LogTextBox [ObjectFieldName]="'User'" [ObjectTableName]="ObjectTableName"
                                                                    [DataContext]="DataContext" [HideColumns]="true"></LogTextBox>
                                                    </td>

                                                    <td style="width: 3px;"><div></div></td>


                                                    <!-- TypeCode -->
                                                    <td style="width: 130px;">
                                                        <LogLabel [ObjectFieldName]="'Password'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext" [Text]="'סיסמא'"></LogLabel>
                                                    </td>
                                                    <td style="width: 130px;">
                                                        <LogTextBox [ObjectFieldName]="'Password'" [ObjectTableName]="ObjectTableName"
                                                                    [DataContext]="DataContext" [HideColumns]="true"></LogTextBox>
                                                    </td>



                                                </tr>
                                                <tr>
                                                    <td></td>
                                                </tr>
                                            </table>


                                        </td>
                                    </tr>
                                    <tr><td></td></tr>
                                </table>
                            </div>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div>
                                <table>
                                    <tr class="FormFieldRow">
                                        <td>
                                            <div></div>
                                        </td>

                                        <td style="width: 57px;">
                                            <button class="Button" (click)="CancelButtonClicked()">{{'Customs.General.B.Cancel' |TextCodeTranslationPipe}}</button>
                                        </td>

                                        <td style="width: 5px;">
                                            <div></div>
                                        </td>

                                        <td style="width: 57px;">
                                            <button  class="RedButton" [disabled]="!_InEditMode" (click)="OkButtonClicked()">{{'General.B.Save' | TextCodeTranslationPipe}}</button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>
