

<table>


   

    <tr style="height:5px"></tr>

    <tr [style.height.px]="GridHeight">
        <td colspan="2">
            <div class="CellContent" style="bottom: 5px;padding:5px">
                <logitude-edit-grid 
                                    (SelectedItemChanged)="OnRowSelected($event)"
                                  
                                    [SelectedRow]="SelectedRow"
                                    [ItemSource]="ItemsSource">



                    <log-column [header]="'מספר אישור'" [width]="'70'" [Alignment]="'right'">
                        <log-cell-template template="let item" #logcelltemplate [TabIndex]="-1">
                            <div style="text-align:right;color:blue" class="TextTrimming">
                                <span>{{item.ReqConfirmationTypeCode}}</span>
                            </div>
                        </log-cell-template>
                    </log-column>


                    <log-column [header]="'Customs.SupplierInvioceItemCertificat.F.ReqConfirmationTypeCode' | TextCodeTranslationPipe" [width]="'100'" [Alignment]="'right'">
                        <log-cell-template template="let item" #logcelltemplate [TabIndex]="-1">
                            <div style="text-align:right" class="TextTrimming">
                                <span>{{item.ReqConfirmationTypeName}}</span>
                            </div>
                        </log-cell-template>
                    </log-column>

                    <log-column [header]="'Customs.SupplierInvioceItemCertificat.F.AttachmentTypeCode' | TextCodeTranslationPipe" [width]="'150'" [Alignment]="'right'">
                        <log-cell-template template="let item" #logcelltemplate [TabIndex]="-1">
                            <div style="text-align:right" class="TextTrimming">
                                <span>{{item.AttachmentTypeName}}</span>
                            </div>
                        </log-cell-template>
                    </log-column>

                    <log-column [header]="'Customs.SupplierInvioceItemCertificat.F.CertificateNumber' | TextCodeTranslationPipe" [width]="'150'" [Alignment]="'right'">
                        <log-cell-template template="let item" #logcelltemplate [TabIndex]="-1">
                            <div style="text-align:right" class="TextTrimming">
                                <span>{{item.CertificateNumber}}</span>
                            </div>
                        </log-cell-template>
                    </log-column>


                    <log-column [header]="'Customs.SupplierInvioceItemCertificat.F.CertificateExemptionTypeCode' | TextCodeTranslationPipe" [width]="'150'" [Alignment]="'right'">
                        <log-cell-template template="let item" #logcelltemplate [TabIndex]="-1">
                            <div style="text-align:right" class="TextTrimming">
                                <span>{{item.CertificateExemptionTypeName}}</span>
                            </div>
                        </log-cell-template>
                    </log-column>


                    <log-column [header]="'Customs.SupplierInvioceItemCertificat.F.ResConfirmationTypeCode' | TextCodeTranslationPipe" [width]="'150'" [Alignment]="'right'">
                        <log-cell-template template="let item" #logcelltemplate [TabIndex]="-1">
                            <div style="text-align:right" class="TextTrimming">
                                <span>{{item.ResConfirmationTypeName}}</span>
                            </div>
                        </log-cell-template>
                    </log-column>





                </logitude-edit-grid>
            </div>
        </td>
    </tr>
    <tr style="height:100%; text-align:center;font-size:18px;color:gray" *ngIf="ThereIsNoCertificates"> לא נמצאו אישורים שתואמים לדרישה  </tr>

    <tr style="height: 32px;" >
        <td colspan="2" style="vertical-align: bottom">
            <table style="height: 22px;">
                <tr>
                    <td>
                        <div></div>
                    </td>

                    <td style="width: 57px;">
                        <button class="Button" (click)="CancelButtonClicked()">{{'General.B.Cancel' | TextCodeTranslationPipe}}</button>
                    </td>

                    <td style="width: 5px;">
                        <div></div>
                    </td>

                    <td style="width: 57px;">
                        <button class="RedButton" (click)="OkButtonClicked()">{{'General.B.Ok' | TextCodeTranslationPipe}}</button>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

</table>