
<style>

    .subTitle {
        color: #4b90cb;
        font-size: 16px;
        padding-left: 5px;
    }

    .DisbleBox {
        display: inline-block;
        border: 1px solid #ffd800;
        border-radius: 5px;
        background: #faf5c0;
        padding: 2px 10px;
        margin: 5px;
        color: gray;
        font-family: sans-serif;
    }
</style>
<table>

    <!-- SupplierInvoicesList -->
    <tr style="height: 28px;">
        <td class="subTitle">
            <div>
                {{'Customs.Declaration.TH.Invoices' | TextCodeTranslationPipe}}
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="CellContent">
                <logitude-edit-grid GridWidth="100%"
                                    GridHeight="100%" [EnableMultiSelection]="true"
                                    (SelectedItemChanged)="OnRowSelected($event)"
                                    [SelectedRow]="SelectedRow"
                                    [ItemSource]="SupplierInvoicesList"
                                    [SelectedRows]="SelectedInvoices.Collection">

                    <!-- SequenceNumeric -->
                    <log-column [header]="'Customs.SupplierInvoice.F.SequenceNumeric' | TextCodeTranslationPipe" [width]="'50'" [Alignment]="'right'" [binding]="'SequenceNumeric'">
                        <ng-template let-item>
                            <log-cell-template #logcelltemplate [IgnoreMods]="true">
                                <div style="text-align: right;" class="TextTrimming">
                                    <span>{{item.SequenceNumeric}}</span>
                                </div>
                            </log-cell-template>
                        </ng-template>
                    </log-column>

                    <!-- InvoiceNumber -->
                    <log-column [header]="'Customs.SupplierInvoice.F.InvoiceNumber' | TextCodeTranslationPipe" [width]="'120'" [Alignment]="'right'" [binding]="'MethodTypeCode'">
                        <ng-template let-item>
                            <log-cell-template #logcelltemplate>
                                <div style="text-align: right;" class="TextTrimming">
                                    <span>{{item.InvoiceNumber}}</span>
                                </div>

                            </log-cell-template>
                        </ng-template>
                    </log-column>

                    <!-- IssueDate -->
                    <log-column [header]="'Customs.SupplierInvoice.F.IssueDate' | TextCodeTranslationPipe" [width]="'100'" [Alignment]="'right'" [binding]="'Amount'">
                        <ng-template let-item>
                            <log-cell-template #logcelltemplate>
                                <div style="text-align: right;" class="TextTrimming">
                                    <span>{{ item.IssueDate | DateTimePipe:'SD' }}</span>
                                </div>

                            </log-cell-template>
                        </ng-template>
                    </log-column>

                    <!-- IncotermCode -->
                    <log-column [header]="'Customs.SupplierInvoice.F.IncotermCode' | TextCodeTranslationPipe" [width]="'100'" [Alignment]="'right'" [binding]="'BankCode'">
                        <ng-template let-item>
                            <log-cell-template #logcelltemplate>
                                <div style="text-align: right;" class="TextTrimming">
                                    <span>{{item.IncotermCode}}</span>
                                </div>

                            </log-cell-template>
                        </ng-template>
                    </log-column>

                    <!-- InvoiceAmount -->
                    <log-column [header]="'Customs.SupplierInvoice.F.InvoiceAmount' | TextCodeTranslationPipe" [width]="'100'" [Alignment]="'right'" [binding]="'PayerActivityTypeCode'">
                        <ng-template let-item>
                            <log-cell-template #logcelltemplate>
                                <div style="text-align: right;" class="TextTrimming">
                                    <span>{{item.InvoiceAmount | NumbersPipe:'n2'}}</span>
                                    <span style="padding-right:5px; float: left;">{{item.InvoiceCurrencyTypeCode}}</span>
                                </div>

                            </log-cell-template>
                        </ng-template>
                    </log-column>

                    <log-column [header]="'Customs.SupplierInvoice.F.IssueCountryCode' | TextCodeTranslationPipe" [width]="'100'" [Alignment]="'right'" [binding]="'PayerActivityTypeCode'">
                        <ng-template let-item>
                            <log-cell-template #logcelltemplate>
                                <div style="text-align: right;" class="TextTrimming">
                                    <span>{{item.IssueCountryName}}</span>
                                </div>

                            </log-cell-template>
                        </ng-template>
                    </log-column>

                    <log-column [header]="'Customs.SupplierInvoice.F.VendorName' | TextCodeTranslationPipe" [width]="'90'" [Alignment]="'right'" [binding]="'PayerActivityTypeCode'">
                        <ng-template let-item>
                            <log-cell-template #logcelltemplate>
                                <div style="text-align: right;" class="TextTrimming">
                                    <span>{{item.VendorName}}</span>
                                </div>

                            </log-cell-template>
                        </ng-template>
                    </log-column>

                    <log-column [header]="'Customs.SupplierInvoice.F.PreferenceDocumentTypeCode' | TextCodeTranslationPipe" [width]="'90'" [Alignment]="'right'" [binding]="'PayerActivityTypeCode'">
                        <ng-template let-item>
                            <log-cell-template #logcelltemplate>
                                <div style="text-align: right;" class="TextTrimming">
                                    <span>{{item.PreferenceDocumentTypeName}}</span>
                                </div>

                            </log-cell-template>
                        </ng-template>
                    </log-column>

                    <log-column [header]="'Customs.Declaration.O.FreightAmount' | TextCodeTranslationPipe" [width]="'90'" [Alignment]="'right'" [binding]="'PayerActivityTypeCode'">
                        <ng-template let-item>
                            <log-cell-template #logcelltemplate>
                                <div *ngIf=" DeclarationPM != null && DeclarationPM.Direction != 'E'" style="text-align: right;" class="TextTrimming">
                                    <span>{{item.TotalFreightInInvoiceCurrencyText}}</span>
                                </div>
                                <div *ngIf=" DeclarationPM != null && DeclarationPM.Direction == 'E'" style="text-align: right;" class="TextTrimming">
                                    <span>{{item.ExportFreightAmount}}</span>
                                </div>
                            </log-cell-template>
                        </ng-template>
                    </log-column>

                    <log-column [header]="'Customs.Declaration.O.Insurance' | TextCodeTranslationPipe" [width]="'90'" [Alignment]="'right'" [binding]="'PayerActivityTypeCode'">
                        <ng-template let-item>
                            <log-cell-template #logcelltemplate>
                                <div *ngIf=" DeclarationPM != null && DeclarationPM.Direction != 'E'" style="text-align: right;" class="TextTrimming">
                                    <span style="padding-right:5px;">{{item.InsuranceAmount}}</span>
                                    <span style="float: right;">{{item.InsruanceCurrencyTypeCode}}</span>
                                </div>
                                <div *ngIf=" DeclarationPM != null && DeclarationPM.Direction == 'E'" style="text-align: right;" class="TextTrimming">
                                    <span>{{item.ExportInsuranceAmount}}</span>
                                </div>

                            </log-cell-template>
                        </ng-template>
                    </log-column>


                </logitude-edit-grid>
            </div>

        </td>
    </tr>

    <!-- SupplierInvoicesList -->
     <tr style="height: 55px;">
  <td style="vertical-align: bottom; padding-bottom: 4px;" class="subTitle">    
    <div style="display: flex; justify-content: space-between; align-items: flex-end;">     
      <div style="white-space: nowrap;">
        {{ 'Customs.Declaration.O.Items' | TextCodeTranslationPipe }}
      </div>      
      <div style="flex-grow: 1; max-width: 300px; margin-right: 10px; text-align: left;">
            <SearchTextBox  [PlaceHolder]="'פרט מכס/מספר פריט'" (SearchTextChangeEvent)="SearchTextChanged($event)"></SearchTextBox>
      </div>
    </div>
  </td>
     <tr>
        <td>
            <div class="CellContent">
                <logitude-grid GridWidth="100%" GridHeight="100%"
                               [ObjectTable]="'Customs.Declaration'"
                               [dataSource]="DataSource"
                               (AfterViewInitCompleted)="ViewInitCompleted($event)"
                               (rowSelectedEvent)="OnItemRowSelected($event)"
                               (RowUnselected)="OnRowUnselected($event)"
                               (DataLoaded)="OnDataLoaded($event)"
                               [MenuHeaderchangeevent]="MenuHeaderchangeevent"
                               [columns]="columns"
                               [SelectedRows]="SelectedInvoiceItems"
                               [IsGradiantSelectedColor]="true"
                               [EnableMultiSelection]="true"
                               [IsCustomTemplate]="true" >
                            </logitude-grid>
            </div>

        </td>
    </tr>

    <tr style="height: 40px;">
        <td>
            <table>
                <tr>
                    <td>
                        <div></div>
                    </td>
                    <td style="width: 57px;vertical-align: bottom;">
                        <button class="Button" (click)="CancelButtonClicked()">{{'Customs.General.B.Cancel' |TextCodeTranslationPipe}}</button>
                    </td>
                    <td style="width: 67px;vertical-align: bottom; padding-right: 10px;">
                        <button [disabled]="StaticSelectedInvoiceItems.Length == 0" class="RedButton" (click)="OkButtonClicked()">{{'General.B.Ok' |TextCodeTranslationPipe}}</button>
                    </td>
                </tr>
            </table>
        </td>


    </tr>

</table>
