<style>

</style>
<table *ngIf="DecalarationData != null && IsLoaded">
    <tr style="height:100%;">
        <td style="vertical-align:top">
            <div style="vertical-align:top; margin:5px">
                <table>
                    <tr class="FieldRow">
                        <td style="width:50px"></td>
                        <td style="width:150px">
                            <LogLabel [TextCode]="'Customs.SupplierInvoiceItemsReqList.F.ProductFileNumber'"
                                [ObjectFieldName]="'ProductFileNumber'" [ObjectTableName]="ObjectTableName"
                                [DataContext]="DataContext"></LogLabel>
                        </td>
                        <td style="width:200px">
                            <LogTextBox [ObjectFieldName]="'ProductFileNumber'" [DataContext]="DataContext"
                                [ObjectTableName]="ObjectTableName" [HideColumns]="true"></LogTextBox>
                        </td>
                        <td>
                            <img class="SearchIcon" src="./Images/Search.png" (click)="SearchProductFileNumber()" title="" />
                        </td>
                        <td style="width:50px"></td>
                    </tr>
                    <tr class="FieldRow">
                        <td style="width:50px"></td>
                        <td style="width:150px">
                            <LogLabel [TextCode]="'Customs.SupplierInvoiceItemsReqList.F.ManufactureCountryCode'"
                                [ObjectFieldName]="'ManufactureCountryCode'" [ObjectTableName]="ObjectTableName"
                                [DataContext]="DataContext"></LogLabel>
                        </td>
                        <td style="width:200px">
                            <LogLov [ObjectFieldName]="'ManufactureCountryCode'" [ObjectTableName]="ObjectTableName"
                                [DataContext]="DataContext" [LookUpTableName]="'Customs.CustomsCountry'"
                                [SelectedValue]="ManufactureCountryCode" [HideColumns]="true" [CustomizedWidth]="180">
                            </LogLov>
                        </td>
                        <td style="width:50px"></td>
                    </tr>
                    <tr class="FieldRow">
                        <td style="width:50px"></td>
                        <td style="width:150px">
                            <LogLabel [TextCode]="'Customs.SupplierInvoiceItemsReqList.F.ManufacturerName'"
                                [ObjectFieldName]="'ManufacturerName'" [ObjectTableName]="ObjectTableName"
                                [DataContext]="DataContext"></LogLabel>
                        </td>
                        <td style="width:200px">
                            <LogTextBox [ObjectFieldName]="'ManufacturerName'" [DataContext]="DataContext"
                                [ObjectTableName]="ObjectTableName" [HideColumns]="true"></LogTextBox>
                        </td>
                        <td style="width:50px"></td>
                    </tr>
                    <tr class="FieldRow">
                        <td style="width:50px"></td>
                        <td style="width:150px">
                            <LogLabel [Text]="'ItemNo'" [ObjectFieldName]="'ItemNo'" [ObjectTableName]="ObjectTableName"
                                [DataContext]="DataContext"></LogLabel>
                        </td>
                        <td style="width:200px">
                        </td>
                        <td style="width:50px"></td>
                    </tr>
                    <tr class="FieldRow">
                        <td style="width:50px"></td>
                        <td style="width:150px">
                            <LogLabel [Text]="'ItemName'" [ObjectFieldName]="'ItemName'"
                                [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                        </td>
                        <td style="width:200px">
                        </td>
                        <td style="width:50px"></td>
                    </tr>
                    <tr class="FieldRow">
                        <td style="width:50px"></td>
                        <td style="width:150px">
                            <LogLabel [Text]="'InvoiceQuantity'" [ObjectFieldName]="'InvoiceQuantity'"
                                [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                        </td>
                        <td style="width:200px">
                        </td>
                        <td style="width:50px"></td>
                    </tr>
                    <tr class="FieldRow">
                        <td style="width:50px"></td>
                        <td style="width:150px">
                            <LogLabel [Text]="'InvoiceQuantityType'" [ObjectFieldName]="'InvoiceQuantityType'"
                                [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                        </td>
                        <td style="width:200px">
                        </td>
                        <td style="width:50px"></td>
                    </tr>
                    <tr class="FieldRow">
                        <td style="width:50px"></td>
                        <td style="width:150px">
                            <LogLabel [Text]="'StatisticQuantity'" [ObjectFieldName]="'StatisticQuantity'"
                                [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                        </td>
                        <td style="width:200px">
                        </td>
                        <td style="width:50px"></td>
                    </tr>
                    <tr class="FieldRow">
                        <td style="width:50px"></td>
                        <td style="width:150px">
                            <LogLabel [Text]="'StatisticQuantityType'" [ObjectFieldName]="'StatisticQuantityType'"
                                [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                        </td>
                        <td style="width:200px">
                        </td>
                        <td style="width:50px"></td>
                    </tr>
                    <tr class="FieldRow">
                        <td style="width:50px"></td>
                        <td style="width:150px">
                            <LogLabel [TextCode]="'Customs.SupplierInvoiceItemsReqList.F.Remarks'"
                                [ObjectFieldName]="'Remarks'" [ObjectTableName]="ObjectTableName"
                                [DataContext]="DataContext"></LogLabel>
                        </td>
                        <td style="width:200px">
                            <LogTextBox [ObjectFieldName]="'Remarks'" [DataContext]="DataContext"
                                [ObjectTableName]="ObjectTableName" [HideColumns]="true"></LogTextBox>
                        </td>
                        <td style="width:50px"></td>
                    </tr>
                    <tr class="FieldRow">
                        <td style="width:50px"></td>
                        <td style="width:170px">
                            <!-- TODO: change to textcode -->
                            <LogLabel [Text]="'האם מבוקש החמרה לקבוצה 1 '" [ObjectFieldName]="'IsAggravationGroup1Req'"
                                [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                        </td>
                        <td style="width:200px">
                            <LogCheckBox [ObjectFieldName]="'IsAggravationGroup1Req'" [Checked]="IsAggravationGroup1Req"
                                [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"
                                [Value]="IsAggravationGroup1Req"></LogCheckBox>
                        </td>
                        <td style="width:50px"></td>
                    </tr>
                </table>
            </div>
        </td>
        <td></td>
    </tr>
    <tr style="height:10px"></tr>
    <tr style="height:100%; display: flex; justify-content: flex-end; align-items: flex-end;">
        <td style="width: 120px;">
            <div style="display: flex; align-items: flex-end; justify-content: space-around;">
                <div style="width: 57px;vertical-align: bottom;">
                    <button class="Button" (click)="CancelSupplierInvoiceItemsReqList()">
                        {{'Customs.General.B.Cancel' |TextCodeTranslationPipe}}
                    </button>
                </div>
                <div style="width: 57px;vertical-align: bottom;">
                    <button class="RedButton" (click)="SaveSupplierInvoiceItemsReqList()"
                        [disabled]="IsDisplayOnly">{{'General.B.Save' | TextCodeTranslationPipe}}
                    </button>
                </div>
            </div>
        </td>
    </tr>
</table>