<!-- Web Header -->
<div class="web-header-wrapper" [class.tablet-nav-opened]="isNavOpened">
    <div class="web-header hide-mobile">
        <div class="logo-wrapper">
            <div class="logo">
                <img *ngIf="ComapnyLogo" style="border:0;outline:none" [attr.src]="ComapnyLogo" />
            </div>
        </div>
        <div style="width:auto;">


        </div>

        <div class="nav">
            <!-- <ul class="left-nav" [class.show]="displayMenu" style="margin-top: 11px;"> -->
            <!-- <li  (click)="GoToPrivateSite()" style="float: right;">cargo-tracking</li> -->
            <!-- </ul> -->
            <div class="tablet-nav">
                <div class="action-buttons right-button tablet" (click)="openNav()">
                    <img src="./assets/images/icons/Menu.svg" alt="" />
                </div>
            </div>
        </div>

    </div>
</div>


<div *ngIf="IsBrandingDataLoaded" class="sidebar" [class.tablet-nav-opened]="isNavOpened">

    <div class="hide-mobile  nav" [class.nav-opened]="isNavOpened">

        <div class="action-buttons right-button mobile-only tablet tablet-button-close" (click)="openNav()">
            <img src="./assets/images/icons/close.svg" alt="" />
        </div>

        <div class=" " style="height: 50px;"></div>

        <div class="avatar ">
            <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSnxXuSRioKtY5255bV-l1ZGs8OqP5vVSP-0Q&usqp=CAU" alt=""> -->
            <div class="circle-bg"></div>
            <div class="letters">{{UserNameFirstLetters}}</div>
        </div>

        <div class="user-name ">
            {{UserName}}
        </div>

        <div class="signout " style="cursor: pointer;" (click)="SignOutClicked()">Sign Out</div>

        <div class=" " style="height: 20px;"></div>

        <div class="">
            <a routerLinkActive="active" routerLink="shipments"
                (click)="openNav(); sharedService.updateValue(false);">Shipments</a>
            <!--<a routerLinkActive="active" routerLink="favorites">Favorite</a>
            <a routerLinkActive="active" routerLink="Reports">Reports</a>
            <a routerLinkActive="active" routerLink="Price">Price Offers</a>
            <a routerLinkActive="active" routerLink="Accounting">Accounting</a>
            <a routerLinkActive="active" routerLink="Archive">Archive</a>-->
        </div>
    </div>

    <div class="logo">
        <img class="hide-mobile" [src]="InvertedLogoURL" alt="" />
        <img class="mobile-only" [src]="ComapnyLogo" alt="" />
        <!-- <img src="./assets/images/logo/path3410@1x.png" routerLinkActive="active" routerLink="/search" alt="" /> -->
    </div>

    <div *ngIf="currentRoute && currentRoute !== '/cargo-tracking/shipments' || (sharedService.isAdvancedFilterOpened$ | async)"
        class="action-buttons left-button mobile-only" (click)="BackLinkClicked()">
        <img src="./assets/images/icons/arrow.svg" alt="" />

    </div>

    <div class="action-buttons right-button mobile-only" (click)="openNav()">
        <img src="./assets/images/icons/Menu.svg" alt="" />
    </div>


</div>

<div class="content">
    <router-outlet *ngIf="IsBrandingDataLoaded"></router-outlet>
</div>

<div  class="mobile-cookies" *ngIf="!isCookieNoticeDismissed" id="cookie-notice" style="position: fixed; bottom: 20px; left: 20px;" [@fade]>
    <div>
      
        <h2 style="color: white !important;text-align: left;">
            <img style="height: 20px" src="./assets/images/icons/cookie.png" alt="">    Privacy Notice</h2>
    </div>

    <div style="padding-left: 30px;text-align: left;">
        <span>This website uses cookies to improve your <br> web experience. By using the site, you <br> agree to the
            use of cookies.</span>
        <br>
        <div style="height: 40px">
            <button (click)="dismissCookieNotice()" id="dismiss-btn">DISMISS</button>
        </div>
    </div>

</div>


<!-- <div *ngIf="show"  [ngClass]="['snackbar-warp']">
    <p class="snackbar-text">
       {{message}}
    </p>
  </div> -->