:root {
    --MainColor: #002664;
    --CircleImageColor: #F2F4F7;
    --TitleColor:#000;
    --busyIndicatorColor:#002664;
    --BGColor:#F5F6FF;
}

* {
    font-family: 'Open Sans';
    -webkit-font-smoothing: antialiased;
}

body {
    padding: 0;
    margin: 0;
    /* background: var(--BGColor); */
     background: #F5F6FF;  
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 22px;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

.app-content {
    /* background-image: url("../images/misc/map-bg.svg"); */
    min-height: 100vh;
    position: relative;
   
     
}


/* Colors */

.primary {
    color: #002664;
}

.primary-light {
    color: #EEF0F4;
}

.gray {
    color: #797979;
}

.light-gray {
    color: #D2D2D2;
}

.light-blue {
    color: #DCEBFF;
}

.silver {
    color: #F5F6FF;
}


/* EOF Colors */


/* Typings */

h1,
h2,
h3 {
    font-family: 'Open Sans';
    font-weight: bold;
    color:var(--MainColor); /*#002664;*/
}

h1 {
    font-size: 22px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

.tag {
    font-size: 12px;
    line-height: 20px;
    color: var(--MainColor); /*black;*/
    font-weight: bold;
    text-transform: uppercase;
}

.mobile-only {
    display: none;
}

.show{
    display: block;
}

.dashboard-container{
    padding: 0 46px;
}

@media screen and (max-width: 1000px) {
    .hide-tablet {
        display: none;
    }
    .tablet-only {
        display: block;
    }
    
    .dashboard-container{
        padding: 0 20px;
    }
}


@media screen and (max-width: 479px) {
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 16px;
    }
    h3 {
        font-size: 14px;
    }
    body {
        line-height: 20px;
        font-size: 14px;
    }
    .tag {
        font-size: 12px;
        font-weight: bold;
        color:var(--MainColor); /*black;*/
    }
    .hide-mobile,
    .hide-tablet {
        display: none !important;
    }
    .mobile-only {
        display: block;
    }
    
    
    .dashboard-container{
        padding: 50px 0px 0 0px;
    }
}


/* EOF Typings */
