

<style>

    .Link:hover {
        cursor: pointer;
        color: #1C59FC;
    }

    .Link {
        cursor: pointer;
        font-size: 13px;
        color: #0094ff;
        height: 21px;
        white-space: nowrap;
    }

    
    .SystemDefaultsBox {
        width: 100%;
        height: 100%;
        border: 1px solid #BABABA;
       
    }

    .CenterMessage {
        text-align: center;
        position: absolute;
        right: 0;
        left: 0;
        top: 50%;
        bottom: 0;
    }

</style>

<table *ngIf="IsReady" style="background-color:transparent">

    <tr style="height:10px"><td></td></tr>

    <tr style="height:45%;vertical-align:top">


        <td style="height:45%" class="CellStretch">

            <div class="SystemDefaultsBox">
                <logitude-edit-grid  
                                    GridWidth="100%" GridHeight="100%"
                                    [HeaderHeight]="25" [ItemSource]="DocOutItemsSource">



                    <!--File Name-->
                    <log-column [width]="'600'" [header]="'Docs out Document Types'">

                        <ng-template let-item>
                            <log-cell-template [IgnoreMods]="true" #logcelltemplate>


                                <table>
                                    <tr>

                                        <td>
                                            <div [style.width]="'600px'" class="TextTrimming">
                                                {{item.DocumentTypeName}}
                                            </div>

                                        </td>
                                    </tr>
                                </table>
                            </log-cell-template>
                        </ng-template>

                    </log-column>

                    <!--IsRequired-->
                    <log-column [width]="'90'" [header]="'Choose'">

                        <ng-template let-item>

                            <log-cell-template [IgnoreMods]="true" #logcelltemplate>
                                <div style="width: 100%; height: 100%; position: relative; text-align: center;">
                                    <div class="CenterCenter" style="padding-left:35px">
                                        <CheckBox [IsChecked]="item.IsChecked" (Checked)="item.IsChecked =$event"></CheckBox>
                                    </div>
                                </div>




                            </log-cell-template>
                        </ng-template>
                    </log-column>

                </logitude-edit-grid>

                <div class="SimpleGridViewBody CenterMessage"  *ngIf="IsNotDocumentOutFound"><span style="font-size:11px;color:gray;margin-top:10px;margin-left:5px">No Docs out Document Types Found</span></div>

            </div>
                <!--<div class="SimpleGridView">

            <div style="margin-left:3px;">Docs out Document Types:</div>

            <div *ngIf="!IsNotDocumentOutFound" class="SimpleGridViewBody">
                <table>
                    <tr style="height: 1px;">
                        <td>
                            <table>
                                <tr style="border:0px" class="SimpleGridViewRow RowHover" *ngFor="let item of DocOutAttachmentLists">
                                    <td>
                                        <table>
                                            <tr style="height:25px;border:0px">

                                                <td class="GridViewCell" style="width: 30px; min-width: 30px; max-width: 30px; position: relative;border:0px">
                                                    <CheckBox [IsChecked]="item.IsChecked" (Checked)="item.IsChecked = $event"></CheckBox>
                                                </td>


                                                <td class="GridViewCell" style="width: 100%; min-width: 100%; max-width: 100%; position: relative;border:0px">
                                                    {{item.DocumentTypeName}}
                                                </td>
                                            </tr>
                                            <tr><td colspan="5"></td></tr>
                                        </table>


                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div></div>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="SimpleGridViewBody" style="vertical-align:top;text-align:left;margin-top:5px;height:50px;" *ngIf="IsNotDocumentOutFound"><span style="font-size:11px;color:gray;margin-top:10px;margin-left:5px">No Docs out Document Types Found</span></div>



        </div>-->

        </td>



    </tr>

    <tr style="height:10px"><td></td></tr>

    <tr style="height:50%;vertical-align:top;background-color:white">


        <td style="height:50%" class="CellStretch">
            <div class="SystemDefaultsBox">

                <logitude-edit-grid  
                                    GridWidth="100%" GridHeight="100%"
                                    [HeaderHeight]="25" [ItemSource]="DocInItemsSource">



                    <!--File Name-->
                    <log-column [width]="'600'" [header]="'Docs in Document Types'">

                        <ng-template let-item>
                            <log-cell-template [IgnoreMods]="true" #logcelltemplate>


                                <table>
                                    <tr>

                                        <td>
                                            <div [style.width]="'600px'" class="TextTrimming">
                                                {{item.DocumentTypeName}}
                                            </div>

                                        </td>
                                    </tr>
                                </table>
                            </log-cell-template>
                        </ng-template>

                    </log-column>

                    <!--IsRequired-->
                    <log-column [width]="'90'" [header]="'Choose'">

                        <ng-template let-item>

                            <log-cell-template [IgnoreMods]="true" #logcelltemplate>
                                <div style="width: 100%; height: 100%; position: relative;">
                                    <div class="CenterCenter" style="padding-left:35px">
                                        <CheckBox [IsChecked]="item.IsChecked" (Checked)="item.IsChecked =$event"></CheckBox>
                                    </div>
                                </div>




                            </log-cell-template>
                        </ng-template>
                    </log-column>

                </logitude-edit-grid>

                <div class="SimpleGridViewBody CenterMessage"  *ngIf="IsNotDocumentInFound">
                    <span style="font-size:11px;color:gray;margin-top:10px;margin-left:5px">No Docs in Document Types Found</span>
                </div>

            </div>
                <!--<div class="SimpleGridView">

        <div style="margin-left:3px;">Docs in Document Types:</div>

        <div *ngIf="!IsNotDocumentInFound" class="SimpleGridViewBody">
            <table>
                <tr style="height: 1px;">
                    <td>
                        <table>
                            <tr style="border:0px" class="SimpleGridViewRow RowHover" *ngFor="let item of DocInAttachmentLists">
                                <td>
                                    <table>
                                        <tr style="height:25px;border:0px">

                                            <td class="GridViewCell" style="width: 30px; min-width: 30px; max-width: 30px; position: relative;border:0px">
                                                <CheckBox [IsChecked]="item.IsChecked" (Checked)="item.IsChecked = $event"></CheckBox>
                                            </td>


                                            <td class="GridViewCell" style="width: 100%; min-width: 100%; max-width: 100%; position: relative;border:0px">
                                                {{item.DocumentTypeName}}
                                            </td>
                                        </tr>
                                        <tr><td colspan="5"></td></tr>
                                    </table>


                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div></div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="SimpleGridViewBody" style="vertical-align:top;text-align:left;margin-top:5px;height:50px;" *ngIf="IsNotDocumentInFound"><span style="font-size:11px;color:gray;margin-top:10px;margin-left:5px">No Docs in Document Types Found</span></div>



    </div>-->

</td>



    </tr>

    <tr style="height: 32px;">
        <td style="vertical-align: bottom">
            <table style="height: 22px;">
                <tr>
                    <td>
                        <div></div>
                    </td>

                    <td style="width: 57px;">
                        <div>
                            <button class="Button" (click)="CloseButtonClicked()">Cancel</button>
                        </div>
                    </td>

                    <td style="width: 5px;">
                        <div></div>
                    </td>

                    <td style="width: 57px;">
                        <button class="RedButton" (click)="SaveButtonClicked()">OK</button>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

</table>
