<style type="text/css">
    .NotesBox p {
        font-size: 11px;
        color: #6E7172;
        white-space: normal;
        word-wrap: break-word;
        text-wrap: normal;
        text-overflow: ellipsis;
    }

    .NotesBox {
        background: #FFFADC;
        border: 1px solid #AAAAAA;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        padding: 5px;
        line-height: 12px;
        text-align: left;
        overflow-x: hidden;
        overflow-y: scroll;
        margin-right: 36px;
    }

    .SectionTitle > span {
        font-size: 14px;
        user-select: text;
        -webkit-user-select: auto;
    }

    .SectionTitle td {
        font-size: 14px;
        user-select: text;
    }

    .SectionTitle {
        height: 20px;
        line-height: 20px;
        font-size: 14px;
        color: #1B90CB;
        user-select: text;
        -webkit-user-select: text;
    }

    .SetCustomer:hover .SetCustomerIcon {
        background: url('./Images/Menu/Person.png') center center;
        background-size: contain;
    }

    .SetCustomer:hover .SetCustomerText {
        color: #0075AF;
    }

    .SetCustomerIcon {
        display: inline-block;
        background: url('./Images/Menu/Person.Gray.png') center center;
        background-size: contain;
    }

    .SetCustomerText {
        color: #BABABA;
    }

    .SetCustomer {
        cursor: pointer;
    }

    .AppLeftMenuBackground .RadioButton {
        margin-left: 5px;
        margin-top: 5px;
    }

    .GreenAddButtonDisabled {
        pointer-events: none;
    }

    .GreenAddButton:hover {
        background: url('./Images/Buttons/AddGreenSolid.png') center center;
        background-size: contain;
    }

    .GreenAddButton {
        width: 12px;
        height: 12px;
        background: url('./Images/Buttons/AddGreenBrush.png') center center;
        background-size: contain;
        cursor: pointer;
    }

</style>

<table *ngIf="IsLoadPage">
    <tr>
        <td>
            <div class="FillParent CurvedArea">
                <table>
                    <tr>
                        <td style="width: 155px; vertical-align: top" class="AppLeftMenuBackground">


                            <table>
                                <tr style="height: 1px">
                                    <td>

                                        <div style="margin: 10px;">
                                            <div style="font-size: 13px; color: #6E7172;">{{'WarehouseEntry.F.DirectionId' | TextCodeTranslationPipe}}:</div>
                                            <div style="margin-top: -2px;">
                                                <div class="RadioButton" *ngFor="let item of DirectionsList">
                                                    <input [attr.id]="'DirectionRadio_' + SessionIndex + item.Code" [attr.name]="'DirectionsRadio' + SessionIndex" type="radio" [checked]="DirectionId == item.Code" (click)="DirectionId = item.Code" />
                                                    <label [attr.for]="'DirectionRadio_' + SessionIndex + item.Code" style="text-indent: 40px; font-size: 12px" [ngStyle]="{color: DirectionId == item.Code ? '#287828':'#282E30'}">
                                                        <img class="LeftCenter" style="margin-left: 20px;" [attr.src]="'./Images/Directions/' + item.Code + '.png'" />
                                                        {{item.Name}}
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div style="margin: 10px;">
                                            <div style="font-size: 13px; color: #6E7172">{{'WarehouseEntry.F.TransportModeId' | TextCodeTranslationPipe}}:</div>
                                            <div style="margin-top: -2px;">
                                                <div class="RadioButton" *ngFor="let item of TransportModesList">
                                                    <input [attr.id]="'TransportModeRadio_' + SessionIndex + item.Code" [attr.name]="'TransportModesRadio' + SessionIndex" type="radio" [checked]="TransportModeId == item.Code" (click)="TransportModeId = item.Code" [disabled]="!IsTransportModesListEnabled"/>
                                                    <label [attr.for]="'TransportModeRadio_' + SessionIndex + item.Code" style="text-indent: 40px; font-size: 12px" [ngStyle]="{color: TransportModeId == item.Code ? '#287828':'#282E30'}">
                                                        <img class="LeftCenter" style="margin-left: 20px;" [attr.src]="'./Images/Icons/' + item.Code + '.png'" />
                                                        {{item.Name}}
                                                    </label>
                                                </div>
                                            </div>
                                        </div>


                                        <div style="margin: 10px;" *ngIf="DirectionId && (TransportModeId == 'O' || TransportModeId == 'I')">
                                            <div style="font-size: 13px; color: #6E7172;">Entry Type:</div>
                                            <div style="margin-top: -2px;">
                                                <div class="RadioButton" *ngFor="let item of ShipmentTypesList">
                                                    <input [attr.id]="'ShipmentTypeRadio_' + SessionIndex + item.Code" [attr.name]="'ShipmentTypesRadio' + SessionIndex" type="radio" [checked]="ShipmentTypeId == item.Code" (click)="ShipmentTypeId = item.Code" />
                                                    <label [attr.for]="'ShipmentTypeRadio_' + SessionIndex + item.Code" style="text-indent: 45px; font-size: 12px" [ngStyle]="{color: ShipmentTypeId == item.Code ? '#287828':'#282E30'}">
                                                        <img class="LeftCenter" style="margin-left: 20px;" [attr.src]="item.SRC" />
                                                        {{item.Name}}
                                                    </label>
                                                </div>
                                            </div>
                                        </div>


                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <div></div>
                                    </td>
                                </tr>
                            </table>


                        </td>

                        <td>
                            <table>

                                <tr style="height:1px;" *ngIf="ValidationErrorsList != null && ValidationErrorsList.length > 0">
                                    <td style="padding: 3px;">
                                        <ValidationSummary [ItemsSource]="ValidationErrorsList"></ValidationSummary>
                                    </td>
                                </tr>

                                   <tr>
                                    <td>
                                        <div class="ScrollViewer" style="padding: 10px; padding-top: 5px; top: 3px; right: 3px; bottom: 3px;">
                                            <div class="ScrollContent" [ngStyle]="{opacity: ScreenOpacity}">



                                                <div>
                                                    <div class="SectionTitle">
                                                        <table>
                                                            <tr>
                                                                <td>Partners</td>
                                                            </tr>
                                                        </table>
                                                    </div>


                                                    <table class="FixedTable">
                                                        <tr>
                                                            <td style="width: 360px">
                                                                <table>

                                                                    <tr class="FormFieldRow">
                                                                        <td style="width:140px;">
                                                                            <LogLabel [ObjectFieldName]="'CustomerId'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>

                                                                        </td>
                                                                        <td [style.width.px]="ControlColumnWidth">
                                                                            <LogLov [ObjectFieldName]="'CustomerId'"
                                                                                    [SelectedValue]="CustomerId"
                                                                                    [ObjectTableName]="ObjectTableName"
                                                                                    [DataContext]="DataContext"
                                                                                    [LookUpTableName]="'Card'"></LogLov>
                                                                        </td>
                                                                        <td>
                                                                            <div class="MediaFill">
                                                                                <div class="LeftCenter" style="width: 12px; height: 12px;">
                                                                                    <div class="GreenAddButton" [class.GreenAddButtonDisabled]="!IsScreenEnabled" (mousedown)="AddCustomerClicked()"></div>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr *ngIf="CustomerId && IsInlandDomestic" class="FormFieldRow">
                                                                        <td style="width:140px;">
                                                                            <LogLabel [Text]="'Address'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                                                        </td>
                                                                        <td colspan="2">

                                                                            <table>
                                                                                <tr>
                                                                                    <td [style.width.px]="ControlColumnWidth - 18">
                                                                                        <LogLov [ObjectFieldName]="'CustomerAddressId'"
                                                                                                [SelectedValue]="CustomerAddressId"
                                                                                                [ObjectTableName]="ObjectTableName"
                                                                                                [DataContext]="DataContext"
                                                                                                [LookUpTableName]="'Address'"
                                                                                                [DependencyFilter1Value]="CustomerId">
                                                                                        </LogLov>
                                                                                    </td>
                                                                                    <td>
                                                                                        <div style="margin-left: 2px;">
                                                                                            <IconButton [Name]="'Edit'" [IsSmall]="true" (click)="EditAddressClicked()" [disabled]="!CustomerAddressId || !IsScreenEnabled"></IconButton>
                                                                                            <IconButton [Name]="'Add'" [IsSmall]="true" [Left]="3" (click)="AddAddressClicked()" [disabled]="!IsScreenEnabled"></IconButton>
                                                                                        </div>
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>

                                                                    </tr>
                                                                    <tr *ngIf="CustomerId && IsInlandDomestic" class="FormFieldRow" style="height: 80px;">
                                                                        <td [style.width.px]="LabelColumnWidth">
                                                                            <div></div>
                                                                        </td>

                                                                        <td [style.width.px]="ControlColumnWidth">
                                                                            <AddressTemplate [Address]="CustomerAddressList" [Right]="36"></AddressTemplate>
                                                                        </td>
                                                                        <td>
                                                                            <div></div>
                                                                        </td>


                                                                    </tr>


                                                                </table>
                                                            </td>

                                                            <!--<td>
                                                                <div></div>
                                                            </td>-->

                                                           <!-- <td style="width: 330px;"></td>-->
                                                        </tr>
                                                    </table>

                                                    <div style="height:1px; width: 100%; background: #999999; opacity:0.3; margin-top: 5px; margin-bottom: 5px;"></div>
                                                </div>


                                                <!--<div *ngIf="!IsInlandDomestic">
                                                    <div class="SectionTitle">Routings</div>

                                                    <table class="FixedTable">
                                                        <tr>
                                                            <td style="width: 360px">
                                                                <table>
                                                                   <tr class="FormFieldRow">
                                                                        <td   style="width:140px;">
                                                                            <LogLabel [ObjectFieldName]="'FromPortId'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext" [Text]="FromPortText"></LogLabel>
                                                                        </td>
                                                                        <td [style.width.px]="ControlColumnWidth">
                                                                            <LogLov [ObjectFieldName]="'FromPortId'"
                                                                                    [SelectedValue]="FromPortId"
                                                                                    [ObjectTableName]="ObjectTableName"
                                                                                    [DataContext]="DataContext"
                                                                                    [LookUpTableName]="'Port'"
                                                                                    [DependencyFilter1Value]="TransportModeId">
                                                                            </LogLov>
                                                                        </td>
                                                                        <td></td>
                                                                    </tr>

                                                                    <tr  style="width:140px;">
                                                                        <td [style.width.px]="LabelColumnWidth">
                                                                            <LogLabel [ObjectFieldName]="'ToPortId'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext" [Text]="ToPortText"></LogLabel>
                                                                        </td>
                                                                        <td [style.width.px]="ControlColumnWidth">
                                                                            <LogLov [ObjectFieldName]="'ToPortId'"
                                                                                    [SelectedValue]="ToPortId"
                                                                                    [ObjectTableName]="ObjectTableName"
                                                                                    [DataContext]="DataContext"
                                                                                    [LookUpTableName]="'Port'"
                                                                                    [DependencyFilter1Value]="TransportModeId">
                                                                            </LogLov>
                                                                        </td>
                                                                        <td></td>
                                                                    </tr>


                                                                </table>
                                                            </td>

                                                            <td>
                                                                <div></div>
                                                            </td>

                                            </tr>
                                                    </table>

                                                    <div style="height:1px; width: 100%; background: #999999; opacity:0.3; margin-top: 5px; margin-bottom: 5px;"></div>
                                                </div>-->




                                                <div>
                                                    <div class="SectionTitle">General</div>

                                                    <table class="FixedTable">
                                                        <tr>
                                                            <td style="width: 380px">
                                                                <table>
                                                                    <tr class="FormFieldRow">
                                                                        <td style="width:140px;">
                                                                            <LogLabel [ObjectFieldName]="'WarehouseId'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                                                        </td>
                                                                        <td [style.width.px]="ControlColumnWidth">
                                                                            <LogLov [ObjectFieldName]="'WarehouseId'"
                                                                                    [SelectedValue]="WarehouseId"
                                                                                    [ObjectTableName]="ObjectTableName"
                                                                                    [DataContext]="DataContext"
                                                                                    [LookUpTableName]="'Warehouse'">
                                                                            </LogLov>
                                                                        </td>
                                                                        <td></td>
                                                                    </tr>
                                                                    <tr class="FormFieldRow">
                                                                        <td  style="width:140px;">
                                                                            <LogLabel [ObjectFieldName]="'ShipmentId'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                                                        </td>
                                                                        <td [style.width.px]="ControlColumnWidth">
                                                                            <LogLov [ObjectFieldName]="'ShipmentId'"
                                                                                    [SelectedValue]="ShipmentId"
                                                                                    [ObjectTableName]="ObjectTableName"
                                                                                    [DataContext]="DataContext"
                                                                                    [LookUpTableName]="'Shipment'"
                                                                                    (SelectedItemChanged)="ShipmentValueChange($event)"
                                                                                    >
                                                                            </LogLov>
                                                                        </td>
                                                                        <td></td>
                                                                    </tr>

                                                                    <tr class="FormFieldRow">
                                                                        <td style="width:140px;">
                                                                            <LogLabel [ObjectFieldName]="'ExpectedReleaseDate'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                                                        </td>

                                                                        <td [style.width.px]="ControlColumnWidth">
                                                                            <table>
                                                                                <tr>
                                                                                    <td style="width:87px">

                                                                                        <LogDatePicker [ObjectFieldName]="'ExpectedReleaseDate'" [SelectedDateValue]="ExpectedReleaseDate" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext" [HideColumns]="true"></LogDatePicker>
                                                                                    </td>
                                                                                    <td style="width:10px"><div style="width:10px"></div></td>
                                                                                    <td style="width:87px">

                                                                                        <LogDatePicker [ObjectFieldName]="'ExpectedReleaseDate'" [SelectedDateValue]="ExpectedReleaseDate" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext" [HideColumns]="true" [InputType]="'time'" [TimeMode]="12"></LogDatePicker>

                                                                                    </td>
                                                                                    <td></td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                        <td></td>


                                                                    </tr>


                                                                    <tr class="FormFieldRow">
                                                                        <td  style="width:130px;">
                                                                            <LogLabel [ObjectFieldName]="'ActualReleaseDate'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                                                        </td>

                                                                        <td [style.width.px]="ControlColumnWidth">
                                                                            <table>
                                                                                <tr>
                                                                                    <td style="width:87px">

                                                                                        <LogDatePicker [ObjectFieldName]="'ActualReleaseDate'" [SelectedDateValue]="ActualReleaseDate" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext" [HideColumns]="true"></LogDatePicker>
                                                                                    </td>
                                                                                    <td style="width:10px"><div style="width:10px"></div></td>
                                                                                    <td style="width:87px">

                                                                                        <LogDatePicker [ObjectFieldName]="'ActualReleaseDate'" [SelectedDateValue]="ActualReleaseDate" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext" [HideColumns]="true" [InputType]="'time'" [TimeMode]="12"></LogDatePicker>

                                                                                    </td>
                                                                                    <td></td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                        <td></td>


                                                                    </tr>


                                                                </table>
                                                            </td>

                                                            <td>
                                                                <div></div>
                                                            </td>

                                                            <td style="width: 330px;">
                                                                <table>
                                                                    <tr class="FormFieldRow">
                                                                        <td [style.width.px]="LabelColumnWidth">
                                                                            <LogLabel [ObjectFieldName]="'ReleaseBy'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                                                        </td>
                                                                        <td [style.width.px]="ControlColumnWidth">
                                                                            <LogTextBox [ObjectFieldName]="'ReleaseBy'" [Text]="ReleaseBy" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogTextBox>
                                                                        </td>

                                                                    </tr>



                                                                    <tr style="height:5px"><td style="height:5px" colspan="2"><div style="height:5px"></div></td></tr>

                                                                    <tr class="FormFieldRow">
                                                                        <td style="vertical-align:top" [style.width.px]="LabelColumnWidth">
                                                                            <LogLabel [ObjectFieldName]="'Notes'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                                                        </td>
                                                                        <td [style.width.px]="ControlColumnWidth">
                                                                            <LogTextBox [IsMultiline]="true" [ObjectFieldName]="'Notes'" [Text]="Notes" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogTextBox>
                                                                        </td>

                                                                    </tr>
                                                                    <tr style="height:15px"><td style="height:15px" colspan="3"><div style="height:15px"></div></td></tr>
                                                                    <tr class="FormFieldRow">
                                                                        <td style="vertical-align:top" [style.width.px]="LabelColumnWidth">
                                                                            <LogLabel [ObjectFieldName]="'SpecialInstruction'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                                                        </td>
                                                                        <td [style.width.px]="ControlColumnWidth">
                                                                            <LogTextBox [IsMultiline]="true" [ObjectFieldName]="'SpecialInstruction'" [Text]="SpecialInstruction" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogTextBox>
                                                                        </td>
                                                                        <td></td>
                                                                    </tr>

                                                                    <tr style="height:100%">
                                                                        <td colspan="2"><div></div></td>
                                                                    </tr>


                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr style="height:7px"><td style="height:7px" colspan="3"><div style="height:5px"></div></td></tr>
                                                    </table>

                                                    <div style="height:1px; width: 100%; background: #999999; opacity:0.3; margin-top: 10px; margin-bottom: 5px;"></div>
                                                </div>




                                                <div>
                                                    <div class="SectionTitle">Packages</div>

                                                    <table style="height: 20px;">
                                                        <tr>
                                                            <td style="width: 360px; vertical-align: middle;">
                                                                <div class="FillParent" style="text-indent: 40px;">
                                                                    <span style="font-family: Arial; font-size: 11px; color: Gray; font-style:italic;">Please</span>
                                                                    <Hyperlink [IsEnabled]="IsScreenEnabled" (click)="FillMorePackagesDetails('P')">Fill Packages Details</Hyperlink>
                                                                </div>
                                                            </td>
                                                            <td></td>
                                                        </tr>

                                                    </table>
                                                    <table class="FixedTable">
                                                        <tr>
                                                            <td style="width: 360px;">


                                                                <table>

                                                                    <tr style="height:10px;">
                                                                        <td>
                                                                            <div></div>
                                                                        </td>
                                                                    </tr>

                                                                </table>



                                                            </td>


                                                        </tr>
                                                    </table>


                                                </div>




                                            </div>


                                        </div>
                                        </td>
                                    </tr>


                                </table>
                            </td>

                    </tr>
                </table>
            </div>
        </td>
    </tr>

    <tr style="height: 32px;">
        <td style="vertical-align: bottom">
            <table style="height: 22px;">
                <tr>
                    <td>
                        <div></div>
                    </td>

                    <td style="width: 57px;">
                        <button class="Button" (click)="CancelButtonClicked()">Cancel</button>
                    </td>

                    <td style="width: 5px;">
                        <div></div>
                    </td>

                    <td style="width: 57px;">
                        <button class="RedButton" (click)="OkButtonClicked()" [disabled]="!IsScreenEnabled">Create</button>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
