
body{
  background: #FAFBFC !important;
}
h1{
  margin: 0;
}
.sidebar {
  user-select: none;
    margin: 0;
    padding: 0;
    width: 170px;
    background-color: var(--MainColor);
    position: fixed;
    height: 100%;
    overflow: auto;
    text-align: center;
    color: white;
  }
  
  .sidebar a {
    display: block;
    padding: 17px;
    margin: 11px 0px;
    color: #d6d6d6;
    text-decoration: none;
    cursor: pointer;
    font-weight: 100;
    text-align: left;
    padding-left: 30px;
    font-size: 18px;
    border-left: 6px solid var(--MainColor);
  }
   
    .sidebar a.active {
        /* background-color: #4CAF50; */
        color: white;
        font-weight: 700;
        border-left: 6px solid white;
    }
    
    .sidebar a:hover:not(.active) {
        opacity: .8;
        color: white;
    }
    
  div.content {
    margin-left: 170px;
    min-height: calc(100vh - 50px);
    /* background: #FAFBFC; */
    /* padding: 0 46px; */
  }

  .sidebar .avatar > img{
    border-radius: 50%;
    width: 80px;
  }
  .sidebar .user-name{
    color: white;
    font-size: 15px;
    font-weight: 600;
    padding-top: 15px;
  }
  .sidebar .signout{
    color: white;
    font-size: 11px;
    font-weight: 600;
  }

  .sidebar .logo{
    bottom: 50px;
    position: absolute;
    width: 100%;
  }

  .sidebar .logo > img{
    /* width: 120px; */ 
  }

  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: fixed;
      z-index: 1;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 479px) {
    div.content {
      padding: 0 15px;
    }
   
    
    .sidebar { 
      height: 50px; 
    }
    .sidebar a {
      text-align: center;
      float: none;
    }
    .sidebar .logo{
      position: relative;
      top: 0;
      width: fit-content;
      margin: 0 auto;
      padding-top: 12px;
      display: inline-block;
    }

    .sidebar .logo img{
        width: 80px;
    }

    .sidebar .action-buttons{
        width: 50px;
        height: 35px;
        padding-top: 15px;
    }
    .sidebar .right-button{
        float: right;
        
    }
    .sidebar .left-button{
        float: left;
        
    }
    .nav-opened{
        display: block !important;
        position: fixed;
        background: var(--MainColor);
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }
  }
