<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client"
      type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>

  <appSettings>
    
    <!--SQL Server
    <add key="DatabseType" value="msql"/>
    <add key="GlobalConnectionString" value="Data Source=.;Initial Catalog=Logitude_Global;Integrated Security=true"/>
    <add key="MainConnectionString" value="Data Source=.;Initial Catalog=Logitude_Main;Integrated Security=true"/>
    <add key="SystemLogsConnectionString" value="Data Source=.;Initial Catalog=Logitude_SystemLogs;Integrated Security=true"/>
    -->

    <!--Oracle Server-->
    <!--<add key="DatabseType" value="oracle"/>
    <add key="GlobalConnectionString" value="User Id=AMINETCST_GLOBAL;Password=AMINETCST_GLOBAL;Data Source=//unidb2016:1521/amital"/>
    <add key="MainConnectionString" value="User Id=AMINETCST_MAIN;Password=AMINETCST_MAIN;Data Source=//unidb2016:1521/amital"/>
    <add key="SystemLogsConnectionString" value="User Id=AMINETCST_LOGS;Password=AMINETCST_LOGS;Data Source=//unidb2016:1521/amital"/>-->

    <!--Oracle Server-->
    <!--<add key="DatabseType" value="oracle"/>
    <add key="GlobalConnectionString" value="User Id=AMINETCST_GLOBAL;Password=AMINETCST_GLOBAL;Data Source=//localhost:1521/amital"/>
    <add key="MainConnectionString" value="User Id=AMINETCST_MAIN;Password=AMINETCST_MAIN;Data Source=//localhost:1521/amital"/>
    <add key="SystemLogsConnectionString" value="User Id=AMINETCST_LOGS;Password=AMINETCST_LOGS;Data Source=//localhost:1521/amital"/>-->


    <!--Test SQL Server
    <add key="DatabseType" value="msql"/>
    <add key="GlobalConnectionString" value="Data Source=.;Initial Catalog=Logitude2-5_Global;Integrated Security=true"/>
    <add key="MainConnectionString" value="Data Source=.;Initial Catalog=Logitude2-5_Main;Integrated Security=true"/>
    <add key="SystemLogsConnectionString" value="Data Source=.;Initial Catalog=Logitude2-5_SystemLogs;Integrated Security=true"/>
    -->
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
        type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.19.1"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>

</configuration>