<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>

  <appSettings>
    
    <!--SQL Server
    <add key="DatabseType" value="msql"/>
    <add key="GlobalConnectionString" value="Data Source=.;Initial Catalog=Logitude_Global;Integrated Security=true"/>
    <add key="MainConnectionString" value="Data Source=.;Initial Catalog=Logitude_Main;Integrated Security=true"/>
    <add key="SystemLogsConnectionString" value="Data Source=.;Initial Catalog=Logitude_SystemLogs;Integrated Security=true"/>
    -->

    
    <!--Oracle Server
    <add key="DatabseType" value="oracle"/>
    <add key="GlobalConnectionString" value="User Id=LogitudeGlobal;Password=Saas256;Data Source=//localhost:1521/xe"/>
    <add key="MainConnectionString" value="User Id=LogitudeMain;Password=Saas256;Data Source=//localhost:1521/xe"/>
    <add key="SystemLogsConnectionString" value="User Id=LogitudeSystemLogs;Password=Saas256;Data Source=//localhost:1521/xe"/>
    -->
    
    <!--Test SQL Server-->
    <add key="DatabseType" value="msql"/>
    <add key="GlobalConnectionString" value="Data Source=.;Initial Catalog=Test_Global;Integrated Security=true"/>
    <add key="MainConnectionString" value="Data Source=.;Initial Catalog=Test_Main;Integrated Security=true"/>
    <add key="SystemLogsConnectionString" value="Data Source=.;Initial Catalog=Test_SystemLogs;Integrated Security=true"/>
    
    
  </appSettings>

</configuration>