.mainTable_top h2 {
	font-size: 16px;
	line-height: 20px;
	color: var(--blue);
}

.mainTable_top>ul {
	/* display: flex;
	position: sticky;
	align-items: center;
	justify-content: center;
	width: 50%;
	font-weight: 700;
	gap: 110px;
	margin-top: 10px;
	font-size: 12px;
	overflow: hidden; */
	
	align-items: center;
	font-weight: 700;
	margin-top: 10px;
	font-size: 12px;
	overflow: hidden;
	justify-content: space-evenly;
	position: absolute;
	/* bottom: 13px;
	left: 62vh;
	width: 82vh;
	height: 22px; */
	bottom: 5px;
    /* left: 60vh; */
    left: 40vh;
    width: 82vh;
    height: 22px;
    gap: 20px;
}

.mainTable_top>ul>li {
	list-style-type: none;
}

.mainTable_top {
	/* position: relative;
	top: 0px; */
	/* top: 220px; */
	position: absolute;
	top: 75px;
	right: 100px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	white-space: nowrap;
}

.searchResults_close:before {
	content: '|';
	position: absolute;
	left: 280px;
	top: 3px;
	font-size: 22px;
	color: var(--greyRO);
}

.searchResults_close a {
	display: flex;
	width: 85px;
	gap: 4px;
	position: relative;
	left: 180px;
	top: -3px;
	align-items: center;
	text-decoration: none;

	& i {
		font-size: 15px;
	}

	span {
		left: -20px;
	}

	&:hover {
		color: var(--blue);
		cursor: pointer;
	}
}


@media (max-width: 1399px) {
	.CategoriesTable {
		display: none !important;
	}
}

@media (min-width: 1400px) {
	.CategoriesTable {
		display: flex !important;
	}
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
	.mainTable_top{
		top: 230px;
	}
}
