.mainTable_top h2 {
	font-size: 16px;
	line-height: 20px;
	color: var(--blue);
}

.mainTable_top>ul {
	align-items: center;
	font-weight: 700;
	margin-top: 10px;
	font-size: 12px;
	overflow: hidden;
	justify-content: space-evenly;
	position: absolute;
	bottom: 5px;
	/* left: 40vh; */
	/* width: 82vh; */
	left: 353px;
	max-width: 543px;
    min-width: 543px;
	height: 22px;
	gap: 20px;
}

.mainTable_top>ul>li {
	list-style-type: none;
}

.mainTable_top {
	/* position: relative;
	top: 0px; */
	/* top: 220px; */
	position: absolute;
	top: 75px;
	margin-right: 100px;
	/* right: 100px; */
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	white-space: nowrap;
}

.searchResults_close:before {
	content: '|';
	position: absolute;
	left: 280px;
	top: 3px;
	font-size: 22px;
	color: var(--greyRO);
}

.searchResults_close a {
	display: flex;
	width: 85px;
	gap: 4px;
	position: relative;
	left: 180px;
	top: -3px;
	align-items: center;
	text-decoration: none;

	& i {
		font-size: 15px;
	}

	span {
		left: -20px;
	}

	&:hover {
		color: var(--blue);
		cursor: pointer;
	}
}


@media (max-width: 1199px) {
	.CategoriesTable {
		display: none !important;
	}
}

@media (min-width: 1200px) {
	.CategoriesTable {
		display: flex !important;
	}
}

/* Media Queries for Responsive Design */
@media (max-width: 800px) {
	.mainTable_top {
		top: 230px;
	}
}

@media (min-width: 801px) {
	.mainTable_top {
		top: 176px;
	}
}
@media (min-width: 1010px) {
	.mainTable_top {
		top: 75px;
	}
}
