<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Info"
      internalLogFile="internal-nlog.log">

  <!-- Targets: where to write logs -->
	<targets>
		<!-- File log: one file per day under 'logs' folder next to the exe -->
		<target xsi:type="File"
				name="file"
				fileName="${basedir}/logs/multi-queue-distributor-${shortdate}.log"
				layout="[${longdate} ${uppercase:${level}}] ${logger}: ${message}${onexception:inner=${newline}${exception:format=tostring}}"
				archiveNumbering="Rolling"
				maxArchiveFiles="14" />

		<!-- Optional: console for dev (won't matter in Windows Service) -->
		<target xsi:type="Console"
				name="console"
				layout="[${longdate} ${uppercase:${level}}] ${logger}: ${message}${onexception:inner=${newline}${exception:format=tostring}}" />
	</targets>


	<!-- Rules: which loggers go where -->
  <rules>
    <!-- Everything from Info and above to file -->
    <logger name="*" minLevel="Info" writeTo="file" />

    <!-- During development you can also send to console -->
    <logger name="*" minLevel="Info" writeTo="console" />
  </rules>
</nlog>
