<div class="TabHolder">
    <table>
        <tr class="TabTitleRow">
            <td>{{'Container.TH.Statuses' | TextCodeTranslationPipe}}</td>
        </tr>

        <tr style="height: 5px;">
            <td>
                <div></div>
            </td>
        </tr>

        <tr style ="vertical-align:top;">
            <td>
                <div class="MediaFill">
                    <logitude-edit-grid GridWidth="100%" GridHeight="100%" [ItemSource]="ItemsSource" [UseVirtuallization]="IsUsingVirtuallization">

                        <!-- Status -->
                        <log-column [width]="'250'" [header]="'Status'">
                            <ng-template let-item>
                                <log-cell-template #logcelltemplate [IsEnabled]="false">
                                    {{item.StatusName}}
                                </log-cell-template>
                            </ng-template>
                        </log-column>

                        <!-- Location -->
                        <log-column [width]="'80'" [header]="'Location'">
                            <ng-template let-item>
                                <log-cell-template #logcelltemplate [IsEnabled]="false">
                                    {{item.LocationCode}}
                                </log-cell-template>
                            </ng-template>
                        </log-column>

                        <!-- Event Date -->
                        <log-column [width]="'140'" [header]="'Event Date'">
                            <ng-template let-item>
                                <log-cell-template #logcelltemplate [IsEnabled]="false">
                                    {{item.EventDate | DateTimePipe:'DT'}}
                                </log-cell-template>
                            </ng-template>
                        </log-column>

                        <!-- Received date -->
                        <log-column [width]="'140'" [header]="'Received Date'">
                            <ng-template let-item>
                                <log-cell-template #logcelltemplate [IsEnabled]="false">
                                    {{item.ReceivingDate | DateTimePipe:'DT'}}
                                </log-cell-template>
                            </ng-template>
                        </log-column>

                        <!-- Vessel / Voyage -->
                        <log-column [width]="'250'" [header]="'Vessel / Voyage'">
                            <ng-template let-item>
                                <log-cell-template #logcelltemplate [IsEnabled]="false">
                                    {{item.VesselName}} / {{item.VoyageNumber}}
                                </log-cell-template>
                            </ng-template>
                        </log-column>

                        <!-- Departure / Arrival Date -->
                        <log-column [width]="'250'" [header]="'Departure / Arrival Date'">
                            <ng-template let-item>
                                <log-cell-template #logcelltemplate [IsEnabled]="false">
                                    {{item.DepartureArrivalDateInfo}} : {{item.DepartureArrivalDate | DateTimePipe:'DT'}}
                                </log-cell-template>
                            </ng-template>
                        </log-column>

                        <!-- Source -->
                        <log-column [width]="'200'" [header]="'Source'">
                            <ng-template let-item>
                                <log-cell-template #logcelltemplate [IsEnabled]="false">
                                    {{item.StatusSourceName}}
                                </log-cell-template>
                            </ng-template>
                        </log-column>

                    </logitude-edit-grid>
                </div>
            </td>
            </tr>
</table>
</div>
