<#@ template debug="false" hostspecific="true" language="C#"#>
<#@ Assembly Name="System.Xml.dll" #>
<#@ Assembly Name="System.Xml.Linq.dll" #>

<#@ Assembly Name="Microsoft.CSharp.dll" #>
<#@ Assembly Name="mscorlib.dll" #>


<#@ Assembly name="$(SolutionDir)packages\AmazedSaint.ElasticObject.1.2.0\lib\net40\AmazedSaint.Elastic.dll" #>

<#@ Import Namespace="System.Xml" #>
<#@ Import Namespace="System.Xml.Linq" #>
<#@ Import Namespace="AmazedSaint.Elastic" #>
<#@ Import Namespace="AmazedSaint.Elastic.Lib" #>
<#@ Import Namespace="System.Collections.Generic" #>
<#@ output extension=".cs" #>

<#@ import Namespace="System.IO" #>

//===================

 
<#@ Assembly Name="System.Windows.Forms" #>
<#@ import namespace="System" #>
<#@ import namespace="System.IO" #>
<#@ import namespace="System.Diagnostics" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Collections" #>
<#@ import namespace="System.Collections.Generic" #> 
<#@ assembly name="EnvDTE" #> 
<#@ import namespace="EnvDTE" #>
<#@ include file="T4Toolbox.tt" #>
<#@ assembly name="Microsoft.VisualStudio.Shell.11.0" #>
<#@ assembly name="Microsoft.VisualStudio.Shell.Interop" #>
<#@ import namespace="Microsoft.VisualStudio.Shell" #>
<#@ import namespace="Microsoft.VisualStudio.Shell.Interop" #>
//===================

<#@ template debug="true" #>
<#+

public void GenerateAllPMTS(string xmlFilesSourceFolder,string classFilesSourceFolder,string destinationFolder)
{
	// System.Diagnostics.Debugger.Launch();
//Console.WriteLine(destinationFolder);
 

 string templateDirectory = Path.GetDirectoryName(Host.TemplateFile);
 


	//======================================== classes .cs

	//string pmsourceFolderPath = "../../../../Logitude.BL/CommonDataModel/EntityPMs";
	//string templateDirectory = Path.GetDirectoryName(Host.TemplateFile);
    string classSourceFilePath = Path.Combine(templateDirectory, classFilesSourceFolder);
	string classesDirectoryFinalPath = System.IO.Path.GetFullPath(classSourceFilePath);


    string xmlSourceFilePath = Path.Combine(templateDirectory, xmlFilesSourceFolder);
	string xmlDirectoryfinalPath = System.IO.Path.GetFullPath(xmlSourceFilePath);
	List<string> xmlFiles = new List<string>();
	foreach (string xmlfilePath in Directory.EnumerateFiles(xmlDirectoryfinalPath, "*.lxml"))
	{
		var fileNameWithoutExtension = Path.GetFileNameWithoutExtension(xmlfilePath);
		xmlFiles.Add(fileNameWithoutExtension);
	}

foreach (string classfilePath in Directory.EnumerateFiles(classesDirectoryFinalPath, "*.cs"))
{

    var fileNameWithoutExtension = Path.GetFileNameWithoutExtension(classfilePath);
	//Console.WriteLine(fileNameWithoutExtension);

	string tableName = fileNameWithoutExtension.Substring(0,fileNameWithoutExtension.Length - 2);
	string xmlFilePath = xmlDirectoryfinalPath + @"\"  +tableName + ".lxml";
	//var entity = GetXmlDocumentFromFile(xmlFilePath);

	 var xpath= Host.ResolvePath(xmlFilePath);
	//List<string> xmlfiles = Directory.EnumerateFiles(xmlDirectoryfinalPath, "*.lxml");
	bool exists = xmlFiles.Contains(tableName);//File.Exists(xmlFilePath);//false;//Directory.EnumerateFiles(xmlDirectoryfinalPath);
	if(exists)
    {
		string entityClassFilePath = classesDirectoryFinalPath + @"\"  +fileNameWithoutExtension + ".cs";
		GeneratePM(entityClassFilePath,xmlFilePath,destinationFolder+"/"+fileNameWithoutExtension+".ts");
	}

}
}
#>

<#+  

public void GeneratePM(string classFilePath,string xmlFilePath,string outputFilePath)
{
	

    var entity = GetXmlDocumentFromFile(xmlFilePath);

	var properties = new List<CodeProperty>();
	var dte = (DTE)TransformationContext.Current.GetService(typeof(DTE));
    ProjectItem projectItem = dte.Solution.FindProjectItem(classFilePath);
	 var path = projectItem.Properties.Item("FullPath").Value;
	FileCodeModel codeModel = projectItem.FileCodeModel;
	CodeElements elements = codeModel.CodeElements;
	if(entity.NoTS.GetType() == typeof(string))
      	{
	    	if(entity.NoTS == "true")
	    	{
	    		return;
	    	}
	    } 
	 if( entity.IsClosed.GetType() == typeof(string))
      	{
	    	if(entity.IsClosed == "true")
	    	{
	    		return;
	    	}
	    } 

	//PrintPMProperties(elements,properties);
	WritePMMethod(entity,elements);
	SaveFileOutput(outputFilePath);
}



 
#>



<#+


 private void WritePMMethod(dynamic entity,CodeElements elements)
{
	 if(entity.ObjectTableName.GetType() != typeof(string))
		 return;

	string tableName = entity.ObjectTableName.Trim('"');
	string pmName = tableName + "PM";
	//string dBTableName = entity.DBTableName.Trim('"');
	string schema ="";
	string importString = BuildImportEntitesString(entity, elements);
	string parentname = "";
	bool hasParent = false;
	if(entity.ParentTableName.GetType() == typeof(string))
    {
	   parentname = entity.ParentTableName.ToString().Trim('"') + "PM";
	   hasParent = true;
    }

	bool ApplyOnPropertyChangedCode = false;
	if(entity.ApplyOnPropertyChangedCode.GetType() == typeof(string)  && entity.ApplyOnPropertyChangedCode == "true")
    {
	   ApplyOnPropertyChangedCode = true;
	   importString  += Environment.NewLine + "import {"+pmName+"CustomCode} from '../EntityPMCustomCode/" + pmName + "CustomCode';";
    }


	 
	if(tableName.ToString().Trim('"').Contains("."))
    {
		tableName = tableName.ToString().Split('.')[1];
		//dBTableName = dBTableName.ToString().Split('.')[1];
		schema = entity.ObjectTableName.Trim('"').ToString().Split('.')[0];

		
		
          
    }
	else{

		//string[] namespacearr = pmnamespacestring.ToString().Split('.');
		//string projectname = namespacearr[1].Replace("Lib","");
		//classlevelname= projectname + "ClassLevelValidator";
		//validationclassname = projectname + "ValidationClass";
		 
    }

 

	//Logitude.BookingLib.BL.EntityPMs
	// string validatorsnamespace =pmnamespacestring.ToString().Substring(0,pmnamespacestring.ToString().LastIndexOf('.')) + ".Validators;";

	 

   #>
//------------------------------------------------------------------------------
// <auto-generated>
//     This code was generated by a logitude.
//     Changes to this file may cause incorrect behavior and will be lost if
//     the code is regenerated.
// </auto-generated>
//------------------------------------------------------------------------------
//------------------------------------------------------------------------------
<#= importString #>
import {UIProperties, UIProperty} from '../../Infrastructure/Components/LogitudeComponents/UIProperties';
import {ServiceHelper} from '../../Infrastructure/Utilities/ServiceHelper';
import {ServiceLocator} from '../../Infrastructure/Locators/ServiceLocator';
import {Output, EventEmitter}  from '@angular/core';
import {PropertyChangedArgs} from '../../Infrastructure/EventEmitterArgs/PropertyChangedArgs';
import {CustomFieldClass} from '../../Infrastructure/DataContracts/CustomFieldClass';


export class <#=tableName #>PM {

      @Output() PropertyChanged: EventEmitter<PropertyChangedArgs> = new EventEmitter<PropertyChangedArgs>();
      public UIProperties: UIProperties;
	  <#+
if(hasParent)
{
#>      <#+
#>constructor(_entityParentPM: any) {
          this.EntityParentPM = _entityParentPM;
          this.UIProperties = new UIProperties(this); 
          this.IsDirty = false;
      }

<#+
}
else{
#>constructor() {
          this.UIProperties = new UIProperties(this); 
          this.IsDirty = false;
      }
 <#+
} 
	   #>
	 
    
<#+
var properties = new List<CodeProperty>();
PrintPMProperties(elements,properties,tableName);
 	//foreach(var field in entity["field"])  //get all classes
	// { 
	//	  if( field.HasPMField.GetType() == typeof(string))
     //      {
     //        if(field.HasPMField == "false")
     //          {
     //             continue;
      //         }
     //      }
		//   string type = GetDataType(field);
	//	   if(type == "List" || (field.IsMulti.GetType() == typeof(string) && field.IsMulti == "true"))
      //     {
		//	    WritePMList(field);
     //      }
		//   else
       //    {
	    //      WritePMProperty(field);

       //    }
	// }

	  

	 #>

    public OldEntityPM: <#=tableName #>PM;
	<#+
	 if(hasParent){
		 #>
    
	private entityParentPM: any;
    public get EntityParentPM() { return this.entityParentPM; }
    public set EntityParentPM(newValue: any) { this.entityParentPM = newValue; }

    public UniqueKey: string;
	 <#+
     }
	 #>
	
    public IsDirty: boolean;
    MarkAsDirty(propertyName:string = null) {
        this.IsDirty = true;
		  <#+
	 if(hasParent){
	 #>if (this.EntityParentPM) {
            this.EntityParentPM.MarkAsDirty();
        }<#+}
#>	
        if (propertyName != null) {
            this.PropertyChanged.emit(new PropertyChangedArgs(propertyName,this));
<#+
	 if(ApplyOnPropertyChangedCode)
     {
#>
            <#=tableName #>PMCustomCode.ApplyEntityChanged(propertyName, this);
<#+
     }
#>
            ServiceLocator.RulesValidator.ApplyEntityChangedRules(propertyName, this, "<#=tableName #>");
           
        }
    }
    private MyClone: <#=tableName #>PM;

    public CloneMe() {
        ServiceHelper.CloneEntityPM(this);
    }

    public RejectChanges() {
        ServiceHelper.RejectEntityPMChanges(this);
    }

}
<#+
    
}
#>

<#+
private void PrintPMProperties(CodeElements elements, IList<CodeProperty> properties,string tableName)
{

 foreach (CodeElement element in elements)
  {
    CodeProperty property = element as CodeProperty;
    if (property != null)
    {
		
		PrintPMProperty(element,property,tableName);
		properties.Add(property);
    } 
    PrintPMProperties(element.Children, properties,tableName);
  }
}

private void PrintPMProperty(CodeElement element,CodeProperty property,string tableName)
{
	string[] propTypeArr = property.Type.AsString.Split('.');
	string propType = propTypeArr[propTypeArr.Length  - 1];
	string propName = element.Name;


	string type = GetCodePropertyDataType(property); 
    string privatepropname = FirstCharacterToLower(propName);
	string publicpropname = propName;
	 if (property.Attributes.OfType<EnvDTE.CodeAttribute>().Any(a => a.Name == "Key"))
        {
         
        }

		
		if(type == "List" )
        {
		   WritePMListProperty(property,element);
			
        }
		else
        {
	      WritePMProperty(property,element,tableName);
        }
	 
}

#>

<#+
public string BuildImportEntitesString(dynamic entity,CodeElements elements)
{
	string entityPmName = entity.ObjectTableName.Trim('"') + "PM";
	string importentitystring = "";
	if(entity.ParentTableName.GetType() == typeof(string))
    {
		string parentname = entity.ParentTableName.ToString().Trim('"') + "PM";
		if( parentname != entityPmName)
        {
			
			importentitystring += Environment.NewLine + "import {"+parentname+"} from './" + parentname + "';";
        }
    }

	 
 
	 var properties = new List<CodeProperty>();
	 List<string> multiImpStrings =  new List<string>();
    BuildImportForMulti(elements,properties,multiImpStrings,entityPmName);
	foreach(var s in multiImpStrings)
    {
		if(!importentitystring.Contains(s))
        {
		  importentitystring += Environment.NewLine + s;
        }
    }
	//foreach(var field in entity["field"])  //get all classes
	// { 
		//  if( field.HasPMField.GetType() == typeof(string))
       //    {
         //    if(field.HasPMField == "false")
         //      {
         //         continue;
         //      }
         //  }
		//   string type = GetDataType(field);
		//   if(type == "List" || (field.IsMulti.GetType() == typeof(string) && field.IsMulti == "true"))
        //   {
		//	    string pmname = field.MultiTableName.ToString().Trim('"') + "PM";
		//		importentitystring += Environment.NewLine + "import {"+pmname+"} from './" + pmname + "';";

         //  }
		   
	 //}

	 return importentitystring;
}

private void BuildImportForMulti(CodeElements elements, IList<CodeProperty> properties, List<string> stringsList,string entityPmName)
{
  
 foreach (CodeElement element in elements)
  {
    CodeProperty property = element as CodeProperty;
    if (property != null)
    {
		
		BuildImportForListProperty(element,property,stringsList,entityPmName);
		properties.Add(property);
    } 
    BuildImportForMulti(element.Children, properties,stringsList,entityPmName);
  }


   

}

private void BuildImportForListProperty(CodeElement element,CodeProperty property,List<string> stringsList,string entityPmName)
{
	 
 
	string type = GetCodePropertyDataType(property); 
	if(type == "List" && entityPmName.ToLower() != "stringpm")
     {
		    string pmname =  GetPmListPropertyTableName(property);
	   	 string importentitystring = Environment.NewLine + "import {"+pmname+"} from './" + pmname + "';";

         string fullTypeName = property.Type.AsString;
         string tableNameSpace = fullTypeName.Substring(fullTypeName.IndexOf("<") + 1, (fullTypeName.IndexOf(">") - fullTypeName.IndexOf("<") - 1));
		 string[] nameArr = tableNameSpace.Split('.');
         string  modelName = nameArr.Length > 1 ? nameArr[1]:null;
            if(!string.IsNullOrEmpty(modelName) && modelName != "BL"){
                importentitystring = Environment.NewLine + "import {"+pmname+"} from './../../" +modelName +"/EntityPMs/" + pmname + "';";
            }

		 if(!stringsList.Contains(importentitystring) && pmname.ToLower() != "string" &&  pmname != entityPmName)
         {
		   stringsList.Add(importentitystring);
         }
	 ////import { LedgerTransactionPM } from './../../Accounting/EntityPMs/LedgerTransactionPM';
// System.Collections.Generic.List<Logitude.Accounting.Def.EntityPMs.LedgerTransactionPM>     
 //System.Collections.Generic.List<Logitude.BL.InvoiceModel.EntityPMs.APPaymentInvoicePM>      
	  }

	  
}

 #>

<#+
public void WritePMProperty(CodeProperty property,CodeElement element,string tableName)
{
	string propName = element.Name;
	string type = GetCodePropertyDataType(property); 
    string privatepropname = FirstCharacterToLower(propName);
	string publicpropname = FirstCharacterToUpper(propName);//propName;
if(type=="CustomFieldClass")
{
	#>
    private <#= privatepropname #>: <#= type #>;
    public get <#= publicpropname #>() {if(!this.<#= privatepropname #>){ this.<#= privatepropname #> = new <#= type #>(null, "<#= publicpropname #>", "<#=tableName #>");} return this.<#= privatepropname #>; }
    public set <#= publicpropname #>(newValue: <#= type #>) {  this.<#= privatepropname #> = newValue; this.MarkAsDirty("<#= publicpropname #>");  }
       
	 
<#+ 
}
else
{
	#>
    private <#= privatepropname #>: <#= type #>;
    public get <#= publicpropname #>() { return this.<#= privatepropname #>; }
    public set <#= publicpropname #>(newValue: <#= type #>) { if (this.<#= privatepropname #> != newValue) { this.<#= privatepropname #> = newValue; this.MarkAsDirty("<#= publicpropname #>"); } }
       
	 
<#+ 
}
  
 }
#>



<#+
public void WritePMListProperty(CodeProperty property,CodeElement element )
{ 
	string propName = element.Name;
	string privatepropname = FirstCharacterToLower(propName);
	string publicpropname = propName;
	string multitablename = GetPmListPropertyTableName(property);
	bool isComposition = false;
	 if (property.Attributes.OfType<EnvDTE.CodeAttribute>().Any(a => a.Name == "Composition"))
        {
          isComposition = true;
        }

	if(multitablename.ToLower() == "string" || publicpropname.EndsWith("ChangeSet"))
    {
		  
		 #>

    public <#= publicpropname #>: Array<<#= multitablename #>>= [];
		 <#+
    }
	else{
	#>
     
	private <#= privatepropname #>: <#= multitablename #>[];
    get  <#= publicpropname #>() {
        if (this.<#= privatepropname #> == null) {
            this.<#= privatepropname #> = [];
        }

        return this.<#= privatepropname #>;
    }
    set  <#= publicpropname #>(newValue: <#= multitablename #>[]) {
        if (this.<#= privatepropname #> != newValue) {
            this.<#= privatepropname #> = newValue;
        }
    }
<#+ if(isComposition)
{
#>
    public Add<#= multitablename #>(item: <#= multitablename #>) {
        if (item != null) {
            var index = this.<#= publicpropname #>.indexOf(item);
            if (index == -1) {

                item.EntityParentPM = this;

                this. <#= publicpropname #>.push(item);
                this.MarkAsDirty();
            }
        }
    }
    public Remove<#= multitablename #>(item: <#= multitablename #>) {
        if (item != null) {
            var index = this.<#= publicpropname #>.indexOf(item);
            if (index > -1) {
                this. <#= publicpropname #>.splice(index, 1);
                this.MarkAsDirty();
            }
        }
    }
	<#+
}
#>
    //public <#= publicpropname #>: Array<<#= multitablename #>PM>= [];
 <#+ 
    }
}
#>



<#+
//Create an elastic object


#>


<#+

private string GetPmListPropertyTableName(CodeProperty property)
{
	string tablename = "";
	string fullTypeName = property.Type.AsString;
			string typecode = "";
			if(fullTypeName.Contains("System.Collections.Generic.List"))
            {
				typecode = "List";

				//string[] propTypeArr = property.Type.AsString.Split('.');
	            //fullTypeName = propTypeArr[propTypeArr.Length  - 1];
				//tablename = fullTypeName.Substring(fullTypeName.IndexOf("<"), (fullTypeName.IndexOf(">") - fullTypeName.IndexOf("<")));
     
 
				 
				string tableNameSpace = fullTypeName.Substring(fullTypeName.IndexOf("<") + 1, (fullTypeName.IndexOf(">") - fullTypeName.IndexOf("<") - 1));
				string[] nameArr = tableNameSpace.Split('.');
				 tablename = nameArr[nameArr.Length - 1];
            }


			return tablename;
}


 private string GetCodePropertyDataType(CodeProperty property)
        {
					//System.Collections.Generic.List<Logitude.BL.CommonDataModel.EntityPMs.AddressPM>
	            //System.DateTime?

			string fullTypeName = property.Type.AsString;
			string typecode = "";
			if(fullTypeName.Contains("System.Collections.Generic.List"))
            {
				typecode = "List";
            }
			else
            {
				string[] propTypeArr = property.Type.AsString.Split('.');
	            typecode = propTypeArr[propTypeArr.Length  - 1];
            }


		   if(fullTypeName.Contains("CustomFieldClass"))
            {
				return "CustomFieldClass";
            }

			typecode = typecode.Replace("?","").ToLower();
 
			string result = "string";
            if (typecode == "bool")
            {
                result = "boolean";
            }
            
        if (typecode == "string")
            {
                result = "string";
            }
            if (typecode == "int")
            {
                result = "number";
            }

            if (typecode == "date" || typecode == "datetime")
            {
                result = "Date";
            }

            if (typecode == "double" || typecode == "decimal")
            {
                result = "number";
            }

			 
			if(typecode == "list")
            {
				result = "List";
            }

			if(typecode == "Byte[]")
            {
				result = "any";
            }
            
        if(result == "string" && fullTypeName.Contains("Logitude.")){
            result = "any";
        }
			
			return result;
        }


#>





