<#@ template  debug="true" hostSpecific="true" #>
<#@ output extension=".cs" #>

<#@ Assembly Name="System.Windows.Forms" #>
<#@ import namespace="System" #>
<#@ import namespace="System.IO" #>
<#@ import namespace="System.Diagnostics" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Collections" #>
<#@ import namespace="System.Collections.Generic" #> 
<#@ assembly name="EnvDTE" #> 
<#@ import namespace="EnvDTE" #>
<#@ include file="T4Toolbox.tt" #>

<#
#>

<#+
public void GenerateAllListTS(string xmlFilesSourceFolder,string classFilesSourceFolder,string destinationFolder)
{


	//==---00000000000000000000000000
	
 string templateDirectory = Path.GetDirectoryName(Host.TemplateFile);
 


	//======================================== classes .cs

	//string pmsourceFolderPath = "../../../../Logitude.BL/CommonDataModel/EntityPMs";
	//string templateDirectory = Path.GetDirectoryName(Host.TemplateFile);
    string classSourceFilePath = Path.Combine(templateDirectory, classFilesSourceFolder);
	string classesDirectoryFinalPath = System.IO.Path.GetFullPath(classSourceFilePath);


    string xmlSourceFilePath = Path.Combine(templateDirectory, xmlFilesSourceFolder);
	string xmlDirectoryfinalPath = System.IO.Path.GetFullPath(xmlSourceFilePath);
	List<string> xmlFiles = new List<string>();
	foreach (string xmlfilePath in Directory.EnumerateFiles(xmlDirectoryfinalPath, "*.lxml"))
	{
		var fileNameWithoutExtension = Path.GetFileNameWithoutExtension(xmlfilePath);
		xmlFiles.Add(fileNameWithoutExtension);
	}

foreach (string classfilePath in Directory.EnumerateFiles(classesDirectoryFinalPath, "*.cs"))
{

    var fileNameWithoutExtension = Path.GetFileNameWithoutExtension(classfilePath);
	//Console.WriteLine(fileNameWithoutExtension);
	
	string tableName = fileNameWithoutExtension.Substring(0,fileNameWithoutExtension.Length - 4);
	 
	string xmlFilePath = xmlDirectoryfinalPath + @"\"  +tableName + ".lxml";
	//var entity = FromPMFile(xmlFilePath);

	 var xpath= Host.ResolvePath(xmlFilePath);
	//List<string> xmlfiles = Directory.EnumerateFiles(xmlDirectoryfinalPath, "*.lxml");
	bool exists = xmlFiles.Contains(tableName);//File.Exists(xmlFilePath);//false;//Directory.EnumerateFiles(xmlDirectoryfinalPath);
	if(exists)
    {
		 
	    BuildClass(classesDirectoryFinalPath,fileNameWithoutExtension);
		string outputFilePath = destinationFolder+"/"+fileNameWithoutExtension+".ts";
	 
		SaveFileOutput(outputFilePath);
	}

}
}
#>

<#+

private void BuildClass(string filesDirecotyPath,string className)
{
 
    filesDirecotyPath = System.IO.Path.GetFullPath(filesDirecotyPath) + @"\" + className + ".cs";

	var properties = new List<CodeProperty>();
	string fileName = className + ".cs";
	var dte = (DTE)TransformationContext.Current.GetService(typeof(DTE));
    ProjectItem projectItem = dte.Solution.FindProjectItem(filesDirecotyPath);
	if(projectItem == null)
		return;
	 var path = projectItem.Properties.Item("FullPath").Value;
	

	FileCodeModel codeModel = projectItem.FileCodeModel;
	CodeElements elements = codeModel.CodeElements;

	#>
//------------------------------------------------------------------------------
// <auto-generated>
//     This code was generated by a logitude.
//     Changes to this file may cause incorrect behavior and will be lost if
//     the code is regenerated.
// </auto-generated> <#= Path.GetFileName(Host.TemplateFile) #>
//------------------------------------------------------------------------------

export class <#=className #> {
   <#+
	#>
	<#+
	this.PrintListProperties(elements,properties);

#>

}
<#+
}


private void PrintListProperties(CodeElements elements, IList<CodeProperty> properties)
{

 foreach (CodeElement element in elements)
  {
    CodeProperty property = element as CodeProperty;
    if (property != null)
    {
		
		PrintListProperty(element,property);
		properties.Add(property);
    } 
    PrintListProperties(element.Children, properties);
  }
}

private void PrintListProperty(CodeElement element,CodeProperty property)
{
	//string[] propTypeArr = property.Type.AsString.Split('.');
	//string propType = propTypeArr[propTypeArr.Length  - 1];
	string propName = element.Name;
 
	string type = GetListClassDataType(property); 
    string privatepropname = FirstCharacterToLower(propName);
	string publicpropname = propName;
	
	#>
	<#= publicpropname #>: <#= type #>;
	<#+ 

	 
}

 
 private string GetListClassDataType(CodeProperty property)
        {
				//System.Collections.Generic.List<Logitude.BL.CommonDataModel.EntityPMs.AddressPM>
	            //System.DateTime?

			string fullTypeName = property.Type.AsString;
			string typecode = "";
			if(fullTypeName.Contains("System.Collections.Generic.List"))
            {
				 
				 string tableNameSpace = fullTypeName.Substring(fullTypeName.IndexOf("<") + 1, (fullTypeName.IndexOf(">") - fullTypeName.IndexOf("<") - 1));
				 string[] nameArr = tableNameSpace.Split('.');
				 string tablename = nameArr[nameArr.Length - 1];
				 typecode = "Array<" + tablename + ">";
				return typecode;
            }
			else
            {
				string[] propTypeArr = property.Type.AsString.Split('.');
	            typecode = propTypeArr[propTypeArr.Length  - 1];
            }


			typecode = typecode.Replace("?","").ToLower();
			string result = "string";
            if (typecode == "bool")
            {
                result = "boolean";
            }
            if (typecode == "int")
            {
                result = "number";
            }

            if (typecode == "date" || typecode == "datetime")
            {
                result = "Date";
            }

            if (typecode == "double" || typecode == "decimal")
            {
                result = "number";
            }

			 
			if(typecode == "list")
            {
				result = "List";
            }

			if(typecode == "Byte[]")
            {
				result = "any";
            }
            
			
			return result;
        }
































//=========================================================================
 

#>
