<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IActivityWcfService" />
                <binding name="BasicHttpBinding_IContactWcfService" />
                <binding name="BasicHttpBinding_ICustomerWcfService" />
                <binding name="BasicHttpBinding_IDocumentInWcfService" />
                <binding name="BasicHttpBinding_IDocumentTypeWcfService" />
                <binding name="BasicHttpBinding_ILoginWcfService" />
                <binding name="BasicHttpBinding_IOpportunityWcfService" />
                <binding name="BasicHttpBinding_IQuoteWcfService" />
                <binding name="BasicHttpBinding_IShipmentWcfService" />
                <binding name="BasicHttpBinding_IFeatureWcfService" />
                <binding name="BasicHttpBinding_ITotangoWcfService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://rd00155d871c8c/WcfApi/LoginWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILoginWcfService"
                contract="LoginWcfServiceReference.ILoginWcfService" name="BasicHttpBinding_ILoginWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/ShipmentWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IShipmentWcfService"
                contract="ShipmentWcfServiceReference.IShipmentWcfService"
                name="BasicHttpBinding_IShipmentWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/DocumentTypeWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDocumentTypeWcfService"
                contract="DocumentTypeWcfServiceReference.IDocumentTypeWcfService"
                name="BasicHttpBinding_IDocumentTypeWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/FeatureWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFeatureWcfService"
                contract="FeatureWcfServiceReference.IFeatureWcfService" name="BasicHttpBinding_IFeatureWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/TotangoWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITotangoWcfService"
                contract="TotangoWcfServiceReference.ITotangoWcfService" name="BasicHttpBinding_ITotangoWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/ActivityWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IActivityWcfService"
                contract="ActivityWcfServiceReference.IActivityWcfService"
                name="BasicHttpBinding_IActivityWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/ContactWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IContactWcfService"
                contract="ContactWcfServiceReference.IContactWcfService" name="BasicHttpBinding_IContactWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/CustomerWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomerWcfService"
                contract="CustomerWcfServiceReference.ICustomerWcfService"
                name="BasicHttpBinding_ICustomerWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/DocumentInWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDocumentInWcfService"
                contract="DocumentInWcfServiceReference.IDocumentInWcfService"
                name="BasicHttpBinding_IDocumentInWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/QuoteWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQuoteWcfService"
                contract="QuoteWcfServiceReference.IQuoteWcfService" name="BasicHttpBinding_IQuoteWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/OpportunityWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOpportunityWcfService"
                contract="OpportunityWcfServiceReference.IOpportunityWcfService"
                name="BasicHttpBinding_IOpportunityWcfService" />
        </client>
    </system.serviceModel>
</configuration>