
<style type="text/css">

.QuoteTemplateSettingButton:hover:not(:disabled) {

background: #fefcea; /* Old browsers */
background: -moz-linear-gradient(top, #fefcea 0%, #f1da36 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #fefcea 0%,#f1da36 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #fefcea 0%,#f1da36 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=0 ); /* IE6-9 */
}

.QuoteTemplateSettingButton span, .RedButton span, .GreenButton span {
    text-shadow: 1px 1px white;
}

.QuoteTemplateSettingButton:disabled, .RedButton:disabled, .GreenButton:disabled {
    opacity: 0.5;
    pointer-events: none;
}
.QuoteTemplateSettingButton {
   border:1px solid #848484;
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #dddddd 40%, #c4c4c4 51%, #e2e2e2 98%, #ffffff 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ffffff 0%,#dddddd 40%,#c4c4c4 51%,#e2e2e2 98%,#ffffff 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ffffff 0%,#dddddd 40%,#c4c4c4 51%,#e2e2e2 98%,#ffffff 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
} 

    .SectionItem {
        height: 32px;
    }

    .SelectedSectionItem {
      cursor: default;
        border: 1px solid #3BB3E2;
        background: -moz-linear-gradient(50% 106.14% 90deg,rgba(133, 203, 237, 1) 0%,rgba(150, 211, 240, 1) 22.59%,rgba(196, 231, 248, 1) 67.37%,rgba(232, 247, 255, 1) 100%);
        background: -webkit-linear-gradient(90deg, rgba(133, 203, 237, 1) 0%, rgba(150, 211, 240, 1) 22.59%, rgba(196, 231, 248, 1) 67.37%, rgba(232, 247, 255, 1) 100%);
        background: linear-gradient(0deg, rgba(133, 203, 237, 1) 0%, rgba(150, 211, 240, 1) 22.59%, rgba(196, 231, 248, 1) 67.37%, rgba(232, 247, 255, 1) 100%);
        /*transition: 0.3s;*/
}

</style>

<table>


    <tr>
        <td>
            <table *ngIf="IsReady">

                <tr style="height:5px"><td style="height:5px"></td></tr>

                <tr *ngIf="ValidationErrorsList != null && ValidationErrorsList.length > 0" style="height:1px;">
                    <td>
                        <ValidationSummary [ItemsSource]="ValidationErrorsList"></ValidationSummary>
                    </td>
                </tr>

                <tr style="height:100%">
                    <td>

                        <table>
                            <tr>
                                <td>
                                    <div *ngIf="IsShowFroalaEditor" style="margin-left:5px;text-align:center;vertical-align:top;height:100%;">
                                        <FroalaEditor style="text-align:center;vertical-align:top;height:100%;margin-top:-5px" [EditorfroalaSetting]="froalaEditorSetting"></FroalaEditor>
                                    </div>
                         
                                </td>
                                <td style="width:10px"></td>

                                <td style="width: 300px;">
                                    <table>
                                        <tr style="height:100%">
                                            <td style="vertical-align:top;height:100%">
                                                <div style="height:100%;width:100%;border-right:1px solid #E4E3E1;border-left:1px solid #E4E3E1;border-bottom:1px solid #E4E3E1;border-radius:6px;vertical-align:top">
                                                    <table style="border :none;">


                                                        <tr style="height:25px">
                                                            <td>

                                                                <div style="background-color:#EDEDED;height:25px;border-top:1px solid #E4E3E1;border-top-Right-radius:6px; border-top-left-radius:6px;color:black;vertical-align:central">

                                                                    <table>
                                                                        <tr>
                                                                            <td style="width:5px;"><div style="width:5px"></div></td>
                                                                            <td style="width:50px;"><div style="width:50px;font-size:14px;color:gray">{{'QuoteTemplate.S.Sections' | TextCodeTranslationPipe}}</div></td>
                                                                            <td></td>

                                                                            <td style="width: 45px;">
                                                                                <div [style.opacity]="IsDisableEditButton?'0.5':'1'" [style.pointer-events]="IsDisableEditButton?'none':'all'" class="ToggleButton" tabindex="0">
                                                                                    <label  style="left: 5px;">{{'QuoteTemplate.B.Add' | TextCodeTranslationPipe}} </label>
                                                                                    <img style="right: 5px;margin-top:1px" src="./Images/ToggleIcon.png" />
                                                                                
                                                                                    <div  class="ToggleButtonMenu">
                                                                                        <button [disabled]="IsDisableEditButton"  (click)="AddEditSection(null)" >
                                                                                             
                                                                                            {{'QuoteTemplate.B.Section' | TextCodeTranslationPipe}}
                                                                                        </button>

                                                                                        <button [disabled]="IsDisableEditButton" (click)="AddPageBreakSection()">
                                                                                        
                                                                                            {{'QuoteTemplate.B.PageBreak' | TextCodeTranslationPipe}}
                                                                                        </button>

                                                                                    </div>
                                                                                  
                                                                                </div>
                                                                            </td>
                                                                            <!--<td style="width:20px">
                                                                                <span title="Page Break" (click)="AddPageBreakSection()"  style="display:inline;width:18px;margin-left:0px;float: right">
                                                                                    <img style="width:18px;height:18px" src="./Images/PageBreak.png" /> 
                                                                                </span>
                                                                            </td>

                                                                            <td style="width:10px;"><div style="width:10px"></div></td>
                                                                            <td style="width:20px">
                                                                                <span (click)="AddEditSection(null)" style="display:inline;width:18px;margin-left:0px;float: right">
                                                                                    <IconButton [IsEnabled]="!IsAddSectionRunning" [Name]="'Add'" [IsSmall]="true" style="display: inline; float: right;margin-top:0px;"></IconButton>
                                                                                </span>
                                                                            </td>-->
                                                                            <td style="width:5px;"><div style="width:5px"></div></td>
                                                                        </tr>
                                                                    </table>

                                                                </div> 

                                                            </td>



                                                        </tr>


                                                        <tr class="SectionBody">
                                                            <td>
                                                                <div class="MediaFill">
                                                                    <ScrollViewer>
                                                                        <ul>
                                                                            <!--[style.background-color]="item.Background"--> 
                                                                            <li (click)="SelectQuoteTemplateSection=item" [class.RowSelected]="item === SelectQuoteTemplateSection" class="SectionItem"
                                                                         
                                                                                 [class.SelectedSectionItem]="item === SelectQuoteTemplateSection"
                                                                                 *ngFor="let item of QuoteTemplateSectionLists">
                                                                                <table>
                                                                                    <tr [attr.title]="item.ToolTipDisplay">

                                                                                        <td style="width:10px;"><div style="width:10px"></div></td>

                                                                                        <td   style="vertical-align:central;width:130px"> 
                                                                                            <div class="TextTrimming" style="font-size: 12px;vertical-align:central;width:130px; color: #292E30;">
                                                                                                {{item.DisplayName}}
                                                                                            </div>
                                                                                        </td>

                                                                                         
                                                                                        <td class="CellStretched" style="width:93px;position:relative">
                                                                                            <div *ngIf="!item.IsSection && !item.IsPagebrackSession " style="vertical-align:central;margin-top:2px">
                                                                                                <button   [disabled] = "IsDisableEditButton" style="display:inline;width:80px" class="QuoteTemplateSettingButton" (click)="EditSectionButtonClicked(item)">

                                                                                                    <span><img style="margin-top:-1px"  src="./Images/Buttons/SettingGray.png" /></span>
                                                                                                    <span>{{'QuoteTemplate.B.Settings' | TextCodeTranslationPipe}} </span>

                                                                                                </button>

                                                                                            </div>

                                                                                            <div *ngIf="item.IsSection && !item.IsPagebrackSession" style="vertical-align:central;margin-top:2px;width:80px;">
                                                                                                <button   [disabled] = "IsDisableEditButton" style="display:inline;width:80px;margin-top:2px" class="QuoteTemplateSettingButton" (click)="EditSectionButtonClicked(item)">
                                                                                                    <table>
                                                                                                        <tr>
                                                                                                            <td style="width:20px;"><img   src="./Images/Buttons/EditBlack.png" /></td>
                                                                                                            <td style="width:30px;">{{'QuoteTemplate.B.Edit' | TextCodeTranslationPipe}} </td>
                                                                                                            <td></td>
                                                                                                        </tr>
                                                                                                    </table>
                                                                                   
                                                                                                 

                                                                                                </button>

                                                                                            </div>


                                                                                        </td>

                                                                                       

                                                                                        <td class="CellStretched" style="width:30px;position:relative;">
                                                                                            <div [style.opacity]="IsDisableEditButton?'0.5':'1'" [style.pointer-events]="IsDisableEditButton?'none':'all'" *ngIf="item.IsShowArrowUpDown" class="CenterCenter" style="width:100%;vertical-align:middle;">
                                                                                                <!--QuoteTemplate.B.Down-->
                                                                                                <!--QuoteTemplate.B.Up-->
                                                                                                <img  (click)="ArrowUpButtonClicked(item)" title="{{'QuoteTemplate.B.Up' | TextCodeTranslationPipe}}" style="width:20px;height:20px;margin-top:4px;" src="./Images/arrow-up-n.png" />

                                                                                                <img  (click)="ArrowDownButtonClicked(item)" title="{{'QuoteTemplate.B.Down' | TextCodeTranslationPipe}}"  style="width:20px;height:20px;margin-top:4px;margin-left:-10px" src="./Images/arrow-down-n.png" />
                                                                                            </div>



                                                                                        </td>

                                                                                        <td>
                                                                                            <div></div>
                                                                                        </td>

                                                                                        <td style="height: 20px;width:20px">
                                                                                            <div class="LeftCenter" style="height: 20px;width:20px">
                                                                                                <!--<table *ngIf="item.IsShowArrowUpDown && item.IsShowDeleteButton">-->
                                                                                                    <table *ngIf="item.IsShowArrowUpDown && item.IsShowDeleteButton">
                                                                                                        <tr>

                                                                                                            <td>
                                                                                                                <IconButton [disabled]="IsDisableEditButton" [Name]="'Delete'" [IsSmall]="true" (click)="RemoveQuoteTemplateSectionClicked(item)"></IconButton>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </table>
</div>
                                                                                        </td>

                                                                                        <td style="width:5px">
                                                                                            <div style="width:5px"></div>
                                                                                        </td>

                                                                                    </tr>

                                                                                </table>

                                                                            </li>

                                                                        </ul>
                                                                    </ScrollViewer>
                                                                </div>
                                                            </td>
                                                        </tr>


                                                    </table>



                                                </div>
                                            </td>
                                        </tr>

                                        <tr style="height:50px">
                                            <td></td>
                                        </tr>

                                        <tr style="height:80px">
                                            <td style="vertical-align:top;height:90px">
                                                <div style="height:100%;width:100%;border-right:1px solid #E4E3E1;border-left:1px solid #E4E3E1;border-bottom:1px solid #E4E3E1;border-radius:6px;vertical-align:top">
                                                    <table style="border :none;">


                                                        <tr style="height:25px">
                                                            <td>

                                                                <div style="background-color:#EDEDED;height:25px;border-top:1px solid #E4E3E1;border-top-Right-radius:6px; border-top-left-radius:6px;color:black;vertical-align:central">

                                                                    <table>
                                                                        <tr>
                                                                            <td style="width:5px;"><div style="width:5px"></div></td>
                                                                            <td style="width:50px;"><div style="width:50px;">{{'QuoteTemplate.S.Translation' | TextCodeTranslationPipe}} </div></td>
                                                                            <td></td>
                                                                        </tr>
                                                                    </table>

                                                                </div>

                                                            </td>



                                                        </tr>

                                                        <tr class="SectionBody">
                                                            <td>
                                                     <table>
                                                         <tr style="height:10px;"><td style="height:10px" colspan="2"><div></div></td></tr>
                                                         <tr style="height:20px">
                                                             <td style="width:8px"></td>
                                                             <td>
                                                                 <div class="CheckBox">
                                                                     <input [disabled]="IsDisableEditButton"  [(ngModel)]="ShowLocalLanguage" class="LeftCenter" style="text-align:center"  [attr.id]="ShowLocalLanguageCheckBoxKey" type="checkbox" />
                                                                     <label style="color:black" class="LeftCenter" [attr.for]="ShowLocalLanguageCheckBoxKey">{{'QuoteTemplate.S.ShowLocalLanguage' | TextCodeTranslationPipe}} </label>
                                                                 </div>
                                                             </td>

                                                         </tr>

                                            
                                                         <tr style="height:20px">
                                                             <td style="width:8px"></td>
                                                             <td>
                                                                 <div class="CheckBox">
                                                                     <input [disabled]="IsDisableEditButton" [(ngModel)]="RightToLeft" class="LeftCenter" style="text-align:center"  [attr.id]="ShowRightToLeftCheckBoxKey" type="checkbox" />
                                                                     <label style="color:black" class="LeftCenter" [attr.for]="ShowRightToLeftCheckBoxKey">{{'QuoteTemplate.S.Righttoleft' | TextCodeTranslationPipe}}  </label>
                                                                 </div>
                                                             </td>

                                                         </tr>
                                                         <tr style="height:10px;"><td style="height:10px" colspan="2"><div></div></td></tr>
                                                     </table>
                                                            </td>
                                                        </tr>


                                                    </table>



                                                </div>
                                            </td>
                                        </tr>

                                        <tr style="height:10px">
                                            <td></td>
                                        </tr>
                                    </table>


                                </td>




                            </tr>
                        </table>


                    </td>
                </tr>
            </table>

        </td>
    </tr>

    <tr style="height: 32px;">
        <td style="vertical-align: bottom">
            <table style="height: 22px;">
                <tr>
                 
                    <td *ngIf="VisibilityGeneralSetting" style="width: 100px;">
                        <div>
                            <button [disabled]="IsDisableEditButton" class="Button" (click)="GeneralSettingsButtonClicked()">{{'QuoteTemplate.B.GeneralSettings' | TextCodeTranslationPipe}}   </button>
                        </div>
                    </td>

                    <td>
                        <div></div>
                    </td>

                    <td *ngIf="VisibilityGeneralSetting" style="width: 60px;">
                        <div>
                            <button class="Button" (click)="PreviewButtonClicked()">{{'QuoteTemplate.B.Preview' | TextCodeTranslationPipe}} </button>
                        </div>
                    </td>

                    <td *ngIf="VisibilityGeneralSetting" style="width: 5px;">
                        <div></div>
                    </td>

                    <td style="width: 57px;">
                        <div>
                            <button class="Button" (click)="CloseButtonClicked()">{{'QuoteTemplate.B.Cancel' | TextCodeTranslationPipe}} </button>
                        </div>
                    </td>

                    <td style="width: 5px;">
                        <div></div>
                    </td>

                    <td style="width: 57px;">
                        <button class="RedButton" (click)="SaveButtonClicked()">{{'QuoteTemplate.B.Save' | TextCodeTranslationPipe}} </button>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>