<table *ngIf="IsReady">


    <tr>
        <td>
            <table>


                <tr *ngIf="ValidationErrorsList != null && ValidationErrorsList.length > 0" style="height:1px;">
                    <td >
                        <ValidationSummary [ItemsSource]="ValidationErrorsList"></ValidationSummary>
                    </td>
                </tr>

                <tr style="height:30px">

                    <td style="vertical-align:top">
                        <table>
                            <tr>
                                <td style="width:60px">
                                    <div class="RadioButton" style="width:60px;">
                                        <input [attr.id]="NewRadioButton"  type="radio" (change)="RadioButtonChoice('New')" name="RadioButtonChoice" [checked]="true" />
                                        <label [attr.for]="NewRadioButton" style="font-size: 12px">
                                            {{'QuoteTemplate.B.New' | TextCodeTranslationPipe}} 
                                        </label>
                                    </div>
                                </td>
                             
                                <td style="width:64px">
                                    <div class="RadioButton" style="width:64px;">
                                        <input [attr.id]="CopyRadioButton"   type="radio" (change)="RadioButtonChoice('Copy')" name="RadioButtonChoice" [checked]="false" />
                                        <label [attr.for]="CopyRadioButton"   style="font-size: 12px">
                                            {{'QuoteTemplate.B.Copy' | TextCodeTranslationPipe}}
 
                                        </label>
                                    </div>
                                </td>


                                <td *ngIf="VisibilityRadioFromTenant" style="width:70px">
                                    <div class="RadioButton" style="width:70px;">
                                        <input  [attr.id]="FromAllTenantRadioButton"   type="radio" (change)="RadioButtonChoice('FromAllTenant')" name="RadioButtonChoice" [checked]="false" />
                                        <label [attr.for]="FromAllTenantRadioButton" style="font-size: 12px">
                                            
                                            {{'QuoteTemplate.B.FromAllTenant' | TextCodeTranslationPipe}}
                                        </label>
                                    </div>
                                </td>

                                <td></td>
                            </tr>
                        </table>
                    </td>

                </tr>

                <tr style="height:5px"><td style="height:5px" ></td></tr>

                <tr>
                    <!--New-->
                    <td style="vertical-align:top" *ngIf="EntityPM">
                        <table style="vertical-align:top;height:100%">
                            <tr style="vertical-align:top;height:30px">
                                <td style="width:5px"><div></div></td>
                                <td *ngIf="AddType=='New'" style="width:150px;">  <LogLabel [ObjectFieldName]="'Name'" [ObjectTableName]="'QuoteTemplate'" [DataContext]="EntityPM"></LogLabel></td>
                                <td *ngIf="AddType!='New'" style="width:50px;">  <LogLabel [ObjectFieldName]="'Name'" [ObjectTableName]="'QuoteTemplate'" [DataContext]="EntityPM"></LogLabel></td>
                                <td style="width:180px"><LogTextBox style="width:180px" [IsNewEntityCall]="IsNewEntityCall" [ObjectFieldName]="'Name'" [ObjectTableName]="'QuoteTemplate'" [DataContext]="EntityPM"></LogTextBox></td>
                                <td><div></div></td>
                            </tr>

                            <tr  style="vertical-align:top;height:30px">
                                <td style="width:5px"><div></div></td>
                                <td style="width:150px;">  <LogLabel [ObjectFieldName]="'TemplateTypeCode'" [ObjectTableName]="'QuoteTemplate'" [DataContext]="DataContext"></LogLabel></td>
                                <td style="width:180px"><LogLov style="width:180px" [ObjectFieldName]="'TemplateTypeCode'" [SelectedValuePath]="'Code'" [ObjectTableName]="'QuoteTemplate'" [DataContext]="DataContext" [LookUpTableName]="'QuoteType'"></LogLov></td>
                                <td><div></div></td>
                            </tr>





                            <tr *ngIf="AddType=='New'" style="vertical-align:top;height:30px">
                                <td style="width:5px"><div></div></td>
                                <td style="width:150px;">  <LogLabel [ObjectFieldName]="'IsDefault'" [ObjectTableName]="'QuoteTemplate'" [DataContext]="EntityPM"></LogLabel></td>
                                <td style="width:180px;text-align:left"><LogCheckBox [ObjectFieldName]="'IsDefault'" [ObjectTableName]="'QuoteTemplate'" [DataContext]="EntityPM"></LogCheckBox></td>
                                <td><div></div></td>
                            </tr>

                            <!--Copy and From Tenant-->
                            <tr *ngIf="AddType!='New'" style="height:5px">
                                <td colspan="4"></td>
                            </tr>

                             <tr  *ngIf="AddType!='New'">
                                <td class="CellStretch" colspan="4">
                                    <div class="SimpleGridView">
                                        <div class="SimpleGridViewHeader">
                                            <table>
                                                <tr>

                                                    <td style="width: 150px; min-width: 150px;max-width: 150px">{{'QuoteTemplate.F.Name' | TextCodeTranslationPipe}} </td>
                                                    <td style="width: 150px; min-width: 150px;max-width: 150px">{{'QuoteTemplate.F.CreateDate' | TextCodeTranslationPipe}} </td>
                                                    <td style="width: 150px; min-width: 150px;max-width: 150px">{{'QuoteTemplate.F.UpdateDate' | TextCodeTranslationPipe}}  </td>
                                                    <td style="width: 60px; min-width: 60px;max-width: 60px">{{'QuoteTemplate.F.IsDefault' | TextCodeTranslationPipe}} </td>


                                                    <td style="width:100%;">
                                                        <div></div>
                                                    </td>

                                                </tr>
                                            </table>
                                        </div>

                                        <div class="SimpleGridViewBody">
                                            <table>
                                                <tr style="height: 1px;">
                                                    <td>
                                                        <table>
                                                            <tr class="SimpleGridViewRow RowHover" *ngFor="let item of QuoteTemplateLists">
                                                                <td>
                                                                    <table>
                                                                        <tr style="height:25px;" (click)="OnSelectQuoteTemplateChange(item)" [class.RowSelected]="item === SelectedQuoteTemplate">



                                                                            <td class="GridViewCell" style="width: 150px; min-width: 150px; max-width: 150px; position: relative;">
                                                                                {{item.Name}}

                                                                            </td>


                                                                            <td class="GridViewCell" style="width: 150px; min-width: 150px; max-width: 150px; position: relative;">

                                                                                {{item.CreateDate | DateTimeToDatePipe}} {{item.CreateDate | DateTimeToTimePipe}}
                                                                            </td>



                                                                            <td class="GridViewCell" style="width: 150px; min-width: 150px; max-width: 150px; position: relative;">

                                                                                {{item.UpdateDate | DateTimeToDatePipe}} {{item.UpdateDate | DateTimeToTimePipe}}
                                                                            </td>




                                                                            <td class="GridViewCell" style="width: 60px; min-width: 60px; max-width: 60px; position: relative;">

                                                                                <div class="CheckBox">
                                                                                    <input class="CenterCenter" style="text-align:center" [attr.id]="item.Id" type="checkbox" [(ngModel)]="item.IsDefault" [disabled]="'true'" />
                                                                                    <label class="CenterCenter" [attr.for]="item.Id"></label>
                                                                                </div>
                                                                            </td>






                                                                            <td>
                                                                                <div> </div>
                                                                            </td>


                                                                        </tr>
                                                                        <tr><td colspan="4"></td></tr>
                                                                    </table>


                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <div></div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>

                                </td>
                            </tr>

                            <tr *ngIf="AddType=='New'">
                                <td colspan="4"></td>
                            </tr>

                        </table>

                    </td>

           
                </tr>

            </table>

        </td>
    </tr>

    <tr style="height: 32px;">
        <td  style="vertical-align: bottom">
            <table style="height: 22px;">
                <tr>
                    <td>
                        <div></div>
                    </td>

                    <td style="width: 57px;">
                        <div>
                            <button class="Button" (click)="CloseButtonClicked()">{{'QuoteTemplate.B.Cancel' | TextCodeTranslationPipe}} </button>
                        </div>
                    </td>

                    <td style="width: 5px;">
                        <div></div>
                    </td>

                    <td style="width: 57px;">
                        <button class="RedButton" (click)="NextButtonClicked()">{{'QuoteTemplate.B.Next' | TextCodeTranslationPipe}} </button>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>