
<style type="text/css">
    .TariffsSectionHead {
        height: 20px;
        line-height: 20px;
        font-size: 18px;
        color: #1B90CB;
    }

    .TariffsSection:not(:first-child) {
        margin-top: 10px;
    }
</style>

<table>
    <tr style="height:1px;">
        <td>
            <div class="TariffsSectionHead">Tariffs</div>
        </td>
    </tr>

    <tr style="height:10px">
        <td>
            <div></div>
        </td>
    </tr>

    <tr style="height:10px;">
        <td>

            <table>
                <tr>
                    <td style="width:180px">
                        <div style="width:180px">
                            <HyperlinkQuery (click)="TariffSettingsClicked()">Tariff Settings</HyperlinkQuery>
                        </div>
                    </td>

                    <td style="width:20px">
                        <div></div>
                    </td>

                    <td style="width:20px">
                        <div></div>
                    </td>

                    <td>
                        <div></div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr style="height:10px" *ngIf="AirFreightCostVisibility">
        <td>
            <div></div>
        </td>
    </tr>
    <tr *ngIf="AirFreightCostVisibility">
        <td>
            <table>
                <tr>
                    <td style="width:190px">
                        <div>
                            <HyperlinkQuery (click)="ViewTariffs('A')">{{'Tariff.Q.AirFreightCostTariffs' | TextCodeTranslationPipe}} ({{AirFreightCount}})</HyperlinkQuery>
                        </div>
                    </td>

                    <td style="width:20px">
                        <div></div>
                    </td>

                    <td style="width:20px">
                        <button class="Button" (click)="NewTariff('A')">New</button>
                    </td>

                    <td>
                        <div></div>
                    </td>
                </tr>
            </table>
        </td>

    </tr>

    <tr style="height:10px" *ngIf="AirSurchargesCostVisibility">
        <td>
            <div></div>
        </td>
    </tr>
    <tr *ngIf="AirSurchargesCostVisibility">
        <td>
            <table>
                <tr>
                    <td style="width:190px">
                        <div>
                            <HyperlinkQuery (click)="ViewTariffs('AS')">{{'Tariff.Q.AirSurchargesCostTariffs' | TextCodeTranslationPipe}} ({{AirSurchargeCount}})</HyperlinkQuery>
                        </div>
                    </td>

                    <td style="width:20px">
                        <div></div>
                    </td>

                    <td style="width:20px">
                        <button class="Button" (click)="NewTariff('AS')">New</button>
                    </td>

                    <td>
                        <div></div>
                    </td>
                </tr>
            </table>
        </td>

    </tr>

    <tr style="height:10px" *ngIf="OceanLCLFreightCostVisibility">
        <td>
            <div></div>
        </td>
    </tr>
    <tr *ngIf="OceanLCLFreightCostVisibility">
        <td>
            <table>
                <tr>
                    <td style="width:190px">
                        <div>
                            <HyperlinkQuery (click)="ViewTariffs('OLC')">{{'Tariff.Q.OceanLCLFreightCost' | TextCodeTranslationPipe}} ({{OceanLCLFreightCount}})</HyperlinkQuery>
                        </div>
                    </td>

                    <td style="width:20px">
                        <div></div>
                    </td>

                    <td style="width:20px">
                        <button class="Button" (click)="NewTariff('OLC')">New</button>
                    </td>

                    <td>
                        <div></div>
                    </td>
                </tr>
            </table>
        </td>

    </tr>

    <tr style="height:10px;" *ngIf="OceanLCLSurchargesCostVisibility">
        <td>
            <div></div>
        </td>
    </tr>
    <tr *ngIf="OceanLCLSurchargesCostVisibility">
        <td>
            <table>
                <tr>
                    <td style="width:190px">
                        <div>
                            <HyperlinkQuery (click)="ViewTariffs('OSC')">{{'Tariff.Q.Ocean.LCL.Surcharges.Cost' | TextCodeTranslationPipe}} ({{OceanSurchargeCount}})</HyperlinkQuery>
                        </div>
                    </td>

                    <td style="width:20px">
                        <div></div>
                    </td>

                    <td style="width:20px">
                        <button class="Button" (click)="NewTariff('OSC')">New</button>
                    </td>

                    <td>
                        <div></div>
                    </td>
                </tr>
            </table>
        </td>

    </tr>

    <tr style="height:10px;" *ngIf="OceanFCLFreightCostVisibility">
        <td>
            <div></div>
        </td>
    </tr>

    <tr *ngIf="OceanFCLFreightCostVisibility">
        <td>
            <table>
                <tr>
                    <td style="width:190px">
                        <div>
                            <HyperlinkQuery (click)="ViewTariffs('OFC')">{{'Tariff.Q.OceanFCLFreightCost' | TextCodeTranslationPipe}} ({{OceanFCLFreightCount}})</HyperlinkQuery>
                        </div>
                    </td>

                    <td style="width:20px">
                        <div></div>
                    </td>

                    <td style="width:20px">
                        <button class="Button" (click)="NewTariff('OFC')">New</button>
                    </td>

                    <td>
                        <div></div>
                    </td>
                </tr>
            </table>
        </td>

    </tr>

    <tr style="height:10px;" *ngIf="OceanFCLSurchargesCostVisibility">
        <td>
            <div></div>
        </td>
    </tr>

    <tr *ngIf="OceanFCLSurchargesCostVisibility">
        <td>
            <table>
                <tr>
                    <td style="width:190px">
                        <div>
                            <HyperlinkQuery (click)="ViewTariffs('OFS')">{{'Tariff.Q.OceanFCLSurchargesCost' | TextCodeTranslationPipe}} ({{OceanFCLSurchargesCount}})</HyperlinkQuery>
                        </div>
                    </td>

                    <td style="width:20px">
                        <div></div>
                    </td>

                    <td style="width:20px">
                        <button class="Button" (click)="NewTariff('OFS')">New</button>
                    </td>

                    <td>
                        <div></div>
                    </td>
                </tr>
            </table>
        </td>

    </tr>

    <tr style="height:10px;">
        <td>
            <div></div>
        </td>
    </tr>

    <tr>
        <td>
            <table>
                <tr style="height:1px" *ngIf="IsTariffGenerateVisible">
                    <td>
                        <div class="QueriesSection">
                            <div>Tariffs Generator</div>
                            <div>
                                <p class="QueryLink" (click)="GenerateTariffsClicked()">Generate</p>
                            </div>
                            <div style="padding-left:5px;">
                                <input class="QueryLink" style="display: none;float:left;background-color:white"
                                       type="file" (change)="GenerateExcelTariffsClicked($event)"
                                       (click)="fileInput.value = null" value="" accept=".xls,.xlsx"
                                       #fileInput>
                                <a href="#" style="text-decoration:none;float:left;background-color:white">
                                    <button style="background-color:white" (click)="fileInput.click()">Generate From Excel</button>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr style="height:10px">
                    <td>
                        <div></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="QueriesSection">
                            <div>
                                Tariffs Search
                            </div>
                            <div>
                                <p class="QueryLink" (click)="CheckPrice('AFC')">Price Check</p>
                            </div>
                            <div>
                                <p class="QueryLink" (click)="CheckPrice('OLC')">Price Check LCL</p>
                            </div>
                        </div>
                    </td>
                    <td></td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td class="CellStretch">
            <div></div>
        </td>
    </tr>
</table>
