:host ::ng-deep {
    .p-paginator-bottom {
        display: none;
    }

    .p-datatable-scrollable-body {
        height: 400px;
    }

    tbody tr.ng-star-inserted:hover {
        background: #c9c9c9;
    }
}

:host {
    display: block;
    height: 300px;
}