
<style type="text/css">
    .SummayRow td {
        text-align: left;
        font-size: 11px;
        color: #6E7172;
    }

    .SummayRow {
        height: 25px;
    }
</style>

<table>
    <tr>
        <td>
            <div class="TabHolder">
                <table>
                    <tr class="TabTitleRow">
                        <td>{{'Shipment.TH.Customs' | TextCodeTranslationPipe}}</td>
                    </tr>

                    <tr style="height: 200px">
                        <td>
                            <table>
                                <tr>
                                    <td style="width:420px;">
                                        <div class="MediaFill">
                                            <table>

                                                <!-- IncludesCustoms -->
                                                <tr class="FormFieldRow">
                                                    <td>
                                                        <LogLabel [ObjectFieldName]="'IncludesCustoms'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                                    </td>

                                                    <td style="width: 250px;">
                                                        <LogCheckBox [ObjectFieldName]="'IncludesCustoms'" [Checked]="IncludesCustoms" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogCheckBox>
                                                    </td>
                                                    <td style="width:10px"></td>
                                                </tr>

                                                <!-- DeclarationNumber -->
                                                <tr class="FormFieldRow">
                                                    <td>
                                                        <LogLabel [ObjectFieldName]="'DeclarationNumber'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext" [Text]="DeclarationNumberLabel"></LogLabel>
                                                    </td>

                                                    <td>
                                                        <LogTextBox [ObjectFieldName]="'DeclarationNumber'" [Text]="DeclarationNumber" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogTextBox>
                                                    </td>
                                                    <td></td>

                                                </tr>

                                                <!-- DeclarationDate -->
                                                <tr class="FormFieldRow">
                                                    <td>
                                                        <LogLabel [ObjectFieldName]="'DeclarationDate'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext" [Text]="DeclarationDateLabel"></LogLabel>
                                                    </td>

                                                    <td>
                                                        <LogDatePicker [ObjectFieldName]="'DeclarationDate'" [SelectedDateValue]="DeclarationDate" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogDatePicker>
                                                    </td>

                                                    <td>
                                                        <div></div>
                                                    </td>
                                                </tr>

                                                <!-- CustomsClearanceDate -->
                                                <tr class="FormFieldRow">
                                                    <td>
                                                        <LogLabel [ObjectFieldName]="'CustomsClearanceDate'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                                    </td>

                                                    <td colspan="2">
                                                        <div class="MediaFill">
                                                            <table>
                                                                <tr>
                                                                    <td style="width:106px;">
                                                                        <LogDatePicker [ObjectFieldName]="'CustomsClearanceDate'" [SelectedDateValue]="CustomsClearanceDate" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext" [HideColumns]="true"></LogDatePicker>
                                                                    </td>

                                                                    <td style="width:2px;">
                                                                        <div></div>
                                                                    </td>

                                                                    <td style="width:106px;">
                                                                        <LogDatePicker [ObjectFieldName]="'CustomsClearanceDate'" [SelectedDateValue]="CustomsClearanceDate" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext" [InputType]="'time'" [HideColumns]="true"></LogDatePicker>
                                                                    </td>

                                                                    <td style="width:18px;">
                                                                        <FollowupButton [IsEnabled]="IsCustomFollowUpEnabled" [ShipmentPM]="EntityPM" [LegType]="'CustomsClearanceDate'"></FollowupButton>
                                                                    </td>

                                                                    <td>
                                                                        <div></div>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </td>
                                                </tr>

                                                <!-- FreightRelease -->
                                                <tr class="FormFieldRow" *ngIf="IsOceanImport && IsDirectOrHouse">
                                                    <td>
                                                        <LogLabel [ObjectFieldName]="'FreightRelease'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                                    </td>

                                                    <td colspan="2">
                                                        <div class="MediaFill">
                                                            <table>
                                                                <tr>
                                                                    <td style="width: 106px;">
                                                                        <LogDatePicker [ObjectFieldName]="'FreightRelease'" [SelectedDateValue]="FreightRelease" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext" [HideColumns]="true"></LogDatePicker>
                                                                    </td>

                                                                    <td style="width:2px;">
                                                                        <div></div>
                                                                    </td>

                                                                    <td style="width: 106px;">
                                                                        <LogDatePicker [ObjectFieldName]="'FreightRelease'" [SelectedDateValue]="FreightRelease" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext" [InputType]="'time'" [HideColumns]="true"></LogDatePicker>
                                                                    </td>

                                                                    <td style="width:18px">
                                                                        <FollowupButton [IsEnabled]="IsEditingEnabled" [ShipmentPM]="EntityPM" [LegType]="'FreightRelease'" *ngIf="FreightRelease == null"></FollowupButton>
                                                                    </td>

                                                                    <td>
                                                                        <div></div>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </td>
                                                </tr>

                                                <!-- TerminalAvailable -->
                                                <tr class="FormFieldRow" *ngIf="IsOceanImport && IsDirectOrHouse">
                                                    <td>
                                                        <LogLabel [ObjectFieldName]="'TerminalAvailable'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                                    </td>

                                                    <td colspan="2">
                                                        <div class="MediaFill">
                                                            <table>
                                                                <tr>
                                                                    <td style="width:106px;">
                                                                        <LogDatePicker [ObjectFieldName]="'TerminalAvailable'" [SelectedDateValue]="TerminalAvailable" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext" [HideColumns]="true"></LogDatePicker>
                                                                    </td>

                                                                    <td style="width:2px;">
                                                                        <div></div>
                                                                    </td>

                                                                    <td style="width:106px;">
                                                                        <LogDatePicker [ObjectFieldName]="'TerminalAvailable'" [SelectedDateValue]="TerminalAvailable" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext" [InputType]="'time'" [HideColumns]="true"></LogDatePicker>
                                                                    </td>

                                                                    <td style="width:18px">
                                                                        <FollowupButton [IsEnabled]="IsEditingEnabled" [ShipmentPM]="EntityPM" [LegType]="'TerminalAvailable'" *ngIf="TerminalAvailable == null"></FollowupButton>
                                                                    </td>

                                                                    <td>
                                                                        <div></div>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td colspan="3">
                                                        <div></div>
                                                    </td>
                                                </tr>

                                            </table>
                                        </div>
                                    </td>

                                    <td style="width: 20px;">
                                        <div></div>
                                    </td>

                                    <td style="width:330px;">
                                        <div class="MediaFill">
                                            <table *ngIf="IsTenantUS && IsDirectOrHouse">

                                                <tr class="FormFieldRow" *ngIf="IsOceanImport">
                                                    <td>
                                                        <div></div>
                                                    </td>
                                                </tr>

                                                <!-- ISFNumber -->
                                                <tr class="FormFieldRow" *ngIf="IsOceanImport">
                                                    <td>
                                                        <table>
                                                            <tr>
                                                                <td>
                                                                    <LogLabel [ObjectFieldName]="'ISFNumber'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                                                </td>

                                                                <td style="width: 250px;">
                                                                    <LogTextBox [ObjectFieldName]="'ISFNumber'" [Text]="ISFNumber" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogTextBox>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>

                                                <!-- ISFDate -->
                                                <tr class="FormFieldRow" *ngIf="IsOceanImport">
                                                    <td>
                                                        <table>
                                                            <tr>
                                                                <td>
                                                                    <LogLabel [ObjectFieldName]="'ISFDate'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                                                </td>

                                                                <td style="width: 250px;">
                                                                    <LogDatePicker [ObjectFieldName]="'ISFDate'" [SelectedDateValue]="ISFDate" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogDatePicker>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>

                                                <!-- ENSNumber -->
                                                <tr class="FormFieldRow" *ngIf="IsExport">
                                                    <td>
                                                        <table>
                                                            <tr>
                                                                <td>
                                                                    <LogLabel [ObjectFieldName]="'ENSNumber'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                                                </td>

                                                                <td style="width: 250px;">
                                                                    <LogTextBox [ObjectFieldName]="'ENSNumber'" [Text]="ENSNumber" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogTextBox>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>

                                                <!-- ENSDate -->
                                                <tr class="FormFieldRow" *ngIf="IsExport">
                                                    <td>
                                                        <table>
                                                            <tr>
                                                                <td>
                                                                    <LogLabel [ObjectFieldName]="'ENSDate'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                                                </td>

                                                                <td style="width: 250px;">
                                                                    <LogDatePicker [ObjectFieldName]="'ENSDate'" [SelectedDateValue]="ENSDate" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogDatePicker>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>

                                                <!-- Internal transaction -->
                                                <tr class="FormFieldRow" *ngIf="IsOceanOrAir">
                                                    <td style="vertical-align: bottom; font-size: 14px; color: #1B90CB;">
                                                        IT (Internal transaction)
                                                    </td>
                                                </tr>

                                                <!-- ITNumber -->
                                                <tr class="FormFieldRow" *ngIf="IsOceanOrAir">
                                                    <td>
                                                        <table>
                                                            <tr>
                                                                <td>
                                                                    <LogLabel [ObjectFieldName]="'ITNumber'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                                                </td>

                                                                <td style="width: 250px;">
                                                                    <LogTextBox [ObjectFieldName]="'ITNumber'" [Text]="ITNumber" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogTextBox>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>

                                                <!-- ITDate -->
                                                <tr class="FormFieldRow" *ngIf="IsOceanOrAir">
                                                    <td>
                                                        <table>
                                                            <tr>
                                                                <td>
                                                                    <LogLabel [ObjectFieldName]="'ITDate'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                                                </td>

                                                                <td style="width: 250px;">
                                                                    <LogDatePicker [ObjectFieldName]="'ITDate'" [SelectedDateValue]="ITDate" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogDatePicker>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <div></div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>

                                    <td>
                                        <div></div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr class="TabTitleRow">
                        <td>{{'Shipment.S.Customs.AdditionalFields' | TextCodeTranslationPipe}}</td>
                    </tr>

                    <tr>
                        <td>
                            <ScrollViewer>
                                <div class="MediaFill">
                                    <div ChildDirective></div>
                                </div>
                            </ScrollViewer>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>

    <tr class="TabSummary" *ngIf="SummatyAreaIsVisible">
        <td>
            <div class="TabSummaryBody">
                <table>
                    <tr>
                        <td style="width:auto">
                            <ul>
                                <li *ngFor="let item of SummaryItemsSource" style="width:300px; float:left;">
                                    <table>
                                        <tr>
                                            <td style="width:10px;">
                                                <div></div>
                                            </td>

                                            <td style="width: 20px;" *ngIf="item.IsSeparatorVisible">
                                                <div class="VerticalLine" style="height: 90px;"></div>
                                            </td>

                                            <td>
                                                <table>
                                                    <tr>
                                                        <td class="TabSummaryTitle" style="font-size:14px;">{{item.CustomsInterfaceName}}</td>
                                                    </tr>

                                                    <tr class="SummayRow">
                                                        <td>
                                                            <table>
                                                                <tr>
                                                                    <td style="width:70px;" class="Label">Status:</td>

                                                                    <td style="width: 200px;">
                                                                        <table>
                                                                            <tr>
                                                                                <td attr.data-cy="{{'StatusValue' | IdGeneratorAsyncPipe | async}}" style="width:60px; float:left;" [ngStyle]="{color: item.StatusCode | StringToColorPipe:'CustomsTransmissionsStatus'}">
                                                                                    {{item.StatusName}}
                                                                                </td>

                                                                                <td style="width:30px; float:left; top:7px;">
                                                                                    <div *ngIf="item.Error">
                                                                                        <img class="CenterCenter" src="./Images/ErrorIcon.png" width="20" height="20" [title]="item.Error" />
                                                                                    </div>
                                                                                </td>

                                                                                <td>
                                                                                    <div></div>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>

                                                                    <td>
                                                                        <div></div>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>

                                                    <tr class="SummayRow">
                                                        <td>
                                                            <table>
                                                                <tr>
                                                                    <td style="width:70px;" class="Label">Last Sent:</td>

                                                                    <td attr.data-cy="{{'StatusDate' | IdGeneratorAsyncPipe | async}}" style="text-align: left; width:200px;">{{item.StatusDate | DateTimePipe: 'SHWH'}}</td>

                                                                    <td>
                                                                        <div></div>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>

                                                    <tr class="SummayRow">
                                                        <td>
                                                            <table>
                                                                <tr>
                                                                    <td style="width:70px;" class="Label">By:</td>

                                                                    <td attr.data-cy="{{'UserName' | IdGeneratorAsyncPipe | async}}" style="width:200px;">{{item.UserName}}</td>

                                                                    <td>
                                                                        <div></div>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </li>
                            </ul>
                        </td>

                        <td>
                            <div></div>
                        </td>

                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>
