<style type="text/css">
    .SystemDefaultsBox {
        width: 100%;
        height: 100%;
        border: 1px solid #BABABA;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }

    .SystemDefaultsBoxHeader {
        height: 20px;
        font-size: 12px;
        color: #1B90CB;
        text-indent: 5px;
        background: -moz-linear-gradient(50% 0% -90deg, rgba(245, 245, 245, 1) 0%, rgba(243, 243, 243, 1) 50.24%, rgba(236, 236, 236, 1) 69.98%, rgba(224, 224, 224, 1) 84.35%, rgba(207, 207, 207, 1) 96.04%, rgba(199, 199, 199, 1) 100%);
        background: -webkit-linear-gradient(-90deg, rgba(245, 245, 245, 1) 0%, rgba(243, 243, 243, 1) 50.24%, rgba(236, 236, 236, 1) 69.98%, rgba(224, 224, 224, 1) 84.35%, rgba(207, 207, 207, 1) 96.04%, rgba(199, 199, 199, 1) 100%);
        background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0, rgba(245, 245, 245, 1)), color-stop(0.5024, rgba(243, 243, 243, 1)), color-stop(0.6998, rgba(236, 236, 236, 1)), color-stop(0.8435, rgba(224, 224, 224, 1)), color-stop(0.9604, rgba(207, 207, 207, 1)), color-stop(1, rgba(199, 199, 199, 1)));
        background: -o-linear-gradient(-90deg, rgba(245, 245, 245, 1) 0%, rgba(243, 243, 243, 1) 50.24%, rgba(236, 236, 236, 1) 69.98%, rgba(224, 224, 224, 1) 84.35%, rgba(207, 207, 207, 1) 96.04%, rgba(199, 199, 199, 1) 100%);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F5F5F5', endColorstr='#C7C7C7' ,GradientType=0)";
        background: linear-gradient(180deg, rgba(245, 245, 245, 1) 0%, rgba(243, 243, 243, 1) 50.24%, rgba(236, 236, 236, 1) 69.98%, rgba(224, 224, 224, 1) 84.35%, rgba(207, 207, 207, 1) 96.04%, rgba(199, 199, 199, 1) 100%);
    }
    .ValidationSummary div{
        height: auto !important;
    }

</style>

<table *ngIf="IsVisibile">
   
    <tr *ngIf="ValidationErrorsList != null && ValidationErrorsList.length > 0" style="height:1px;">
        <td >
            <ValidationSummary [ItemsSource]="ValidationErrorsList" [SingleLine]="true"></ValidationSummary>
        </td>
    </tr>
    
    <tr style="height: 60%;">
        <td>
            <ScrollViewer>
                <div class="TableHolder" style="padding-top: 5px;">
                    <table>

                        <tr>
                            <td>
                                <table>
                                    <!-- Settings -->
                                    <tr style="height:1px;">
                                        <td>
                                            <table>
                                                <tr>
                                                   

                                                    <td style="height: 100%">
                                                        <div class="noselect">
                                                            <table>
                                                                <tr style="height: 10%">
                                                                </tr>

                                                                <tr>
                                                                    <td 
                                                                        style="position: absolute; top:0px; bottom:0; left:0; right:0; margin:auto; padding: 10px; background: white;border-radius:0 5px 5px 0;">
                                                                        <table class="noselect">

                                                                                                          
                                                                            <td class="ActionButton" *ngIf="IsFromSupplierInvoice" style="width: 4%;">
                                                                                <CheckBox [IsChecked]="IsChecked" (Checked)="$event ? OnAllBtnClicked() : OnNoneBtnClicked()"></CheckBox>
                                                                            </td>
                                                                            <td class="Label" *ngIf="IsFromSupplierInvoice" style="width: 150px; text-align:right">
                                                                                {{ 'Customs.General.O.SelectAll' | TextCodeTranslationPipe }}
                                                                            </td>

                                                                            <tr class="FormFieldRow">

                                                                                  
                                                                                <td *ngIf="IsFromSupplierInvoice" style="width: 4%;">
                                                                                    <LogCheckBox [Checked]="AccountTypeCodeChecked" [ObjectFieldName]="'AccountTypeCodeChecked'" [ObjectTableName]="ObjectTableName"  [DataContext]="DataContext"></LogCheckBox> 
                                            
                                                                                </td>
                                                                                                                                               
                                                                                <td  style="width: 150px;">
                                                                                   
                                                                                    <LogLabel
                                                                                        [ObjectFieldName]="'AccountTypeCode'"
                                                                                        [ObjectTableName]="ObjectTableName"
                                                                                        [DataContext]="DataContext">
                                                                                    </LogLabel>
                                                                                </td>

                                                                                <td  style="width: 160px;">
                                                                                    <LogLov 
                                                                                        [ObjectFieldName]="'AccountTypeCode'"
                                                                                        [ObjectTableName]="ObjectTableName"
                                                                                        [DataContext]="DataContext"
                                                                                        [LookUpTableName]="'Customs.InvoiceType'"
                                                                                        [HideColumns]="true"
                                                                                        [FocusOnMe]="true"
                                                                                        [SelectedValue]="AccountTypeCode">
                                                                                    </LogLov>
                                                                                </td>

                                                                                <td>
                                                                                    <div></div>
                                                                                </td>


                                                                                
                                                                            </tr>

                                                                            <tr class="FormFieldRow">
                                                                                 <td  *ngIf="IsFromSupplierInvoice" style="width: 4%;">
                                                                                    <LogCheckBox [Checked]="PartyRelationshipCodeChecked" [ObjectFieldName]="'PartyRelationshipCodeChecked'" [ObjectTableName]="ObjectTableName"  [DataContext]="DataContext"></LogCheckBox> 
                                            
                                                                                 </td>
                                                                                <td style="width: 130px;">
                                                                                    <LogLabel
                                                                                        [ObjectFieldName]="'PartyRelationshipCode'"
                                                                                        [ObjectTableName]="ObjectTableName"
                                                                                        [DataContext]="DataContext">
                                                                                    </LogLabel>
                                                                                </td>
                                                                                <td style="width: 160px;">
                                                                                    <LogLov
                                                                                        [ObjectFieldName]="'PartyRelationshipCode'"
                                                                                        [ObjectTableName]="ObjectTableName"
                                                                                        [DataContext]="DataContext"
                                                                                        [HideColumns]="true"
                                                                                        [SelectedValue]="PartyRelationshipCode"
                                                                                        [LookUpTableName]="'Customs.PartyRelationshipType'">
                                                                                    </LogLov>
                                                                                </td>


                                                                                
                                                                            </tr>



                                                                            <tr class="FormFieldRow">
                                                                                <td *ngIf="IsFromSupplierInvoice"  style="width: 4%;">
                                                                                    <LogCheckBox [Checked]="BuyerRoleCodeChecked" [ObjectFieldName]="'BuyerRoleCodeChecked'" [ObjectTableName]="ObjectTableName"  [DataContext]="DataContext"></LogCheckBox> 
                                            
                                                                                 </td>
                                                                                <td style="width: 130px;">
                                                                                    <LogLabel
                                                                                        [ObjectFieldName]="'BuyerRoleCode'"
                                                                                        [ObjectTableName]="ObjectTableName"
                                                                                        [DataContext]="DataContext">
                                                                                    </LogLabel>
                                                                                </td>
                                                                                <td style="width: 160px;">
                                                                                    <LogLov
                                                                                        [ObjectFieldName]="'BuyerRoleCode'"
                                                                                        [ObjectTableName]="ObjectTableName"
                                                                                        [DataContext]="DataContext"
                                                                                        [HideColumns]="true"
                                                                                        [SelectedValue]="BuyerRoleCode"
                                                                                        [LookUpTableName]="'Customs.BuyerRoleType'">
                                                                                    </LogLov>
                                                                                </td>

                                                                                <td>
                                                                                    <div></div>
                                                                                </td>
                                                                            </tr>

                                                                            <tr class="FormFieldRow">
                                                                                <td  *ngIf="IsFromSupplierInvoice" style="width: 4%;">
                                                                                    <LogCheckBox [Checked]="ClaimReasonCodeChecked" [ObjectFieldName]="'ClaimReasonCodeChecked'" [ObjectTableName]="ObjectTableName"  [DataContext]="DataContext"></LogCheckBox> 
                                            
                                                                                 </td>
                                                                                <td style="width: 140px;">
                                                                                    <LogLabel
                                                                                        [ObjectFieldName]="'ClaimReasonCode'"
                                                                                        [ObjectTableName]="ObjectTableName"
                                                                                        [DataContext]="DataContext">
                                                                                    </LogLabel>
                                                                                </td>
                                                                                <td style="width: 135px;">
                                                                                    <LogLov
                                                                                        [ObjectFieldName]="'ClaimReasonCode'"
                                                                                        [ObjectTableName]="'Customs.SupplierInvoiceItem'"
                                                                                        [DataContext]="DataContext"
                                                                                        [HideColumns]="true"
                                                                                        [LookUpTableName]="'Customs.ClaimReasonType'">
                                                                                    </LogLov>
                                                                                </td>
                                                                                <td>
                                                                                    <div></div>
                                                                                </td>
                                                                            </tr>


                                                                            <tr class="FormFieldRow">
                                                                                <td *ngIf="IsFromSupplierInvoice" style="width: 4%;">
                                                                                    <LogCheckBox [Checked]="TransactionNatureCodeChecked" [ObjectTableName]="ObjectTableName" [ObjectFieldName]="'TransactionNatureCodeChecked'" [DataContext]="DataContext"></LogCheckBox> 
                                            
                                                                                 </td>
                                                                                <td>
                                                                                    <LogLabel
                                                                                        [ObjectFieldName]="'TransactionNatureCode'"
                                                                                        [ObjectTableName]="ObjectTableName"
                                                                                        [DataContext]="DataContext">
                                                                                    </LogLabel>
                                                                                </td>

                                                                                <td>
                                                                                    <LogLov
                                                                                        [ObjectFieldName]="'TransactionNatureCode'"
                                                                                        [ObjectTableName]="'Customs.SupplierInvoiceItem'"
                                                                                        [DataContext]="DataContext"
                                                                                        [HideColumns]="true"
                                                                                        [LookUpTableName]="'Customs.TransactionNatureType'">
                                                                                    </LogLov>
                                                                                </td>
                                                                                <td>
                                                                                    <div></div>
                                                                                </td>
                                                                            </tr>

                                                                            <tr class="FormFieldRow">
                                                                                <td *ngIf="IsFromSupplierInvoice" style="width: 4%;">
                                                                                    <LogCheckBox [Checked]="ProcessTypeCodeChecked" [ObjectFieldName]="'ProcessTypeCodeChecked'" [ObjectTableName]="ObjectTableName"  [DataContext]="DataContext"></LogCheckBox> 
                                            
                                                                                 </td>
                                                                                <td>
                                                                                    <LogLabel
                                                                                        [ObjectFieldName]="'ProcessTypeCode'"
                                                                                        [ObjectTableName]="ObjectTableName"
                                                                                        [DataContext]="DataContext">
                                                                                    </LogLabel>
                                                                                </td>

                                                                                <td>
                                                                                    <LogLov
                                                                                        [ObjectFieldName]="'ProcessTypeCode'"
                                                                                        [ObjectTableName]="ObjectTableName"
                                                                                        [DataContext]="DataContext"
                                                                                        [HideColumns]="true"
                                                                                        [LookUpTableName]="'Customs.ItemGovernmentProcedureType'"
                                                                                        [FocusOnMe]="true"
                                                                                        [QueryFilterItems]="ProcessTypeCodeFilterItems">
                                                                                    </LogLov>

                                                                                </td>
                                                                                <td>
                                                                                    <div></div>
                                                                                </td>

                                                                            </tr>

                                                                            <tr>
                                                                                <td colspan="4">
                                                                                    <div></div>
                                                                                </td>
                                                                            </tr>
                                                                        </table>

                                                                    </td>
                                                                </tr>

                                                            </table>

                                                        </div>

                                                    </td>

                                                    <td style="width: 4px;">
                                                        
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>

                                </table>
                            </td>
                        </tr>

                    </table>
                </div>
            </ScrollViewer>
        </td>
    </tr>

    <tr style="height: 40%;">

        <td style="vertical-align: bottom">            

            <table *ngIf="IsVisibile">


                <tr>
                    <td *ngIf="IsFromSupplierInvoice" style="width: 4%;right: 10px;">
                        <LogCheckBox [Checked]="SupplierInvioceItemCertificatDefaultChecked" [ObjectFieldName]="'SupplierInvioceItemCertificatDefaultChecked'" [ObjectTableName]="ObjectTableName"  [DataContext]="DataContext"></LogCheckBox> 

                     </td>
                    <!-- ClassificationCode -->
                    <td style="width:85px; padding-right: 4px;">
                        <div style="color: #3b95d5;font-size:15px;">
                            {{'Customs.SupplierInvioceExportDefault.O.SupplierInvioceItemCertificats'|
                            TextCodeTranslationPipe}}</div>
                    </td>




                    <td style="width: 25px;height: 20px;padding: 5px;padding-bottom: 0px;">
                        <div>
                            <IconButton [IsSmall]="true" [Name]="'Add'" (click)="Add()" style="float:left;">
                            </IconButton>
                        </div>
                    </td>
                </tr>

                <tr style="height:5px"></tr>
                <tr style="height:100%;bottom:5px">
                    <td colspan="7">
                        <table>
                            <tr>
                                <td style="width:10px"></td>
                                <td colspan="5" style="padding-right:10px">

                                    <div class="CellContent" style="bottom: 5px;padding:5px">
                                        <logitude-edit-grid GridWidth="100%" GridHeight="100%"
                                            [ItemSource]="ItemsSource">



                                            <log-column
                                                [header]="'Customs.SupplierInvioceItemCertificat.F.SequenceNumeric' | TextCodeTranslationPipe"
                                                [width]="'75'" [Alignment]="'right'">
                                                <ng-template let-item>
                                                    <log-cell-template #logcelltemplate [TabIndex]="-1">
                                                        <div style="text-align:right" class="TextTrimming">
                                                            <span>{{item.SequenceNumeric}}</span>
                                                        </div>
                                                    </log-cell-template>
                                                </ng-template>
                                            </log-column>



                                            <log-column
                                                [header]="'Customs.SupplierInvioceItemCertificat.F.ReqConfirmationTypeCode' | TextCodeTranslationPipe"
                                                [binding]="'ConfirmationTypeCode'" [width]="'85'" [Editable]="true"
                                                [Alignment]="'right'">
                                                <ng-template let-item>
                                                    <log-cell-template #logcelltemplate>
                                                        <div class="TextTrimming" style="text-align:right"
                                                            *ngIf="logcelltemplate.IsDisplayMode">
                                                            <span>{{item.ConfirmationTypeName}}</span>
                                                        </div>
                                                        <div *ngIf="logcelltemplate.IsEditMode">
                                                            <LogLov [ObjectFieldName]="'ConfirmationTypeCode'"
                                                                [ObjectTableName]="ObjectTableName" [DataContext]="item"
                                                                [LookUpTableName]="'Customs.ConfirmationType'"
                                                                (SelectedItemChanged)="item.ConfirmationType = $event"
                                                                [FocusOnMe]="'true'" [HideColumns]="true">
                                                            </LogLov>

                                                        </div>
                                                    </log-cell-template>
                                                </ng-template>


                                            </log-column>



                                            <log-column
                                                [header]="'Customs.SupplierInvioceItemCertificat.F.AttachmentTypeCode' | TextCodeTranslationPipe"
                                                [binding]="'AttachmentTypeCode'" [width]="'95'" [Editable]="true"
                                                [Alignment]="'right'">
                                                <ng-template let-item>
                                                    <log-cell-template #logcelltemplate>
                                                        <div class="TextTrimming" style="text-align:right"
                                                            *ngIf="logcelltemplate.IsDisplayMode">
                                                            <span>{{item.AttachmentTypeName}}</span>
                                                        </div>
                                                        <div *ngIf="logcelltemplate.IsEditMode">
                                                            <LogLov [ObjectFieldName]="'AttachmentTypeCode'"
                                                                [ObjectTableName]="ObjectTableName" [DataContext]="item"
                                                                [LookUpTableName]="'Customs.AttachmentType'"
                                                                (SelectedItemChanged)="item.AttachmentType = $event"
                                                                [FocusOnMe]="'true'" [HideColumns]="true">
                                                            </LogLov>

                                                        </div>
                                                    </log-cell-template>
                                                </ng-template>


                                            </log-column>
                                            <log-column
                                                [header]="'Customs.SupplierInvioceItemCertificat.F.CertificateNumber' | TextCodeTranslationPipe"
                                                [binding]="'CertificateNumber'" [width]="'130'" [Editable]="true"
                                                [Alignment]="'right'">
                                                <ng-template let-item>
                                                    <log-cell-template #logcelltemplate>
                                                        <div class="TextTrimming" style="text-align:right"
                                                            *ngIf="logcelltemplate.IsDisplayMode">
                                                            <span>{{item.CertificateNumber}}</span>
                                                        </div>
                                                        <div *ngIf="logcelltemplate.IsEditMode">
                                                            <LogTextBox [FocusOnMe]="'true'"
                                                                [ObjectFieldName]="'CertificateNumber'"
                                                                [DataContext]="item" [Text]="item.CertificateNumber"
                                                                [ObjectTableName]="ObjectTableName"
                                                                [HideColumns]="true"></LogTextBox>


                                                        </div>
                                                    </log-cell-template>
                                                </ng-template>


                                            </log-column>

                                            <log-column
                                                [header]="'Customs.SupplierInvioceItemCertificat.F.CertificateExemptionTypeCode' | TextCodeTranslationPipe"
                                                [width]="'85'" [Editable]="true" [Alignment]="'right'"
                                                [binding]="'CertificateExemptionTypeCode'">

                                                <ng-template let-item>
                                                    <log-cell-template #logcelltemplate>
                                                        <div class="TextTrimming" style="text-align:right"
                                                            *ngIf="logcelltemplate.IsDisplayMode">
                                                            <span>{{item.CertificateExemptionTypeName}}</span>
                                                        </div>
                                                        <div *ngIf="logcelltemplate.IsEditMode">
                                                            <LogLov [ObjectFieldName]="'CertificateExemptionTypeCode'"
                                                                [ObjectTableName]="ObjectTableName" [DataContext]="item"
                                                                [LookUpTableName]="'Customs.CertificateExemptionType'"
                                                                (SelectedItemChanged)="item.CertificateExemptionType = $event"
                                                                [FocusOnMe]="'true'" [HideColumns]="true">
                                                            </LogLov>

                                                        </div>
                                                    </log-cell-template>
                                                </ng-template>

                                            </log-column>
                                            <log-column
                                                [header]="'Customs.SupplierInvioceItemCertificat.F.ResConfirmationTypeCode' | TextCodeTranslationPipe"
                                                [width]="'70'" [Editable]="true" [Alignment]="'right'"
                                                [binding]="'ResConfirmationTypeCode'">

                                                <ng-template let-item>
                                                    <log-cell-template #logcelltemplate>
                                                        <div class="TextTrimming" style="text-align:right"
                                                            *ngIf="logcelltemplate.IsDisplayMode">
                                                            <span>{{item.ResConfirmationTypeName}}</span>
                                                        </div>
                                                        <div *ngIf="logcelltemplate.IsEditMode">
                                                            <LogLov [ObjectFieldName]="'ResConfirmationTypeCode'"
                                                                [ObjectTableName]="ObjectTableName" [DataContext]="item"
                                                                [LookUpTableName]="'Customs.ConfirmationType'"
                                                                (SelectedItemChanged)="item.ResConfirmationType = $event"
                                                                [FocusOnMe]="'true'" [HideColumns]="true">
                                                            </LogLov>

                                                        </div>
                                                    </log-cell-template>
                                                </ng-template>


                                            </log-column>
                                            <log-column
                                                [header]="'Customs.SupplierInvioceItemCertificat.F.CustomsAttachmentID' | TextCodeTranslationPipe"
                                                [width]="'145'" [Editable]="true" [Alignment]="'right'"
                                                [binding]="'CustomsAttachmentID'">

                                                <ng-template let-item>
                                                    <log-cell-template #logcelltemplate>
                                                        <div class="TextTrimming" style="text-align:right"
                                                            *ngIf="logcelltemplate.IsDisplayMode">
                                                            <span>{{item.CustomsAttachmentID}}</span>
                                                        </div>
                                                        <div *ngIf="logcelltemplate.IsEditMode">
                                                            <LogTextBox [ObjectFieldName]="'CustomsAttachmentID'"
                                                                [DataContext]="item" [FocusOnMe]="'true'"
                                                                [Text]="item.CustomsAttachmentID"
                                                                [ObjectTableName]="ObjectTableName"
                                                                [HideColumns]="true"></LogTextBox>


                                                        </div>
                                                    </log-cell-template>
                                                </ng-template>

                                            </log-column>




                                            <log-column [width]="'40'" [Editable]="true" [Alignment]="'right'"
                                                [visibility]="'collapsed'">
                                                <ng-template let-item>
                                                    <log-cell-template [IgnoreMods]="true" #logcelltemplate>
                                                        <div
                                                            style="width: 30px; float: right; height:20px;padding-top:3px">
                                                            <IconButton [Name]="'Delete'" [IsSmall]="true"
                                                                (click)="DeleteButtonClicked(item)"></IconButton>
                                                        </div>



                                                    </log-cell-template>
                                                </ng-template>
                                            </log-column>






                                        </logitude-edit-grid>
                                    </div>
                                </td>

                            </tr>
                        </table>
                    </td>



                </tr>



            </table>

            <!-- <table  *ngIf="IsFromSupplierInvoice && IsVisibile" style="width: 600px;height: 300px;padding-top: 10px;">
                                  </table> -->

        </td>
    </tr>

    <tr style="height: 10%;">

        <td style="vertical-align: bottom">
            <table style="height: 5px;">
                <tr>
                    <td>
                        <div></div>
                    </td>

                    <td style="width: 57px;">
                        <button class="Button" (click)="CancelButtonClicked()">{{'General.B.Cancel' |
                            TextCodeTranslationPipe}}</button>
                    </td>

                    <td style="width: 5px;">
                        <div></div>
                    </td>

                    <td style="width: 57px;">
                        <button class="RedButton" (click)="OkButtonClicked()" [disabled]="disableSubmit">{{'General.B.Ok' |
                            TextCodeTranslationPipe}}</button>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

</table>