<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  
  <appSettings>
    <add key="Url" value="https://test.logitudeworld.com/test/api" />
	  <!--<add key="Url" value="http://localhost:9996/api" />-->
  </appSettings>

  <specFlow>
    <stepAssemblies>
      <stepAssembly assembly="Logitude.Test.Base" />
    </stepAssemblies>
  </specFlow>
  
</configuration>