<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Amital" version="1.0.0" targetFramework="net45" />
  <package id="Azure.Core" version="1.33.0" targetFramework="net472" />
  <package id="Azure.Storage.Blobs" version="12.17.0" targetFramework="net472" />
  <package id="Azure.Storage.Common" version="12.16.0" targetFramework="net472" />
  <package id="BCrypt-Official" version="0.1.109" targetFramework="net45" />
  <package id="Confluent.Kafka" version="1.8.2" targetFramework="net472" />
  <package id="DevArt" version="9.9.872" targetFramework="net45" />
  <package id="Dropbox.Api" version="4.2.6" targetFramework="net45" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net45" />
  <package id="jQuery" version="1.6.4" targetFramework="net45" />
  <package id="librdkafka.redist" version="1.8.2" targetFramework="net472" />
  <package id="Microsoft" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Cors" version="5.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR" version="2.2.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.Client" version="2.2.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.2.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.JS" version="2.2.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.Owin" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.SystemWeb" version="2.2.0" targetFramework="net45" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.1" targetFramework="net472" />
  <package id="Microsoft.Data.Edm" version="5.7.0" targetFramework="net45" />
  <package id="Microsoft.Data.OData" version="5.7.0" targetFramework="net45" />
  <package id="Microsoft.Data.Services.Client" version="5.7.0" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.Owin" version="2.1.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="2.1.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Security" version="2.1.0" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.SDK" version="2.9.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="NLog" version="5.2.4" targetFramework="net472" />
  <package id="NLog.Growl.New" version="1.1.0" targetFramework="net472" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="SFTP2" version="1.0.0" targetFramework="net45" />
  <package id="SFTP3" version="4.1.0" targetFramework="net472" />
  <package id="SharpZipLib" version="1.0.0" targetFramework="net45" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.ClientModel" version="1.0.0" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="5.0.0" targetFramework="net472" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.Hashing" version="6.0.0" targetFramework="net472" />
  <package id="System.Linq.Dynamic.Core" version="1.2.20" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Memory.Data" version="1.0.2" targetFramework="net472" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net472" />
  <package id="System.Spatial" version="5.7.0" targetFramework="net45" />
  <package id="System.Text.Encodings.Web" version="4.7.2" targetFramework="net472" />
  <package id="System.Text.Json" version="4.7.2" targetFramework="net472" />
  <package id="System.Threading.Tasks.Dataflow" version="4.9.0" targetFramework="net45" requireReinstallation="true" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="WindowsAzure.ServiceBus" version="3.4.5" targetFramework="net45" />
  <package id="WindowsAzure.Storage" version="8.0.1" targetFramework="net45" />
</packages>