

    @media screen and (max-width: 479px) {
        .shipment-cards-holder{
            height: 100vh ;
        }
        h1{
            padding-top: 25px;
          }
        .side-menu {
            display: block;
            text-align: center;
        }
        .side-menu .logo {
            margin: 65px 0;
        }
        .page-header {
            background-color: #467fa7;
            position: fixed;
            top: -15px;
            left: 0;
            right: 0;
            z-index: 99;
        }
         ul li, ul li {
            width: 100%;
            float: none !important;
            border: none;
            border-bottom: 1px solid #cfd1d6;
            padding: 15px 0px;
            color: white;
            margin: 0;
        }
        .menu-icon {
            display: inline-block;
        }
        .nav {
            display: none;
        }
        .mobile-header-title {
            color: white;
            font-size: 19px;
            padding: 10px 26px;
            display: inline-block;
        }
        .page-title {
            margin-top: 70px !important;
            text-align: left;

        }
        .column {
            display: block;
        }
        .search-bar, .search-text{
            width: 100% !important;
        }
        .no-result-div .title {
            font-size: 22px;
        }
        .selected-filters ul > li{
            width: auto;
            border: none;
        }



        .filters-sidebar{
            top: 50px; /* exc app bar*/
            left: 0;
            width: 100%;
        }
        .filters-sidebar::after{
            content: none;

        }
        .filters-sidebar li{
            width: initial;
        }
    }

    @media screen and (max-width: 479px) {
        .search-text {
            /* margin: 0 20px; */
            width: calc(100% - 130px) !important;
        }
        .circle-image {
            width: 50px !important;
            height: 50px;
        }
        .circle-image img{
            width: 22px;
        }
        .seperator {
            display: none !important;
        }
        .record-header,
        .hide-mobile {
            display: none;
        }
        .record-row .header {
            display: block !important;
        }
        .record-row {
            /* border: 1px solid #cacaca !important; */
            border-radius: 7px;
            margin: 10px 0;
        }
        .record-row .status {
            /* background-color: #F7F7F7;
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
            padding: 6px 17px; */
        }
        .record-row .column {
            padding-bottom: 4px;
            height: unset !important;
        }
        .column+.reference {
            width: 70% !important;
            height: 47% !important;
        }
        .mode-icon {
            width: 18% !important;
        }
        .mode-icon .circle-image {
            margin: 0;
        }
        .column+.sender,
        .column+.status {
            width: 45% !important;
        }
        .record-row {
            height: 125px !important;
        }
        .info-text {
            margin: 0 auto;
            width: 85%;
            margin-top: 80px;
        }
        .no-result-div {
            width: 100% !important;
            padding-top: 60px;
        }
        .no-result-div p {
            padding: 10px;
        }
        .no-result-div h1 {
            font-size: 18px;
            line-height: 24px;
        }

        .error{
            margin-top: 47px;
        }

        .direction-icon{
            position: relative;
            bottom: -7px;
            transform: rotate(45deg);
            width: 10px;
            height: 10px;
        }

        .column .circle-image div{
            top: 10px;
        }

        .column .circle-image div svg{
            height: 26px;
            width: 30px;
        }
        .more-mobile{
            display: inline;
            margin-left: 10px
        }
        .filters-sidebar ul {
            overflow-y: scroll;
        }
    }

    @media screen and (max-height: 823px) {
        .filters-sidebar ul {
            height: 610px;
        }
    }

    @media screen and (max-height: 731px) {
        .filters-sidebar ul {
            height: 520px;
        }
    }

    @media screen and (max-height: 640px) {
        .filters-sidebar ul {
            height: 420px;
        }
    }





    