
<style type="text/css">
    .Borderlist {
        list-style-position: inside;
        border: 1px solid black;
        border-radius: 10px;
        padding: 5px;
        margin: 10px;
        border-color: #D1D1D1;
        overflow: hidden;
        height: 70px;
    }
</style>


<div class="TabHolder" style="overflow-x:auto;overflow-y:auto;height:100%;width:100%;">
    <table style="min-width:1450px;">

        <!-- Header -->
        <tr class="TabTitleRow">
            <td>
                <table>
                    <tr>
                        <td>{{'Occasion.TH.Main' | TextCodeTranslationPipe}}</td>

                        <td style="width:160px">
                            <EntityFollowComponent [EntityId]="EntityId" [ObjectTableName]="'Occasion'"></EntityFollowComponent>
                        </td>

                        <td style="width:5px">
                            <div></div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <!-- Counts -->
        <tr style="height:100px;">
            <td>
                <table>
                    <tr>
                        <td>
                            <div class="MediaFill">
                                <fieldset class="MediaFill GroupBox">
                                    <legend>
                                        <span>Contacts</span>
                                    </legend>

                                    <div style="top: 10px;">
                                        <table class="FixedTable">
                                            <tr style="vertical-align:central;text-align:center;">
                                                <td>
                                                    <div style="font-size:30px;text-align:center;color:#1B90CB;">
                                                        <span class="QueryLink" style="font-size:30px;text-align:center;color:#282E30;" (click)="ViewAllData('AllContacts')"> {{NumberAllContacts}} </span>
                                                    </div>
                                                    <div style="height:5px;"></div>
                                                    <div style="font-size:11px;text-align:center;color:#6E7172;vertical-align:middle;text-align:center;"> All </div>
                                                </td>

                                                <td>
                                                    <div style="font-size:30px;text-align:center;color:#1B90CB;">
                                                        <span class="QueryLink" style="font-size:30px;text-align:center;color:#282E30;" (click)="ViewAllData('InvitedContacts')"> {{NumberInvitedContacts}} </span>
                                                    </div>
                                                    <div style="height:5px;"></div>
                                                    <div style="font-size:11px;text-align:center;color:#6E7172;vertical-align:middle;text-align:center;"> Invited </div>
                                                </td>

                                                <td>
                                                    <div style="font-size:30px;text-align:center;color:#1B90CB;">
                                                        <span class="QueryLink" style="font-size:30px;text-align:center;color:#282E30;" (click)="ViewAllData('ParticipatedContacts')"> {{NumberOfParticipatedContacts}} </span>
                                                    </div>
                                                    <div style="height:5px;"></div>
                                                    <div style="font-size:11px;text-align:center;color:#6E7172;vertical-align:middle;text-align:center;"> Participated </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </fieldset>
                            </div>
                        </td>

                        <td style="width: 10px;">
                            <div></div>
                        </td>

                        <td>
                            <div class="MediaFill">
                                <fieldset class="MediaFill GroupBox">
                                    <legend>
                                        <span>Customers</span>
                                    </legend>

                                    <div style="top: 10px;">
                                        <table class="FixedTable">
                                            <tr style="vertical-align:central;text-align:center;">
                                                <td>
                                                    <div style="font-size:30px;text-align:center;color:#1B90CB;">
                                                        <span class="QueryLink" style="font-size:30px;text-align:center;color:#282E30;" (click)="ViewAllData('AllCustomers')"> {{NumberAllCustomers}} </span>
                                                    </div>
                                                    <div style="height:5px;"></div>
                                                    <div style="font-size:11px;text-align:center;color:#6E7172;vertical-align:middle;text-align:center;"> All </div>
                                                </td>

                                                <td>
                                                    <div style="font-size:30px;text-align:center;color:#1B90CB;">
                                                        <span class="QueryLink" style="font-size:30px;text-align:center;color:#282E30;" (click)="ViewAllData('InvitedCustomers')"> {{NumberInvitedCustomers}} </span>
                                                    </div>
                                                    <div style="height:5px;"></div>
                                                    <div style="font-size:11px;text-align:center;color:#6E7172;vertical-align:middle;text-align:center;"> Invited </div>
                                                </td>

                                                <td>
                                                    <div style="font-size:30px;text-align:center;color:#1B90CB;">
                                                        <span class="QueryLink" style="font-size:30px;text-align:center;color:#282E30;" (click)="ViewAllData('ParticipatedCustomers')"> {{NumberOfParticipatedCustomers}} </span>
                                                    </div>
                                                    <div style="height:5px;"></div>
                                                    <div style="font-size:11px;text-align:center;color:#6E7172;vertical-align:middle;text-align:center;"> Participated </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </fieldset>
                            </div>
                        </td>

                        <td style="width: 430px;">
                            <div></div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr style=" height:5px;">
            <td>
                <div></div>
            </td>
        </tr>

        <tr>
            <td>
                <table>
                    <tr>
                        <td>
                            <table>
                                <tr style="height:25px;">
                                    <td>
                                        <table>
                                            <tr>
                                                <td style="width:300px; float:left;">
                                                    <SearchTextBox [ObjectTableName]="'OccasionInvitee'" (SearchTextChangeEvent)="SearchTextKeyUp($event)" [PlaceHolder]="'Search'"></SearchTextBox>
                                                </td>

                                                <td style="float:right;">
                                                    <table>
                                                        <tr>
                                                            <td style="width:55px; font-size:11px; color : #6E7172;">
                                                                <div>Filter by: </div>
                                                            </td>

                                                            <td style="width: 200px; vertical-align: middle;">
                                                                <InvitedFilter (SelectedValueChanged)="SelectedInvitedFilter = $event"></InvitedFilter>
                                                            </td>

                                                            <td style="width: 3px;">
                                                                <div></div>
                                                            </td>

                                                            <td style="width: 250px; vertical-align: middle;">
                                                                <ParticipatedFilter (SelectedValueChanged)="SelectedParticipatedFilter = $event"></ParticipatedFilter>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr style="height: 5px;">
                                    <td>
                                        <div></div>
                                    </td>
                                </tr>
                                <tr class="SectionHeader" style="height:32px;">
                                    <td>
                                        <table>
                                            <tr style="height:5px;">
                                                <td colspan="3">
                                                    <div></div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width:30px;">
                                                    <div></div>
                                                </td>

                                                <td style="float:left;">
                                                    <table>
                                                        <tr>
                                                            <td style="vertical-align:central;width: 50px;">
                                                                <LogCheckBox [IsDisabled]="!IsOccasionEnabled" [ObjectFieldName]="'IsCheckedAllContacts'" [NoObjectField]="true" [Checked]="IsCheckedAllContacts" [DataContext]="DataContext" [HideColumns]="true"></LogCheckBox>
                                                            </td>

                                                            <td style="width:5px;">
                                                                <div></div>
                                                            </td>

                                                            <td [class.Disable] ="!IsOccasionEnabled" style="vertical-align:central;width: 70px;">
                                                                <div [class.Disable]="!IsOccasionEnabled" tabindex="0" class="ToggleButton">
                                                                    <label>Actions</label>
                                                                    <img src="./Images/ToggleIcon.png" />

                                                                    <div class="ToggleButtonMenu" style="right: -70px;width:140px;">
                                                                        <button [disabled]="!IsOccasionEnabled" (click)="ActionsButtonClicked('MAI')">Mark as invited</button>
                                                                        <button [disabled]="!IsOccasionEnabled" (click)="ActionsButtonClicked('MAP')">Mark as participated</button>
                                                                        <button [disabled]="!IsOccasionEnabled" (click)="ActionsButtonClicked('MAUI')">
                                                                            Mark as uninvited
                                                                        </button>
                                                                        <button [disabled]="!IsOccasionEnabled" (click)="ActionsButtonClicked('MAUP')">Mark as not participated</button>
                                                                        <button [disabled]="!IsOccasionEnabled" (click)="ActionsButtonClicked('D')">Delete</button>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>

                                                <td>
                                                    <div></div>
                                                </td>

                                                <td style="float:right;vertical-align:central;">
                                                    <button [disabled]="!IsOccasionEnabled" class="Button" (click)="AddContactsClicked()">Add Contacts</button>
                                                </td>

                                                <td style="width:3px;">
                                                    <div></div>
                                                </td>
                                            </tr>

                                            <tr style="height:5px;">
                                                <td colspan="4">
                                                    <div></div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr style="height: 5px;">
                                    <td>
                                        <div></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="MediaFill">
                                            <SectionBox [Scrolling]="true" [HeaderHeight]="1">
                                                <SectionBody>
                                                    <div>
                                                        <div class="Borderlist" *ngFor="let item of OccasionLinesList">
                                                            <table style="table-layout: fixed;">
                                                                <tr>
                                                                    <td style="width: 20px;" rowspan="2">
                                                                        <div></div>
                                                                    </td>

                                                                    <td style="width: 50px;" rowspan="2">
                                                                        <LogCheckBox [ObjectFieldName]="'IsChecked'" [NoObjectField]="true" [Checked]="item.IsChecked" [DataContext]="item.DataContext" [HideColumns]="true"></LogCheckBox>
                                                                    </td>

                                                                    <td style="width: 250px;" rowspan="2">
                                                                        <div style="width:auto;height:50%;color:#1B90CB;" class="TextTrimming">{{item.ContactName}}</div>
                                                                        <div style="color:#282E30;font-size:10px;text-align:left;" class="TextTrimming">Email: {{item.ContactEmail}}</div>
                                                                        <div style="color:#282E30;font-size:10px;text-align:left;" class="TextTrimming">Tel: {{item.ContactTel}}</div>
                                                                    </td>

                                                                    <td style="width: 250px;" rowspan="2">
                                                                        <div style="width:auto;height:50%;color:#1B90CB;font-size:14px;" class="TextTrimming">{{item.CustomerName}}</div>
                                                                        <div style="color:#282E30;font-size:10px;text-align:left;" class="TextTrimming">Mobile: {{item.ContactMobile}}</div>
                                                                        <div style="color:#282E30;font-size:10px;text-align:left;" class="TextTrimming">Position: {{item.ContactPosition}}</div>
                                                                    </td>

                                                                    <td rowspan="2">
                                                                        <div class="MediaFill" style="vertical-align:central;">
                                                                            <table>
                                                                                <tr>
                                                                                    <td>
                                                                                        <div></div>
                                                                                    </td>
                                                                                    <td style="width: 135px;">
                                                                                        <div [class.Disabled]="!IsOccasionEnabled">
                                                                                            <span *ngIf="item.Invited" [class.HyperlinkDisabled]="!IsOccasionEnabled" class="hyperlink" (click)="item.InvitedClicked(false)" style="color:#1e4ac4;font-size:12px;text-decoration:none;"> Invited </span>
                                                                                            <span *ngIf="!item.Invited" [class.HyperlinkDisabled]="!IsOccasionEnabled" class="hyperlink" (click)="item.InvitedClicked(true)" style="color:#1B90CB;font-size:12px;text-decoration:none;"> Mark As Invited </span>
                                                                                        </div>
                                                                                        <div [class.Disabled]="!IsOccasionEnabled">
                                                                                            <span *ngIf="item.Participated"  [class.HyperlinkDisabled]="!IsOccasionEnabled" class="hyperlink" (click)="item.ParticipatedClicked(false)" style="color:#1e4ac4;font-size:12px;text-decoration:none;"> Participated </span>
                                                                                            <span *ngIf="!item.Participated"  [class.HyperlinkDisabled]="!IsOccasionEnabled" class="hyperlink" (click)="item.ParticipatedClicked(true)" style="color:#1B90CB;font-size:12px;text-decoration:none;"> Mark As Participated </span>
                                                                                        </div>
                                                                                        <div></div>
                                                                                    </td>

                                                                                    <td style="width:250px;">
                                                                                        <LogTextBox [Placeholder]="'Notes'" [ObjectFieldName]="'Notes'" [Text]="item.Notes" [ObjectTableName]="item.ObjectTableName" [DataContext]="item.DataContext" [HideColumns]="true" [IsMultiline]="true"></LogTextBox>
                                                                                    </td>

                                                                                    <td style="width: 5px;">
                                                                                        <div></div>
                                                                                    </td>

                                                                                    <td style="width: 25px; vertical-align:top;">
                                                                                        <IconButton [disabled]="!IsOccasionEnabled" [Name]="'delete'" (click)="DeleteOccasionInviteeClicked(item)"></IconButton>
                                                                                    </td>

                                                                                    <td style="width: 5px;">
                                                                                        <div></div>
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </SectionBody>
                                            </SectionBox>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>

                        <td style="width:10px;">
                            <div></div>
                        </td>

                        <td style="width:420px;">
                            <div class="MediaFill">
                                <SocialComponent [QueryName]="'Following'" [SubQueryName]="'All'" [IsEntityMode]="true" [ScreenCode]="'OCMN'"></SocialComponent>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

    </table>
</div>
