<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <!--<bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ILoginWcfService" />
                <binding name="BasicHttpBinding_IOceanInsightsWcfService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9996/WcfApi/LoginWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILoginWcfService"
                contract="LoginWcfServiceReference.ILoginWcfService" name="BasicHttpBinding_ILoginWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/OceanInsightsTestWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOceanInsightsWcfService"
                contract="OceanInsightsTestWcfServiceReference.IOceanInsightsWcfService"
                name="BasicHttpBinding_IOceanInsightsWcfService" />
        </client>-->
    </system.serviceModel>
</configuration>