
<div class="TabHolder">
    <table>
        <tr class="TabTitleRow">
            <td>{{'Ticket.TH.TicketEscalation' | TextCodeTranslationPipe}}</td>
        </tr>
        <tr style="height:5px;">
            <td>
                <div></div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="MediaFill">
                    <logitude-edit-grid GridWidth="100%" GridHeight="100%" [ItemSource]="TicketEscalationsList">

                        <log-column [width]="'120'" [header]="'Line #'">
                            <log-cell-template template="let item" #logcelltemplate>
                                <div style="width: 100%; text-align: center;">
                                    {{item.LineNumber}}
                                </div>
                            </log-cell-template>
                        </log-column>

                        <log-column [width]="'170'" [header]="'Create Date'">
                            <log-cell-template template="let item" #logcelltemplate>
                                <div style="width: 100%; text-align: left;">
                                    {{item.CreateDate|DateTimePipe:'DTL12NW'}}
                                </div>
                            </log-cell-template>
                        </log-column>

                        <log-column [width]="'120'" [header]="'Escalation For'">
                            <log-cell-template template="let item" #logcelltemplate>
                                <div style="width: 100%; text-align: left;">
                                    {{item.EscalationForName}}
                                </div>
                            </log-cell-template>
                        </log-column>

                        <log-column [width]="'250'" [header]="'Recepients'">
                            <log-cell-template template="let item" #logcelltemplate>
                                <div style="width: 100%; text-align: left;">
                                    {{item.Recepients}}
                                </div>
                            </log-cell-template>
                        </log-column>

                        <log-column [width]="'170'" [header]="'Due Date'">
                            <log-cell-template template="let item" #logcelltemplate>
                                <div style="width: 100%; text-align: left;">
                                    {{item.DueDate|DateTimePipe:'DTL12NW'}}
                                </div>
                            </log-cell-template>
                        </log-column>

                        <log-column [width]="'70'" [header]="'Violated'">
                            <log-cell-template template="let item" #logcelltemplate>
                                <div style="width: 100%; text-align: center;">
                                    <img *ngIf="item.IsSLAViolated" class="CenterCenter" src="./Images/CheckBoxIcon.png" style="width:15px;height:12px;" />
                                </div>
                            </log-cell-template>
                        </log-column>


                        <log-column [width]="'170'" [header]="'Update Date'">
                            <log-cell-template template="let item" #logcelltemplate>
                                <div style="width: 100%; text-align: left;">
                                    {{item.UpdateDate|DateTimePipe:'DTL12NW'}}
                                </div>
                            </log-cell-template>
                        </log-column>


                        <log-column [width]="'70'" [header]="'Closed'">
                            <log-cell-template template="let item" #logcelltemplate>
                                <div style="width: 100%; text-align: center;">
                                    <img *ngIf="item.IsClose" class="CenterCenter" src="./Images/CheckBoxIcon.png" style="width:15px;height:12px;" />
                                </div>
                            </log-cell-template>
                        </log-column>

                        <log-column [width]="'170'" [header]="'Close Date'">
                            <log-cell-template template="let item" #logcelltemplate>
                                <div style="width: 100%; text-align: left;">
                                    {{item.CloseDate|DateTimePipe:'DTL12NW'}}
                                </div>
                            </log-cell-template>
                        </log-column>

                    </logitude-edit-grid>
                </div>

            </td>
        </tr>
        <tr style="height:5px;">
            <td>
                <div></div>
            </td>
        </tr>
    </table>
</div>