.form-data-field {
    display: flex;
    flex-wrap: wrap;    
    justify-content: flex-end;
    margin: 15px 0;
}

:host ::ng-deep .form-data-field-field {
    flex: 0 0 390px;
    height: 40px;
    line-height: 2;
    direction: ltr;
    display: flex;

    >* {
        display: inline-block;
        align-content: center;
        max-width: 300px;
    }

    LogLabel {
        width: 90px;
    }

    LogTextBox,
    LogDatePicker,
    .InputDiv,
    .DatePickerInputDiv {
        width: 300px
    }

    select {
        width: 300px;
        height: 22px;
        box-shadow: inset 0 0 3px #AAAAAA;
    }

    .error {
        border: 1px solid red !important;
    }
}

.error-field {
    border: 1px solid red !important;
}

.error-message {
    color: red !important;
    text-align: center;
}