<appSettings>
    <!-- Service Bus specific app setings for messaging connections -->
    <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://[your namespace].servicebus.windows.net;SharedSecretIssuer=owner;SharedSecretValue=[your secret]" />
    
    <!-- "fs" for file system,"azure" for azure -->
    <add key="BlobServicePath" value="http://localhost:34488/BlobService.asmx" />
    <add key="BlobServicePath" value="http://192.168.10.88/AmitalStorageService/BlobService.svc" />
    <add key="CustomsCommandGetCustomRequestWR" value="1" />
    <add key="CustomsCommandSignRequestWR" value="1" />
    <add key="CustomsCommandSendDCAWR" value="1" /> 
    <add key="CustomsCommandSendDCAUploadStatusWR" value="1" />     
    <add key="CustomsCommandSendWSReceiveCorrelationWR" value="2" />
    <add key="CustomsCommandDownloadDcaReceiveCorrelationWR" value="1" />
    <add key="CustomsCommandAnalyzeResponseWR" value="2" />
    <add key="CustomsMessagingSheetWR" value="1" />
    <add key="SendDataToExternalServicesWR" value="1" />
    <add key="SignUpWorkerRoleWinService" value="1" />
    <add key="CommunicationLogWorkerRoleWinService" value="1" />
    <add key="DownloadDcaMessageSheetWR" value="1" />
    <!-- CustomsDeploymentStage =Test,Pilot,Production-->
    <add key="CustomsDeploymentStage" value="Pilot" />
    <add key="SMTP.server" value="smtp.sendgrid.net" />
    <add key="SMTP.ErrorNotifyEMAIL" value="YaronC@AMITAL.CO.IL,itzik@amital.co.il" />
    <add key="SMTP.sendpassword" value="log!@##@!" />
    <add key="SMTP.sendusername" value="system@logitudeworld.com" />

    <add key="QueueServiceMode" value="azure" />

    <add key="StorageServiceMode" value="fs" />
    <!-- in Amital Brunch its fs -->
    
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="DBMS" value="msql"/> <!--msql  for sql server-->
    <add key="DBMS" value="oracle"/> <!--msql  for sql server-->
    <add key="StorageServiceMode" value="azure" />
<add key="20180708HD310784.LogUntilDateyyyyMMdd" value="20181001" />
<add key="20220412HD367591.LogUntilDateyyyyMMdd" value="20220101" />

    <add key="20180718.ConcurrentKiller" value="1" />
  </appSettings>