.view-container {
    padding: 15px;
}

.data-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

LogLabel,
LogTextBox {
    width: 200px;
    display: inline-block;
}

BooleanFilter {
    width: 71px;
    display: block;
    margin: 14px 0px;
}

.button-wrapper {
    direction: ltr;
    position: absolute;
    bottom: 16px;
    left: 23px;
}

.Button {
    display: inline-block;
    min-width: 50px;
    margin: 0 5px;
    padding: 0 10px;
}

.disable-button {
    pointer-events: none;
    opacity: 0.5;
}