.root {
    .container.details {
        .section-header {         
            .section-header-right {             
                .header {
                }
            }
        }

        .details {
            .section {
                p span {
                    width: 50%;
                    display: inline-block;
                }
            }

            .first-section {
                box-shadow: none;
                padding: 0 13px;

                p span {
                    color: #006768;
                    font-family: 'Heebo', sans-serif;
                    font-size: 16px;
                    font-weight: 800;
                }
            }
        }

        .section-3 {
            text-align: center;
        }
    }
}