
<style>
    .BlueTitle{
        font-size:20px;
        color:#1B90CB;
        float:right;
        font-family:sans-serif;
        padding-right:10px;
        margin-top:5px;
    }
    .BackButton {
    float: left;
    margin-left: 7px;
    margin-right: 7px;
    height:30px;
    margin-top:3px;
    width:50px;
    }
    .LogitudeWindow {
        position: absolute;
        max-width:600px;
        /*top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;*/
        border-radius: 8px;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        background: -moz-linear-gradient(50% 100% 90deg,rgba(255, 255, 255, 1) 89.25%,rgba(230, 230, 230, 1) 100%);
        background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 1) 89.25%, rgba(230, 230, 230, 1) 100%);
        /*background: -webkit-gradient(linear,50% 100%,50% 0%,color-stop(0.8925,rgba(255, 255, 255, 1) ),color-stop(1,rgba(230, 230, 230, 1) ));*/
        background: -o-linear-gradient(90deg, rgba(255, 255, 255, 1) 89.25%, rgba(230, 230, 230, 1) 100%);
        background: linear-gradient(0deg, rgba(255, 255, 255, 1) 89.25%, rgba(230, 230, 230, 1) 100%);
        border: 1px solid #C8C8C8;
        overflow: hidden;
        /*vertical-align: middle;
        display: block;
        margin: auto;*/
    }

    .WarningSummary {
        height: 100%;
        width: 100%;
        border: 1px solid Orange;
        border-radius: 5px;
        background: #FFFBDA;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        overflow: hidden;
    }
    .Disable {
       opacity:0.5;
       pointer-events:none;
    }
   .tooltip {
    position: relative;
    display: inline-block;
    
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 350px;
    background-color: #6A8299;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 110%;
    margin-left: 5px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 80%;
    left: 98%;
    margin-left: 5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #6A8299;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.MyLabel{
    font-size:13px;
    padding-left:10px;
    color: rgb(110, 113, 114);
     font-family: sans-serif;
}
</style>
<table class="LogitudeWindow" *ngIf="DimApproveButton == false && DimDenyButton == false && ShowGoodsScreen == false && ShowTaxesScreen == false && ShowDenyScreen == false">
    <tr *ngIf="ValidationWarningsList != null && ValidationWarningsList != ''" style="height:1px;">
        <td>
           <div class="WarningSummary" style="margin-bottom: 3px;">{{ValidationWarningsList}}</div>
        </td>
    </tr>
    <tr>
        <td>
            <table style="direction:rtl;">
                <tr style="height:150px;border-top:1px solid #BCBEC0;">
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <span style="font-size:20px;border-bottom:1px solid #BCBEC0;color:#1B90CB;width:100%;float:left;font-family:sans-serif;padding-right:10px;">אישור היבואן להגשת הצהרת יבוא למכס</span>
                                    <table style="height:150px;margin-right:5px;">
                                        <tr>
                                            <td style="height: 22px;width:40%;">
                                                <label class="MyLabel">
                                                    מספר תיק עמילות
                                                </label>
                                            </td>
                                            <td style="height: 22px;">
                                                <label class="MyLabel">
                                                    {{CustomsFileNo}}
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="height: 22px;width:40%;">
                                                <label class="MyLabel">
                                                    מספר הצהרה
                                                </label>
                                            </td>
                                            <td style="height: 22px;">
                                                <label class="MyLabel">
                                                    {{DeclarationNo}}
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="height: 22px;width:40%;">
                                                <label class="MyLabel">
                                                    תאור טובין
                                                </label>
                                            </td>
                                            <td style="height: 22px;">
                                                <label class="MyLabel">
                                                    {{MishgorDescOfGoods1}}
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="height: 22px;width:40%;">
                                                <label class="MyLabel">
                                                    ערך סחורה בש"ח
                                                </label>
                                            </td>
                                            <td style="height: 22px;">
                                                <label style="font-size:13px;padding-left:10px;color: blue;text-decoration: underline;cursor:pointer;font-family:sans-serif;" (click)="GoodsValueClick()">
                                                    {{GoodsValue}}
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="height: 22px;width:40%;">
                                                <label class="MyLabel">
                                                    ערך סחורה בסיף
                                                </label>
                                            </td>
                                            <td style="height: 22px;">
                                                <label class="MyLabel">
                                                    {{CifValue}}
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="height: 22px;width:40%;">
                                                <label class="MyLabel">
                                                    סה"כ מיסים לתשלום
                                                </label>
                                            </td>
                                            <td style="height: 22px;">
                                                <label style="font-size:13px;padding-left:10px;color: blue;text-decoration: underline;cursor:pointer;font-family:sans-serif;" (click)="TotalTaxClick()">
                                                    {{TotalTax}}
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="height: 22px;width:40%;">
                                                <label class="MyLabel">
                                                    מספרכם
                                                </label>
                                            </td>
                                            <td style="height: 22px;">
                                                <label class="MyLabel">
                                                    {{CustomerReference1}}
                                                </label>
                                            </td>
                                        </tr>
                                        <!--<tr>
                                            <td style="height: 22px;width:40%;">
                                                <label class="MyLabel">
                                                    נמל מוצא
                                                </label>
                                            </td>
                                            <td style="height: 22px;">
                                                <img *ngIf="EntityPm && EntityPm.MainCarriageFromPortCode != '---'" [title]="EntityPm.MainCarriageFromPortName" src="{{EntityPm.MainCarriageFromPortCountryCode | CountryFlagPipe}}" style="width:17px;height:18px;vertical-align:middle;" />
                                                <span style="vertical-align:middle;font-size:12px;color:#6E7172;">{{EntityPm ? EntityPm.MainCarriageFromPortCode : ''}} </span>
                                            </td>
                                        </tr>-->
                                        <tr>
                                            <td style="height: 22px;width:40%;">
                                                <label class="MyLabel">
                                                    כמות
                                                </label>
                                            </td>
                                            <td style="height: 22px;">
                                                <label class="MyLabel">
                                                    {{MishgorPackageQuantity}}
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="height: 22px;width:40%;">
                                                <label class="MyLabel">
                                                    משקל
                                                </label>
                                            </td>
                                            <td style="height: 22px;">
                                                <label class="MyLabel">
                                                    {{MishgorPackageWeight}}
                                                </label>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr style="height:3px;">
                    <td>
                        <div style="width:100%;height:3px;"></div><!--border-bottom:1px solid #BCBEC0;-->
                    </td>
                </tr>
                <tr style="min-height: 458px;height: 73%;">
                    <td style="top: 230px;bottom: 8px;overflow-y: auto;overflow-x: hidden;" class="MediaFill">
                        <div style="overflow-y:auto;overflow-x:hidden;border: 1px solid #BCBEC0;border-radius: 4px;">
                            <div *ngFor="let item1 of externalDocs" style="padding:5px;float:right;width:100%;">
                                <span style="font-size:13px;border-bottom:1px solid #BCBEC0;color:#1B90CB;width:100%;float:left;font-family:sans-serif;">{{item1.key}}</span>
                                <div *ngFor="let item of item1.value let i = index"> <!--class="emptyticket" style="max-width:164px;margin-top:10px;direction:ltr;float:right;">-->
                                    <table *ngIf="item.hasFile" style="height:30px;">
                                        <tr>
                                            <td style="height:20px;width:10%;">
                                                <img *ngIf="item.IsDigitallySigned" src="./Images/DigitallySigned.png" [title]="item.SignersList" />
                                            </td>
                                            <td style="height:20px;width:40%;max-width:125px;" class="TextTrimming">
                                                <span style="text-align:center;font-size:13px;font-family:sans-serif;">{{item.DocumentTypeName}}</span>
                                            </td>
                                            <td style="height:20px;width:40%;max-width:125px;" class="TextTrimming">
                                                <span style="text-align:center;font-size:13px;font-family:sans-serif;">{{item.Description}}</span>
                                            </td>
                                            <td style="height:20px;width:10%;">
                                                <span style="text-align:center;color: #1B90CB;font-size:13px;font-family:sans-serif;" (click)="DownloadDocumentFile(item)">הצג</span>
                                            </td> 
                                            <td>
                                                <div></div>
                                            </td>
                                        </tr>
                                      
                                    </table>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div></div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr style="height:22px;">
        <td>
            <div [class.Disable]="DimApproveButton == true || DimDenyButton == true" style="float:right;margin-right: 5px;direction: rtl;">
                <LogCheckBox [Checked]="IsAccepted" (ValueChanged)="IsAcceptedChanged($event)" [ObjectFieldName]="'IsAccepted'" [DataContext]="DataContext" style="float:right;margin-top:2px;"></LogCheckBox>
                <label style="margin-right:-10px;font-size:12px;font-family:sans-serif;" class="TextTrimming">הנני מצהיר כי בדקתי את פרטי המשלוח והמסמכים וכולם תקינים</label><br />
            </div>
            <!--<div style="float:right;width:25px;margin-right: 5px;direction: rtl;" class="tooltip">
                <div class="tooltiptext">
                    <table>
                        <tr><td> I, the undersigned, hereby declare that I am aware of the</td></tr>
                        <tr><td> goods and of the attachments submitted to Customs in </td></tr>
                        <tr><td> the attached declaration</td></tr>
                    </table>
                </div>
                <img src="./Images/SharedNote.png" style="width:22px;height:22px;float:left" class="ActionButtons" />
            </div>-->
        </td>
    </tr>
    <tr style="height:12px;">
        <td>
            <div style="width:100%;height:1px;border-bottom:1px solid #BCBEC0;"></div>
        </td>
    </tr>
    <tr style="height:32px;">
        <td>
           
            <div style="float:left;margin-left:10px;">
                <button class="Button" [class.Disable]="DimApproveButton == true || DimDenyButton == true" (click)="DenyButtonClicked()" style="float: right;margin-left: 7px;margin-right: 7px;height:30px;" title="Deny Declaration">דחה הצהרה</button>
            </div>
            <div style="float:left;margin-left:10px;">
                <button class="GreenButton" [class.Disable]="DimApproveButton == true || IsAccepted == false || DimDenyButton == true" (click)="ApproveButtonClicked()" style="float: right;margin-left: 7px;margin-right: 7px;height:30px;" title="Approve Declaration">אשר הצהרה</button>
            </div>
         
            <!--<div style="float:left;margin-left:10px;">
                <button class="Button" (click)="CloseButtonClicked()" style="float: right;margin-left: 7px;margin-right: 7px;" title="Close">סגור</button>
            </div>-->
           
        </td>
    </tr>
    <tr style="height:3px;">
        <td>
            <!--<div style="width:100%;height:1px;border-bottom:1px solid #BCBEC0;"></div>-->
        </td>
    </tr>
</table>
<table class="LogitudeWindow" style="direction:rtl;" *ngIf="DimApproveButton == true || DimDenyButton == true || ShowFinalMessage == true">
    <tr>
        <td style="text-align:center;" *ngIf="DimApproveButton == true">
            <span style="font-size:20px;color:#1B90CB;width:100%;float:left;font-family:sans-serif;word-wrap: break-word;white-space: normal;">
               {{FinalMessage}}
            </span>
        </td>
        <td style="text-align:center;" *ngIf="DimDenyButton == true">
            <span style="font-size:20px;color:#1B90CB;width:100%;float:left;font-family:sans-serif;word-wrap: break-word;white-space: normal;">
                גרסה זו נדחתה
            </span>
        </td> 
        <td style="text-align:center;" *ngIf="ShowFinalMessage == true">
            <span style="font-size:20px;color:#1B90CB;width:100%;float:left;font-family:sans-serif;word-wrap: break-word;white-space: normal;">
                {{FinalMessage}}
            </span>
        </td>
    </tr>
</table>

<table class="LogitudeWindow" *ngIf="ShowGoodsScreen == true"  style="direction:rtl;">
    <tr style="height:30px;">
        <td>
            <div>
                <span class="BlueTitle">פרטי חשבון ספק</span>

                <button class="Button BackButton" (click)="CloseGoodsButtonClicked()">חזרה</button>
            </div>
        </td>
    </tr>
    <tr style="height:7px;">
        <td>
            <div style="width:100%;height:1px;border-bottom:1px solid #BCBEC0;"></div>
        </td>
    </tr>
    <tr>
        <td>
            <table style="margin-right:5px;">
                <tr style="height:80px;border-bottom:1px solid #BCBEC0;width:100%;font-family:sans-serif;" *ngFor="let item of AdditionalData.GoodsValueDetails; let i=index;">
                    <td>
                        <table>
                            <tr>
                                <td style="width: 100px; max-width: 100px;padding-right: 4px;color:#1B90CB;">מס' חשבון ספק</td>
                                <td class="CellStretched TextTrimming" style="width: 100px; max-width: 100px;padding-right: 4px;">
                                    {{item.SupAccount | CustomNumbersPipe:0}}
                                </td>
                            </tr>

                            <tr>
                                <td style="width: 100px; max-width: 100px;padding-right: 4px;color:#1B90CB;">תנאי מכר</td>
                                <td class="CellStretched TextTrimming" style="width: 100px; max-width: 100px;padding-right: 4px;">
                                    {{item.IncotermId}}
                                </td>
                            </tr>

                            <tr>
                                <td style="width: 100px; max-width: 100px;padding-right: 4px;color:#1B90CB;">סכום חשבון</td>
                                <td class="CellStretched TextTrimming" style="width: 100px; max-width: 100px;padding-right: 4px;">
                                    {{item.Value | CustomNumbersPipe:0}}
                                </td>
                            </tr>

                            <tr>
                                <td style="width: 100px; max-width: 100px;padding-right: 4px;color:#1B90CB;">מטבע</td>
                                <td class="CellStretched TextTrimming" style="width: 100px; max-width: 100px;padding-right: 4px;">
                                    {{item.CurrencyName}}
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td style="width: 100px; max-width: 100px;padding-right: 4px;color:#1B90CB;">ארץ חשבון</td>
                                <td class="CellStretched TextTrimming" style="width: 100px; max-width: 100px;padding-right: 4px;">
                                    {{item.CountryName}}
                                </td>
                            </tr>

                            <tr>
                                <td style="width: 100px; max-width: 100px;padding-right: 4px;color:#1B90CB;">ספק</td>
                                <td class="CellStretched TextTrimming" style="width: 100px; max-width: 100px;padding-right: 4px;">
                                    {{item.SupplierName}}
                                </td>
                            </tr>

                            <tr>
                                <td style="width: 100px; max-width: 100px;padding-right: 4px;color:#1B90CB;">נתוני הובלה</td>
                                <td class="CellStretched TextTrimming" style="width: 100px; max-width: 100px;padding-right: 4px;">
                                    {{item.SupplierFreight | CustomNumbersPipe:0}}
                                </td>
                            </tr>

                            <tr>

                                <td></td>
                                <td></td>

                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <div></div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    
    <!--<tr style="height:32px;">
        <td>
            <div style="float:left;margin-left:10px;">
                <button class="RedButton" (click)="CloseGoodsButtonClicked()" style="float: right;margin-left: 7px;margin-right: 7px;height:30px;">סגור</button>
            </div>
        </td>
    </tr>-->
</table>

<table class="LogitudeWindow" *ngIf="ShowTaxesScreen == true" style="direction:rtl;">
    <tr style="height:30px;">
        <td>
            <div>
                <span class="BlueTitle">פרטי מס</span>
                <button class="Button BackButton" (click)="CloseTaxesButtonClicked()">חזרה</button>
            </div> 
        </td>
    </tr>
    <tr style="height:7px;">
        <td>
            <div style="width:100%;height:1px;border-bottom:1px solid #BCBEC0;"></div>
        </td>
    </tr> 
    <tr>
        <td>
            <table>
                <tr style="height:60px;border-bottom:1px solid #BCBEC0;width:100%;font-family:sans-serif;" *ngFor="let item of AdditionalData.TaxesDetails; let i=index;">
                    <td>
                        <table>
                            <tr>
                                <td style="width: 125px; max-width: 125px;padding-right: 4px;color:#1B90CB;">סעיף מס לתשלום</td>
                                <td class="CellStretched TextTrimming" style="width: 125px; max-width: 125px;padding-right: 4px;">
                                    {{item.Taxtypename}}
                                </td>
                            </tr>

                            <tr>
                                <td style="width: 125px; max-width: 125px;padding-right: 4px;color:#1B90CB;">בסיס לחישוב מס בש"ח</td>
                                <td class="CellStretched TextTrimming" style="width: 125px; max-width: 125px;padding-right: 4px;">
                                    {{item.TaxBasis | CustomNumbersPipe:0}}
                                </td>
                            </tr>

                            <tr>
                                <td style="width: 125px; max-width: 125px;padding-right: 4px;color:#1B90CB;">מס לשלם</td>
                                <td class="CellStretched TextTrimming" style="width: 125px; max-width: 125px;padding-right: 4px;">
                                    {{item.TaxAmount | CustomNumbersPipe:0}}
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td style="width: 110px; max-width: 110px;padding-right: 4px;color:#1B90CB;">סכום לתשלום בש"ח</td>
                                <td class="CellStretched TextTrimming" style="width: 110px; max-width: 110px;padding-right: 4px;">
                                    {{item.TaxToPay | CustomNumbersPipe:0}}
                                </td>
                            </tr>

                            <tr>
                                <td style="width: 110px; max-width: 110px;padding-right: 4px;color:#1B90CB;">מס נדחה</td>
                                <td class="CellStretched TextTrimming" style="width: 110px; max-width: 110px;padding-right: 4px;">
                                    {{item.TaxPostponed | CustomNumbersPipe:0}}
                                </td>
                            </tr>

                            <tr>

                                <td></td>
                                <td></td>

                            </tr>
                        </table>
                    </td>
                </tr>
                <tr style="height:30px;border-bottom:1px solid #BCBEC0;width:100%;font-family:sans-serif;">
                    <td colspan="2">
                        <div style="padding-right: 4px;color:#1B90CB;text-align:center;font-weight:bold;height:16px; text-align:left;float:right;">
                            <span style="">סה"כ סכום לתשלום בש"ח</span>
                            <span style="font-weight:bold;margin-right: 20px;">{{TotalAmount | CustomNumbersPipe:0}}</span>
                        </div>
                    </td> 
                </tr> 
                <tr>
                    <td colspan="2">
                        <div></div>
                    </td>
                </tr>
            </table>
        </td>
    </tr> 
</table>

<table class="LogitudeWindow" *ngIf="ShowDenyScreen == true" style="direction:rtl;">
    <tr style="height:30px;">
        <td>
            <span class="BlueTitle">הסבר לדחיית הצהרה</span>
            <button class="Button BackButton" (click)="CloseDenyButtonClicked()" >חזרה</button>
        </td>
    </tr>
    <tr style="height:12px;">
        <td>
            <div style="width:100%;height:1px;border-bottom:1px solid #BCBEC0;"></div>
        </td>
    </tr>
   
    <tr *ngIf="ValidationErrorsList != null && ValidationErrorsList.length > 0" style="height:1px;">
        <td>
            <ValidationSummary [ItemsSource]="ValidationErrorsList" [SingleLine]="true"></ValidationSummary>
        </td>
    </tr>
    <tr>
        <td>
            <div class="MediaFill" style="height:120px;">
                <LogTextBox [Placeholder]="'אנא מלא את ההסבר לדחיית ההצהרה'" [HideColumns]="true" [HideLastColumn]="true" [ObjectFieldName]="'DenyReason'" [IsMultiline]="true" [DataContext]="DataContext" [Text]="DenyReason"></LogTextBox>
            </div>
        </td>
    </tr>
    <tr style="height:12px;">
        <td>
            <div style="width:100%;height:1px;border-bottom:1px solid #BCBEC0;"></div>
        </td>
    </tr>
    <tr style="height:32px;">
        <td>
            <div style="float:left;margin-left:10px;">
                <button class="RedButton" (click)="SendButtonClicked()" style="float: right;margin-left: 7px;margin-right: 7px;height:30px;">שלח</button>
            </div>
            <!--<div style="float:left;margin-left:10px;">
                <button class="Button" (click)="CloseDenyButtonClicked()" style="float: right;margin-left: 7px;margin-right: 7px;height:30px;">חזרה</button>
            </div>-->
        </td>
    </tr>
</table>
