<table>
    <tr>
        <td>
            <table>
                <tr>
                    <td>
                        <!--<button class="IconButton" style="background-color:inherit;margin-left:6px;text-align:right;margin-top:-35px;">
                            <img (click)="CloseButtonClicked()" src="./Images/LogBox/close.png" style="width:20px;cursor:pointer" />
                        </button>-->
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="margin-top:-20px;margin-right:4px;" [style.direction]="RTL ? 'rtl':'ltr'" [innerHTML]="WarningMessage"></div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr style="height:1px;">
        <td>
            <div style="margin-right:-4px;margin-left:7px;margin-top:9px;" [style.float]="'right'">
                <button class="RedButton" (click)="DenyButtonClicked()" style="float: right;margin-left: 7px;margin-right: 7px;" title="Deny Declaration">{{'Shipment.O.DenyDeclaration' | TextCodeTranslationPipe}}</button>
            </div>
            <div style="margin-left:3px;margin-top:9px;" [style.float]="'right'">
                <button class="GreenButton" (click)="ApproveButtonClicked()" style="float: right;margin-left: 7px;margin-right: 7px;" title="Approve Declaration">{{'Shipment.O.ApproveDeclaration' | TextCodeTranslationPipe}}</button>
            </div>
        </td>
    </tr>
</table>
