
<table>

        <tr *ngIf="ValidationErrorsList != null && ValidationErrorsList.length > 0" style="height:1px;">
            <td>
                <ValidationSummary [ItemsSource]="ValidationErrorsList"></ValidationSummary>
            </td>
        </tr>

        <tr>
            <td>
                <table class="FixedTable">
                    <!-- Charges Type -->
                    <tr class="FormFieldRow">
                        <td style="width: 110px;">
                            <LogLabel [ObjectFieldName]="'ChargesTypeId'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>

                        </td>

                        <td style="width: 230px;">
                            <LogLov  
                                    [ObjectFieldName]="'ChargesTypeId'"
                                    [ObjectTableName]="'TarrifCharge'"
                                    [DataContext]="DataContext"
                                    [LookUpTableName]="'ChargesType'"
                                    [HideColumns]="false"
                                    [QueryFilterItems]="ChargeTypesQueryFilters"
                                    [SelectedValue]="ChargesTypeId"
                                    >
                            </LogLov>
                        </td>

                        <td><div></div></td>
                    </tr>

                    <!-- MeasurementId -->
                    <tr class="FormFieldRow">
                        <td style="width: 110px;">
                            <LogLabel [ObjectFieldName]="'MeasurementId'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>

                        </td>

                        <td >
                            <div  style="width: 194px;">
                            <LogLov  
                                    [ObjectFieldName]="'MeasurementId'"
                                    [ObjectTableName]="'TarrifCharge'"
                                    [DataContext]="DataContext"
                                    [LookUpTableName]="'Measurement'"
                                    [HideColumns]="true"
                                    [SelectedValue]="MeasurementId"
                                    
                                    >
                            </LogLov>
                                </div>
                        </td>

                        <td><div></div></td>
                    </tr>

                    <!-- CurrencyId -->
                    <tr class="FormFieldRow">
                        <td style="width: 110px;">
                            <LogLabel [ObjectFieldName]="'CurrencyId'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>

                        </td>

                        <td style="width: 230px;">
                            <div style="width: 194px;">

                                <LogLov [ObjectFieldName]="'CurrencyId'"
                                        [ObjectTableName]="'TarrifCharge'"
                                        [DataContext]="DataContext"
                                        [LookUpTableName]="'Currency'"
                                        [HideColumns]="true"
                                        [SelectedValue]="CurrencyId"

                                        >
                                </LogLov>
                                </div>
</td>

                        <td><div></div></td>
                    </tr>

                    <!-- UnitPrice -->
                    <tr class="FormFieldRow">
                        <td style="width: 110px;">
                            <LogLabel [ObjectFieldName]="'UnitPrice'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>

                        </td>

                        <td style="width: 230px;"> 
                            <div style="width: 194px;">

                                <LogTextBox [ObjectFieldName]="'UnitPrice'" [Text]="UnitPrice" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext" [InputType]="'double'" [HideColumns]="true"></LogTextBox>
</div>
</td>

                        <td><div></div></td>
                    </tr>

                    <!-- MinPrice -->
                    <tr class="FormFieldRow">
                        <td style="width: 110px;">
                            <LogLabel [ObjectFieldName]="'MinPrice'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>

                        </td>

                        <td style="width: 230px;">
                            <div style="width: 194px;">

                                <LogTextBox [ObjectFieldName]="'MinPrice'" [Text]="MinPrice" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext" [InputType]="'double'" [HideColumns]="true"></LogTextBox>
</div>
</td>

                        <td><div></div></td>
                    </tr>

                    <!-- MaxPrice -->
                    <tr class="FormFieldRow">
                        <td style="width: 110px;">
                            <LogLabel [ObjectFieldName]="'MaxPrice'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>

                        </td>

                        <td style="width: 230px;">
                            <div style="width: 194px;">
                                <LogTextBox [ObjectFieldName]="'MaxPrice'" [Text]="MaxPrice" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext" [InputType]="'double'" [HideColumns]="true"></LogTextBox>
</div>
</td>

                        <td><div></div></td>
                    </tr>

                    <tr><td> <div></div></td> </tr>
                </table>
            </td>

        </tr>

        <tr style="height: 32px;">
            <td style="vertical-align: bottom">
                <table style="height: 22px;">
                    <tr>
                        <td>
                            <div></div>
                        </td>

                        <td style="width: 57px;">
                            <button class="Button" (click)="CancelButtonClicked()">Cancel</button>
                        </td>

                        <td style="width: 5px;">
                            <div></div>
                        </td>

                        <td style="width: 57px;">
                            <button class="RedButton" (click)="OkButtonClicked()">Ok</button>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

    </table>
