
<table>
    <tr *ngIf="ValidationErrorsList != null && ValidationErrorsList.length > 0" style="height:1px;">
        <td>
            <ValidationSummary [ItemsSource]="ValidationErrorsList"></ValidationSummary>
        </td>
    </tr>

    <tr class="FormFieldRow">
        <td>
            <table>
                <tr>
                    <td style="width:70px;" class="Label">
                        Port:
                    </td>

                    <td style="width:200px;">
                        <LogLov [ObjectFieldName]="'PortId'"
                                [SelectedValue]="PortId"
                                [ObjectTableName]="ObjectTableName"
                                [DataContext]="DataContext"
                                [LookUpTableName]="'Port'"
                                [DependencyFilter1Value]="'A'"
                                [NoObjectField]="true"
                                (KeyDownEvent)="KeyDownEvent($event)"
                                [ForceFocus]="ForceFocus"
                                (SelectedItemChanged)="Port = $event">
                        </LogLov>
                    </td>

                    <td>
                        <div>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr style="height: 32px;">
        <td style="vertical-align: bottom">
            <table style="height: 22px;">
                <tr>
                    <td>
                        <div></div>
                    </td>

                    <td style="width: 57px;">
                        <button class="Button" (click)="CloseButtonClicked()">{{'General.B.Close' | TextCodeTranslationPipe}}</button>
                    </td>

                    <td style="width:5px;"><div></div></td>

                    <td style="width: 57px;">
                        <button class="Button" (click)="AddButtonClicked()">{{'General.B.Add' | TextCodeTranslationPipe}}</button>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
