<table>
    <tr>
        <td>
            <div class="TableHolder">
                <table >
                    <tr style="height:25px">
                        <td class="TabTitleRow" style="width:250px">
                            {{'General.O.ConnectedDeclarations' | TextCodeTranslationPipe}}
                            <span *ngIf="TotalConnected != null"> {{' (' + TotalConnected + ')' }} </span>
                        </td>
                        <td><div></div></td>
                        <td style="width:250px">
                            <SearchTextBox [PlaceHolder]="'תיק/הצהרה/שטר מטען בלדר/לקוח'"
                                           [ObjectTableName]="ObjectTableName" (SearchTextChangeEvent)="ConnectedSearchCompleted($event)"></SearchTextBox>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" style="height: 40%; padding: 5px;">
                            <div class="GeneratedGridContainer" style="padding:5px"  *ngIf="IsVisibile">
                                <logitude-grid GridWidth="100%" GridHeight="100%"
                                               [ObjectTable]="ObjectTableName"
                                               [dataSource]="DataSource"
                                               (AfterViewInitCompleted)="ViewInitCompleted($event)"
                                               [MenuHeaderchangeevent]="MenuHeaderchangeevent"
                                               [columns]="columns"
                                              [IsAllRecordsChecked]="true"
                                               [SelectedRow]="SelectedRow2"
                                               [IsCustomTemplate]="true"
                                               (CheckBoxChecked)="onCheckBoxChecked($event)"
                                                [IsGradiantSelectedColor]="true">
                                </logitude-grid>
                            </div>

                        </td>

                    </tr>


                    <tr>
                        <td class="TabTitleRow" style="width:250px">{{'General.O.NotConnectedDeclarations' | TextCodeTranslationPipe}} </td>
                        <td><div></div></td>
                        <td style="width:250px">
                            <SearchTextBox [PlaceHolder]="'תיק/הצהרה/שטר מטען בלדר/לקוח'"
                                           [ObjectTableName]="ObjectTableName" (SearchTextChangeEvent)="NotConnectedSearchCompleted($event)"></SearchTextBox>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" style="height: 60%; padding: 5px;">

                            <div class="GeneratedGridContainer" style="padding:5px" *ngIf="IsVisibile">
                                <logitude-grid GridWidth="100%" GridHeight="100%"
                                               [ObjectTable]="ObjectTableName"
                                               [dataSource]="DataSource1"
                                               (AfterViewInitCompleted)="ViewInitCompleted1($event)"
                                               [MenuHeaderchangeevent]="MenuHeaderchangeevent1"
                                               [columns]="columns1"
                                               [IsCustomTemplate]="true"
                                               (CheckBoxChecked)="onCheckBoxChecked1($event)"
                                               [IsGradiantSelectedColor]="true">
                                </logitude-grid>
                            </div>

                        
                        </td>

                    </tr>
                </table>

            </div>
        </td>
    </tr>
</table>
