<style>
    .DisbleBox {
        display: inline-block;
        border: 1px solid #ffd800;
        border-radius: 5px;
        background: #faf5c0;
        padding: 2px 10px;
        margin: 5px;
        color: gray;
        font-family: sans-serif;
    }
</style>

<table style="height:350px; width:750px">

    <!--<tr style="height:50px; width:700px" class="TabTitleRow">
        <td>
            <table>
                <tr>
                    <td style="font-size:14px; width:200px;right:10px"> {{'General.O.CourierMaster' | TextCodeTranslationPipe}}</td>
                </tr>
            </table>
        </td>
        <td><div></div></td>
    </tr>-->
    <!--Disble Alert-->
    <tr style="height:30px;">
        <td colspan="4">
            <div *ngIf="IsDisplayOnly" style="width: 100%;text-align:center">
                <div class="DisbleBox">
                    {{DisplayOnlyMessage}}
                    <span style="padding: 0px 16px;">-</span>
                    <span class="hyperlink" (click)="RefreshEntity()" style="font-size:12px;">{{'LBL_REFRESH' | TextCodeTranslationPipe}}</span>
                </div>
            </div>
        </td>
    </tr>

    <tr style="height:40px; width:700px">
        <td>

            <table>
                <tr>
                    <td style="width:110px">
                        <LogLabel [ObjectFieldName]="'AirlinePrefix'" [ObjectTableName]="ObjectTableName"
                                  [DataContext]="DataContext"></LogLabel>
                    </td>
                    <td style="width:150px">
                        <LogLov [ObjectFieldName]="'AirlineId'"
                                [ObjectTableName]="ObjectTableName"
                                [DataContext]="DataContext"
                                [HideColumns]="true"
                                [SelectedValue]="AirlineId"
                                [LookUpTableName]="'Customs.CustomsAirline'">
                            <!--[DependencyFilter1Value]="'AL'"-->
                        </LogLov>
                    </td>
                    <td style="width:30px"></td>
                </tr>
            </table>
        </td>

        <td>
            <table>
                <tr>
                    <td style="width:110px">
                        <LogLabel [ObjectFieldName]="'MAWB'" [ObjectTableName]="ObjectTableName"
                                  [DataContext]="DataContext"></LogLabel>
                    </td>
                    <td style="width:150px">
                        <LogTextBox [ObjectFieldName]="'MAWB'" [InputType]="'text'" [DataContext]="DataContext"
                                    [ObjectTableName]="ObjectTableName" [HideColumns]="true"></LogTextBox>

                    </td>
                </tr>
            </table>
        </td>

        <td>
            <table>
                <tr>
                    <td style="width:20px"></td>
                    <td style="width:90px">
                        <LogLabel [ObjectFieldName]="'IsOpen'" [ObjectTableName]="ObjectTableName"
                                  [DataContext]="DataContext"></LogLabel>
                    </td>
                    <td style="width:100px">
                        <CheckBox (Checked)="IsOpen = $event" [IsChecked]="IsOpen" [IsEnabled]="!IsDisplayOnly"></CheckBox>
                    </td>
                </tr>
            </table>
        </td>
        <td><div></div></td>
    </tr>

    <tr style="height:40px; width:700px">
        <td>
            <table>
                <tr>
                    <td style="width:110px">
                        <LogLabel [ObjectFieldName]="'HAWB'" [ObjectTableName]="ObjectTableName"
                                  [DataContext]="DataContext"></LogLabel>
                    </td>
                    <td style="width:150px">
                        <LogTextBox [ObjectFieldName]="'HAWB'" [InputType]="'text'" [DataContext]="DataContext"
                                    [ObjectTableName]="ObjectTableName" [HideColumns]="true"></LogTextBox>
                    </td>
                    <td style="width:30px"></td>
                </tr>
            </table>
        </td>

        <td><div></div></td>

        <td>
            <table>
                <tr>
                    <td style="width:20px"></td>
                    <td style="width:110px">
                        <LogLabel [ObjectFieldName]="'EffectiveFlight'" [ObjectTableName]="ObjectTableName"
                                  [DataContext]="DataContext"></LogLabel>
                    </td>
                    <td style="width:120px">
                        <CheckBox (Checked)="EffectiveFlight = $event" [IsChecked]="EffectiveFlight" [IsEnabled]="!IsDisplayOnly"></CheckBox>
                    </td>


                </tr>
            </table>
        </td>
    </tr>

    <tr style="height:40px; width:700px">
        <td>
            <table>
                <tr>
                    <td style="width:110px">
                        <LogLabel [ObjectFieldName]="'GatewayPortCode'" [ObjectTableName]="ObjectTableName"
                                  [DataContext]="DataContext"></LogLabel>
                    </td>
                    <td style="width:150px">
                        <LogLov [ObjectFieldName]="'GatewayPortCode'"
                                [ObjectTableName]="ObjectTableName"
                                [DataContext]="DataContext"
                                [HideColumns]="true"
                                [SelectedValue]="GatewayPortCode"
                                [LookUpTableName]="'Customs.InternationalSite'">
                        </LogLov>
                    </td>
                    <td style="width:30px"></td>
                </tr>
            </table>
        </td>

        <td>
            <table>
                <tr>
                    <td style="width:110px">
                        <LogLabel [ObjectFieldName]="'OriginPortCode'" [ObjectTableName]="ObjectTableName"
                                  [DataContext]="DataContext"></LogLabel>
                    </td>
                    <td style="width:150px">
                        <LogLov [ObjectFieldName]="'OriginPortCode'"
                                [ObjectTableName]="ObjectTableName"
                                [DataContext]="DataContext"
                                [HideColumns]="true"
                                [SelectedValue]="OriginPortCode"
                                [LookUpTableName]="'Customs.InternationalSite'">
                        </LogLov>
                    </td>
                </tr>
            </table>
        </td>

        <td></td>
        <td><div></div></td>
    </tr>

    <tr style="height:40px; width:700px">
        <td>
            <table>
                <tr>
                    <td style="width:110px">
                        <LogLabel [ObjectFieldName]="'FlightNumber'" [ObjectTableName]="ObjectTableName"
                                  [DataContext]="DataContext"></LogLabel>
                    </td>
                    <td style="width:150px">
                        <LogTextBox [ObjectFieldName]="'FlightNumber'" [InputType]="'text'" [DataContext]="DataContext"
                                    [ObjectTableName]="ObjectTableName" [HideColumns]="true"></LogTextBox>
                    </td>
                    <td style="width:30px"></td>
                </tr>
            </table>
        </td>

        <td>
            <table>
                <tr>
                    <td style="width:110px">
                        <LogLabel [ObjectFieldName]="'DepartureDate'" [ObjectTableName]="ObjectTableName"
                                  [DataContext]="DataContext"></LogLabel>
                    </td>
                    <td style="width:150px">
                        <LogDatePicker [ObjectFieldName]="'DepartureDate'" [ObjectTableName]="ObjectTableName"
                                       [DataContext]="DataContext" [HideColumns]="true"
                                       [SelectedDateValue]="DepartureDate"></LogDatePicker>

                    </td>
                </tr>
            </table>
        </td>

        <td></td>
        <td><div></div></td>
    </tr>
    <tr style="height:40px; width:700px">
        <td>
            <table>
                <tr>
                    <td style="width:110px">
                        <LogLabel [ObjectFieldName]="'LandingDate'" [ObjectTableName]="ObjectTableName"
                                  [DataContext]="DataContext"></LogLabel>
                    </td>
                    <td style="width: 150px;">
                        <LogDatePicker [NoObjectField]="true" [ObjectFieldName]="'LandingDateDateOnly'" [ObjectTableName]="ObjectTableName"
                                       [InputType]="'date'" [DataContext]="DataContext"
                                       [HideColumns]="true"></LogDatePicker>
                    </td>
                    <td style="width:30px"></td>
                </tr>
            </table>


        </td>

        <td>
            <table>
                <tr>
                    <td style="width:110px">
                        <LogLabel [ObjectFieldName]="'LandingDateTimeOnly'" [DataContext]="DataContext" [ObjectTableName]="ObjectTableName"> </LogLabel>
                    </td>
                    <td style="width: 150px;">
                        <LogDatePicker [ObjectFieldName]="'LandingDateTimeOnly'"
                                       [ObjectTableName]="ObjectTableName"
                                       [InputType]="'time'" [DataContext]="DataContext"
                                       [TimeMode]="24" [SelectedDateValue]="LandingDateTimeOnly"
                                       [HideColumns]="true"></LogDatePicker>
                    </td>
                </tr>
            </table>
        </td>

        <td></td>
        <td><div></div></td>
    </tr>

    <tr style="height:40px; width:700px">
        <td>
            <table>
                <tr>
                    <td style="width:110px">
                        <LogLabel [ObjectFieldName]="'EstimatedArrivalDate'" [ObjectTableName]="ObjectTableName"
                                  [DataContext]="DataContext"></LogLabel>
                    </td>
                    <td style="width: 150px;">
                        <LogDatePicker [NoObjectField]="true" [ObjectFieldName]="'EstimatedArrivalDateOnly'" [ObjectTableName]="ObjectTableName"
                                       [InputType]="'date'" [DataContext]="DataContext"
                                       [HideColumns]="true"></LogDatePicker>
                    </td>
                    <td style="width:30px"></td>
                </tr>
            </table>


        </td>

        <td>
            <table>
                <tr>
                    <td style="width:110px">
                        <LogLabel [ObjectFieldName]="'EstimatedArrivalTimeOnly'" [DataContext]="DataContext" [ObjectTableName]="ObjectTableName"> </LogLabel>
                    </td>
                    <td style="width: 150px;">
                        <LogDatePicker [ObjectFieldName]="'EstimatedArrivalTimeOnly'"
                                       [ObjectTableName]="ObjectTableName"
                                       [InputType]="'time'" [DataContext]="DataContext"
                                       [TimeMode]="24" [SelectedDateValue]="EstimatedArrivalTimeOnly"
                                       [HideColumns]="true"></LogDatePicker>
                    </td>
                </tr>
            </table>
        </td>

        <td></td>
        <td><div></div></td>
    </tr>

    <tr style="height:40px; width:700px">
        <td>
            <table>
                <tr>
                    <td style="width:110px">
                        <LogLabel [ObjectFieldName]="'PackageQuantity'" [ObjectTableName]="ObjectTableName"
                                  [DataContext]="DataContext"></LogLabel>
                    </td>
                    <td style="width:150px">
                        <LogTextBox [ObjectFieldName]="'PackageQuantity'" [InputType]="'text'" [DataContext]="DataContext"
                                    [ObjectTableName]="ObjectTableName" [HideColumns]="true"></LogTextBox>
                    </td>
                    <td style="width:30px"></td>
                </tr>
            </table>
        </td>

        <td>
            <table>
                <tr>
                    <td style="width:110px">
                        <LogLabel [ObjectFieldName]="'GrossMassMeasure'" [ObjectTableName]="ObjectTableName"
                                  [DataContext]="DataContext"></LogLabel>
                    </td>
                    <td style="width:150px">
                        <LogTextBox [ObjectFieldName]="'GrossMassMeasure'" [InputType]="'text'" [DataContext]="DataContext"
                                    [ObjectTableName]="ObjectTableName" [HideColumns]="true"></LogTextBox>
                    </td>
                </tr>
            </table>
        </td>

        <td><div></div></td>
    </tr>

    <tr style="height:40px; width:700px">
        <td>
            <table>
                <tr>
                    <td style="width:110px">
                        <LogLabel [ObjectFieldName]="'WeightValueCode'" [ObjectTableName]="ObjectTableName"
                                  [DataContext]="DataContext"></LogLabel>
                    </td>
                    <td style="width:150px">
                        <LogLov [ObjectFieldName]="'WeightValueCode'"
                                [ObjectTableName]="ObjectTableName"
                                [DataContext]="DataContext"
                                [HideColumns]="true"
                                [SelectedValue]="WeightValueCode"
                                [QueryFilterItems]="WeightValueFilterItems"
                                [LookUpTableName]="'Customs.FreightPaymentMethod'">
                        </LogLov>
                    </td>
                    <td style="width:30px"></td>
                </tr>
            </table>
        </td>

        <td>
            <table>
                <tr>
                    <td style="width:110px">
                        <LogLabel [ObjectFieldName]="'StorageSiteCode'" [ObjectTableName]="ObjectTableName"
                                  [DataContext]="DataContext"></LogLabel>
                    </td>
                    <td style="width:150px">
                        <LogLov [ObjectFieldName]="'StorageSiteCode'"
                                [ObjectTableName]="ObjectTableName"
                                [DataContext]="DataContext"
                                [SelectedValue]="StorageSiteCode"
                                [HideColumns]="true"
                                [LookUpTableName]="'Customs.DeliverySiteType'">
                        </LogLov>
                    </td>

                </tr>
            </table>
        </td>
        <td><div></div></td>
    </tr>

    <tr style="height:40px; width:700px">
        <!--td>
            <table>
                <tr>
                    <td style="width:110px">
                        <LogLabel [ObjectFieldName]="'TruckerId'" [ObjectTableName]="ObjectTableName"
                                  [DataContext]="DataContext"></LogLabel>
                    </td>
                    <td style="width:150px">
                        <LogLov [ObjectFieldName]="'TruckerId'"
                                [ObjectTableName]="ObjectTableName"
                                [DataContext]="DataContext"
                                [SelectedValue]="TruckerId"
                                [DisplayMemberPath]="'LocalName'"
                                [HideAddLink]="true"
                                [LookUpTableName]="'Card'"
                                [DependencyFilter1Value]="'TR'"
                                [DisplayFieldsFromList]="'Code,LocalName'"
                                [HideColumns]="true"
                                [RunToggleMode]="true">
                        </LogLov>
                    </td>

                    <td style="width:30px"></td>
                </tr>
            </table>
        </td-->


        <td>
            <table>
                <tr>
                    <td style="width:110px">
                        <LogLabel [ObjectFieldName]="'IntegratorCode'" [ObjectTableName]="ObjectTableName"
                                  [DataContext]="DataContext"></LogLabel>
                    </td>
                    <td style="width:150px">
                        <LogTextBox [ObjectFieldName]="'IntegratorName'" [InputType]="'text'" [DataContext]="DataContext"
                                    [ObjectTableName]="ObjectTableName" [HideColumns]="true"></LogTextBox>
                        <!--
                        <LogLov [ObjectFieldName]="'IntegratorCode'"
                                [ObjectTableName]="ObjectTableName"
                                [DataContext]="DataContext"
                                [SelectedValue]="IntegratorCode"
                                [HideColumns]="true"
                                [LookUpTableName]="'Card'">
                            [DependencyFilter1Value]="'CS'"
                                            </LogLov>
                                            -->
                    </td>
                    <td style="width:30px"></td>
                </tr>
            </table>
        </td>

        <td>
            <table>
                <tr>
                    <td style="width:110px">
                        <LogLabel [ObjectFieldName]="'PackageQuantityInMAWB'" [ObjectTableName]="ObjectTableName"
                                  [DataContext]="DataContext"></LogLabel>
                    </td>
                    <td style="width:150px">
                        <LogTextBox [ObjectFieldName]="'PackageQuantityInMAWB'" [InputType]="'number'" [DataContext]="DataContext"
                                    [ObjectTableName]="ObjectTableName" [HideColumns]="true"></LogTextBox>
                    </td>
                </tr>
            </table>
        </td>

        <td><div></div></td>
    </tr>
    <tr style="height:7px; width:700px">
        <td></td>
        <td></td>

        <td></td>

    </tr>
    <tr style="height:40px; width:700px">

        <td colspan="2">
            <table>
                <tr>
                    <td style="width:38px">
                        <LogLabel [ObjectFieldName]="'CourierMasterRemarks'" [ObjectTableName]="ObjectTableName"
                                  [DataContext]="DataContext"></LogLabel>
                    </td>
                    <td style="width:150px">
                        <LogTextBox [ObjectFieldName]="'CourierMasterRemarks'" [DataContext]="DataContext"
                                    [ObjectTableName]="ObjectTableName" [HideColumns]="true" [IsMultiline]="true"></LogTextBox>

                    </td>
                </tr>
            </table>
        </td>

        <td><div></div></td>
    </tr>

</table>
