<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <add key="UpdateWarehouseSleepTime" value="1" />
    <add key="WarehouseBuildDays" value="1,2,3,4,5,6,7" />
    <add key="WarehouseBuildHoures" value="9:18 AM" />
    <add key="SourceConnection" value="Logitude2-5_Main,sa,Saas256,." />
    <add key="DestinationConnection" value="Logitude2-5_Main,sa,Saas256,." />
    <!--  <add key="SourceConnection" value="LogitudeMain-Test2,sa,Saas256,logitudetest.cloudapp.net" />
    <add key="DestinationConnection" value="logitudedw-shared,logitudeep,!LO852456,logitude-ep.database.windows.net" /> -->

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>