<style>
    .red {
        color: red !important;
    }
    .green{
        color: #00a24d !important;
    }


     /* css X icon */
     .aboodX{
        margin: 0 auto;
        position: absolute;
        left: 15px;
        top: 5px;
        right: 15px;
    }
        .aboodX:before, .aboodX:after {
            position: absolute;
            left: 15px;
            content: ' ';
            height: 12px;
            width: 3px;
            background-color: black;
        }
        .red.aboodX:before,.red.aboodX:after{
            background: #f32626 !important;
        }
        .orange.aboodX:before,.orange.aboodX:after{
            background: #ff8100 !important;
        }
        .aboodX:hover{
            opacity: 0.9;
        }
        .aboodX:before {
            transform: rotate(45deg);
        }
        .aboodX:after {
            transform: rotate(-45deg);
        }


        .aboodV {
            margin: 0 auto;
            position: absolute;
            left: 15px;
            top: 4px;
            right: 15px;
            width: 15px;
        }
        .aboodV:after {
            content: "";
            display: block;
            width: 4px;
            height: 10px;
            border: solid #090;
            border-width: 0 3px 3px 0;
            transform: rotate(45deg);
        }
        .readonly {
             pointer-events: none;
             user-select: text; 
             opacity: 0.7;
        }

</style>
<div>
    <div class="TextTrimming" [style.text-align]="isRTL ? 'right' : 'left'" *ngIf="fieldName == 'PaymentNo'">
        <a href="javascript:;" (click)="OpenAPPayment(rowData['Id'])">
            {{rowData['PaymentNo'] }}
        </a>
    </div>
    <div class="TextTrimming" [style.text-align]="isRTL ? 'right' : 'left'" *ngIf="fieldName == 'Checked'" [class.readonly]="readonly">
        <CheckBox [IsChecked]="rowData.IsChecked" (Checked)="IsChecked = $event"></CheckBox>
    </div>
    <div class="TextTrimming" [style.text-align]="isRTL ? 'right' : 'left'" *ngIf="fieldName == 'RegisterDate'" (click)="OpenAPPayment(rowData['Id'])">{{ rowData[fieldName] | DateTimePipe:'SD' }}</div>
    
    <div class="TextTrimming" [style.text-align]="isRTL ? 'right' : 'left'" *ngIf="fieldName == 'ApprovedDateTime'"(click)="OpenAPPayment(rowData['Id'])">{{ rowData[fieldName] | DateTimePipe:'SD' }}</div>

    <div class="TextTrimming" *ngIf="fieldName == 'AmountInLocalCurrency'"  (click)="OpenAPPayment(rowData['Id'])" style="color:#00a24d; text-align: right; padding: 0px 2px;direction: ltr;" [class.red]='rowData["AmountInLocalCurrency"]<0'>
        {{ rowData["AmountInLocalCurrency"] | NumbersPipe:'N2' }}
    </div>
    <div [style.text-align]="isRTL ? 'right' : 'left'" class="TextTrimming" *ngIf="fieldName == 'VendorName'">
        <a href="javascript:;" (click)="OpenVendor(rowData['VendorId'],rowData['VendorPartnerTypeId'])">
            {{(isRTL && rowData['VendorLocalName'] !== null) ? rowData['VendorLocalName'] : rowData['VendorName'] }}
        </a>
    </div>
    
    <div class="TextTrimming" [style.text-align]="isRTL ? 'right' : 'left'" *ngIf="fieldName == 'Errors'">{{ getMissingBankDetails(rowData) }}</div>


   

</div>
