<style>
    .red {
        color: red !important;
    }
    .green{
        color: #00a24d !important;
    }


     /* css X icon */
     .aboodX{
        margin: 0 auto;
        position: absolute;
        left: 15px;
        top: 5px;
        right: 15px;
    }
        .aboodX:before, .aboodX:after {
            position: absolute;
            left: 15px;
            content: ' ';
            height: 12px;
            width: 3px;
            background-color: black;
        }
        .red.aboodX:before,.red.aboodX:after{
            background: #f32626 !important;
        }
        .orange.aboodX:before,.orange.aboodX:after{
            background: #ff8100 !important;
        }
        .aboodX:hover{
            opacity: 0.9;
        }
        .aboodX:before {
            transform: rotate(45deg);
        }
        .aboodX:after {
            transform: rotate(-45deg);
        }


        .aboodV {
            margin: 0 auto;
            position: absolute;
            left: 15px;
            top: 4px;
            right: 15px;
            width: 15px;
        }
        .aboodV:after {
            content: "";
            display: block;
            width: 4px;
            height: 10px;
            border: solid #090;
            border-width: 0 3px 3px 0;
            transform: rotate(45deg);
        }

</style>
<div>
    <!-- Line -->
    <div class="TextTrimming" [style.text-align]="isRTL ? 'right' : 'left'" *ngIf="fieldName == 'Line'">{{ rowData[fieldName]}}</div>
    <div class="TextTrimming" [style.text-align]="isRTL ? 'right' : 'left'" *ngIf="fieldName == 'LineTypeCode'">{{ rowData[fieldName] }}</div>
    
    <!-- ReferenceDate -->
    <div class="TextTrimming" [style.text-align]="isRTL ? 'right' : 'left'" *ngIf="fieldName == 'ReferenceDate'">{{ rowData[fieldName] | DateTimePipe:'SD' }}</div>
    <div class="TextTrimming" [style.text-align]="isRTL ? 'right' : 'left'" *ngIf="fieldName == 'VatNumber'">{{ rowData[fieldName] }}</div>
    <div class="TextTrimming" [style.text-align]="isRTL ? 'right' : 'left'" *ngIf="fieldName == 'Reference'">{{ rowData[fieldName] }}</div>
    <div class="TextTrimming" [style.text-align]="isRTL ? 'right' : 'left'" *ngIf="fieldName == 'ReferecneGroup'">{{ rowData[fieldName] }}</div>

    <!-- TransmitStatusCode -->
    <div class="TextTrimming" style="text-align: center;" *ngIf="fieldName == 'TransmitStatusCode'">
        <div [ngSwitch]="rowData.TransmitStatusCode" class="TextTrimming" style="text-align: center;">
            <div *ngSwitchCase="'1'" class="aboodV" [style.right.px]="isRTL ? '30' : '15'"></div>
            <div *ngSwitchCase="'4'" class="aboodV" [style.right.px]="isRTL ? '30' : '15'"></div>
            <div *ngSwitchCase="'2'" class="aboodX orange"></div>
            <div *ngSwitchCase="'3'" class="aboodX red"></div>
        </div>
    </div>

    <!-- TotalInvoiceAmount  -->
    <div class="TextTrimming" *ngIf="fieldName == 'TotalInvoiceAmount'" style="color:#00a24d; text-align: right; padding: 0px 2px;direction: ltr;" [class.red]='rowData["TotalInvoiceAmount"]<0'>
        {{ rowData["TotalInvoiceAmount"] | NumbersPipe:'N2' }}
    </div>

     <!-- SubTotalInLocalCurrency  -->
     <div class="TextTrimming" *ngIf="fieldName == 'SubTotalInLocalCurrency'" style="color:#00a24d; text-align: right; padding: 0px 2px;direction: ltr;" [class.red]='rowData["SubTotalInLocalCurrency"]<0'>
        {{ rowData["SubTotalInLocalCurrency"] | NumbersPipe:'N2' }}

    </div>

    <!-- VatAmount -->
    <div class="TextTrimming" *ngIf="fieldName == 'VatAmount'" style="color:#00a24d; text-align: right; padding: 0px 2px;direction: ltr;" [class.red]='rowData["VatAmount"]<0'>
        {{ rowData["VatAmount"] | NumbersPipe:'N2' }}
    </div>

    <!-- StatusName -->
    <!-- <div class="TextTrimming" *ngIf="fieldName == 'StatusLocalName'" style="color:#00a24d;padding: 0px 2px;" [style.text-align]="isRTL ? 'right' : 'left'" [class.red]='rowData.StatusCode != "6"'>
        {{ rowData["StatusLocalName"] }}
    </div> -->

    <div class="TextTrimming" *ngIf="fieldName == 'StatusEnglishName' || fieldName == 'StatusLocalName'" style="color:#00a24d;padding: 0px 2px;" [style.text-align]="isRTL ? 'right' : 'left'" [class.red]='rowData.StatusCode != "6"'>
        {{ showLocal ? rowData["StatusLocalName"] : rowData["StatusEnglishName"] }}
    </div>

    <!-- JournalNumber -->
    <div [style.text-align]="isRTL ? 'right' : 'left'" class="TextTrimming" *ngIf="fieldName == 'JournalNumber'">
        <a href="javascript:;" (click)="OpenJournal(rowData['JournalId'])">
            {{ rowData['JournalNumber'] }}
        </a>
    </div>
    <div [style.text-align]="isRTL ? 'right' : 'left'" class="TextTrimming" *ngIf="fieldName == 'ConfirmationNumber'">
            {{ rowData['ConfirmationNumber'] }}
    </div>
    <!-- IsExternal -->
    <div *ngIf="fieldName == 'IsExternalLine'">
        <div style="text-align: center;" *ngIf="rowData['IsExternalLine']" title="{{'TaxReportLine.O.ExternalTooltip' | TextCodeTranslationPipe}}">
            <img src="./Images/External.png" />
        </div>
    </div>
    <!-- IsExternal -->
    <div *ngIf="fieldName == 'IsManuallyChanged'">
        <div style="text-align: center;"  *ngIf="rowData['IsManuallyChanged']"   title="{{GetUpdateMessage()}}">
            <img src="./Images/favicon.png" />
        </div>      
    </div>

    <!-- Buttons -->
    <div *ngIf="fieldName == 'Buttons'" class="TextTrimming" style="padding: 3px 3px;">
        <IconButton [IsEnabled]=" (taxReportStatusCode == 'E' || taxReportStatusCode == 'D')" [IsSmall]="true" [Name]="'Edit'" (click)="EditLine()"></IconButton>
    </div>

</div>
