<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <appSettings>
    <add key="PercentageOfTotalDriveSpace" value="10" />
    <add key="ServiceTimerIntervalInSeconds" value="3600" />
    <add key="FromAddress" value="no-reply@logitudeworld.com" />
    <add key="ToAddresses" value="abd@logitudeworld.com" />
    <add key="SmtpClientHost" value="smtp.sendgrid.net" />
    <add key="SmtpClientPort" value="587" />
    <add key="SmtpClientUsername" value="LogitudeworldTestAccount" />
    <add key="SmtpClientPassword" value="!T1234567" />
  </appSettings>
  
</configuration>