
<style>
    .iwanttohover:hover {
        background: #DDE6F0;
    }

    GridView th, .GridView td, .GridView td div {
        text-align: left;
        text-indent: 5px;
        /*height: 24px;*/
        line-height: 17px;
        vertical-align: middle;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
</style>






    <table *ngIf="IsLoadPage" style="height:100%;vertical-align:top">




        <tr style="height:10px"><td colspan="3"><div></div></td></tr>


        <tr style="height:100%;vertical-align:top;">


            <td style="width:400px">
                <table style="vertical-align:top">
               

                    <tr  style="vertical-align:top;height:30px">
                        <td style="width:5px"><div></div></td>
                        <td style="width:120px;"><LogLabel [ObjectFieldName]="'CountryCode'" [ObjectTableName]="'DocumentTypeTemplate'" [DataContext]="EntityPM"></LogLabel></td>
                        <td style="width:280px"><LogLov style="width:250px" (SelectedItemChanged)="CountrySelectedChange($event)" [LogitudeForm]="myForm" [ObjectFieldName]="'CountryId'" [SelectedValuePath]="'Id'" [ObjectTableName]="'DocumentTypeTemplate'" [DataContext]="DataContext" [LookUpTableName]="'Country'"></LogLov></td>
                        <td><div></div></td>
                    </tr>

                    <tr style="vertical-align:top;height:30px">
                        <td style="width:5px"><div></div></td>
                        <td style="width:120px;"><LogLabel [ObjectFieldName]="'IsEnabledForCustomers'" [ObjectTableName]="'DocumentTypeTemplate'" [DataContext]="EntityPM"></LogLabel></td>
                        <td style="width:280px;text-align:left"><LogCheckBox [LogitudeForm]="myForm" [ObjectFieldName]="'IsEnabledForCustomers'" [ObjectTableName]="'DocumentTypeTemplate'" [DataContext]="EntityPM"></LogCheckBox></td>
                        <td><div></div></td>
                    </tr>

                    <tr style="vertical-align:top;height:30px">
                        <td style="width:5px"><div></div></td>
                        <td style="width:120px;"><LogLabel [ObjectFieldName]="'IsCopiedAtSignup'" [ObjectTableName]="'DocumentTypeTemplate'" [DataContext]="EntityPM"></LogLabel></td>
                        <td style="width:280px;text-align:left"><LogCheckBox [LogitudeForm]="myForm" [ObjectFieldName]="'IsCopiedAtSignup'" [ObjectTableName]="'DocumentTypeTemplate'" [DataContext]="EntityPM"></LogCheckBox></td>
                        <td><div></div></td>
                    </tr>
    
                    <tr style="vertical-align:top;height:30px">
                        <td style="width:5px"><div></div></td>
                        <td style="width:120px;"><LogLabel [ObjectFieldName]="'IsSystem'" [ObjectTableName]="'DocumentTypeTemplate'" [DataContext]="EntityPM"></LogLabel></td>
                        <td style="width:280px;text-align:left"><LogCheckBox [LogitudeForm]="myForm" [ObjectFieldName]="'IsSystem'" [ObjectTableName]="'DocumentTypeTemplate'" [DataContext]="EntityPM"></LogCheckBox></td>
                        <td><div></div></td>
                    </tr>

                    <tr style="vertical-align:top;height:40px">
                        <td style="width:5px"><div></div></td>
                        <td style="width:120px;">  <LogLabel [ObjectFieldName]="'Language'" [ObjectTableName]="'DocumentTypeTemplate'" [DataContext]="EntityPM"></LogLabel></td>
                        <td style="width:280px">

                            <table>
                                <tr>
                                    <td>
                                        <div style="height:22px;">
                                            <LogTextBox style="width:338px;height:22px" [LogitudeForm]="myForm" [ObjectFieldName]="'Language'" [IsMultiline]="false" [ObjectTableName]="'DocumentTypeTemplate'" [DataContext]="EntityPM"></LogTextBox>

                                        </div>
                                    </td>
                                </tr>

                            </table>



                        <td><div></div></td>
                    </tr>



                    <tr style="vertical-align:top;height:30px">
                        <td style="width:5px"><div></div></td>
                        <td style="width:120px;;vertical-align:top">  <LogLabel [ObjectFieldName]="'InternalRemarks'" [ObjectTableName]="'DocumentTypeTemplate'" [DataContext]="EntityPM"></LogLabel></td>
                        <td style="width:280px">
                        
                        <table>
                            <tr>
                                <td>
                                    <div style="height:80px;">
                                        <LogTextBox style="width:280px;height:80px" [LogitudeForm]="myForm" [ObjectFieldName]="'Notes'" [IsMultiline]="true" [ObjectTableName]="'DocumentTypeTemplate'" [DataContext]="EntityPM"></LogTextBox>

                                    </div>
                                </td>
                            </tr>

                        </table>
                       
                        
                        
                        <td><div></div></td>
                    </tr>

                    <tr style="height:100%"><td></td></tr>

                </table>



            </td>



            <td><div></div></td>

        </tr>





        <tr style="height: 32px;">
            <td colspan="3" style="vertical-align: bottom">
                <table style="height: 22px;">
                    <tr>
                        <td>
                            <div></div>
                        </td>

                        <td style="width: 57px;">
                            <div>
                                <button class="Button" (click)="CloseButtonClicked()">Cancel</button>
                            </div>
                        </td>

                        <td style="width: 5px;">
                            <div></div>
                        </td>

                        <td style="width: 57px;">
                            <button class="RedButton" (click)="SaveButtonClicked()">Ok</button>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

    </table>

