<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <!-- <add name="Globalstr" connectionString="Logitude2-5_Global,sa,Saas256,." />
    <add name="SystemLogsStr" connectionString="Logitude2-5_SystemLogs,sa,Saas256,." />-->
    <add name="Globalstr" connectionString="LogitudeGlobal-PreR2,logitudemanager,!LO009008,logitudetest.database.windows.net" />
    <add name="SystemLogsStr" connectionString="LogitudeSystemLogs-PreR2,logitudemanager,!LO009008,logitudetest.database.windows.net" />
    <!--  <add name="Globalstr" connectionString="LogitudeGlobal-Test2,sa,Saas256,logitudetest.cloudapp.net" />
	<add name="SystemLogsStr" connectionString="LogitudeSystemLogs-Test2,sa,Saas256,logitudetest.cloudapp.net" />-->
    <!--<add name="Globalstr" connectionString="LogitudeGlobal,logitudemanager,!LO852456,ebup282itq.database.windows.net" />
    <add name="SystemLogsStr" connectionString="LogitudeSystemLogs,logitudemanager,!LO852456,ebup282itq.database.windows.net" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>