
<table>
        <tr *ngIf="ValidationErrorsList != null && ValidationErrorsList.length > 0" style="height:1px;">
            <td>
                <ValidationSummary [ItemsSource]="ValidationErrorsList"></ValidationSummary>
            </td>
        </tr>

        <tr style="height: 1px;">
            <td>
                <table class="FixedTable">

                    <!-- CurrencyId -->
                    <tr class="FormFieldRow">
                        <td style="width: 150px;">
                            <LogLabel [ObjectFieldName]="'CurrencyId'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                        </td>

                        <td style="width: 230px;">
                            <LogLov  
                                    [ObjectFieldName]="'CurrencyId'"
                                    [ObjectTableName]="'Tenant'"
                                    [DataContext]="DataContext"
                                    [LookUpTableName]="'Currency'">
                            </LogLov>
                        </td>

                        <td></td>
                    </tr>

                    <tr><td colspan="3"><div></div></td></tr>

                </table>
            </td>
        </tr>

        <!-- Grid -->
        <tr *ngIf="RatesListVisibility">
            <td>
                <div class="SimpleGridView">
                    <div class="SimpleGridViewHeader">
                        <table>
                            <tr>
                                <td style="width: 100px;min-width: 100px">{{'RatesTable.F.ForeignCurrencyId' | TextCodeTranslationPipe}}</td>
                                <td style="width: 100px;min-width: 100px">{{'RatesTable.O.ExchangeDate' | TextCodeTranslationPipe}}</td>
                                <td style="width: 150px;min-width: 150px">{{'RatesTable.F.Rate' | TextCodeTranslationPipe}}</td>
                                <td><div></div></td>
                            </tr>
                        </table>
                    </div>

                    <div class="SimpleGridViewBody">
                        <table>
                            <tr class="SimpleGridViewRow RowHover" *ngFor="let item of ItemsSource">
                                <td class="GridViewCell" style="width: 100px;min-width: 100px">
                                    {{item.Code}}
                                </td>

                                <td class="GridViewCell" style="width: 100px;min-width: 100px">
                                    {{item.ValueDate | DateTimeToDatePipe}}
                                </td>

                                <td class="GridViewCell" style="width: 150px;min-width: 150px">
                                    <LogTextBox   [ObjectFieldName]="'item.Rate'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext" [HideColumns]="true"></LogTextBox>
                                </td>

                                <td><div></div></td>
                            </tr>

                            <tr>
                                <td colspan="4">
                                    <div></div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </td>
        </tr>

        <tr style="height: 32px;">
            <td style="vertical-align: bottom">
                <table style="height: 22px;">
                    <tr>
                        <td>
                            <div></div>
                        </td>

                        <td style="width: 57px;">
                            <button class="Button" (click)="CancelButtonClicked()">Cancel</button>
                        </td>

                        <td style="width: 5px;">
                            <div></div>
                        </td>

                        <td style="width: 57px;">
                            <button class="RedButton" (click)="OkButtonClicked()">Ok</button>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

