
<div style="overflow-x:auto;height:100%;width:100%">
    <table dir="ltr" style="min-width:1075px" *ngIf="IsResourcesReady">
        <tr style="height: 1px;">
            <td>
                <table>
                    <tr>
                        <td style="width: 21px; vertical-align:middle;">
                            <IconButton [Name]="'Refresh'" (click)="RefreshButtonClicked()"></IconButton>
                        </td>

                        <td style="width: 15px; vertical-align:middle;">
                            <div></div>
                        </td>

                        <td style="width: 45px; vertical-align:middle; font-size:11px; color : #6E7172;">{{'General.O.Search' | TextCodeTranslationPipe}}:</td>

                        <td style="width: 300px;">
                            <QuickSearchTextBox [ObjectTableName]="'QuoteOP'" [DropDownWidth]="600" [ItemHeight]="35" (DataLoaded)="QuickSearchItems = $event">
                                <ul>
                                    <li class="LogitudeQuickSearchItem" style="height:35px;" *ngFor="let item of QuickSearchItems" (mousedown)="EditQuote(item)">
                                        <table>
                                            <tr>
                                                <td class="TextTrimming">
                                                    <span style="font-size: 11px; color: #1B90CB;" title="Customer">{{item.CustomerName}}</span>
                                                </td>

                                                <td style="width: 5px;">
                                                    <div></div>
                                                </td>

                                                <td style="width: 110px; font-size: 10px; color: #282E30;">{{item.QuoteNumber}}</td>

                                                <td style="width: 5px;">
                                                    <div></div>
                                                </td>

                                                <td style="width:150px; font-size: 10px;" [ngStyle]="{color: item.StageName | StringToColorPipe}">{{item.StageName}}</td>

                                                <td style="width:7px; height: 100%;" rowspan="2">
                                                    <div style="width:1px; height: calc(100% - 5px); background: #DADADA; margin:auto;"></div>
                                                </td>

                                                <td style="width:20px; padding-top: 3px;">
                                                    <img style="display: block; float: left;" title="{{item.DirectionName}}" [attr.src]="'./Images/Directions/' + item.DirectionId + '.png'" />
                                                </td>
                                            </tr>

                                            <tr>
                                                <td class="TextTrimming">
                                                    <span style="font-size: 10px; color: #282E30;" title="Salesman">{{item.Salesman}}</span>
                                                </td>

                                                <td style="width: 5px;">
                                                    <div></div>
                                                </td>

                                                <td style="width: 110px;">
                                                    <div></div>
                                                </td>

                                                <td style="width: 5px;">
                                                    <div></div>
                                                </td>

                                                <td style="width: 150px; font-size: 10px; color: #282E30;">{{item.Subject}}</td>

                                                <td style="width:20px; padding-bottom: 2px;">
                                                    <img style="display: block; float: left;" title="{{item.TransportModeName}}" [attr.src]="'./Images/Icons/' + item.TransportModeId + '.png'" />
                                                </td>
                                            </tr>

                                            <tr style="height:3px;">
                                                <td>
                                                    <div></div>
                                                </td>
                                            </tr>
                                        </table>
                                    </li>
                                </ul>
                            </QuickSearchTextBox>
                        </td>

                        <td>
                            <div></div>
                        </td>

                        <td style="width:150px;">
                            <ComboBox [ItemsSource]="RecordsTypesFilterList" [Binding]="'Name'" [SelectedItem]="SelectedRecordsTypeFilter" (SelectedItemChanged)="SelectedRecordsTypeFilter = $event"></ComboBox>
                        </td>

                        <td style="width:2px;">
                            <div></div>
                        </td>

                        <td style="width: 1px;">

                            <!-- Salesmen -->
                            <table *ngIf="RecordsTypeFilterCode == 'S'">
                                <tr>
                                    <td style="width:150px; min-width: 150px;">
                                        <ComboBox [ItemsSource]="BusinessUnitFilterList" [Binding]="'Name'" [SelectedItem]="SelectedBusinessUnitFilter" (SelectedItemChanged)="SelectedBusinessUnitFilter = $event"></ComboBox>
                                    </td>

                                    <td style="width:2px; min-width: 2px;">
                                        <div></div>
                                    </td>


                                    <td style="width: 200px; min-width: 200px;">
                                        <ComboBox *ngIf="IsBusinessUnitUsers" [ItemsSource]="BusinessUnitUsersFilterList" [Binding]="'Name'" [SelectedItem]="SelectedUserFilter" (SelectedItemChanged)="SelectedUserFilter = $event"></ComboBox>
                                        <LogLov *ngIf="!IsBusinessUnitUsers"
                                                [ObjectTableName]="'CRM_UsersFilter'"
                                                [ObjectFieldName]="'ListOfValuesUserId'"
                                                [SelectedValue]="ListOfValuesUserId"
                                                [DataContext]="DataContext"
                                                [LookUpTableName]="'User'"
                                                [HideColumns]="true"
                                                [NoObjectField]="true">
                                        </LogLov>
                                    </td>
                                </tr>
                            </table>

                            <!-- Creator -->
                            <table *ngIf="RecordsTypeFilterCode == 'C'">
                                <tr>
                                    <td style="width:150px; min-width: 150px;">
                                        <ComboBox [ItemsSource]="CreatedByTypesFilterList" [Binding]="'Name'" [SelectedItem]="SelectedCreatedByTypeFilter" (SelectedItemChanged)="SelectedCreatedByTypeFilter = $event"></ComboBox>
                                    </td>

                                    <td style="width:2px; min-width: 2px;">
                                        <div></div>
                                    </td>

                                    <td style="width: 200px; min-width: 200px;">
                                        <LogLov [ObjectTableName]="'CRM_UsersFilter'"
                                                [ObjectFieldName]="'ListOfValuesUserId'"
                                                [SelectedValue]="ListOfValuesUserId"
                                                [DataContext]="DataContext"
                                                [LookUpTableName]="'User'"
                                                [HideColumns]="true"
                                                [NoObjectField]="true">
                                        </LogLov>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr style="height: 5px;">
            <td>
                <div></div>
            </td>
        </tr>

        <tr>
            <td>
                <table>
                    <tr>
                        <!-- Quote Queries -->
                        <td style="width:250px;">
                            <div class="MediaFill">
                                <SectionBox [Scrolling]="true">
                                    <SectionHead>{{'QuoteOP.S.Workspace.QuoteQueries' | TextCodeTranslationPipe}}</SectionHead>
                                    <SectionBody>
                                        <div class="QueriesSection">
                                            <div>{{'QuoteOP.S.Workspace.QuoteQueries' | TextCodeTranslationPipe}}</div>
                                            <div style="height:22px; width: 57px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; position: absolute; top:2px; right:2px;">
                                                <button class="Button" (click)="RunQuoteWizard()" id="{{'NewQuote' | IdGeneratorPipe}}" >{{'General.B.New' | TextCodeTranslationPipe}}</button>
                                            </div>
                                            <div>
                                                <p class="QueryLink" (click)="ViewQuoteQuery('CRT')" id="{{'CreatedQuote' | IdGeneratorPipe}}" >{{'QuoteOP.Q.CreatedQuotes' | TextCodeTranslationPipe}} ({{Quotes_Created}})</p>
                                                <p class="QueryLink" (click)="ViewQuoteQuery('DRF')">{{'QuoteOP.Q.DraftQuotes' | TextCodeTranslationPipe}} ({{Quotes_Draft}})</p>
                                                <p class="QueryLink" (click)="ViewQuoteQuery('SNT')">{{'QuoteOP.Q.SentQuotes' | TextCodeTranslationPipe}} ({{Quotes_Sent}})</p>
                                                <p class="QueryLink" (click)="ViewQuoteQuery('ACW')">{{'QuoteOP.Q.AcceptedWithoutShipmentsQuotes' | TextCodeTranslationPipe}} ({{Quotes_AcceptedNOShip}})</p>
                                                <p class="QueryLink" (click)="ViewQuoteQuery('ACP')">{{'QuoteOP.Q.AcceptedQuotes' | TextCodeTranslationPipe}} ({{Quotes_Accepted}})</p>
                                                <p class="QueryLink" (click)="ViewQuoteQuery('CNC')">{{'QuoteOP.Q.CancelledQuotes' | TextCodeTranslationPipe}} ({{Quotes_Cancelled}})</p>
                                                <p class="QueryLink" (click)="ViewQuoteQuery('MY')">{{'QuoteOP.Q.MyQuotes' | TextCodeTranslationPipe}} ({{Quotes_My}})</p>
                                            </div>
                                        </div>

                                        <div class="QueriesSection">
                                            <div>{{'QuoteOP.S.Workspace.Others' | TextCodeTranslationPipe}}</div>
                                            <div>
                                                <p class="QueryLink" (click)="ViewQuoteQuery('EXP')">{{'QuoteOP.Q.ExpiredQuotes' | TextCodeTranslationPipe}} ({{Quotes_Expired}})</p>
                                                <p class="QueryLink" (click)="ViewQuoteQuery('AllF')">{{'QuoteOP.Q.AllFollowUps' | TextCodeTranslationPipe}} ({{Quotes_AllFollowups}})</p>
                                                <p class="QueryLink" (click)="ViewQuoteQuery('MYF')">{{'QuoteOP.Q.MyFollowUps' | TextCodeTranslationPipe}} ({{Quotes_MyFollowups}})</p>
                                                <p class="QueryLink" (click)="ViewQuoteQuery('ALL')">{{'QuoteOP.Q.AllQuotes' | TextCodeTranslationPipe}} ({{Quotes_All}})</p>
                                            </div>
                                        </div>

                                        <div class="QueriesSection">
                                            <div>{{'QuoteOP.S.Workspace.MyViews' | TextCodeTranslationPipe}}</div>
                                            <div style="height:80px;">
                                                <UsersQueryList [ReloadUserQueries]="ReloadUserQueries" [ObjectTableName]="'QuoteOP'" [BackButtonTitle]="'Quotes'" (BackCompletedEvent)="onUserQueriesBackComplete($event)"></UsersQueryList>
                                            </div>
                                        </div>
                                    </SectionBody>
                                </SectionBox>
                            </div>
                        </td>

                        <td style="width:10px;">
                            <div></div>
                        </td>

                        <td>
                            <div class="MediaFill">
                                <table>
                                    <!-- Recent Quotes -->
                                    <tr>
                                        <td>
                                            <div class="MediaFill">
                                                <SectionBox [Scrolling]="true">
                                                    <SectionHead>{{RecentQuotesList.length}} {{'QuoteOP.S.Workspace.RecentQuotes' | TextCodeTranslationPipe}}</SectionHead>
                                                    <SectionBody>
                                                        <ul>
                                                            <li class="RecentEntityItem" *ngFor="let item of RecentQuotesList" (click)="EditQuote(item)">
                                                                <table>
                                                                    <tr>

                                                                        <!-- Rating -->
                                                                        <td style="width:5px; overflow: hidden;" rowspan="2" [ngStyle]="{background: item.RatingCode | StringToColorPipe:'QuoteRatingCode'}">
                                                                            <div></div>
                                                                        </td>

                                                                        <td style="width: 5px;">
                                                                            <div></div>
                                                                        </td>

                                                                        <!-- Activity Type -->
                                                                        <td style="width:80px; max-width: 80px; position: relative;" rowspan="2">
                                                                            <div style="position: absolute; left: 3px; top: 3px; width: 20px; height: 20px;" title="{{item.LastQuoteActivityTypeName}}">
                                                                                <div *ngIf="item.LastQuoteActivityTypeName == 'New'" style="width: 20px; height: 20px; background: url('Images/RecentEntity/Added.png') center center no-repeat; background-size: contain;"></div>
                                                                                <div *ngIf="item.LastQuoteActivityTypeName == 'View'" style="width: 20px; height: 20px; background: url('Images/RecentEntity/Viewed.png') center center no-repeat; background-size: contain;"></div>
                                                                                <div *ngIf="item.LastQuoteActivityTypeName == 'Update'" style="width: 20px; height: 20px; background: url('Images/RecentEntity/Edited.png') center center no-repeat; background-size: contain;"></div>
                                                                            </div>

                                                                            <div style="position: absolute; left: 3px; bottom: 1px; color: #282E30;">{{item.LastQuoteActivityDate | DateTimeToDatePipe}}</div>
                                                                        </td>

                                                                        <td style="width: 5px;">
                                                                            <div></div>
                                                                        </td>

                                                                        <!-- Customer -->
                                                                        <td style="width:240px; max-width:240px; color:#1B90CB" title="Customer" class="TextTrimming">{{item.CustomerName}}</td>

                                                                        <td style="width: 5px;">
                                                                            <div></div>
                                                                        </td>

                                                                        <!-- Routing -->
                                                                        <td style="width:120px;">
                                                                            <img style="margin-bottom: -4px; width: 16px; height: 16px;" [attr.src]="item.FromCountryCode | CountryFlagPipe" [attr.title]="item.FromPortCountry" alt="" (error)="OnImageError(item, 'FromCountryCode')" />
                                                                            <span class="Value" style="font-size: 10px; padding-left: 5px; padding-right: 5px; text-align: center;"> > </span>
                                                                            <img style="margin-bottom: -4px; width: 16px; height: 16px;" [attr.src]="item.ToCountryCode | CountryFlagPipe" [attr.title]="item.ToPortCountry" alt="" (error)="OnImageError(item, 'ToCountryCode')" />
                                                                        </td>

                                                                        <td style="width: 5px;">
                                                                            <div></div>
                                                                        </td>

                                                                        <!-- Stage Name -->
                                                                        <td style="width: 70px;" [ngStyle]="{color: item.StageName | StringToColorPipe}">
                                                                            {{item.StageName}}
                                                                        </td>

                                                                        <td style="width: 5px;">
                                                                            <div></div>
                                                                        </td>

                                                                        <!-- LastStageDate -->
                                                                        <td style="width: 65px;">
                                                                            <div *ngIf="item.LastStageDate" class="Label" style="font-size: 10px;" [attr.title]="item.LastStageDate | StageAgePipe">({{item.LastStageDate | StageAgePipe:'1'}})</div>
                                                                        </td>

                                                                        <td style="width:7px; height: 100%;" rowspan="2">
                                                                            <div style="width:1px; height: calc(100% - 5px); background: #DADADA; margin:auto;"></div>
                                                                        </td>

                                                                        <!-- Direction -->
                                                                        <td style="width:20px; height: 100%;">
                                                                            <div title="{{item.DirectionName}}" style="width: 100%; height: 100%; position:relative;">
                                                                                <img class="CenterCenter" style="top: 2px;" [attr.src]="'./Images/Directions/' + item.DirectionId + '.png'" />
                                                                            </div>
                                                                        </td>

                                                                        <td>
                                                                            <div></div>
                                                                        </td>

                                                                        <td style="width: 3px;">
                                                                            <div></div>
                                                                        </td>
                                                                    </tr>

                                                                    <tr>
                                                                        <td style="width: 5px;">
                                                                            <div></div>
                                                                        </td>

                                                                        <td style="width: 5px;">
                                                                            <div></div>
                                                                        </td>

                                                                        <!-- Salesman -->
                                                                        <td style="width:240px;max-width:240px;min-width:240px;" title="Salesman" class="TextTrimming">{{item.Salesman}}</td>

                                                                        <td style="width: 5px;">
                                                                            <div></div>
                                                                        </td>

                                                                        <!-- Subject -->
                                                                        <td style="width:120px;min-width:120px;max-width:120px;" class="TextTrimming">{{item.Subject}}</td>

                                                                        <td style="width: 5px;">
                                                                            <div></div>
                                                                        </td>

                                                                        <!-- Quote Number -->
                                                                        <td style="width: 70px; min-width:70px;max-width:70px; color: #1B90CB">
                                                                            {{item.QuoteNumber}}
                                                                        </td>

                                                                        <td style="width: 5px;">
                                                                            <div></div>
                                                                        </td>

                                                                        <!-- Quote Type -->
                                                                        <td style="width: 65px; min-width:65px;max-width:65px;" class="TextTrimming">
                                                                            {{item.QuoteTypeName}}
                                                                        </td>

                                                                        <!-- Transport -->
                                                                        <td style="width:20px; height: 100%;">
                                                                            <div title="{{item.TransportModeName}}" style="width: 100%; height: 100%; position:relative;">
                                                                                <img class="CenterCenter" style="top: -2px;" [attr.src]="'./Images/Icons/' + item.TransportModeId + '.png'" />
                                                                            </div>
                                                                        </td>

                                                                        <td>
                                                                            <div></div>
                                                                        </td>

                                                                        <td style="width: 3px;">
                                                                            <div></div>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </li>
                                                        </ul>

                                                        <div *ngIf="IsNoDataVisible_RecentQuotes" class="NoDataText" style="top:5px;">No Recent Quotes</div>
                                                    </SectionBody>
                                                </SectionBox>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr style="height: 10px;">
                                        <td>
                                            <div></div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="MediaFill">
                                                <table>
                                                    <tr>

                                                        <!-- Top Quotes -->
                                                        <td>
                                                            <div class="MediaFill">
                                                                <SectionBox [Scrolling]="true">
                                                                    <SectionHead>
                                                                        <table>
                                                                            <tr>
                                                                                <td style="color: #45494A; font-size: 14px;">
                                                                                    {{'QuoteOP.S.Workspace.TopQuotes' | TextCodeTranslationPipe}}
                                                                                </td>

                                                                                <td>
                                                                                    <div></div>
                                                                                </td>

                                                                                <td class="Label" style="width:20px;">By:</td>

                                                                                <td style="width:5px;">
                                                                                    <div></div>
                                                                                </td>

                                                                                <td style="width:130px;">
                                                                                    <ComboBox [ItemsSource]="TopQuotesFilterList" [Binding]="'Name'" [SelectedItem]="SelectedTopQuotesItem" (SelectedItemChanged)="SelectedTopQuotesItem = $event"></ComboBox>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </SectionHead>
                                                                    <SectionBody>
                                                                        <ul>
                                                                            <li class="RecentEntityItem" *ngFor="let item of TopQuotesList" (click)="EditQuote(item.entityList)">
                                                                                <table>
                                                                                    <tr>
                                                                                        <td style="width:5px; overflow:hidden;" rowspan="2" [ngStyle]="{background: item.RatingCode | StringToColorPipe:'QuoteRatingCode'}">
                                                                                            <div></div>
                                                                                        </td>

                                                                                        <td style="width:5px;">
                                                                                            <div></div>
                                                                                        </td>

                                                                                        <td style="width:150px; max-width:150px; color:#1B90CB" title="Customer" class="TextTrimming">{{item.CustomerName}}</td>

                                                                                        <td style="width:2px;">
                                                                                            <div></div>
                                                                                        </td>

                                                                                        <td style="width:90px;">
                                                                                            <table>
                                                                                                <tr>
                                                                                                    <td style="width:auto;" [ngStyle]="{color: item.StageName | StringToColorPipe}">{{item.StageName}}</td>

                                                                                                    <td style="width: 5px;">
                                                                                                        <div></div>
                                                                                                    </td>

                                                                                                    <td *ngIf="item.LastStageDate">
                                                                                                        <div class="Label" style="font-size: 10px;" [attr.title]="item.LastStageDate | StageAgePipe">({{item.LastStageDate | StageAgePipe:'1'}})</div>
                                                                                                    </td>

                                                                                                </tr>
                                                                                            </table>
                                                                                        </td>

                                                                                        <td>
                                                                                            <div></div>
                                                                                        </td>

                                                                                        <td style="width:110px; float:right; color:#282E30; font-size:15px; text-align:right;" rowspan="2">{{item.FilterValue}}</td>

                                                                                        <td style="width:2px;">
                                                                                            <div></div>
                                                                                        </td>

                                                                                        <td style="width:7px; height: 100%;" rowspan="2">
                                                                                            <div style="width:1px; height: calc(100% - 5px); background: #DADADA; margin:auto;"></div>
                                                                                        </td>

                                                                                        <td style="width:30px; height: 100%;">
                                                                                            <div title="{{item.DirectionName}}" style="width: 100%; height: 100%; position:relative;">
                                                                                                <img class="CenterCenter" style="top: 2px;" [attr.src]="'./Images/Directions/' + item.DirectionId + '.png'" />
                                                                                            </div>
                                                                                        </td>

                                                                                    </tr>

                                                                                    <tr>
                                                                                        <td style="width: 5px;">
                                                                                            <div></div>
                                                                                        </td>

                                                                                        <td title="Salesman" class="TextTrimming">{{item.Salesman}}</td>

                                                                                        <td>
                                                                                            <div></div>
                                                                                        </td>

                                                                                        <td>{{item.QuoteNumber}}</td>

                                                                                        <td>
                                                                                            <div></div>
                                                                                        </td>

                                                                                        <td style="width:110px;">
                                                                                            <div></div>
                                                                                        </td>

                                                                                        <td style="width:2px;">
                                                                                            <div></div>
                                                                                        </td>

                                                                                        <td style="width:30px; height: 100%;">
                                                                                            <div title="{{item.TransportModeName}}" style="width: 100%; height: 100%; position:relative;">
                                                                                                <img class="CenterCenter" style="top: -2px;" [attr.src]="'./Images/Icons/' + item.TransportModeId + '.png'" />
                                                                                            </div>
                                                                                        </td>

                                                                                    </tr>
                                                                                </table>
                                                                            </li>
                                                                        </ul>

                                                                        <div *ngIf="IsNoDataVisible_TopQuotes" class="NoDataText" style="top:5px;">No Top Quotes</div>
                                                                    </SectionBody>
                                                                </SectionBox>
                                                            </div>
                                                        </td>

                                                        <td style="width: 10px;">
                                                            <div></div>
                                                        </td>

                                                        <!-- Funnel -->
                                                        <td>
                                                            <div class="MediaFill">
                                                                <SectionBox>
                                                                    <SectionHead>{{'QuoteOP.S.Workspace.SalesFunnel' | TextCodeTranslationPipe}}</SectionHead>
                                                                    <SectionBody>
                                                                        <div [attr.id]="SalesFunnelId" style="width:100%;height:100%" class="CellContent" (click)="FunnelClick()"></div>
                                                                    </SectionBody>
                                                                </SectionBox>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
