<connectionStrings  >






	<add name="OracleMainMigration"
         connectionString=
"User Id=logitude_main;  Password=oracle;Direct=True;Data Source=10.10.10.67;port=1521;sid=amital"
      providerName="Devart.Data.Oracle" />

	<clear/>
	<add name="Oracle_Globalstr"  connectionString="User Id=AMINETCST_GLOBAL;  Password=AMINETCST_GLOBAL;Direct=True;Data Source=oracle19;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr"  connectionString="User Id=AMINETCST_LOGS;  Password=AMINETCST_LOGS;Direct=True;Data Source=oracle19;port=1521;sid=amital"/>







	<clear/>
	<add name="Oracle_Globalstr"  connectionString="User Id=AMINETNXT_GLOBAL;  Password=AMINETNXT_GLOBAL;Direct=True;Data Source=UNIDB2016;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr"  connectionString="User Id=AMINETNXT_LOGS;  Password=AMINETNXT_LOGS;Direct=True;Data Source=UNIDB2016;port=1521;sid=amital"/>





	<clear/>
	<add name="Oracle_Globalstr"  connectionString="User Id=AMINETCST_GLOBAL;  Password=AMINETCST_GLOBAL;Direct=True;Data Source=UNIDB2016;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr"  connectionString="User Id=AMINETCST_LOGS;  Password=AMINETCST_LOGS;Direct=True;Data Source=UNIDB2016;port=1521;sid=amital"/>






	<clear/>
	<add name="Oracle_Globalstr"  connectionString="User Id=AMINETPRD_GLOBAL;  Password=AMINETPRD_GLOBAL;Direct=True;Data Source=UNIDB2016;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr"  connectionString="User Id=AMINETPRD_LOGS;  Password=AMINETPRD_LOGS;Direct=True;Data Source=UNIDB2016;port=1521;sid=amital"/>
	
	
	





	
	
	
	

	


	

	
	
	

	
	

	
	

	
 
  
 





 
  

 
 
 


 
	
	
	

	

	
	<!--exporDist-->
	<clear/>
	<add name="Oracle_Globalstr" connectionString="User Id=AMINETexp_GLOBAL; Password=AMINETexp_GLOBAL;Direct=True;Data Source=oracle19;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr" connectionString="User Id=AMINETexp_LOGS; Password=AMINETexp_LOGS;Direct=True;Data Source=oracle19;port=1521;sid=amital"/>

	<!--customs-->
	<clear/>
	<add name="Oracle_Globalstr"  connectionString="User Id=AMINETCST_GLOBAL;  Password=AMINETCST_GLOBAL;Direct=True;Data Source=ORACLE19;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr"  connectionString="User Id=AMINETCST_LOGS;  Password=AMINETCST_LOGS;Direct=True;Data Source=ORACLE19;port=1521;sid=amital"/>
	
	
	

	


	


	

	

	
	<!--prod-->
	<clear/>
	<add name="Oracle_Globalstr" connectionString="User Id=aminetprd_global; Password=aminetprd_global;Direct=True;Data Source=unidb2016;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr" connectionString="User Id=aminetprd_logs; Password=aminetprd_logs;Direct=True;Data Source=unidb2016;port=1521;sid=amital"/>

	<!--customs-->
	<clear/>
	<add name="Oracle_Globalstr"  connectionString="User Id=AMINETCST_GLOBAL;  Password=AMINETCST_GLOBAL;Direct=True;Data Source=ORACLE19;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr"  connectionString="User Id=AMINETCST_LOGS;  Password=AMINETCST_LOGS;Direct=True;Data Source=ORACLE19;port=1521;sid=amital"/>
	


	<!--prod-->
	<clear/>
	<add name="Oracle_Globalstr" connectionString="User Id=aminetprd_global; Password=aminetprd_global;Direct=True;Data Source=unidb2016;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr" connectionString="User Id=aminetprd_logs; Password=aminetprd_logs;Direct=True;Data Source=unidb2016;port=1521;sid=amital"/>


	



	


	
	


	
	
	

	
	<!--exportpilot-->
	<clear/>
	<add name="LogitudeStr" connectionString="Data Source=amitaldb.database.windows.net;Initial Catalog=Main;Integrated Security=False;Persist Security Info=True;User ID=system;Password=Manager!#^;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
	<add name="LogitudeGlobalStr" connectionString="Data Source=amitaldb.database.windows.net;Initial Catalog=Global;Integrated Security=False;Persist Security Info=True;User ID=system;Password=Manager!#^;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />

	<add name="LogitudeSystemLogsStr" connectionString="Data Source=amitaldb.database.windows.net;Initial Catalog=Logs;Integrated Security=False;Persist Security Info=True;User ID=system;Password=Manager!#^;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />

	<add name="SystemLogsStr" connectionString="LOGS,system,Manager!#^,amitaldb.database.windows.net" />
	<add name="Globalstr" connectionString="Global,system,Manager!#^,amitaldb.database.windows.net" />
	<!--customssql-->
	<clear/>
	<add name="sqlLogitudeStr" connectionString="Data Source=Univ511;Initial Catalog=Main;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256!;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
	<add name="sqlGlobalStr" connectionString="Data Source=Univ511;Initial Catalog=Global;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256!;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
	<add name="SystemLogsStr" connectionString="LOGS,sa,Saas256!,Univ511" />
	<add name="Globalstr" connectionString="Global,sa,Saas256!,Univ511" />
	
	
	
	
	
	
	
	


	
	
	
	<!--<exportpilot>-->
	<clear/>
	<add name="LogitudeStr" connectionString="Data Source=amital-prod-db.database.windows.net;Initial Catalog=Main;Integrated Security=False;Persist Security Info=True;User ID=system;Password=qeA9c3Z28v4Y;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
	<add name="LogitudeGlobalStr" connectionString="Data Source=amital-prod-db.database.windows.net;Initial Catalog=Global;Integrated Security=False;Persist Security Info=True;User ID=system;Password=qeA9c3Z28v4Y;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />


	<add name="LogitudeSystemLogsStr" connectionString="Data Source=amital-prod-db.database.windows.net;Initial Catalog=Logs;Integrated Security=False;Persist Security Info=True;User ID=system;Password=qeA9c3Z28v4Y;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />

	<add name="SystemLogsStr" connectionString="LOGS,system,qeA9c3Z28v4Y,amital-prod-db.database.windows.net" />
	<add name="Globalstr" connectionString="Global,system,qeA9c3Z28v4Y,amital-prod-db.database.windows.net" />

	<!--NEXTPROD19-->

	<clear/>
	<add name="Oracle_Globalstr"  connectionString="User Id=AMINETNXT_GLOBAL;  Password=AMINETNXT_GLOBAL;Direct=True;Data Source=ORACLE19;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr"  connectionString="User Id=AMINETNXT_LOGS;  Password=AMINETNXT_LOGS;Direct=True;Data Source=ORACLE19;port=1521;sid=amital"/>



	
	
	
	

	<!--customs/594-->
	<clear/>
	<add name="Oracle_Globalstr"  connectionString="User Id=AMINETCST_GLOBAL;  Password=AMINETCST_GLOBAL;Direct=True;Data Source=UNIDB2016;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr"  connectionString="User Id=AMINETCST_LOGS;  Password=AMINETCST_LOGS;Direct=True;Data Source=UNIDB2016;port=1521;sid=amital"/>

	


	
	<!--592-->
	<clear/>
	<add name="Oracle_Globalstr"  connectionString="User Id=AMINETNXT_GLOBAL;  Password=AMINETNXT_GLOBAL;Direct=True;Data Source=UNIDB2016;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr"  connectionString="User Id=AMINETNXT_LOGS;  Password=AMINETNXT_LOGS;Direct=True;Data Source=UNIDB2016;port=1521;sid=amital"/>


	
	
	
	

	
	
	

	<!--prod-->
	<clear/>
	<add name="Oracle_Globalstr" connectionString="User Id=aminetprd_global; Password=aminetprd_global;Direct=True;Data Source=unidb2016;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr" connectionString="User Id=aminetprd_logs; Password=aminetprd_logs;Direct=True;Data Source=unidb2016;port=1521;sid=amital"/>


	<!--<exportpilot>-->
	<clear/>
	<add name="LogitudeStr" connectionString="Data Source=amital-prod-db.database.windows.net;Initial Catalog=Main;Integrated Security=False;Persist Security Info=True;User ID=system;Password=qeA9c3Z28v4Y;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
	<add name="LogitudeGlobalStr" connectionString="Data Source=amital-prod-db.database.windows.net;Initial Catalog=Global;Integrated Security=False;Persist Security Info=True;User ID=system;Password=qeA9c3Z28v4Y;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />


	<add name="LogitudeSystemLogsStr" connectionString="Data Source=amital-prod-db.database.windows.net;Initial Catalog=Logs;Integrated Security=False;Persist Security Info=True;User ID=system;Password=qeA9c3Z28v4Y;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />

	<add name="SystemLogsStr" connectionString="LOGS,system,qeA9c3Z28v4Y,amital-prod-db.database.windows.net" />
	<add name="Globalstr" connectionString="Global,system,qeA9c3Z28v4Y,amital-prod-db.database.windows.net" />


	
	

	


	
	
	<!--customs/594-->
	<clear/>
	<add name="Oracle_Globalstr"  connectionString="User Id=AMINETCST_GLOBAL;  Password=AMINETCST_GLOBAL;Direct=True;Data Source=UNIDB2016;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr"  connectionString="User Id=AMINETCST_LOGS;  Password=AMINETCST_LOGS;Direct=True;Data Source=UNIDB2016;port=1521;sid=amital"/>

	

	
	
	

	

	
	
	
	

	
	<!--customssql-->
	<clear/>
	<add name="sqlLogitudeStr" connectionString="Data Source=Univ511;Initial Catalog=Main;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256!;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
	<add name="sqlGlobalStr" connectionString="Data Source=Univ511;Initial Catalog=Global;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256!;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
	<add name="SystemLogsStr" connectionString="LOGS,sa,Saas256!,Univ511" />
	<add name="Globalstr" connectionString="Global,sa,Saas256!,Univ511" />
		
		
	
		<!--prod19-->
	<clear/>
	<add name="Oracle_Globalstr"  connectionString="User Id=Aminet5113_GLOBAL;  Password=Aminet5113_GLOBAL;Direct=True;Data Source=oracle19;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr"  connectionString="User Id=Aminet5113_LOGS;  Password=Aminet5113_LOGS;Direct=True;Data Source=oracle19;port=1521;sid=amital"/>
	

	<!--customs19-->
	<clear/>
	<add name="Oracle_Globalstr"  connectionString="User Id=AMINETCST_GLOBAL;  Password=AMINETCST_GLOBAL;Direct=True;Data Source=ORACLE19;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr"  connectionString="User Id=AMINETCST_LOGS;  Password=AMINETCST_LOGS;Direct=True;Data Source=ORACLE19;port=1521;sid=amital"/>
	

	
	<!-- export local -->
	  <clear/>
	  <add name="LogitudeStr" connectionString="Data Source=univ511;Initial Catalog=Main;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256!;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
	  <add name="LogitudeGlobalStr" connectionString="Data Source=univ511;Initial Catalog=Global;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256!;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
	  <add name="LogitudeSystemLogsStr" connectionString="Data Source=univ511;Initial Catalog=Logs;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256!;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
	  <add name="SystemLogsStr" connectionString="LOGS,sa,Saas256!,univ511" />
	  <add name="Globalstr" connectionString="Global,sa,Saas256!,univ511" />

	<!-- AMITAL_MAIN -->
	  <clear/>           
	  <add name="LogitudeStr" connectionString="Data Source=univ511;Initial Catalog=Main_nextprod;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256!;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
	  <add name="LogitudeGlobalStr" connectionString="Data Source=univ511;Initial Catalog=Global_nextprod;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256!;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
	  <add name="LogitudeSystemLogsStr" connectionString="Data Source=univ511;Initial Catalog=Logs_nextprod;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256!;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
	  <add name="SystemLogsStr" connectionString="LOGS,sa,Saas256!,univ511" />
	  <add name="Globalstr" connectionString="Global,sa,Saas256!,Univ511" />


	<!-- AMITAL_MAIN -->
	  <clear/>           
	       
                        <add name="Oracle_Globalstr"  connectionString="User Id=aminetnxt_GLOBAL;  Password=aminetnxt_GLOBAL;Direct=True;Data Source=oracle19;port=1521;sid=amital"/>
            <add name="Oracle_SystemLogsStr"  connectionString="User Id=aminetnxt_LOGS;  Password=aminetnxt_LOGS;Direct=True;Data Source=oracle19;port=1521;sid=amital"/>
    



	

</connectionStrings>