<style>
    .SectionTitle {
        height: 20px;
        line-height: 20px;
        font-size: 14px;
        color: #1B90CB;
        user-select: text;
        -webkit-user-select: text;
    }

    .DeleteButton {
        display: none;
    }

    .ListBoxItem:hover .DeleteButton {
        display: block;
    }

    .ListBoxEditItem:hover .DeleteButtonDisabled {
        cursor: pointer;
        background: -moz-linear-gradient(50% 0% -90deg,rgba(255, 255, 255, 1) 0%,rgba(221, 232, 245, 1) 100%);
        background: -webkit-linear-gradient(-90deg, rgba(255, 255, 255, 1) 0%, rgba(221, 232, 245, 1) 100%);
        background: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0,rgba(255, 255, 255, 1) ),color-stop(1,rgba(221, 232, 245, 1) ));
        background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(221, 232, 245, 1) 100%);
        display: block;
    }

    .ListBoxEditItem:hover .DeleteButton {
        cursor: pointer;
        background: -moz-linear-gradient(50% 0% -90deg,rgba(255, 255, 255, 1) 0%,rgba(221, 232, 245, 1) 100%);
        background: -webkit-linear-gradient(-90deg, rgba(255, 255, 255, 1) 0%, rgba(221, 232, 245, 1) 100%);
        background: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0,rgba(255, 255, 255, 1) ),color-stop(1,rgba(221, 232, 245, 1) ));
        background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(221, 232, 245, 1) 100%);
        display: block;
    }

    .ListBoxEditItem:hover {
        cursor: pointer;
        background: -moz-linear-gradient(50% 0% -90deg,rgba(255, 255, 255, 1) 0%,rgba(221, 232, 245, 1) 100%);
        background: -webkit-linear-gradient(-90deg, rgba(255, 255, 255, 1) 0%, rgba(221, 232, 245, 1) 100%);
        background: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0,rgba(255, 255, 255, 1) ),color-stop(1,rgba(221, 232, 245, 1) ));
        background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(221, 232, 245, 1) 100%);
    }

    .ListBoxItem:hover .DeleteButtonDisabled {
        display: block;
    }

    .ToggleButton.ToggleButtonMenu .DeleteButton RightCenter:hover {
        cursor: pointer;
    }

    .IconButton img {
        position: absolute;
        top: 15px;
        left: 1px;
        bottom: 0;
        right: 0;
        margin: auto;
    }

    #deleteimgHoverd:hover {
        background-image: url(../../../../../Images/RedX2.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    #deleteimgHoverd {
        background-image: url( ../../../../../Images/Tab.X.Gray.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .SplittedText {
        position: absolute;
        top: 8px;
        left: 6px;
        color: #45494A;
        font-size: 11px;
        opacity: 0.5;
    }


</style>
<div class="TabHolder">
    <table>
        <tr class="TabTitleRow">
            <td>{{'ProductType.TH.General' | TextCodeTranslationPipe}}</td>
        </tr>

        <tr style="height: 1px;">
            <td>
                <div style="width: 100%; position: relative;">
                    <div #BillingChild></div>
                </div>
            </td>
        </tr>

        <tr style="height: 1px;">
            <td>
                <table>
                    <tr>
                        <td style="width: 395px;">
                            <table>
                                <tr class="FormFieldRow">
                                    <td style="width: 165px;">
                                        <LogLabel [ObjectFieldName]="'Code'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                    </td>

                                    <td>
                                        <LogTextBox [ObjectFieldName]="'Code'" [Text]="Code" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogTextBox>
                                    </td>
                                </tr>


                                <tr class="FormFieldRow">
                                    <td>
                                        <LogLabel [ObjectFieldName]="'Name'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                    </td>

                                    <td>
                                        <LogTextBox [ObjectFieldName]="'Name'" [Text]="Name" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogTextBox>
                                    </td>
                                </tr>

                                <tr class="FormFieldRow">
                                    <td>
                                        <LogLabel [ObjectFieldName]="'InActive'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                    </td>

                                    <td>
                                        <CheckBox [IsChecked]="InActive" (Checked)="InActive = $event"></CheckBox>


                                    </td>
                                </tr>



                                <tr class="TabTitleRow">
                                    <td colspan="2">Quotation Default Template</td>
                                </tr>

                                <tr class="FormFieldRow">
                                    <td>
                                        <LogLabel [Text]="'Spot Rate Template'" [ObjectFieldName]="'QuotationDefaultTemplateId'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                    </td>

                              
                                    <td >
                                        <LogLov [ObjectFieldName]="'QuotationDefaultTemplateId'"
                                                [SelectedValue]="QuotationDefaultTemplateId"
                                                [ObjectTableName]="ObjectTableName"
                                                [DataContext]="DataContext"
                                                [DependencyFilter1Value]="'A'"
                                                [LookUpTableName]="'QuoteTemplate'">
                                        </LogLov>
                                    </td>
                                </tr>

                                <tr class="FormFieldRow">
                                    <td>
                                        <LogLabel [Text]="'Routing Rates Template'" [ObjectFieldName]="'RoutingRQuoteDefaultTemplateId'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext">Routing Rates Template</LogLabel>
                                    </td>
                                    <!--[attr.title]="'Routing Rates Template'"-->
                                    
                                    <td >
                                        <LogLov [ObjectFieldName]="'RoutingRQuoteDefaultTemplateId'"
                                                [SelectedValue]="RoutingRQuoteDefaultTemplateId"
                                                [ObjectTableName]="ObjectTableName"
                                                [DataContext]="DataContext"
                                                [DependencyFilter1Value]="'P'"
                                                [DependencyFilter1IsList]
                                                [LookUpTableName]="'QuoteTemplate'">
                                        </LogLov>
                                    </td>
                                </tr>

                                
                         
                         
                            </table>
                        </td>
                        <td>
                            <div></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div></div>
                        </td>
                        <td>
                            <div></div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <div></div>
            </td>
        </tr>
    </table>
</div>
