:host ::ng-deep {
    .p-radiobutton {
        vertical-align: middle;
        margin-right: 0px;

        .p-radiobutton-box {
            width: 14px;
            height: 14px;
            margin-top: 0px;

            .p-radiobutton-icon {
                width: 6px;
                height: 6px;
                background-color: black;
            }
        }

        .p-radiobutton-box.p-highlight {
            background-color: white;
            border-color: black;
        }

        .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
            border-color: black;
            background: white;
        }
    }

    .p-radiobutton-label {
        font-weight: bold;
        color: black;
    }

    .close-days {
        width: 143px !important;
    }

    .close-days-text {
        font-size: 10px;
        margin-left: 13px;
    }

    .p-datepicker-trigger {
        background-color: white;
        border-color: #ced4da;
        border-left: none;

        .p-button-icon {
            color: #2196f3;
            border: none;
        }
    }

    .p-checkbox {
        margin-top: 5px !important;
        margin-bottom: 0px !important;
        margin-right: 3px !important;
        width: auto;

        .p-checkbox-box {
            width: 13px;
            height: 13px;
            
            .p-checkbox-icon {
                font-size: 12px;
            }
        }
    }
}

.content-in-section {
    margin-top: 8px;
    margin: 0 8px;

    > .col-12 {
        padding-bottom: 0;
    }
}

h5 {
    margin-bottom: 10px;
}

.col-6 {
    padding: 0.5rem;
}

.radio-row {
    display: inline-block;
    margin-left: 0px;
}

.radio-row:last-child {
    margin-left: 33px;
}

.col-align {
    display: flex;
    align-items: center;
    top: 8px;
    position: relative;
}

.checkbox-text {
    font-size: 10px;
}
