:host ::ng-deep {
    .p-radiobutton {
        vertical-align: middle;
        margin-right: 14px;
    }

    .p-radiobutton-label {
        font-weight: bold;
        color: black;
    }

    .p-radiobutton .p-radiobutton-box.p-highlight {
        background-color: white;
        border-color: black;
    }

    .p-radiobutton .p-radiobutton-box .p-radiobutton-icon {
        background-color: black;
    }

    .p-radiobutton .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
        border-color: black;
        background: white;
    }

    .close-days {
        width: 143px !important;
    }

    .close-days-text {
        margin-left: 13px;
    }

    .p-datepicker-trigger {
        background-color: white;
        border-color: #ced4da;
        border-left: none;

        .p-button-icon {
            color: #2196F3;
            border: none;
        }
    }
}

.content-in-section {
    margin: 0 8px;
}

h5 {
    margin-bottom: 10px;
}

.col-6 {
    padding: 0.5rem;
}

.radio-row {
    display: inline-block;
}

.radio-row:last-child {
    margin-left: 60px;
}

.col-align {
    display: flex;
    align-items: center;
    top: 8px;
    position: relative;
}

.checkbox-text {
    font-size: 10px;
}
