<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings >
    <!--<add key="ServerURL" value="http://test.logitudeworld.com/test/" />-->
  <add key="ServerURL" value="http://localhost:9996/" />
  <add key="Tenant" value="1071" />
  <add key="APICredential_PrimaryKey" value="9ae681d0-1d42-4293-9bea-aadef12e20dc" />
  <add key="APICredential_SecondaryKey" value="1dac32e1-84e4-496a-b4d2-687f16d04e3b" />
  <!--<add key="Email" value="khawla@test71.com" />
  <add key="Password" value="0597485181@khH" />-->
    <add key="Email" value="angular@fnarsoft.com" />
  <add key="Password" value="1" />
  </appSettings>
</configuration>