<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!--<add key="BatchServices_RunOnly" value="FTP,true" />
    <add key="BatchServices" value="FTP1,true" />-->
    <add key="BatchServices" value="FTP,true;FTP1,false" /> 
  </appSettings>
  <connectionStrings>
    <add name="Globalstr" connectionString="LogitudeGlobal-Test2,sa,Saas256,logitudetestdb.westeurope.cloudapp.azure.com" />
    <add name="SystemLogsStr" connectionString="LogitudeSystemLogs-Test2,sa,Saas256,logitudetestdb.westeurope.cloudapp.azure.com" />
  </connectionStrings>
</configuration>