<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Globalstr" connectionString="2023R1_Global,sa,Saas256,." />
    <add name="Mainstr" connectionString="2023R1_Main,sa,Saas256,." />
		<add name="SystemLogsStr" connectionString="Logitude2-5_SystemLogs,sa,Saas256,." />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>