<style type="text/css">
    .SystemDefaultsBox {
        width: 100%;
        height: 100%;
        border: 1px solid #BABABA;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }

    .SystemDefaultsBoxHeader {
        height: 20px;
        font-size: 12px;
        color: #1B90CB;
        text-indent: 5px;
        background: -moz-linear-gradient(50% 0% -90deg,rgba(245, 245, 245, 1) 0%,rgba(243, 243, 243, 1) 50.24%,rgba(236, 236, 236, 1) 69.98%,rgba(224, 224, 224, 1) 84.35%,rgba(207, 207, 207, 1) 96.04%,rgba(199, 199, 199, 1) 100%);
        background: -webkit-linear-gradient(-90deg, rgba(245, 245, 245, 1) 0%, rgba(243, 243, 243, 1) 50.24%, rgba(236, 236, 236, 1) 69.98%, rgba(224, 224, 224, 1) 84.35%, rgba(207, 207, 207, 1) 96.04%, rgba(199, 199, 199, 1) 100%);
        background: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0,rgba(245, 245, 245, 1) ),color-stop(0.5024,rgba(243, 243, 243, 1) ),color-stop(0.6998,rgba(236, 236, 236, 1) ),color-stop(0.8435,rgba(224, 224, 224, 1) ),color-stop(0.9604,rgba(207, 207, 207, 1) ),color-stop(1,rgba(199, 199, 199, 1) ));
        background: -o-linear-gradient(-90deg, rgba(245, 245, 245, 1) 0%, rgba(243, 243, 243, 1) 50.24%, rgba(236, 236, 236, 1) 69.98%, rgba(224, 224, 224, 1) 84.35%, rgba(207, 207, 207, 1) 96.04%, rgba(199, 199, 199, 1) 100%);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F5F5F5', endColorstr='#C7C7C7' ,GradientType=0)";
        background: linear-gradient(180deg, rgba(245, 245, 245, 1) 0%, rgba(243, 243, 243, 1) 50.24%, rgba(236, 236, 236, 1) 69.98%, rgba(224, 224, 224, 1) 84.35%, rgba(207, 207, 207, 1) 96.04%, rgba(199, 199, 199, 1) 100%);
    }

    .acc-table td {
        height: 25px;
    }

    .subTitle {
        color: #1b90cb;
        font-size: 16px;
    }

    .CellStretched {
        padding: 0px 5px !important;
    }

    .sm {
        width: auto;
        height: 18px;
        padding: 0px 6px;
        font-size: 10px;
    }

    .promptBox {
        text-align: center;
        padding: 10px;
        background: #fff4cd;
        width: 500px;
        height: 85px;
        color: #545454;
        border-radius: 5px;
    }
</style>

<table>

    <tr *ngIf="ValidationErrorsList != null && ValidationErrorsList.length > 0" style="height:1px;">
        <td>
            <ValidationSummary [ItemsSource]="ValidationErrorsList"></ValidationSummary>
        </td>
    </tr>

    <tr>
        <td>
            <div class="ScrollViewer">
                <div class="ScrollContent">
                    <div class="TableHolder" style="padding-top: 5px;">
                        <table>
                            <tr>
                                <td colspan="6">
                                    לאחר טעינת הקבצים באתר המכס יתקבל קובף פרטי ניכוי מס לספקים
                                    <br />

                                    את הקובץ שהתקבל יש לטעון באמצעות לחיצה על כפתור Upload
                                    <br />

                                </td>
                            </tr>

                            <tr style="height: 10px;"><td><div></div></td></tr>


                            <tr style="height:35px">
                                <td style="width:40px;text-align:right"><span style="font-size:11px;color:dimgray">קובץ:</span></td>
                                <td style="width:150px; ">
                                    <LogTextBox [ObjectFieldName]="'FileName'" [Placeholder]="Placeholder" [ObjectTableName]="ObjectTableName"
                                                [HideColumns]="true" [Text]="FileName" [DataContext]="DataContext"></LogTextBox>
                                </td>

                                <td style="width:10px;"><div></div></td>

                                <td style="width:60px;text-align:left">
                                    <button [disabled]="!UploadButtonIsEnabled" style="width:55px;" class="Button" (click)="OpenUpLoadFile()">Upload</button>
                                    <input accept=".txt,.TXT" [attr.id]="UploadFileId" type="file" [(ngModel)]="FileData" (change)="UploadFile($event)" style="display:none;width:65px" class="upload" />
                                </td>
                                <td style="width:30px;color:gray;">{{ProgressBarPercentText}}</td>
                                <td style="width:4px;"></td>
                                <td style="width:150px; background-color:white">
                                    <div>

                                    </div>
                                </td>


                                <td><div></div></td>
                            </tr>


                            <tr style="height: 10px;"><td><div></div></td></tr>

                            <tr>
                                <td colspan="5">
                                    <div style="color:orangered">
                                        שים לב ,עבור כל ספק בקובץ הנתונים ,המערכת תדרוס את הנתונים הקיימים ותעדכן
                                       <br />
                                        במקומם את נתוני הקובץ
                                    </div>
                                </td>
                            </tr>





                            <tr><td><div></div></td></tr>


                        </table>
                    </div>
                </div>
            </div>
        </td>
    </tr>

    <tr style="height: 32px;">
        <td style="vertical-align: bottom">
            <table style="height: 22px;">
                <tr>
                    <td>
                        <div></div>
                    </td>

                    <td style="width: 57px;">
                        <button class="Button" (click)="CancelButtonClicked()">ביטול</button>
                    </td>

                    <td style="width: 5px;">
                        <div></div>
                    </td>

                    <td style="width: 57px;">
                        <button [disabled]="UploadButtonIsEnabled"  class="Button" (click)="OkButtonClicked()">המשך</button>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

</table>



