app-autocomplate-table {
    display: inline-block;
    width: calc(100% - 100px);    
}

app-btn-menu-plus {
    float: right;
    margin-top: 12px;
}

.plus-btn:hover {
    background: #0d89ec;
    color: #ffffff;
    border-color: #0d89ec;
 }

.plus-btn {
    border-color: #e2f0fb;
    background: #e2f0fb;
    color: #1084dc;
    border-radius: 5px;
    padding: 11px 25px;    
    cursor: pointer;
    float: right;
    margin-top: 12px;
}