<table>
    <tr style="height:1px;" *ngIf="ValidationErrorsList != null && ValidationErrorsList.length > 0">
        <td>
            <ValidationSummary [ItemsSource]="ValidationErrorsList"></ValidationSummary>
        </td>
    </tr>

    <tr>
        <td>
            <table>

                <!-- AirRatio -->
                <tr class="FormFieldRow">
                    <td style="width: 80px;">
                        <LogLabel [ObjectFieldName]="'AirRatio'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                    </td>

                    <td style="width: 130px;">
                        <LogTextBox [DigitsAfterPoint]="3" [ObjectFieldName]="'AirRatio'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogTextBox>
                    </td>

                    <td>
                        <div></div>
                    </td>
                </tr>

                <!-- FCLRatio -->
                <tr class="FormFieldRow">
                    <td>
                        <LogLabel [ObjectFieldName]="'FCLRatio'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                    </td>

                    <td>
                        <LogTextBox [DigitsAfterPoint]="3" [ObjectFieldName]="'FCLRatio'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogTextBox>
                    </td>

                    <td>
                        <div></div>
                    </td>
                </tr>

                <!-- LCLRatio -->
                <tr class="FormFieldRow">
                    <td>
                        <LogLabel [ObjectFieldName]="'LCLRatio'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                    </td>

                    <td>
                        <LogTextBox [DigitsAfterPoint]="3" [ObjectFieldName]="'LCLRatio'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogTextBox>
                    </td>

                    <td>
                        <div></div>
                    </td>
                </tr>

                <!-- FTLRatio -->
                <tr class="FormFieldRow">
                    <td>
                        <LogLabel [ObjectFieldName]="'FTLRatio'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                    </td>

                    <td colspan="2">
                        <table>
                            <tr>
                                <td style="width: 94px;">
                                    <LogTextBox [HideColumns]="true" [DigitsAfterPoint]="3" [ObjectFieldName]="'FTLRatio'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogTextBox>
                                </td>

                                <td style="width: 5px;">
                                    <div></div>
                                </td>

                                <td>
                                    <div>
                                        <HelpIcon *ngIf="IsHybrid" [Header]="'FTL Ratio'" [Text]="'This ratio will also be used for the pickup/delivery ratio logic.'"></HelpIcon>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <!-- LTLRatio -->
                <tr class="FormFieldRow">
                    <td>
                        <LogLabel [ObjectFieldName]="'LTLRatio'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                    </td>

                    <td colspan="2">
                        <table>
                            <tr>
                                <td style="width: 94px;">
                                    <LogTextBox [HideColumns]="true" [DigitsAfterPoint]="3" [ObjectFieldName]="'LTLRatio'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogTextBox>
                                </td>

                                <td style="width: 5px;">
                                    <div></div>
                                </td>

                                <td>
                                    <div>
                                        <HelpIcon *ngIf="IsHybrid" [Header]="'LTL Ratio'" [Text]="'This ratio will also be used for the pickup/delivery ratio logic.'"></HelpIcon>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td colspan="3">
                        <div></div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr style="height: 32px;">
        <td style="vertical-align: bottom">
            <table style="height: 22px;">
                <tr>
                    <td>
                        <div></div>
                    </td>

                    <td style="width: 57px;">
                        <button class="Button" (click)="CancelButtonClicked()">Cancel</button>
                    </td>

                    <td style="width: 5px;">
                        <div></div>
                    </td>

                    <td style="width: 57px;">
                        <button class="RedButton" (click)="OkButtonClicked()">Ok</button>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
