<style>
    .table-row {
        height: 1px;
    }

    .first-split-table-row {
        height: 20px;
    }

    .table-row-cell {
        padding-bottom: 10px;
    }

    .split-block {
        border-bottom: 1px solid #6E6E6E;
    }

    .table-row-cell-block {
        padding-left: 10px;
        padding-right: 10px;
    }

    .name-input-container {
        width: 320px;
    }

    .label {
        font-weight: bold;
    }

    .table-row-cell-label {
        padding-bottom: 6px;
    }

    .set-values-container {
        overflow: auto;
        height: 200px;
    }

    .task-types-list-container {
        width: 300px;
    }

    .related-to-cell,
    .task-type-cell {
        width: 350px;
    }

    .entity-fields-container {
        overflow: auto;
        height: 200px;
    }

    .delete-entity-field-button {
        display: none;
        cursor: pointer;
    }

    .entity-field-row:hover .delete-entity-field-button {
        display: block;
    }

    .link-button {
        cursor: pointer;
        color: #2b78e4;
        float: left;
    }

    .link-button .plus-sign {
        font-size: 13px;
        font-weight: bold;
        padding-right: 2px;
    }

    .link-button:not(.disabled):hover {
        color: #03a9f4;
    }

    .link-button.disabled {
        opacity: 0.5;
    }

    .add-entity-field-button-cell {
        padding-top: 4px;
        padding-left: 22px;
    }

    .delete-entity-field-button-cell {
        width: 18px;
        padding-bottom: 10px;
    }

    .entity-field-cell {
        width: 320px;
        padding-bottom: 10px;
    }

    .entity-field-required-cell {
        width: 80px;
        padding-bottom: 10px;
    }
</style>

<table>

    <tr *ngIf="ValidationErrorsList != null && ValidationErrorsList.length > 0" class="table-row">
        <td>
            <ValidationSummary [ItemsSource]="ValidationErrorsList"></ValidationSummary>
        </td>
    </tr>

    <tr class="first-split-table-row">
        <td class="table-row-cell">
            <div class="split-block"></div>
        </td>
    </tr>

    <tr class="table-row">
        <td class="table-row-cell">
            <div>
                <LogLabel [NoObjectField]="true" [Text]="'Name'" [ObjectFieldName]="'Name'" [DataContext]="DataContext">
                </LogLabel>
            </div>
            <div class="table-row-cell-block name-input-container">
                <LogTextBox [NoObjectField]="true" [IsFreeText]="true" [DataContext]="DataContext" [Text]="Name"
                    [NoValidation]="true" [HideColumns]="true" [ObjectFieldName]="'Name'"
                    (ValueChanged)="updateName($event)" [DataCy]="'create-task-name'">
                </LogTextBox>
            </div>
        </td>
    </tr>

    <tr class="table-row">
        <td class="table-row-cell">
            <div class="split-block"></div>
        </td>
    </tr>

    <tr class="table-row">
        <td class="table-row-cell-label">
            <div class="table-row-cell-block">
                <div class="label">Select the Record the Task is Related to</div>
            </div>
        </td>
    </tr>

    <tr class="table-row">
        <td class="table-row-cell">
            <table>
                <tr>
                    <td class="related-to-cell">
                        <div>
                            <LogLabel [NoObjectField]="true" [Text]="'Related To'" [ObjectFieldName]="'Record'"
                                [DataContext]="DataContext"></LogLabel>
                        </div>
                        <div class="table-row-cell-block">
                            <TreeSelect [Items]="EditableRecordsTreeItems" [Width]="'300px'" [Value]="Record"
                                [ShowExpand]="false" [IsReturnedTreeSelectItem]="true"
                                [ShowItem]="'Shipment' | ShowTreeItemPipe : 'entity'"
                                (ValueChanged)="updateRecord($event)" [DataCy]="task-related-to">
                            </TreeSelect>
                        </div>
                    </td>

                    <td *ngIf="Entity" class="task-type-cell">
                        <div>
                            <div>
                                <LogLabel [NoObjectField]="true" [Text]="'Task Type'" [ObjectFieldName]="'TaskTypeId'"
                                    [DataContext]="DataContext"></LogLabel>
                            </div>
                            <div class="table-row-cell-block task-types-list-container">
                                <LogLov *ngIf="IsRecordEntityChanged" [NoObjectField]="true"
                                    [ObjectFieldName]="TaskTypeId" [DataContext]="DataContext"
                                    [QueryFilterItems]="TaskTypeQueryFilters" [LookUpTableName]="'TaskType'"
                                    [NoValidation]="true" [IsFreeText]="true" [SelectedValue]="TaskTypeId"
                                    [HideColumns]="true" [HideLastColumn]="true" [DisplayMemberPath]="'Name'"
                                    (SelectedItemChanged)="updateTaskTypeId($event?.Id)" [DataCy]="'task-type'">
                                </LogLov>
                                <LogLov *ngIf="!IsRecordEntityChanged" [NoObjectField]="true"
                                    [ObjectFieldName]="TaskTypeId" [DataContext]="DataContext"
                                    [QueryFilterItems]="TaskTypeQueryFilters" [LookUpTableName]="'TaskType'"
                                    [NoValidation]="true" [IsFreeText]="true" [SelectedValue]="TaskTypeId"
                                    [HideColumns]="true" [HideLastColumn]="true" [DisplayMemberPath]="'Name'"
                                    (SelectedItemChanged)="updateTaskTypeId($event?.Id)" [DataCy]="'task-type'">
                                </LogLov>
                            </div>
                        </div>
                    </td>

                    <td>
                        <div></div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr class="table-row">
        <td class="table-row-cell">
            <div class="split-block"></div>
        </td>
    </tr>

    <tr *ngIf="TaskEntityId" class="table-row">
        <td class="table-row-cell-label">
            <div class="table-row-cell-block">
                <div class="label">Set Task Fields</div>
            </div>
        </td>
    </tr>

    <tr *ngIf="TaskEntityId" class="table-row">
        <td class="table-row-cell">
            <div class="set-values-container">

                <SetValues *ngIf="SetValues && SetValues.length > 0" [(SetValues)]="SetValues" [IsEntityField]="true"
                    [EntityId]="TaskEntityId" (IsValidSetValuesChange)="updateIsValidSetValues($event)"
                    [FlowObject]="FlowObject" [CurrentNodeId]="CurrentNodeId">
                </SetValues>

            </div>

        </td>
    </tr>

    <tr *ngIf="TaskEntityId" class="table-row">
        <td class="table-row-cell">
            <div class="split-block"></div>
        </td>
    </tr>

    <tr *ngIf="Entity && EntityFields" class="table-row">
        <td class="table-row-cell-label">
            <div class="table-row-cell-block">
                <div class="label">Select {{Entity | EntityLabelPipe}} Fields</div>
            </div>
        </td>
    </tr>

    <tr *ngIf="Entity && EntityFields" class="table-row">
        <td class="table-row-cell">
            <div class="entity-fields-container">
                <table>
                    <tr class="table-row" *ngIf="EntityFields.length > 0">
                        <td></td>
                        <td>Field</td>
                        <td>Required</td>
                        <td>
                            <div></div>
                        </td>
                    </tr>
                    <tr class="table-row entity-field-row"
                        *ngFor="let EntityField of EntityFields; let entityFieldIndex = index;">
                        <td class="delete-entity-field-button-cell">
                            <img class="delete-entity-field-button" src="./Images/Trash-can.png"
                                (click)="deleteEntityField(entityFieldIndex)"
                                [attr.data-cy]="'DeleteEntityFieldButton_' + entityFieldIndex" />
                        </td>
                        <td class="entity-field-cell">
                            <TreeSelect [Items]="ObjectFieldsTreeItems" [Width]="'300px'"
                                [Value]="EntityField.fieldCode" [IsReturnedTreeSelectItem]="true" [ShowExpand]="false"
                                (ValueChanged)="updateEntityField($event, entityFieldIndex)"
                                [DataCy]="'EntityField_' + entityFieldIndex">
                            </TreeSelect>
                        </td>
                        <td class="entity-field-required-cell">
                            <CheckBox [IsChecked]="EntityField.isRequired"
                                (Checked)="updateEntityFieldRequired($event, entityFieldIndex)"
                                [DataCy]="'EntityFieldIsRequired_' + entityFieldIndex"></CheckBox>
                        </td>
                        <td>
                            <div></div>
                        </td>
                    </tr>
                    <tr class="table-row">
                        <td class="add-entity-field-button-cell" colspan="4">
                            <span class="link-button" [ngClass]="{'disabled': !IsValidEntityFields}"
                                (click)="addEntityField()" [attr.data-cy]="'AddEntityFieldButton'">
                                <span class="plus-sign">+</span><span>Add Field</span>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div></div>
                        </td>
                    </tr>
                </table>
            </div>

        </td>
    </tr>

    <tr *ngIf="Entity && EntityFields" class="table-row">
        <td class="table-row-cell">
            <div class="split-block"></div>
        </td>
    </tr>


    <tr>
        <td>
            <div></div>
        </td>
    </tr>

</table>