<style>
    .table-row {
        height: 1px;
    }
</style>

<table>

    <tr>
        <td>
            <div></div>
        </td>
    </tr>

    <tr class="table-row">
        <td>

            <FooterButtons [SaveButtonLabel]="'Ok'" (SaveButtonClicked)="saveButtonClicked()"
                (CancelButtonClicked)="cancelButtonClicked()" [SaveButtonDataCy]="'send-email-properties-save-button'"
                [CancelButtonDataCy]="'send-email-properties-cancel-button'"></FooterButtons>

        </td>
    </tr>

</table>