
<table>
    <tr *ngIf="ValidationErrorsList != null && ValidationErrorsList.length > 0" style="height:1px;">
        <td>
            <ValidationSummary [ItemsSource]="ValidationErrorsList"></ValidationSummary>
        </td>
    </tr>

    <tr>
        <td>
            <div class="MediaFill" *ngIf="IsResourcesReady">
                <table *ngIf="IsEntityReady">

                    <!-- UsedFor -->
                    <tr class="FormFieldRow">
                        <td style="width: 150px;">
                            <LogLabel [ObjectFieldName]="'UsedFor'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                        </td>

                        <td style="width: 450px;">
                            <LogTextBox [ObjectFieldName]="'UsedFor'" [Text]="UsedFor" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogTextBox>
                        </td>

                        <td>
                            <div></div>
                        </td>
                    </tr>

                    <!-- AllowedIPs -->
                    <tr class="FormFieldRow">
                        <td>
                            <LogLabel [ObjectFieldName]="'AllowedIPs'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                        </td>

                        <td>
                            <LogTextBox [ObjectFieldName]="'AllowedIPs'" [Text]="AllowedIPs" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogTextBox>
                        </td>

                        <td>
                            <div></div>
                        </td>
                    </tr>

                    <!-- PrimaryAccessKey -->
                    <tr class="FormFieldRow">
                        <td>
                            <LogLabel [ObjectFieldName]="'HashedPrimaryAccessKey'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                        </td>

                        <td>
                            <table>
                                <tr>
                                    <td>
                                        <input type="text" [attr.value]="HashedPrimaryAccessKey" readonly style="background: #E6E7E8; font-size: 12px;">
                                    </td>

                                    <td style="width: 2px;">
                                        <div></div>
                                    </td>

                                    <td style="width: 80px;">
                                        <button class="Button" (click)="GeneratePrimaryKeyClicked()">Generate</button>
                                    </td>

                                    <td style="width: 36px;">
                                        <div></div>
                                    </td>
                                </tr>
                            </table>
                        </td>

                        <td>
                            <div></div>
                        </td>
                    </tr>

                    <!-- SeconderyAccessKey -->
                    <tr class="FormFieldRow">
                        <td>
                            <LogLabel [ObjectFieldName]="'HashedSeconderyAccessKey'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                        </td>

                        <td>
                            <table>
                                <tr>
                                    <td>
                                        <input type="text" [attr.value]="HashedSeconderyAccessKey" readonly style="background: #E6E7E8; font-size: 12px;">
                                    </td>

                                    <td style="width: 2px;">
                                        <div></div>
                                    </td>

                                    <td style="width: 80px;">
                                        <button class="Button" (click)="GenerateSeconderyKeyClicked()">Generate</button>
                                    </td>

                                    <td style="width: 36px;">
                                        <div></div>
                                    </td>
                                </tr>
                            </table>
                        </td>

                        <td>
                            <div></div>
                        </td>
                    </tr>

                    <!-- CreateDate -->
                    <tr class="FormFieldRow" *ngIf="!IsNewEntity">
                        <td>
                            <LogLabel [ObjectFieldName]="'CreateDate'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                        </td>

                        <td>
                            <span class="Value">{{CreateDate | DateTimePipe:'SD'}}</span>
                            <span class="Value" style="padding-left: 3px;">{{CreateDate | DateTimePipe:'LT12'}}</span>
                        </td>

                        <td>
                            <div></div>
                        </td>
                    </tr>

                    <!-- CreatedBy -->
                    <tr class="FormFieldRow" *ngIf="!IsNewEntity">
                        <td>
                            <LogLabel [ObjectFieldName]="'CreatedBy'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                        </td>

                        <td style="width: 450px;">
                            <span class="Value">{{CreatedBy}}</span>
                        </td>

                        <td>
                            <div></div>
                        </td>
                    </tr>

                    <!-- UpdateDate -->
                    <tr class="FormFieldRow" *ngIf="!IsNewEntity">
                        <td>
                            <LogLabel [ObjectFieldName]="'UpdateDate'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                        </td>

                        <td>
                            <span class="Value">{{UpdateDate | DateTimePipe:'SD'}}</span>
                            <span class="Value" style="padding-left: 3px;">{{UpdateDate | DateTimePipe:'LT12'}}</span>
                        </td>

                        <td>
                            <div></div>
                        </td>
                    </tr>

                    <!-- UpdatedBy -->
                    <tr class="FormFieldRow" *ngIf="!IsNewEntity">
                        <td>
                            <LogLabel [ObjectFieldName]="'UpdatedBy'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                        </td>

                        <td>
                            <span class="Value">{{UpdatedBy}}</span>
                        </td>

                        <td>
                            <div></div>
                        </td>
                    </tr>


                    <!--<tr class="FormFieldRow" >
                        <td>
                            <LogLabel [ObjectFieldName]="'ComputingPartnerId'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                        </td>

                        <td>
                            <div style="width:250px">
                                <LogLov [ObjectFieldName]="'ComputingPartnerId'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext" [LookUpTableName]="'ComputingPartner'"></LogLov>
                            </div>
                           
                        </td>

                        <td>
                            <div></div>
                        </td>
                    </tr>-->



                    <!--<tr class="FormFieldRow" style="vertical-align:top">
                        <td style="width:5px"><div></div></td>
                        <td style="width:120px;">  <LogLabel [ObjectFieldName]="'DocumentTypeCategoryCode'" [Text]="'Category'" [ObjectTableName]="'DocumentType'" [DataContext]="NewDocumentTypePM"></LogLabel></td>
                        <td style="width:230px"><LogLov style="width:230px" [LogitudeForm]="myForm" [ObjectFieldName]="'DocumentTypeCategoryCode'" [ObjectTableName]="'DocumentType'" [DataContext]="NewDocumentTypePM" [LookUpTableName]="'DocumentTypeCategory'"></LogLov></td>
                        <td><div></div></td>
                    </tr>-->
                    <tr>
                        <td colspan="3">
                            <div></div>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>

    <tr style="height: 32px;">
        <td style="vertical-align: bottom">
            <table style="height: 22px;">
                <tr>
                    <td>
                        <div></div>
                    </td>

                    <td style="width: 57px;">
                        <button class="Button" (click)="CancelButtonClicked()">{{'General.B.Cancel' | TextCodeTranslationPipe}}</button>
                    </td>

                    <td style="width: 5px;">
                        <div></div>
                    </td>

                    <td style="width: 57px;">
                        <button class="RedButton" (click)="OkButtonClicked()">{{'General.B.Ok' | TextCodeTranslationPipe}}</button>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
