
<table>
    <tr *ngIf="ValidationErrorsList != null && ValidationErrorsList.length > 0" style="height:1px;">
        <td>
            <ValidationSummary [ItemsSource]="ValidationErrorsList"></ValidationSummary>
        </td>
    </tr>

    <tr>
        <td>
            <table *ngIf="IsResourcesReady">

                <!-- ParentRoleId -->
                <tr class="FormFieldRow">
                    <td style="width: 100px;">
                        <LogLabel [ObjectFieldName]="'ParentRoleId'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                    </td>

                    <td style="width: 250px;">
                        <LogLov [ObjectFieldName]="'ParentRoleId'"
                                [SelectedValue]="ParentRoleId"
                                [ObjectTableName]="ObjectTableName"
                                [DataContext]="DataContext"
                                [LookUpTableName]="'Role'"
                                [DependencyFilter1Value]="false"
                                [DependencyFilter2Value]="true">
                        </LogLov>
                    </td>

                    <td style="width: 250px;">
                        <div></div>
                    </td>

                    <td>
                        <div></div>
                    </td>
                </tr>

                <!-- Name -->
                <tr class="FormFieldRow">
                    <td>
                        <LogLabel [ObjectFieldName]="'Name'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                    </td>

                    <td>
                        <LogTextBox [ObjectFieldName]="'Name'" [Text]="Name" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogTextBox>
                    </td>

                    <td>
                        <div></div>
                    </td>

                    <td>
                        <div></div>
                    </td>
                </tr>

                <!-- Description -->
                <tr class="FormFieldRow" style="height: 100px;">
                    <td>
                        <LogLabel [ObjectFieldName]="'Description'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                    </td>

                    <td colspan="2">
                        <div class="MediaFill">
                            <LogTextBox [ObjectFieldName]="'Description'" [Text]="Description" [IsMultiline]="true" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogTextBox>
                        </div>
                    </td>                    

                    <td>
                        <div></div>
                    </td>
                </tr>

                <tr>
                    <td colspan="4">
                        <div></div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr style="height: 32px;">
        <td style="vertical-align: bottom">
            <table style="height: 22px;">
                <tr>
                    <td>
                        <div></div>
                    </td>

                    <td style="width: 57px;">
                        <button class="Button" (click)="CancelButtonClicked()">{{'General.B.Cancel' | TextCodeTranslationPipe}}</button>
                    </td>

                    <td style="width: 5px;">
                        <div></div>
                    </td>

                    <td style="width: 57px;">
                        <button class="RedButton" (click)="OkButtonClicked()">{{'General.B.Ok' | TextCodeTranslationPipe}}</button>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>