

<table>
    <tr *ngIf="ValidationErrorsList != null && ValidationErrorsList.length > 0" style="height:1px;">
        <td>
            <ValidationSummary [ItemsSource]="ValidationErrorsList"></ValidationSummary>
        </td>
    </tr>

    <tr *ngIf="DataContext.WarningErrorsList != null && DataContext.WarningErrorsList.length > 0" style="height:1px;">
        <td>
            <WarningSummary [ItemsSource]="DataContext.WarningErrorsList" [SingleLine]="true"></WarningSummary>
        </td>
    </tr>

    <tr>
        <td>
            <table>
                <tr>
                    <td style="width: 400px;">
                        <table>

                            <!-- PackageTypeId -->
                            <tr class="FormFieldRow">
                                <td style="width: 170px;">
                                    <LogLabel [ObjectFieldName]="'PackageTypeId'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                </td>

                                <td>
                                    <LogLov [ObjectFieldName]="'PackageTypeId'"
                                            [SelectedValue]="DataContext.PackageTypeId"
                                            [ObjectTableName]="ObjectTableName"
                                            [DataContext]="DataContext"
                                            [LookUpTableName]="'PackageType'"
                                            >
                                    </LogLov>
                                </td>
                            </tr>

                            <!-- ContainerNumber -->
                            <tr class="FormFieldRow" *ngIf="!DataContext.IsAirShipment">
                                <td>
                                    <LogLabel [ObjectFieldName]="'ContainerNumber'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                </td>

                                <td>
                                    <LogTextBox [ObjectFieldName]="'ContainerNumber'" [Text]="DataContext.ContainerNumber" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext" (LostFocus)="DataContext.ContainerNumberLostFocus($event)"></LogTextBox>
                                </td>
                            </tr>

                            <!-- Quantity -->
                            <tr class="FormFieldRow">
                                <td>
                                    <LogLabel [ObjectFieldName]="'Quantity'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                </td>

                                <td>
                                    <LogTextBox [ObjectFieldName]="'Quantity'" [Text]="DataContext.Quantity" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogTextBox>
                                </td>
                            </tr>

                            <!-- Dimensions -->
                            <tr class="FormFieldRow" *ngIf="!DataContext.IsContainer">
                                <td>
                                    <LogLabel [ObjectFieldName]="'Length'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext" [Text]="DimensionsLabel"></LogLabel>
                                </td>

                                <td style="width: 230px;">
                                    <table>
                                        <tr>
                                            <td>
                                                <LogTextBox [ObjectFieldName]="'Length'" [Text]="DataContext.Length" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext" [HideColumns]="true" [DisableZeroPadding]="true"></LogTextBox>
                                            </td>

                                            <td style="width: 1px;">
                                                <div></div>
                                            </td>

                                            <td>
                                                <LogTextBox [ObjectFieldName]="'Width'" [Text]="DataContext.Width" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext" [HideColumns]="true" [DisableZeroPadding]="true"></LogTextBox>
                                            </td>

                                            <td style="width: 1px;">
                                                <div></div>
                                            </td>

                                            <td>
                                                <LogTextBox [ObjectFieldName]="'Height'" [Text]="DataContext.Height" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext" [HideColumns]="true" [DisableZeroPadding]="true"></LogTextBox>
                                            </td>

                                            <td style="width: 36px;">
                                                <div></div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            <!-- Volume -->
                            <tr class="FormFieldRow">
                                <td>
                                    <LogLabel [ObjectFieldName]="'Volume'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                </td>

                                <td>
                                    <LogTextBox [ObjectFieldName]="'Volume'" [Text]="DataContext.Volume" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogTextBox>
                                </td>
                            </tr>

                            <!-- Weight -->
                            <tr class="FormFieldRow">
                                <td>
                                    <LogLabel [ObjectFieldName]="'Weight'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                </td>

                                <td>
                                    <LogTextBox [ObjectFieldName]="'Weight'" [Text]="DataContext.Weight" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogTextBox>
                                </td>
                            </tr>

                            <!-- ShipperSeal -->
                            <tr class="FormFieldRow" *ngIf="DataContext.IsContainer">
                                <td>
                                    <LogLabel [ObjectFieldName]="'ShipperSeal'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                </td>

                                <td>
                                    <LogTextBox [ObjectFieldName]="'ShipperSeal'" [Text]="DataContext.ShipperSeal" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogTextBox>
                                </td>
                            </tr>

                            <!-- Harmonize -->
                            <tr class="FormFieldRow">
                                <td>
                                    <table>
                                        <tr>
                                            <td>
                                                <LogLabel [ObjectFieldName]="'Harmonize'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                            </td>

                                            <td style="width: 1px;">
                                                <Hyperlink (click)="MultiHarmonizeClicked()">Multi</Hyperlink>
                                            </td>

                                            <td style="width: 2px;">
                                                <div></div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>

                                <td>
                                    <table>
                                        <tr>
                                            <td>
                                                <div class="MediaFill">
                                                    <div class="MediaFillRelative">
                                                        <LogTextBox [ObjectFieldName]="'Harmonize'" [Text]="DataContext.Harmonize" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext" [HideColumns]="true"></LogTextBox>
                                                        <div class="Value" style="position: absolute; left: 10px; top: 7px;" *ngIf="EntityPM.IsMultiHarmonize">Multi</div>
                                                    </div>
                                                </div>
                                            </td>

                                            <td style="width: 4px;">
                                                <div></div>
                                            </td>

                                            <td style="width: 14px;">
                                                <div>
                                                    <span class="hyperlink" *ngIf="!EntityPM.IsMultiHarmonize" [class.HyperlinkDisabled]="!DataContext.IsEditingEnabled" (click)="ChooseHarmonizeClicked()">
                                                        <img style="vertical-align: middle; width: 14px; height: 14px; cursor: pointer;" src="./Images/LOVSearch.png" />
                                                    </span>
                                                </div>
                                            </td>

                                            <td style="width: 18px;">
                                                <div></div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>                            

                            <tr>
                                <td colspan="2">
                                    <div></div>
                                </td>
                            </tr>
                        </table>
                    </td>

                    <td>
                        <div></div>
                    </td>

                    <td style="width: 300px;">
                        <table>

                            <tr style="height: 100px;">
                                <td>
                                    <table>
                                        <tr class="FormFieldRow">
                                            <td style="vertical-align: middle;">
                                                <LogLabel [ObjectFieldName]="'Description'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                            </td>
                                        </tr>

                                        <tr class="FormFieldRow" style="height: 100px;">
                                            <td style="height: 100px;">
                                                <div style="height: 100px;">
                                                    <LogTextBox [ObjectFieldName]="'Description'" [Text]="DataContext.Description" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext" [IsMultiline]="true"></LogTextBox>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <div></div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                           
                            <tr style="height:5px;">
                                <td>
                                    <div></div>
                                </td>
                            </tr>

                            <tr *ngIf="DataContext.IsVehicleDetails" style="vertical-align:top;">
                                <td>
                                    <table>
                                        <tr style="height:32px;">
                                            <td colspan="2" style="color:#1B90CB;font-size:14px;">
                                                Vehicle Details
                                            </td>
                                        </tr>

                                        <!-- Make -->
                                        <tr class="FormFieldRow">
                                            <td style="width: 160px;">
                                                <LogLabel [ObjectFieldName]="'Make'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                            </td>

                                            <td style="width: 180px;">
                                                <LogTextBox [ObjectFieldName]="'Make'" [Text]="DataContext.Make" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogTextBox>
                                            </td>

                                            <td>
                                                <div></div>
                                            </td>
                                        </tr>

                                        <!-- Model -->
                                        <tr class="FormFieldRow">
                                            <td>
                                                <LogLabel [ObjectFieldName]="'Model'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                            </td>

                                            <td>
                                                <LogTextBox [ObjectFieldName]="'Model'" [Text]="DataContext.Model" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogTextBox>
                                            </td>

                                            <td>
                                                <div></div>
                                            </td>
                                        </tr>

                                        <!-- Year  -->
                                        <tr class="FormFieldRow">
                                            <td>
                                                <LogLabel [ObjectFieldName]="'Year'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                            </td>

                                            <td>
                                                <LogTextBox [ObjectFieldName]="'Year'" [Text]="DataContext.Year" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogTextBox>
                                            </td>

                                            <td>
                                                <div></div>
                                            </td>
                                        </tr>

                                        <!-- Color  -->
                                        <tr class="FormFieldRow">
                                            <td>
                                                <LogLabel [ObjectFieldName]="'Color'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                            </td>

                                            <td>
                                                <LogTextBox [ObjectFieldName]="'Color'" [Text]="DataContext.Color" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogTextBox>
                                            </td>

                                            <td>
                                                <div></div>
                                            </td>
                                        </tr>

                                        <!-- Chassis Number  -->
                                        <tr class="FormFieldRow">
                                            <td>
                                                <LogLabel [ObjectFieldName]="'ChassisNumber'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                            </td>
                                            <td>
                                                <LogTextBox [ObjectFieldName]="'ChassisNumber'" [Text]="DataContext.ChassisNumber" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogTextBox>
                                            </td>
                                            <td>
                                                <div></div>
                                            </td>
                                        </tr>

                                        <!-- Registration Number  -->
                                        <tr class="FormFieldRow">
                                            <td>
                                                <LogLabel [ObjectFieldName]="'RegistrationNumber'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                            </td>
                                            <td>
                                                <LogTextBox [ObjectFieldName]="'RegistrationNumber'" [Text]="DataContext.RegistrationNumber" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogTextBox>
                                            </td>
                                            <td>
                                                <div></div>
                                            </td>
                                        </tr>

                                        <!-- CountryId -->
                                        <tr class="FormFieldRow">
                                            <td>
                                                <LogLabel [ObjectFieldName]="'CountryId'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                            </td>
                                            <td>
                                                <LogLov [ObjectFieldName]="'CountryId'"
                                                        [SelectedValue]="DataContext.CountryId"
                                                        [ObjectTableName]="ObjectTableName"
                                                        [DataContext]="DataContext"
                                                        [LookUpTableName]="'Country'">
                                                </LogLov>
                                            </td>
                                            <td>
                                                <div></div>
                                            </td>
                                        </tr>

                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr style="height: 32px;">
        <td style="vertical-align: bottom">
            <table style="height: 22px;">
                <tr>
                    <td>
                        <div></div>
                    </td>

                    <td style="width: 57px;">
                        <button id="{{ 'PickupPackageCancelbtn' | IdGeneratorPipe}}" class="Button" (click)="CancelButtonClicked()">Cancel</button>
                    </td>

                    <td style="width: 5px;">
                        <div></div>
                    </td>

                    <td style="width: 57px;">
                        <button id="{{ 'AddPickupPackage' | IdGeneratorPipe}}" class="RedButton" (click)="OkButtonClicked()" [disabled]="!DataContext.IsEditingEnabled">Ok</button>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
