<appSettings> 
      
      
      
      <add key="ClientSettingsProvider.ServiceUri" value="" />
      
    

    <add key="IsCustomsMode" value="false" /> 

    <add key="CustomsDeploymentStage" value="Pilot" />
    <add key="BlobServicePath" value="http://192.168.10.88/AmitalStorageService/BlobService.SVC" />
    
    
    

    <add key="LogitudeURL" value="http://system.logitudeworld.com" />
    <!--<add key="LogitudeURL" value="http://logitudeeu1.cloudapp.net" />-->
    <!--<add key="LogitudeURL" value="http://127.0.0.1:95" />-->
    <!--<add key="LogitudeURL" value="http://logitudetest1.cloudapp.net" />-->
    <!--<add key="LogitudeURL" value="http://logitudetest3.cloudapp.net" />-->
    <add key="CustomerCareIP" value="82.213.62.242,192.116.221.91,127.0.0.1,192.168.1.124,127.0.0.1" />

  <add key="QueueServiceMode" value="azure" />



  <add key="DBMS" value="oracle"/>


  <add key="DBMS" value="msql"/>



  <add key="StorageServiceMode" value="azure" /><!-- "fs" for file system,"azure" for azure -->
 <add key="20180708HD310784.LogUntilDateyyyyMMdd" value="20181001" />


    <add key="20180718.ConcurrentKiller" value="1" />

<add key="SIICerExemptionHD379305.LogUntilDateyyyyMMdd" value="20221001" />
	
	<add key="Override:CustomsMessagingSheetWR" value="-2750-2755-" />
	
	<add key="RabbitmqHost" value="unimq" />
<add key="RabbitmqUsername" value="v5101" />
<add key="RabbitmqPassword" value="Aa123" />

</appSettings>