<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<!--<target name="logfile" xsi:type="File" fileName="log.txt" />
		<target name="customfile" xsi:type="File" fileName="C:\CustomsBook\Logs\customsBookLog.txt" />-->

		<target name="customfile" xsi:type="File" fileName="C:\CustomsBook\Logs\customsBookLog.txt" layout="${longdate} ${message}" />

	</targets>

	<rules>
		<logger name="CustomsBook.TaskScheduler" minlevel="Debug" writeTo="customfile" />
		<!--<logger name="*" minlevel="Info" writeTo="logfile" />-->
	</rules>
</nlog>