<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<extensions>
		<add assembly="NLog.Loki" />
	</extensions>
	<targets>
		<!--${basedir}/-->
		<target name="logfile" xsi:type="File"
					  fileName="Logs/${var:Var_ProcessName}/${date:format=yyyy-MM-dd}.log"
					  layout="${longdate} | ${level:uppercase=true:padding=5} | ${callsite:padding=5} | ${message} ${onexception: | EX\:${exception:format=tostring,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}"
					  keepFileOpen="false"
                />

		
		<target name="logconsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
			 layout="${longdate} | ${level:uppercase=true:padding=5} | ${callsite:padding=5} | ${message} ${onexception: | EX\:${exception:format=tostring,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}">
			<highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray"/>
			<highlight-row condition="level == LogLevel.Info" foregroundColor="Gray"  />
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow"/>
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Black"  backgroundColor="Gray"/>
			<highlight-row condition="level == LogLevel.Fatal" foregroundColor="Black" backgroundColor="Yellow" />


		</target>
		<target
					 name="loki"
					 xsi:type="loki"
					 batchSize="200"
					 taskDelayMilliseconds="500"
					 endpoint="https://logs-prod-012.grafana.net"
					 username="912164"
					 password="glc_eyJvIjoiMTE0NTQ1OSIsIm4iOiJwZGMtYW1pdGFsLWRlZmF1bHQtdGVzdC1zaW1vbiIsImsiOiJOOTllRVE2ZHltVTlGM2V3NFAxN3U0MFIiLCJtIjp7InIiOiJwcm9kLWV1LXdlc3QtMiJ9fQ=="
					 orderWrites="true"
					 compressionLevel="noCompression"
					 layout="${level}|${callsite:padding=5}|${message}${onexception:|${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}|source=${logger}"
					 eventPropertiesAsLabels="false"
        >
			<!--proxyUrl="http://127.0.0.1:8888"-->
			<layout xsi:type="JsonLayout" includeEventProperties="true">
				<attribute name="level" layout="${level} "/>
				<attribute name="source" layout="${callsite:padding=5}" />
				<attribute name="message" layout="${message}" />
				<attribute name="exception" encode="false">
					<layout xsi:type="JsonLayout">
						<attribute name="type" layout="${exception:format=type}" />
						<attribute name="message" layout="${exception:format=message}" />
						<attribute name="stacktrace" layout="${exception:format=tostring}" />
					</layout>
				</attribute>
			</layout>


			<label name="app" layout="${var:Var_ProcessName}" />
			<label name="server" layout="${hostname:lowercase=true}" />
		</target>
	
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="logconsole" />
		<logger name="*" minlevel="Debug" writeTo="logfile" />
		<!--<logger name="*" minlevel="Fatal" writeTo="logfile" />-->
		<logger name="*" minlevel="Error" writeTo="loki" />


		<logger name="CargoTrackingMainService" minlevel="Info" writeTo="logfile" />
	</rules>
</nlog>