<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <appSettings>
    <add key="ServiceIntervalInSeconds" value="5"/>
    <add key="FTPUrl" value="ftp://52.136.240.78"/>
    <add key="FTPUsername" value="Rabaia"/>
    <add key="FTPPassword" value="London2015!A"/>
    <add key="FTPConfigurationsFileUrl" value="LogitudePackage/Configurations.xml"/>
    <add key="IISFolderName" value="Logitude"/>
  </appSettings>
  
</configuration>