<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <appSettings>
    <add key="AgentServiceId" value="bf65a168-5288-43fc-ac23-b8ccaba19ff4"/>
    <add key="InstanceName" value="Logitude"/>
    <add key="ServiceIntervalInSeconds" value="15"/>
    <add key="DeploymentWebApiUrl" value="http://localhost:61788/api"/>
    <add key="RunDBMigrations" value="true"/>
  </appSettings>
  
</configuration>