<style type="text/css">
    .ResponseProgressLayout {
        position: absolute;
        top: -5px;
        bottom: -5px;
        left: -5px;
        right: -5px;
        margin: auto;
        border-radius: 8px;
        background: -moz-linear-gradient(rgba(21, 61, 110, 0.4) 0%, rgba(21, 61, 110, 0.1) 50%, rgba(21, 61, 110, 0.4) 100%);
        background: -webkit-linear-gradient(rgba(21, 61, 110, 0.4) 0%, rgba(21, 61, 110, 0.1) 50%, rgba(21, 61, 110, 0.4) 100%);
        background: linear-gradient(rgba(21, 61, 110, 0.4) 0%, rgba(21, 61, 110, 0.1) 50%, rgba(21, 61, 110, 0.4) 100%);
    }

    .ResponseProgressWindow {
        width: 230px;
        height: 110px;
        position: absolute;
        left: 50%;
        bottom: 170px;
        transform: translateX(-50%);
    }

    .ResponseProgressWindowHeader {
        height: 25px;
        line-height: 25px;
        font-size: 13px;
        padding-left: 10px;
        border-radius: 8px 8px 0 0;
        -moz-border-radius: 8px 8px 0 0;
        -webkit-border-radius: 8px 8px 0 0;
        border: 1px solid #8F9192;
        border-bottom: 0px;
        background: linear-gradient(rgba(189, 191, 191, 1) 0%, rgba(143, 145, 146, 1) 100%);
    }

    .ResponseProgressWindowBody {
        height: 100%;
        width: 100%;
        position: relative;
        border-radius: 0 0 8px 8px;
        -moz-border-radius: 0 0 8px 8px;
        -webkit-border-radius: 0 0 8px 8px;
        border: 1px solid #DADADA;
        border-top: 0px;
        background: linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(208, 208, 208, 0.5) 100%);
    }
</style>

<table>
    <tr *ngIf="ValidationErrorsList != null && ValidationErrorsList.length > 0" style="height:1px;">
        <td>
            <ValidationSummary [ItemsSource]="ValidationErrorsList"></ValidationSummary>
        </td>
    </tr>

    <tr>
        <td>
            <table>

                <!-- User Id -->
                <tr class="FormFieldRow">
                    <td style="width:120px;">
                        <LogLabel [ObjectFieldName]="'UserId'" [NoObjectField]="true" [Text]="'User'" [DataContext]="DataContext"></LogLabel>
                    </td>
                    <td style="width:250px;">
                        <LogLov [ObjectFieldName]="'UserId'"
                                [DataContext]="DataContext"
                                [NoObjectField]="true"
                                [SelectedValue]="UserId"
                                [LookUpTableName]="'User'">
                        </LogLov>
                    </td>
                    <td>
                        <div></div>
                    </td>
                </tr>
                <!-- FromProject -->
                <tr class="FormFieldRow">
                    <td>
                        <LogLabel [ObjectFieldName]="'FromProject'" [NoObjectField]="true" [Text]="'From Project'" [DataContext]="DataContext"></LogLabel>
                    </td>

                    <td style="width:250px;">
                        <LogLov [ObjectFieldName]="'FromProject'"
                                [DataContext]="DataContext"
                                [NoObjectField]="true"
                                [SelectedValue]="FromProject"
                                [LookUpTableName]="'TMProject'"
                                [ShowInActive]="true">
                        </LogLov>



                    </td>
                    <td>
                        <div></div>
                    </td>
                </tr>

                <!-- ToProject -->
               <tr class="FormFieldRow">
                   <td>
                       <LogLabel [ObjectFieldName]="'ToProject'" [NoObjectField]="true" [Text]="'To Project'" [DataContext]="DataContext"></LogLabel>
                   </td>

                   <td style="width:250px;">
                       <LogLov [ObjectFieldName]="'ToProject'"
                               [DataContext]="DataContext"
                               [NoObjectField]="true"
                               [SelectedValue]="ToProject"
                               [LookUpTableName]="'TMProject'"
                               [ShowInActive]="true">
                       </LogLov>
                   </td>

                   <td>
                       <div></div>
                   </td>
               </tr>

                <!-- FromDate -->
                <tr class="FormFieldRow">
                    <td>
                        <LogLabel [ObjectFieldName]="'FromDate'" [NoObjectField]="true" [Text]="'From Date'" [DataContext]="DataContext"></LogLabel>
                    </td>

                    <td>
                        <LogDatePicker [ObjectFieldName]="'FromDate'" [NoObjectField]="true" [SelectedDateValue]="FromDate" [DataContext]="DataContext"></LogDatePicker>
                    </td>

                    <td>
                        <div></div>
                    </td>
                </tr>

                <!-- ToDate -->
               <tr class="FormFieldRow">
                    <td>
                        <LogLabel [ObjectFieldName]="'ToDate'" [NoObjectField]="true" [Text]="'To Date'" [DataContext]="DataContext"></LogLabel>
                    </td>

                    <td>
                        <LogDatePicker [ObjectFieldName]="'ToDate'" [NoObjectField]="true" [SelectedDateValue]="ToDate" [DataContext]="DataContext"></LogDatePicker>
                    </td>

                    <td>
                        <div></div>
                    </td>
                </tr>

                <!-- Button Get Project -->
               <tr class="FormFieldRow">
                    <td colspan="2">
                        <table>
                            <tr>
                                <td style="width: 57px;">
                                    <button class="Button" (click)="MoveHoursClicked()">Move Hours</button>
                                </td>
                                <td>
                                    <div></div>
                                </td>
                            </tr>
                        </table>

                    </td>

                    <td>
                        <div></div>
                    </td>
                </tr>

                <tr>
                    <td colspan="3">
                        <div></div>
                    </td>
                </tr>

            </table>

           <div class="ResponseProgressLayout" *ngIf="IsResponseProgressVisible">
                <div class="FillContent">
                    <div class="ResponseProgressWindow">
                        <table>
                            <tr style="height: 25px;">
                                <td>
                                    <div class="ResponseProgressWindowHeader">
                                        Waiting for response
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="ResponseProgressWindowBody">
                                        <img class="CenterCenter" style="bottom: 20px;" src="./Images/ProgressBar.gif" />
                                        <div class="hyperlink" (mousedown)="CloseResponseProgressClicked()" style="font-size: 12px; width: 100%; text-align: center; position: absolute; bottom: 10px;">I will check response later</div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </td>

    </tr>

  <tr style="height: 32px;">
        <td style="vertical-align: bottom">
            <table style="height: 22px;">
                <tr>
                    <td>
                        <div></div>
                    </td>

                    <td style="width: 57px;">
                        <button class="Button" (click)="CancelButtonClicked()">Cancel</button>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
