<connectionStrings  >

  <add name="Oracle_Globalstr"  connectionString="User Id=AMINETPRE2_GLOBAL;  Password=AMINETPRE2_GLOBAL;Direct=True;Data Source=Univ56;port=1521;sid=amital"/>
  <add name="Oracle_SystemLogsStr"  connectionString="User Id=AMINETPRE2_logs;  Password=AMINETPRE2_logs;Direct=True;Data Source=Univ56;port=1521;sid=amital"/>

  <add name="LogitudeSystemLogsStr" connectionString="Data Source=.;Initial Catalog=Amital1_SystemLogs;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />

  
  
</connectionStrings>