<connectionStrings  >


  

  <clear/>
  <add name="Oracle_Globalstr"  connectionString="User Id=AMINETPRE_GLOBAL;  Password=AMINETPRE_GLOBAL;Direct=True;Data Source=Univ57;port=1521;sid=amital"/>
  <add name="Oracle_SystemLogsStr"  connectionString="User Id=AMINETPRE_logs;  Password=AMINETPRE_logs;Direct=True;Data Source=Univ57;port=1521;sid=amital"/>

  <add name="LogitudeSystemLogsStr" connectionString="Data Source=.;Initial Catalog=Amital1_SystemLogs;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />

  

  
  <clear/>

  <add name="Oracle_Globalstr"  connectionString="User Id=AMINET_GLOBAL;  Password=AMINET_GLOBAL;Direct=True;Data Source=Univ56;port=1521;sid=amital"/>
  <add name="Oracle_SystemLogsStr"  connectionString="User Id=AMINET_logs;  Password=AMINET_logs;Direct=True;Data Source=Univ56;port=1521;sid=amital"/>

  <add name="LogitudeSystemLogsStr" connectionString="Data Source=.;Initial Catalog=Amital1_SystemLogs;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />


  <clear/>
  <add name="Oracle_Globalstr"  connectionString="User Id=couriernet_global;  Password=couriernet_global;Direct=True;Data Source=Univ58;port=1521;sid=amital"/>
  <add name="Oracle_SystemLogsStr"  connectionString="User Id=couriernet_logs;  Password=couriernet_logs;Direct=True;Data Source=Univ58;port=1521;sid=amital"/>

  <add name="LogitudeSystemLogsStr" connectionString="Data Source=.;Initial Catalog=Amital1_SystemLogs;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />


  <clear/>

  <add name="Oracle_Globalstr"  connectionString="User Id=AMINET_GLOBAL;  Password=AMINET_GLOBAL;Direct=True;Data Source=Univ58;port=1521;sid=amital"/>
  <add name="Oracle_SystemLogsStr"  connectionString="User Id=AMINET_logs;  Password=AMINET_logs;Direct=True;Data Source=Univ58;port=1521;sid=amital"/>

  <add name="LogitudeSystemLogsStr" connectionString="Data Source=.;Initial Catalog=Amital1_SystemLogs;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />



  <clear/>
  <add name="Oracle_Globalstr"  connectionString="User Id=couriernet_global;  Password=couriernet_global;Direct=True;Data Source=Univ58;port=1521;sid=amital"/>
  <add name="Oracle_SystemLogsStr"  connectionString="User Id=couriernet_logs;  Password=couriernet_logs;Direct=True;Data Source=Univ58;port=1521;sid=amital"/>

  <add name="LogitudeSystemLogsStr" connectionString="Data Source=.;Initial Catalog=Amital1_SystemLogs;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />


</connectionStrings>