
<style type="text/css">
    .NoteItemBox {
        height: 80px;
        padding: 5px;
        margin-bottom: 5px;
        border: 1px solid #D1D1D1;
        background: #FFFADC;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        overflow-x: hidden;
    }

    .NotesTextArea {
        padding: 2px;
        padding-left: 4px;
        font-size: 12px;
        color: #45494A;
        background: #FFFADC;
        border: hidden;
        overflow: auto;
        outline: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    #NotesGroup {
        -moz-box-shadow: 0 0 5px #888;
        -webkit-box-shadow: 0 0 5px#888;
        box-shadow: 0 0 5px #888;
        padding: 10px;
    }
</style>

<div class="TabHolder">
    <table>

        <tr>
            <td>
                <ScrollViewer>
                    <table>
                        <tr class="TabTitleRow">
                            <td>{{'Opportunity.TH.General' | TextCodeTranslationPipe}}</td>
                        </tr>

                        <tr style="height: 1px;">
                            <td>
                                <table class="FixedTable">

                                    <!-- OpportunityTypeId -->
                                    <tr class="FormFieldRow">
                                        <td [style.width.px]="LabelWidth">
                                            <LogLabel [ObjectFieldName]="'OpportunityTypeId'" [DataContext]="DataContext" [ObjectTableName]="ObjectTableName"></LogLabel>
                                        </td>

                                        <td [style.width.px]="ControlWidth">
                                            <table>
                                                <tr *ngIf="ResetOpportunitiy">
                                                    <td>
                                                        <LogLov [ObjectFieldName]="'OpportunityTypeId'"
                                                                [ObjectTableName]="ObjectTableName"
                                                                [DataContext]="DataContext"
                                                                [LookUpTableName]="'OpportunityType'"
                                                                [SelectedValue]="OpportunityTypeId">
                                                        </LogLov>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>

                                        <td>
                                            <div></div>
                                        </td>
                                    </tr>

                                    <!-- Subject -->
                                    <tr class="FormFieldRow">
                                        <td [style.width.px]="LabelWidth">
                                            <LogLabel [ObjectFieldName]="'Subject'" [DataContext]="DataContext" [ObjectTableName]="ObjectTableName"></LogLabel>
                                        </td>

                                        <td colspan="2">
                                            <table>
                                                <tr>
                                                    <td style="width:640px">
                                                        <LogTextBox [ObjectFieldName]="'Subject'" [ObjectTableName]="ObjectTableName" [Text]="Subject" [InputType]="'ntext'" [DataContext]="DataContext"></LogTextBox>
                                                    </td>

                                                    <td>
                                                        <div></div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>

                                    <!-- CustomerId -->
                                    <tr class="FormFieldRow">
                                        <td>
                                            <LogLabel [ObjectFieldName]="'CustomerId'" [DataContext]="DataContext" [ObjectTableName]="ObjectTableName"></LogLabel>
                                        </td>

                                        <td colspan="2">
                                            <table>
                                                <tr>
                                                    <td style="width:640px">
                                                        <table>
                                                            <tr>
                                                                <td [style.width.px]="ControlWidth">
                                                                    <LogLov [ObjectFieldName]="'CustomerId'"
                                                                            [ObjectTableName]="ObjectTableName"
                                                                            [DataContext]="DataContext"
                                                                            [LookUpTableName]="'Card'"
                                                                            [SelectedValue]="CustomerId"
                                                                            [HideAddLink]="true"
                                                                            [HideAdd]="true"
                                                                            [HideEdit]="true"
                                                                            [RunToggleMode]="true">
                                                                    </LogLov>
                                                                </td>

                                                                <td>
                                                                    <div></div>
                                                                </td>

                                                                <td [style.width.px]="LabelWidth">
                                                                    <LogLabel [ObjectFieldName]="'EstimatedClosingDate'" [DataContext]="DataContext" [ObjectTableName]="ObjectTableName"></LogLabel>
                                                                </td>

                                                                <td [style.width.px]="ControlWidth">
                                                                    <LogDatePicker [ObjectFieldName]="'EstimatedClosingDate'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogDatePicker>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>

                                                    <td>
                                                        <div></div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>

                                    <!-- ContactId -->
                                    <tr class="FormFieldRow" *ngIf="ContactIdVisibility">
                                        <td [style.width.px]="LabelWidth">
                                            <LogLabel [ObjectFieldName]="'ContactId'" [DataContext]="DataContext" [ObjectTableName]="ObjectTableName"></LogLabel>
                                        </td>

                                        <td colspan="2">
                                            <table>
                                                <tr>
                                                    <td style="width:640px">
                                                        <table>
                                                            <tr>
                                                                <td [style.width.px]="ControlWidth">
                                                                    <LogLov [ObjectFieldName]="'ContactId'"
                                                                            [ObjectTableName]="ObjectTableName"
                                                                            [DataContext]="DataContext"
                                                                            [LookUpTableName]="'Contact'"
                                                                            [SelectedValue]="ContactId">
                                                                    </LogLov>
                                                                </td>

                                                                <td>
                                                                    <div></div>
                                                                </td>

                                                                <td [style.width.px]="LabelWidth">
                                                                    <LogLabel [ObjectFieldName]="'OwnerId'" [DataContext]="DataContext" [ObjectTableName]="ObjectTableName"></LogLabel>
                                                                </td>

                                                                <td [style.width.px]="ControlWidth">
                                                                    <LogLov [ObjectFieldName]="'OwnerId'"
                                                                            [ObjectTableName]="ObjectTableName"
                                                                            [DataContext]="DataContext"
                                                                            [LookUpTableName]="'User'"
                                                                            [SelectedValue]="OwnerId">
                                                                    </LogLov>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>

                                                    <td>
                                                        <div></div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>

                                </table>
                            </td>
                        </tr>

                        <!-- Lead Details -->
                        <tr style="height: 1px;">
                            <td>
                                <table>
                                    <tr class="TabTitleRow">
                                        <td>Lead Details</td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <table>

                                                <!-- LeadSourceId -->
                                                <tr class="FormFieldRow" *ngIf="LeadSourceIdVisibility">
                                                    <td [style.width.px]="LabelWidth">
                                                        <LogLabel [ObjectFieldName]="'LeadSourceId'" [DataContext]="DataContext" [ObjectTableName]="ObjectTableName"></LogLabel>
                                                    </td>
                                                    <td [style.width.px]="ControlWidth">
                                                        <LogLov [ObjectFieldName]="'LeadSourceId'"
                                                                [ObjectTableName]="ObjectTableName"
                                                                [DataContext]="DataContext"
                                                                [LookUpTableName]="'LeadSource'"
                                                                [SelectedValue]="LeadSourceId">
                                                        </LogLov>
                                                    </td>
                                                    <td>
                                                        <div></div>
                                                    </td>
                                                </tr>

                                                <!-- LeadDescription -->
                                                <tr class="FormFieldRow" *ngIf="LeadDescriptionVisibility">
                                                    <td [style.width.px]="LabelWidth">
                                                        <LogLabel [ObjectFieldName]="'LeadDescription'" [DataContext]="DataContext" [ObjectTableName]="ObjectTableName"></LogLabel>
                                                    </td>
                                                    <td [style.width.px]="ControlWidth">
                                                        <LogTextBox [ObjectFieldName]="'LeadDescription'" [ObjectTableName]="ObjectTableName" [InputType]="'ntext'" [DataContext]="DataContext"></LogTextBox>
                                                    </td>
                                                    <td>
                                                        <div></div>
                                                    </td>
                                                </tr>

                                                <!-- LeadUserId -->
                                                <tr class="FormFieldRow" *ngIf="LeadUserIdVisibility">
                                                    <td [style.width.px]="LabelWidth">
                                                        <LogLabel [ObjectFieldName]="'LeadUserId'" [DataContext]="DataContext" [ObjectTableName]="ObjectTableName"></LogLabel>
                                                    </td>
                                                    <td [style.width.px]="ControlWidth">
                                                        <LogLov [ObjectFieldName]="'LeadUserId'"
                                                                [ObjectTableName]="ObjectTableName"
                                                                [DataContext]="DataContext"
                                                                [LookUpTableName]="'User'"
                                                                [SelectedValue]="LeadUserId">
                                                        </LogLov>
                                                    </td>
                                                    <td>
                                                        <div></div>
                                                    </td>
                                                </tr>

                                                <!-- LeadPartnerId -->
                                                <tr class="FormFieldRow" *ngIf="LeadPartnerIdVisibility">
                                                    <td [style.width.px]="LabelWidth">
                                                        <LogLabel [ObjectFieldName]="'LeadPartnerId'" [DataContext]="DataContext" [ObjectTableName]="ObjectTableName"></LogLabel>
                                                    </td>
                                                    <td [style.width.px]="ControlWidth">
                                                        <LogLov [ObjectFieldName]="'LeadPartnerId'"
                                                                [ObjectTableName]="ObjectTableName"
                                                                [DataContext]="DataContext"
                                                                [LookUpTableName]="'Card'"
                                                                [SelectedValue]="LeadPartnerId"
                                                                [HideAddLink]="true"
                                                                [HideAdd]="true">
                                                        </LogLov>
                                                    </td>
                                                    <td>
                                                        <div></div>
                                                    </td>
                                                </tr>

                                                <!-- AgentId -->
                                                <tr class="FormFieldRow" *ngIf="AgentIdVisibility">
                                                    <td [style.width.px]="LabelWidth">
                                                        <LogLabel [ObjectFieldName]="'AgentId'" [DataContext]="DataContext" [ObjectTableName]="ObjectTableName"></LogLabel>
                                                    </td>
                                                    <td [style.width.px]="ControlWidth">
                                                        <LogLov [ObjectFieldName]="'AgentId'"
                                                                [ObjectTableName]="ObjectTableName"
                                                                [DataContext]="DataContext"
                                                                [LookUpTableName]="'Card'"
                                                                [SelectedValue]="AgentId">
                                                        </LogLov>
                                                    </td>
                                                    <td>
                                                        <div></div>
                                                    </td>
                                                </tr>

                                                <!-- ForeignClientId -->
                                                <tr class="FormFieldRow" *ngIf="ForeignClientIdVisibility">
                                                    <td [style.width.px]="LabelWidth">
                                                        <LogLabel [ObjectFieldName]="'ForeignClientId'" [DataContext]="DataContext" [ObjectTableName]="ObjectTableName"></LogLabel>
                                                    </td>
                                                    <td [style.width.px]="ControlWidth">
                                                        <LogLov [ObjectFieldName]="'ForeignClientId'"
                                                                [ObjectTableName]="ObjectTableName"
                                                                [DataContext]="DataContext"
                                                                [LookUpTableName]="'Card'"
                                                                [SelectedValue]="ForeignClientId">
                                                        </LogLov>
                                                    </td>
                                                    <td>
                                                        <div></div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <!-- Additional Fields -->
                        <tr>
                            <td>
                                <table>
                                    <tr class="TabTitleRow">
                                        <td>Additional Fields</td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="MediaFill">
                                                <div class="LocationDirective" #Child></div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </ScrollViewer>
            </td>
        </tr>



    </table>
</div>
