--
-- Script generated by Schema Compare for Oracle 3.1.5.1321 on 03/05/2016 16:40:22
--
SET DEFINE OFF

ALTER TABLE shipmentmasterdatas ADD (maincarriagefinaldesteta TIMESTAMP(7),maincarriagefinaldestata TIMESTAMP(7),departurearrivalfromdate TIMESTAMP(7),departurearrivaltodate TIMESTAMP(7),statuslocation NVARCHAR2(40));

CREATE TABLE entitychangesautomations (
  "ID" VARCHAR2(15 CHAR) NOT NULL,
  entitychangesid VARCHAR2(15 CHAR) NOT NULL,
  automationsid VARCHAR2(15 CHAR) NOT NULL,
  isconditiontrue NUMBER(1) NOT NULL,
  comunicationlogid VARCHAR2(15 CHAR),
  PRIMARY KEY ("ID")
);

ALTER TABLE cards ADD (irsplace VARCHAR2(60 CHAR),irsnumber VARCHAR2(60 CHAR));

CREATE TABLE escalationactiontimeindicators (
  code VARCHAR2(2 CHAR) NOT NULL,
  "NAME" VARCHAR2(20 CHAR),
  searchfields NVARCHAR2(1000),
  PRIMARY KEY (code)
);

ALTER TABLE objecttables ADD (clientmodulename VARCHAR2(60 CHAR),servermodulename VARCHAR2(60 CHAR),hascustomvalidator NUMBER(1) DEFAULT 0 NOT NULL);

ALTER TABLE authenticationtokens ADD (apitoken NUMBER(1) DEFAULT 0 NOT NULL);

ALTER TABLE quotes ADD (teu NUMBER,movetypeid VARCHAR2(15 CHAR));

ALTER TABLE quotes ADD CONSTRAINT fk_quotes_movetypes_movetypeid FOREIGN KEY (movetypeid) REFERENCES movetypes ("ID");

ALTER TABLE customers ADD (logboxactivated NUMBER(1) DEFAULT 0 NOT NULL);

CREATE TABLE glaccounttypes (
  code VARCHAR2(1 CHAR) NOT NULL,
  localname NVARCHAR2(30),
  englishname VARCHAR2(60 CHAR) NOT NULL,
  "INACTIVE" NUMBER(1),
  PRIMARY KEY (code)
);

ALTER TABLE documentsfilings ADD (securityid VARCHAR2(60 CHAR),customertenantnumber NUMBER(10));

ALTER TABLE documentsfilings MODIFY (signerslist NVARCHAR2(256));

ALTER TABLE correspondences ADD (ccs VARCHAR2(500 CHAR),bcc VARCHAR2(500 CHAR),notifyme NUMBER(1) DEFAULT 0 NOT NULL,notifyowner NUMBER(1) DEFAULT 0 NOT NULL,internalusers VARCHAR2(500 CHAR),direction VARCHAR2(1 CHAR));

ALTER TABLE objectfields ADD (allowedinautomationconditions NUMBER(1) DEFAULT 0 NOT NULL,automationemailrecipient NUMBER(1) DEFAULT 0 NOT NULL,htmlheadercomponenturl VARCHAR2(256 CHAR),htmllistcomponenturl VARCHAR2(256 CHAR),htmlheadercomponentname VARCHAR2(100 CHAR),htmllistcomponentname VARCHAR2(100 CHAR));

CREATE TABLE periodtypes (
  code VARCHAR2(1 CHAR) NOT NULL,
  englishname VARCHAR2(30 CHAR) NOT NULL,
  localname NVARCHAR2(50),
  searchfields NVARCHAR2(200),
  "INACTIVE" NUMBER(1),
  PRIMARY KEY (code)
);

ALTER TABLE supplierinvoiceitemsprodidents MODIFY (identification VARCHAR2(35 CHAR));

ALTER TABLE traceevents ADD ("LOCATION" NVARCHAR2(40));

ALTER TABLE claims ADD (accountbranchcode VARCHAR2(6 CHAR),customsfiles VARCHAR2(30 CHAR));

ALTER TABLE claims ADD CONSTRAINT fk_1931380071 FOREIGN KEY (accountbranchcode) REFERENCES customsbranches ("ID");

ALTER TABLE ticketclassifications ADD (escalationuserid VARCHAR2(15 CHAR));

ALTER TABLE ticketclassifications ADD CONSTRAINT fk_270676564 FOREIGN KEY (escalationuserid) REFERENCES "USERS" ("ID");

CREATE TABLE apilogs (
  "ID" VARCHAR2(15 CHAR) NOT NULL,
  tenant NUMBER(10) NOT NULL,
  direction VARCHAR2(1 CHAR) NOT NULL,
  status VARCHAR2(1 CHAR) NOT NULL,
  createdate TIMESTAMP(7) NOT NULL,
  createdateutc TIMESTAMP(7) NOT NULL,
  lastupdatedate TIMESTAMP(7) NOT NULL,
  lastupdatedateutc TIMESTAMP(7) NOT NULL,
  numberofretries NUMBER(10) NOT NULL,
  expirationdate TIMESTAMP(7) NOT NULL,
  subject VARCHAR2(100 CHAR),
  entityid VARCHAR2(40 CHAR),
  objecttableid VARCHAR2(15 CHAR),
  partnername VARCHAR2(100 CHAR),
  refrence VARCHAR2(15 CHAR),
  searchfields NVARCHAR2(1000),
  lastexceptionmessage NVARCHAR2(250),
  correlationid VARCHAR2(64 CHAR),
  batchnumber VARCHAR2(15 CHAR),
  queuetype VARCHAR2(100 CHAR),
  queuemessage VARCHAR2(400 CHAR),
  queuemessagemoredetailsid VARCHAR2(15 CHAR),
  customerid VARCHAR2(15 CHAR),
  PRIMARY KEY ("ID")
);

ALTER TABLE awbmessagingstocks ADD (totalprice NUMBER);

CREATE TABLE queuemessagemoredetails (
  "ID" NUMBER(18) NOT NULL,
  queuedefinitioncode VARCHAR2(265 CHAR),
  createdatetime TIMESTAMP(7) NOT NULL,
  status NUMBER(10) NOT NULL,
  messagebody NCLOB,
  nextrundatetime TIMESTAMP(7) NOT NULL,
  processingdatetime TIMESTAMP(7),
  completedatetime TIMESTAMP(7),
  retrynumber NUMBER(10) NOT NULL,
  field1 NCLOB,
  field2 NCLOB,
  field3 NCLOB,
  PRIMARY KEY ("ID")
);

CREATE TABLE blobfiles (
  "ID" VARCHAR2(15 CHAR) NOT NULL,
  "BLOB" BLOB,
  iscompressed NUMBER(1) NOT NULL,
  PRIMARY KEY ("ID")
);

ALTER TABLE objecttabletabs ADD (htmlcomponentname VARCHAR2(100 CHAR),htmlcomponenturl VARCHAR2(256 CHAR));

ALTER TABLE shipmentcomputedfields ADD (lastdocumentdatetime TIMESTAMP(7) DEFAULT TO_DATE('0001-01-01', 'yyyy-mm-dd') NOT NULL,missingdocumentscount NUMBER(10) DEFAULT 0 NOT NULL,missingdocumentsnames NCLOB);

---The column(s) "ID" on table hybridtenantthresholds will be dropped. Any data in the columns will be lost.
ALTER TABLE hybridtenantthresholds DROP ("ID");

ALTER TABLE hybridtenantthresholds ADD CONSTRAINT pk_hybridtenantthresholds PRIMARY KEY (tenant);

ALTER TABLE hybridpartners ADD (smalllogoid VARCHAR2(15 CHAR));

ALTER TABLE hybridpartners ADD CONSTRAINT fk_n1722795211 FOREIGN KEY (smalllogoid) REFERENCES imagedetails ("ID");

ALTER TABLE querygroups MODIFY ("NAME" VARCHAR2(80 CHAR));

ALTER TABLE customsrequestssheets ADD (analyzedcaaggregatekey VARCHAR2(128 CHAR));

CREATE TABLE userlicenses (
  "ID" VARCHAR2(15 CHAR) NOT NULL,
  tenant NUMBER(10) NOT NULL,
  userid VARCHAR2(15 CHAR) NOT NULL,
  packagecode VARCHAR2(4 CHAR) NOT NULL,
  PRIMARY KEY ("ID"),
  CONSTRAINT fk_userlicenses_users_userid FOREIGN KEY (userid) REFERENCES "USERS" ("ID"),
  CONSTRAINT fk_1730615275 FOREIGN KEY (packagecode) REFERENCES "PACKAGES" (code)
);

CREATE TABLE journalactiontypes (
  "ID" VARCHAR2(15 CHAR) NOT NULL,
  tenant NUMBER(10) NOT NULL,
  code VARCHAR2(1 CHAR) NOT NULL,
  localname NVARCHAR2(30),
  englishname VARCHAR2(60 CHAR) NOT NULL,
  searchfields NVARCHAR2(200),
  "INACTIVE" NUMBER(1),
  PRIMARY KEY ("ID")
);

CREATE TABLE entitychanges (
  "ID" VARCHAR2(15 CHAR) NOT NULL,
  tenant NUMBER(10) NOT NULL,
  objecttableid VARCHAR2(15 CHAR) NOT NULL,
  entityid VARCHAR2(15 CHAR) NOT NULL,
  createdate TIMESTAMP(7),
  createbyuserid VARCHAR2(15 CHAR) NOT NULL,
  oldentity NCLOB,
  currententity NCLOB,
  checkstartdate TIMESTAMP(7),
  donedate TIMESTAMP(7),
  hasexecutedrecord NUMBER(1) NOT NULL,
  PRIMARY KEY ("ID")
);

CREATE TABLE vatformattype (
  code VARCHAR2(3 CHAR) NOT NULL,
  "NAME" VARCHAR2(60 CHAR) NOT NULL,
  vieworder NUMBER(10) NOT NULL,
  searchfields NVARCHAR2(1000),
  PRIMARY KEY (code)
);

ALTER TABLE tenants ADD (allowagentinshipcustomerslov NUMBER(1) DEFAULT 0 NOT NULL,ispotentialtelrequired NUMBER(1) DEFAULT 0 NOT NULL,ispotentialfaxrequired NUMBER(1) DEFAULT 0 NOT NULL,vatformattypecode VARCHAR2(3 CHAR),vatformatcountryid VARCHAR2(15 CHAR),isnumeric NUMBER(1) DEFAULT 0 NOT NULL,vatsize NUMBER(10),logboxadminuserid VARCHAR2(15 CHAR));

ALTER TABLE tenants ADD CONSTRAINT fk_n979567748 FOREIGN KEY (vatformattypecode) REFERENCES vatformattype (code);

ALTER TABLE tenants ADD CONSTRAINT fk_2074278671 FOREIGN KEY (vatformatcountryid) REFERENCES countries ("ID");

ALTER TABLE tenants ADD CONSTRAINT fk_370193522 FOREIGN KEY (logboxadminuserid) REFERENCES contacts ("ID");

CREATE TABLE accountingentities (
  code VARCHAR2(5 CHAR) NOT NULL,
  localname NVARCHAR2(30),
  englishname VARCHAR2(60 CHAR) NOT NULL,
  PRIMARY KEY (code)
);

ALTER TABLE employeegrouplines ADD (isdefaultowner NUMBER(1) DEFAULT 0 NOT NULL);

CREATE TABLE automaticreconciles (
  code VARCHAR2(15 CHAR) NOT NULL,
  englishname VARCHAR2(60 CHAR) NOT NULL,
  localname NVARCHAR2(60),
  searchfields NVARCHAR2(200),
  "INACTIVE" NUMBER(1),
  PRIMARY KEY (code)
);

CREATE TABLE glaccounts (
  "ID" VARCHAR2(15 CHAR) NOT NULL,
  tenant NUMBER(10) NOT NULL,
  internalnumber VARCHAR2(15 CHAR),
  accounttypecode VARCHAR2(1 CHAR),
  displaynumber VARCHAR2(15 CHAR) NOT NULL,
  localname NVARCHAR2(200),
  englishname VARCHAR2(60 CHAR) NOT NULL,
  searchfields NVARCHAR2(2000),
  ismulticurrency NUMBER(1),
  currencyid VARCHAR2(15 CHAR),
  revenueexpensetype VARCHAR2(1 CHAR) NOT NULL,
  iscontrolaccount NUMBER(1),
  chartofaccountsid VARCHAR2(15 CHAR) NOT NULL,
  "INACTIVE" NUMBER(1),
  chartofaccountstypecode VARCHAR2(1 CHAR) NOT NULL,
  reconcilemethodcode VARCHAR2(15 CHAR) NOT NULL,
  controlaccountid VARCHAR2(15 CHAR),
  automaticreconcileid VARCHAR2(15 CHAR),
  previousenglishname VARCHAR2(60 CHAR),
  previousenglishnamechangedate TIMESTAMP(7),
  previouslocalname NVARCHAR2(200),
  previouslocalnamechangedate TIMESTAMP(7),
  previousnumber VARCHAR2(15 CHAR),
  previousnumberchangedate TIMESTAMP(7),
  previouschartofaccountsid VARCHAR2(15 CHAR),
  previouschartofaccountschanged TIMESTAMP(7),
  clientid VARCHAR2(15 CHAR),
  vendorid VARCHAR2(15 CHAR),
  PRIMARY KEY ("ID")
);

ALTER TABLE airlines ADD (registrationnotes NVARCHAR2(500),champregistrationrequested NUMBER(1) DEFAULT 0 NOT NULL,glshkregistrationrequested NUMBER(1) DEFAULT 0 NOT NULL,hasadaptations NUMBER(1) DEFAULT 0 NOT NULL,icao VARCHAR2(3 CHAR),registrationupdatedby VARCHAR2(60 CHAR),ismanagingproduct NUMBER(1) DEFAULT 0 NOT NULL,isproductmandatory NUMBER(1) DEFAULT 0 NOT NULL,isdescriptionofgoodsfromlist NUMBER(1) DEFAULT 0 NOT NULL);

ALTER TABLE supplierinvoiceitemsserialnums MODIFY (serialnumber VARCHAR2(35 CHAR));

CREATE TABLE automationconditions (
  "ID" VARCHAR2(15 CHAR) NOT NULL,
  tenant NUMBER(10) NOT NULL,
  automationsid VARCHAR2(15 CHAR) NOT NULL,
  objectfieldid VARCHAR2(15 CHAR) NOT NULL,
  operatorcode NVARCHAR2(30) NOT NULL,
  "VALUE" NVARCHAR2(250) NOT NULL,
  conditiontype VARCHAR2(5 CHAR) NOT NULL,
  createdate TIMESTAMP(7),
  updatedate TIMESTAMP(7),
  createdbyuserid VARCHAR2(15 CHAR) NOT NULL,
  updatedbyuserid VARCHAR2(15 CHAR),
  PRIMARY KEY ("ID")
);

ALTER TABLE followups MODIFY (notes NVARCHAR2(1000));

ALTER TABLE ffrstatus MODIFY ("NAME" VARCHAR2(60 CHAR));

CREATE TABLE automaticreconcilemethods (
  "ID" VARCHAR2(15 CHAR) NOT NULL,
  tenant NUMBER(10) NOT NULL,
  code VARCHAR2(15 CHAR) NOT NULL,
  automaticreconcile1 VARCHAR2(15 CHAR) NOT NULL,
  automaticreconcile2 VARCHAR2(15 CHAR),
  automaticreconcile3 VARCHAR2(15 CHAR),
  PRIMARY KEY ("ID")
);

ALTER TABLE shipmentreceivables MODIFY (duetypecode NULL);

ALTER TABLE insideshipmentpackages MODIFY (description VARCHAR2(500 CHAR));

CREATE TABLE glaccountbalancesbyyear (
  accountid VARCHAR2(15 CHAR) NOT NULL,
  "YEAR" NUMBER(10) NOT NULL,
  currencyid VARCHAR2(15 CHAR) NOT NULL,
  tenant NUMBER(10) NOT NULL,
  localamount NUMBER(16,2) NOT NULL,
  foreignamount NUMBER(16,2),
  PRIMARY KEY (accountid,"YEAR",currencyid)
);

ALTER TABLE documents MODIFY (filesize NUMBER);

CREATE TABLE generallocks (
  generalkey NVARCHAR2(128) NOT NULL,
  tenant NUMBER(10) NOT NULL,
  createdat TIMESTAMP(7) NOT NULL,
  PRIMARY KEY (generalkey,tenant)
);

CREATE TABLE slaescalations (
  "ID" VARCHAR2(15 CHAR) NOT NULL,
  tenant NUMBER(10) NOT NULL,
  slaheaderid VARCHAR2(15 CHAR) NOT NULL,
  linenumber NUMBER(10) NOT NULL,
  escalationfor VARCHAR2(2 CHAR) NOT NULL,
  escalationactiontimeindicator VARCHAR2(2 CHAR) NOT NULL,
  escalationtime NUMBER(10),
  escalationtimeunit VARCHAR2(2 CHAR),
  escalaitontimeinminutes NUMBER(10),
  PRIMARY KEY ("ID"),
  CONSTRAINT fk_n1721482000 FOREIGN KEY (escalationactiontimeindicator) REFERENCES escalationactiontimeindicators (code),
  CONSTRAINT fk_n299308006 FOREIGN KEY (escalationtimeunit) REFERENCES timeunits (code),
  CONSTRAINT fk_1368650292 FOREIGN KEY (slaheaderid) REFERENCES slaheaders ("ID")
);

ALTER TABLE inboundemaillines ADD (fullbody NCLOB,internalusers VARCHAR2(500 CHAR));

ALTER TABLE inboundemaillines MODIFY (sender NVARCHAR2(100),recepient NVARCHAR2(100));

ALTER TABLE customdocumenttypemetadata ADD ("INACTIVE" NUMBER(1) DEFAULT 0 NOT NULL);


---Severity: Medium
---Object: tickets
---Title: ColumnRename
---The following column(s) on table tickets will be renamed: classificationid to mainclassificationid. If this is a false positive, turn the "Detect renamed columns" option off in the project options and rerun the comparison.

ALTER TABLE tickets RENAME COLUMN classificationid to mainclassificationid;

ALTER TABLE tickets ADD (ticketdescription NCLOB DEFAULT EMPTY_CLOB() NOT NULL,guidid VARCHAR2(22 CHAR),openescalation NUMBER(10) DEFAULT 0 NOT NULL,internalusers VARCHAR2(500 CHAR),closuredescription NVARCHAR2(1000),closewithoutnotifying NUMBER(1) DEFAULT 0 NOT NULL,secondaryclassificationid VARCHAR2(50 CHAR),shipmentid VARCHAR2(15 CHAR),shipmentnumber VARCHAR2(15 CHAR),firstresolvedate TIMESTAMP(7));

ALTER TABLE tickets MODIFY (companyid NULL);

ALTER TABLE tickets ADD CONSTRAINT fk_n634211338 FOREIGN KEY (secondaryclassificationid) REFERENCES ticketclassifications ("ID");

ALTER TABLE supplierinvoiceitems ADD (isused NUMBER(1) DEFAULT 0 NOT NULL);

CREATE TABLE ticketescalations (
  "ID" VARCHAR2(15 CHAR) NOT NULL,
  tenant NUMBER(10) NOT NULL,
  createdate TIMESTAMP(7) NOT NULL,
  ticketid VARCHAR2(15 CHAR) NOT NULL,
  linenumber NUMBER(10) NOT NULL,
  escalationfor VARCHAR2(2 CHAR) NOT NULL,
  recepients VARCHAR2(4000 CHAR),
  isdone NUMBER(1) NOT NULL,
  isslaviolated NUMBER(1) NOT NULL,
  duedate TIMESTAMP(7),
  donedate TIMESTAMP(7),
  updatedate TIMESTAMP(7) NOT NULL,
  PRIMARY KEY ("ID")
);

CREATE TABLE awbdescriptionofgoods (
  "ID" VARCHAR2(15 CHAR) NOT NULL,
  "NAME" VARCHAR2(60 CHAR) NOT NULL,
  shortdescriptionofgoods VARCHAR2(100 CHAR),
  airlinecode VARCHAR2(2 CHAR),
  productcode VARCHAR2(4 CHAR),
  searchfields NVARCHAR2(1000),
  service VARCHAR2(40 CHAR),
  PRIMARY KEY ("ID")
);

ALTER TABLE shipments ADD (customconnecttoshipment NUMBER(1) DEFAULT 0 NOT NULL,statuslocation NVARCHAR2(40),cancelleddate TIMESTAMP(7),foreignpartnercountrycode VARCHAR2(2 CHAR),numberoffollowups NUMBER(10),forwarderpartnerid VARCHAR2(15 CHAR),operationalclosedate TIMESTAMP(7),accountingclosedate TIMESTAMP(7),lastsentbyuserid VARCHAR2(15 CHAR),customertenantnumber NUMBER(10));

ALTER TABLE shipments MODIFY (exceptiondescription NVARCHAR2(250));

ALTER TABLE shipments ADD CONSTRAINT fk_n1648749943 FOREIGN KEY (forwarderpartnerid) REFERENCES hybridpartners ("ID");

ALTER TABLE shipments ADD CONSTRAINT fk_2065324418 FOREIGN KEY (lastsentbyuserid) REFERENCES "USERS" ("ID");

CREATE TABLE notificationreplies (
  notificationid VARCHAR2(15 CHAR) NOT NULL,
  line NUMBER(10) NOT NULL,
  tenant NUMBER(10) NOT NULL,
  responsetocustoms VARCHAR2(512 CHAR),
  repliedbyuserid VARCHAR2(15 CHAR),
  replydatetime TIMESTAMP(7),
  PRIMARY KEY (notificationid,line)
);

CREATE TABLE tenantaddons (
  "ID" VARCHAR2(15 CHAR) NOT NULL,
  tenant NUMBER(10) NOT NULL,
  packagecode VARCHAR2(4 CHAR) NOT NULL,
  PRIMARY KEY ("ID"),
  CONSTRAINT fk_n351866753 FOREIGN KEY (packagecode) REFERENCES "PACKAGES" (code)
);

CREATE TABLE correspondencesattachments (
  "ID" VARCHAR2(15 CHAR) NOT NULL,
  tenant NUMBER(10) NOT NULL,
  documentfilingid VARCHAR2(40 CHAR) NOT NULL,
  correspondenceid VARCHAR2(15 CHAR) NOT NULL,
  PRIMARY KEY ("ID")
);

CREATE TABLE journalstatustypes (
  journalstatusid VARCHAR2(3 CHAR) NOT NULL,
  englishname VARCHAR2(20 CHAR) NOT NULL,
  localname NVARCHAR2(10),
  searchfields NVARCHAR2(200),
  "INACTIVE" NUMBER(1),
  PRIMARY KEY (journalstatusid)
);

CREATE TABLE featurepackagetypes (
  code VARCHAR2(2 CHAR) NOT NULL,
  "NAME" VARCHAR2(10 CHAR) NOT NULL,
  searchfields NVARCHAR2(1000),
  PRIMARY KEY (code)
);

ALTER TABLE apinvoices ADD (approveddate TIMESTAMP(7),approvedbyuserid VARCHAR2(15 CHAR));

ALTER TABLE apinvoices ADD CONSTRAINT fk_572344983 FOREIGN KEY (approvedbyuserid) REFERENCES "USERS" ("ID");

CREATE TABLE zzz_1 (
  col1 VARCHAR2(2 BYTE),
  col2 VARCHAR2(1 BYTE),
  col3 VARCHAR2(1 BYTE)
);

ALTER TABLE communicationlogs ADD (replytolist_ VARCHAR2(500 CHAR));

----Itzik : The column(s) tenantname on table communicationlogs will be dropped. Any data in the columns will be lost.
----ITZIK : IN ORIAN NO ROW WITH  : TENANTNAME IS NOT NULL
ALTER TABLE communicationlogs DROP (tenantname);

ALTER TABLE communicationlogs ADD CONSTRAINT fk_n2106616005 FOREIGN KEY (tenant) REFERENCES tenants ("ID");

CREATE TABLE ledgertransactions (
  journalid VARCHAR2(15 CHAR) NOT NULL,
  journallinenumber NUMBER(10) NOT NULL,
  "ID" VARCHAR2(15 CHAR) NOT NULL,
  tenant NUMBER(10) NOT NULL,
  createdate TIMESTAMP(7) NOT NULL,
  controlaccountid VARCHAR2(15 CHAR),
  accountid VARCHAR2(15 CHAR) NOT NULL,
  accountingdate TIMESTAMP(7) NOT NULL,
  documentdate TIMESTAMP(7) NOT NULL,
  duedate TIMESTAMP(7) NOT NULL,
  localamountdebit NUMBER(16,2) NOT NULL,
  localamountcredit NUMBER(16,2) NOT NULL,
  currencyid VARCHAR2(15 CHAR),
  foreignamountdebit NUMBER(16,2) NOT NULL,
  foreignamountcredit NUMBER(16,2) NOT NULL,
  exchangerate NUMBER(16,5) NOT NULL,
  reference1 VARCHAR2(30 CHAR),
  reference2 VARCHAR2(30 CHAR),
  reference3 VARCHAR2(30 CHAR),
  openamount NUMBER(16,2) NOT NULL,
  oppositeaccountid VARCHAR2(15 CHAR),
  searchfields NVARCHAR2(2000),
  openamountcurrencyid VARCHAR2(15 CHAR),
  notes NVARCHAR2(150),
  amounttoreconcile NUMBER(16,2) NOT NULL,
  mark NUMBER(1) NOT NULL,
  PRIMARY KEY ("ID")
);

CREATE TABLE logitudemessagestranslogs (
  "ID" VARCHAR2(15 CHAR) NOT NULL,
  tenant NUMBER(10) NOT NULL,
  sourcetenant NUMBER(10),
  ccs VARCHAR2(10 CHAR) NOT NULL,
  airlinecode VARCHAR2(2 CHAR) NOT NULL,
  messagetypecode VARCHAR2(3 CHAR) NOT NULL,
  prefix VARCHAR2(3 CHAR) NOT NULL,
  awbnumber VARCHAR2(20 CHAR),
  hawb VARCHAR2(20 CHAR),
  sentdate TIMESTAMP(7),
  participant VARCHAR2(60 CHAR),
  iatacode VARCHAR2(7 CHAR),
  casscode VARCHAR2(4 CHAR),
  username VARCHAR2(60 CHAR),
  origin VARCHAR2(3 CHAR),
  destination VARCHAR2(3 CHAR),
  pieces NUMBER(10),
  grossweight NUMBER(18,2),
  grossweightunitcode VARCHAR2(3 CHAR),
  chargeableweight NUMBER(18,2),
  chargeableweightunitcode VARCHAR2(3 CHAR),
  "VOLUME" NUMBER(18,2),
  volumeunitcode VARCHAR2(3 CHAR),
  descriptionofgoods VARCHAR2(512 CHAR),
  directparticipant VARCHAR2(60 CHAR),
  isupdatedinairlinetenant NUMBER(1) NOT NULL,
  searchfields NVARCHAR2(1000),
  PRIMARY KEY ("ID")
);

CREATE TABLE journals (
  "ID" VARCHAR2(15 CHAR) NOT NULL,
  tenant NUMBER(10) NOT NULL,
  journalnumber VARCHAR2(15 CHAR),
  createdate TIMESTAMP(7) NOT NULL,
  accountingdate TIMESTAMP(7) NOT NULL,
  typecode VARCHAR2(3 CHAR) NOT NULL,
  statuscode VARCHAR2(3 CHAR) NOT NULL,
  createdbyuserid VARCHAR2(15 CHAR) NOT NULL,
  accountingentitycode VARCHAR2(5 CHAR) NOT NULL,
  accountingentityid VARCHAR2(15 CHAR),
  externalno VARCHAR2(30 CHAR),
  updatedate TIMESTAMP(7),
  updatedbyuserid VARCHAR2(15 CHAR),
  approvedate TIMESTAMP(7),
  approvedbyuserid VARCHAR2(15 CHAR),
  searchfields NVARCHAR2(1000),
  accountingentityreference VARCHAR2(30 CHAR),
  originaljournalid VARCHAR2(15 CHAR),
  voidedbyuserid VARCHAR2(15 CHAR),
  voiddate TIMESTAMP(7),
  PRIMARY KEY ("ID")
);

CREATE TABLE apilogsdata (
  "ID" VARCHAR2(15 CHAR) NOT NULL,
  tenant NUMBER(10) NOT NULL,
  diagnosticlog NCLOB,
  requestdata NCLOB,
  responsedata NCLOB,
  exceptionsmessage NCLOB,
  PRIMARY KEY ("ID")
);

ALTER TABLE businesshours ADD (code VARCHAR2(3 CHAR),searchfields NVARCHAR2(1000));

CREATE TABLE accountingperiods (
  "ID" VARCHAR2(15 CHAR) NOT NULL,
  tenant NUMBER(10) NOT NULL,
  "YEAR" NUMBER(10) NOT NULL,
  periodtypecode VARCHAR2(1 CHAR) NOT NULL,
  openmonth NUMBER(10) NOT NULL,
  closedmonth NUMBER(10),
  PRIMARY KEY ("ID")
);

CREATE TABLE journaltypes (
  journaltypeid VARCHAR2(3 CHAR) NOT NULL,
  englishname VARCHAR2(60 CHAR) NOT NULL,
  localname NVARCHAR2(30),
  searchfields NVARCHAR2(200),
  "INACTIVE" NUMBER(1),
  PRIMARY KEY (journaltypeid)
);

ALTER TABLE features ADD (iscorefeature NUMBER(1) DEFAULT 0 NOT NULL);

ALTER TABLE features MODIFY (code VARCHAR2(80 CHAR));

ALTER TABLE activities ADD (sortingdate TIMESTAMP(7),sortingby VARCHAR2(60 CHAR),sendreceivedate TIMESTAMP(7));

CREATE TABLE reconcilemethods (
  code VARCHAR2(15 CHAR) NOT NULL,
  englishname VARCHAR2(30 CHAR) NOT NULL,
  localname NVARCHAR2(60),
  searchfields NVARCHAR2(200),
  "INACTIVE" NUMBER(1),
  PRIMARY KEY (code)
);


CREATE TABLE revenueexpensetypes (
  code VARCHAR2(1 CHAR) NOT NULL,
  localname NVARCHAR2(30),
  englishname VARCHAR2(60 CHAR) NOT NULL,
  "INACTIVE" NUMBER(1),
  PRIMARY KEY (code)
);

CREATE TABLE glaccounttotalsbymonth (
  accountid VARCHAR2(15 CHAR) NOT NULL,
  "YEAR" NUMBER(10) NOT NULL,
  "MONTH" NUMBER(10) NOT NULL,
  currencyid VARCHAR2(15 CHAR) NOT NULL,
  tenant NUMBER(10) NOT NULL,
  localamountdebit NUMBER(16,2) NOT NULL,
  localamountcredit NUMBER(16,2) NOT NULL,
  foreignamountdebit NUMBER(16,2),
  foreignamountcredit NUMBER(16,2),
  PRIMARY KEY (accountid,"YEAR","MONTH",currencyid)
);

ALTER TABLE arinvoices ADD (approveddate TIMESTAMP(7),approvedbyuserid VARCHAR2(15 CHAR));

ALTER TABLE arinvoices ADD CONSTRAINT fk_959349036 FOREIGN KEY (approvedbyuserid) REFERENCES "USERS" ("ID");

CREATE TABLE escalationpredefinitions (
  code VARCHAR2(2 CHAR) NOT NULL,
  "NAME" VARCHAR2(50 CHAR),
  searchfields NVARCHAR2(1000),
  PRIMARY KEY (code)
);
---The column(s) "ID" on table hybridtenantstates will be dropped. Any data in the columns will be lost.
---IN ORIAN NOW ROW !!
ALTER TABLE hybridtenantstates DROP ("ID");

ALTER TABLE hybridtenantstates ADD CONSTRAINT pk_hybridtenantstates PRIMARY KEY (tenant);

ALTER TABLE apinvoicelines ADD (vatamount NUMBER);

ALTER TABLE businesshoursholidays MODIFY (createdate NULL,updatedate NULL);

ALTER TABLE customscollateralsanswers ADD (isclosed NUMBER(1) DEFAULT 0 NOT NULL,requestedtapagnumeral VARCHAR2(3 CHAR),requestedtapagfile VARCHAR2(25 CHAR));

CREATE TABLE chartofaccounts (
  "ID" VARCHAR2(15 CHAR) NOT NULL,
  tenant NUMBER(10) NOT NULL,
  code VARCHAR2(5 CHAR) NOT NULL,
  localname NVARCHAR2(30),
  englishname VARCHAR2(60 CHAR) NOT NULL,
  parentid VARCHAR2(15 CHAR),
  typecode VARCHAR2(1 CHAR) NOT NULL,
  "INACTIVE" NUMBER(1),
  searchfields NVARCHAR2(200),
  PRIMARY KEY ("ID")
);

CREATE TABLE vendorcommissions (
  vendorid VARCHAR2(15 CHAR) NOT NULL,
  customerid VARCHAR2(15 CHAR) NOT NULL,
  commisionpercentage NUMBER(3),
  tenant NUMBER(10) NOT NULL,
  PRIMARY KEY (vendorid,customerid),
  CONSTRAINT fk_n76998866 FOREIGN KEY (vendorid) REFERENCES customsvendors ("ID"),
  CONSTRAINT fk_n776612632 FOREIGN KEY (customerid) REFERENCES customers ("ID")
);

ALTER TABLE contacts MODIFY (englishname VARCHAR2(60 CHAR),localname NVARCHAR2(100));

ALTER TABLE inboundemails ADD (isrejected NUMBER(1) DEFAULT 0 NOT NULL);

CREATE TABLE slaescalationrecepients (
  "ID" VARCHAR2(15 CHAR) NOT NULL,
  tenant NUMBER(10) NOT NULL,
  slaescalationid VARCHAR2(15 CHAR) NOT NULL,
  predefinitionid VARCHAR2(2 CHAR),
  userid VARCHAR2(15 CHAR),
  PRIMARY KEY ("ID"),
  CONSTRAINT fk_n219028103 FOREIGN KEY (slaescalationid) REFERENCES slaescalations ("ID"),
  CONSTRAINT fk_n781501382 FOREIGN KEY (userid) REFERENCES "USERS" ("ID"),
  CONSTRAINT fk_81124603 FOREIGN KEY (predefinitionid) REFERENCES escalationpredefinitions (code)
);

CREATE TABLE customertenantaccesscardbatchs (
  customerid VARCHAR2(15 CHAR) NOT NULL,
  customertenantaccessid VARCHAR2(15 CHAR) NOT NULL,
  batchnumber VARCHAR2(15 CHAR) NOT NULL,
  tenant NUMBER(10) NOT NULL,
  donedate TIMESTAMP(7),
  status VARCHAR2(15 CHAR) NOT NULL,
  createdatetime TIMESTAMP(7) NOT NULL,
  fromdatetime TIMESTAMP(7),
  todatetime TIMESTAMP(7),
  totalshipment NUMBER(10) NOT NULL,
  totalsucceeded NUMBER(10) NOT NULL,
  totalfailed NUMBER(10) NOT NULL,
  PRIMARY KEY (customerid,customertenantaccessid,batchnumber)
);

ALTER TABLE customertenantaccesscards ADD (tenant NUMBER(10) DEFAULT 0 NOT NULL);


---itzik : The column(s) hybridstartdate on table customertenantaccesscards will be dropped. Any data in the columns will be 
----IN ORIAN NO ROWS !!
ALTER TABLE customertenantaccesscards DROP (hybridstartdate);

---itzik ?!?!?!
---- upadate customertenantaccesscards set updatedatetime =sysdate where  updatedatetime is null ;;

--- commit ;


ALTER TABLE customertenantaccesscards MODIFY (updatedatetime NOT NULL);

CREATE TABLE oceaninsightsrequests (
  "ID" VARCHAR2(15 CHAR) NOT NULL,
  tenant NUMBER(10) NOT NULL,
  scaccode VARCHAR2(250 CHAR) NOT NULL,
  containernumber VARCHAR2(250 CHAR) NOT NULL,
  oceaninsigntid VARCHAR2(500 CHAR),
  createdate TIMESTAMP(7) NOT NULL,
  updatedate TIMESTAMP(7) NOT NULL,
  PRIMARY KEY ("ID")
);

CREATE TABLE chartofaccountstypes (
  code VARCHAR2(1 CHAR) NOT NULL,
  englishname VARCHAR2(60 CHAR) NOT NULL,
  localname NVARCHAR2(30),
  searchfields NVARCHAR2(200),
  "INACTIVE" NUMBER(1),
  PRIMARY KEY (code)
);

ALTER TABLE supplierinvioceitemcertificats ADD (sequencenumeric NUMBER(10) DEFAULT 0 NOT NULL);



CREATE TABLE reconciliations (
  "ID" VARCHAR2(15 CHAR) NOT NULL,
  tenant NUMBER(10) NOT NULL,
  accountid VARCHAR2(15 CHAR) NOT NULL,
  rnumber VARCHAR2(15 CHAR),
  createdate TIMESTAMP(7) NOT NULL,
  createdbyuserid VARCHAR2(15 CHAR) NOT NULL,
  searchfields NVARCHAR2(1000),
  PRIMARY KEY ("ID"),
  CONSTRAINT fk_45780658 FOREIGN KEY (accountid) REFERENCES glaccounts ("ID"),
  CONSTRAINT fk_585255992 FOREIGN KEY (createdbyuserid) REFERENCES "USERS" ("ID")
);

CREATE TABLE airlinestatistics (
  "ID" VARCHAR2(15 CHAR) NOT NULL,
  tenant NUMBER(10) NOT NULL,
  sourcetenant NUMBER(10) NOT NULL,
  sourcetenantname VARCHAR2(100 CHAR) NOT NULL,
  shipmentid VARCHAR2(15 CHAR),
  shipmentlevelcode VARCHAR2(1 CHAR),
  bookingid VARCHAR2(15 CHAR),
  entityreference VARCHAR2(20 CHAR) NOT NULL,
  awbnumber VARCHAR2(20 CHAR),
  hwbnumber VARCHAR2(20 CHAR),
  airlinecode VARCHAR2(3 CHAR) NOT NULL,
  createdate TIMESTAMP(7) NOT NULL,
  updatedate TIMESTAMP(7) NOT NULL,
  entitiycreatedate TIMESTAMP(7) NOT NULL,
  entitiyupdatedate TIMESTAMP(7) NOT NULL,
  entitycreatedbyusername VARCHAR2(60 CHAR) NOT NULL,
  messagetype VARCHAR2(3 CHAR) NOT NULL,
  lastsentdate TIMESTAMP(7),
  entitystatus VARCHAR2(40 CHAR),
  numberofpackages NUMBER(10),
  chargeableweight NUMBER(18,2),
  chargeableweightunitcode VARCHAR2(3 CHAR),
  grossweight NUMBER(18,2),
  grossweightunitcode VARCHAR2(3 CHAR),
  "VOLUME" NUMBER(18,2),
  volumeunitcode VARCHAR2(3 CHAR),
  origincode VARCHAR2(3 CHAR) NOT NULL,
  destinationcode VARCHAR2(3 CHAR) NOT NULL,
  descriptionofgoods VARCHAR2(512 CHAR),
  shippername VARCHAR2(70 CHAR),
  consigneename VARCHAR2(70 CHAR),
  flight1 VARCHAR2(15 CHAR),
  flight1date TIMESTAMP(7),
  flight2 VARCHAR2(15 CHAR),
  flight2date TIMESTAMP(7),
  flight3 VARCHAR2(15 CHAR),
  flight3date TIMESTAMP(7),
  oncarriageto VARCHAR2(3 CHAR),
  oncarriagedate TIMESTAMP(7),
  precarriagefrom VARCHAR2(3 CHAR),
  precarriagedate TIMESTAMP(7),
  allotment VARCHAR2(20 CHAR),
  searchfields NVARCHAR2(1000),
  iscancelled NUMBER(1) NOT NULL,
  airlineprefix VARCHAR2(4 CHAR),
  productname VARCHAR2(60 CHAR),
  sender VARCHAR2(60 CHAR),
  direct NUMBER(1) NOT NULL,
  PRIMARY KEY ("ID")
);

CREATE TABLE journallines (
  journalid VARCHAR2(15 CHAR) NOT NULL,
  line NUMBER(10) NOT NULL,
  tenant NUMBER(10) NOT NULL,
  actioncode VARCHAR2(15 CHAR),
  debitcontrolaccountid VARCHAR2(15 CHAR),
  debitaccountid VARCHAR2(15 CHAR),
  creditcontrolaccountid VARCHAR2(15 CHAR),
  creditaccountid VARCHAR2(15 CHAR),
  documentdate TIMESTAMP(7) NOT NULL,
  accountingdate TIMESTAMP(7) NOT NULL,
  duedate TIMESTAMP(7),
  localamount NUMBER(16,2),
  currencyid VARCHAR2(15 CHAR),
  foreignamount NUMBER(16,2),
  exchangerate NUMBER(16,5),
  reference1 VARCHAR2(30 CHAR),
  reference2 VARCHAR2(30 CHAR),
  reference3 VARCHAR2(30 CHAR),
  notes NVARCHAR2(60),
  PRIMARY KEY (journalid,line)
);

CREATE TABLE automationresultemailrecips (
  "ID" VARCHAR2(15 CHAR) NOT NULL,
  tenant NUMBER(10) NOT NULL,
  automationsid VARCHAR2(15 CHAR) NOT NULL,
  entitycontactvariable VARCHAR2(15 CHAR),
  userid VARCHAR2(15 CHAR),
  PRIMARY KEY ("ID")
);

ALTER TABLE claimsrelatedentities ADD (courtcode VARCHAR2(2 CHAR));

ALTER TABLE claimsrelatedentities MODIFY (customsexceptions NVARCHAR2(1000));

ALTER TABLE claimsrelatedentities ADD CONSTRAINT fk_n99814632 FOREIGN KEY (courtcode) REFERENCES courtinstances (code);

CREATE TABLE automations (
  "ID" VARCHAR2(15 CHAR) NOT NULL,
  tenant NUMBER(10) NOT NULL,
  "NAME" NVARCHAR2(100) NOT NULL,
  objecttableid VARCHAR2(15 CHAR) NOT NULL,
  templateid VARCHAR2(10 CHAR),
  "TYPE" VARCHAR2(10 CHAR) NOT NULL,
  resultcode VARCHAR2(20 CHAR) NOT NULL,
  description NVARCHAR2(250),
  "INACTIVE" NUMBER(1) NOT NULL,
  createdate TIMESTAMP(7),
  updatedate TIMESTAMP(7),
  createdbyuserid VARCHAR2(15 CHAR) NOT NULL,
  updatedbyuserid VARCHAR2(15 CHAR),
  PRIMARY KEY ("ID")
);

ALTER TABLE quotestages MODIFY (updatedbyuserid NULL);

ALTER TABLE documenttypetemplates ADD (templatebodyhtml BLOB,templatebodyjson BLOB);

ALTER TABLE bookings ADD (descriptionofgoodsid VARCHAR2(15 CHAR),concurrencyguid VARCHAR2(40 CHAR));

ALTER TABLE bookings ADD CONSTRAINT fk_895355814 FOREIGN KEY (descriptionofgoodsid) REFERENCES awbdescriptionofgoods ("ID");

CREATE TABLE participants (
  "ID" VARCHAR2(15 CHAR) NOT NULL,
  tenant NUMBER(10) NOT NULL,
  forwardertenant NUMBER(10) NOT NULL,
  tty VARCHAR2(7 CHAR),
  registered NUMBER(1) NOT NULL,
  registrationrequested NUMBER(1) NOT NULL,
  registrationupdatedby VARCHAR2(60 CHAR),
  isdirect NUMBER(1) NOT NULL,
  PRIMARY KEY ("ID")
);

CREATE TABLE oceaninsightsstatuses (
  "ID" VARCHAR2(15 CHAR) NOT NULL,
  tenant NUMBER(10) NOT NULL,
  oceaninsightsrequestid VARCHAR2(15 CHAR) NOT NULL,
  contentdocumentid VARCHAR2(15 CHAR) NOT NULL,
  communicationlogid VARCHAR2(15 CHAR) NOT NULL,
  createdate TIMESTAMP(7) NOT NULL,
  PRIMARY KEY ("ID")
);

CREATE TABLE reconciliationlines (
  reconciliationid VARCHAR2(15 CHAR) NOT NULL,
  line NUMBER(10) NOT NULL,
  tenant NUMBER(10) NOT NULL,
  currencyid VARCHAR2(15 CHAR) NOT NULL,
  transactionid VARCHAR2(15 CHAR) NOT NULL,
  reconciliationamount NUMBER(16,2) NOT NULL,
  ispartial NUMBER(1) NOT NULL,
  PRIMARY KEY (reconciliationid,line)
);

CREATE TABLE packageconnectedpackages (
  "ID" VARCHAR2(15 CHAR) NOT NULL,
  packagecode VARCHAR2(4 CHAR) NOT NULL,
  connectedpackagecode VARCHAR2(4 CHAR) NOT NULL,
  PRIMARY KEY ("ID")
);

--- table change to supplierinvoiceitemvehicleadds
--- IN ORIAN NO ROWS !!
--DROP TABLE supplierinvoiceitemvehiclesadd;

--CREATE TABLE supplierinvoiceitemvehicleadds (
--  declarationid VARCHAR2(15 CHAR) NOT NULL,
--  invoicecounterkey NUMBER(10) NOT NULL,
--  invoiceitemlinenumber NUMBER(10) NOT NULL,
--  linenumber NUMBER(10) NOT NULL,
--  vehiclemodel VARCHAR2(25 CHAR),
--  richbitnumber VARCHAR2(10 CHAR),
--  chassisnumber VARCHAR2(18 CHAR),
--  enginenumber VARCHAR2(20 CHAR),
--  vehiclevalue NUMBER(16,2),
--  chassistax NUMBER(16,2),
--  chassispurchasetax NUMBER(16,2),
--  chassisvat NUMBER(16,2),
--  exempt_type VARCHAR2(2 CHAR),
--  windownumber VARCHAR2(13 CHAR),
--  PRIMARY KEY (declarationid,invoicecounterkey,invoiceitemlinenumber,linenumber),
--  CONSTRAINT fk_n1276254385 FOREIGN KEY (declarationid,invoicecounterkey,invoiceitemlinenumber,linenumber) REFERENCES supplierinvoiceitemvehicles (declarationid,invoicecounterkey,invoiceitemlinenumber,linenumber)
--);

-- ITZIK 
ALTER TABLE SupplierInvoiceItemVehiclesAdd  RENAME TO SupplierInvoiceItemVehicleAdds ;


CREATE INDEX ix_journallines_debitaccountid ON journallines(debitaccountid);

CREATE INDEX ix_journals_statuscode ON journals(statuscode);

CREATE INDEX ix_tenants_vatformatcountryid ON tenants(vatformatcountryid);

CREATE INDEX ix_1238343798 ON reconciliationlines(transactionid);

CREATE INDEX ix_glaccounts_vendorid ON glaccounts(vendorid);

CREATE INDEX ix_n816291291 ON oceaninsightsstatuses(oceaninsightsrequestid);

CREATE INDEX ix_672583418 ON participants(forwardertenant);

CREATE INDEX ix_n1289730714 ON glaccounts(automaticreconcileid);

CREATE INDEX ix_n1662362307 ON slaescalationrecepients(predefinitionid);

CREATE INDEX ix_1985712362 ON journallines(creditaccountid);

CREATE INDEX ix_journals_createdbyuserid ON journals(createdbyuserid);

CREATE INDEX ix_n995318196 ON customertenantaccesscardbatchs(customertenantaccessid);

CREATE INDEX ix_813091036 ON ledgertransactions(oppositeaccountid);

CREATE INDEX customsrequestssheetsi2 ON customsrequestssheets(customfileno);

CREATE INDEX ix_n1207598544 ON glaccounts(previouschartofaccountsid);

CREATE INDEX ix_730412180 ON automationconditions(objectfieldid);

CREATE INDEX ix_1964644507 ON glaccounts(chartofaccountstypecode);

CREATE INDEX ix_687927063 ON airlinestatistics(shipmentlevelcode);

CREATE INDEX ix_n253469283 ON slaescalationrecepients(userid);

CREATE INDEX ix_tenantaddons_packagecode ON tenantaddons(packagecode);

CREATE INDEX ix_n1431510321 ON claimsrelatedentities(courtcode);

CREATE INDEX ix_n602077297 ON journals(accountingentitycode);

CREATE INDEX ix_1273844376 ON slaescalationrecepients(slaescalationid);

CREATE INDEX ix_vendorcommissions_vendorid ON vendorcommissions(vendorid);

CREATE INDEX ix_tenants_vatformattypecode ON tenants(vatformattypecode);

CREATE INDEX ix_1197006894 ON automationresultemailrecips(automationsid);

CREATE INDEX ix_146000098 ON glaccountbalancesbyyear(currencyid);

--move to end CREATE INDEX ix_1787863857 ON "PACKAGES"(featurepackagetypecode);

CREATE INDEX ix_n1297218044 ON journallines(creditcontrolaccountid);

CREATE INDEX ix_journals_originaljournalid ON journals(originaljournalid);

CREATE INDEX ix_communicationlogs_tenant ON communicationlogs(tenant);

CREATE INDEX ix_n2095118233 ON customertenantaccesscardbatchs(customerid);

CREATE INDEX ix_898613642 ON glaccounttotalsbymonth(accountid);

CREATE INDEX ix_n849382875 ON ledgertransactions(accountid);

CREATE INDEX ix_userlicenses_packagecode ON userlicenses(packagecode);

CREATE INDEX ix_n1659730989 ON oceaninsightsstatuses(communicationlogid);

CREATE INDEX ix_1867839947 ON reconciliationlines(currencyid);

CREATE INDEX ix_chartofaccounts_parentid ON chartofaccounts(parentid);

CREATE INDEX ix_1395981476 ON correspondencesattachments(documentfilingid);

CREATE INDEX ix_n1372788838 ON ledgertransactions(controlaccountid);

CREATE INDEX ix_n547167630 ON accountingperiods(periodtypecode);

CREATE INDEX ix_863072537 ON shipments(forwarderpartnerid);

CREATE INDEX ix_n74541587 ON journallines(debitcontrolaccountid);

CREATE INDEX ix_journals_voidedbyuserid ON journals(voidedbyuserid);

CREATE INDEX ix_n1881229641 ON slaescalations(escalationtimeunit);

CREATE INDEX ix_n1132446641 ON glaccounts(chartofaccountsid);

CREATE INDEX ix_arinvoices_approvedbyuserid ON arinvoices(approvedbyuserid);

CREATE INDEX ix_1428104379 ON glaccounttotalsbymonth(currencyid);

CREATE INDEX customsrequestssheetsi1 ON customsrequestssheets(entityid1);

CREATE INDEX ix_n412171837 ON slaescalations(escalationactiontimeindicator);

CREATE INDEX ix_68326772 ON reconciliationlines(reconciliationid);

CREATE INDEX ix_hybridpartners_smalllogoid ON hybridpartners(smalllogoid);

CREATE INDEX ix_675560697 ON packageconnectedpackages(packagecode);

CREATE INDEX ix_n1726539660 ON reconciliations(createdbyuserid);

CREATE INDEX ix_journallines_journalid ON journallines(journalid);

CREATE INDEX ix_slaescalations_slaheaderid ON slaescalations(slaheaderid);

CREATE INDEX ix_n119326688 ON glaccounts(reconcilemethodcode);

CREATE INDEX ix_702593025 ON glaccountbalancesbyyear(accountid);

CREATE INDEX ix_n192688320 ON ticketclassifications(escalationuserid);

CREATE INDEX ix_n2137183626 ON notificationreplies(notificationid);

CREATE INDEX ix_n316405060 ON ledgertransactions(currencyid);

CREATE INDEX ix_shipments_lastsentbyuserid ON shipments(lastsentbyuserid);

CREATE INDEX ix_n397610215 ON tickets(secondaryclassificationid);

CREATE INDEX ix_userlicenses_userid ON userlicenses(userid);

CREATE INDEX ix_glaccounts_controlaccountid ON glaccounts(controlaccountid);

CREATE INDEX ix_2132262282 ON packageconnectedpackages(connectedpackagecode);

CREATE INDEX ix_n800876501 ON ledgertransactions(openamountcurrencyid);

CREATE INDEX ix_journallines_actioncode ON journallines(actioncode);

CREATE INDEX ix_241277659 ON correspondencesattachments(correspondenceid);

CREATE INDEX ix_tenants_logboxadminuserid ON tenants(logboxadminuserid);

CREATE INDEX ix_chartofaccounts_typecode ON chartofaccounts(typecode);

CREATE INDEX ix_n1372191775 ON bookings(descriptionofgoodsid);

CREATE INDEX ix_glaccounts_clientid ON glaccounts(clientid);

CREATE INDEX ix_journals_updatedbyuserid ON journals(updatedbyuserid);

CREATE INDEX ix_claims_accountbranchcode ON claims(accountbranchcode);

CREATE INDEX ix_879382694 ON automaticreconcilemethods(automaticreconcile3);

CREATE INDEX ix_1600775826 ON notificationreplies(repliedbyuserid);

CREATE INDEX ix_375670955 ON oceaninsightsstatuses(contentdocumentid);

CREATE INDEX ix_journals_typecode ON journals(typecode);

CREATE INDEX ix_apinvoices_approvedbyuserid ON apinvoices(approvedbyuserid);

CREATE INDEX ix_glaccounts_accounttypecode ON glaccounts(accounttypecode);

CREATE INDEX ix_n1076932442 ON automaticreconcilemethods(automaticreconcile2);

CREATE INDEX ix_n1939282144 ON vendorcommissions(customerid);

CREATE INDEX ix_n724331763 ON queuemessagemoredetails(queuedefinitioncode);

CREATE INDEX ix_reconciliations_accountid ON reconciliations(accountid);

CREATE INDEX ix_n1704685419 ON glaccounts(revenueexpensetype);

CREATE INDEX ix_847220830 ON ledgertransactions(journalid,journallinenumber);

CREATE INDEX ix_876134226 ON automationconditions(automationsid);

CREATE INDEX ix_quotes_movetypeid ON quotes(movetypeid);

CREATE INDEX ix_journallines_currencyid ON journallines(currencyid);

CREATE INDEX ix_glaccounts_currencyid ON glaccounts(currencyid);

CREATE INDEX ix_journals_approvedbyuserid ON journals(approvedbyuserid);

CREATE INDEX ix_1261719718 ON automaticreconcilemethods(automaticreconcile1);



----itzik: TotalIncome its bad in aminetmain also ,  Error(10,12): PL/SQL: ORA-00904: "NAME": זיהוי לא תקף
CREATE OR REPLACE Function TotalIncome
   ( name_in IN varchar2 )
   RETURN varchar2
IS
   total_val number(6);

   cursor c1 is
     SELECT ID
     FROM DECLARATIONS
     WHERE name = name_in;

BEGIN

   total_val := 0;

   FOR employee_rec in c1
   LOOP
      total_val := total_val + employee_rec.monthly_income;
   END LOOP;

   RETURN total_val;

END;
/

CREATE OR REPLACE PROCEDURE USP_SSO(
    P_EMAIL    IN AUTHENTICATIONTOKENS.EMAIL%TYPE ,
    P_PASSHASH IN AUTHENTICATIONTOKENS.PASSWORD%TYPE ,
    P_TENANT   IN AUTHENTICATIONTOKENS.TENANT%TYPE ,
    P_TOKEN IN AUTHENTICATIONTOKENS.TOKEN%TYPE ,
    
    P_MOREPS_IN  IN VARCHAR2 ,
    P_MOREPS_OUT OUT VARCHAR2 ,
    P_STATUS OUT VARCHAR2 ,
    P_MESS OUT VARCHAR2 , 
    P_LOG OUT VARCHAR2 )
AS
  v_Current     NUMBER(10,0);
  v_LOGIN_EMAIL VARCHAR2(70) :='';
  --V_ TOKEN VARCHAR2(100):='';
BEGIN
  NULL; 
  
    P_MOREPS_OUT := '-1';
    P_STATUS := '-1';
    P_MESS := '-1';
    P_LOG := '-1';
  
  P_STATUS  := '-1';
  P_LOG            := 'STAR';
  
  IF P_EMAIL IS NULL THEN
    P_MESS         := 'v_LOGIN_EMAIL is null';
    RETURN;
  END IF;
  IF P_EMAIL ='' THEN
    P_MESS        := 'v_LOGIN_EMAIL is null';
    RETURN;
  END IF;
IF P_TOKEN ='' THEN
    P_MESS        := 'P_LOGIN_TOKEN is null';
    RETURN;
  END IF;
    IF P_TOKEN IS NULL THEN
    P_MESS        := 'P_LOGIN_TOKEN is null';
    RETURN;
  END IF;
  
  
  --V_ TOKEN := SYS_GUID(); GET 3C0D01FB87B74D228B29D4D37552C5E9  LENGTH =32 
  --CREATE TABLE "LOGITUDE_MAIN"."AUTHENTICATIONTOKENS"
--- ( "TOKEN" VARCHAR2(100 CHAR) NOT NULL ENABLE,
--"TENANT" NUMBER(10,0) NOT NULL ENABLE,
--"EMAIL" VARCHAR2(70 CHAR) NOT NULL ENABLE,
--"PASSWORD" VARCHAR2(40 CHAR) NOT NULL ENABLE,
--"CREATEDATE" TIMESTAMP (7) NOT NULL ENABLE,
 
  INSERT INTO AUTHENTICATIONTOKENS  (TOKEN, TENANT, EMAIL, PASSWORD , CREATEDATE)    VALUES (  P_TOKEN, P_TENANT   ,  P_EMAIL    ,P_PASSHASH ,SYSDATE );
   
   commit;
  P_STATUS  := '0';    
EXCEPTION

 WHEN OTHERS THEN
 P_MESS:= 'LOGITUDE_MAIN SP_SSO Error: ' || SQLERRM;
 P_STATUS:=-1;
 dbms_output.put_line ( P_STATUS ) ;
   
END USP_SSO;
/

CREATE OR REPLACE PROCEDURE usp_GetNextTableIdValue
  --drop procedure [dbo].[usp_GetNextTableIdValue]
  (
    v_pLastNumber OUT VARCHAR2,
    v_pTableName IN VARCHAR2 )
AS
  v_COUNTER          NUMBER(10,0);
  v_Current          NUMBER(10,0);
  v_DataBaseNumber   NUMBER(10,0);
  v_DBStringNumber   VARCHAR2(50);
  v_CurrentStrNumber VARCHAR2(50);
  v_temp             NUMBER(1, 0) := 0;
BEGIN
  v_COUNTER := 1 ;
  SELECT DataBaseNumber
  INTO v_DataBaseNumber
  FROM DataBaseProperties
  WHERE ROWNUM     <= 1;
   
  v_DBStringNumber := CAST (v_DataBaseNumber as varchar2);
  BEGIN
    SELECT 1
    INTO v_temp
    FROM DUAL
    WHERE NOT EXISTS
      ( SELECT TableName FROM DBIdCounters WHERE TableName = v_pTableName
      );
  EXCEPTION
  WHEN OTHERS THEN
    NULL;
  END;
  IF v_temp = 1 THEN
    BEGIN
      v_COUNTER := 1 ;
      INSERT
      INTO DBIdCounters
        (
          TableName,
          LastIdNumber
        )
        VALUES
        (
          v_pTableName,
          v_COUNTER
        );
      v_Current := 1 ;
    END;
  ELSE
    BEGIN
      SELECT LastIdNumber
      INTO v_Current
      FROM DBIdCounters
      WHERE TableName = v_pTableName 
      FOR UPDATE ; -- 20160211  ora-0001 ----no need     skip locked good for gggq select 1 row from alot ;;
      v_Current      := v_Current + 1 ;
      UPDATE DBIdCounters
      SET LastIdNumber = v_Current
      WHERE TableName  = v_pTableName;
    END;
  END IF;
  Begin
  v_CurrentStrNumber := CAST (v_Current as varchar2);
  v_pLastNumber      := v_DBStringNumber || '-' || v_CurrentStrNumber ;
  end;
END;
/

CREATE OR REPLACE PROCEDURE SP_TEST 
(
  P_MESS IN OUT VARCHAR2 
) AS 
BEGIN
  NULL;
  P_MESS := 'hello  ' || P_MESS;
END SP_TEST;
/

CREATE OR REPLACE PROCEDURE Usp_Getnexttablecodevalue
  (    v_pLastNumber OUT NUMBER,    v_pTableName IN VARCHAR2,    v_pTenant    IN NUMBER )
AS
  v_COUNTER NUMBER(10);
  v_Current NUMBER(10);
  v_temp    NUMBER(1) := 0;
BEGIN
  v_COUNTER := 1000 ;
  NULL;

  BEGIN
    SELECT 1
    INTO v_temp
    FROM DUAL
    WHERE NOT EXISTS
      (SELECT TableName
      FROM COUNTERLASTNUMBERS
      WHERE TableName = v_pTableName
      AND Tenant      = v_pTenant
      );
  EXCEPTION
  WHEN OTHERS THEN
    NULL;
  END;
  IF v_temp = 1 THEN
    BEGIN
      IF ( v_pTableName = 'Tenant' ) THEN
        BEGIN
          v_COUNTER := 0 ;
          INSERT
          INTO COUNTERLASTNUMBERS
            (
              TableName,
              Tenant,
              LastNumber
            )
            VALUES
            (
              v_pTableName,
              v_pTenant,
              v_COUNTER
            );
          v_Current := 0 ;
        END;
      ELSE
        BEGIN
          v_COUNTER        := 1000 ;
          IF ( v_pTableName = 'Agent' ) THEN
            BEGIN
              v_COUNTER := 10000 ;
            END;
          END IF;
          IF ( v_pTableName = 'CustomAgent' ) THEN
            BEGIN
              v_COUNTER := 20000 ;
            END;
          END IF;
          IF ( v_pTableName = 'ShippingAgent' ) THEN
            BEGIN
              v_COUNTER := 30000 ;
            END;
          END IF;
          IF ( v_pTableName = 'Customer' ) THEN
            BEGIN
              v_COUNTER := 70000 ;
            END;
          END IF;
          INSERT
          INTO COUNTERLASTNUMBERS
            (
              TableName,
              Tenant,
              LastNumber
            )
            VALUES
            (
              v_pTableName,
              v_pTenant,
              v_COUNTER
            );
          v_Current := v_COUNTER ;
        END;
      END IF;
    END;
  ELSE
    BEGIN
      SELECT LastNumber
      INTO v_Current
      FROM COUNTERLASTNUMBERS
      WHERE TableName = v_pTableName
      AND Tenant      = v_pTenant
      FOR UPDATE ; -- 20160211  ora-0001 ----no need     skip locked good for gggq select 1 row from alot ;;
      v_Current      := v_Current + 1 ;
      UPDATE COUNTERLASTNUMBERS
      SET LastNumber  = v_Current
      WHERE TableName = v_pTableName
      AND Tenant      = v_pTenant;
    END;
  END IF;
  v_pLastNumber := v_Current ;
END;
/

ALTER PROCEDURE zz_updatequeuecommunicationlo COMPILE;

ALTER PROCEDURE usp_updatequeuecommunicationlo COMPILE;




-- itzik i asume rename supplierinvoiceitemvehicleadds table it's not enough
ALTER TABLE supplierinvoiceitemvehicleadds ADD (windownumber VARCHAR2(13 CHAR));



 
insert into FeaturePackageTypes(Code, Name, SearchFields) values('BS', 'Base', 'BS,Base');
insert into FeaturePackageTypes(Code, Name, SearchFields) values('AD', 'Add-on', 'AD,Add-on') ;
insert into FeaturePackageTypes(Code, Name, SearchFields) values('PK', 'Package', 'PK,Package') ;
commit ;

/

ALTER TABLE "PACKAGES" ADD ("INACTIVE" NUMBER(1) DEFAULT 0 NOT NULL,featurepackagetypecode VARCHAR2(2 CHAR) DEFAULT 'BS' NOT NULL);
CREATE INDEX ix_1787863857 ON "PACKAGES"(featurepackagetypecode);



-- itzik at the end work !!!
ALTER TABLE "PACKAGES" ADD CONSTRAINT fk_1656128825 FOREIGN KEY (featurepackagetypecode) REFERENCES featurepackagetypes (code);




--- itzik add to end ALTER TABLE "PACKAGES" ADD CONSTRAINT fk_1656128825 FOREIGN KEY (featurepackagetypecode) REFERENCES featurepackagetypes (code);
select * from Packages ;


update Packages set FEATUREPACKAGETYPECODE= 'BS'  where  CODE is not null ;


commit ;



--INSERT INTO MigrationHistory__ (MigrationId, ContextKey, Model, ProductVersion) VALUES ('201605031027337_A56D1605'
DECLARE
  BINARY_VALUE BLOB;
BEGIN
  DBMS_LOB.CREATETEMPORARY(BINARY_VALUE, TRUE);
  DBMS_LOB.APPEND(BINARY_VALUE, TO_BLOB(CAST('61341F9B40A609DFB2F70E82E12EBF74CFDD34215F1F4562CBE7030677765423793B3E9C3DCCEEE76D941EBF46DBF298C3FD660A6E0D41556E86A3A62F8592BB2CB366001D6A757D546A8630A62D86827A29F2FBB840C7C049BC9D0C553DC0880A580A2DF8294630D0EA36705E9196B294D01FC436CD92EC119D5B22F1D62034F566441A6031B430D9E09180C53E6FC8440F6030E2D46FE8A5BC04B4B83E813D70870114B77C34D9A8F4824845A6034FCA99165D1352C4D4CE98759491815FC30B9692DBB458AB8AB04BC99741B7BC04C075AD072E3BE17A0FD9098A48151794C697ADFD60AB5ACCFA8F05BE022DCD95765D9C4D85AF3D543351FA101DA2C7CB2C4D455BADB5F759D1E33556997083379069754C1D0484A1A979C826A8455B42336359281D791E7F6DEFFEB35D398862894FC60B2F1B944D6A74C8099E6920766DC340FB3713FC5E2E2F74CB5D6828D636057EFA2D68D3D2D0DF0E845C556D82C8CE97E3BDD4B27620546FD7E92851B47FD045DE84DA823097544B8F174341979155DD965CAF803D073263C6BFCEB3FD43B621E6B5401C35A5074C6731E6B1643340D87D82DFB0B1CBD74D10B15CC5F9C2F5594295FFA04B3D26C00B08A901E4C4655263AB072070F87A602A2AEE4B7160126142C3D350DB04E4DBC72FA740A4515A567F9771FAB8F9F0E5DF555BBB6B680324A0603C0845A51485F29C2241B6A9F2A0A678A022DF17D9D74F85B88F1FD3A89E92AD577394117C052C0527977DB40AD5051FED339206C39A4606901E8492F11997154982132012D712E9890FC5E7B888BFC449656853FD095262A2884062ADB0C74629D7F192725D5449F21D2E76012704C30370BF7C73D290F3682BDE7DAFB7A334FFA3CD0708878720E992BC979E52E10FA6F4F598C3639F61DB3E093032E0F760DAF0D14CAE41BC66F069424C8BA41D3E7E103FCAF6E67A304E1347D5C3BD2AA5F2ED1FD241F786F4A8C7E77EC3EE7EA72E1326F19EDFF94CE157BF13CD5E5280150ED402365367A7A67E43EFB3C738ADFE434BBD09F2990764ED86E498E025D4BBAA411497755EAE58DC3E6DDA1F58CC081A0FA5572705D13FB210A099327830D283D041650010EB3B1FCC4C43B73DB9DF008D357BAC32C4D891AC591E42929F7349EA8470960640189A58D9450107CB2F1352F1396A5E53A5795B354AA247B1E99E80CB0151301ED8A04E5ECB123156C4EAB6200D72AAAF35911FFE4AEB5912DB561805468C15BC643F4C63035A05D425F80D99586B06E2ACEE3BAF7B9C38ECFBE8AB289F2FB6F5619459FECC20009308468566105C62AD4302D3533F1E1EDEA44569DB65E0A6874509641F660642AE9676E9F1E99CEB4A5CC9A0D836608BA5BABEF9E132DBEF8FE9B09A50FE0BA79723480D1D1B46944164239524D0F045630F480F421D7E6907812648F27071C73CE4D4174DC7E9E3FBA8283F8AFF398AA2DC748F20720834D12BEBF5C9DDB2FE194188690C52A12487A0E3B29EF8821BDA049AC82BCECB554212F1AFBFB59A9AD9A0B86AAC0C69FFFADBFDF649ECA3EE41F56799E555BBF536DB89A4689EFEEB6F1F8F95F45EB47F5D89227E1C55FC6B5C44372AED3137E9D7ACEA131C44DE44217BD443FAE4EED5DC8A32DA456574515FD7106DCBEE4CEE26177D8E92633DC0BDFF227637E9876379389655C862FF25512ADF7FFD8DB6FFAFBF193EFFEB4373156CE12384CACDB80A417C48DF1EE36437F87D1D25FA4C13A6A21ED1FC5554CFDB7759563FC5E3F3A0E9F72C652AEAE8BB1287AA5EA96700C4FE500F33161FD2FBE8BB38C5B7AAC3F75E3C46DBE7EAF9F7B81960C394D85F844AFBBFAEE2FA20927DD1E918E5AB3FAB3CBCDBFFF87FFF2F4A10DAE515434800' AS LONG RAW)));
  INSERT INTO MigrationHistory__ (MigrationId, ContextKey, Model, ProductVersion) VALUES ('201605031027337_A56D1605', 'Logitude.OracleDatabaseMigration.Migrations.Configuration', BINARY_VALUE, '6.1.3-40302');
END;
/


commit 
/