<table>
    <tr style="height:1px;" *ngIf="ValidationErrorsList != null && ValidationErrorsList.length > 0">
        <td>
            <ValidationSummary [SingleLine]="true" [ItemsSource]="ValidationErrorsList"></ValidationSummary>
        </td>
    </tr>

    <tr style="height: 1px;">
        <td>
            <div class="MultiLinesText NoDataTextStyle" style="text-align: left;">
                Screen enables registering external payment against AP payments without connecting an AR Payment (you have to register the payment manually in the external accounting system)
            </div>
        </td>
    </tr>

    <tr style="height: 10px;">
        <td>
            <div></div>
        </td>
    </tr>

    <tr>
        <td>
            <table>

                <tr class="FormFieldRow">
                    <td style="width: 200px;">
                        <LogLabel [ObjectFieldName]="'ExternalPaymentAmount'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                    </td>

                    <td style="width: 300px;">
                        <LogTextBox [ObjectFieldName]="'ExternalPaymentAmount'" [Text]="DataContext.ExternalPaymentAmount" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogTextBox>
                    </td>

                    <td>
                        <div></div>
                    </td>
                </tr>

                <tr class="FormFieldRow">
                    <td>
                        <LogLabel [ObjectFieldName]="'ExternalPaymentDate'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                    </td>

                    <td>
                        <LogDatePicker [ObjectFieldName]="'ExternalPaymentDate'" [SelectedDateValue]="DataContext.ExternalPaymentDate" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogDatePicker>
                    </td>

                    <td>
                        <div></div>
                    </td>
                </tr>

                <tr style="height: 5px;">
                    <td colspan="3">
                        <div></div>
                    </td>
                </tr>

                <tr class="FormFieldRow" style="height: 85px;">
                    <td>
                        <LogLabel [ObjectFieldName]="'ExternalPaymentNotes'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                    </td>

                    <td style="height: 85px;">
                        <div style="height: 100%;">
                            <LogTextBox [ObjectFieldName]="'ExternalPaymentNotes'" [Text]="DataContext.ExternalPaymentNotes" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext" [IsMultiline]="true"></LogTextBox>
                        </div>
                    </td>

                    <td>
                        <div></div>
                    </td>
                </tr>

                <tr>
                    <td colspan="3">
                        <div></div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr style="height: 32px;">
        <td style="vertical-align: bottom">
            <table style="height: 22px;">
                <tr>
                    <td>
                        <div></div>
                    </td>

                    <td style="width: 57px;">
                        <button class="Button" (click)="CancelButtonClicked()">{{'General.B.Cancel' | TextCodeTranslationPipe}}</button>
                    </td>

                    <td style="width: 5px;">
                        <div></div>
                    </td>

                    <td style="width: 57px;">
                        <button class="RedButton" (click)="OkButtonClicked()">{{'General.B.Ok' | TextCodeTranslationPipe}}</button>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
