

<table>
    <tr *ngIf="ValidationErrorsList != null && ValidationErrorsList.length > 0" style="height:1px;">
        <td>
            <ValidationSummary [ItemsSource]="ValidationErrorsList"></ValidationSummary>
        </td>
    </tr>

    <tr style="height:130px;">
        <td>
            <table>
                <tr>
                    <td style="width:330px;">
                        <div class="MediaFill">
                            <fieldset class="MediaFill GroupBox">
                                <legend>
                                    <span>Customer</span>
                                </legend>

                                <div style="top: 10px;">
                                    <table>
                                        <tr class="FormFieldRow">
                                            <td style="width: 100px;">
                                                <LogLabel [NoObjectField]="true" [ObjectFieldName]="'CustomerSizeId'" [Text]="'Customer Size'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                            </td>

                                            <td style="width:200px;">
                                                <LogLov [ObjectFieldName]="'CustomerSizeId'"
                                                        [SelectedValue]="CustomerSizeId"
                                                        [ObjectTableName]="ObjectTableName"
                                                        [DataContext]="DataContext"
                                                        [LookUpTableName]="'CustomerSize'"
                                                        [NoObjectField]="true">
                                                </LogLov>
                                            </td>
                                        </tr>

                                        <tr class="FormFieldRow">
                                            <td>
                                                <LogLabel [NoObjectField]="true" [ObjectFieldName]="'RegionId'" [Text]="'Region'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                            </td>

                                            <td>
                                                <LogLov [ObjectFieldName]="'RegionId'"
                                                        [SelectedValue]="RegionId"
                                                        [ObjectTableName]="ObjectTableName"
                                                        [DataContext]="DataContext"
                                                        [LookUpTableName]="'Region'"
                                                        [NoObjectField]="true">
                                                </LogLov>
                                            </td>
                                        </tr>

                                        <tr class="FormFieldRow">
                                            <td>
                                                <LogLabel [NoObjectField]="true" [ObjectFieldName]="'IndustryId'" [Text]="'Industry'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                            </td>

                                            <td>
                                                <LogLov [ObjectFieldName]="'IndustryId'"
                                                        [SelectedValue]="IndustryId"
                                                        [ObjectTableName]="ObjectTableName"
                                                        [DataContext]="DataContext"
                                                        [LookUpTableName]="'Industry'"
                                                        [NoObjectField]="true">
                                                </LogLov>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </fieldset>
                        </div>
                    </td>

                    <td style="width: 10px;">
                        <div></div>
                    </td>

                    <td style="width:330px;">
                        <div class="MediaFill">
                            <fieldset class="MediaFill GroupBox">
                                <legend>
                                    <span>Contact</span>
                                </legend>

                                <div style="top: 10px;">
                                    <table>
                                        <tr class="FormFieldRow">
                                            <td style="width: 125px;">
                                                <LogLabel [NoObjectField]="true" [ObjectFieldName]="'ProductTypeCode'" [Text]="'Product'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                            </td>

                                            <td style="width:200px;">
                                                <ComboBox [WithIcons]="true" [WithCheckBoxes]="true" [ItemsSource]="ProductTypeComboList" [Binding]="'Name'" [SelectedItem]="SelectedProductTypeFilter" (SelectedItemChanged)="SelectedProductTypeFilter = $event"></ComboBox>
                                            </td>
                                        </tr>

                                        <tr class="FormFieldRow">
                                            <td style="width: 125px;">
                                                <LogLabel [NoObjectField]="true" [ObjectFieldName]="'AdditionalServiceId'" [Text]="'Additional Service'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                            </td>

                                            <td style="width:200px;">
                                                <ComboBox [WithCheckBoxes]="true" [ItemsSource]="AdditionalServiceComboList" [Binding]="'Name'" [SelectedItem]="SelectedAdditionalServiceFilter" (SelectedItemChanged)="SelectedAdditionalServiceFilter = $event" (SelectedItemIds)="SelectedAdditionalServiceFilterIds = $event"></ComboBox>
                                            </td>
                                        </tr>

                                        <tr class="FormFieldRow">
                                            <td>
                                                <div></div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </fieldset>
                        </div>
                    </td>

                    <td style="width: 10px;">
                        <div></div>
                    </td>

                    <td style="width:330px;">
                        <div class="MediaFill">
                            <fieldset class="MediaFill GroupBox">
                                <legend>
                                    <span>Occasion</span>
                                </legend>

                                <div style="top: 10px;">
                                    <table>
                                        <tr class="FormFieldRow">
                                            <td style="width: 100px;">
                                                <LogLabel [NoObjectField]="true" [ObjectFieldName]="'OccasionId'" [Text]="'Occasion'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                            </td>

                                            <td style="width:200px;">
                                                <LogLov [ObjectFieldName]="'OccasionId'"
                                                        [SelectedValue]="OccasionId"
                                                        [ObjectTableName]="ObjectTableName"
                                                        [DataContext]="DataContext"
                                                        [LookUpTableName]="'Occasion'"
                                                        [NoObjectField]="true">
                                                </LogLov>
                                            </td>
                                        </tr>

                                        <tr class="FormFieldRow">
                                            <td>
                                                <div></div>
                                            </td>
                                        </tr>

                                        <tr class="FormFieldRow">
                                            <td>
                                                <div></div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </fieldset>
                        </div>
                    </td>

                    <td style="width: 10px;">
                        <div></div>
                    </td>

                    <td style="width:70px;">
                        <button (click)="BrowseClicked()" class="GreenButton" style="height:22px; vertical-align:top;">Browse</button>
                    </td>

                    <td>
                        <div></div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr style="height:1px;">
        <td>
            <table>
                <tr>
                    <td>
                        <div></div>
                    </td>

                    <td style="width: 300px;">
                        <SearchBox [ObjectTableName]="'Contact'" (TextChanged)="SearchMethod($event)"></SearchBox>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr style="height:5px;">
        <td>
            <div></div>
        </td>
    </tr>

    <tr>
        <td>
            <div class="MediaFill">
                <table>
                    <tr>
                        <td>
                            <div class="MediaFill">
                                <div style="vertical-align:top;" class="GeneratedGridContainer">
                                    <logitude-grid style="vertical-align:top;" [QueryChangeEvent]="onQueryChangeEvent" GridWidth="100%" GridHeight="100%"
                                                   [dataSource]="DataSource" [ReloadData]="true" [columns]="Columns" [autoLoad]="true" [rows]="Items"
                                                   [searchFields]="SearchText" [SearchFieldchangeevent]="SearchFieldChangeEvent"
                                                   (CheckBoxChecked)="onCheckBoxChecked($event)" [IsAllRecordsChecked]="IsAllChecked">
                                    </logitude-grid>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>

    <tr style="height: 32px;">
        <td style="vertical-align: bottom">
            <table style="height: 22px;">
                <tr>
                    <td>
                        <div></div>
                    </td>

                    <td style="width: 57px;">
                        <button class="Button" (click)="CancelButtonClicked()">Cancel</button>
                    </td>

                    <td style="width: 5px;">
                        <div></div>
                    </td>

                    <td style="width: 57px;">
                        <button class="RedButton" (click)="OkButtonClicked()" [disabled]="!OkButtonIsEnabled">Ok</button>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
