<connectionStrings>
  <add name="LogitudeStr" connectionString="Data Source=AMITALSQL;Initial Catalog=LogitudeMain-Test2;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256!;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  <add name="LogitudeGlobalStr" connectionString="Data Source=AMITALSQL;Initial Catalog=LogitudeGlobal-Test2;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256!;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  <add name="LogitudeSystemLogsStr" connectionString="Data Source=AMITALSQL;Initial Catalog=LogitudeSystemLogs-Test2;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256!;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />

  <add name="Globalstr" connectionString="LogitudeGlobal-Test2,sa,Saas256!,AMITALSQL" /> 
   <add name="SystemLogsStr" connectionString="LogitudeSystemLogs-Test2,sa,Saas256!,AMITALSQL" />
  
</connectionStrings>