
<table>
    <tr *ngIf="ValidationErrorsList != null && ValidationErrorsList.length > 0" style="height:1px;">
        <td colspan="4">
            <ValidationSummary [ItemsSource]="ValidationErrorsList"></ValidationSummary>
        </td>
    </tr>

    <tr>
        <td style="width: 400px">
            <table>
                <tr class="FormFieldRow">
                    <td>
                        <table>
                            <!-- Code -->
                            <tr class="FormFieldRow">
                                <td style="width: 110px;">
                                    <LogLabel [ObjectFieldName]="'Code'" [ObjectTableName]="ObjectTableName"
                                              [DataContext]="DataContext"></LogLabel>
                                </td>

                                <td style="width: 200px;">
                                    <LogTextBox [ObjectFieldName]="'Code'" [InputType]="'text'" [DataContext]="DataContext"
                                                [ObjectTableName]="ObjectTableName" [HideColumns]="true"></LogTextBox>
                                </td>
                                <td><div></div></td>
                            </tr>
                            
                            <!-- EnglishName -->
                            <tr class="FormFieldRow">
                                <td>
                                    <LogLabel [ObjectFieldName]="'EnglishName'" [ObjectTableName]="ObjectTableName"
                                              [DataContext]="DataContext"></LogLabel>
                                </td>

                                <td>
                                    <LogTextBox [ObjectFieldName]="'EnglishName'" [InputType]="'text'" [DataContext]="DataContext"
                                                [ObjectTableName]="ObjectTableName" [HideColumns]="true"></LogTextBox>
                                </td>
                                <td><div></div></td>
                            </tr>

                            <!-- LocalName -->
                            <tr class="FormFieldRow">
                                <td>
                                    <LogLabel [ObjectFieldName]="'LocalName'" [ObjectTableName]="ObjectTableName"
                                              [DataContext]="DataContext"></LogLabel>
                                </td>

                                <td>
                                    <LogTextBox [ObjectFieldName]="'LocalName'" [InputType]="'ntext'" [DataContext]="DataContext"
                                                [ObjectTableName]="ObjectTableName" [HideColumns]="true"></LogTextBox>
                                </td>
                                <td><div></div></td>
                            </tr>


                            <tr><td><div></div></td></tr>
                        </table>

                    </td>
                </tr>
            </table>
        </td>

        <td style="width: 80px;"><div></div></td>

        <td>
            <table>
                <tr class="FormFieldRow">
                    <td>
                        <table>
                            <!-- TypeCode -->
                            <tr class="FormFieldRow">
                                <td style="width: 85px;">
                                    <LogLabel [ObjectFieldName]="'TypeCode'" [ObjectTableName]="ObjectTableName"
                                              [DataContext]="DataContext"></LogLabel>
                                </td>

                                <td style="width: 200px;">
                                    <LogLov [ObjectFieldName]="'TypeCode'"
                                            [ObjectTableName]="ObjectTableName"
                                            [DataContext]="DataContext"
                                            [LookUpTableName]="'ChartOfAccountsType'"
                                            [HideColumns]="true">
                                    </LogLov>
                                </td>
                                <td><div></div></td>
                            </tr>

                            <!-- ParentId -->
                            <tr class="FormFieldRow">
                                <td>
                                    <LogLabel [ObjectFieldName]="'ParentId'" [ObjectTableName]="ObjectTableName"
                                              [DataContext]="DataContext"></LogLabel>
                                </td>

                                <td>
                                    <LogLov [ObjectFieldName]="'ParentId'"
                                            [ObjectTableName]="ObjectTableName"
                                            [DataContext]="DataContext"
                                            [LookUpTableName]="'ChartOfAccount'"
                                            [SelectedValue]="ParentId"
                                            [DependencyFilter2Value]="TypeCode"
                                            [HideColumns]="true">
                                    </LogLov>
                                </td>
                                <td><div></div></td>
                            </tr>

                            <!-- InActive -->
                            <tr class="FormFieldRow">
                                <td>
                                    <LogLabel [ObjectFieldName]="'Inactive'" [ObjectTableName]="ObjectTableName"
                                              [DataContext]="DataContext"></LogLabel>
                                </td>

                                <td>
                                    <CheckBox [IsChecked]="Inactive" (Checked)="Inactive = $event"></CheckBox>
                                </td>
                                <td><div></div></td>
                            </tr>

                            <tr><td><div></div></td></tr>
                        </table>
                    </td>
                </tr>
            </table>


        </td>
    </tr>

    <tr style="height: 32px;">
        <td colspan="4" style="vertical-align: bottom">
            <table style="height: 22px;">
                <tr>
                    <td>
                        <div></div>
                    </td>

                    <td style="width: 57px;">
                        <button id="{{'cancel-AddChartOfAccount' | IdGeneratorAsyncPipe | async}}"  class="Button" (click)="CancelButtonClicked()">{{'Accounting.General.B.Cancel' | TextCodeTranslationPipe}}</button>
                    </td>

                    <td style="width: 5px;">
                        <div></div>
                    </td>

                    <td style="width: 57px;">
                        <button id="{{'ok-AddChartOfAccount' | IdGeneratorAsyncPipe | async}}"  class="RedButton" (click)="OkButtonClicked()">{{'Accounting.General.B.OK' | TextCodeTranslationPipe}}</button>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

</table>

