:host {
    display: flex;
    max-width: 670px;
}

.col {
    width: 260px;
    margin: 3px;
    flex: 1;
}

.row {
    height: 33px;
    margin: 5px;
    display: flex;
}

LogLabel, LogTextBox {
    flex: 1;
}