<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <appSettings>
    <add key="Accounting_LXMLFilesRoot" value="\Logitude\Logitude.Accounting.MetaData\EntityFiles"/>
    <add key="Accounting_DXMLFilesRoot" value="\Logitude\Logitude.Accounting.MetaData\DBTables"/>

    <add key="Booking_LXMLFilesRoot" value="\Logitude\Logitude.BookingLib.MetaData\EntityFiles"/>
    <add key="Booking_DXMLFilesRoot" value="\Logitude\Logitude.BookingLib.MetaData\DBTables"/>

    <add key="CRM_LXMLFilesRoot" value="\Logitude\Logitude.CRM.MetaData\EntityFiles"/>
    <add key="CRM_DXMLFilesRoot" value="\Logitude\Logitude.CRM.MetaData\DBTables"/>

    <add key="Customs_LXMLFilesRoot" value="\Logitude\Logitude.Customs.MetaData\EntityFiles"/>
    <add key="Customs_DXMLFilesRoot" value="\Logitude\Logitude.Customs.MetaData\DBTables"/>

    <add key="OldModules_LXMLFilesRoot" value="\Logitude\Logitude.MetaData\EntityFiles"/>
    <add key="OldModules_DXMLFilesRoot" value="\Logitude\Logitude.MetaData\DBTables"/>

    <add key="Social_LXMLFilesRoot" value="\Logitude\Logitude.Social.MetaData\EntityFiles"/>
    <add key="Social_DXMLFilesRoot" value="\Logitude\Logitude.Social.MetaData\DBTables"/>

    <add key="Tarrifs_LXMLFilesRoot" value="\Logitude\Logitude.TariffModule.MetaData\EntityFiles"/>
    <add key="Tarrifs_DXMLFilesRoot" value="\Logitude\Logitude.TariffModule.MetaData\DBTables"/>

    <add key="TimeManagement_LXMLFilesRoot" value="\Logitude\Logitude.TimeManagement.MetaData\EntityFiles"/>
    <add key="TimeManagement_DXMLFilesRoot" value="\Logitude\Logitude.TimeManagement.MetaData\DBTables"/>

    <add key="Warehouse_LXMLFilesRoot" value="\Logitude\Logitude.WarehouseLib.MetaData\EntityFiles"/>
    <add key="Warehouse_DXMLFilesRoot" value="\Logitude\Logitude.WarehouseLib.MetaData\DBTables"/>

    <add key="Infrastructure_LXMLFilesRoot" value="\Logitude\Logitude.Infrastructure.MetaData\EntityFiles"/>
    <add key="Infrastructure_DXMLFilesRoot" value="\Logitude\Logitude.Infrastructure.MetaData\DBTables"/>
  </appSettings>
  
</configuration>