.preference-menu {
  min-width: 200px;
  max-width: 300px;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 20px;
  direction: rtl;
  background-color: var(--grey);
  position: absolute;
  right: 11px;
  top: 11px;
}

.logoSettings {
  width: 23px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  word-wrap: break-word;
  white-space: normal;
  text-align: center;
  padding: 12px 10px 11px 0px;
  vertical-align: top;
  border-bottom: 1px solid var(--greyRO);
}

th {
  padding: 6px 10px 5px 0px;
  background-color: var(--grey);
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
}

td {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
}

tr:nth-last-child(1) td {
  border-bottom: 0px;
}

td img {
  display: block;
  width: 14px;
}

.actionButtonsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actionCommentBox {
  cursor: pointer;
  padding: 8px 12px;
  border: none;
  background-color: var(--grey);
  text-decoration: none;
  color: #333;
  font-size: 18px;
  border-radius: 5px;
  transition: background-color 0.2s;
  width: 50%;
  display: flex;
  justify-content: center;
}

.actionCommentBox:hover {
  background-color: #e0e0e0;
}

.fa-trash,
.fa-save {
  color: black;
}

.inputBox {
  cursor: pointer;
  max-width: 60px;
  margin-bottom: 16px;

}

::ng-deep .color-picker .cp-remove-color-button-class {
  display: none !important;
}

::ng-deep .color-picker .button-area {
  display: flex !important;
  justify-content: space-between !important;
  padding: 16px 16px !important;
}

::ng-deep .buttonBoxColorsPicker::before {
  content: "\f00c";
  /* FontAwesome check icon (✔) */
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 5px;
  display: inline-block;
}

::ng-deep .buttonBoxColorsPickerCancel::before {
  content: "\f00d";
  /* FontAwesome times icon (✖) */
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 5px;
  display: inline-block;
}

::ng-deep.buttonBoxColorsPickerCancel {
  display: flex;
  justify-content: center;
  cursor: pointer;
  background: transparent !important;
  border: none !important;
}

::ng-deep .buttonBoxColorsPicker {
  display: flex;
  justify-content: center;
  cursor: pointer;
  background: transparent !important;
  border: none !important;
}

.cmyk-text {
  float: left;

  width: 72px;
  height: 72px;

  font-weight: bolder;
  line-height: 72px;
  text-align: center;
  text-shadow: 1px 1px 2px #bbb;
}

.color-box {
  width: 100px;
  height: 25px;
  margin: 16px auto;

  cursor: pointer;
}

.change-me {
  cursor: pointer;
  font-size: 30px;
  font-weight: bolder;
}
