
<style type="text/css">
    .SquareIcon {
        width: 10px;
        height: 10px;
        line-height: 10px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
    }
</style>

<table>
    <!-- SearchBar -->
    <tr style="height: 1px;">
        <td>
            <table>
                <tr>
                    <!--<td style="width: 21px; vertical-align:middle;">
                        <IconButton [Name]="'Refresh'" (click)="RefreshButtonClicked()"></IconButton>
                    </td>

                    <td style="width: 15px; vertical-align:middle;">
                        <div></div>
                    </td>

                    <td style="width: 45px; vertical-align:middle; font-size:11px; color : #6E7172;">{{'Accounting.General.O.Search' | TextCodeTranslationPipe}}:</td>

                    <td style="width: 300px;">-->
                        <!-- ObjectTableName = CardGLAccount to filter items by accountTypeCode in CommonDomainController.cs -->
                       <!--<SearchBox [Watermark]="'Accounting.General.O.AccountNoName' | TextCodeTranslationPipe" [ObjectTableName]="'CardGLAccount'" [IsQuickSearch]="true" (ItemClicked)="EditGLAccount($event)"></SearchBox>
                    </td>

                    <td>
                        <div></div>
                    </td>-->

                </tr>
            </table>
        </td>
    </tr>

    <tr style="height: 8px;">
        <td>
            <div></div>
        </td>
    </tr>

    <tr>
        <td>
            <table *ngIf="isScreenLoaded">
                <tr >
                    <td style="width:265px;">
                        <table>
                            <tr class="SectionHeader">
                                <td>
                               
                                    <label float-start style="margin-right: 10px;"> {{ 'Accounting.General.O.Misc' | TextCodeTranslationPipe }}</label>
                                </td>
                            </tr>

                            <tr style="height:5px;">
                                <td></td>
                            </tr>

                            <tr style="height:120px">
                                <td>
                                    <div class="ScrollViewer">
                                        <div class="ScrollContent">





                                            <div class="QueriesSection" style="color: #58B8FF;">
                                                <div>{{ 'Accounting.General.O.AuthoritiesReports' | TextCodeTranslationPipe }}</div>

                                                <div>
                                                    <table>
                                                        <tr>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td style="width:190px;">
                                                                            <p class="QueryLink" (click)="ViewAccountingQuery('ALLTAXREPORTS')"> {{'Accounting.General.O.TaxReport' | TextCodeTranslationPipe}} </p>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="width:190px;">
                                                                            <p class="QueryLink" (click)="ViewAccountingQuery('ALLTaxDeductionReports')" > {{'Accounting.General.O.856Report' | TextCodeTranslationPipe}} </p>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="width:190px;">
                                                                            <p class="QueryLink" (click)="ViewAccountingQuery('AllOpenFormats')"> {{'Accounting.General.O.OpenFormat' | TextCodeTranslationPipe}} </p>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="width:190px;">
                                                                            <p class="QueryLink" *ngIf="AllBankDepositsVisibility" (click)="ViewDepositQuery('AllBankDeposits')"> {{'Accounting.General.Q.AllDeposits' | TextCodeTranslationPipe}} </p>
                                                                        </td>
                                                                    </tr>

                                                                </table>


                                                            </td>
                                                        </tr>

                                                    </table>
                                                </div>



                                 

                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>


                           

                            <tr style="height:15px;">
                                <td></td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="ScrollViewer">
                                        <div class="ScrollContent">



                                            <div class="QueriesSection" style="color: #58B8FF;">
                                                <div>
                                                    {{ 'Accounting.General.O.AccountingPeriods' | TextCodeTranslationPipe }}
                                                </div>

                                                <div>
                                                    <table>
                                                        <tr>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td style="width:190px;">
                                                                            <p class="QueryLink" (click)="ViewAccountingQuery('ACPD')"> {{'Accounting.General.O.AccountingPeriodsDefinition' | TextCodeTranslationPipe}} </p>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="width:190px;">
                                                                            <p class="QueryLink" (click)="ViewAccountingQuery('ACYT')"> {{'Accounting.O.YearTransfer' | TextCodeTranslationPipe}} </p>
                                                                        </td>
                                                                    </tr>
                                                                   

                                                                </table>


                                                            </td>
                                                        </tr>

                                                    </table>
                                                </div>

                                            </div>

                                           
                             

                                            <div></div>

                                        </div>
                                    </div>
                                </td>
                            </tr>


                        </table>
                    </td>

                    <td style="width:15px;">
                        <div></div>
                    </td>

                    <td>
                    
                    </td>
                </tr>
            </table>
        </td>
    </tr>

</table>
