--
-- Script generated by Schema Compare for Oracle 1.0.0.0 on 28/09/2017 08:16:17
--
SET DEFINE OFF

CREATE TABLE tenantmanagmentprivatelabels (
  "ID" VARCHAR2(15 CHAR) NOT NULL,
  privatelabelname NVARCHAR2(60) NOT NULL,
  privatelabelshortname VARCHAR2(60 CHAR) NOT NULL,
  privatelabelurl VARCHAR2(100 CHAR) NOT NULL,
  mainlogo BLOB,
  smalllogo BLOB,
  contactusemail NVARCHAR2(70) NOT NULL,
  receiveallstatuses NUMBER(1) NOT NULL,
  hybridpartnerid NVARCHAR2(15) NOT NULL,
  searchfields NVARCHAR2(500),
  "INACTIVE" NUMBER(1) NOT NULL,
  PRIMARY KEY ("ID")
);

CREATE TABLE batchservicesdefinitions (
  code NVARCHAR2(128) NOT NULL,
  classname NCLOB,
  parameter1 NCLOB,
  parameter2 NCLOB,
  PRIMARY KEY (code)
);

CREATE TABLE globaldbs (
  "ID" NVARCHAR2(15) NOT NULL,
  dbconnection NVARCHAR2(512) NOT NULL,
  isupgrading NUMBER(1) NOT NULL,
  isactive NUMBER(1) NOT NULL,
  PRIMARY KEY ("ID")
);

CREATE TABLE globaltenants (
  "ID" NUMBER(10) NOT NULL,
  globaldbid NVARCHAR2(15) NOT NULL,
  companyname NVARCHAR2(100) NOT NULL,
  "VERSION" NUMBER(10) NOT NULL,
  isactive NUMBER(1) NOT NULL,
  tty VARCHAR2(33 CHAR),
  privatelabelid VARCHAR2(15 CHAR),
  PRIMARY KEY ("ID"),
  CONSTRAINT fk_n1705811205 FOREIGN KEY (globaldbid) REFERENCES globaldbs ("ID") ON DELETE CASCADE,
  CONSTRAINT fk_n906106338 FOREIGN KEY (privatelabelid) REFERENCES tenantmanagmentprivatelabels ("ID")
);

CREATE TABLE helpresources (
  code VARCHAR2(15 CHAR) NOT NULL,
  "NAME" VARCHAR2(100 CHAR) NOT NULL,
  createdate TIMESTAMP(7) NOT NULL,
  updatedate TIMESTAMP(7) NOT NULL,
  language VARCHAR2(2 CHAR),
  "TYPE" VARCHAR2(3 CHAR),
  "CATEGORY" VARCHAR2(3 CHAR),
  videourl VARCHAR2(250 CHAR),
  duration VARCHAR2(100 CHAR),
  filename VARCHAR2(100 CHAR) NOT NULL,
  searchfields NVARCHAR2(1000),
  isnew NUMBER(1) NOT NULL,
  featurecode VARCHAR2(40 CHAR),
  PRIMARY KEY (code)
);

CREATE TABLE recurringperiods (
  code NVARCHAR2(2) NOT NULL,
  "NAME" NVARCHAR2(40) NOT NULL,
  searchfields NVARCHAR2(1000),
  PRIMARY KEY (code)
);

CREATE TABLE z1607monitorservicelastupdat (
  code NVARCHAR2(128) NOT NULL,
  "NAME" NCLOB,
  lastupdate TIMESTAMP(7) NOT NULL,
  searchfields NCLOB
);

CREATE TABLE batchservicesdefinitionmods (
  code NVARCHAR2(128) NOT NULL,
  "INACTIVE" NUMBER(1) NOT NULL,
  numberofthreads NUMBER(10),
  PRIMARY KEY (code),
  CONSTRAINT fk_n1485992339 FOREIGN KEY (code) REFERENCES batchservicesdefinitions (code)
);

CREATE TABLE globalcontacts (
  "ID" VARCHAR2(15 CHAR) NOT NULL,
  globaltenantid NUMBER(10) NOT NULL,
  email VARCHAR2(70 CHAR) NOT NULL,
  "INACTIVE" NUMBER(1) NOT NULL,
  isuser NUMBER(1) NOT NULL,
  internetaccess NUMBER(1) NOT NULL,
  PRIMARY KEY ("ID"),
  CONSTRAINT uq_tenant_email UNIQUE (email,globaltenantid),
  CONSTRAINT fk_n1646521352 FOREIGN KEY (globaltenantid) REFERENCES globaltenants ("ID") ON DELETE CASCADE
);

CREATE TABLE autosignupemails (
  "ID" VARCHAR2(40 CHAR) NOT NULL,
  emailbody NCLOB,
  emailsubject VARCHAR2(200 CHAR),
  status VARCHAR2(25 CHAR) NOT NULL,
  retries NUMBER(10) NOT NULL,
  createdate TIMESTAMP(7) NOT NULL,
  PRIMARY KEY ("ID")
);

CREATE TABLE z1607tenantmanagementlicense (
  "ID" NVARCHAR2(128) NOT NULL,
  tenant NUMBER(10) NOT NULL,
  packagecode NCLOB,
  numberofusers NUMBER(10)
);

CREATE TABLE analyzequeuestatus (
  code VARCHAR2(4 CHAR) NOT NULL,
  "NAME" VARCHAR2(40 CHAR) NOT NULL,
  PRIMARY KEY (code)
);

CREATE TABLE contactpasswords (
  email VARCHAR2(70 CHAR) NOT NULL,
  "PASSWORD" VARCHAR2(40 CHAR) NOT NULL,
  mustchangepassword NUMBER(1) NOT NULL,
  islocked NUMBER(1) NOT NULL,
  numberofretries NUMBER(10) NOT NULL,
  lockdatetime TIMESTAMP(7),
  mobilealertforfollowedshipment NUMBER(1) NOT NULL,
  mobileappalertonexceptions NUMBER(1) NOT NULL,
  issendnotificationformobile NUMBER(1) NOT NULL,
  PRIMARY KEY (email)
);

CREATE TABLE migrationhistory__ (
  migrationid NVARCHAR2(150) NOT NULL,
  "MODEL" BLOB NOT NULL,
  productversion NVARCHAR2(32) NOT NULL,
  contextkey NVARCHAR2(300) DEFAULT 'Logitude.Global.OracleMigration.Migrations.Configuration' NOT NULL,
  CONSTRAINT pk___migrationhistory PRIMARY KEY (migrationid,contextkey)
);

CREATE TABLE paymentmethods (
  code VARCHAR2(2 CHAR) NOT NULL,
  "NAME" NVARCHAR2(40) NOT NULL,
  searchfields NVARCHAR2(1000),
  PRIMARY KEY (code)
);

CREATE TABLE paymentcurrencies (
  code VARCHAR2(3 CHAR) NOT NULL,
  "NAME" NVARCHAR2(40) NOT NULL,
  searchfields NVARCHAR2(1000),
  PRIMARY KEY (code)
);

CREATE TABLE paymentchannels (
  code VARCHAR2(2 CHAR) NOT NULL,
  "NAME" NVARCHAR2(40) NOT NULL,
  searchfields NVARCHAR2(1000),
  PRIMARY KEY (code)
);

CREATE TABLE bluesnapcontracts (
  code VARCHAR2(10 CHAR) NOT NULL,
  "NAME" VARCHAR2(50 CHAR) NOT NULL,
  contractid VARCHAR2(15 CHAR),
  searchfields NVARCHAR2(1000),
  "INACTIVE" NUMBER(1) NOT NULL,
  PRIMARY KEY (code)
);

CREATE TABLE awbmessagesccstypes (
  code VARCHAR2(10 CHAR) NOT NULL,
  "NAME" VARCHAR2(40 CHAR) NOT NULL,
  searchfields NVARCHAR2(1000),
  PRIMARY KEY (code)
);

CREATE TABLE tenanttypes (
  code VARCHAR2(3 CHAR) NOT NULL,
  "NAME" VARCHAR2(50 CHAR) NOT NULL,
  searchfields NVARCHAR2(1000),
  PRIMARY KEY (code)
);

CREATE TABLE tenantmanagements (
  "ID" NUMBER(10) NOT NULL,
  "NAME" NVARCHAR2(100) NOT NULL,
  packagecode VARCHAR2(5 CHAR),
  trialstartdate TIMESTAMP(7),
  trialenddate TIMESTAMP(7),
  firstpaymentdate TIMESTAMP(7),
  paiduntildate TIMESTAMP(7),
  istrial NUMBER(1) NOT NULL,
  numberofusers NUMBER(10) NOT NULL,
  searchfields NVARCHAR2(1000),
  freeusers NUMBER(10),
  isrecurring NUMBER(1) NOT NULL,
  recurringperiodcode NVARCHAR2(2),
  createdate TIMESTAMP(7) NOT NULL,
  updatedate TIMESTAMP(7),
  bluesnapaccount NVARCHAR2(25),
  maincontract NVARCHAR2(25),
  temporalpackagecode NVARCHAR2(5),
  temporalstartdate TIMESTAMP(7),
  temporalenddate TIMESTAMP(7),
  paymentmethodcode VARCHAR2(2 CHAR),
  paymentchannelcode VARCHAR2(2 CHAR),
  licenseprice NUMBER,
  notes NVARCHAR2(250),
  tty NCLOB,
  lastfwbsentdate TIMESTAMP(7),
  lastfhlsentdate TIMESTAMP(7),
  statisticsupdatedate TIMESTAMP(7),
  shipmentlastdate TIMESTAMP(7),
  shipmenttotallastweek NUMBER(10) NOT NULL,
  shipmenttotallastmonth NUMBER(10) NOT NULL,
  quotelastdate TIMESTAMP(7),
  quotetotallastweek NUMBER(10) NOT NULL,
  quotetotallastmonth NUMBER(10) NOT NULL,
  arinvoicelastdate TIMESTAMP(7),
  arinvoicetotallastweek NUMBER(10) NOT NULL,
  arinvoicetotallastmonth NUMBER(10) NOT NULL,
  apinvoicelastdate TIMESTAMP(7),
  apinvoicetotallastweek NUMBER(10) NOT NULL,
  apinvoicetotallastmonth NUMBER(10) NOT NULL,
  customerlastdate TIMESTAMP(7),
  customertotallastweek NUMBER(10) NOT NULL,
  customertotallastmonth NUMBER(10) NOT NULL,
  countryname NCLOB,
  lastlogindatetime TIMESTAMP(7),
  paymentcurrencycode VARCHAR2(3 CHAR),
  issystemsupportenabled NUMBER(1) NOT NULL,
  isdistributorsupportenabled NUMBER(1) NOT NULL,
  distributorcode VARCHAR2(15 CHAR),
  isawbstockprepaid NUMBER(1) NOT NULL,
  managelicencesperuser NUMBER(1) NOT NULL,
  iscargonautenabled NUMBER(1) NOT NULL,
  isdexxconnectionenabled NUMBER(1) NOT NULL,
  lastfwbcargonautsentdate TIMESTAMP(7),
  lastfhlcargonautsentdate TIMESTAMP(7),
  paymentfailure NUMBER(1) NOT NULL,
  suspenddate TIMESTAMP(7),
  internalnotes NVARCHAR2(250),
  bluesnapcontractcode VARCHAR2(10 CHAR),
  awbmessagesccstypecode VARCHAR2(10 CHAR),
  pima VARCHAR2(25 CHAR),
  iseawbonlydemo NUMBER(1) NOT NULL,
  isrestrictedbyairline NUMBER(1) NOT NULL,
  lastffrsentdate TIMESTAMP(7),
  managesregisteredagent NUMBER(1) NOT NULL,
  activitylastdate TIMESTAMP(7),
  activitytotallastweek NUMBER(10) DEFAULT 0 NOT NULL,
  activitytotallastmonth NUMBER(10) DEFAULT 0 NOT NULL,
  opportunitylastdate TIMESTAMP(7),
  opportunitytotallastweek NUMBER(10) DEFAULT 0 NOT NULL,
  opportunitytotallastmonth NUMBER(10) DEFAULT 0 NOT NULL,
  fsulastreceiveddate TIMESTAMP(7),
  fsalastreceiveddate TIMESTAMP(7),
  fsrlastsentdate TIMESTAMP(7),
  billingbylogitude NUMBER(1) DEFAULT 0 NOT NULL,
  resellercommission NUMBER(10),
  tenanttypecode VARCHAR2(3 CHAR),
  tenantconnectedtoairlinecode VARCHAR2(2 CHAR),
  signuprequestrecipients VARCHAR2(500 CHAR),
  loginpagenotes NVARCHAR2(1000),
  supportemail VARCHAR2(100 CHAR),
  supportactivated NUMBER(1) DEFAULT 0 NOT NULL,
  ismultipackage NUMBER(1) DEFAULT 0 NOT NULL,
  packagename VARCHAR2(40 CHAR),
  oldtty VARCHAR2(33 CHAR),
  requestedairlines VARCHAR2(1000 CHAR),
  registeredairlines VARCHAR2(1000 CHAR),
  pendingairlines VARCHAR2(1000 CHAR),
  enablebranding NUMBER(1) DEFAULT 0 NOT NULL,
  customerurl VARCHAR2(250 CHAR),
  hidesharedlogistics NUMBER(1) DEFAULT 0 NOT NULL,
  contactemail VARCHAR2(70 CHAR),
  technology VARCHAR2(5 CHAR),
  shardlogisticlastdate TIMESTAMP(7),
  shardlogistictotallastweek NUMBER(10) DEFAULT 0 NOT NULL,
  shardlogistictotallastmonth NUMBER(10) DEFAULT 0 NOT NULL,
  mobilelastdate TIMESTAMP(7),
  mobiletotallastweek NUMBER(10) DEFAULT 0 NOT NULL,
  mobiletotallastmonth NUMBER(10) DEFAULT 0 NOT NULL,
  PRIMARY KEY ("ID"),
  CONSTRAINT fk_n1266234505 FOREIGN KEY (tenanttypecode) REFERENCES tenanttypes (code),
  CONSTRAINT fk_n1361064064 FOREIGN KEY (recurringperiodcode) REFERENCES recurringperiods (code),
  CONSTRAINT fk_n1487150909 FOREIGN KEY (paymentchannelcode) REFERENCES paymentchannels (code),
  CONSTRAINT fk_n534316155 FOREIGN KEY (paymentcurrencycode) REFERENCES paymentcurrencies (code),
  CONSTRAINT fk_1051857982 FOREIGN KEY (bluesnapcontractcode) REFERENCES bluesnapcontracts (code),
  CONSTRAINT fk_1717379753 FOREIGN KEY (paymentmethodcode) REFERENCES paymentmethods (code),
  CONSTRAINT fk_1856712624 FOREIGN KEY ("ID") REFERENCES globaltenants ("ID"),
  CONSTRAINT fk_758316066 FOREIGN KEY (awbmessagesccstypecode) REFERENCES awbmessagesccstypes (code)
);

CREATE TABLE convertprograminfoes (
  "ID" VARCHAR2(15 CHAR) NOT NULL,
  methodname VARCHAR2(65 CHAR) NOT NULL,
  isapplied NUMBER(1) NOT NULL,
  globaldbid NVARCHAR2(15) NOT NULL,
  PRIMARY KEY ("ID"),
  CONSTRAINT fk_n1452956649 FOREIGN KEY (globaldbid) REFERENCES globaldbs ("ID") ON DELETE CASCADE
);

CREATE TABLE tenantaddons (
  "ID" VARCHAR2(15 CHAR) NOT NULL,
  tenant NUMBER(10) NOT NULL,
  packagecode VARCHAR2(5 CHAR) NOT NULL,
  PRIMARY KEY ("ID")
);

CREATE TABLE systemmetadatalastupdates (
  "ID" VARCHAR2(40 CHAR) NOT NULL,
  translationsupdatedategmt TIMESTAMP(7) NOT NULL,
  objectfieldsupdatedategmt TIMESTAMP(7) NOT NULL,
  PRIMARY KEY ("ID")
);

CREATE TABLE monitorservicelastupdates (
  code VARCHAR2(15 CHAR) NOT NULL,
  "NAME" NCLOB,
  lastupdate TIMESTAMP(7) NOT NULL,
  searchfields NCLOB,
  CONSTRAINT pk_monitorservicelastupdates PRIMARY KEY (code)
);

CREATE TABLE mobilenotificationlogs (
  "ID" VARCHAR2(40 CHAR) NOT NULL,
  email VARCHAR2(70 CHAR) NOT NULL,
  notificationmessage NVARCHAR2(500) NOT NULL,
  entityid VARCHAR2(15 CHAR),
  objecttableid VARCHAR2(15 CHAR),
  exception VARCHAR2(100 CHAR),
  "LOG" CLOB,
  iosstatus VARCHAR2(1 CHAR) NOT NULL,
  androidstatus VARCHAR2(1 CHAR) NOT NULL,
  numberofretriesios NUMBER(10) NOT NULL,
  numberofretriesandroid NUMBER(10) NOT NULL,
  tenant NUMBER(10) NOT NULL,
  createdate TIMESTAMP(7) NOT NULL,
  isexception NUMBER(1) NOT NULL,
  isread NUMBER(1) NOT NULL,
  isdelete NUMBER(1) NOT NULL,
  notificationmessageios NVARCHAR2(500),
  notificationmessageandroid NVARCHAR2(500),
  "XML" CLOB,
  donedate TIMESTAMP(7),
  sourceeventdate TIMESTAMP(7),
  PRIMARY KEY ("ID")
);

CREATE TABLE onetimepasswords (
  "ID" VARCHAR2(50 CHAR) NOT NULL,
  tenant NUMBER(10) NOT NULL,
  userid VARCHAR2(15 CHAR) NOT NULL,
  useremail VARCHAR2(40 CHAR) NOT NULL,
  createdate TIMESTAMP(7) NOT NULL,
  usagedate TIMESTAMP(7),
  expirationdate TIMESTAMP(7) NOT NULL,
  isused NUMBER(1) NOT NULL,
  PRIMARY KEY ("ID")
);

CREATE TABLE globaltenantcounters (
  "ID" NUMBER(10) NOT NULL,
  lastnumber NUMBER(10) NOT NULL,
  PRIMARY KEY ("ID")
);

CREATE TABLE tenantmanagementlicenses (
  "ID" VARCHAR2(15 CHAR) NOT NULL,
  tenant NUMBER(10) NOT NULL,
  packagecode NCLOB,
  numberofusers NUMBER(10),
  CONSTRAINT pk_tenantmanagementlicenses PRIMARY KEY ("ID")
);

CREATE TABLE passwordresetrequests (
  requestnumber VARCHAR2(40 CHAR) NOT NULL,
  email VARCHAR2(70 CHAR),
  isdone NUMBER(1) NOT NULL,
  ismobileonly NUMBER(1) DEFAULT 0 NOT NULL,
  expirationdate TIMESTAMP(7),
  donedate TIMESTAMP(7),
  createdate TIMESTAMP(7),
  verificationcode VARCHAR2(5 CHAR),
  "TYPE" VARCHAR2(20 CHAR),
  PRIMARY KEY (requestnumber)
);

CREATE TABLE apicredintials (
  "ID" VARCHAR2(15 CHAR) NOT NULL,
  tenant NUMBER(10) NOT NULL,
  usedfor NCLOB,
  hashedprimaryaccesskey NCLOB,
  hashedseconderyaccesskey NCLOB,
  createdate TIMESTAMP(7) NOT NULL,
  updatedate TIMESTAMP(7) NOT NULL,
  allowedips NCLOB,
  createdby NCLOB,
  updatedby NCLOB,
  maskedprimaryaccesskey NCLOB,
  maskedseconderyaccesskey NCLOB,
  CONSTRAINT pk_apicredintials PRIMARY KEY ("ID")
);

CREATE TABLE analyzequeues (
  "ID" VARCHAR2(15 CHAR) NOT NULL,
  messagebody BLOB NOT NULL,
  tenant NUMBER(10) NOT NULL,
  from_ VARCHAR2(40 CHAR) NOT NULL,
  createdate TIMESTAMP(7) NOT NULL,
  filesize NUMBER NOT NULL,
  status VARCHAR2(4 CHAR) NOT NULL,
  errormessage CLOB,
  communicationlogid VARCHAR2(15 CHAR),
  subject VARCHAR2(40 CHAR),
  connectedtotenant NUMBER(1) NOT NULL,
  connectedtoentity NUMBER(1) NOT NULL,
  retries NUMBER(10) NOT NULL,
  entityreference VARCHAR2(15 CHAR),
  searchfields NVARCHAR2(1000),
  objecttablename VARCHAR2(25 CHAR),
  stacktrace CLOB,
  awbnumber VARCHAR2(20 CHAR),
  ackreason VARCHAR2(256 CHAR),
  donedate TIMESTAMP(7),
  PRIMARY KEY ("ID"),
  CONSTRAINT fk_n1867856879 FOREIGN KEY (tenant) REFERENCES tenantmanagements ("ID") ON DELETE CASCADE,
  CONSTRAINT fk_n964638774 FOREIGN KEY (status) REFERENCES analyzequeuestatus (code) ON DELETE CASCADE
);

CREATE TABLE changepasswordlogs (
  "ID" VARCHAR2(40 CHAR) NOT NULL,
  email VARCHAR2(70 CHAR) NOT NULL,
  createdate TIMESTAMP(7) NOT NULL,
  currentpassword VARCHAR2(40 CHAR),
  enteredpassword VARCHAR2(40 CHAR),
  "LOG" VARCHAR2(500 CHAR) NOT NULL,
  PRIMARY KEY ("ID")
);

CREATE TABLE z1607globalcontacts (
  "ID" VARCHAR2(15 CHAR) NOT NULL,
  globaltenantid NUMBER(10) NOT NULL,
  email VARCHAR2(70 CHAR) NOT NULL,
  "INACTIVE" NUMBER(1) NOT NULL,
  isuser NUMBER(1) NOT NULL,
  internetaccess NUMBER(1) NOT NULL
);

CREATE TABLE z1607apicredintials (
  "ID" NVARCHAR2(128) NOT NULL,
  tenant NUMBER(10) NOT NULL,
  usedfor NCLOB,
  hashedprimaryaccesskey NCLOB,
  hashedseconderyaccesskey NCLOB,
  createdate TIMESTAMP(7) NOT NULL,
  updatedate TIMESTAMP(7) NOT NULL,
  allowedips NCLOB,
  createdby NCLOB,
  updatedby NCLOB,
  maskedprimaryaccesskey NCLOB,
  maskedseconderyaccesskey NCLOB
);

CREATE TABLE "SETTINGS" (
  "ID" VARCHAR2(40 CHAR) NOT NULL,
  logitudeurl VARCHAR2(1000 CHAR) NOT NULL,
  champurl VARCHAR2(1000 CHAR) NOT NULL,
  deploymentstage VARCHAR2(20 CHAR) NOT NULL,
  champenv VARCHAR2(20 CHAR) NOT NULL,
  customercareip VARCHAR2(100 CHAR) NOT NULL,
  totangoserviceid VARCHAR2(20 CHAR) NOT NULL,
  usingazure NUMBER(1) NOT NULL,
  storageaccountname VARCHAR2(100 CHAR) NOT NULL,
  storageaccountkey VARCHAR2(1000 CHAR) NOT NULL,
  islogenabled NUMBER(1) NOT NULL,
  storagetype VARCHAR2(60 CHAR) NOT NULL,
  logitudecrmtenantnumber NUMBER(10) NOT NULL,
  iossharedappminimumversion NUMBER NOT NULL,
  androidsharedappminimumversion NUMBER NOT NULL,
  autosignupemail VARCHAR2(70 CHAR) NOT NULL,
  autosignuppassword VARCHAR2(40 CHAR) NOT NULL,
  forcehttps NUMBER(1) NOT NULL,
  checkconnectionurl VARCHAR2(1000 CHAR) NOT NULL,
  workenvironment VARCHAR2(20 CHAR),
  logocode VARCHAR2(5 CHAR),
  enablehybridqueue NUMBER(1) NOT NULL,
  glshkurl VARCHAR2(1000 CHAR) NOT NULL,
  glshkenv VARCHAR2(20 CHAR) NOT NULL,
  notificationhubname VARCHAR2(100 CHAR),
  notificationhubconnstring VARCHAR2(600 CHAR),
  customertenantsurl VARCHAR2(600 CHAR),
  forwardertenantsurl VARCHAR2(600 CHAR),
  domainname VARCHAR2(100 CHAR),
  productname VARCHAR2(100 CHAR),
  emailalertsignature VARCHAR2(100 CHAR),
  queueservicemode VARCHAR2(15 CHAR),
  storageservicemode VARCHAR2(15 CHAR),
  isupgradingchamp NUMBER(1) DEFAULT 0 NOT NULL,
  htmlversion VARCHAR2(10 CHAR),
  qboconsumerkey VARCHAR2(100 CHAR),
  qboapptoken VARCHAR2(100 CHAR),
  qboconsumersecretkey VARCHAR2(100 CHAR),
  androidapplink VARCHAR2(1000 CHAR),
  iosapplink VARCHAR2(1000 CHAR),
  androidpodappminimumversion NUMBER DEFAULT 0 NOT NULL,
  iospodappminimumversion NUMBER DEFAULT 0 NOT NULL,
  minimumoutlookversion VARCHAR2(10 CHAR),
  sameuserloginenabled NUMBER(1) DEFAULT 0 NOT NULL,
  layoutdirection VARCHAR2(3 CHAR),
  PRIMARY KEY ("ID")
);

CREATE TABLE contactmobiledevices (
  deviceid VARCHAR2(500 CHAR) NOT NULL,
  email VARCHAR2(70 CHAR) NOT NULL,
  platform VARCHAR2(10 CHAR) NOT NULL,
  "VERSION" VARCHAR2(10 CHAR),
  devicetype VARCHAR2(200 CHAR),
  createdate TIMESTAMP(7) NOT NULL,
  updatedate TIMESTAMP(7) NOT NULL,
  issignout NUMBER(1) NOT NULL,
  notificationuniquekey VARCHAR2(50 CHAR) DEFAULT '' NOT NULL,
  appversion VARCHAR2(10 CHAR),
  PRIMARY KEY (deviceid)
);

CREATE TABLE performancelogs (
  "ID" VARCHAR2(40 CHAR) NOT NULL,
  logdatetimegmt TIMESTAMP(7) NOT NULL,
  logdatetimelocal TIMESTAMP(7) NOT NULL,
  email VARCHAR2(50 CHAR) NOT NULL,
  modelname VARCHAR2(40 CHAR) NOT NULL,
  methodname VARCHAR2(65 CHAR) NOT NULL,
  monitoringservice NUMBER(1) NOT NULL,
  executiontime NUMBER(10) NOT NULL,
  userip VARCHAR2(15 CHAR) NOT NULL,
  methodparameters VARCHAR2(500 CHAR),
  tenant NUMBER(10) NOT NULL,
  servertime NUMBER(10) DEFAULT 0 NOT NULL,
  PRIMARY KEY ("ID")
);

CREATE TABLE logitudeleads (
  "ID" VARCHAR2(40 CHAR) NOT NULL,
  phonenumber VARCHAR2(40 CHAR),
  createdate TIMESTAMP(7) NOT NULL,
  companyname NVARCHAR2(100) NOT NULL,
  contactname NVARCHAR2(40) NOT NULL,
  numberofbranches NUMBER(10) NOT NULL,
  country VARCHAR2(120 CHAR) NOT NULL,
  email VARCHAR2(70 CHAR) NOT NULL,
  numberofusers NUMBER(10) NOT NULL,
  comments NVARCHAR2(500),
  requesttype VARCHAR2(20 CHAR),
  isemailverified NUMBER(1) NOT NULL,
  tenantnumber NUMBER(10) NOT NULL,
  lastupdatedate TIMESTAMP(7) NOT NULL,
  issenttocustomer NUMBER(1) NOT NULL,
  statuscode VARCHAR2(20 CHAR),
  isuseropened NUMBER(1) NOT NULL,
  customerid NVARCHAR2(15),
  opportunityid NVARCHAR2(15),
  searchfields NVARCHAR2(1000),
  leadsource VARCHAR2(60 CHAR),
  iatacode VARCHAR2(7 CHAR),
  casscode VARCHAR2(4 CHAR),
  packagecode VARCHAR2(5 CHAR),
  "STATE" VARCHAR2(40 CHAR),
  city VARCHAR2(25 CHAR),
  zipcode VARCHAR2(15 CHAR),
  street VARCHAR2(65 CHAR),
  vatnumber VARCHAR2(20 CHAR),
  isuseremailsent NUMBER(1) DEFAULT 0 NOT NULL,
  PRIMARY KEY ("ID")
);

CREATE INDEX ix_analyzequeues_tenant ON analyzequeues(tenant);

CREATE INDEX ix_analyzequeues_status ON analyzequeues(status);

CREATE INDEX ix_n1549733828 ON tenantmanagements(bluesnapcontractcode);

CREATE INDEX ix_2038310444 ON tenantmanagements(tenanttypecode);

CREATE INDEX ix_662185169 ON convertprograminfoes(globaldbid);

CREATE INDEX ix_1494313728 ON tenantmanagements(recurringperiodcode);

CREATE INDEX ix_1660952789 ON globaltenants(privatelabelid);

CREATE INDEX ix_1500612494 ON tenantmanagements(paymentcurrencycode);

CREATE INDEX ix_globaltenants_globaldbid ON globaltenants(globaldbid);

CREATE INDEX ix_n1564971923 ON tenantmanagements(paymentmethodcode);

CREATE INDEX ix_n1616226428 ON globalcontacts(globaltenantid);

CREATE INDEX ix_n529997088 ON tenantmanagements(paymentchannelcode);

CREATE INDEX ix_731214027 ON tenantmanagements(awbmessagesccstypecode);

CREATE OR REPLACE PROCEDURE GetNextGlobalTenantId(
    v_pLastNumber OUT NUMBER )
AS
  v_Current NUMBER(10,0);
BEGIN
   BEGIN
    SELECT LastNumber INTO v_Current FROM GlobalTenantCounters WHERE Id = 1;
    v_Current := v_Current + 1 ;
    UPDATE GlobalTenantCounters SET LastNumber = LastNumber + 1 WHERE Id = 1;
  END;
  v_pLastNumber := v_Current ;
END;
/

