--
-- Script generated by Schema Compare for Oracle 1.0.0.0 on 28/09/2017 08:07:36
--
SET DEFINE OFF

ALTER TABLE "SETTINGS" ADD (dropboxappkey VARCHAR2(50 CHAR),dropboxappsecret VARCHAR2(50 CHAR),abmproductid VARCHAR2(25 CHAR));

ALTER TABLE tenantmanagements ADD (silverlightenddate TIMESTAMP(7));

CREATE TABLE agentsharedlogisticskeys (
  sharedkey NVARCHAR2(128) NOT NULL,
  agent1tenant NUMBER(10) NOT NULL,
  agent2tenant NUMBER(10) NOT NULL,
  createdate TIMESTAMP(7) NOT NULL,
  createdbyuseremail NCLOB,
  approvedbyuseremail NCLOB,
  approvedate TIMESTAMP(7),
  inactivedate TIMESTAMP(7),
  inactivebyuseremail NCLOB,
  statuscode NCLOB,
  PRIMARY KEY (sharedkey)
);





--INSERT INTO MigrationHistory__ 
DECLARE
  BINARY_VALUE BLOB;
BEGIN
  DBMS_LOB.CREATETEMPORARY(BINARY_VALUE, TRUE);
  DBMS_LOB.APPEND(BINARY_VALUE, TO_BLOB(CAST('61341F9B40A609DFB2F70E82E12EBF74CFDD34215F1F4562CBE7030677765423793B3E9C3DCCEEE76D941EBF46DBF298C3FD660A6E0D41556E86A3A62F8592BB2CB366001D6A757D546A8630A62D86827A29F2FBB840C7C049BC9D0C553DC0880A580A2DF8294630D0EA36705E9196B294D01FC436CD92EC119D5B22F1D62034F566441A6031B430D9E09180C53E6FC8440F6030E2D46FE8A5BC04B4B83E813D70870114B77C34D9A8F4824845A6034FCA99165D1352C4D4CE98759491815FC30B9692DBB458AB8AB04BC99741B7BC04C075AD072E3BE17A0FD9098A48151794C697ADFD60AB5ACCFA8F05BE022DCD95765D9C4D85AF3D543351FA101DA2C7CB2C4D455BADB5F759D1E33556997083379069754C1D0484A1A979C826A8455B42336359281D791E7F6DEFFEB35D398862894FC60B2F1B944D6A74C8099E6920766DC340FB3713FC5E2E2F74CB5D6828D636057EFA2D68D3D2D0DF0E845C556D82C8CE97E3BDD4B27620546FD7E92851B47FD045DE84DA823097544B8F174341979155DD965CAF803D073263C6BFCEB3FD43B621E6B5401C35A5074C6731E6B1643340D87D82DFB0B1CBD74D10B15CC5F9C2F5594295FFA04B3D26C00B08A901E4C4655263AB072070F87A602A2AEE4B7160126142C3D350DB04E4DBC72FA740A4515A567F9771FAB8F9F0E5DF555BBB6B680324A0603C0845A51485F29C2241B6A9F2A0A678A022DF17D9D74F85B88F1FD3A89E92AD577394117C052C0527977DB40AD5051FED339206C39A4606901E8492F11997154982132012D712E9890FC5E7B888BFC449656853FD095262A2884062ADB0C74629D7F192725D5449F21D2E76012704C30370BF7C73D290F3682BDE7DAFB7A334FFA3CD0708878720E992BC979E52E10FA6F4F598C3639F61DB3E093032E0F760DAF0D14CAE41BC66F069424C8BA41D3E7E103FCAF6E67A304E1347D5C3BD2AA5F2ED1FD241F786F4A8C7E77EC3EE7EA72E1326F19EDFF94CE157BF13CD5E5280150ED402365367A7A67E43EFB3C738ADFE434BBD09F2990764ED86E498E025D4BBAA411497755EAE58DC3E6DDA1F58CC081A0FA5572705D13FB210A099327830D283D041650010EB3B1FCC4C43B73DB9DF008D357BAC32C4D891AC591E42929F7349EA8470960640189A58D9450107CB2F1352F1396A5E53A5795B354AA247B1E99E80CB0151301ED8A04E5ECB123156C4EAB6200D72AAAF35911FFE4AEB5912DB561805468C15BC643F4C63035A05D425F80D99586B06E2ACEE3BAF7B9C38ECFBE8AB289F2FB6F5619459FECC20009308468566105C62AD4302D3533F1E1EDEA44569DB65E0A6874509641F660642AE9676E9F1E99CEB4A5CC9A0D836608BA5BABEF9E132DBEF8FE9B09A50FE0BA79723480D1D1B46944164239524D0F045630F480F421D7E6907812648F27071C73CE4D4174DC7E9E3FBA8283F8AFF398AA2DC748F20720834D12BEBF5C9DDB2FE194188690C52A12487A0E3B29EF8821BDA049AC82BCECB554212F1AFBFB59A9AD9A0B86AAC0C69FFFADBFDF649ECA3EE41F56799E555BBF536DB89A4689EFEEB6F1F8F95F45EB47F5D89227E1C55FC6B5C44372AED3137E9D7ACEA131C44DE44217BD443FAE4EED5DC8A32DA456574515FD7106DCBEE4CEE26177D8E92633DC0BDFF227637E9876379389655C862FF25512ADF7FFD8DB6FFAFBF193EFFEB4373156CE12384CACDB80A417C48DF1EE36437F87D1D25FA4C13A6A21ED1FC5554CFDB7759563FC5E3F3A0E9F72C652AEAE8BB1287AA5EA96700C4FE500F33161FD2FBE8BB38C5B7AAC3F75E3C46DBE7EAF9F7B81960C394D85F844AFBBFAEE2FA20927DD1E918E5AB3FAB3CBCDBFFF87FFF2F4A10DAE515434800' AS LONG RAW)));
  INSERT INTO MigrationHistory__ (MigrationId, ContextKey, Model, ProductVersion) VALUES ('201612151027337_A57D1710', 'Logitude.OracleDatabaseMigration.Migrations.Configuration', BINARY_VALUE, '6.1.3-40302');
END;
/


commit 
/