--
-- Script generated by Schema Compare for Oracle 3.1.5.1321 on 17/07/2016 15:24:11
--
SET DEFINE OFF

ALTER TABLE supplierinvoiceitemscondeclars DROP CONSTRAINT fk_771081895;

ALTER TABLE supplierinvoiceitemstaxes DROP CONSTRAINT fk_338262327;

ALTER TABLE supplierinvoiceitemstaxes DROP CONSTRAINT fk_508763502;

ALTER TABLE consignmentpackages DROP CONSTRAINT fk_n853024624;

ALTER TABLE consignmentpackages DROP CONSTRAINT fk_918667578;

ALTER TABLE supplierinvoiceitems DROP CONSTRAINT fk_n1081347333;

ALTER TABLE supplierinvoiceitems DROP CONSTRAINT fk_n924589980;

ALTER TABLE supplierinvoiceitems DROP CONSTRAINT fk_2112399992;

CREATE SEQUENCE queuemessages_seq1 MAXVALUE 99999 CYCLE NOCACHE;

ALTER TABLE bookings ADD (accountnumber VARCHAR2(14 CHAR),istemperaturesensitive NUMBER(1) DEFAULT 0 NOT NULL);

ALTER TABLE bookings DROP (ffrlastsendingdate);

ALTER TABLE accountingtransferheaders ADD (notes NCLOB);

CREATE GLOBAL TEMPORARY TABLE tt_v_memorytable3 (
  code VARCHAR2(5 BYTE),
  "NAME" VARCHAR2(40 BYTE)
)
ON COMMIT DELETE ROWS;

ALTER TABLE customerproducts ADD (prepaidcollectid VARCHAR2(1 CHAR));

ALTER TABLE customerproducts ADD CONSTRAINT fk_1416916274 FOREIGN KEY (prepaidcollectid) REFERENCES prepaidcollects ("ID");

ALTER TABLE documenttypetemplates ADD (from1 NVARCHAR2(100),replyto NVARCHAR2(100));

ALTER TABLE opportunityadditionalservices ADD (notes NVARCHAR2(500));

ALTER TABLE tickets ADD (fullresolvedtime TIMESTAMP(7));

ALTER TABLE tickets DROP (resolvetime);

ALTER TABLE tickets MODIFY (ccs VARCHAR2(4000 CHAR),internalusers VARCHAR2(4000 CHAR));

ALTER TABLE shipments ADD (exceptionresolveddescription NVARCHAR2(250));

ALTER TABLE participants ADD (registrationdate TIMESTAMP(7));

ALTER TABLE airlines ADD (scheduledays NUMBER(10),noavailabilityinfvamessages NUMBER(1) DEFAULT 0 NOT NULL);

ALTER TABLE customeradditionalservices ADD (notes NVARCHAR2(500));

ALTER TABLE paymentorders ADD (paymentorderleftamount NUMBER(16,2));

ALTER TABLE hybridpartners ADD ("INACTIVE" NUMBER(1) DEFAULT 0 NOT NULL);

ALTER TABLE inboundemaillines ADD (htmlfullbody NCLOB);

ALTER TABLE inboundemaillines MODIFY (ccs VARCHAR2(4000 CHAR),internalusers VARCHAR2(4000 CHAR));

ALTER TABLE opportunityproducts ADD (prepaidcollectid VARCHAR2(1 CHAR));

ALTER TABLE opportunityproducts ADD CONSTRAINT fk_n1051270192 FOREIGN KEY (prepaidcollectid) REFERENCES prepaidcollects ("ID");

CREATE TABLE newsupplieritemvehicle (
  declarationid VARCHAR2(15 CHAR) NOT NULL,
  invoicecounterkey NUMBER(10) NOT NULL,
  invoiceitemlinenumber NUMBER(10) NOT NULL,
  linenumber NUMBER(10) NOT NULL,
  sequencenumeric NUMBER(10),
  vehicletypecode VARCHAR2(4 CHAR),
  vehiclechassisnumber VARCHAR2(20 CHAR),
  richbitfilenumber VARCHAR2(10 CHAR),
  vehicleid VARCHAR2(15 CHAR),
  tenant NUMBER(10) NOT NULL
);

ALTER TABLE packagefeatures MODIFY (packagecode VARCHAR2(5 CHAR));

CREATE TABLE paymenttermdatetypes (
  code VARCHAR2(5 CHAR) NOT NULL,
  "NAME" VARCHAR2(60 CHAR) NOT NULL,
  searchfields NVARCHAR2(1000),
  PRIMARY KEY (code)
);

ALTER TABLE paymentterms ADD (currentmonth NUMBER(1) DEFAULT 0 NOT NULL,fromdatetypecode VARCHAR2(5 CHAR) DEFAULT '' NOT NULL);

ALTER TABLE paymentterms ADD CONSTRAINT fk_n1299164935 FOREIGN KEY (fromdatetypecode) REFERENCES paymenttermdatetypes (code);

ALTER TABLE apinvoices ADD (operationaldate TIMESTAMP(7));

CREATE TABLE automationhistorys (
  "VERSION" NUMBER(10) NOT NULL,
  automationsid VARCHAR2(15 CHAR) NOT NULL,
  tenant NUMBER(10) NOT NULL,
  automationxml NCLOB,
  createdate TIMESTAMP(7),
  PRIMARY KEY ("VERSION",automationsid)
);

CREATE TABLE entitycasualdata (
  "ID" VARCHAR2(15 CHAR) NOT NULL,
  tenant NUMBER(10) NOT NULL,
  casualtypecode VARCHAR2(4 CHAR),
  objecttableid VARCHAR2(15 CHAR),
  entityid VARCHAR2(15 CHAR),
  localname VARCHAR2(100 CHAR),
  englishname VARCHAR2(100 CHAR),
  city VARCHAR2(100 CHAR),
  zipcode VARCHAR2(100 CHAR),
  faxnumber VARCHAR2(40 CHAR),
  phonenumber VARCHAR2(40 CHAR),
  address1 VARCHAR2(150 CHAR),
  address2 VARCHAR2(150 CHAR),
  searchfields CLOB,
  PRIMARY KEY ("ID")
);

CREATE TABLE rg_temp_361101706_45 (
  code VARCHAR2(3 CHAR) NOT NULL,
  englishname VARCHAR2(40 CHAR),
  localname NVARCHAR2(100),
  searchfields NVARCHAR2(1000),
  "INACTIVE" NUMBER(1) NOT NULL,
  malamid NUMBER(10),
  PRIMARY KEY (code)
);

create table z1606measurmentunits as  SELECT * FROM measurmentunits;
INSERT INTO rg_temp_361101706_45(code,englishname,localname,searchfields,"INACTIVE",malamid) SELECT code,englishname,localname,searchfields,"INACTIVE",TO_NUMBER(malamid) FROM measurmentunits;
commit ;

DROP TABLE measurmentunits;

ALTER TABLE rg_temp_361101706_45 RENAME TO measurmentunits;

ALTER TABLE arinvoices ADD (creditedbyarinvoiceid VARCHAR2(15 CHAR),operationaldate TIMESTAMP(7));

ALTER TABLE arinvoices DROP CONSTRAINT fk_428970592;

ALTER TABLE arinvoices ADD CONSTRAINT fk_n1188848658 FOREIGN KEY (creditedbyarinvoiceid) REFERENCES arinvoices ("ID");

ALTER TABLE arinvoices ADD CONSTRAINT fk_428970592 FOREIGN KEY (cancelledbyarinvoiceid) REFERENCES arinvoices ("ID");

DROP INDEX ix_624428485;

ALTER TABLE claimimporterdeclarsp3lois DROP CONSTRAINT fk_1638544082;

ALTER TABLE claimimporterdeclarsp3lois ADD (counterkey NUMBER(10) NOT NULL,lineno NUMBER(10) NOT NULL);

ALTER TABLE claimimporterdeclarsp3lois DROP PRIMARY KEY DROP INDEX;

ALTER TABLE claimimporterdeclarsp3lois DROP CONSTRAINT fk_1638544082;

ALTER TABLE claimimporterdeclarsp3lois DROP (importerloideclarationtypecode);

ALTER TABLE claimimporterdeclarsp3lois MODIFY (declarationnumber NULL);

ALTER TABLE claimimporterdeclarsp3lois ADD PRIMARY KEY (claimid,counterkey,lineno);

ALTER TABLE claimimporterdeclarspage3s DROP PRIMARY KEY DROP INDEX;

ALTER TABLE claimimporterdeclarspage3s ADD (lineno NUMBER(10) DEFAULT 0 NOT NULL);

CREATE TABLE tasksscheduler (
  "ID" VARCHAR2(15 CHAR) NOT NULL,
  tenant NUMBER(10) NOT NULL,
  createdatetime TIMESTAMP(7) NOT NULL,
  createdby VARCHAR2(15 CHAR) NOT NULL,
  updatedatetime TIMESTAMP(7) NOT NULL,
  updatedby VARCHAR2(15 CHAR) NOT NULL,
  "NAME" VARCHAR2(100 CHAR),
  description VARCHAR2(200 CHAR),
  nextruntime TIMESTAMP(7),
  lastruntime TIMESTAMP(7),
  lastrunresult VARCHAR2(150 CHAR),
  "INACTIVE" NUMBER(1) NOT NULL,
  serviceclassname VARCHAR2(100 CHAR),
  triggertype VARCHAR2(1 CHAR),
  satarday NUMBER(1) NOT NULL,
  sunday NUMBER(1) NOT NULL,
  monday NUMBER(1) NOT NULL,
  tuesday NUMBER(1) NOT NULL,
  wednesday NUMBER(1) NOT NULL,
  thursday NUMBER(1) NOT NULL,
  friday NUMBER(1) NOT NULL,
  monthlyday NUMBER(10) NOT NULL,
  startdatetime TIMESTAMP(7),
  repeatinminutes NUMBER(10) NOT NULL,
  islastrunerror NUMBER(1) NOT NULL,
  PRIMARY KEY ("ID")
);

CREATE TABLE rg_temp_361101706_46 (
  claimid VARCHAR2(15 CHAR) NOT NULL,
  saleamountafter NUMBER(16,2),
  saleamountbefore NUMBER(16,2),
  descriptionofgoods NVARCHAR2(256),
  inventoryamount NUMBER(12,5),
  soldgoodsamount NUMBER(12,5),
  lineno NUMBER(10) NOT NULL,
  saleamountclaim NUMBER(16,2),
  tenant NUMBER(10) DEFAULT 0 NOT NULL,
  CONSTRAINT RG_TEMP_361101706_57 PRIMARY KEY (claimid,lineno) USING INDEX (CREATE UNIQUE INDEX rg_temp_361101706_58 ON rg_temp_361101706_46(claimid,lineno)    ),
  CONSTRAINT RG_TEMP_361101706_59 FOREIGN KEY (claimid) REFERENCES claims ("ID")
);


create table z1607claimimporterdeclspa3bs as SELECT * FROM claimimporterdeclarspage3bs;

INSERT INTO rg_temp_361101706_46(claimid,saleamountafter,saleamountbefore,descriptionofgoods,inventoryamount,soldgoodsamount,lineno,saleamountclaim) SELECT claimid,saleamountafter,saleamountbefore,descriptionofgoods,inventoryamount,soldgoodsamount,TO_NUMBER(lineno),NULL FROM claimimporterdeclarspage3bs;
commit ;
DROP TABLE claimimporterdeclarspage3bs;

ALTER TABLE rg_temp_361101706_46 RENAME TO claimimporterdeclarspage3bs;

ALTER TABLE claimimporterdeclarspage3bs RENAME CONSTRAINT RG_TEMP_361101706_57 TO pk_claimimporterdeclarspage3bs;

ALTER INDEX rg_temp_361101706_58 RENAME TO PK_CLAIMIMPORTERDECLARSPAGE3BS;

ALTER TABLE claimimporterdeclarspage3bs RENAME CONSTRAINT RG_TEMP_361101706_59 TO fk_105904260;

CREATE INDEX ix_1822660010 ON claimimporterdeclarspage3bs(claimid);

ALTER TABLE ticketclassifications ADD (manageruserid VARCHAR2(15 CHAR),escalationnotify VARCHAR2(4000 CHAR));

ALTER TABLE ticketclassifications DROP (escalationuserid);

ALTER TABLE ticketclassifications ADD CONSTRAINT fk_270676564 FOREIGN KEY (manageruserid) REFERENCES "USERS" ("ID");

DROP INDEX ix_866452815;

ALTER TABLE claimsrelatedentsreasonsexps DROP CONSTRAINT fk_n1422415057;

ALTER TABLE claimsrelatedentsreasonsexps DROP CONSTRAINT fk_n2063305696;

ALTER TABLE claimsrelatedentsreasonsexps ADD (reasonlineno NUMBER(10) NOT NULL,lineno NUMBER(10) NOT NULL);

ALTER TABLE claimsrelatedentsreasonsexps DROP PRIMARY KEY DROP INDEX;

ALTER TABLE claimsrelatedentsreasonsexps DROP CONSTRAINT fk_n1422415057;

ALTER TABLE claimsrelatedentsreasonsexps DROP (reasonlisttypecode);

ALTER TABLE claimsrelatedentsreasonsexps MODIFY (claimexplanationtypecode NULL);

ALTER TABLE claimsrelatedentsreasonsexps ADD PRIMARY KEY (claimid,counterkey,reasonlineno,lineno);

ALTER TABLE claimsrelatedentitiesreasons DROP CONSTRAINT fk_n470555016;

ALTER TABLE claimsrelatedentitiesreasons DROP CONSTRAINT fk_n961361905;

ALTER TABLE claimsrelatedentitiesreasons ADD (lineno NUMBER(10) NOT NULL);

ALTER TABLE claimsrelatedentitiesreasons MODIFY (reasonlisttypecode NULL);

ALTER TABLE claimsrelatedentitiesreasons DROP PRIMARY KEY DROP INDEX;

ALTER TABLE claimsrelatedentitiesreasons ADD PRIMARY KEY (claimid,counterkey,lineno);

ALTER TABLE awbstockusagehistories ADD (firstactionbyuserid VARCHAR2(15 CHAR) NOT NULL,lastactionbyuserid VARCHAR2(15 CHAR) NOT NULL,actiontype VARCHAR2(15 CHAR) DEFAULT '' NOT NULL,firstactiondate TIMESTAMP(7),lastactiondate TIMESTAMP(7));

ALTER TABLE awbstockusagehistories DROP (firstsenddate,lastsenddate,firstsenderid,lastsenderid);

ALTER TABLE awbstockusagehistories ADD CONSTRAINT fk_363646558 FOREIGN KEY (firstactionbyuserid) REFERENCES "USERS" ("ID");

ALTER TABLE awbstockusagehistories ADD CONSTRAINT fk_668163641 FOREIGN KEY (lastactionbyuserid) REFERENCES "USERS" ("ID");

ALTER TABLE inboundemails ADD (analyzequeueid VARCHAR2(15 CHAR));

ALTER TABLE employeegroups ADD (manageruserid VARCHAR2(15 CHAR),escalationnotify VARCHAR2(4000 CHAR));

ALTER TABLE employeegroups DROP (escalationuserid);

ALTER TABLE employeegroups ADD CONSTRAINT fk_n1637418196 FOREIGN KEY (manageruserid) REFERENCES "USERS" ("ID");

ALTER TABLE documentsfilings ADD (lastversion NUMBER(10) DEFAULT 0 NOT NULL);

ALTER TABLE objectfields ADD (canautomatesetvalue NUMBER(1) DEFAULT 0 NOT NULL,allowedinairlinemessaging NUMBER(1) DEFAULT 0 NOT NULL);

DROP INDEX ix_n370408663;

ALTER TABLE claimimporterdeclarspage3as DROP PRIMARY KEY DROP INDEX;

ALTER TABLE claimimporterdeclarspage3as ADD (lineno NUMBER(10) DEFAULT 0 NOT NULL);

ALTER TABLE awbdescriptionofgoods ADD (istemperaturesensitive NUMBER(1) DEFAULT 0 NOT NULL);

ALTER TABLE notifications ADD (customerid VARCHAR2(15 CHAR));

ALTER TABLE notifications ADD CONSTRAINT fk_n571768919 FOREIGN KEY (customerid) REFERENCES customers ("ID");

CREATE TABLE newpaymentorders (
  "ID" VARCHAR2(15 CHAR) NOT NULL,
  tenant NUMBER(10) NOT NULL,
  paymentnumber VARCHAR2(9 CHAR),
  totalsumtopay NUMBER(18,2),
  lastpaydate TIMESTAMP(7),
  reason NVARCHAR2(512),
  customerid VARCHAR2(15 CHAR),
  customeractivitytypecode VARCHAR2(2 CHAR),
  paymentordertypecode VARCHAR2(2 CHAR),
  paymentprocesscode VARCHAR2(4 CHAR),
  paymentstatuscode VARCHAR2(2 CHAR),
  customshousecode VARCHAR2(17 CHAR),
  actualpaydate TIMESTAMP(7),
  internalnotes NVARCHAR2(512),
  createdate TIMESTAMP(7),
  updatedate TIMESTAMP(7),
  searchfields NVARCHAR2(2000),
  customsentitytypecode VARCHAR2(9 CHAR),
  firstentityid VARCHAR2(35 CHAR),
  secondentityid VARCHAR2(35 CHAR),
  thirdentityid VARCHAR2(35 CHAR),
  importerid VARCHAR2(15 CHAR),
  isclosed NUMBER(1) NOT NULL,
  concurrencyguid VARCHAR2(40 CHAR),
  accountingcustomfile VARCHAR2(30 CHAR),
  customfiles VARCHAR2(30 CHAR),
  paymentorderselectedlabel VARCHAR2(100 CHAR)
);

CREATE TABLE newsupplierinvitemcers (
  declarationid VARCHAR2(15 CHAR) NOT NULL,
  invoicecounterkey NUMBER(10) NOT NULL,
  linenumber NUMBER(10) NOT NULL,
  itemcertificatecounterkey NUMBER(10) NOT NULL,
  certificatenumber VARCHAR2(35 CHAR),
  tenant NUMBER(10) NOT NULL,
  reqconfirmationtypecode VARCHAR2(4 CHAR),
  certificateexemptiontypecode VARCHAR2(3 CHAR),
  attachmenttypecode VARCHAR2(3 CHAR),
  resconfirmationtypecode VARCHAR2(4 CHAR),
  customsattachmentid VARCHAR2(35 CHAR),
  sequencenumeric NUMBER(10) NOT NULL
);

ALTER TABLE entitychanges ADD (automationconditionfieldsxml NCLOB,changesfieldsxml NCLOB,changesautomationfieldsxml NCLOB,setautomationssucceedxml NCLOB,emailautomationssucceedxml NCLOB,setautomationfailedxml NCLOB,emailautomationfailedxml NCLOB);

ALTER TABLE entitychanges DROP (oldentity,currententity);

ALTER TABLE entitychanges MODIFY (createbyuserid NULL);

ALTER TABLE entitychanges ADD CONSTRAINT fk_2045978974 FOREIGN KEY (createbyuserid) REFERENCES "USERS" ("ID");

CREATE TABLE rg_temp_361101706_47 (
  "ID" VARCHAR2(15 CHAR) NOT NULL,
  tenant NUMBER(10) NOT NULL,
  sourcetenant NUMBER(10),
  ccs VARCHAR2(10 CHAR) NOT NULL,
  airlinecode VARCHAR2(2 CHAR) NOT NULL,
  messagetypecode VARCHAR2(3 CHAR) NOT NULL,
  prefix VARCHAR2(3 CHAR) NOT NULL,
  awbnumber VARCHAR2(20 CHAR),
  hawb VARCHAR2(20 CHAR),
  sentdate TIMESTAMP(7),
  participant VARCHAR2(60 CHAR),
  iatacode VARCHAR2(7 CHAR),
  casscode VARCHAR2(4 CHAR),
  username VARCHAR2(70 CHAR),
  origin VARCHAR2(3 CHAR),
  destination VARCHAR2(3 CHAR),
  pieces NUMBER(10),
  grossweight NUMBER(18,2),
  grossweightunitcode VARCHAR2(3 CHAR),
  chargeableweight NUMBER(18,2),
  chargeableweightunitcode VARCHAR2(3 CHAR),
  "VOLUME" NUMBER(18,2),
  volumeunitcode VARCHAR2(3 CHAR),
  descriptionofgoods VARCHAR2(512 CHAR),
  directparticipant NUMBER(1) NOT NULL,
  isupdatedinairlinetenant NUMBER(1) NOT NULL,
  searchfields NVARCHAR2(1000),
  participantid VARCHAR2(15 CHAR),
  useremail VARCHAR2(100 CHAR),
  PRIMARY KEY ("ID")
);

create table  z1607logitudemessgestrnslogs as SELECT * FROM logitudemessagestranslogs;

INSERT INTO rg_temp_361101706_47("ID",tenant,sourcetenant,ccs,airlinecode,messagetypecode,prefix,awbnumber,hawb,sentdate,participant,iatacode,casscode,username,origin,destination,pieces,grossweight,grossweightunitcode,chargeableweight,chargeableweightunitcode,"VOLUME",volumeunitcode,descriptionofgoods,directparticipant,isupdatedinairlinetenant,searchfields,participantid,useremail) SELECT "ID",tenant,sourcetenant,ccs,airlinecode,messagetypecode,prefix,awbnumber,hawb,sentdate,participant,iatacode,casscode,username,origin,destination,pieces,grossweight,grossweightunitcode,chargeableweight,chargeableweightunitcode,"VOLUME",volumeunitcode,descriptionofgoods,TO_NUMBER(directparticipant),isupdatedinairlinetenant,searchfields,NULL,NULL FROM logitudemessagestranslogs;

commit ;

DROP TABLE logitudemessagestranslogs;

ALTER TABLE rg_temp_361101706_47 RENAME TO logitudemessagestranslogs;

CREATE TABLE taskschedulerhistory (
  "ID" VARCHAR2(15 CHAR) NOT NULL,
  tenant NUMBER(10) NOT NULL,
  startdatetime TIMESTAMP(7),
  enddatetime TIMESTAMP(7),
  runresult VARCHAR2(200 CHAR),
  taskid VARCHAR2(15 CHAR) NOT NULL,
  iserror NUMBER(1) NOT NULL,
  PRIMARY KEY ("ID")
);

CREATE TABLE airlinemessagingrules (
  "ID" VARCHAR2(15 CHAR) NOT NULL,
  tenant NUMBER(10) NOT NULL,
  messagetypecode VARCHAR2(3 CHAR) NOT NULL,
  rulefieldid VARCHAR2(15 CHAR) NOT NULL,
  ismandatoryforsending NUMBER(1) NOT NULL,
  "MAXSIZE" NUMBER(10),
  airlineid VARCHAR2(15 CHAR) NOT NULL,
  "INACTIVE" NUMBER(1) NOT NULL,
  PRIMARY KEY ("ID")
);

ALTER TABLE userlicenses MODIFY (packagecode VARCHAR2(5 CHAR));

ALTER TABLE automations ADD (documenttypeid VARCHAR2(15 CHAR),"VERSION" NUMBER(10) DEFAULT 0 NOT NULL,automationxml NCLOB,from1 VARCHAR2(20 CHAR),fromemail VARCHAR2(30 CHAR),executionorder NUMBER(10) DEFAULT 0 NOT NULL);

ALTER TABLE automations MODIFY (templateid VARCHAR2(15 CHAR),createdbyuserid NULL);

ALTER TABLE automations ADD CONSTRAINT fk_n1145306470 FOREIGN KEY (updatedbyuserid) REFERENCES "USERS" ("ID");

ALTER TABLE automations ADD CONSTRAINT fk_863195738 FOREIGN KEY (createdbyuserid) REFERENCES "USERS" ("ID");

CREATE TABLE automationlastupdates (
  tenant NUMBER(10) NOT NULL,
  objecttableid VARCHAR2(15 CHAR) NOT NULL,
  lastupdatedate TIMESTAMP(7) NOT NULL,
  hasautomation NUMBER(1) NOT NULL,
  PRIMARY KEY (tenant,objecttableid)
);

ALTER TABLE "PACKAGES" MODIFY (code VARCHAR2(5 CHAR));

ALTER TABLE flightsschedulesresponses ADD (fromportcode VARCHAR2(3 CHAR) DEFAULT '' NOT NULL,fromportname VARCHAR2(40 CHAR),toportcode VARCHAR2(3 CHAR) DEFAULT '' NOT NULL,toportname VARCHAR2(40 CHAR),missingport NUMBER(1) DEFAULT 0 NOT NULL);

ALTER TABLE flightsschedulesresponses MODIFY (fromportid NULL,toportid NULL);

ALTER TABLE automationresultemailrecips ADD (recipienttype VARCHAR2(8 CHAR),recipientvalue VARCHAR2(15 CHAR));

ALTER TABLE automationresultemailrecips DROP (entitycontactvariable,userid);

ALTER TABLE packageconnectedpackages MODIFY (packagecode VARCHAR2(5 CHAR),connectedpackagecode VARCHAR2(5 CHAR));

ALTER TABLE packageconnectedpackages ADD CONSTRAINT fk_1587032357 FOREIGN KEY (connectedpackagecode) REFERENCES "PACKAGES" (code);

ALTER TABLE packageconnectedpackages ADD CONSTRAINT fk_2073396079 FOREIGN KEY (packagecode) REFERENCES "PACKAGES" (code);

DROP INDEX ix_876134226;

DROP INDEX ix_730412180;

DROP TABLE automationconditions;

DROP INDEX ix_tenantaddons_packagecode;

DROP TABLE tenantaddons;

DROP TABLE entitychangesautomations;

CREATE INDEX ix_notifications_customerid ON notifications(customerid);

CREATE INDEX ix_n744866354 ON claimimporterdeclarsp3lois(claimid,counterkey);

CREATE INDEX ix_836460380 ON arinvoices(creditedbyarinvoiceid);

CREATE INDEX ix_n1313665179 ON entitychanges(createbyuserid);

CREATE INDEX ix_n1239001948 ON claimsrelatedentsreasonsexps(claimid,counterkey,reasonlineno);

CREATE INDEX ix_crs_dcaaggrkey ON customsrequestssheets(isdca,analyzedcaaggregatekey,requeststatuscode);

CREATE INDEX ix_automations_createdbyuserid ON automations(createdbyuserid);

DROP INDEX ix_n2074643273;

CREATE INDEX ix_n2074643273 ON employeegroups(manageruserid);

CREATE INDEX ix_taskschedulerhistory_taskid ON taskschedulerhistory(taskid);

CREATE INDEX ix_18623159 ON opportunityproducts(prepaidcollectid);

DROP INDEX ix_n192688320;

CREATE INDEX ix_n192688320 ON ticketclassifications(manageruserid);

CREATE INDEX ix_automations_updatedbyuserid ON automations(updatedbyuserid);

CREATE INDEX ix_1292319833 ON paymentterms(fromdatetypecode);

CREATE INDEX ix_1289860281 ON automationhistorys(automationsid);

CREATE INDEX ix_591782138 ON airlinemessagingrules(rulefieldid);

CREATE INDEX ix_n1065836496 ON customerproducts(prepaidcollectid);

DROP INDEX ix_n1285744811;

CREATE INDEX ix_n1285744811 ON awbstockusagehistories(firstactionbyuserid);

CREATE INDEX ix_410647628 ON airlinemessagingrules(airlineid);

DROP INDEX ix_n1666276523;

CREATE INDEX ix_n1666276523 ON awbstockusagehistories(lastactionbyuserid);

CREATE OR REPLACE PROCEDURE Queue_ReturnMessage(
    v_MessageId IN NUMBER )
AS
  v_temp NUMBER(1, 0) := 0;
BEGIN
  BEGIN
    SELECT 1
    INTO v_temp
    FROM DUAL
    WHERE EXISTS
      ( SELECT Id FROM QueueMessages WHERE ID = v_MessageId
      );
  EXCEPTION
  WHEN OTHERS THEN
    NULL;
  END;
  IF v_temp = 1 THEN
    BEGIN
      UPDATE QueueMessages SET NextRunDateTime = SYSDATE WHERE Id = v_MessageId;
    END;
  END IF;
END;
/

CREATE OR REPLACE PROCEDURE Queue_Enqueue(
    v_QueueDefinitionCode IN VARCHAR2,
    v_MessageBody         IN VARCHAR2,
    v_DelaySeconds        IN NUMBER,
    v_CustomerId          IN VARCHAR2,
    v_BatchNumber         IN VARCHAR2 ,
    v_QueueMessageId         OUT QUEUEMESSAGES.ID%TYPE 
    )
AS
  v_currentdate     DATE;  
  v_nextRunDateTime DATE;
  v_CId             VARCHAR2(15);
  v_BNo             VARCHAR2(15);
BEGIN
  v_currentdate     := SYSDATE ;
  v_nextRunDateTime := (SYSDATE + v_DelaySeconds/86400) ;
  INSERT
  INTO QueueMessages
    (
      CreateDateTime,
      QueueDefinitionCode,
      Status,
      MessageBody,
      NextRunDateTime,
      RetryNumber
    )
    VALUES
    (
      v_currentdate,
      v_QueueDefinitionCode,
      0,
      v_MessageBody,
      v_nextRunDateTime,
      0
    );
  IF v_CustomerId = ' ' THEN
    v_CId        := NULL ;
  ELSE
    v_CId := v_CustomerId ;
  END IF;
  IF v_BatchNumber = ' ' THEN
    v_BNo         := NULL ;
  ELSE
    v_BNo := v_BatchNumber ;
  END IF;
  
  v_QueueMessageId :=QUEUEMESSAGES_SEQ1.CURRVAL;
  
  INSERT
  INTO QueueMessageMoreDetails
    (
      Id,
      CreateDateTime,
      QueueDefinitionCode,
      Status,
      MessageBody,
      NextRunDateTime,
      RetryNumber,
      Field1,
      Field2
    )
    VALUES
    (
      v_QueueMessageId ---QUEUEMESSAGES_SEQ1.CURRVAL
      ,
      v_currentdate,
      v_QueueDefinitionCode,
      0,
      v_MessageBody,
      v_nextRunDateTime,
      0,
      v_CId,
      v_BNo
    );
END;
/

CREATE OR REPLACE PROCEDURE Queue_SetStatus(
    v_MessageId IN NUMBER,
    v_Statud    IN NUMBER )
AS
  v_temp NUMBER(1, 0) := 0;
BEGIN
  BEGIN
    SELECT 1
    INTO v_temp
    FROM DUAL
    WHERE EXISTS
      ( SELECT Id FROM QueueMessages WHERE Id = v_MessageId
      );
  EXCEPTION
  WHEN OTHERS THEN
    NULL;
  END;
  IF v_temp = 1 THEN
    BEGIN
      UPDATE QueueMessages
      SET Status         = v_Statud,
        CompleteDateTime = SYSDATE
      WHERE Id           = v_MessageId;
    END;
  END IF;
END;
/

CREATE OR REPLACE PROCEDURE Queue_Peek(
    v_MessageId OUT NUMBER,
    v_MessageBody OUT VARCHAR2,
    v_RetryNumber OUT NUMBER,
    v_MessageCreatedServerTime OUT QUEUEMESSAGES.CREATEDATETIME%TYPE ,
    v_QueueDefinitionCode IN VARCHAR2 ,
    v_NextRunDelayInSec IN NUMBER)
AS
  --DECLARE @NextId INTEGER
  v_frequency NUMBER(10,0);
  v_row QueueMessages%rowtype;
BEGIN
  v_frequency := 60 ;
  -- Find next available item available where the status is enabled
  
 DECLARE
  CURSOR c_1 IS  
    SELECT /*+FIRST_ROWS_1*/  * --qt.Id
    FROM QueueMessages qt
    WHERE qt.NextRunDateTime <= SYSDATE
     --ROWNUM<2  AND  --do not use rownum due  http://stackoverflow.com/questions/6117254/force-oracle-to-return-top-n-rows-with-skip-locked/6649586#6649586
    AND qt.Status             = 0
    AND QueueDefinitionCode = v_QueueDefinitionCode
    ORDER BY qt.NextRunDateTime ASC
    FOR UPDATE SKIP LOCKED;
BEGIN
  OPEN c_1;
  FETCH c_1 into v_row; -- v_MessageId;
  IF c_1%FOUND THEN
     --If f
  --If found, flag it to prevent being picked up again
  IF ( v_row.Id IS NOT NULL ) THEN
    BEGIN
    v_MessageId := v_row.id;
      --SELECT RetryNumber       INTO v_RetryNumber        FROM QueueMessages        WHERE Id = v_MessageId;
      v_RetryNumber := v_row.RetryNumber;
      
      --SELECT MessageBody      INTO v_MessageBody       FROM QueueMessages       WHERE Id = v_MessageId;
      v_MessageBody := v_row.MessageBody;
      v_MessageCreatedServerTime := v_row.CREATEDATETIME;
      
   
      UPDATE QueueMessages
      SET ProcessingDateTime = SYSDATE,
        NextRunDateTime      = (SYSDATE + v_NextRunDelayInSec/86400), ---(SYSDATE + v_frequency/86400),----utils.dateadd('SECOND', v_frequency, SYSDATE),
        RetryNumber          = (RetryNumber + 1)
      WHERE Id               = v_MessageId;-- return queue data
    
    END;
   END IF; 
  END IF;
  CLOSE c_1;
END;
  
END;
/

CREATE OR REPLACE PROCEDURE usp_UpdateInvoiceItemsSequence(
    v_DeclarationId IN VARCHAR2 DEFAULT NULL ,
    v_Tenant        IN NUMBER DEFAULT NULL ,
    v_CounterKey    IN NUMBER DEFAULT NULL )
AS
  
  begin
  DECLARE
  
  v_SequenceNumeric NUMBER(10,0);
  v_LineNumber      NUMBER(10,0);
  
    CURSOR InvoiceItemsCursor
    IS
      SELECT LineNumber
      FROM SupplierInvoiceItems
      WHERE DeclarationId =v_DeclarationId
      AND CounterKey      =v_CounterKey
      AND Tenant          =v_Tenant
      ORDER BY LineNumber;
  BEGIN
    

    OPEN InvoiceItemsCursor;
    LOOP
    FETCH InvoiceItemsCursor INTO v_LineNumber;
     EXIT WHEN InvoiceItemsCursor%notfound;
      BEGIN
      IF v_SequenceNumeric is null then
      begin
     
         v_SequenceNumeric :=0;
         END;
        END IF;
  v_SequenceNumeric := v_SequenceNumeric + 1 ;

        UPDATE SupplierInvoiceItems
        SET SequenceNumeric = v_SequenceNumeric
        WHERE DeclarationId = v_DeclarationId
        AND LineNumber      = v_LineNumber
        AND CounterKey      = v_CounterKey;
       
      END;
    END LOOP;
    CLOSE InvoiceItemsCursor;
  END;
   END;
/

CREATE OR REPLACE PROCEDURE Queue_DelayMessage(
    v_MessageId    IN NUMBER,
    v_DelaySeconds IN NUMBER )
AS
  v_temp NUMBER(1, 0) := 0;
BEGIN
  BEGIN
    SELECT 1
    INTO v_temp
    FROM DUAL
    WHERE EXISTS
      ( SELECT Id FROM QueueMessages WHERE ID = v_MessageId
      );
  EXCEPTION
  WHEN OTHERS THEN
    NULL;
  END;
  IF v_temp = 1 THEN
    BEGIN
      UPDATE QueueMessages
      SET NextRunDateTime =  (SYSDATE + v_DelaySeconds/86400)--utils.dateadd('SECOND', v_DelaySeconds, SYSDATE)
      WHERE Id            = v_MessageId;
    END;
  END IF;
END;
/

DROP PROCEDURE zz_updatequeuecommunicationlo;

CREATE OR REPLACE TRIGGER "QUEUEMESSAGES_TRG" 
  BEFORE INSERT ON QueueMessages
  FOR EACH ROW
BEGIN

---  <<COLUMN_SEQUENCES>>
  BEGIN
    IF INSERTING AND :NEW.ID IS NULL THEN
      SELECT QUEUEMESSAGES_SEQ1.NEXTVAL INTO :NEW.ID FROM SYS.DUAL;
    END IF;
  END COLUMN_SEQUENCES;


END;
/

CREATE OR REPLACE TRIGGER "QUEUEMESSAGES_INS_TRG" 
  BEFORE INSERT ON QueueMessages
  FOR EACH ROW
BEGIN
  SELECT QueueMessages_SEQ.NEXTVAL INTO :NEW.Id FROM DUAL;
END;
/

ALTER TABLE supplierinvoiceitemscondeclars ADD CONSTRAINT fk_771081895 FOREIGN KEY (quantitytypecode) REFERENCES measurmentunits (code);

ALTER TABLE supplierinvoiceitemstaxes ADD CONSTRAINT fk_338262327 FOREIGN KEY (measurementunitcode) REFERENCES measurmentunits (code);

ALTER TABLE supplierinvoiceitemstaxes ADD CONSTRAINT fk_508763502 FOREIGN KEY (alternatemeasurementunitcode) REFERENCES measurmentunits (code);

ALTER TABLE consignmentpackages ADD CONSTRAINT fk_n853024624 FOREIGN KEY (packagequantitytypecode) REFERENCES measurmentunits (code);

ALTER TABLE consignmentpackages ADD CONSTRAINT fk_918667578 FOREIGN KEY (grossmassmeasuretypecode) REFERENCES measurmentunits (code);

ALTER TABLE supplierinvoiceitems ADD CONSTRAINT fk_n1081347333 FOREIGN KEY (additionalquantitytype) REFERENCES measurmentunits (code);

ALTER TABLE supplierinvoiceitems ADD CONSTRAINT fk_n924589980 FOREIGN KEY (statisticquantitytype) REFERENCES measurmentunits (code);

ALTER TABLE supplierinvoiceitems ADD CONSTRAINT fk_2112399992 FOREIGN KEY (invoicequantitytype) REFERENCES measurmentunits (code);




--INSERT INTO MigrationHistory__ (MigrationId, ContextKey, Model, ProductVersion) VALUES ('201605031027337_A56D1605'
DECLARE
  BINARY_VALUE BLOB;
BEGIN
  DBMS_LOB.CREATETEMPORARY(BINARY_VALUE, TRUE);
  DBMS_LOB.APPEND(BINARY_VALUE, TO_BLOB(CAST('61341F9B40A609DFB2F70E82E12EBF74CFDD34215F1F4562CBE7030677765423793B3E9C3DCCEEE76D941EBF46DBF298C3FD660A6E0D41556E86A3A62F8592BB2CB366001D6A757D546A8630A62D86827A29F2FBB840C7C049BC9D0C553DC0880A580A2DF8294630D0EA36705E9196B294D01FC436CD92EC119D5B22F1D62034F566441A6031B430D9E09180C53E6FC8440F6030E2D46FE8A5BC04B4B83E813D70870114B77C34D9A8F4824845A6034FCA99165D1352C4D4CE98759491815FC30B9692DBB458AB8AB04BC99741B7BC04C075AD072E3BE17A0FD9098A48151794C697ADFD60AB5ACCFA8F05BE022DCD95765D9C4D85AF3D543351FA101DA2C7CB2C4D455BADB5F759D1E33556997083379069754C1D0484A1A979C826A8455B42336359281D791E7F6DEFFEB35D398862894FC60B2F1B944D6A74C8099E6920766DC340FB3713FC5E2E2F74CB5D6828D636057EFA2D68D3D2D0DF0E845C556D82C8CE97E3BDD4B27620546FD7E92851B47FD045DE84DA823097544B8F174341979155DD965CAF803D073263C6BFCEB3FD43B621E6B5401C35A5074C6731E6B1643340D87D82DFB0B1CBD74D10B15CC5F9C2F5594295FFA04B3D26C00B08A901E4C4655263AB072070F87A602A2AEE4B7160126142C3D350DB04E4DBC72FA740A4515A567F9771FAB8F9F0E5DF555BBB6B680324A0603C0845A51485F29C2241B6A9F2A0A678A022DF17D9D74F85B88F1FD3A89E92AD577394117C052C0527977DB40AD5051FED339206C39A4606901E8492F11997154982132012D712E9890FC5E7B888BFC449656853FD095262A2884062ADB0C74629D7F192725D5449F21D2E76012704C30370BF7C73D290F3682BDE7DAFB7A334FFA3CD0708878720E992BC979E52E10FA6F4F598C3639F61DB3E093032E0F760DAF0D14CAE41BC66F069424C8BA41D3E7E103FCAF6E67A304E1347D5C3BD2AA5F2ED1FD241F786F4A8C7E77EC3EE7EA72E1326F19EDFF94CE157BF13CD5E5280150ED402365367A7A67E43EFB3C738ADFE434BBD09F2990764ED86E498E025D4BBAA411497755EAE58DC3E6DDA1F58CC081A0FA5572705D13FB210A099327830D283D041650010EB3B1FCC4C43B73DB9DF008D357BAC32C4D891AC591E42929F7349EA8470960640189A58D9450107CB2F1352F1396A5E53A5795B354AA247B1E99E80CB0151301ED8A04E5ECB123156C4EAB6200D72AAAF35911FFE4AEB5912DB561805468C15BC643F4C63035A05D425F80D99586B06E2ACEE3BAF7B9C38ECFBE8AB289F2FB6F5619459FECC20009308468566105C62AD4302D3533F1E1EDEA44569DB65E0A6874509641F660642AE9676E9F1E99CEB4A5CC9A0D836608BA5BABEF9E132DBEF8FE9B09A50FE0BA79723480D1D1B46944164239524D0F045630F480F421D7E6907812648F27071C73CE4D4174DC7E9E3FBA8283F8AFF398AA2DC748F20720834D12BEBF5C9DDB2FE194188690C52A12487A0E3B29EF8821BDA049AC82BCECB554212F1AFBFB59A9AD9A0B86AAC0C69FFFADBFDF649ECA3EE41F56799E555BBF536DB89A4689EFEEB6F1F8F95F45EB47F5D89227E1C55FC6B5C44372AED3137E9D7ACEA131C44DE44217BD443FAE4EED5DC8A32DA456574515FD7106DCBEE4CEE26177D8E92633DC0BDFF227637E9876379389655C862FF25512ADF7FFD8DB6FFAFBF193EFFEB4373156CE12384CACDB80A417C48DF1EE36437F87D1D25FA4C13A6A21ED1FC5554CFDB7759563FC5E3F3A0E9F72C652AEAE8BB1287AA5EA96700C4FE500F33161FD2FBE8BB38C5B7AAC3F75E3C46DBE7EAF9F7B81960C394D85F844AFBBFAEE2FA20927DD1E918E5AB3FAB3CBCDBFFF87FFF2F4A10DAE515434800' AS LONG RAW)));
  INSERT INTO MigrationHistory__ (MigrationId, ContextKey, Model, ProductVersion) VALUES ('201607171027337_A56D1607', 'Logitude.OracleDatabaseMigration.Migrations.Configuration', BINARY_VALUE, '6.1.3-40302');
END;
/


commit 
/