<style type="text/css">
    .SectionTitle {
        height: 20px;
        line-height: 20px;
        font-size: 14px;
        color: #1B90CB;
        user-select: text;
        -webkit-user-select: text;
    }
</style>

<div class="TabHolder">
    <table>
        <tr class="TabTitleRow">
            <td style="float: right; margin: 15px 5px;" *ngIf="TabTitle">
                <span>{{ ('ShipmentPickUpDelivery.O.ShipmentCertificateNumber' | TextCodeTranslationPipe) + ": " }}</span>
                <span>{{ TabTitle }}</span>
            </td>
        </tr>

        <tr>
            <td>
                <div class="MediaFill">
                    <ScrollViewer>
                        <table>
                            <tr>
                                <td style="width: 5px;">
                                    <div></div>
                                </td>

                                <td>
                                    <table>

                                        <!-- GroupBox -->
                                        <tr style="height: 192px;">
                                            <td>
                                                <table>
                                                    <tr>
                                                        <!-- To -->
                                                        <td>
                                                            <fieldset class="MediaFill GroupBox">
                                                                <!-- <legend>
                                                                    <span *ngIf="IsToRequired" style="width: 7px; height: 7px; background: #E45A26; -webkit-border-radius: 25px; -moz-border-radius: 25px; border-radius: 25px; display: inline-block;"></span>
                                                                    <span>{{'ShipmentPickUpDelivery.O.To' | TextCodeTranslationPipe}}</span>
                                                                </legend> -->

                                                                <div style="height: 170px; width: 100%; margin-top: -5px;">
                                                                    <table>
                                                                        <tr>
                                                                            <td>
                                                                                <table>
                                                                                    <!-- איש קשר -->
                                                                                    <tr class="FormFieldRow">
                                                                                        <td>
                                                                                            <LogLabel [ObjectFieldName]="'DeliveryContact'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                                                                        </td>

                                                                                        <td>
                                                                                            <LogLov [ObjectFieldName]="'DeliveryContact'"
                                                                                                    [SelectedValue]="DeliveryContact"
                                                                                                    [ObjectTableName]="ObjectTableName"
                                                                                                    [DisplayMemberPath]="'LocalName'"
                                                                                                    [DataContext]="DataContext"
                                                                                                    [LookUpTableName]="'Contact'">
                                                                                            </LogLov>
                                                                                        </td>
                                                                                    </tr>

                                                                                    <!-- כתובת -->
                                                                                    <tr class="FormFieldRow">
                                                                                        <td>
                                                                                            <LogLabel [NoObjectField]="true" [Text]="'ShipmentPickUpDelivery.O.Address' | TextCodeTranslationPipe" [DataContext]="DataContext"></LogLabel>
                                                                                        </td>

                                                                                        <td>
                                                                                            <LogLov [ObjectFieldName]="'ToAddressId'"
                                                                                                    [SelectedValue]="ToAddressId"
                                                                                                    [ObjectTableName]="ObjectTableName"
                                                                                                    [DataContext]="DataContext"
                                                                                                    [LookUpTableName]="'Address'"
                                                                                                    [DisplayMemberPath]="'Name'">
                                                                                            </LogLov>
                                                                                        </td>
                                                                                    </tr>

                                                                                    <!-- ToAddress -->
                                                                                    <tr class="FormFieldRow" style="height: 77px">
                                                                                        <td>
                                                                                            <!-- <LogLabel [ObjectFieldName]="'ToAddress'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel> -->
                                                                                        </td>

                                                                                        <td style="height: 77px; vertical-align: top;">
                                                                                            <div style="height: 100%;">
                                                                                                <LogTextBox [ObjectFieldName]="'ToAddress'" [Text]="ToAddress" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext" [IsMultiline]="true"></LogTextBox>
                                                                                            </div>
                                                                                        </td>
                                                                                    </tr>

                                                                                    <!-- ישוב פריקה -->
                                                                                    <tr class="FormFieldRow">
                                                                                        <td>
                                                                                            <LogLabel [ObjectFieldName]="'ToAddressCityId'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                                                                        </td>

                                                                                        <td>
                                                                                            <table>
                                                                                                <tr>
                                                                                                    <td>
                                                                                                        <LogTextBox [ObjectFieldName]="'ToAddressCity'" [Text]="ToAddressCity" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext" [HideColumns]="true"></LogTextBox>
                                                                                                    </td>

                                                                                                    <td style="padding-right: 8px; padding-left: 10px;">
                                                                                                        <Hyperlink (click)="SelectCityCommand('to')">בחר</Hyperlink>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>

                                                                                    <tr>
                                                                                        <td colspan="2">
                                                                                            <div></div>
                                                                                        </td>
                                                                                    </tr>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </div>
                                                            </fieldset>
                                                        </td>

                                                        <td style="width: 10px;">
                                                            <div></div>
                                                        </td>

                                                        <!-- From -->
                                                        <td>
                                                            <fieldset class="MediaFill GroupBox">
                                                                <!-- <legend>
                                                                    <span *ngIf="!FromAddressCity" style="width: 7px; height: 7px; background: #E45A26; -webkit-border-radius: 25px; -moz-border-radius: 25px; border-radius: 25px; display: inline-block;"></span>
                                                                    <span>{{'ShipmentPickUpDelivery.O.From' | TextCodeTranslationPipe}}</span>
                                                                </legend> -->

                                                                <div style="height: 170px; width: 100%; margin-top: -5px;">
                                                                    <table>
                                                                        <tr>
                                                                            <td>
                                                                                <table>
                                                                                    <!-- CarrierId -->
                                                                                    <tr class="FormFieldRow">
                                                                                        <td style="width: 180px;">
                                                                                            <LogLabel [ObjectFieldName]="'CarrierName'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                                                                        </td>

                                                                                        <td>
                                                                                            <LogLov [ObjectFieldName]="'CarrierId'"
                                                                                                    [SelectedValue]="CarrierId"
                                                                                                    [DisplayMemberPath]="'LocalName'"
                                                                                                    [ObjectTableName]="ObjectTableName"
                                                                                                    [DataContext]="DataContext"
                                                                                                    [LookUpTableName]="'Carrier'">
                                                                                            </LogLov>
                                                                                        </td>
                                                                                    </tr>

                                                                                    <!-- אחראיות -->
                                                                                    <tr class="FormFieldRow">
                                                                                        <td style="width: 180px;">
                                                                                            <LogLabel [ObjectFieldName]="'ResponsibilityCode'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                                                                        </td>

                                                                                        <td>
                                                                                            <LogLov [ObjectFieldName]="'ResponsibilityCode'"
                                                                                                    [SelectedValue]="ResponsibilityCode"
                                                                                                    [DisplayMemberPath]="'LocalName'"
                                                                                                    [ObjectTableName]="ObjectTableName"
                                                                                                    [DataContext]="DataContext"
                                                                                                    [LookUpTableName]="'Responsibility'">
                                                                                            </LogLov>
                                                                                        </td>
                                                                                    </tr>

                                                                                    <!-- הנחיות הובלה -->
                                                                                    <tr class="FormFieldRow" style="height: 77px">
                                                                                        <td>
                                                                                            <LogLabel [NoObjectField]="true" [Text]="'ShipmentPickUpDelivery.O.Notes' | TextCodeTranslationPipe" [DataContext]="DataContext"></LogLabel>
                                                                                        </td>

                                                                                        <td style="height: 77px; vertical-align: top;">
                                                                                            <div style="height: 100%;">
                                                                                                <LogTextBox [ObjectFieldName]="'Notes'" [Text]="Notes" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext" [IsMultiline]="true"></LogTextBox>
                                                                                            </div>
                                                                                        </td>
                                                                                    </tr>
                                                                                    
                                                                                    <!-- ישוב טעינה -->
                                                                                    <tr class="FormFieldRow">
                                                                                        <td>
                                                                                            <LogLabel [ObjectFieldName]="'FromAddressCityId'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                                                                        </td>

                                                                                        <td>
                                                                                            <table>
                                                                                                <tr>
                                                                                                    <td>
                                                                                                        <LogTextBox [ObjectFieldName]="'FromAddressCity'" [Text]="FromAddressCity" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext" [HideColumns]="true"></LogTextBox>
                                                                                                    </td>

                                                                                                    <td style="padding-right: 8px; padding-left: 10px;">
                                                                                                        <Hyperlink (click)="SelectCityCommand('from')">בחר</Hyperlink>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>

                                                                                    <tr>
                                                                                        <td colspan="2">
                                                                                            <div></div>
                                                                                        </td>
                                                                                    </tr>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </div>
                                                            </fieldset>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>

                                        <div style="margin-bottom: 40px; margin-top: 30px; width: 100% " class="section">

                                            <table style="width:100%;">

                                                <tr class="FormFieldRow">
                                                    <!-- סוג אריזה -->
                                                     <div style="width: 50%; float: right;">
                                                        <td style="width: 180px;">
                                                            <LogLabel [ObjectFieldName]="'PackageTypeCode'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                                        </td>

                                                        <td>
                                                            <LogLov [ObjectFieldName]="'PackageTypeCode'"
                                                                    [SelectedValue]="PackageTypeCode"
                                                                    [ObjectTableName]="ObjectTableName"
                                                                    [DataContext]="DataContext"
                                                                    [LookUpTableName]="'PackageType'">
                                                            </LogLov>
                                                        </td>
                                                    </div>

                                                    <!-- כמות -->
                                                    <div style="width: 50%; float: right;">
                                                        <td style="width: 180px;">
                                                            <LogLabel [ObjectFieldName]="'Quantity'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                                        </td>

                                                        <td>
                                                            <div>
                                                                <LogTextBox [ObjectFieldName]="'Quantity'" [Text]="Quantity" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogTextBox>
                                                            </div>
                                                        </td>
                                                    </div>
                                                </tr>

                                                <tr class="FormFieldRow">
                                                    <div style="width: 50%; float: right;">
                                                        <!-- משקל-->
                                                        <td style="width: 180px;">
                                                            <LogLabel [ObjectFieldName]="'GrossWeight'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                                        </td>

                                                        <td>
                                                            <div>
                                                                <LogTextBox [ObjectFieldName]="'GrossWeight'" [Text]="GrossWeight" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogTextBox>
                                                            </div>
                                                        </td>
                                                    </div>

                                                    <!-- נפח -->
                                                    <div style="width: 50%; float: right;">

                                                        <td style="width: 180px;">
                                                            <LogLabel [ObjectFieldName]="'Volume'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                                        </td>

                                                        <td>
                                                            <div>
                                                                <LogTextBox [ObjectFieldName]="'Volume'" [Text]="Volume" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogTextBox>
                                                            </div>
                                                        </td>
                                                    </div>
                                                </tr>

                                                <tr class="FormFieldRow">
                                                    <div style="width: 50%; float: right;">
                                                        <!-- משקל לחיוב לקוח -->
                                                        <td style="width: 180px;">
                                                            <LogLabel [ObjectFieldName]="'CustomerChargeableWeight'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                                        </td>

                                                        <td>
                                                            <div>
                                                                <LogTextBox [ObjectFieldName]="'CustomerChargeableWeight'" [Text]="CustomerChargeableWeight" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogTextBox>
                                                            </div>
                                                        </td>
                                                    </div>

                                                    <!-- משקל לחיוב מוביל -->
                                                    <div style="width: 50%; float: right;">

                                                        <td style="width: 180px;">
                                                            <LogLabel [ObjectFieldName]="'TruckerChargeableWeight'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                                        </td>

                                                        <td>
                                                            <div>
                                                                <LogTextBox [ObjectFieldName]="'TruckerChargeableWeight'" [Text]="TruckerChargeableWeight" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogTextBox>
                                                            </div>
                                                        </td>
                                                    </div>
                                                </tr>

                                                <tr class="FormFieldRow">
                                                    <div style="width: 50%; float: right;">
                                                        <!-- תאור טובין -->
                                                        <td style="width: 180px;">
                                                            <LogLabel [ObjectFieldName]="'DescriptionOfGoods'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                                        </td>

                                                        <td>
                                                            <div>
                                                                <LogTextBox [ObjectFieldName]="'DescriptionOfGoods'" [Text]="DescriptionOfGoods" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogTextBox>
                                                            </div>
                                                        </td>
                                                    </div>

                                                    <!-- סוג סחורה -->
                                                    <div style="width: 50%; float: right;">

                                                        <td style="width: 180px;">
                                                            <LogLabel [ObjectFieldName]="'Commodity'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                                        </td>

                                                        <td>
                                                            <div>
                                                                <LogTextBox [ObjectFieldName]="'Commodity'" [Text]="Commodity" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogTextBox>
                                                            </div>
                                                        </td>
                                                    </div>
                                                </tr>
                                            </table>
                                        </div>
                                    </table>
                                </td>

                                <td style="width: 5px;">
                                    <div></div>
                                </td>
                            </tr>
                        </table>
                    </ScrollViewer>
                </div>
            </td>
        </tr>
    </table>
</div>
