h1 {
    margin: 0;
    text-transform: uppercase;
    padding-top: 60px;
    padding-bottom: 20px;
    font-size: 28px;
}

.card {
    border-radius: 5px;
    padding: 5px;
    background: #fff;
    box-shadow: 0px 0px 8px 0px #00000030;
}

.FlipImgHoriz {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.circle-image {
    background: #fff; /*#F2F4F7;*/
    border-radius: 50%;
    width: 90px !important;
    height: 90px;
    padding: 0 !important;
    margin: 0 auto;
    /* top: 50%; */
    position: relative;
    text-align: center;
}

.circle-image .direction-icon {
    position: relative;
    bottom: -30px;
    transform: rotate(45deg);
}

.shipment-header::after,
.slider::after {
    content: "";
    display: block;
    clear: both;
}

.slider-wrapper {
    /*padding: 10px 0 10px 0;*/
    background: RGB(242, 244, 247);
    margin-bottom: 10px;
    text-align: center;
}

.shipment-header {
    padding: 10px 90px 10px 90px;
    background: RGB(242, 244, 247);
}

    .shipment-header > div {
        float: left;
        margin: 5px 30px;
    }

    .shipment-header .title {
        font-size: 16px;
        font-weight: bold;
        color: var(--MainColor);
    }

        .shipment-header .title > a {
            font-size: 14px;
            font-weight: normal;
        }

    .shipment-header ul {
        padding: 0;
        margin: 0;
    }

        .shipment-header ul li {
            list-style: none;
            font-size: 15px;
        }

.slider-wrapper {
    height: 190px;
}

.pager.dim {
    opacity: 0.3;
    pointer-events: none;
    cursor: auto;
}

.slider {
    width: 1400px;
    overflow: hidden;
    /* box-sizing: border-box; */
    /* margin: 0 50px; */
    display: inline-block;
    padding: 15px 0px;
    /* float: left; */
}

    .slider .cards {
        width: 3000px;
        height: 160px;
        transition: margin-left 1s;
        text-align: left;
    }

        .slider .cards::after,
        .cards::before {
            content: "";
            clear: both;
        }

.pager {
    width: 100px;
    /* height: 160px; */
    display: inline-block;
    cursor: pointer;
    /* float: left; */
    /* padding: 15px 0px; */
    position: relative;
    height: 100%;
    user-select: none;
}

    .pager:active {
        transform: scale(0.9);
    }

    .pager img {
        overflow: auto;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

.slider .card.empty {
    background: none;
    box-shadow: none;
    border: none;
}

.slider .card {
    position: relative;
    float: left;
    width: 150px;
    height: 130px;
    background: white;
    color: #444444;
    border-radius: 5px;
    margin: 0 10px;
    padding: 15px;
    box-shadow: 0px 0px 8px 0px #00000030;
}

    .slider .card + .active {
        background: var(--MainColor);
        color: white;
    }

    .slider .card + .warning::after {
        content: "!";
        display: block;
        width: 25px;
        height: 25px;
        border: 3px solid white;
        background: red;
        position: absolute;
        top: -12px;
        right: -9px;
        border-radius: 50%;
        text-align: center;
        font-weight: bold;
        font-size: 18px;
        /* z-index: 1; */
        color: white;
    }

    .slider .card + .dim {
        background: none;
        box-shadow: none;
        border: 1px solid gray;
        color: gray;
    }

    .slider .card:hover {
        box-shadow: 0px 0px 8px 0px #00000060;
    }

    .slider .card .code {
        height: 22px;
        width: 100%;
        color: black;
        text-align: right;
        font-weight: bold;
    }

    .slider .card .date {
        font-size: 45px;
        margin-bottom: 10px;
    }

        .slider .card .date > span {
            font-size: 16px;
            font-weight: bold;
        }

    .slider .card .title {
        font-size: 15px;
        font-weight: 600;
    }

    .slider .card .desc {
        font-size: 13px;
        line-height: 18px;
    }

.warning-icon {
    display: block;
    width: 25px;
    height: 25px;
    border: 3px solid white;
    background: red;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    /* z-index: 1; */

    color: white;
    position: absolute;
    top: -12px;
    right: -9px;
}

.data-cards::after,
.data-cards::before {
    content: "";
    clear: both;
    display: table;
}

.data-cards > div {
    width: 180px;
    height: 70px;
    line-height: 24px;
    margin: 10px;
    float: left;
    font-size: 15px;
}

.data-cards .title {
    font-size: 12px;
    color: var(--MainColor);
    font-weight: bold;
    text-transform: uppercase;
}

.PanelsNavigator {
    margin: 11px 75px;
    /* width: 1000px;
    overflow: hidden; */
}

    .PanelsNavigator button {
        padding: 8px 20px;
        border-radius: 25px;
        box-shadow: 0px 0px 8px 0px #00000025;
        color: rgb(66, 66, 66);
        background: var(--MainColor);
        color: white;
        border: none;
        cursor: pointer;
        margin-right: 20px;
        margin-bottom: 5px;
    }

        .PanelsNavigator button:hover {
            box-shadow: 0px 0px 8px 0px #00000040;
        }

        .PanelsNavigator button:active {
            border: none;
            outline: none;
            transform: scale(0.96);
        }

        .PanelsNavigator button:focus {
            border: none;
            outline: none;
        }

@media screen and (max-width: 479px) {
    .shipment-details-container {
        display: flex;
        flex-direction: column;
        padding-top: 50px;
    }

    .slider-wrapper {
        height: 110px;
        background: none;
        margin: 0 -15px;
    }

    .slider {
        width: 100% !important;
    }

        .slider .card {
            width: 115px;
            height: 90px;
        }

            .slider .card .code {
                height: 15px;
                font-size: 11px;
            }

            .slider .card .date {
                font-size: 33px;
            }

            .slider .card .title {
                font-size: 14px;
                line-height: 18px;
            }

    .data-cards {
        /* background: white;
            box-shadow: 0px 0px 8px 0px #00000025;
            border-radius: 8px; */
    }

        .data-cards > div {
            width: calc(50% - 20px);
        }

    .PanelsNavigator {
        width: 100%;
        margin: 20px 0 0 0;
        overflow: auto;
        height: 60px;
    }

    .panels-wrapper {
        width: 650px;
    }

    .PanelsNavigator button {
        box-shadow: none;
        background: none;
        border: 1px solid gray;
        padding: 4px 14px;
        margin-right: 10px;
    }

        .PanelsNavigator button.active {
            border: none;
            background: #e9f2ff;
            box-shadow: 6px 4px 10px 0px #00000020;
            font-weight: bold;
        }
}



.routing-timeline{
    display: flex;
    flex-flow: column wrap;
}
.routing-step{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    font-size: 12px;
    position: relative;

}

    .routing-banner svg{
        width: 30px;
    }
.routing-card {
    width: calc(100% - 50px);
    min-height: 80px;
    height:148px;
    border-radius: 5px;
    padding: 10px;
    background: #fff;
    box-shadow: 0px 0px 8px 0px #00000030;
    position: relative;
}
.routing-step.active .routing-card{
    background: var(--MainColor);
    color: white !important;

}
.route-card-body{
    display: flex;
    flex-flow: column wrap;
    height: 100%;
}

.route-label{
    font-weight: 700;
    color: var(--MainColor);
    text-transform: uppercase;
}
.routing-step.active .route-label{
    color: white !important;
}


.route-direction{
    margin-bottom: 4px;
}
.route-description {
    max-width: 150px;
}

.routing-step.active .route-direction svg path{
    fill: #fff !important;
}
@media screen and (min-width: 479px){
    .routing-timeline{
        flex-flow: row wrap;
    }
    .routing-step{
        flex-flow: column nowrap;
        width: 200px;
    }
    .routing-card{
        order: -1;
        filter: drop-shadow(0 2px 4px #00000030);
    }
    .routing-banner {
        margin-top: 20px;
    }
    .route-label > div{
        display: inline;
    }
    .routing-card::before {
        z-index: 10;
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        margin-left: 0;
        bottom: -5px;
        left: calc(50% - 0px);
        box-sizing: border-box;
        border: 10px solid #fff;
        border-color: transparent transparent #fff #fff;
        transform-origin: 0 0;
        transform: rotate(45deg);
    }
    .routing-card::after {
        z-index: -99;
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        margin-left: 0;
        bottom: -5px;
        left: calc(50% - 0px);
        box-sizing: border-box;
        border: 10px solid #fff;
        border-color: transparent #fff #fff transparent;
        transform-origin: 0 0;
        transform: rotate(45deg);
    }
    .routing-step.active .routing-card::after {
        border-color: transparent var(--MainColor) var(--MainColor) transparent;
    }
    .routing-step.active .routing-card::before {
        border-color: transparent transparent var(--MainColor) var(--MainColor);
    }

    .routing-step::after{
        content: "";
        display: block;
        position: absolute;
        bottom: 0px;
        width: 100%;
        background: var(--MainColor);;
        height: 2px;
        left: 0;
    }
    .routing-step:first-child:after{
        content: "";
        display: block;
        position: absolute;
        bottom: 0px;
        width: calc(50% + 15px);
        background: var(--MainColor);;
        height: 2px;
        right: 0;
        left: unset !important;
    }
    .routing-step:last-child:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0px;
        width: calc(50% + 15px);
        background: var(--secondaryColor);
        height: 2px;
        left: 0;
        right: unset !important;
    }

}
@media screen and (max-width: 479px){
    .mobile-font-18{
        font-size: 18px;
    }
    .route-direction{
        align-self: flex-end;
    }
    .routing-card {
        height: 60px;
    }
}


.partners-cards-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.partner-card {
    /* min-width: 180px; */
    width: 180px;
    min-height: 180px;
    max-width: 250px;
    margin: 0 10px 20px;
    padding: 15px;
}

.partner-type-label {
    text-transform: uppercase;
    color: var(--MainColor);
    font-size: 12px;
    font-weight: 700;
}

.partner-card .body.bordered {
    border-top: 1px solid rgb(175, 175, 175);
}

.partner-card .body {
    padding-top: 10px;
    margin-top: 10px;
}

.partner-address, .partner-mobile {
    font-size: 12px;
}

.partner-mobile {
    margin-top: 5px;
}

.circle-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--secondaryColor);
    color: white;
    text-align: center;
    margin-right: 5px;
    display: inline-block;
    font-weight: 600;
}

.circle-icon-x2 {
    width: 35px;
    height: 35px;
    font-size: 18px;
    border-radius: 50%;
    background: var(--secondaryColor);
    color: white;
    text-align: center;
    margin-right: 10px;
    display: inline-block;
    font-weight: 600;
    line-height: 32px;
}
.circle-icon img{
    width: 16px;
    padding-top: 7px;
}
.circle-icon-x2 img{
    width: 18px;
    padding-top: 9px;
}

.partners-buttons {
    margin-bottom: 10px;
}

.partners-footer-buttons {
    margin-top: 20px;
}

@media screen and (max-width: 479px) {
    .partner-card {
        width: calc(100vw - 80px) !important;
        margin-bottom: 15px;
        height: unset !important;
        min-height: unset !important;
        max-width: unset !important;
    }

        .partner-card .body {
            display: none;
        }

            .partner-card .body.show {
                display: block !important;
            }

    .partners-cards-wrapper {
        flex-direction: column;
    }

    .partner-card .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}


.document-card{
    width: 100%;
    height: 150px;
    background: #F2F4F7;
    padding: 30px 20px;
    text-align: center;

}

.document-mobile-card{
    position: relative;
    padding: 0;
    margin: 10px 0;
}
.row{
    display: flex;
}
.row div{
    /* display: inline-block; */
}
.col-50{
    width: 50%;
}
.col-40{
    width: 40%;
}
.col-10{
    width: 10%;
}
.text-end{
    text-align: end;
}
.card-title{
    text-transform: uppercase;
    color: var(--MainColor);
    font-weight: 700;

    font-size: 12px;
}

.document-mobile-card .notes-section{
    text-align: center;
    background: #F2F4F7;
    padding: 10px 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 13px;

}

.document-mobile-card .details-section{
    padding: 10px 15px;
}
