
<style>
    .Table-cell10 {
        width: 10px;
    }

    .Table-cell05 {
        width: 5px;
    }

    .Dashboard-body {
        height: 100%;
        padding: 2px;
        margin: 0;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        border-radius: 8px;
    }
</style>

<div style="height: 100%;">
    <div style="height:10px;">
    </div>

    <div class="FormFieldRow">
        <table>
            <tr>
                <td class="Table-cell10">
                    <div></div>
                </td>

                <td style="width: 1px; font-size: 16px; color: black;">
                    Dashboard
                </td>

                <td>
                    <div></div>
                </td>

                <td style="width:200px; height:22px;">
                    <LogLov [ObjectFieldName]="'SelectedDashboardId'"
                            [ObjectTableName]="'Dashboard'"
                            [NoObjectField]="true"
                            [SelectedValue]="SelectedDashboardId"
                            [DataContext]="DataContext"
                            [LookUpTableName]="'Dashboard'"
                            [HideColumns]="true"
                            (SelectedItemChanged)="SelectedDashboard = $event">
                    </LogLov>
                </td>

                <td class="Table-cell10">
                    <div></div>
                </td>

                <td style="width: 55px; min-width: 55px;">
                    <button class="Button" (click)="AdDashboardClicked()">Add new dashboard</button>
                </td>
            </tr>
        </table>
    </div>

    <div class="DashboardTab">
        <div class="DashboardTabHead">
            <ul>
                <li *ngFor="let item of DashboardsTabs" [class.DashboardTabSelected]="item.IsSelected" (click)="SelectionChanged(item)">
                    <div class="DashboardInnerTab">
                        {{item.Name}}
                    </div>
                </li>
            </ul>
        </div>

        <div class="DashboardTabBody">
            <div class="MediaFillAbsolute" *ngFor="let item of DashboardsTabs;" [hidden]="!item.IsSelected">
                <div LocationDirective Code="DashboardTabLocation" ItemCode="{{item.DashboardId}}"></div>
            </div>
        </div>
    </div>
</div>

