
<div class="FillContent">
    <div style="width:100%;height:100%">
        <table>
            <tr style="height:10px;width:100%;">
                <td></td>
            </tr>

            <tr class="SectionHeader" style="height:27px">
                <td>
                    <table>
                        <tr>
                            <td>
                                <label>{{SelectedDashboardName}}</label>
                            </td>

                            <td style="width:100px;padding-bottom:4px">
                               
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr style="height:5px">
                <td></td>
            </tr>

            <tr>
                <td>
                    <div *ngIf="false" class="new-dashboard" #reactDashboradContainer>
                    </div>
                </td>
            </tr>

        </table>
    </div>
</div>

