@import "primereact/resources/themes/lara-light-indigo/theme.css";
@import "primereact/resources/primereact.css";
@import "primeicons/primeicons.css";
@import "react-grid-layout/css/styles";
@import "react-resizable/css/styles";
@import "logitude-dashboard-library/dist/assets/styles/fonts.scss";
@import "logitude-dashboard-library/dist/assets/styles/global.scss";
@import "logitude-dashboard-library/dist/assets/styles/colors.scss";
@import "logitude-dashboard-library/dist/assets/styles/dl-dashboard.scss";

.dashboard-tooltip {
    cursor: default;
    margin-left: 420px;
    margin-top: -10px;
    height: 45px;
    width: 250px;
    position: absolute;
    transform: translate(-50%, -50%);
    background: white;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
    z-index: 1;
    background: #EDEADE;
    border-radius: 5px;
    &__arrow {
        width: 90px;
        height: 46px;
        position: absolute;
        top: -2%;
        left: -45px;
        transform: translateX(-50%);
        overflow: hidden;

        &::after {
            content: "";
            position: absolute;
            width: 20px;
            height: 20px;
            background: #EDEADE;
            transform: translateX(-50%) translateY(-50%) rotate(45deg);
            top: 22px;
            left: 104%;
            box-shadow: 1px 1px 20px 0px rgba(0,0,0,0.3);
        }
    }
}

.dashboard-tooltip:hover {
    color: black;
}

.tooltip-container {

}

.tooltip-button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;
    outline: none;
    color: blue;
    cursor: pointer;
}

.tooltop-btn-container {
    width: 100%;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center;
    pointer-events:revert;
}

.DashboardTab .DashboardTabHead li:not(.DashboardTabSelected):hover {
    /*background: #448DCA;*/
}

.DashboardTab .DashboardTabHead li:not(.DashboardTabSelected) {
    height: 23px;
    margin-top: 1px;
}

.DashboardTab .DashboardTabHead li.DashboardTabSelected {
    height: 25px;
    background-color: #F3F3F3;
    color: #1B90CB;
}

.DashboardTab .DashboardTabHead li:not(:first-child):not(.DashboardTabSelected) {
    border-left: 2px solid #F3F3F3;
}

.DashboardTab .DashboardTabHead li .DashboardInnerTab {
    height: 100%;
    width: 100%;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;    
}

.DashboardTab .DashboardTabHead li {
    height: 23px;
    line-height: 20px;
    display: inline-block;
    float: left;
    cursor: default;    
    border-bottom: none;
    overflow: hidden;
}

.DashboardTab .DashboardTabHead ul {
    width: 100%;
    height: 100%;
    position: relative;
}

.DashboardTab .DashboardTabBody {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 25px;
    border-top: none;
    background: #F3F3F3;
}

.DashboardTab .DashboardTabHead {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 25px;
}

.DashboardTab {
    width: 100%;
    height: 100%;
    position: relative;
}
