.StatisticsTable-td {
    vertical-align: top;
}

.StatisticsTable-td > div {
    margin-top: 6px;
    margin-right: 40px;
}

.Statistics {
    text-align: right;
}

.StatisticsTable {
    border-collapse: collapse;
    table-layout: fixed;
}

    .StatisticsTable tbody {
        overflow: auto;
        display: block; 
        width: 180px;
        display:table;
        height: 20px;
        border-bottom:1px solid #A7A9AC;
    }
    .StatisticsTable thead th {
        text-align: right;
        border: 1px solid #DADADA;
        text-indent: 5px;
        cursor: pointer;
        background: linear-gradient( 180deg, rgba(247, 247, 247, 1) 0%, rgba(245, 245, 245, 1) 52.38%, rgba(238, 238, 238, 1) 72.96%, rgba(226, 226, 226, 1) 87.88%, rgba(209, 209, 209, 1) 100%);
        color: #1B90CB;

    }
    