<style>
    .TabBody {
        overflow: auto;
    }
</style>

<table>
    <tr>
        <td>
            <div class="MediaFill">
                <div class="TabControl">
                    <div class="TabControlHead">
                    </div>
                    <div class="TabControlBody" style="top:5px;border:2px solid #E4E3E1;border-radius:8px;">
                        <div class="MediaFillRelative" [hidden]="SelectedTabCode != 'MTUP'">
                            <div class="TabBody MediaFillAbsolute" style="top: 5px;margin:5px">
                                <div LocationDirective Code="MTUP"></div>
                            </div>
                        </div>
                        <div class="MediaFillRelative" [hidden]="SelectedTabCode != 'MTHE'">
                            <div class="TabBody MediaFillAbsolute" style="top: 5px;margin:5px">
                                <div LocationDirective Code="MTHE"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>
