<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Devart.Data.Oracle" publicKeyToken="09af7300eec23701" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.9.872.0" newVersion="9.9.872.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Devart.Data" publicKeyToken="09af7300eec23701" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.2296.0" newVersion="5.0.2296.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.999" newVersion="1.0.0.999" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.2.0" newVersion="2.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Dataflow" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.24.0" newVersion="4.5.24.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.StorageClient" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.0.0" newVersion="1.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

<connectionStrings>

    <!--<add name="Globalstr" connectionString="2018R2_Global,sa,Saas256,." />
    <add name="SystemLogsStr" connectionString="2018R2_SystemLogs,sa,Saas256,." />-->


    <add name="Globalstr" connectionString="Logitude2-5_Global,sa,Saas256,." />
    <add name="SystemLogsStr" connectionString="Logitude2-5_SystemLogs,sa,Saas256,." /> 
     <!--Test-->
  <!--<add name="Globalstr" connectionString="LogitudeGlobal-Test2,sa,Saas256,logitudetest.cloudapp.net" />
  <add name="SystemLogsStr" connectionString="LogitudeSystemLogs-Test2,sa,Saas256,logitudetest.cloudapp.net" />-->
    
    <!--<add name="Globalstr" connectionString="2017R4_Global,sa,Saas256,." />
    <add name="SystemLogsStr" connectionString="2017R4_SystemLogs,sa,Saas256,." />-->
    
    <!--<add name="Globalstr" connectionString="2016R5_Global,sa,Saas256,." />
    <add name="SystemLogsStr" connectionString="2016R5_Logs,sa,Saas256,." />-->


    <!--<add name="Globalstr" connectionString="2017.R3.1_Global,sa,Saas256,." />
    <add name="SystemLogsStr" connectionString="2017.R3.1_SystemLogs,sa,Saas256,." />-->


    <!--<add name="Globalstr" connectionString="LogitudeGlobal-2016R2,logitudeuser,!LU789456,ek5cxrtgus.database.windows.net" />
   <add name="SystemLogsStr" connectionString="LogitudeSystemLogs-2016R2,logitudeuser,!LU789456,ek5cxrtgus.database.windows.net" />-->
    <!--
     <add name="Globalstr" connectionString="LogitudeGlobal,logitudemanager,!LO852456,ebup282itq.database.windows.net" />
    <add name="SystemLogsStr" connectionString="LogitudeSystemLogs,logitudemanager,!LO852456,ebup282itq.database.windows.net" /> 
-->
    
    <add name="Oracle_Globalstr" connectionString="User Id=logitude_GLOBAL;  Password=oracle;Direct=True;Data Source=localhost;port=1521;sid=xe" />
    <add name="Oracle_SystemLogsStr" connectionString="User Id=logitude_logs;  Password=oracle;Direct=True;Data Source=localhost;port=1521;sid=xe" />

    
    <!--Production-->
    <!--<add name="Globalstr" connectionString="LogitudeGlobal,logitudemanager,!LO852456,ebup282itq.database.windows.net" />
    <add name="SystemLogsStr" connectionString="LogitudeSystemLogs,logitudemanager,!LO852456,ebup282itq.database.windows.net" />-->

  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup></configuration>
