.CenterCenter {
    height: max-content;
    width: 90vw;
    text-align: center;
    direction: rtl;
}

p {
    font-size: 3rem;
    color: green;
    white-space: normal;
}

.error-msg p {
    color: red !important;
}