.accordion-container {
    padding: 7px 10px;
    border: 1px solid #ced4da;
    border-radius: 3px;
    margin-top: 19px;

    h4 {
        font-size: 14p;
        font-weight: bold;
        color: black;
        display: inline;
    }

    .pi {
        float: right;
        color: #1084DC;
    }
}

.accordion-contect {
    margin-top: 14px;
}