:host ::ng-deep {
    .p-radiobutton {
        display: none;
    }

    .radio-checked .simple-text {
        color: #1084DC !important;
    }
}

.label {
    padding: 8px 25px;
    font-weight: bolder;
}

p-radiobutton {
    vertical-align: middle;
    margin-left: 10px;
}

.radio-section {
    margin-bottom: 20px;
}

.radio-checked {
    background-color: #e2f0fb;
    
 }

.radio-row {
    font-size: 12px;
    color: gray;
    // display: flex;
    padding: 5px 27px;

    label img {
        width: 20px;
    }
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}