<connectionStrings  >
  <add name="DevartAmitalDirect" connectionString="Univ56,1521,amital,amitestm2,amitestm2" />
  <add name="Globalstr" connectionString="Amital1_Global,sa,Saas256,." />
  <add name="SystemLogsStr" connectionString="Amital1_SystemLogs,sa,Saas256,." />
  <add name="LogitudeStr" connectionString="Data Source=.;Initial Catalog=Amital1_Main;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  <add name="LogitudeGlobalStr" connectionString="Data Source=.;Initial Catalog=Amital1_Global;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  <add name="TotangoServiceId" connectionString="SP-11460-01" />
  <add name="DevartAmitalConnectionString" connectionString="metadata=res://Unifreight.Data/AmitalDataModel.csdl|res://Unifreight.Data/AmitalDataModel.ssdl|res://Unifreight.Data/AmitalDataModel.msl;provider=Devart.Data.Oracle;provider connection string=&quot;User Id=amitestm;Password=amitestm;Server=Univ56;Direct=True;Sid=amital;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" />

  <add name="Oracle_Globalstr"  connectionString="User Id=logitude_GLOBAL;  Password=oracle;Direct=True;Data Source=Univ56;port=1521;sid=amital"/>
  <add name="Oracle_SystemLogsStr"  connectionString="User Id=logitude_logs;  Password=oracle;Direct=True;Data Source=Univ56;port=1521;sid=amital"/>


  <clear/>


  <!--courier 58 -->
  <add name="Oracle_Globalstr"  connectionString="User Id=couriernet_global;  Password=couriernet_global;Direct=True;Data Source=Univ58;port=1521;sid=amital"/>
  <add name="Oracle_SystemLogsStr"  connectionString="User Id=couriernet_logs;  Password=couriernet_logs;Direct=True;Data Source=Univ58;port=1521;sid=amital"/>



<clear/>
  <add name="Oracle_Globalstr"  connectionString="User Id=AMINET_GLOBAL;  Password=AMINET_GLOBAL;Direct=True;Data Source=Univ58;port=1521;sid=amital"/>
  <add name="Oracle_SystemLogsStr"  connectionString="User Id=AMINET_logs;  Password=AMINET_logs;Direct=True;Data Source=Univ58;port=1521;sid=amital"/>
  <add name="LogitudeSystemLogsStr" connectionString="Data Source=.;Initial Catalog=Amital1_SystemLogs;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />

<clear/>
  <add name="Oracle_Globalstr"  connectionString="User Id=AMINETcst_GLOBAL;  Password=AMINETcst_GLOBAL;Direct=True;Data Source=10.10.10.96;port=1521;sid=amital"/>
  <add name="Oracle_SystemLogsStr"  connectionString="User Id=AMINETcst_LOGS;  Password=AMINETcst_LOGS;Direct=True;Data Source=10.10.10.96;port=1521;sid=amital"/>
  <add name="LogitudeSystemLogsStr" connectionString="Data Source=.;Initial Catalog=Amital1_SystemLogs;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
<clear/>
  <add name="Oracle_Globalstr"  connectionString="User Id=AMINET_GLOBAL;  Password=AMINET_GLOBAL;Direct=True;Data Source=Univ58;port=1521;sid=amital"/>
  <add name="Oracle_SystemLogsStr"  connectionString="User Id=AMINET_logs;  Password=AMINET_logs;Direct=True;Data Source=Univ58;port=1521;sid=amital"/>
  <add name="LogitudeSystemLogsStr" connectionString="Data Source=.;Initial Catalog=Amital1_SystemLogs;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  <!--<clear/>-->




  <add name="LogitudeSystemLogsStr" connectionString="Data Source=.;Initial Catalog=Amital1_SystemLogs;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />


  <add name="LogitudeSystemLogsStr" connectionString="Data Source=.;Initial Catalog=Amital1_SystemLogs;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />







 

  


  <clear/>
  <add name="Oracle_Globalstr"  connectionString="User Id=AMINETpre_GLOBAL;  Password=AMINETpre_GLOBAL;Direct=True;Data Source=Univ58;port=1521;sid=amital"/>
  <add name="Oracle_SystemLogsStr"  connectionString="User Id=AMINETpre_logs;  Password=AMINETpre_logs;Direct=True;Data Source=Univ58;port=1521;sid=amital"/>




  <clear/>


  <add name="Oracle_Globalstr"  connectionString="User Id=aminetNXT_global;  Password=aminetNXT_global;Direct=True;Data Source=unidb2016;port=1521;sid=amital"/>
  <add name="Oracle_SystemLogsStr"  connectionString="User Id=aminetNXT_logs;  Password=aminetNXT_logs;Direct=True;Data Source=unidb2016;port=1521;sid=amital"/>





  <!--592-->
  <clear/>
  <add name="Oracle_Globalstr"  connectionString="User Id=aminetNXT_global     ;  Password=aminetNXT_global      ;Direct=True;Data Source=unidb2016;port=1521;sid=amital"/>
  <add name="Oracle_SystemLogsStr"  connectionString="User Id=aminetNXT_log;  Password=aminetNXT_log;Direct=True;Data Source=unidb2016;port=1521;sid=amital"/>
  <add name="LogitudeSystemLogsStr" connectionString="Data Source=.;Initial Catalog=Amital1_SystemLogs;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />



  <!--592-->
 



<clear/>
  <!--courier 58 -->
  <add name="Oracle_Globalstr"  connectionString="User Id=couriernet_global;  Password=couriernet_global;Direct=True;Data Source=Univ58;port=1521;sid=amital"/>
  <add name="Oracle_SystemLogsStr"  connectionString="User Id=couriernet_logs;  Password=couriernet_logs;Direct=True;Data Source=Univ58;port=1521;sid=amital"/>
  <clear/>
  <add name="Oracle_Globalstr"  connectionString="User Id=aminetNXT_global     ;  Password=aminetNXT_global      ;Direct=True;Data Source=unidb2016;port=1521;sid=amital"/>
  <add name="Oracle_SystemLogsStr"  connectionString="User Id=aminetNXT_log;  Password=aminetNXT_log;Direct=True;Data Source=unidb2016;port=1521;sid=amital"/>
  <add name="LogitudeSystemLogsStr" connectionString="Data Source=.;Initial Catalog=Amital1_SystemLogs;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />




   

 
  


 <clear/>
  <add name="Oracle_Globalstr"  connectionString="User Id=aminetprd_global;  Password=aminetprd_global;Direct=True;Data Source=unidb2016;port=1521;sid=amital"/>
  <add name="Oracle_SystemLogsStr"  connectionString="User Id=aminetprd_logs;  Password=aminetprd_logs;Direct=True;Data Source=unidb2016;port=1521;sid=amital"/>
	 <clear/>
  <!--courier 58 -->
  <add name="Oracle_Globalstr"  connectionString="User Id=couriernet_global;  Password=couriernet_global;Direct=True;Data Source=Univ58;port=1521;sid=amital"/>
  <add name="Oracle_SystemLogsStr"  connectionString="User Id=couriernet_logs;  Password=couriernet_logs;Direct=True;Data Source=Univ58;port=1521;sid=amital"/>
<clear/>
  <add name="Oracle_Globalstr"  connectionString="User Id=AMINETcst_GLOBAL;  Password=AMINETcst_GLOBAL;Direct=True;Data Source=10.10.10.96;port=1521;sid=amital"/>
  <add name="Oracle_SystemLogsStr"  connectionString="User Id=AMINETcst_LOGS;  Password=AMINETcst_LOGS;Direct=True;Data Source=10.10.10.96;port=1521;sid=amital"/>
      <clear/>
  <add name="Oracle_Globalstr"  connectionString="User Id=aminetNXT_global     ;  Password=aminetNXT_global      ;Direct=True;Data Source=unidb2016;port=1521;sid=amital"/>
  <add name="Oracle_SystemLogsStr"  connectionString="User Id=aminetNXT_log;  Password=aminetNXT_log;Direct=True;Data Source=unidb2016;port=1521;sid=amital"/>
  <add name="LogitudeSystemLogsStr" connectionString="Data Source=.;Initial Catalog=Amital1_SystemLogs;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  
</connectionStrings>