<div class="TabHolder">
    <table>
        <!-- Header -->
        <tr class="TabTitleRow">
            <td>{{'Stage.TH.General' | TextCodeTranslationPipe}}</td>
        </tr>
        <tr>
            <td>
                <table>
                    <!-- Name -->
                    <tr class="FormFieldRow">
                        <td style="width:100px;">
                            <LogLabel [ObjectFieldName]="'Name'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                        </td>

                        <td style="width:240px;">
                            <LogTextBox [ObjectFieldName]="'Name'" [Text]="Name"  [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogTextBox>
                        </td>

                        <td>
                            <div></div>
                        </td>
                    </tr>

                    <!-- Probability -->
                    <tr class="FormFieldRow">
                        <td>
                            <LogLabel [ObjectFieldName]="'Probability'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                        </td>

                        <td>
                            <LogTextBox [ObjectFieldName]="'Probability'" [IsNewEntityCall]="true" [Text]="Probability"  [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogTextBox>
                        </td>

                        <td>
                            <div></div>
                        </td>
                    </tr>

                    <!-- MaxDays -->
                    <tr class="FormFieldRow">
                        <td>
                            <LogLabel [ObjectFieldName]="'MaxDays'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                        </td>

                        <td>
                            <LogTextBox [ObjectFieldName]="'MaxDays'" [Text]="MaxDays" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogTextBox>
                        </td>

                        <td>
                            <div></div>
                        </td>
                    </tr>

                    <!-- InActive -->
                    <tr class="FormFieldRow">
                        <td>
                            <LogLabel [ObjectFieldName]="'InActive'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                        </td>

                        <td>
                            <LogCheckBox [ObjectFieldName]="'InActive'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogCheckBox>
                        </td>
                        <td>
                            <div></div>
                        </td>
                    </tr>

                    <tr><td><div></div></td></tr>
                </table>
            </td>
        </tr>
    </table>
</div>