<?xml version="1.0" encoding="utf-8"?>
<appSettings>

  <!--<add key="LogboxServerURL" value="https://system.logbox.co.il" />
  <add key="LogboxTenant" value="1851" />
  <add key="LogboxTenant_APICredential_PrimaryKey" value="5f211461-aa2b-4377-aed3-e6f91701a986" />
  <add key="LogboxTenant_APICredential_SecondaryKey" value="57226f43-8403-4570-9196-3a85c43a474e" />
  
  <add key="CloudServerURL" value="http://cloud.amital.co.il" />
  <add key="CloudTenant" value="89" />
  <add key="CloudTenant_APICredential_PrimaryKey" value="45af0337-04c8-463d-bf74-92fdf4664e3c" />
  <add key="CloudTenant_APICredential_SecondaryKey" value="e3281621-6d42-4f3e-a6ae-e3b10ac0ba1e" />-->

  <add key="LogboxServerURL" value="https://test.logitudeworld.com/test" />
  <add key="LogboxTenant" value="991" />
  <add key="LogboxTenant_APICredential_PrimaryKey" value="9cc15823-f1f3-4460-9cd4-b441c3bb67da" />
  <add key="LogboxTenant_APICredential_SecondaryKey" value="037ecd8c-d124-44e0-b486-2357cecc8282" />
  
  <add key="CloudServerURL" value="https://test.logitudeworld.com/test" />
  <add key="CloudTenant" value="1161" />
  <add key="CloudTenant_APICredential_PrimaryKey" value="21e2f598-0465-4a59-95e1-19617947e4f3" />
  <add key="CloudTenant_APICredential_SecondaryKey" value="b2df73d5-f0da-4b04-b1de-672b56cc685e" />
</appSettings>

