<?xml version="1.0" encoding="utf-8"?>
<appSettings>

  <add key="LogBoxServerURL" value="https://system.logbox.co.il" />
  <add key="LogBoxTenant" value="1851" />
  <add key="LogBoxTenant_APICredential_PrimaryKey" value="5f211461-aa2b-4377-aed3-e6f91701a986" />
  <add key="LogBoxTenant_APICredential_SecondaryKey" value="57226f43-8403-4570-9196-3a85c43a474e" />

</appSettings>

