
.FieldRow {
    height: 25px;
    line-height: 40px;
}

// :host ::ng-deep .InputDiv {
    
//     max-height: 50px !important;
//     height: 50px !important;
// }

.boxBorderRightTop {
    border-top: 1px solid #3BB3E2;
    border-right: 1px solid #3BB3E2;
}
.boxBorderRightBottom {
    border-bottom: 1px solid #3BB3E2;
    border-right: 1px solid #3BB3E2;
}
.boxBorderLeftTop {
    border-top: 1px solid #3BB3E2;
    border-left: 1px solid #3BB3E2;
}
.boxBorderLeftBottom {
    border-bottom: 1px solid #3BB3E2;
    border-left: 1px solid #3BB3E2;
}

::ng-deep .AddressBox .InputDiv {
    height: 55px !important;
}

::ng-deep .DescriptionBox .InputDiv {
    height: 24.8px !important;
}
::ng-deep .nameBox .InputDiv {
    height: 26px !important;
}

.DisbleBox {
    display: inline-block;
    border: 1px solid #ffd800;
    border-radius: 5px;
    background: #faf5c0;
    /*fbebbc*/
    padding: 4px 10px;
    color: gray;
    font-family: sans-serif;
    max-width: 660px;
    white-space: normal;
}

#connectedInvoices {
    display: flex;
    justify-content: space-between;
    width: 100%;
}