<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AmazedSaint.ElasticObject" version="1.2.0" targetFramework="net461" />
  <package id="CommonServiceLocator" version="2.0.7" targetFramework="net48" />
  <package id="DocSpace.Microsoft.Practices.ServiceLocation" version="3.1.0" targetFramework="net461" />
  <package id="DWEditorGalaSoft" version="1.1.0" targetFramework="net472" />
  <package id="Microsoft.DependencyValidation.Analyzers" version="0.11.0" targetFramework="net48" />
</packages>