<table>
    <tr *ngIf="ValidationErrorsList != null && ValidationErrorsList.length > 0" style="height:1px;">
        <td>
            <ValidationSummary [ItemsSource]="ValidationErrorsList"></ValidationSummary>
        </td>
    </tr>
    <tr style="height:1px;">
        <td>
            <table>
                <tr>
                    <td>
                        <div></div>
                    </td>
                    <td style="width: 1px;">
                        <IconButton [Name]="'Add'" [IsSmall]="true" (click)="AddButtonClicked()" [disabled]="!IsEditingEnabled"></IconButton>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr style="height: 2px;">
        <td></td>
    </tr>
    <tr>
        <td>
            <div class="MediaFill" *ngIf="IsVisibile">
                <div class="SimpleGridView">
                    <div class="SimpleGridViewHeader">
                        <table>
                            <tr>
                                <td style="width: 130px; min-width: 130px; max-width: 130px;">{{'PickUpDeliveryPackageHarmonize.F.Harmonize' | TextCodeTranslationPipe}}</td>

                                <td class="LastChild">
                                    <div></div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="SimpleGridViewBody">
                        <table>
                            <tr class="SimpleGridViewRow" *ngFor="let item of ItemsSource;let i = index">

                                <td class="CellStretched" style="width: 130px; min-width: 130px; max-width: 130px;">
                                    <table>
                                        <tr>
                                            <td>
                                                <LogTextBox [ObjectFieldName]="'Harmonize'" [ObjectTableName]="item.ObjectTableName" [DataContext]="item" [HideColumns]="true" [Text]="item.Harmonize"></LogTextBox>
                                            </td>

                                            <td style="width: 2px;">
                                                <div></div>
                                            </td>

                                            <td style="width: 14px;">
                                                <span class="hyperlink" (click)="ChooseHarmonizeClicked(item)">
                                                    <img style="vertical-align: middle; width: 14px; height: 14px; cursor: pointer;" src="./Images/LOVSearch.png" />
                                                </span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>

                                <td class="CellTools">
                                    <span class="CellSeparator"></span>
                                    <IconButton [Name]="'Delete'" [IsSmall]="true" [Left]="3" (click)="DeleteItem(item)" [IsEnabled]="IsEditingEnabled"></IconButton>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="2">
                                    <div></div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div *ngIf="ItemsSource.length == 0" class="CenterCenter" style="width: 350px; height: 30px;">
                    <div class="NoDataTextStyle">Click the add button to add new lines</div>
                </div>
            </div>
        </td>
    </tr>
    <tr style="height: 32px;">
        <td style="vertical-align: bottom">
            <table style="height: 22px;">
                <tr>
                    <td>
                        <div></div>
                    </td>
                    <td style="width: 57px;">
                        <button class="Button" (click)="CancelButtonClicked()">{{'General.B.Cancel' | TextCodeTranslationPipe}}</button>
                    </td>
                    <td style="width: 5px;">
                        <div></div>
                    </td>
                    <td style="width: 57px;">
                        <button class="RedButton" (click)="OkButtonClicked()" [disabled]="!IsEditingEnabled" tabindex="0">{{'General.B.Ok' | TextCodeTranslationPipe}}</button>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
