:host ::ng-deep {
    LogTextBox .InputDiv {
        height: 23px !important;
    }

    .ActionButton checkbox .LogitudeCheckBox {
        margin-right: 5px;
    }
}

.search-row-container {
    height: 22px;
    display: flex;
    align-items: center;
    margin: 17px 0px;

    > * {
        // flex: 1;
        width: 80px;
        height: 22px;
        position: relative;

        LogTextBox {
            height: 22px;
            display: block;
            position: relative;
        }
    }

    .checkbox-all {
        width: 76px;
        display: flex;
        align-items: center;

        input {
            height: auto;
            min-height: auto;
            width: auto;
            margin-right: 4px;
        }
    }

    .label-good-description {
        width: 66px;
    }

    .label-weight {
        width: 45px;
        margin-right: 15px;
    }

    .label-from {
        width: 23px;
    }

    .input-from {
        width: 40px;
        margin-left: 10px;
    }

    .label-to {
        width: 30px;
    }

    .input-to {
        width: 40px;
    }

    .label-incoterm {
        margin-right: 10px;
    }

    .Button {
        width: 70px;
        margin: 0 13px;
    }

    searchtextbox {
        width: 140px;
        margin-right: 10px;
    }

    courier-filter-button {
        margin-right: 300px;
    }

    .incoterm-code-wrapper {
        width: 120px;;
    }
    
    .input-good-description {
        width: 200px;
    }
}


.GeneratedGridContainer {
    // logitude-edit-grid {
    position: relative;
    display: block;
    height: 88%;
}

.checkbox-wrapper {
    text-align: center;

    input {
        height: 15px;
        width: 15px;
        min-height: 15px;
        vertical-align: middle;
    }
}

app-declaration-pendings-bulk-feeding {
    width: 432px;
    display: block;
    height: 230px;
    margin: auto;
}

.ActionButton {
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(186, 206, 227, 1) 100%);
}

.ToggleButton {
    border: none;
}
