
.FiltersMenu .SelectedFilter {
    color: white;
    background: -moz-linear-gradient(50% 100% 90deg,rgba(24, 130, 184, 1) 0%,rgba(28, 132, 186, 1) 13.58%,rgba(41, 140, 190, 1) 27.91%,rgba(62, 152, 198, 1) 42.6%,rgba(92, 169, 209, 1) 57.53%,rgba(130, 191, 223, 1) 72.64%,rgba(176, 218, 239, 1) 87.7%,rgba(219, 243, 255, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(24, 130, 184, 1) 0%, rgba(28, 132, 186, 1) 13.58%, rgba(41, 140, 190, 1) 27.91%, rgba(62, 152, 198, 1) 42.6%, rgba(92, 169, 209, 1) 57.53%, rgba(130, 191, 223, 1) 72.64%, rgba(176, 218, 239, 1) 87.7%, rgba(219, 243, 255, 1) 100%);
    background: -webkit-gradient(linear,50% 100%,50% 0%,color-stop(0,rgba(24, 130, 184, 1) ),color-stop(0.1358,rgba(28, 132, 186, 1) ),color-stop(0.2791,rgba(41, 140, 190, 1) ),color-stop(0.426,rgba(62, 152, 198, 1) ),color-stop(0.5753,rgba(92, 169, 209, 1) ),color-stop(0.7264,rgba(130, 191, 223, 1) ),color-stop(0.877,rgba(176, 218, 239, 1) ),color-stop(1,rgba(219, 243, 255, 1) ));
    background: -o-linear-gradient(90deg, rgba(24, 130, 184, 1) 0%, rgba(28, 132, 186, 1) 13.58%, rgba(41, 140, 190, 1) 27.91%, rgba(62, 152, 198, 1) 42.6%, rgba(92, 169, 209, 1) 57.53%, rgba(130, 191, 223, 1) 72.64%, rgba(176, 218, 239, 1) 87.7%, rgba(219, 243, 255, 1) 100%);
    background: linear-gradient(0deg, rgba(24, 130, 184, 1) 0%, rgba(28, 132, 186, 1) 13.58%, rgba(41, 140, 190, 1) 27.91%, rgba(62, 152, 198, 1) 42.6%, rgba(92, 169, 209, 1) 57.53%, rgba(130, 191, 223, 1) 72.64%, rgba(176, 218, 239, 1) 87.7%, rgba(219, 243, 255, 1) 100%);
}

.FiltersMenu li:not(.SelectedFilter):hover {
    cursor: pointer;
    background: -moz-linear-gradient(50% 0% -90deg,rgba(255, 255, 255, 1) 0%,rgba(186, 206, 227, 1) 100%);
    background: -webkit-linear-gradient(-90deg, rgba(255, 255, 255, 1) 0%, rgba(186, 206, 227, 1) 100%);
    background: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0,rgba(255, 255, 255, 1) ),color-stop(1,rgba(186, 206, 227, 1) ));
    background: -o-linear-gradient(-90deg, rgba(255, 255, 255, 1) 0%, rgba(186, 206, 227, 1) 100%);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(186, 206, 227, 1) 100%);
}

.FiltersMenu li:first-child {
    border-radius: 3px 0 0 3px;
}

.FiltersMenu li:last-child {
    border: 1px Solid #6A8299;
    border-radius: 0 3px 3px 0;
}

.FiltersMenu li {
    float: left;
    cursor: default;
    width: 28px;
    height: 19px;
    line-height: 19px;
    font-size: 11px;
    color: #282E30;
    text-indent: 0px;
    text-align: center;
    vertical-align: middle;
    border-style: Solid;
    border-color: #6A8299;
    border-width: 1px 0 1px 1px;
    background: -moz-linear-gradient(50% 164.29% 90deg,rgba(188, 190, 192, 1) 0%,rgba(230, 231, 232, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(188, 190, 192, 1) 0%, rgba(230, 231, 232, 1) 100%);
    background: -webkit-gradient(linear,50% 164.29%,50% 6.67%,color-stop(0,rgba(188, 190, 192, 1) ),color-stop(1,rgba(230, 231, 232, 1) ));
    background: -o-linear-gradient(90deg, rgba(188, 190, 192, 1) 0%, rgba(230, 231, 232, 1) 100%);
    background: linear-gradient(0deg, rgba(188, 190, 192, 1) 0%, rgba(230, 231, 232, 1) 100%);
    position: relative;
}

.FiltersMenu {
    height: 21px;
    max-height: 21px;
    min-height: 21px;
}
