<div class="instruction-container" *ngIf="data && !expandedArea">
    <h3 class="instruction-header">פרטי הנחיה</h3>
    <div class="instruction-row">
        <div class="instruction-cell">
            <span class="label">מס' הנחיה:</span>
            <span class="value">{{ data.classificationGuidanceNumber }}</span>
        </div>
    </div>
    <div class="instruction-row">
        <div class="instruction-cell">
            <span class="label">שם הנחיה:</span>
            <span class="value">{{ data.title }}</span>
        </div>
    </div>
    <div class="instruction-row">
        <div class="instruction-cell">
            <span class="label">סוג הנחיה:</span>
            <span class="value">{{ data.classificationGuidanceTypeName }}</span>
        </div>
        <div class="instruction-cell">
            <span class="label">חלק/פרק/פרט מכס:</span>
            <span class="value">{{ data.fullClassificationItem }}</span>
        </div>
        <div class="instruction-cell">
            <span class="label"></span>
            <span class="value"></span>
        </div>
    </div>
    <div class="instruction-row">
        <div class="instruction-cell">
            <span class="label">תאריך פתיחה:</span>
            <span class="value">{{ data.createDate | date: 'dd/MM/yyyy' }}</span>
        </div>
        <div class="instruction-cell">
            <span class="label">תאריך סיום תוקף:</span>
            <span class="value">{{ data.expirationDate | date: 'dd/MM/yyyy' }}</span>
        </div>
        <div class="instruction-cell">
            <span class="label">תאריך פרסום:</span>
            <span class="value">{{ data.publicationDate | date: 'dd/MM/yyyy' }}</span>
        </div>
    </div>
    <h3 class="instruction-header" *ngIf="data?.classifGuidanceAttached.length > 0">הנחיה זו מתייחסת גם לפרטים הבאים</h3>
    <div class="instruction-row" *ngIf="data?.classifGuidanceAttached.length > 0">
        <div class="instruction-row" *ngFor="let item of data?.classifGuidanceAttached">
            <div class="instruction-cell">
                <span class="label">חלק/פרק/פרט מכס:</span>
                <span class="value">{{ item.fullClassification }}</span>
            </div>
        </div>
    </div>
    <h3 class="instruction-header">תוכן הנחיה</h3>
    <div class="instruction-row">
        <div class="instruction-cell">
            <span [innerHTML]="sanitizeHTML(data?.classificationGuidanceTextRTF)"></span>
        </div>
    </div>
</div>
<div class="instruction-container loadingBoxData"
    *ngIf="!data && !expandedArea && ClassificationGuidanceId.getValue() != ''">
    <span class="value">טוען נתונים ...</span>
</div>