.mat-form-field {
    font-size: inherit;
    font-weight: 400;
    line-height: 1.125;
    font-family: Roboto,Helvetica Neue,sans-serif;
    letter-spacing: normal;
}


.mat-form-field-ripple {
    background: var(--MainColor);
}

.mat-form-field-underline::before {
    background: var(--MainColor);
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: var(--MainColor);
}

mat-option-text {
    color: var(--MainColor);
}
