.mat-form-field {
    font-size: inherit;
    font-weight: 400;
    line-height: 1.125;
    font-family: Roboto,Helvetica Neue,sans-serif;
    letter-spacing: normal;
    /* border-top: 1px solid #F00; */
    /* border-left: 1px solid #F00;
    border-right: 1px solid #F00; */
}


.mat-form-field-ripple {
    background: var(--MainColor);
}

.mat-form-field-underline::before {
    background: var(--MainColor);
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: var(--MainColor);
}

mat-option-text {
    color: var(--MainColor);
}

::ng-deep .mat-form-field-flex{
    border: 1px solid var(--MainColor);
    width: 170px !important;
}

::ng-deep .mat-form-field-underline{
    border-bottom: 1px solid var(--MainColor);
}

::ng-deep .mat-pseudo-checkbox-checked{
    background-color: var(--MainColor) !important;
}

::ng-deep .cdk-overlay-pane{
    margin-left: 29px;
    margin-top: 7px;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: #FFF;
    border-radius: 6px !important;
    padding: 3px .75em 0 .75em !important;
    height: 40px;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%) !important;
}


::ng-deep .mat-form-field-underline{
display: none;
}

::ng-deep .mat-select-arrow {
    color: var(--MainColor);
}

::ng-deep .mat-select-panel {
    min-width: calc(100% + 20px) !important;
}
::ng-deep .fixed-title-form .mat-form-field-infix {
    display: block;
    position: relative;
    flex: auto;
    min-width: 0;
    width: 180px;
    bottom: 6px;
}
.FlipImgVert {
    transform: rotate(180deg);
}

.FlipImgDiagonal {
    transform: rotate(225deg) !important;
}

.sort-img {
    color: var(--MainColor);
    display:inline;
    height:20px;
    width:19px;
}
.flex {
    display: flex;
    flex-direction: row
}


@media screen and (min-device-width: 479px) and
    (max-device-width: 1250px) and
    (-webkit-min-device-pixel-ratio: 1) {
        ::ng-deep .mat-form-field-flex {
            border: 1px solid var(--MainColor);
            width: 150px !important;
        }
}
