<connectionStrings>
   
   <add name="CargoTrackingStr" connectionString="CargoTracking-merge-test,amitaladmin,ut6py6VH7QkEiwR,sql-amital-dev-il.database.windows.net" />
   <add name="Globalstr" connectionString="Global-merge-test,amitaladmin,ut6py6VH7QkEiwR,sql-amital-dev-il.database.windows.net"/>
   <add name="SystemLogsStr" connectionString="SystemLogs-merge-test,amitaladmin,ut6py6VH7QkEiwR,sql-amital-dev-il.database.windows.net"/>
  
  <add name="LogitudeStr" connectionString="Data Source=sql-amital-dev-il.database.windows.net;Initial Catalog=Main-merge-test;Integrated Security=False;Persist Security Info=True;User ID=amitaladmin;Password=ut6py6VH7QkEiwR;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  <add name="LogitudeGlobalStr" connectionString="Data Source=sql-amital-dev-il.database.windows.net;Initial Catalog=Global-merge-test;Integrated Security=False;Persist Security Info=True;User ID=amitaladmin;Password=ut6py6VH7QkEiwR;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  <add name="LogitudeSystemLogsStr" connectionString="Data Source=sql-amital-dev-il.database.windows.net;Initial Catalog=SystemLogs-merge-test;Integrated Security=False;Persist Security Info=True;User ID=amitaladmin;Password=ut6py6VH7QkEiwR;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
<clear/>

<add name="LogitudeStr" connectionString="Data Source=sql-amital-dev-il.database.windows.net;Initial Catalog=Main-merge-test;Integrated Security=False;Persist Security Info=True;User ID=amitaladmin;Password=ut6py6VH7QkEiwR;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
<add name="LogitudeGlobalStr" connectionString="Data Source=sql-amital-dev-il.database.windows.net;Initial Catalog=Global-merge-test;Integrated Security=False;Persist Security Info=True;User ID=amitaladmin;Password=ut6py6VH7QkEiwR;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
<add name="LogitudeSystemLogsStr" connectionString="Data Source=sql-amital-dev-il.database.windows.net;Initial Catalog=Logs-merge-test;Integrated Security=False;Persist Security Info=True;User ID=amitaladmin;Password=ut6py6VH7QkEiwR;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
<add name="SystemLogsStr" connectionString="SystemLogs-MERGE-TEST,amitaladmin,ut6py6VH7QkEiwR,sql-amital-dev-il.database.windows.net" />
<add name="Globalstr" connectionString="Global-merge-test,amitaladmin,ut6py6VH7QkEiwR,sql-amital-dev-il.database.windows.net" />
<add name="CargoTrackingStr" connectionString="CargoTracking-merge-test,amitaladmin,ut6py6VH7QkEiwR,sql-amital-dev-il.database.windows.net" /> 
<clear/>

  <add name="CargoTrackingStr" connectionString="CargoTracking-prod,System,qeA9c3Z28v4Y,sql-cloud-prod-il.database.windows.net" />
   <add name="Globalstr" connectionString="Global-prod,System,qeA9c3Z28v4Y,sql-cloud-prod-il.database.windows.net"/>
   <add name="SystemLogsStr" connectionString="SystemLogs-prod,System,qeA9c3Z28v4Y,sql-cloud-prod-il.database.windows.net"/>
  
  <add name="LogitudeStr" connectionString="Data Source=sql-cloud-prod-il.database.windows.net;Initial Catalog=Main-prod;Integrated Security=False;Persist Security Info=True;User ID=System;Password=qeA9c3Z28v4Y;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  <add name="LogitudeGlobalStr" connectionString="Data Source=sql-cloud-prod-il.database.windows.net;Initial Catalog=Global-prod;Integrated Security=False;Persist Security Info=True;User ID=System;Password=qeA9c3Z28v4Y;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  <add name="LogitudeSystemLogsStr" connectionString="Data Source=sql-cloud-prod-il.database.windows.net;Initial Catalog=SystemLogs-prod;Integrated Security=False;Persist Security Info=True;User ID=System;Password=qeA9c3Z28v4Y;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
<clear/> 

  
   <add name="CargoTrackingStr" connectionString="CargoTracking-merge-test,amitaladmin,ut6py6VH7QkEiwR,sql-amital-dev-il.database.windows.net" />
   <add name="Globalstr" connectionString="Global,amitaladmin,ut6py6VH7QkEiwR,sql-amital-dev-il.database.windows.net"/>
   <add name="SystemLogsStr" connectionString="SystemLogs-merge-test,amitaladmin,ut6py6VH7QkEiwR,sql-amital-dev-il.database.windows.net"/>
  
  <add name="LogitudeStr" connectionString="Data Source=sql-amital-dev-il.database.windows.net;Initial Catalog=Main;Integrated Security=False;Persist Security Info=True;User ID=amitaladmin;Password=ut6py6VH7QkEiwR;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  <add name="LogitudeGlobalStr" connectionString="Data Source=sql-amital-dev-il.database.windows.net;Initial Catalog=Global;Integrated Security=False;Persist Security Info=True;User ID=amitaladmin;Password=ut6py6VH7QkEiwR;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  <add name="LogitudeSystemLogsStr" connectionString="Data Source=sql-amital-dev-il.database.windows.net;Initial Catalog=SystemLogs-merge-test;Integrated Security=False;Persist Security Info=True;User ID=amitaladmin;Password=ut6py6VH7QkEiwR;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />

</connectionStrings>


