<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ Assembly Name="System.Xml.dll" #>
<#@ Assembly Name="System.Xml.Linq.dll" #>
<#@ Assembly Name="System.Core.dll" #>
<#@ Assembly Name="Microsoft.CSharp.dll" #>
<#@ Assembly name="$(SolutionDir)packages\AmazedSaint.ElasticObject.1.2.0\lib\net40\AmazedSaint.Elastic.dll" #>

<#@ Import Namespace="System.Xml" #>
<#@ Import Namespace="System.Xml.Linq" #>
<#@ Import Namespace="AmazedSaint.Elastic" #>
<#@ Import Namespace="AmazedSaint.Elastic.Lib" #>
<#@ output extension=".cs" #>
<#@ import Namespace="System.IO" #>
<#@ import Namespace="System.Collections.Generic" #>
 
<#+

dynamic queryservicenamespacestring;
public void GenerateAllQueryServices(string sourceFolder,string destinationFolder,string contextName)
{
 
 queryservicenamespacestring = GetQueryServiceNameSpace(destinationFolder);
 string templateDirectory = Path.GetDirectoryName(Host.TemplateFile);
 string outputFilePath = Path.Combine(templateDirectory, sourceFolder);
foreach (string file in Directory.EnumerateFiles(outputFilePath, "*.lxml"))
{

    var fileNameWithoutExtension = Path.GetFileNameWithoutExtension(file);
	GenerateEntityQueryService(file,destinationFolder+"/Generated/"+fileNameWithoutExtension+"QueryService.Generated.cs",contextName);
}

 
}
#>

<#+  

public void GenerateEntityQueryService(string xmlFilePath,string outputFilePath,string contextName)
{
	if(string.IsNullOrEmpty(queryservicenamespacestring))
    {
		queryservicenamespacestring = GetQueryServiceNameSpace(outputFilePath);
    }

var entity = FromEntityQueryServiceFile(xmlFilePath);
 if( entity.NoObjectTable.GetType() == typeof(string))
	{
		if(entity.NoObjectTable == "true")
		{
			return;
		}
	}
		 if( entity.IsMetadataOnlyTable.GetType() == typeof(string))
      	{
	    	if(entity.IsMetadataOnlyTable == "true")
	    	{
	    		return;
	    	}
	    } 
 
    WriteEntityQueryServiceMethod(entity,contextName);
    SaveEntityQueryServiceOutput(outputFilePath);

 }
#>

<#+

public dynamic GetQueryServiceNameSpace(string destinationFolder)
{
	string spacestring = "";
	string[] path = destinationFolder.Split('/');
	foreach(string dir in path)
    {
		if(dir != "..")
        {
			spacestring += dir + ".";
        }
    }

	spacestring = spacestring.ToString().Trim('.');

	return spacestring;
}

#>

<#+
void SaveEntityQueryServiceOutput(string outputFileName)
  {
      string templateDirectory = Path.GetDirectoryName(Host.TemplateFile);
      string outputFilePath = Path.Combine(templateDirectory, outputFileName);
      

	   var manager = Manager.Create(Host, GenerationEnvironment);
	  manager.CreateTestFile(outputFilePath,this.GenerationEnvironment.ToString());
	  this.GenerationEnvironment.Remove(0, this.GenerationEnvironment.Length);
  }
#>


<#+
 private void WriteEntityQueryServiceMethod(dynamic entity,dynamic contextName)
{
    string tableName = entity.ObjectTableName.Trim('"');
	string dBTableName = entity.DBTableName.Trim('"');
	bool iswrongname = false;
	if(tableName.ToString().Trim('"').Contains("."))
    {
		tableName = tableName.ToString().Split('.')[1];
		dBTableName = dBTableName.ToString().Split('.')[1];
		iswrongname =  tableName.ToString().Split('.')[0] == "Customs";
          
    }
	
	         string[] namespacearr = pmnamespacestring.ToString().Split('.');
		     string projectname = namespacearr[1].Replace("Lib","");
        if (projectname != "Accounting" && projectname != "Booking"  && projectname != "Warehouse" && projectname != "TimeManagement" && projectname != "TariffModule" && projectname != "CargoTracking" && projectname != "ShipmentOrderModule" && projectname != "Workflow" && projectname != "DashboardModule" && projectname != "Shipment")
        {
		 iswrongname = true;
        }
        else
        {
	       iswrongname = false;  
        }
    

	string parententity = "object";
	string parentKeys = tableName + "Keys";
	if(entity.ParentTableName.GetType() == typeof(string))
    {
		parententity = entity.ParentTableName +"PM";
		parentKeys =entity.ParentTableName + "Keys";
    }

    string pmName = tableName + "PM";
	string keysName = tableName+"Keys";
	string pocosspacestring = queryservicenamespacestring.ToString().Substring(0,queryservicenamespacestring.ToString().LastIndexOf('.')) + ".EntityPOCOs;";
    string entityPMsPath=queryservicenamespacestring.ToString().Substring(0,queryservicenamespacestring.ToString().LastIndexOf('.')) + ".EntityPMs;";
	if(queryservicenamespacestring.Contains("Accounting"))
	{
	   entityPMsPath="Logitude.Accounting.Def.EntityPMs;";
	}
	if(queryservicenamespacestring.Contains("Shipment"))
	{
	   entityPMsPath="AmitalCloud.Shipment.Def.EntityPMs;";
	}
	
	if(queryservicenamespacestring.Contains("Customs"))
	{
	   entityPMsPath="Logitude.Customs.Def.EntityPMs;";
	}

	if(pocosspacestring.Contains("CargoTracking"))
	{
	   entityPMsPath="Logitude.CargoTracking.Def.EntityPMs;";
	}
 
	
	if(pocosspacestring.Contains("ShipmentOrderModule"))
	{
	   entityPMsPath="Logitude.ShipmentOrderModule.Def.EntityPMs;";
	}
 	string pmsspacestring =   entityPMsPath;	
	string mappingspacestring =   queryservicenamespacestring.ToString().Substring(0,queryservicenamespacestring.ToString().LastIndexOf('.')) + ".EntityDataMappings;";
	string repspacestring =   queryservicenamespacestring.ToString().Substring(0,queryservicenamespacestring.ToString().LastIndexOf('.')) + (iswrongname? ".Repsitories;" : ".Repositories;");
	string keysspacestring =   queryservicenamespacestring.ToString().Substring(0,queryservicenamespacestring.ToString().LastIndexOf('.')) + ".EntityKeys;";
	//string contextspacestring =   queryservicenamespacestring.ToString().Substring(0,queryservicenamespacestring.ToString().LastIndexOf('.')) + ".Context;";

	string dataprojectnamespace = queryservicenamespacestring.ToString().Substring(0,queryservicenamespacestring.ToString().LastIndexOf('.')).Replace("BL","Data;");

	repspacestring = repspacestring.Replace("BL","Data");
	keysspacestring = keysspacestring.Replace("BL","Data");
	pocosspacestring = pocosspacestring.Replace("BL","Data");
	 

	  Dictionary<string,string> primaryKeys = new Dictionary<string,string>();
	  string keysstring = "";
	string pocokeystring="";
	  string primarykeyParam="";
	  bool hasTenant = false;
		 foreach(var field in entity["field"])
		 {
		  if( field.IsPrimaryKey.GetType() == typeof(string))
			{
				if(field.IsPrimaryKey.ToString() == "true")
				{ 
					 primaryKeys.Add(field.FieldName.Trim('"'),GetDataType(field));

					keysstring += field.FieldName.Trim('"') + " = "+field.FieldName.Trim('"').ToLower() + ", ";
					primarykeyParam += GetDataType(field)+ " " + field.FieldName.Trim('"').ToLower() + ", ";
					 pocokeystring += field.FieldName.Trim('"') + " = entityPOCO."+field.FieldName.Trim('"')+", ";
				}
			}

			if( field.FieldName.ToString().Trim('"') == "Tenant")
			{
				 hasTenant = true;
			 
			}
		 }

		 keysstring = keysstring.TrimEnd(' ').TrimEnd(',');
		 primarykeyParam = primarykeyParam.TrimEnd(' ').TrimEnd(',');

		 string tenantParam = "";
		 string tenantCondition = "";
		 if(hasTenant)
         {
			 tenantParam = "int tenant";
			 tenantCondition = "where a.Tenant == tenant";
         }
		  
     
   #>
//------------------------------------------------------------------------------
// <auto-generated>
//     This code was generated by a logitude.
//     Changes to this file may cause incorrect behavior and will be lost if
//     the code is regenerated.
// </auto-generated> <#= Host.TemplateFile #>
//--- 
using System;
using System.Collections.Generic;
using System.ComponentModel.DataAnnotations.Schema;
using System.Linq;
using System.Text;
<#+ 
if(tableName != "Task" && tableName != "TaskStatus")
{
#>
using System.Threading.Tasks;
<#+
}
#>
using System.ComponentModel.DataAnnotations;
using Simplog.Server.Infrastructure;
using Logitude.Server.Tools;
using POCO = <#= pocosspacestring #>
using <#= pmsspacestring #>
using <#= mappingspacestring #>
using <#= repspacestring #>
using <#= keysspacestring #>
using <#= dataprojectnamespace #>
<#+ 
if(projectname == "Shipment")
{
#>
using AmitalCloud.Shipment.Data.Context;
<#+
}
#>


namespace <#= queryservicenamespacestring #>
{ 
   public partial class <#=tableName #>QueryService: EntityQueryService<POCO.<#=tableName #>,<#=keysName #>,<#= pmName #>,<#= parententity #>,<#=parentKeys #>>
   {
   
        <#=tableName #>Repository repository;
		I<#= contextName #>  context;
        public <#=tableName #>QueryService(int tenant)
        {
		    context = <#= contextName #>.GetContext(tenant);
            MainContext = context;
            repository = new <#=tableName #>Repository(context);
            Repository = repository;
            mapping = new <#=tableName #>DataMapping();
        }

        public <#=tableName #>QueryService(<#=tableName #>Repository repository)
        {
            this.repository = repository;
            Repository = repository;
            mapping = new <#=tableName #>DataMapping();
        }

        public <#=tableName #>QueryService(I<#= contextName #> context)
        {
            this.repository = new <#=tableName #>Repository(context);
            this.context = context;

            MainContext = context;
            Repository = repository;
            mapping = new <#=tableName #>DataMapping();
        }
		 
		public  <#=pmName #> GetSingle(<#= primarykeyParam #>,bool getComposition, bool getFromCache)
        {
             EntityKeys = new <#=tableName #>Keys(){ <#= keysstring #> };

			 return base.GetSingle(EntityKeys, getComposition, getFromCache);
        }

       
	    protected override EntityKeyFields GetKeys(POCO.<#= tableName #> entityPOCO)
        {
            <#=tableName #>Keys entityKeys = new <#=tableName #>Keys() { <#= pocokeystring #> };
            return entityKeys;
        }
     
	 
   }
   
}
	 <#+
   }

#>


<#+ 
List<dynamic> QueryPOCOFields = new List<dynamic>();
List<dynamic> QueryPMFields = new List<dynamic>();

public void WriteMapping(dynamic entity)
{
	QueryPOCOFields = new List<dynamic>();
	QueryPMFields = new List<dynamic>();
	foreach(var field in entity["field"])  
		 { 
		  if( field.HasDataBaseField.GetType() == typeof(string))
           {
             if(field.HasDataBaseField == "true")
               {
                  QueryPOCOFields.Add(field);
               }
           }
         }

		foreach(var field in entity["field"])  
		 { 
		  if( field.HasPMField.GetType() == typeof(string))
           {
             if(field.HasPMField == "true")
               {
                  QueryPMFields.Add(field);
               }
           }
         }

			#>
								 
								<#+
		  foreach(var field in QueryPOCOFields)  
		 {
				if(QueryPMFields.Contains(field))
                {
					
					 dynamic fieldName = field.FieldName.Trim('"');
								#>
								  <#= fieldName #> = a.<#= fieldName #>,
								<#+
               
		 }
         
		 }



}

 #>




<#+
//Create an elastic object
private dynamic FromEntityQueryServiceFile(string file)
{
   var path= Host.ResolvePath(file);
   return XDocument.Load(path).Root.ToElastic();
}

#>