:host ::ng-deep {
    .mydialog {
        width: 1000px;

        button {
            margin: 8px;
        }
    }

    .packages-row {
        p-button button {
            height: 28px !important;
            text-align: center;
            padding: 0 !important;
        }

        .p-button-label {
            font-size: 19px;
            margin-bottom: 4px;
        }
    }

    .p-checkbox {
        height: auto;
        margin: 0;
        margin-top: 2px;
    }

    .p-checkbox {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        margin-right: 3px !important;
        width: auto;

        .p-checkbox-box {
            width: 13px;
            height: 13px;

            .p-checkbox-icon {
                font-size: 12px;
            }
        }
    }

    p-autocomplete .p-autocomplete {
            height: 30px !important;
    }
}

.sub-header {
    padding-right: 15px !important;
}

.content-in-section {
    padding: 0 8px;
    padding-top: 10px;
}

@media screen and (max-width: 1200px) {
    .mydialog {
        width: 100vw;
    }
}

.dimensions-labels {
    padding-bottom: 0px;
}

.dimensions-header {
    text-align: start;
    font-weight: bold;
    font-size: 14px;
    // padding-bottom: 15px;
    margin: 0 12px;
    margin-top: 13px;
}

.summery {
    background: #e7f4ff;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 7px;
    justify-content: center;

    .summery-header {
        padding-bottom: 2px;
        padding-left: 0px;
        position: relative;
        left: -10px;

        h4 {
            text-align: start;
            font-weight: bold;
            font-size: 14px;
        }
    }

    .summery-item {
        background: #fdfcfc;
        margin: 1em !important;
        border-radius: 16px;
        margin: 5px 8px !important;

        h4 {
            font-weight: bold;
            font-size: 14px;
            color: #1084dc;
        }

        label {
            left: 0px;
            top: 8px;
            background: #fdfcfc;
        }
    }

    .summery-chargeable {
        padding-left: 0;
    }
}

.packages-row-container {
    margin-bottom: 13px;
}

.packages-row {
    display: flex;

    > * {
        margin: 0 5px;
    }

    .dimensions-label {
        flex: 4.3;
    }

    .quantity {
        flex: 3;
    }

    .package-type {
        flex: 5;
    }

    .button-label {
        flex: 1;
    }

    .dimensions {
        flex: 1.2;
    }

    .volume {
        flex: 6;
        position: relative;

        .error-msg {
            top: 30px;
        }
    }

    .gross-weight {
        flex: 5;
    }

    p-button {
        flex: 1;
    }
}

.is-sea-fcl-section {
    .additional-data-section {
        padding-top: 6px;
    }
}

.is-sea-fcl-section {
    .content-in-section {
        .values-col {
            .p-field {
                margin-top: 6px;
                margin-bottom: 1rem !important;

            }
            
            label {
                margin-left: 2px;
            }
        }
        
        .additional-data-section {
            padding-left: 20px;
            
            .checkbox-text {
                color: #676a6c;
                font-weight: bold;
                font-size: 11.5px;
            }
            
            .description-of-goods {
                margin-bottom: 3px !important;
            }
            
            textarea {
                box-shadow: none;
                border-color: #ced4da;
            }
        }
        
        .error-msg {
            bottom: -11px;
            font-size: 10px;
        }
    }
}

.not-sea-fcl-section {
    p-checkbox {
        top: -7px;
        position: relative;
    }

    .description-wrapper {
        top: -3px;
    }

    .notes-wrapper {
        top: -7px;
    }
}