<div class="detailsSlide_box" *ngIf="tableData1?.data?.length > 0 || tableData2?.data?.length > 0">
	<div class="detailsSlide_toggle" (click)="expandedArea1 = !expandedArea1">
		<div>
			<h3 class="main_title">שיעורי מס</h3>
		</div>
		<div class="toggle" [class.active]="expandedArea1">
			<fa-icon [size]="'xl'" class="toggle-close" [fixedWidth]="true" [icon]="faChevronDown"></fa-icon>
		</div>
	</div>
	<div class="detailsSlide_ddown" [class.active]="expandedArea1" id="detailsSlide_ddown01">
		<!-- First section: מכס -->
		<section class="title" *ngIf="!expandedArea1">
			<h4 class="title">מכס</h4>
			<div class="tableContainer">
				<app-generic-table [tableData]="tableData1"></app-generic-table>
			</div>
		</section>

		<!-- Second section: מס קנייה -->
		<section *ngIf="!expandedArea1">
			<h4 class="sub_title">מס קנייה</h4>
			<div class="tableContainer">
				<app-generic-table [tableData]="tableData2"></app-generic-table>
			</div>
		</section>
	</div>
</div>

<div class="detailsSlide_box" *ngIf="tableData3?.data?.length > 0 && (tableData3A?.data?.length > 0 || tableData3B?.data?.length > 0)">
	<div class="detailsSlide_toggle" (click)="expandedArea2 = !expandedArea2">
		<div>
			<h3 class="main_title">דרישות חוקיות</h3>
		</div>
		<div class="toggle" [class.active]="expandedArea2">
			<fa-icon [size]="'xl'" class="toggle-close" [fixedWidth]="true" [icon]="faChevronDown"></fa-icon>
		</div>
	</div>
	<div class="detailsSlide_ddown" [class.active]="expandedArea2" id="detailsSlide_ddown01">
		<!-- First section: freeImportHeader-->
		<section class="title" *ngIf="!expandedArea2 && tableData3A?.data?.length > 0">
			<h4 class="sub_title"> {{freeImportHeader}}</h4>
			<div class="tableContainer">
				<app-generic-table [tableData]="tableData3A"></app-generic-table>
			</div>
		</section>
		<!-- Second section: pesonalImportHeader -->
		<section *ngIf="!expandedArea2 && tableData3B?.data?.length > 0">
			<h4 class="sub_title">{{pesonalImportHeader}}</h4>
			<div class="tableContainer">
				<app-generic-table [tableData]="tableData3B"></app-generic-table>
			</div>
		</section>
	</div>
</div>
<div class="detailsSlide_box">
	<div class="detailsSlide_toggle" (click)="expandedArea3 = !expandedArea3">
		<div>
			<h3 class="main_title">{{classificationHeader}}</h3>
		</div>
		<div class="toggle" [class.active]="expandedArea3">
			<fa-icon [size]="'xl'" class="toggle-close" [fixedWidth]="true" [icon]="faChevronDown"></fa-icon>
		</div>
	</div>
	<div class="detailsSlide_ddown" [class.active]="expandedArea3" id="detailsSlide_ddown01" *ngIf="tableData4?.data">
		<section class="title">
			<div class="tableContainer" [ngStyle]="expandedArea3 ? {'display': 'none'} : {}"
				*ngIf="!isLoadingClasisificationGuidance && tableData4?.data?.length > 0">
				<app-generic-table *ngIf="!expandedArea3" [tableData]="tableData4"
					(buttonClicked)="handleButtonClick($event)"></app-generic-table>
			</div>
			<div></div>
			<div class="tableContainer clasisificationGuidance" [ngStyle]="expandedArea3 ? {'display': 'none'} : {}"
				*ngIf="isShowTableClassificationGuidance">
				<app-clasisification-guidance [expandedArea]="expandedArea3"
					[ClassificationGuidanceId]="ClassificationGuidanceId"></app-clasisification-guidance>
			</div>
			<div class="dataLoadingBox" *ngIf="!expandedArea3 && tableData4?.data?.length == 0">
				<span *ngIf="isLoadingClasisificationGuidance; else noData">{{ reloadMsg }}</span>
				<ng-template #noData>
					<span>{{noExistMessageClasisificationGuidance}}</span>
				</ng-template>
			</div>
		</section>
	</div>
</div>
<div class="detailsSlide_box">
	<div class="detailsSlide_toggle" (click)="expandedArea5 = !expandedArea5">
		<div>
			<h3 class="main_title">{{mekachHeader}}</h3>
		</div>
		<div class="toggle" [class.active]="expandedArea5">
			<fa-icon [size]="'xl'" class="toggle-close" [fixedWidth]="true" [icon]="faChevronDown"></fa-icon>
		</div>
	</div>
	<div class="detailsSlide_ddown" [class.active]="expandedArea5" id="detailsSlide_ddown01" *ngIf="tableData5?.data">
		<section class="title">
			<div class="tableContainer" [ngStyle]="expandedArea5 ? {'display': 'none'} : {}"
				*ngIf="!isLoadingMekach && tableData5?.data?.length > 0">
				<app-generic-table *ngIf="!expandedArea5" [tableData]="tableData5"
				(buttonClicked)="handleButtonPdfClick($event)"></app-generic-table>
			</div>
			<div class="dataLoadingBox" *ngIf="!expandedArea5 && tableData5?.data?.length == 0">
				<span *ngIf="isLoadingMekach; else noData">{{ reloadMsg }}</span>
				<ng-template #noData>
					<span>{{noExistMessageMakach}}</span>
				</ng-template>
			</div>
		</section>
	</div>
</div>
