<style>
    .P-button-drop-menu {
        text-align: center;
        font-size: 15px;
        list-style: none;
    }

        .P-button-drop-menu li span {
            text-align: right;
            display: block;
            clear: both;
            font-family: arial;
            color: #444;
            text-decoration: none;
            height: 22px;
            line-height: 23px; /*make text center*/
        }

            .P-button-drop-menu li span:hover {
                background: #D3D3D3;
                cursor: pointer;
            }

    .DimLI {
        opacity: 0.5;
        cursor: default
    }
</style>
<table *ngIf="Entity">
    <tr>
        <td class="MediaFillAbsolute" style="direction:rtl">

            <!-- Declaration -->
            <div *ngIf="ObjectTableName == 'Customs.Declaration'">
                <!-- DeclarationStatusTypeName -->
                <div *ngIf="FieldName == 'DeclarationStatusTypeName'" style="position:relative;width:100%; height: 100%;">
                    <div style="position: absolute;top: 0;bottom: 0px; left: 0px; right: 0px;text-align:right">


                        <div *ngIf="!IsHeaderScreenTemplate">
                            <!-- <div style="display: inline-block;" *ngIf="Entity['HasConstraint']">-->
                            <img *ngIf="Entity['HasConstraint']" style="width:20px" src="./Images/Warning_icon.png" />

                            <div class="TextTrimming"
                                 style="display: inline; "
                                 [ngStyle]="{color: Entity.DeclarationStatusTypeCode | StringToColorPipe:'DeclarationStatusTypeCode'}">
                                <span style="font-weight: bold;">{{Entity[FieldName]}}</span>
                            </div>
                        </div>


                        <div *ngIf="IsHeaderScreenTemplate">
                            <div class="TextTrimming"
                                 style="display: inline; position: absolute;left: 0px; padding-top: 1px;"
                                 [ngStyle]="{color: Entity.DeclarationStatusTypeCode | StringToColorPipe:'DeclarationStatusTypeCode'}"
                                 [style.right]="Entity['HasConstraint'] ? '25px' : '0px'">
                                <span style="font-weight: bold;">{{Entity[FieldName]}}</span>
                            </div>
                            <div *ngIf="Entity['HasConstraint']">
                                <img style="width:20px" src="./Images/Warning_icon.png" />
                            </div>
                        </div>

                    </div>
                </div>
                <div *ngIf="FieldName == 'TransportModeForExport'" style="position:relative;width:100%; height: 100%;">
                    <div *ngIf="!IsHeaderScreenTemplate">
                        <div *ngIf="Entity['TransportModeForExport']=='A'">
                            <img class="CenterCenter" style="width:20px;height:20px;margin-top:6px" src="./Images/Airline.png" />
                        </div>
                        <div *ngIf="Entity['TransportModeForExport']=='L'">
                            <img class="CenterCenter" style="width:20px;height:20px;margin-top:6px" src="./Images/Trucker.png" />
                        </div>
                        <div *ngIf="Entity['TransportModeForExport']=='O'">
                            <img class="CenterCenter" style="width:20px;height:20px;margin-top:6px" src="./Images/Vessel.png" />
                        </div>
                    </div>
                </div>
                <!-- CourierCustomStatusName -->
                <div *ngIf="FieldName == 'CourierCustomStatusName'" style="position:relative;width:100%; height: 100%;">
                    <div style="position: absolute;top: 0;bottom: 0px; left: 0px; right: 0px;text-align:right">
                        <div *ngIf="!IsHeaderScreenTemplate">
                            <div class="TextTrimming"
                                 style="display: inline; position: absolute;left: 0px; padding-top: 1px;"
                                 [ngStyle]="{color: Entity.CourierCustomStatusCode | StringToColorPipe:'CourierCustomStatusCode'}"
                                 [style.right]="Entity['HasConstraint'] ? '25px' : '0px'">
                                <span style="font-weight: bold;">{{Entity[FieldName]}}</span>
                            </div>
                        </div>
                        <div *ngIf="IsHeaderScreenTemplate">
                            <div class="TextTrimming"
                                 style="display: inline; position: absolute;left: 0px; padding-top: 1px;"
                                 [ngStyle]="{color: Entity.CourierCustomStatusCode | StringToColorPipe:'CourierCustomStatusCode'}"
                                 [style.right]="Entity['HasConstraint'] ? '25px' : '0px'">
                                <span style="font-weight: bold;">{{Entity[FieldName]}}</span>
                                <span *ngIf="Entity.CourierCustomStatusCode == '2' && Entity.CourierSuspentionName != null" style="font-weight: bold;"> - {{Entity.CourierSuspentionName}}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- create date -->
                <div *ngIf="FieldName == 'CreateDateTime'" style="position:relative;width:100%; height: 100%;">
                    <div style="position: absolute;top: 0;bottom: 0px; left: 0px; right: 0px;">

                        <div *ngIf="!IsHeaderScreenTemplate" class="TextTrimming"
                             style="display: inline; padding-right:25px;">
                            <span>{{Entity[FieldName] | DateTimePipe:'DT'}}</span>
                        </div>

                    </div>
                </div>

                <!-- Declaration number -->
                <div *ngIf="IsHeaderScreenTemplate">

                    <div *ngIf="FieldName == 'DeclarationNumberandVersionId'" style="position:relative;width:100%; height: 100%;">
                        <div style="position: absolute;top: 0;bottom: 0px; left: 0px; right: 0px;">



                            <div class="TextTrimming"
                                 style="display: inline-block;">
                                <span>{{Entity[FieldName]}}</span>
                            </div>

                            <div style="display: inline;top:0px; padding-right:3px; padding-bottom:2px; position:absolute" *ngIf="Entity['IsSignedVersion']">
                                <img style="width:15px;height:20px" src="./Images/SignedVersion.png" />
                            </div>

                        </div>
                    </div>

                </div>

                <div *ngIf="IsHeaderScreenTemplate">

                    <div *ngIf="FieldName == 'CourierData'" style="position:relative;width:100%; height: 100%;">
                        <div style="position: absolute;top: 0;bottom: 0px; left: 0px; right: 0px;">



                            <div class="TextTrimming"
                                 style="display: inline;">

                                <a style="font-size:12px;" href="javascript:;" (click)="OpenCourierMaster()">{{Entity[FieldName]}}</a>
                            </div>



                        </div>
                    </div>

                </div>
            </div>



            <!-- AutonomeyKeyword -->
            <div *ngIf="ObjectTableName == 'Customs.CustomsAutonomyKeyword'">
                <div *ngIf="FieldName == 'Delete'" style="position:relative;width:100%; height: 100%;" (click)="DeleteAutonomyKey(Entity['Id'])">
                    <div *ngIf="!IsHeaderScreenTemplate" style="display: inline; position: absolute;right: 0px; top:5px;">
                        <IconButton [Name]="'Delete'"><</IconButton>
                    </div>
                </div>
            </div>

            <!--DeclarationReferantData-->
            <div *ngIf="ObjectTableName == 'Customs.DeclarationReferantData'">
                <!-- DeclarationStatusTypeName -->
                <div *ngIf="FieldName == 'DeclarationStatusTypeName'" style="position:relative;width:100%; height: 100%;">
                    <div style="position: absolute;top: 0;bottom: 0px; left: 0px; right: 0px;text-align:right">


                        <div *ngIf="!IsHeaderScreenTemplate">
                            <!-- <div style="display: inline-block;" *ngIf="Entity['HasConstraint']">-->
                            <img *ngIf="Entity['HasConstraint']" style="width:20px" src="./Images/Warning_icon.png" />

                            <div class="TextTrimming"
                                 style="display: inline; "
                                 [ngStyle]="{color: Entity.DeclarationStatusTypeCode | StringToColorPipe:'DeclarationStatusTypeCode'}">
                                <span style="font-weight: bold;">{{Entity[FieldName]}}</span>
                            </div>
                        </div>


                        <div *ngIf="IsHeaderScreenTemplate">
                            <div class="TextTrimming"
                                 style="display: inline; position: absolute;left: 0px; padding-top: 1px;"
                                 [ngStyle]="{color: Entity.DeclarationStatusTypeCode | StringToColorPipe:'DeclarationStatusTypeCode'}"
                                 [style.right]="Entity['HasConstraint'] ? '25px' : '0px'">
                                <span style="font-weight: bold;">{{Entity[FieldName]}}</span>
                            </div>
                            <div *ngIf="Entity['HasConstraint']">
                                <img style="width:20px" src="./Images/Warning_icon.png" />
                            </div>
                        </div>

                    </div>
                </div>

                <div *ngIf="FieldName == 'ArrivalDate'" style="position:relative;width:100%; height: 100%;">
                    <div class="TextTrimming"
                         style="display: inline; position: absolute;right: 0px; padding-top: 1px;">

                        <div *ngIf="!IsHeaderScreenTemplate" class="TextTrimming"
                             [ngStyle]="{color: Entity.ATAOrETA | StringToColorPipe : 'ArrivalDate'}">
                            <span>{{Entity[FieldName] | DateTimePipe:'D'}}</span>
                        </div>

                    </div>
                </div>
                <div *ngIf="FieldName == 'FollowUpDate'" (click)="ShowAddOrEditExceptionReason()" style="position:relative;width:100%; height: 100%;">
                    <div  class="TextTrimming">
                        <div *ngIf="!IsHeaderScreenTemplate" class="TextTrimming" style="display: inline; position: absolute;right: 0px;">
                             <span>{{Entity[FieldName] | DateTimePipe:'D'}}</span>
                        </div>

                    </div>
                </div>

                <div *ngIf="FieldName == 'PreClassification'" style="position:relative;width:100%; height: 100%;" (click)="PreShowCFIFILEMMoveSIToOCRScreen(Entity['PreClassification'])">

                    <div *ngIf="!IsHeaderScreenTemplate" style="display: inline; position: absolute;right: 0px;">
                        <div *ngIf="Entity['PreClassification']=='V'">
                            <img class="CenterCenter" style="width:20px;height:20px;margin-top:6px" src="./Images/Successful_process@2x.png" />
                        </div>
                        <div *ngIf="Entity['PreClassification']=='X'">
                            <img class="CenterCenter" style="width:20px;height:20px;margin-top:6px" src="./Images/process_failed@2x.png" />
                        </div>
                        <div *ngIf="Entity['PreClassification']=='P'">
                            <img class="CenterCenter" style="width:20px;height:20px;margin-top:6px" src="./Images/in_progress@2x.png" />
                        </div>
                        <div *ngIf="Entity['PreClassification']=='E'">
                            <img class="CenterCenter" style="width:40px;height:20px;margin-top:6px" src="./Images/Successful_processRemark_button@2x.png" />
                        </div>

                    </div>
                </div>


                <div *ngIf="FieldName == 'ClassificationStatus'" style="position:relative;width:100%; height: 100%;" (click)="OpenClassificationRemarks()">

                    <div *ngIf="!IsHeaderScreenTemplate" style="display: inline; position: absolute;right: 0px;">
                        <div *ngIf="Entity['ClassificationStatus']=='V' && Entity['IsClassificationRemarks']==false">
                            <img class="CenterCenter" style="width:20px;height:20px;margin-top:6px" src="./Images/Successful_process@2x.png" />
                        </div>
                        <div *ngIf="Entity['ClassificationStatus']=='X' && Entity['IsClassificationRemarks']==false">
                            <img class="CenterCenter" style="width:20px;height:20px;margin-top:6px" src="./Images/process_failed@2x.png" />
                        </div>
                        <div *ngIf="Entity['ClassificationStatus']=='P'">
                            <img class="CenterCenter" style="width:20px;height:20px;margin-top:6px" src="./Images/in_progress@2x.png" />
                        </div>
                        <div *ngIf="Entity['ClassificationStatus']=='V' && Entity['IsClassificationRemarks']==true">
                            <img class="CenterCenter" style="width:40px;height:20px;margin-top:6px" src="./Images/Successful_processRemark_button@2x.png" />
                        </div>
                        <div *ngIf="Entity['ClassificationStatus']=='X' && Entity['IsClassificationRemarks']==true">
                            <img class="CenterCenter" style="width:40px;height:20px;margin-top:6px" src="./Images/process_failed_button@2x.png" />
                        </div>
                        <div *ngIf="Entity['ClassificationStatus']=='N'">
                            <img class="CenterCenter" style="width:20px;height:20px;margin-top:6px" src="./Images/Referant/No-Sivug.png" />
                        </div>

                    </div>
                </div>
                <div *ngIf="FieldName == 'ExceptionReasonsList'" (click)="ShowAddOrEditExceptionReason()" style="position:relative;width:100%; height: 100%;">
                    <div *ngIf="!IsHeaderScreenTemplate" style="display: inline; position: absolute;right: 0px;">
                        <div *ngIf="Entity['ExceptionReasonsList']!=null">
                            <span  data-toggle="tooltip" data-placement="bottom" title="{{ExceptionReasonText}}">
                                <img class="CenterCenter" style="width:20px;height:20px;margin-top:6px" src="./Images/irregular@2x.png" />
                            </span>
                        </div>
                    </div>
                </div>
                <div *ngIf="FieldName == 'NewFile'" style="position:relative;width:100%; height: 100%;">
                    <div *ngIf="!IsHeaderScreenTemplate">
                        <div *ngIf="Entity['NewFile']== true">
                            <img class="CenterCenter" style="width:50px;height:20px;margin-top:6px" src="./Images/Referant/New.png" />
                        </div>
                    </div>
                </div>
                <div *ngIf="FieldName == 'LastStatusName'" style="position:relative;width:100%; height: 100%;">
                    <div *ngIf="!IsHeaderScreenTemplate">
                        <div *ngIf="Entity['LastStatusName'] != null ">
                            <span style="float:right;" data-toggle="tooltip" data-placement="bottom" title="{{LastStatusNameText}}">{{Entity[FieldName]}}</span>
                        </div>
                    </div>
                </div>
                <div *ngIf="FieldName == 'AEOImporter'" style="position:relative;width:100%; height: 100%;">
                    <div *ngIf="!IsHeaderScreenTemplate">
                        <div *ngIf="Entity['AEOImporter'] == 1 ">
                            <img class="CenterCenter" style="width:20px;height:20px;margin-top:6px" src="./Images/Referant/AEO.png" />
                        </div>
                        <div *ngIf="Entity['AEOImporter'] == 2 ">
                            <img class="CenterCenter" style="width:20px;height:20px;margin-top:6px" src="./Images/Referant/AI.png" />
                        </div>
                    </div>
                </div>
                <div *ngIf="FieldName == 'LastStatusDate'" style="position:relative;width:100%; height: 100%;">
                    <div *ngIf="!IsHeaderScreenTemplate">
                        <div *ngIf="Entity['LastStatusDate'] != null ">
                            <span>{{Entity[FieldName] | DateTimePipe:'D'}}</span>
                        </div>
                    </div>
                </div>
                <div *ngIf="FieldName == 'IsCustomerLogBoxActivated'" style="position:relative;width:100%; height: 100%;">
                    <div *ngIf="!IsHeaderScreenTemplate">
                        <div *ngIf="Entity['IsCustomerLogBoxActivated']== true">
                            <img class="CenterCenter" style="width:20px;height:20px;margin-top:6px" src="./Images/LogBox/DSV/U_LOGBOX.png" />
                        </div>
                    </div>
                </div>
                <div *ngIf="FieldName == 'ControllerStatus'" style="position:relative;width:100%; height: 100%;" (click)="OpenControllerRemarks()">

                    <div *ngIf="!IsHeaderScreenTemplate" style="display: inline; position: absolute;right: 0px;">
                        <div *ngIf="Entity['ControllerStatus']=='V' && Entity['IsControllerRemarks']==false">
                            <img class="CenterCenter" style="width:20px;height:20px;margin-top:6px" src="./Images/Successful_process@2x.png" />
                        </div>
                        <div *ngIf="Entity['ControllerStatus']=='X'&& Entity['IsControllerRemarks']==false">
                            <img class="CenterCenter" style="width:20px;height:20px;margin-top:6px" src="./Images/process_failed@2x.png" />
                        </div>
                        <div *ngIf="Entity['ControllerStatus']=='P'">
                            <img class="CenterCenter" style="width:20px;height:20px;margin-top:6px" src="./Images/in_progress@2x.png" />
                        </div>
                        <div *ngIf="Entity['ControllerStatus']=='V' && Entity['IsControllerRemarks']==true">
                            <img class="CenterCenter" style="width:40px;height:20px;margin-top:6px" src="./Images/Successful_processRemark_button@2x.png" />
                        </div>
                        <div *ngIf="Entity['ControllerStatus']=='X' && Entity['IsControllerRemarks']==true">
                            <img class="CenterCenter" style="width:40px;height:20px;margin-top:6px" src="./Images/process_failed_button@2x.png" />
                        </div>

                    </div>
                </div>
                <div *ngIf="FieldName == 'Favorite'" style="position:relative;width:100%; height: 100%;" (click)="EditFavorite()">
                    <div *ngIf="!IsHeaderScreenTemplate" style="display: inline; position: absolute;right: 50%;">
                        <div *ngIf="Entity['Favorite']==true">
                            <img class="CenterCenter" style="width:20px;height:20px;margin-top:6px" src="./Images/Referant/Active_Favorite.png" />
                        </div>
                        <div *ngIf="Entity['Favorite']==false">
                            <img class="CenterCenter" style="width:20px;height:20px;margin-top:6px" src="./Images/Referant/Unactive_Favorite.png" />
                        </div>
                    </div>
                </div>
                <div *ngIf="FieldName == 'CollectionOfMoneyStatus'" style="position:relative;width:100%; height: 100%;">
                    <div *ngIf="!IsHeaderScreenTemplate" style="display: inline; position: absolute;right: 0px;">
                        <div *ngIf="Entity['CollectionOfMoneyStatus']=='V'">
                            <img class="CenterCenter" style="width:20px;height:20px;margin-top:6px" src="./Images/Successful_process@2x.png" />
                        </div>
                        <div *ngIf="Entity['CollectionOfMoneyStatus']=='P'">
                            <img class="CenterCenter" style="width:20px;height:20px;margin-top:6px" src="./Images/in_progress@2x.png" />
                        </div>
                    </div>
                </div>

                <div *ngIf="FieldName == 'OrderMoney'" style="position:relative;width:100%; height: 100%;">
                    <div *ngIf="!IsHeaderScreenTemplate" style="display: inline; position: absolute;right: 0px;">
                        <div *ngIf="Entity['OrderMoney']=='1'">
                            <img class="CenterCenter" style="width:20px;height:20px;margin-top:6px" src="./Images/Successful_process@2x.png" />
                        </div>

                    </div>
                </div>


                <div *ngIf="FieldName == 'WithPaper'" style="position:relative;width:100%; height: 100%;">

                    <div *ngIf="!IsHeaderScreenTemplate">
                        <div *ngIf="Entity['WithPaper']==true">
                            <img class="CenterCenter" style="width:20px;height:20px;margin-top:6px" src="./Images/Manual_process@2x.png" />
                        </div>

                    </div>
                </div>

                <div *ngIf="FieldName == 'TransportModeId'" style="position:relative;width:100%; height: 100%;">

                    <div *ngIf="!IsHeaderScreenTemplate">
                        <div *ngIf="Entity['TransportModeId']=='A'">
                            <img class="CenterCenter" style="width:20px;height:20px;margin-top:6px" src="./Images/Airline.png" />
                        </div>
                        <div *ngIf="Entity['TransportModeId']=='L'">
                            <img class="CenterCenter" style="width:20px;height:20px;margin-top:6px" src="./Images/Trucker.png" />
                        </div>
                        <div *ngIf="Entity['TransportModeId']=='O'">
                            <img class="CenterCenter" style="width:20px;height:20px;margin-top:6px" src="./Images/Vessel.png" />
                        </div>
                    </div>
                </div>

                <div *ngIf="FieldName == 'PhysicalCheck'" style="position:relative;width:100%; height: 100%;">

                    <div *ngIf="!IsHeaderScreenTemplate">
                        <div *ngIf="Entity['PhysicalCheck']=='0'">
                        </div>
                        <div *ngIf="Entity['PhysicalCheck']=='1'">
                            <img class="CenterCenter" style="width:20px;height:20px;margin-top:6px" src="./Images/Icons/GreenV.png" />
                        </div>
                        <div *ngIf="Entity['PhysicalCheck']=='2'">
                            <img class="CenterCenter" style="width:20px;height:20px;margin-top:6px" src="./Images/Icons/OrangeV.png" />
                        </div>
                    </div>
                </div>

                <div *ngIf="FieldName == 'RequestedCustomsDocId'" style="position:relative;width:100%; height: 100%;">

                    <div *ngIf="!IsHeaderScreenTemplate">
                        <div *ngIf="Entity['RequestedCustomsDocId']=='0'">
                        </div>
                        <div *ngIf="Entity['RequestedCustomsDocId']=='1'">
                            <img class="CenterCenter" style="width:20px;height:20px;margin-top:6px" src="./Images/Icons/GreenV.png" />
                        </div>
                    </div>
                </div>

                <div *ngIf="FieldName == 'FclLcl'" style="position:relative;width:100%; height: 100%;">
                    <div *ngIf="IsHeaderScreenTemplate">
                        <div *ngIf="Entity['FclLcl']=='F'">
                            <span>{{'FCL'}}</span>
                        </div>
                        <div *ngIf="Entity['FclLcl']=='L'">
                            <span>{{'LCL'}}</span>
                        </div>
                    </div>
                </div>

                <div *ngIf="FieldName == 'Actions'" (click)="ButtonClick()">
                    <div (click)="ButtonClick()" style="z-index:3;">
                        <courier-filter-button #MyDropdownMenuFilterComponent
                                               [IsDisabled]="IsDisplayOnly" [DivLeft]="20">
                            <div class="class-filter-content">
                                <div>
                                    <img style="width: 14px; height: 14px; position: center;" src="./Images/Icons/Actions.png" />
                                </div>
                            </div>

                            <div dir="RTL" class="class-dropdownfilter-content" (click)="MyDropdownMenuFilterComponent.DropdownDisplayClose()">
                                <ul class="P-button-drop-menu" style="text-align:right; left:250px;">
                                    <li (click)="MyDropdownMenuFilterComponent.DropdownDisplayClose();ShowDeclaration($event);  ">
                                        <span>כניסה להצהרה</span>
                                    </li>
                                    <li (click)="MyDropdownMenuFilterComponent.DropdownDisplayClose();ShowAddOrEditExceptionReason();">
                                        <span>הזנת חריג</span>
                                    </li>
                                    <li (click)="MyDropdownMenuFilterComponent.DropdownDisplayClose(); ShowCFIFILEMMoveToQueueScreen();">
                                        <span>העברה לתור</span>
                                    </li>

                                    <li (click)="MyDropdownMenuFilterComponent.DropdownDisplayClose();  ShowGFUUSTS();">
                                        <span>מסך F/U</span>
                                    </li>
                                    <li (click)="MyDropdownMenuFilterComponent.DropdownDisplayClose(); ShowCFIFILEMMoveSIToOCRScreen();">
                                        <span>העברת חשבונות ספק ל-OCR</span>
                                    </li>
                                    <li>
                                        <span *ngIf="Entity['CollectionOfMoneyStatus']=='' || Entity['CollectionOfMoneyStatus']==null" (click)="MyDropdownMenuFilterComponent.DropdownDisplayClose(); ShowCFIFILEMMoveToCollector();">העברה לגובה</span>
                                        <span *ngIf="Entity['CollectionOfMoneyStatus']=='P'" class="DimLI">העברה לגובה</span>
                                        <span *ngIf="Entity['CollectionOfMoneyStatus']=='V'" (click)="MyDropdownMenuFilterComponent.DropdownDisplayClose(); ShowCFIFILEMMoveToCollector();">העברה חוזרת לגובה</span>
                                    </li>
                                    <li (click)="MyDropdownMenuFilterComponent.DropdownDisplayClose(); ShowCFIFILEMEnterRemarks();">
                                        <span>הזנת הערות לתור</span>
                                    </li>
                                    <li>
                                        <span *ngIf="Entity['IsCustomerLogBoxActivated']== true" (click)="MyDropdownMenuFilterComponent.DropdownDisplayClose(); ShowSharedDocuments();">שיתוף מסמכים</span>
                                        <span *ngIf="Entity['IsCustomerLogBoxActivated']== false" class="DimLI">שיתוף מסמכים</span>

                                    </li>
                                    <li (click)="MyDropdownMenuFilterComponent.DropdownDisplayClose(); ShowMoneyOrder();">
                                        <span>הזמנת כסף</span>
                                    </li>
                                    <li (click)="MyDropdownMenuFilterComponent.DropdownDisplayClose(); ShowDelivery();">
                                        <span>הובלה יבשתית</span>
                                    </li>

                                </ul>
                            </div>
                        </courier-filter-button>
                    </div>
                </div>
            </div>
            <!-- PaymentOrder -->
            <div *ngIf="ObjectTableName == 'Customs.PaymentOrder'">
                <!-- ActualPayDate -->
                <div *ngIf="FieldName == 'ActualPayDate'" style="position:relative;width:100%; height: 100%;">
                    {{Entity[FieldName] | DateTimePipe:'DT'}}
                </div>
            </div>

            <!-- Claim -->
            <div *ngIf="ObjectTableName == 'Customs.Claim'">
                <!-- IsClosed -->
                <div *ngIf="FieldName == 'IsClosed'" style="position:relative;width:100%; height: 100%;">
                    <div *ngIf="IsHeaderScreenTemplate">
                        <div *ngIf="Entity['IsClosed']">
                            <span>{{'כן'}}</span>
                        </div>
                        <div *ngIf="!Entity['IsClosed']">
                            <span>{{'לם'}}</span>
                        </div>
                    </div>
                    <div *ngIf="!IsHeaderScreenTemplate">
                        <div *ngIf="Entity['IsClosed']">
                            <img class="CenterCenter" style="width:10px;height:10px;margin-top:6px" title="Yes" src="./Images/CheckBoxIcon.png" />
                        </div>
                    </div>
                </div>
            </div>

            <!-- PhysicalCheck -->
            <div *ngIf="ObjectTableName == 'Customs.PhysicalCheck'">

                <!-- LimitDate -->
                <div *ngIf="FieldName == 'LimitDate'" style="position:relative;width:100%; height: 100%;">
                    {{Entity[FieldName] | DateTimePipe:'DT'}}
                </div>

                <!-- IsClosed -->
                <div *ngIf="FieldName == 'IsClosed'" style="position:relative;width:100%; height: 100%;">
                    <div *ngIf="IsHeaderScreenTemplate">
                        <div *ngIf="Entity['IsClosed']">
                            <span>{{'Customs.Declaration.O.Yes' | TextCodeTranslationPipe}}</span>
                        </div>
                        <div *ngIf="!Entity['IsClosed']">
                            <span>{{'Customs.Declaration.O.No' | TextCodeTranslationPipe}}</span>
                        </div>
                    </div>
                    <div *ngIf="!IsHeaderScreenTemplate">
                        <div *ngIf="Entity['IsClosed']">
                            <img class="CenterCenter" style="width:10px;height:10px;margin-top:6px" title="Yes" src="./Images/CheckBoxIcon.png" />
                        </div>
                    </div>
                </div>
            </div>


            <!-- Courier Master -->
            <div *ngIf="ObjectTableName == 'Customs.CourierMaster'">

                <!-- create date -->
                <div *ngIf="FieldName == 'CreateDateTime'" style="position:relative;width:100%; height: 100%;">
                    <div style="position: absolute;top: 0;bottom: 0px; left: 0px; right: 0px;">


                        <div *ngIf="IsHeaderScreenTemplate" class="TextTrimming"
                             style="display: inline; padding-right:25px;">
                            <span>{{Entity[FieldName] | DateTimePipe:'D'}}</span>


                        </div>


                    </div>
                </div>


            </div>

            <!-- DeclarationCargoSplit -->
            <div *ngIf="ObjectTableName == 'Customs.DeclarationCargoSplit'">

                <!-- IsClosed -->
                <div *ngIf="FieldName == 'IsClosed'" style="position:relative;width:100%; height: 100%;">
                    <div *ngIf="!IsHeaderScreenTemplate">
                        <div *ngIf="Entity['IsClosed']">
                            <img class="CenterCenter" style="width:10px;height:10px;margin-top:6px" title="Yes" src="./Images/CheckBoxIcon.png" />
                        </div>
                    </div>
                </div>
            </div>


            <!-- Spot Light -->
            <div *ngIf="IsSpotLightTemplate">
                <div #SpotLight></div>
            </div>


            <!-- Spot Light -->
            <div *ngIf="IsSpotLightTemplate">
                <div #SpotLight></div>
            </div>
        </td>
    </tr>
</table>
