<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- Using Microsoft.1.0.0 package which contains Microsoft.Practices.Unity.dll -->
  <!-- The DLL is located at packages\Microsoft.1.0.0\lib\Net40\Microsoft.Practices.Unity.dll -->
  <package id="Microsoft" version="1.0.0" targetFramework="net48" />
  <package id="MSTest.TestFramework" version="3.4.3" targetFramework="net48" />
  <package id="FakeItEasy" version="8.2.0" targetFramework="net48" />
  <package id="EntityFramework" version="6.5.1" targetFramework="net48" />
</packages>

