<style>
    .link-button {
        cursor: pointer;
        color: #2b78e4;
        float: left;
    }

    .link-button .plus-sign {
        font-size: 13px;
        font-weight: bold;
        padding-right: 2px;
    }

    .link-button:not(.disabled):hover {
        color: #03a9f4;
    }

    .link-button.disabled {
        opacity: 0.5;
    }

    .set-value-container {
        margin-bottom: 10px;
    }

    .set-value-row {
        display: flex;
    }

    .set-value-row:hover .delete-set-value-button {
        display: block;
    }

    .delete-set-value-container {
        display: table-cell;
        vertical-align: middle;
        width: 18px;
        padding-top: 3px;
    }

    .delete-set-value-button {
        display: none;
        cursor: pointer;
    }

    .set-value-field-row {
        width: 300px;
        margin-right: 5px;
    }

    .set-value-field-container {
        display: table-cell;
        vertical-align: middle;
        width: auto;
        padding-right: 5px;
    }

    .set-value-operator-row {
        width: 150px;
        margin-right: 5px;
    }

    .set-value-operator-container {
        display: table-cell;
        vertical-align: middle;
        width: 200px;
    }

    .set-value-value-row {
        width: 300px;
    }

    .set-value-value-container {
        display: table-cell;
        vertical-align: middle;
        width: 300px;
    }

    .add-buttons-container {
        margin-top: 12px;
        margin-left: 18px;
    }

    .padding-top-22 {
        padding-top: 22px !important;
    }

    .function-icon {
        position: absolute;
        top: 1px;
        left: 4px;
        bottom: 0;
        margin: auto;
    }

    .expression-input {
        padding-left: 24px;
    }
</style>

<ul>
    <li *ngFor="let setValue of SetValues; let setValueIndex = index;  let isLastSetValue = last ; let isFirstSetValue = first"
        class="set-value-container">
        <div class="set-value-row" [ngStyle]="{'height': isFirstSetValue ? '40px' : '25px'}">

            <div class="delete-set-value-container" [ngClass]="{'padding-top-22': setValueIndex === 0}">
                <img *ngIf="!(SetValues.length == 1) && !(setValue.disabled | SetValueDisabledPipe : 'd')"
                    class="delete-set-value-button" src="./Images/Trash-can.png" (click)="deleteSetValue(setValueIndex)"
                    [attr.data-cy]="'DeleteSetValueButton_' + setValue.id" />
            </div>

            <!-- field -->
            <div class="set-value-field-row">
                <div *ngIf="isFirstSetValue">
                    <LogLabel [NoObjectField]="true" [Text]="'Variable'" [HideColumns]="true"
                        [DataContext]="DataContext">
                    </LogLabel>
                </div>
                <div class="set-value-field-container">

                    <TreeSelect *ngIf="IsEntityField" [Items]="ObjectFieldsTreeItems" [Width]="'300px'"
                        [IsDisabled]="setValue.disabled | SetValueDisabledPipe : 'f'" [Value]="setValue.fieldCode"
                        [IsReturnedTreeSelectItem]="true" [ShowExpand]="false"
                        (ValueChanged)="updateSetValueEntityField($event, setValueIndex)"
                        [DataCy]="'SetValueField_' + setValue.id">
                    </TreeSelect>

                    <TreeSelect *ngIf="!IsEntityField" [Items]="FlowVariablesTreeItems" [Width]="'300px'"
                        [Value]="setValue.field" [ShowItem]="null | ShowEditableVariablesTreeItemPipe"
                        [IsDisabled]="setValue.disabled | SetValueDisabledPipe : 'f'" [IsReturnedTreeSelectItem]="true"
                        (ValueChanged)="updateSetValueField($event, setValueIndex)"
                        [DataCy]="'SetValueField_' + setValue.id">
                    </TreeSelect>

                </div>
            </div>

            <!-- operator -->
            <div class="set-value-operator-row">
                <div *ngIf="isFirstSetValue">
                    <LogLabel [NoObjectField]="true" [Text]="'Operator'" [HideColumns]="true"
                        [DataContext]="DataContext">
                    </LogLabel>
                </div>
                <div class="set-value-operator-container">
                    <ComboBox [ItemsSource]="setValue.type | SetValuesOperatorsItemsPipe" [Binding]="'Name'"
                        [SelectedItem]="setValue.operator | ListItemPipe"
                        [IsDisabled]="setValue.disabled | SetValueDisabledPipe : 'o'"
                        (SelectedItemChanged)="updateSetValueOperator($event.Code, setValueIndex)" [ListType]="''"
                        [MaxHeight]="ComboBoxMaxHeight" [CyData]="'SetValueOperator_' + setValue.id">
                    </ComboBox>
                </div>
            </div>

            <!-- value -->
            <div *ngIf="setValue.field && setValue.operator" class="set-value-value-row">
                <div *ngIf="isFirstSetValue">
                    <LogLabel [NoObjectField]="true" [Text]="'Value'" [HideColumns]="true" [DataContext]="DataContext">
                    </LogLabel>
                </div>
                <div *ngIf="(setValue.operator | IsFieldOperatorPipe)" class="set-value-value-container">

                    <TreeSelect *ngIf="setValue.fieldChangedToggle" [Items]="FlowVariablesTreeItems" [Width]="'300px'"
                        [Value]="setValue.value" [ShowItem]="setValue | ShowFlowVariablesTreeItemPipe"
                        [IsDisabled]="setValue.disabled | SetValueDisabledPipe : 'v'" [IsReturnedTreeSelectItem]="true"
                        (ValueChanged)="updateSetValue(($event ? $event.key : null), setValueIndex, ($event && $event.data ? ($event.data.nodeId || null) : null))"
                        [DataCy]="'SetValueValue_' + setValue.id">
                    </TreeSelect>

                    <TreeSelect *ngIf="!setValue.fieldChangedToggle" [Items]="FlowVariablesTreeItems" [Width]="'300px'"
                        [Value]="setValue.value" [ShowItem]="setValue | ShowFlowVariablesTreeItemPipe"
                        [IsDisabled]="setValue.disabled | SetValueDisabledPipe : 'v'" [IsReturnedTreeSelectItem]="true"
                        (ValueChanged)="updateSetValue(($event ? $event.key : null), setValueIndex, ($event && $event.data ? ($event.data.nodeId || null) : null))"
                        [DataCy]="'SetValueValue_' + setValue.id">
                    </TreeSelect>

                </div>
                <div *ngIf="!(setValue.operator | IsFieldOperatorPipe) && (setValue.operator != 'Expression')"
                    class="set-value-value-container">

                    <FieldValue *ngIf="setValue.fieldChangedToggle"
                        [ObjectField]="(setValue.fieldCode | IsNoObjectFieldVariablePipe) ? null : (setValue.fieldCode | ObjectFieldPipe)"
                        [DataType]="(setValue.fieldCode | IsNoObjectFieldVariablePipe) ? setValue.type : null"
                        [LookupType]="(setValue.fieldCode | IsNoObjectFieldVariablePipe) ? setValue.lookupType : null"
                        [CurrentValue]="setValue.value" [IsDisabled]="setValue.disabled | SetValueDisabledPipe : 'v'"
                        [QueryFilterItems]="setValue.field | GetFieldApiQueryFiltersPipe : FieldApiQueryFilters"
                        (ValueChanged)="updateSetValue($event, setValueIndex)" [Name]="'SetValueValue_' + setValue.id">
                    </FieldValue>

                    <FieldValue *ngIf="!setValue.fieldChangedToggle"
                        [ObjectField]="(setValue.fieldCode | IsNoObjectFieldVariablePipe) ? null : (setValue.fieldCode | ObjectFieldPipe)"
                        [DataType]="(setValue.fieldCode | IsNoObjectFieldVariablePipe) ? setValue.type : null"
                        [LookupType]="(setValue.fieldCode | IsNoObjectFieldVariablePipe) ? setValue.lookupType : null"
                        [CurrentValue]="setValue.value" [IsDisabled]="setValue.disabled | SetValueDisabledPipe : 'v'"
                        [QueryFilterItems]="setValue.field | GetFieldApiQueryFiltersPipe : FieldApiQueryFilters"
                        (ValueChanged)="updateSetValue($event, setValueIndex)" [Name]="'SetValueValue_' + setValue.id">
                    </FieldValue>

                </div>
                <div *ngIf="(setValue.operator == 'Expression')" class="set-value-value-container">
                    <Expression [CurrentValue]="setValue.expressionValue"
                        (ValueChanged)="updateSetValueExpression($event, setValueIndex)" [FlowObject]="FlowObject"
                        [CurrentNodeId]="CurrentNodeId" [IsDisabled]="setValue.disabled | SetValueDisabledPipe : 'v'"
                        [Width]="'300px'" [DataCy]="'SetValueValue_' + setValue.id">
                    </Expression>
                </div>
            </div>
        </div>

        <div *ngIf="isLastSetValue" class="add-buttons-container margin-left-0">
            <span class="link-button" [ngClass]="{'disabled': !IsValidSetValues}" (click)="addSetValue()"
                [attr.data-cy]="'AddSetValueButton'">
                <span class="plus-sign">+</span><span>Add Field</span>
            </span>
        </div>
    </li>
</ul>