<table>
    <tr>
        <td>
            <table *ngIf="TransmissionCode == 'FTP'">
                <tr class="FormFieldRow">
                    <td>
                        <table>
                            <tr>
                                <td style="width:120px;">
                                    <LogLabel [ObjectFieldName]="'TransferFTPDetailHost'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext" [Text]="'FTP Out Settings'"></LogLabel>
                                </td>

                                <td style="width:200px;">
                                    <LogTextBox [ObjectFieldName]="'TransferFTPDetailHost'" [Text]="TransferFTPDetailHost" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext" [HideColumns]="true"></LogTextBox>
                                </td>

                                <td style="padding-left: 5px;">
                                    <div>
                                        <IconButton attr.data-cy="{{'EditFTPSettings' | IdGeneratorPipe}}" [Name]="'Edit'" [IsSmall]="true" (click)="EditFTPClicked()" [IsEnabled]="TransferFTPDetailId != null"></IconButton>
                                        <IconButton [Name]="'Add'" [IsSmall]="true" [Left]="3" (click)="AddFTPClicked()"></IconButton>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr class="FormFieldRow" *ngIf="false">
                    <td style="color:#1B90CB; font-size:12px;">Folders</td>
                </tr>

                <tr *ngIf="false">
                    <td class="Label" style="vertical-align:top;">
                        <table>
                            <tr class="FormFieldRow">
                                <td style="width:95px;"> AR Invoices </td>
                                <td style="width:280px;">
                                    <div style="border:1px solid gray;border-radius:3px;padding:2px;">
                                        FromLogitude\ARInvoices
                                    </div>
                                </td>
                                <td>
                                    <div></div>
                                </td>
                            </tr>

                            <tr class="FormFieldRow">
                                <td style="width:95px;"> AP Invoices </td>
                                <td style="width:280px;">
                                    <div style="border:1px solid gray;border-radius:3px;padding:2px;">
                                        FromLogitude\APInvoices
                                    </div>
                                </td>
                                <td>
                                    <div></div>
                                </td>
                            </tr>

                            <tr class="FormFieldRow">
                                <td style="width:95px;"> AR Payments </td>
                                <td style="width:280px;">
                                    <div style="border:1px solid gray;border-radius:3px;padding:2px;">
                                        FromLogitude\ARPayments
                                    </div>
                                </td>
                                <td>
                                    <div></div>
                                </td>
                            </tr>

                            <tr class="FormFieldRow">
                                <td style="width:95px;"> AP Payments </td>
                                <td style="width:280px;">
                                    <div style="border:1px solid gray;border-radius:3px;padding:2px;">
                                        FromLogitude\APPayments
                                    </div>
                                </td>
                                <td>
                                    <div></div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div></div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div></div>
                    </td>
                </tr>

            </table>

            <table *ngIf="TransmissionCode == 'DRP'">
                <tr class="FormFieldRow">
                    <td>
                        <table>
                            <tr>
                                <td style="width:10px;">
                                    <div></div>
                                </td>

                                <td>
                                    Connect To Dropbox account to enable transfer via dropbox folder
                                    <span (click)="ConnectDropBox()" style="font-size:12px;" class="hyperlink">Dropbox Connection</span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr class="FormFieldRow">
                    <td style="color:#1B90CB; font-size:12px;">Folders</td>
                </tr>

                <tr>
                    <td class="Label" style="vertical-align:top;">
                        <table>
                            <tr class="FormFieldRow">
                                <td style="width:95px;"> AR Invoices </td>
                                <td style="width:280px;">
                                    <div style="border:1px solid gray;border-radius:3px;padding:2px;">
                                        FromLogitude\ARInvoices
                                    </div>
                                </td>
                                <td>
                                    <div></div>
                                </td>
                            </tr>

                            <tr class="FormFieldRow">
                                <td style="width:95px;"> AP Invoices </td>
                                <td style="width:280px;">
                                    <div style="border:1px solid gray;border-radius:3px;padding:2px;">
                                        FromLogitude\APInvoices
                                    </div>
                                </td>
                                <td>
                                    <div></div>
                                </td>
                            </tr>

                            <tr class="FormFieldRow">
                                <td style="width:95px;"> AR Payments </td>
                                <td style="width:280px;">
                                    <div style="border:1px solid gray;border-radius:3px;padding:2px;">
                                        FromLogitude\ARPayments
                                    </div>
                                </td>
                                <td>
                                    <div></div>
                                </td>
                            </tr>

                            <tr class="FormFieldRow">
                                <td style="width:95px;"> AP Payments </td>
                                <td style="width:280px;">
                                    <div style="border:1px solid gray;border-radius:3px;padding:2px;">
                                        FromLogitude\APPayments
                                    </div>
                                </td>
                                <td>
                                    <div></div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div></div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td>
            <div></div>
        </td>
    </tr>

    <tr style="height: 32px;">
        <td style="vertical-align: bottom">
            <table style="height: 22px;">
                <tr>
                    <td>
                        <div></div>
                    </td>

                    <td style="width: 57px;">
                        <button class="Button" (click)="CancelButtonClicked()">Cancel</button>
                    </td>

                    <td style="width: 5px;">
                        <div></div>
                    </td>

                    <td style="width: 57px;">
                        <button attr.data-cy="{{'Ok_' + TransmissionCode | IdGeneratorPipe}}" class="RedButton" (click)="OkButtonClicked()">Ok</button>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
