<div class="limiter">
    <div class="container-login">
        <div class="container-login-child">
            <div class="wrap-login">
                <div class="login-form">
                    <div>
                        <img alt="" class="logo-img" src="{{LogoImgSrc}}">
                    </div>
                    
                    <div>
                        <p style="color: steelblue;font-size: 16px;font-weight: bold;font-family: Lucida Sans Unicode;">
                            Reset Password
                        </p>
                    </div>

                    <div>
                        <p style="color: #4B4A4A;font-size: 12px;font-family: Arial;">
                            Please enter your Email and  press submit
                        </p>
                    </div>

                    <div>
                        <p style="color: #4B4A4A;font-size: 14px;font-family: Myriad Pro;">
                            e-mail:
                        </p>
                    </div>

                    <div class="wrap-input">
                        <input #input class="input" placeholder="e.g. myname@example.net" [(ngModel)]="Email" type="text" name="email">
                    </div>

                    <div *ngIf="IsShowAreaCaptcha" style="margin-top: 5px;">
                        <img alt="" class="btn-captcha-img" src="{{CaptchaImageUrl}}">
                    </div>

                    <div *ngIf="IsShowAreaCaptcha" class="wrap-input">
                        <input #input class="input" placeholder="type the text you see" [(ngModel)]="CaptchaCode"
                            type="text" name="captchaText">
                    </div>

                    <div *ngIf="ErrorMessage">
                        <p style="font-family: Lucida Sans Unicode; font-size: 12px;color: red;">
                            {{ErrorMessage}}
                        </p>
                    </div>

                    <div style="margin-top: 2px;">
                        <div>
                            <div></div>
                            <button (click)="SubmitClicked()" class="login-form-btn" >
                                Submit >
                            </button>
                        </div>
                    </div>

                    <div>
                        <p style="color: #4B4A4A;font-size: 12px;font-family: Arial;">
                            Having trouble logging in?
                            <a href="mailto:info@dsv.co.il" style="display: iniline;text-decoration: none;">
                                Contact us
                            </a>
                        </p>
                    </div>

                    <div *ngIf="ShowbusyIndicator" class="text-center" style="margin:20px;margin-bottom:10px;">
                        <img width="50" height="50" src="./assets/images/Gif/indicator.gif" alt='loading' />
                    </div>
                    
                    <div style="margin-top:10px;" *ngIf="Succeeded">
                        <p style="color: SteelBlue;font-size: 12px;font-family: Arial;">
                            Submiting completed successfully.<br /> A reset link has been sent to your Email
                        </p>
                    </div>

                    <div style="margin-top:10px;margin-bottom:10px;">
                        <a (click)="BackToLoginClicked()">
                            Back to login page
                        </a>
                    </div>
                </div>
            </div>

            <div style="height:10px;">
            </div>
        </div>
    </div>
</div>