
    <div>
        <table>
            <tr >
                <td colspan="5">
                    <textarea name="a" cols="80" rows="23" readonly 
                              style="margin-top:12px;height:300px;">{{_Message}}</textarea>
                </td>
            </tr>
            <tr style="height:25px" >
                <td colspan="4"></td>
                <td style="width:90px;"><button class="Button" (click)="CancelButtonClicked()">{{'General.O.Confirm' |TextCodeTranslationPipe}}</button></td>
            </tr>
            <tr>
            </tr>
        </table>
        
    </div>
