.StatisticsTable-td {
    label {
        display: inline;
        vertical-align: middle;
    }

    #StatisticsTable {
        display: inline-block;
        vertical-align: middle;
        margin-right: 6px;
    }

    td {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        text-indent: 5px;
    }

    .Statistics {
        text-align: right;
    }

    tbody, tfoot {
        tr td:last-child {
            width: 60px;
        } 
    }
}