:host ::ng-deep {
    .p-field {
        margin-bottom: 1em !important;
    }

    .content-in-section {
        padding: 0 27px;
    }

    .root-header-text {
        font-size: 20px;
        font-weight: bold;
    }

    .sub-header {
        padding: 27px 27px 0;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 20px;
        padding-bottom: 15px;
        border-bottom: 1px solid var(--surface-200);
    }

    .sub-header-short-line {
        padding: 27px 0;
        margin: 0 27px;
    }

    .p-field {
        app-autocomplate-table label,
        label {
            top: 8px;
            z-index: 1;
            position: relative;
            background: white;
            left: 14px;
            padding: 0 5px;
        }

        label {
            top: 12px;
        }

        .p-checkbox-label {
            top: 0;
        }
    }

    .text-style,
    label {
        color: #676a6c;
        font-weight: bold;
    }

    app-autocomplate-table label,
    .simple-text {
        font-size: 13px;
    }

    .col-4,
    .col-6 {
        padding: 1.5rem;
    }

    .ng-submitted p-autocomplete.ng-invalid input,
    .ng-submitted .ng-invalid {
        border-color: #f44336;
    }

    span.p-button-icon.pi.pi-calendar:before {
        display: none;
    }

    span.p-button-icon.pi.pi-calendar {
        width: 15px;
        height: 100%;
        background-image: url(/assets/icons/calendar.svg);
        background-size:100% 100%;
        -o-background-size: 100% 100%;
        -webkit-background-size: 100% 100%;
        background-size:cover;
    }
}

:host {
    display: block;
    height: 100%;
    background-color: var(--surface-200);
    font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif,
        “Apple Color Emoji”, “Segoe UI Emoji”, “Segoe UI Symbol”;
}

.container {
    height: 81%;
}

.section {
    background: var(--surface-0);
    margin-bottom: 20px;
    border-radius: 14px;
}

.section-btn {
    height: 67px;
    border-radius: 0;
    text-align: right;
    padding: 20px;
    margin-bottom: 0;

    .p-button-danger {
        margin-right: 30px;
    }
}

.root-header {
    margin-bottom: 8px;
    padding: 13px 20px;
    border-radius: 0;

    h2 {
        font-size: 24px;
    }
}

hr {
    border-top: 2px dashed #e2f0fb;
    margin: 10px 30px 35px;
}

.left-side {
    border-radius: 0px;
    margin-bottom: 1px;
    padding-left: 0;
    padding-right: 0;
}

.right-side {
    padding-left: 13px;
    padding-top: 13px;
    overflow-x: hidden;
    height: 100%;
    position: relative;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
    background: #ccc;
}
