<div style="position: relative;display: inline-block;">

    <div class="db-m-drop-container" [ngStyle]="{ 'border-color': IsOpen ? '#5FAFDA': '#AAAAAA' }"
        (click)="OpenCloseDropDown()">
        <p class="db-m-drop-selected-text" [title]="DisplayText" [ngStyle]="!SelectedItem && {'color': '#6E7172'}">
            {{DisplayText }}</p>
        <span class="db-m-drop-pic" [ngClass]="IsOpen ? 'db-m-drop-arrow-up' : 'db-m-drop-arrow-down'"></span>
    </div>

    <div class="db-m-dropdown-list" [ngClass]="{'dropdown-open' : IsOpen}">
        <div class="db-m-dropdown-search-section" *ngIf="CanSearch">
            <div class="db-m-dropdown-search-container">
                <img src="/Images/Charts/db-search-icon.png" class="db-m-dropdown-search-icon">
                <input type="text" class="db-m-dropdown-search-text" [(ngModel)]="SearchText"
                    [disabled]="Loading || !ItemsSource" placeholder="Search by name"
                    (input)="onSearchChange($event.target.value)">
            </div>
        </div>
        <div class="db-m-dropdown-scroll">
            <ul role="listbox" aria-expanded="false">
                <ng-container *ngIf="!Loading">
                    <li *ngFor="let item of DisplayItemsSource" (click)="SelectItem(item)" [title]="GetItemText(item)">
                        <div class="db-m-dropdown-checbox-container">
                            <svg *ngIf="item.IsMultiSelectDropDownSelected" width="10" height="6" viewBox="0 0 10 6"
                                fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M3.94109 4.58847L8.52906 0L9.23532 0.705765L3.94109 6L0.764648 2.82356L1.47041 2.11779L3.94109 4.58847Z"
                                    fill="#5FAFDA" />
                            </svg>
                        </div>
                        <p class="db-m-drop-item-text">{{ GetItemText(item) }}</p>
                    </li>
                </ng-container>

                <ng-container *ngIf="Loading">
                    <li *ngFor="let item of SkeletonCount" style="cursor: default;pointer-events: none;">
                        <p class="card__desc-text"></p>
                    </li>
                </ng-container>
            </ul>
        </div>

    </div>

</div>