<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="StorageServiceMode" value="azure" />
    <add key="LogitudeURL" value="http://system.logitudeworld.com" />
    <add key="ChampURL" value="http://10.10.10.124:8732" />
    <!--<add key="ChampURL" value="http://proxy.amital.co.il:8732" />-->
    <!--<add key="LogitudeURL" value="http://logitudeeu1.cloudapp.net" />-->
    <!--<add key="LogitudeURL" value="http://127.0.0.1:95" />-->
    <!--<add key="LogitudeURL" value="http://logitudetest1.cloudapp.net" />-->
    <!--<add key="LogitudeURL" value="http://logitudevpncomp.cloudapp.net" />-->
    <!--<add key="LogitudeURL" value="http://logitudetest3.cloudapp.net" />-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="QueueServiceMode" value="azure" />
    <add key="DBMS" value="msql" />

    <add key="ChampRestAPITenants" value="42" />
    <add key="ChampRestAPITenantKey" value="2" />
    <add key="ChampDbQueueService" value="false" />
    <add key="BatchCode" value="FTP,true" />

    <add key="EH_FQDN" value="collaborationtool.servicebus.windows.net:9093" />
    <add key="EH_CONNECTION_STRING" value="Endpoint=sb://collaborationtool.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=IEXQpsd1JXcAxERPg+VLbvuk5Z2uiYfrmZCjTNVEn+o=" />
    <add key="EH_Topic" value="CTool" />
    <add key="CONSUMER_GROUP" value="$Default" />

    <add key="CT_URL" value="https://localhost:44362/api/Task/PostExternal" />
  </appSettings>
  <system.diagnostics>
    <!--<trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>-->
  </system.diagnostics>
  <connectionStrings>
    <!--Development-->

    <!-- <add name="Globalstr" connectionString="2019R4_Global,sa,Saas256,." />
    <add name="SystemLogsStr" connectionString="2019R4_SystemLogs,sa,Saas256,." />-->
    <!-- <add name="Globalstr" connectionString="2019R1_Global,sa,Saas256,." />
    <add name="SystemLogsStr" connectionString="2019R1_SystemLogs,sa,Saas256,." />-->

    <!--<add name="Globalstr" connectionString="2019R5_Global,sa,Saas256,." />
    <add name="SystemLogsStr" connectionString="2019R5_SystemLogs,sa,Saas256,." />-->
    
    <!--<add name="Globalstr" connectionString="2019R2_Global,sa,Saas256,." />
    <add name="SystemLogsStr" connectionString="2019R2_SystemLogs,sa,Saas256,." />

  
    <add name="Globalstr" connectionString="2019R3_Global,sa,Saas256,." />
    <add name="SystemLogsStr" connectionString="2019R3_SystemLogs,sa,Saas256,." />-->

    <add name="Globalstr" connectionString="2021R3_Global,sa,Saas256,." />
    <add name="SystemLogsStr" connectionString="2021R3_SystemLogs,sa,Saas256,." />
    <add name="CargoTrackingStr" connectionString="CargoTracking,sa,Saas256,." />
    
    <!--<add name="Globalstr" connectionString="Amital1_Global,sa,Saas256,AmitalDB" />
    <add name="SystemLogsStr" connectionString="Amital1_SystemLogs,sa,Saas256,AmitalDB" />-->
    <!--<add name="Globalstr" connectionString="LogitudeGlobal-Pre,logitudemanager,!LO009008,logitudetest.database.windows.net" />
    <add name="SystemLogsStr" connectionString="LogitudeSystemLogs-Pre,logitudemanager,!LO009008,logitudetest.database.windows.net" />-->
    <!--<add name="Globalstr" connectionString="LogitudeGlobal-Test,logitudemanager,!LO009008,logitudetest.database.windows.net" />
    <add name="SystemLogsStr" connectionString="LogitudeSystemLogs-Test,logitudemanager,!LO009008,logitudetest.database.windows.net" />
    
    <add name="Oracle_Globalstr" connectionString="User Id=logitude_GLOBAL;  Password=oracle;Direct=True;Data Source=localhost;port=1521;sid=xe" />
    <add name="Oracle_SystemLogsStr" connectionString="User Id=logitude_logs;  Password=oracle;Direct=True;Data Source=localhost;port=1521;sid=xe" />-->
    <!--<add name="Globalstr" connectionString="LogitudeGlobal-Test2,logitudeuser,!LU789456,ek5cxrtgus.database.windows.net" />
   <add name="SystemLogsStr" connectionString="LogitudeSystemLogs-Test2,logitudeuser,!LU789456,ek5cxrtgus.database.windows.net" />-->
    <!--<add name="Globalstr" connectionString="LogitudeGlobal-Test2,logitudeuser,!LU789456,ek5cxrtgus.database.windows.net" />
    <add name="SystemLogsStr" connectionString="LogitudeSystemLogs-Test2,logitudeuser,!LU789456,ek5cxrtgus.database.windows.net" />-->
    <!--Production-->
    <!--<add name="Globalstr" connectionString="LogitudeGlobal,logitudemanager,!LO852456,ebup282itq.database.windows.net" />
    <add name="SystemLogsStr" connectionString="LogitudeSystemLogs,logitudemanager,!LO852456,ebup282itq.database.windows.net" />-->
    <!--Logitude Pre Production-->
    <!--<add name="Globalstr" connectionString="LogitudeGlobal-2016R2,logitudeuser,!LU789456,ek5cxrtgus.database.windows.net" />
    <add name="SystemLogsStr" connectionString="LogitudeSystemLogs-2016R2,logitudeuser,!LU789456,ek5cxrtgus.database.windows.net" />-->
    <!--Amital Cloud-->
    <!--<add name="Globalstr" connectionString="Global,sa,Saas256,amitaldata.cloudapp.net" />
    <add name="SystemLogsStr" connectionString="Logs,sa,Saas256,amitaldata.cloudapp.net" />-->
    <!--LogBox-->
    <!--<add name="Globalstr" connectionString="Logbox_Global,sa,Saas256,amitaldata.cloudapp.net" />
    <add name="SystemLogsStr" connectionString="Logbox_Logs,sa,Saas256,amitaldata.cloudapp.net" />-->
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="Devart.Data.Oracle" type="Devart.Data.Oracle.Entity.OracleEntityProviderServices, Devart.Data.Oracle.Entity, Version=8.2.103.6, Culture=neutral, PublicKeyToken=09af7300eec23701" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!--<system.transactions>
	  <machineSettings maxTimeout="10:00:30" />
  </system.transactions>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.StorageClient" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.0.0" newVersion="1.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.2.0" newVersion="2.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.ServiceRuntime" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.7.0.0" newVersion="2.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Devart.Data.Oracle.Entity" publicKeyToken="09af7300eec23701" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.2.103.6" newVersion="8.2.103.6" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.999" newVersion="1.0.0.999" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.1.0" newVersion="8.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ServiceBus" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Stimulsoft.Report" publicKeyToken="ebe6666cba19647a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2013.2.1609.0" newVersion="2013.2.1609.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Stimulsoft.Base" publicKeyToken="ebe6666cba19647a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2017.1.11.0" newVersion="2017.1.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Dataflow" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.24.0" newVersion="4.5.24.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Devart.Data.Oracle" publicKeyToken="09af7300eec23701" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.9.872.0" newVersion="9.9.872.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Devart.Data" publicKeyToken="09af7300eec23701" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.2296.0" newVersion="5.0.2296.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        
        <binding name="BasicHttpBinding_ILoginWcfService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>

        <binding name="BasicHttpBinding_IExternalTasksQueueWcfService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        
        <binding name="BasicHttpBinding_IOceanInsightsWcfService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        
        <binding name="ChampWebServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="ChampRequestAnswerWebServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IQueueGateway" />
        <binding name="WarmWebServiceSoap" closeTimeout="00:02:00" openTimeout="00:02:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="TimbradoSoap" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="5242880" maxBufferPoolSize="524288" maxReceivedMessageSize="5242880" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="5242880" maxArrayLength="32768" maxBytesPerRead="4096" maxNameTableCharCount="32768" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="Timbrado33Soap" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="5242880" maxReceivedMessageSize="5242880" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="5242880" maxArrayLength="32768" maxBytesPerRead="4096" maxNameTableCharCount="32768" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:9996/WcfApi/ExternalTasksQueueWcfService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IExternalTasksQueueWcfService" contract="ExternalTasksQueueServiceReference.IExternalTasksQueueWcfService" name="BasicHttpBinding_IExternalTasksQueueWcfService" />
      <endpoint address="http://localhost:9996/WcfApi/LoginWcfService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILoginWcfService" contract="LoginServiceReference.ILoginWcfService" name="BasicHttpBinding_ILoginWcfService" />
                
      <endpoint address="http://localhost:9996/WcfApi/OceanInsightsWcfService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOceanInsightsWcfService" contract="OceanInsightsServiceReference.IOceanInsightsWcfService" name="BasicHttpBinding_IOceanInsightsWcfService" />
      <!--PRUEBAS-->
      <endpoint address="http://201.175.12.89/serviciointegracionpruebas/Timbrado.asmx" binding="basicHttpBinding" bindingConfiguration="TimbradoSoap" contract="wsReference.TimbradoSoap" name="TimbradoSoapPruebas" />
      <!--PRODUCTIVO-->
      <endpoint address="http://200.53.180.22/servicioIntegracion/timbrado.asmx" binding="basicHttpBinding" bindingConfiguration="TimbradoSoap" contract="wsReference.TimbradoSoap" name="TimbradoSoapProductivo" />
      <!--PRUEBAS 3.3-->
      <endpoint address="https://cfdi33-pruebas.buzoncfdi.mx:1443/Timbrado.asmx" binding="basicHttpBinding" bindingConfiguration="Timbrado33Soap" contract="wsReference33.TimbradoSoap" name="Timbrado33SoapPruebas" />
      <!--PRODUCTIVO 3.3-->
      <endpoint address="https://timbracfdi33.mx:1443/Timbrado.asmx" binding="basicHttpBinding" bindingConfiguration="Timbrado33Soap" contract="wsReference33.TimbradoSoap" name="Timbrado33SoapProductivo" />
      <endpoint address="http://localhost:58102/ReportsWebServices/ChampWebService.asmx" binding="basicHttpBinding" bindingConfiguration="ChampWebServiceSoap" contract="ChampProxy.ChampWebServiceSoap" name="ChampWebServiceSoap" />
      <endpoint address="http://localhost:58102/WebServices/ChampRequestAnswerWebService.asmx" binding="basicHttpBinding" bindingConfiguration="ChampRequestAnswerWebServiceSoap" contract="ChampRequestAnswerServiceReference.ChampRequestAnswerWebServiceSoap" name="ChampRequestAnswerWebServiceSoap" />
      <endpoint address="http://localhost:62619/WebServices/WarmWebService.asmx" binding="basicHttpBinding" bindingConfiguration="WarmWebServiceSoap" contract="WarmServiceReference.WarmWebServiceSoap" name="WarmWebServiceSoap" />
      <endpoint address="http://proxy.amital.co.il:8732/Design_Time_Addresses/ChampGateway/QueueGateway/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQueueGateway" contract="ChampProxy.IQueueGateway" name="BasicHttpBinding_IQueueGateway" />
      <!--<endpoint address="http://logusgateway.cloudapp.net:8732/Design_Time_Addresses/ChampGateway/QueueGateway/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQueueGateway"
        contract="ChampProxy.IQueueGateway" name="BasicHttpBinding_IQueueGateway" />-->
    </client>
    <extensions>
      <!-- In this extension section we are introducing all known service bus extensions. User can remove the ones they don't need. -->
      <behaviorExtensions>
        <add name="connectionStatusBehavior" type="Microsoft.ServiceBus.Configuration.ConnectionStatusElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="transportClientEndpointBehavior" type="Microsoft.ServiceBus.Configuration.TransportClientEndpointBehaviorElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="serviceRegistrySettings" type="Microsoft.ServiceBus.Configuration.ServiceRegistrySettingsElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </behaviorExtensions>
      <bindingElementExtensions>
        <add name="netMessagingTransport" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingTransportExtensionElement, Microsoft.ServiceBus,  Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="tcpRelayTransport" type="Microsoft.ServiceBus.Configuration.TcpRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="httpRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="httpsRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpsRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="onewayRelayTransport" type="Microsoft.ServiceBus.Configuration.RelayedOnewayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </bindingElementExtensions>
      <bindingExtensions>
        <add name="basicHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.BasicHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="webHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WebHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="ws2007HttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WS2007HttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netTcpRelayBinding" type="Microsoft.ServiceBus.Configuration.NetTcpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netOnewayRelayBinding" type="Microsoft.ServiceBus.Configuration.NetOnewayRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netEventRelayBinding" type="Microsoft.ServiceBus.Configuration.NetEventRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netMessagingBinding" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </bindingExtensions>
    </extensions>
  </system.serviceModel>
</configuration>
