<connectionStrings  >






	<add name="OracleMainMigration"
         connectionString=
"User Id=logitude_main;  Password=oracle;Direct=True;Data Source=10.10.10.67;port=1521;sid=amital"
      providerName="Devart.Data.Oracle" />

	<clear/>
	<add name="Oracle_Globalstr"  connectionString="User Id=AMINETCST_GLOBAL;  Password=AMINETCST_GLOBAL;Direct=True;Data Source=oracle19;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr"  connectionString="User Id=AMINETCST_LOGS;  Password=AMINETCST_LOGS;Direct=True;Data Source=oracle19;port=1521;sid=amital"/>







	<clear/>
	<add name="Oracle_Globalstr"  connectionString="User Id=AMINETNXT_GLOBAL;  Password=AMINETNXT_GLOBAL;Direct=True;Data Source=UNIDB2016;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr"  connectionString="User Id=AMINETNXT_LOGS;  Password=AMINETNXT_LOGS;Direct=True;Data Source=UNIDB2016;port=1521;sid=amital"/>





	<clear/>
	<add name="Oracle_Globalstr"  connectionString="User Id=AMINETCST_GLOBAL;  Password=AMINETCST_GLOBAL;Direct=True;Data Source=UNIDB2016;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr"  connectionString="User Id=AMINETCST_LOGS;  Password=AMINETCST_LOGS;Direct=True;Data Source=UNIDB2016;port=1521;sid=amital"/>






	<clear/>
	<add name="Oracle_Globalstr"  connectionString="User Id=AMINETPRD_GLOBAL;  Password=AMINETPRD_GLOBAL;Direct=True;Data Source=UNIDB2016;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr"  connectionString="User Id=AMINETPRD_LOGS;  Password=AMINETPRD_LOGS;Direct=True;Data Source=UNIDB2016;port=1521;sid=amital"/>
	
	
	





	
	
	
	

	


	

	
	
	

	
	

	
	

	
 
  
 





 
  

 
 
 


 
	
	
	

	

	
	<!--exporDist-->
	<clear/>
	<add name="Oracle_Globalstr" connectionString="User Id=AMINETexp_GLOBAL; Password=AMINETexp_GLOBAL;Direct=True;Data Source=oracle19;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr" connectionString="User Id=AMINETexp_LOGS; Password=AMINETexp_LOGS;Direct=True;Data Source=oracle19;port=1521;sid=amital"/>

	<!--customs-->
	<clear/>
	<add name="Oracle_Globalstr"  connectionString="User Id=AMINETCST_GLOBAL;  Password=AMINETCST_GLOBAL;Direct=True;Data Source=ORACLE19;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr"  connectionString="User Id=AMINETCST_LOGS;  Password=AMINETCST_LOGS;Direct=True;Data Source=ORACLE19;port=1521;sid=amital"/>
	
	
	

	


	


	

	

	
	<!--prod-->
	<clear/>
	<add name="Oracle_Globalstr" connectionString="User Id=aminetprd_global; Password=aminetprd_global;Direct=True;Data Source=unidb2016;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr" connectionString="User Id=aminetprd_logs; Password=aminetprd_logs;Direct=True;Data Source=unidb2016;port=1521;sid=amital"/>

	<!--customs-->
	<clear/>
	<add name="Oracle_Globalstr"  connectionString="User Id=AMINETCST_GLOBAL;  Password=AMINETCST_GLOBAL;Direct=True;Data Source=ORACLE19;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr"  connectionString="User Id=AMINETCST_LOGS;  Password=AMINETCST_LOGS;Direct=True;Data Source=ORACLE19;port=1521;sid=amital"/>
	


	<!--prod-->
	<clear/>
	<add name="Oracle_Globalstr" connectionString="User Id=aminetprd_global; Password=aminetprd_global;Direct=True;Data Source=unidb2016;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr" connectionString="User Id=aminetprd_logs; Password=aminetprd_logs;Direct=True;Data Source=unidb2016;port=1521;sid=amital"/>


	



	


	
	


	
	
	

	
	<!--exportpilot-->
	<clear/>
	<add name="LogitudeStr" connectionString="Data Source=amitaldb.database.windows.net;Initial Catalog=Main;Integrated Security=False;Persist Security Info=True;User ID=system;Password=Manager!#^;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
	<add name="LogitudeGlobalStr" connectionString="Data Source=amitaldb.database.windows.net;Initial Catalog=Global;Integrated Security=False;Persist Security Info=True;User ID=system;Password=Manager!#^;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />

	<add name="LogitudeSystemLogsStr" connectionString="Data Source=amitaldb.database.windows.net;Initial Catalog=Logs;Integrated Security=False;Persist Security Info=True;User ID=system;Password=Manager!#^;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />

	<add name="SystemLogsStr" connectionString="LOGS,system,Manager!#^,amitaldb.database.windows.net" />
	<add name="Globalstr" connectionString="Global,system,Manager!#^,amitaldb.database.windows.net" />
	<!--customssql-->
	<clear/>
	<add name="sqlLogitudeStr" connectionString="Data Source=Univ511;Initial Catalog=Main;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256!;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
	<add name="sqlGlobalStr" connectionString="Data Source=Univ511;Initial Catalog=Global;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256!;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
	<add name="SystemLogsStr" connectionString="LOGS,sa,Saas256!,Univ511" />
	<add name="Globalstr" connectionString="Global,sa,Saas256!,Univ511" />
	
	
	
	
	
	
	
	


	
	
	
	<!--<exportpilot>-->
	<clear/>
	<add name="LogitudeStr" connectionString="Data Source=amital-prod-db.database.windows.net;Initial Catalog=Main;Integrated Security=False;Persist Security Info=True;User ID=system;Password=qeA9c3Z28v4Y;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
	<add name="LogitudeGlobalStr" connectionString="Data Source=amital-prod-db.database.windows.net;Initial Catalog=Global;Integrated Security=False;Persist Security Info=True;User ID=system;Password=qeA9c3Z28v4Y;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />


	<add name="LogitudeSystemLogsStr" connectionString="Data Source=amital-prod-db.database.windows.net;Initial Catalog=Logs;Integrated Security=False;Persist Security Info=True;User ID=system;Password=qeA9c3Z28v4Y;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />

	<add name="SystemLogsStr" connectionString="LOGS,system,qeA9c3Z28v4Y,amital-prod-db.database.windows.net" />
	<add name="Globalstr" connectionString="Global,system,qeA9c3Z28v4Y,amital-prod-db.database.windows.net" />

	<!--NEXTPROD19-->

	<clear/>
	<add name="Oracle_Globalstr"  connectionString="User Id=AMINETNXT_GLOBAL;  Password=AMINETNXT_GLOBAL;Direct=True;Data Source=ORACLE19;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr"  connectionString="User Id=AMINETNXT_LOGS;  Password=AMINETNXT_LOGS;Direct=True;Data Source=ORACLE19;port=1521;sid=amital"/>



	
	
	
	

	<!--customs/594-->
	<clear/>
	<add name="Oracle_Globalstr"  connectionString="User Id=AMINETCST_GLOBAL;  Password=AMINETCST_GLOBAL;Direct=True;Data Source=UNIDB2016;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr"  connectionString="User Id=AMINETCST_LOGS;  Password=AMINETCST_LOGS;Direct=True;Data Source=UNIDB2016;port=1521;sid=amital"/>

	


	
	<!--592-->
	<clear/>
	<add name="Oracle_Globalstr"  connectionString="User Id=AMINETNXT_GLOBAL;  Password=AMINETNXT_GLOBAL;Direct=True;Data Source=UNIDB2016;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr"  connectionString="User Id=AMINETNXT_LOGS;  Password=AMINETNXT_LOGS;Direct=True;Data Source=UNIDB2016;port=1521;sid=amital"/>


	
	
	
	

	
	
	

	<!--prod-->
	<clear/>
	<add name="Oracle_Globalstr" connectionString="User Id=aminetprd_global; Password=aminetprd_global;Direct=True;Data Source=unidb2016;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr" connectionString="User Id=aminetprd_logs; Password=aminetprd_logs;Direct=True;Data Source=unidb2016;port=1521;sid=amital"/>


	<!--<exportpilot>-->
	<clear/>
	<add name="LogitudeStr" connectionString="Data Source=amital-prod-db.database.windows.net;Initial Catalog=Main;Integrated Security=False;Persist Security Info=True;User ID=system;Password=qeA9c3Z28v4Y;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
	<add name="LogitudeGlobalStr" connectionString="Data Source=amital-prod-db.database.windows.net;Initial Catalog=Global;Integrated Security=False;Persist Security Info=True;User ID=system;Password=qeA9c3Z28v4Y;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />


	<add name="LogitudeSystemLogsStr" connectionString="Data Source=amital-prod-db.database.windows.net;Initial Catalog=Logs;Integrated Security=False;Persist Security Info=True;User ID=system;Password=qeA9c3Z28v4Y;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />

	<add name="SystemLogsStr" connectionString="LOGS,system,qeA9c3Z28v4Y,amital-prod-db.database.windows.net" />
	<add name="Globalstr" connectionString="Global,system,qeA9c3Z28v4Y,amital-prod-db.database.windows.net" />


	
	

	


	
	
	<!--customs/594-->
	<clear/>
	<add name="Oracle_Globalstr"  connectionString="User Id=AMINETCST_GLOBAL;  Password=AMINETCST_GLOBAL;Direct=True;Data Source=UNIDB2016;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr"  connectionString="User Id=AMINETCST_LOGS;  Password=AMINETCST_LOGS;Direct=True;Data Source=UNIDB2016;port=1521;sid=amital"/>

	

	
	
	

	
	
	
	
	
	
	
	


	



	
	<!--customs19-->
	<clear/>
	<add name="Oracle_Globalstr"  connectionString="User Id=AMINETCST_GLOBAL;  Password=AMINETCST_GLOBAL;Direct=True;Data Source=ORACLE19;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr"  connectionString="User Id=AMINETCST_LOGS;  Password=AMINETCST_LOGS;Direct=True;Data Source=ORACLE19;port=1521;sid=amital"/>
	<!--prod19-->
	<clear/>
	<add name="Oracle_Globalstr"  connectionString="User Id=Aminet5113_GLOBAL;  Password=Aminet5113_GLOBAL;Direct=True;Data Source=oracle19;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr"  connectionString="User Id=Aminet5113_LOGS;  Password=Aminet5113_LOGS;Direct=True;Data Source=oracle19;port=1521;sid=amital"/>

	
	

	<!--NewCloud-512.3/512.2-->

	<clear/>
	<add name="CargoTrackingStr" connectionString="CargoTracking,amitaladmin,ut6py6VH7QkEiwR,sql-amital-dev-il.database.windows.net" />
	<add name="Globalstr" connectionString="Global,amitaladmin,ut6py6VH7QkEiwR,sql-amital-dev-il.database.windows.net"/>
	<add name="SystemLogsStr" connectionString="SystemLogs,amitaladmin,ut6py6VH7QkEiwR,sql-amital-dev-il.database.windows.net"/>
	<add name="LogitudeStr" connectionString="Data Source=.;Initial Catalog=Logitude2-5_Main;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
	<add name="LogitudeGlobalStr" connectionString="Data Source=.;Initial Catalog=Logitude2-5_Global;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
	<add name="LogitudeSystemLogsStr" connectionString="Data Source=.;Initial Catalog=Logitude2-5_SystemLogs;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
	
	
	
	<!--nextprod - import-->
	<clear/>
	<add name="Oracle_Globalstr"  connectionString="User Id=aminetnxt_GLOBAL;  Password=aminetnxt_GLOBAL;Direct=True;Data Source=oracle19;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr"  connectionString="User Id=aminetnxt_LOGS;  Password=aminetnxt_LOGS;Direct=True;Data Source=oracle19;port=1521;sid=amital"/>






  <!--nextprod - export-->
  <clear/>
  <add name="LogitudeStr" connectionString="Data Source=Univ511;Initial Catalog=Main_nextprod;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256!;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  <add name="LogitudeGlobalStr" connectionString="Data Source=Univ511;Initial Catalog=Global_nextprod;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256!;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  <add name="SystemLogsStr" connectionString="LOGS_nextprod,sa,Saas256!,Univ511" />
  <add name="Globalstr" connectionString="Global_nextprod,sa,Saas256!,Univ511" />




  <clear/>
  <add name="CargoTrackingStr" connectionString="CargoTracking-merge-test,amitaladmin,ut6py6VH7QkEiwR,sql-amital-dev-il.database.windows.net" />
    <add name="Globalstr" connectionString="Global-Test,amitaladmin,ut6py6VH7QkEiwR,sql-amital-dev-il.database.windows.net" />
    <add name="SystemLogsStr" connectionString="SystemLogs-Test,amitaladmin,ut6py6VH7QkEiwR,sql-amital-dev-il.database.windows.net" />

    <add name="LogitudeStr" connectionString="Data Source=sql-amital-dev-il.database.windows.net;Initial Catalog=Main-Test;Integrated Security=False;Persist Security Info=True;User ID=amitaladmin;Password=ut6py6VH7QkEiwR;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <add name="LogitudeGlobalStr" connectionString="Data Source=sql-amital-dev-il.database.windows.net;Initial Catalog=Global-Test;Integrated Security=False;Persist Security Info=True;User ID=amitaladmin;Password=ut6py6VH7QkEiwR;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <add name="LogitudeSystemLogsStr" connectionString="Data Source=sql-amital-dev-il.database.windows.net;Initial Catalog=SystemLogs-Test;Integrated Security=False;Persist Security Info=True;User ID=amitaladmin;Password=ut6py6VH7QkEiwR;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />








  <!--customssql-->
  <clear/>
  <add name="LogitudeStr" connectionString="Data Source=Univ511;Initial Catalog=Main;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256!;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  <add name="sqlGlobalStr" connectionString="Data Source=Univ511;Initial Catalog=Global;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256!;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  <add name="SystemLogsStr" connectionString="LOGS,sa,Saas256!,Univ511" />
  <add name="Globalstr" connectionString="Global,sa,Saas256!,Univ511" />





  <!--UniCloud-->

  <clear/>
  <add name="LogitudeStr" connectionString="Data Source=sql-amital-dev-il.database.windows.net;Initial Catalog=Main;Integrated Security=False;Persist Security Info=True;User ID=amitaladmin;Password=ut6py6VH7QkEiwR;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  <add name="LogitudeGlobalStr" connectionString="Data Source=sql-amital-dev-il.database.windows.net;Initial Catalog=Global;Integrated Security=False;Persist Security Info=True;User ID=amitaladmin;Password=ut6py6VH7QkEiwR;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />

  <add name="LogitudeSystemLogsStr" connectionString="Data Source=sql-amital-dev-il.database.windows.net;Initial Catalog=Logs;Integrated Security=False;Persist Security Info=True;User ID=amitaladmin;Password=ut6py6VH7QkEiwR;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />

  <add name="SystemLogsStr" connectionString="SystemLogs,amitaladmin,ut6py6VH7QkEiwR,sql-amital-dev-il.database.windows.net" />
  <add name="Globalstr" connectionString="Global,amitaladmin,ut6py6VH7QkEiwR,sql-amital-dev-il.database.windows.net" />
  <add name="CargoTrackingStr" connectionString="CargoTracking,amitaladmin,ut6py6VH7QkEiwR,sql-amital-dev-il.database.windows.net" />




  <!-- export cloud NEW-->
  <clear/>
  <add name="LogitudeStr" connectionString="Data Source=sql-customs-prod-il.database.windows.net;Initial Catalog=Main;Integrated Security=False;Persist Security Info=True;User ID=customs_sa;Password=1Ot7eG5b2K1c;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  <add name="LogitudeGlobalStr" connectionString="Data Source=sql-customs-prod-il.database.windows.net;Initial Catalog=Global;Integrated Security=False;Persist Security Info=True;User ID=customs_sa;Password=1Ot7eG5b2K1c;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  <add name="LogitudeSystemLogsStr" connectionString="Data Source=sql-customs-prod-il.database.windows.net;Initial Catalog=Logs;Integrated Security=False;Persist Security Info=True;User ID=customs_sa;Password=1Ot7eG5b2K1c;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  <add name="SystemLogsStr" connectionString="LOGS,customs_sa,1Ot7eG5b2K1c,sql-customs-prod-il.database.windows.net" />
  <add name="Globalstr" connectionString="Global,customs_sa,1Ot7eG5b2K1c,sql-customs-prod-il.database.windows.net" />

  
  <!--CLOUD-PROD-->

  <clear/>
  <add name="LogitudeStr" connectionString="Data Source=sql-cloud-prod-il.database.windows.net;Initial Catalog=Main-prod;Integrated Security=False;Persist Security Info=True;User ID=amitaladmin;Password=1MdwTZ4AcnJR2ui;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  <add name="LogitudeGlobalStr" connectionString="Data Source=sql-cloud-prod-il.database.windows.net;Initial Catalog=Global-prod;Integrated Security=False;Persist Security Info=True;User ID=amitaladmin;Password=1MdwTZ4AcnJR2ui;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  <add name="LogitudeSystemLogsStr" connectionString="Data Source=sql-cloud-prod-il.database.windows.net;Initial Catalog=SystemLogs-prod;Integrated Security=False;Persist Security Info=True;User ID=amitaladmin;Password=1MdwTZ4AcnJR2ui;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />

  <add name="Globalstr" connectionString="Global-prod,amitaladmin,1MdwTZ4AcnJR2ui,sql-cloud-prod-il.database.windows.net" />
  <add name="SystemLogsStr" connectionString="SystemLogs-prod,amitaladmin,1MdwTZ4AcnJR2ui,sql-cloud-prod-il.database.windows.net" />
  <add name="CargoTrackingStr" connectionString="CargoTracking-prod,amitaladmin,1MdwTZ4AcnJR2ui,sql-cloud-prod-il.database.windows.net" />
  <!--test-accounting-->

  <clear/>
  <add name="LogitudeStr" connectionString="Data Source=sql-amital-dev-il.database.windows.net;Initial Catalog=Main-merge-test;Integrated Security=False;Persist Security Info=True;User ID=amitaladmin;Password=ut6py6VH7QkEiwR;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  <add name="LogitudeGlobalStr" connectionString="Data Source=sql-amital-dev-il.database.windows.net;Initial Catalog=Global-merge-test;Integrated Security=False;Persist Security Info=True;User ID=amitaladmin;Password=ut6py6VH7QkEiwR;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  <add name="LogitudeSystemLogsStr" connectionString="Data Source=sql-amital-dev-il.database.windows.net;Initial Catalog=Logs-merge-test;Integrated Security=False;Persist Security Info=True;User ID=amitaladmin;Password=ut6py6VH7QkEiwR;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  <add name="SystemLogsStr" connectionString="SystemLogs-MERGE-TEST,amitaladmin,ut6py6VH7QkEiwR,sql-amital-dev-il.database.windows.net" />
  <add name="Globalstr" connectionString="Global-merge-test,amitaladmin,ut6py6VH7QkEiwR,sql-amital-dev-il.database.windows.net" />
  <add name="CargoTrackingStr" connectionString="CargoTracking-MERGE-TEST,amitaladmin,ut6py6VH7QkEiwR,sql-amital-dev-il.database.windows.net" />

</connectionStrings>