<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDeclarationApprovalRequestWcfService" />
                <binding name="BasicHttpBinding_ILoginWcfService" />
                <binding name="BasicHttpBinding_IAccountingPartnerWcfService" />
                <binding name="BasicHttpBinding_IUserIDNumberRequestWcfService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9996/WcfApi/DeclarationApprovalRequestWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDeclarationApprovalRequestWcfService"
                contract="DeclarationApprovalRequestServiceReference.IDeclarationApprovalRequestWcfService"
                name="BasicHttpBinding_IDeclarationApprovalRequestWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/LoginWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILoginWcfService"
                contract="LoginWcfServiceReference.ILoginWcfService" name="BasicHttpBinding_ILoginWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/AccountingPartnerWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccountingPartnerWcfService"
                contract="AccountingPartnerServiceReference.IAccountingPartnerWcfService"
                name="BasicHttpBinding_IAccountingPartnerWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/UserIDNumberRequestWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserIDNumberRequestWcfService"
                contract="UserIDNumberRequestServiceReference.IUserIDNumberRequestWcfService"
                name="BasicHttpBinding_IUserIDNumberRequestWcfService" />
        </client>
    </system.serviceModel>
</configuration>