<connectionStrings  >






	<add name="OracleMainMigration"
         connectionString=
"User Id=logitude_main;  Password=oracle;Direct=True;Data Source=10.10.10.67;port=1521;sid=amital"
      providerName="Devart.Data.Oracle" />

	<clear/>
	<add name="Oracle_Globalstr"  connectionString="User Id=AMINETCST_GLOBAL;  Password=AMINETCST_GLOBAL;Direct=True;Data Source=oracle19;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr"  connectionString="User Id=AMINETCST_LOGS;  Password=AMINETCST_LOGS;Direct=True;Data Source=oracle19;port=1521;sid=amital"/>







	<clear/>
	<add name="Oracle_Globalstr"  connectionString="User Id=AMINETNXT_GLOBAL;  Password=AMINETNXT_GLOBAL;Direct=True;Data Source=UNIDB2016;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr"  connectionString="User Id=AMINETNXT_LOGS;  Password=AMINETNXT_LOGS;Direct=True;Data Source=UNIDB2016;port=1521;sid=amital"/>





	<clear/>
	<add name="Oracle_Globalstr"  connectionString="User Id=AMINETCST_GLOBAL;  Password=AMINETCST_GLOBAL;Direct=True;Data Source=UNIDB2016;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr"  connectionString="User Id=AMINETCST_LOGS;  Password=AMINETCST_LOGS;Direct=True;Data Source=UNIDB2016;port=1521;sid=amital"/>






	<clear/>
	<add name="Oracle_Globalstr"  connectionString="User Id=AMINETPRD_GLOBAL;  Password=AMINETPRD_GLOBAL;Direct=True;Data Source=UNIDB2016;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr"  connectionString="User Id=AMINETPRD_LOGS;  Password=AMINETPRD_LOGS;Direct=True;Data Source=UNIDB2016;port=1521;sid=amital"/>











  <!--nextprod - export-->
  <clear/>
  <add name="LogitudeStr" connectionString="Data Source=Univ511;Initial Catalog=Main_nextprod;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256!;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  <add name="LogitudeGlobalStr" connectionString="Data Source=Univ511;Initial Catalog=Global_nextprod;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256!;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  <add name="SystemLogsStr" connectionString="LOGS_nextprod,sa,Saas256!,Univ511" />
  <add name="Globalstr" connectionString="Global_nextprod,sa,Saas256!,Univ511" />


































  <!--exporDist-->
	<clear/>
	<add name="Oracle_Globalstr" connectionString="User Id=AMINETexp_GLOBAL; Password=AMINETexp_GLOBAL;Direct=True;Data Source=oracle19;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr" connectionString="User Id=AMINETexp_LOGS; Password=AMINETexp_LOGS;Direct=True;Data Source=oracle19;port=1521;sid=amital"/>

	<!--customs-->
	<clear/>
	<add name="Oracle_Globalstr"  connectionString="User Id=AMINETCST_GLOBAL;  Password=AMINETCST_GLOBAL;Direct=True;Data Source=ORACLE19;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr"  connectionString="User Id=AMINETCST_LOGS;  Password=AMINETCST_LOGS;Direct=True;Data Source=ORACLE19;port=1521;sid=amital"/>
	
	
	

	


	


	

	

	
	<!--prod-->
	<clear/>
	<add name="Oracle_Globalstr" connectionString="User Id=aminetprd_global; Password=aminetprd_global;Direct=True;Data Source=unidb2016;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr" connectionString="User Id=aminetprd_logs; Password=aminetprd_logs;Direct=True;Data Source=unidb2016;port=1521;sid=amital"/>

	<!--customs-->
	<clear/>
	<add name="Oracle_Globalstr"  connectionString="User Id=AMINETCST_GLOBAL;  Password=AMINETCST_GLOBAL;Direct=True;Data Source=ORACLE19;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr"  connectionString="User Id=AMINETCST_LOGS;  Password=AMINETCST_LOGS;Direct=True;Data Source=ORACLE19;port=1521;sid=amital"/>
	


	<!--prod-->
	<clear/>
	<add name="Oracle_Globalstr" connectionString="User Id=aminetprd_global; Password=aminetprd_global;Direct=True;Data Source=unidb2016;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr" connectionString="User Id=aminetprd_logs; Password=aminetprd_logs;Direct=True;Data Source=unidb2016;port=1521;sid=amital"/>


	



	


	
	


	
	
	

	
	<!--exportpilot-->
	<clear/>
	<add name="LogitudeStr" connectionString="Data Source=amitaldb.database.windows.net;Initial Catalog=Main;Integrated Security=False;Persist Security Info=True;User ID=system;Password=Manager!#^;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
	<add name="LogitudeGlobalStr" connectionString="Data Source=amitaldb.database.windows.net;Initial Catalog=Global;Integrated Security=False;Persist Security Info=True;User ID=system;Password=Manager!#^;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />

	<add name="LogitudeSystemLogsStr" connectionString="Data Source=amitaldb.database.windows.net;Initial Catalog=Logs;Integrated Security=False;Persist Security Info=True;User ID=system;Password=Manager!#^;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />

	<add name="SystemLogsStr" connectionString="LOGS,system,Manager!#^,amitaldb.database.windows.net" />
	<add name="Globalstr" connectionString="Global,system,Manager!#^,amitaldb.database.windows.net" />
	<!--customssql-->
	<clear/>
	<add name="sqlLogitudeStr" connectionString="Data Source=Univ511;Initial Catalog=Main;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256!;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
	<add name="sqlGlobalStr" connectionString="Data Source=Univ511;Initial Catalog=Global;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256!;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
	<add name="SystemLogsStr" connectionString="LOGS,sa,Saas256!,Univ511" />
	<add name="Globalstr" connectionString="Global,sa,Saas256!,Univ511" />
	
	
	
	
	
	
	
	


	
	
	
	<!--<exportpilot>-->
	<clear/>
	<add name="LogitudeStr" connectionString="Data Source=amital-prod-db.database.windows.net;Initial Catalog=Main;Integrated Security=False;Persist Security Info=True;User ID=system;Password=qeA9c3Z28v4Y;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
	<add name="LogitudeGlobalStr" connectionString="Data Source=amital-prod-db.database.windows.net;Initial Catalog=Global;Integrated Security=False;Persist Security Info=True;User ID=system;Password=qeA9c3Z28v4Y;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />


	<add name="LogitudeSystemLogsStr" connectionString="Data Source=amital-prod-db.database.windows.net;Initial Catalog=Logs;Integrated Security=False;Persist Security Info=True;User ID=system;Password=qeA9c3Z28v4Y;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />

	<add name="SystemLogsStr" connectionString="LOGS,system,qeA9c3Z28v4Y,amital-prod-db.database.windows.net" />
	<add name="Globalstr" connectionString="Global,system,qeA9c3Z28v4Y,amital-prod-db.database.windows.net" />

	<!--NEXTPROD19-->

	<clear/>
	<add name="Oracle_Globalstr"  connectionString="User Id=AMINETNXT_GLOBAL;  Password=AMINETNXT_GLOBAL;Direct=True;Data Source=ORACLE19;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr"  connectionString="User Id=AMINETNXT_LOGS;  Password=AMINETNXT_LOGS;Direct=True;Data Source=ORACLE19;port=1521;sid=amital"/>



	
	
	
	

	<!--customs/594-->
	<clear/>
	<add name="Oracle_Globalstr"  connectionString="User Id=AMINETCST_GLOBAL;  Password=AMINETCST_GLOBAL;Direct=True;Data Source=UNIDB2016;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr"  connectionString="User Id=AMINETCST_LOGS;  Password=AMINETCST_LOGS;Direct=True;Data Source=UNIDB2016;port=1521;sid=amital"/>

	


	
	<!--592-->
	<clear/>
	<add name="Oracle_Globalstr"  connectionString="User Id=AMINETNXT_GLOBAL;  Password=AMINETNXT_GLOBAL;Direct=True;Data Source=UNIDB2016;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr"  connectionString="User Id=AMINETNXT_LOGS;  Password=AMINETNXT_LOGS;Direct=True;Data Source=UNIDB2016;port=1521;sid=amital"/>


	
	
	
	

	
	
	

	<!--prod-->
	<clear/>
	<add name="Oracle_Globalstr" connectionString="User Id=aminetprd_global; Password=aminetprd_global;Direct=True;Data Source=unidb2016;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr" connectionString="User Id=aminetprd_logs; Password=aminetprd_logs;Direct=True;Data Source=unidb2016;port=1521;sid=amital"/>


	<!--<exportpilot>-->
	<clear/>
	<add name="LogitudeStr" connectionString="Data Source=amital-prod-db.database.windows.net;Initial Catalog=Main;Integrated Security=False;Persist Security Info=True;User ID=system;Password=qeA9c3Z28v4Y;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
	<add name="LogitudeGlobalStr" connectionString="Data Source=amital-prod-db.database.windows.net;Initial Catalog=Global;Integrated Security=False;Persist Security Info=True;User ID=system;Password=qeA9c3Z28v4Y;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />


	<add name="LogitudeSystemLogsStr" connectionString="Data Source=amital-prod-db.database.windows.net;Initial Catalog=Logs;Integrated Security=False;Persist Security Info=True;User ID=system;Password=qeA9c3Z28v4Y;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />

	<add name="SystemLogsStr" connectionString="LOGS,system,qeA9c3Z28v4Y,amital-prod-db.database.windows.net" />
	<add name="Globalstr" connectionString="Global,system,qeA9c3Z28v4Y,amital-prod-db.database.windows.net" />


	
	
	<!--customs/594-->
	<clear/>
	<add name="Oracle_Globalstr"  connectionString="User Id=AMINETCST_GLOBAL;  Password=AMINETCST_GLOBAL;Direct=True;Data Source=UNIDB2016;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr"  connectionString="User Id=AMINETCST_LOGS;  Password=AMINETCST_LOGS;Direct=True;Data Source=UNIDB2016;port=1521;sid=amital"/>

	
	
	<!--customssql-->
	<clear/>
	<add name="sqlLogitudeStr" connectionString="Data Source=Univ511;Initial Catalog=Main;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256!;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
	<add name="sqlGlobalStr" connectionString="Data Source=Univ511;Initial Catalog=Global;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256!;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
	<add name="SystemLogsStr" connectionString="LOGS,sa,Saas256!,Univ511" />
	<add name="Globalstr" connectionString="Global,sa,Saas256!,Univ511" />
	
		
	
	
		
	

			
  <!--nextprod - export-->
  <clear/>
  <add name="LogitudeStr" connectionString="Data Source=Univ511;Initial Catalog=Main_nextprod;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256!;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  <add name="LogitudeGlobalStr" connectionString="Data Source=Univ511;Initial Catalog=Global_nextprod;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256!;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  <add name="SystemLogsStr" connectionString="LOGS_nextprod,sa,Saas256!,Univ511" />
  <add name="Globalstr" connectionString="Global_nextprod,sa,Saas256!,Univ511" />
	


  


  <!--nextprod - export-->
  <clear/>
  <add name="LogitudeStr" connectionString="Data Source=Univ511;Initial Catalog=main_nextprod;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256!;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  <add name="LogitudeGlobalStr" connectionString="Data Source=Univ511;Initial Catalog=Global_NextProd;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256!;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  <add name="SystemLogsStr" connectionString="Logs_NextProd,sa,Saas256!,Univ511" />
  <add name="Globalstr" connectionString="Global_NextProd,sa,Saas256!,Univ511" />





	<!-- unicloud local -->
	<clear/>
	<add name="LogitudeStr" connectionString="Data Source=sql-amital-dev-il.database.windows.net;Initial Catalog=Main;Integrated Security=False;Persist Security Info=True;User ID=amitaladmin;Password=ut6py6VH7QkEiwR;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
	<add name="LogitudeGlobalStr" connectionString="Data Source=sql-amital-dev-il.database.windows.net;Initial Catalog=Global;Integrated Security=False;Persist Security Info=True;User ID=amitaladmin;Password=ut6py6VH7QkEiwR;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
	<add name="LogitudeSystemLogsStr" connectionString="Data Source=sql-amital-dev-il.database.windows.net;Initial Catalog=Logs;Integrated Security=False;Persist Security Info=True;User ID=amitaladmin;Password=ut6py6VH7QkEiwR;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
	<add name="SystemLogsStr" connectionString="LOGS,amitaladmin,ut6py6VH7QkEiwR,sql-amital-dev-il.database.windows.net" />
	<add name="Globalstr" connectionString="Global,amitaladmin,ut6py6VH7QkEiwR,sql-amital-dev-il.database.windows.net" />

	
  		
	  <!--customs19-->
	  <clear/>
	  <add name="Oracle_Globalstr"  connectionString="User Id=AMINETCST_GLOBAL;  Password=AMINETCST_GLOBAL;Direct=True;Data Source=ORACLE2022;port=1521;sid=amital"/>
	  <add name="Oracle_SystemLogsStr"  connectionString="User Id=AMINETCST_LOGS;  Password=AMINETCST_LOGS;Direct=True;Data Source=ORACLE2022;port=1521;sid=amital"/>


	<!-- export local -->
	<clear/>
	<add name="LogitudeStr" connectionString="Data Source=univ511;Initial Catalog=Main;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256!;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
	<add name="LogitudeGlobalStr" connectionString="Data Source=univ511;Initial Catalog=Global;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256!;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
	<add name="LogitudeSystemLogsStr" connectionString="Data Source=univ511;Initial Catalog=Logs;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256!;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
	<add name="SystemLogsStr" connectionString="LOGS,sa,Saas256!,univ511" />
	<add name="Globalstr" connectionString="Global,sa,Saas256!,univ511" />
	<add name="Globalstr" connectionString="Global,sa,Saas256!,univ511" />
	

  
	<!--prod19-->
	<clear/>
	<add name="Oracle_Globalstr"  connectionString="User Id=Aminet5113_GLOBAL;  Password=Aminet5113_GLOBAL;Direct=True;Data Source=oracle19;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr"  connectionString="User Id=Aminet5113_LOGS;  Password=Aminet5113_LOGS;Direct=True;Data Source=oracle19;port=1521;sid=amital"/>
	

  

	 <!-- export cloud NEW-->
   <clear/>
   <add name="LogitudeStr" connectionString="Data Source=sql-customs-prod-il.database.windows.net;Initial Catalog=Main;Integrated Security=False;Persist Security Info=True;User ID=customs_sa;Password=1Ot7eG5b2K1c;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
   <add name="LogitudeGlobalStr" connectionString="Data Source=sql-customs-prod-il.database.windows.net;Initial Catalog=Global;Integrated Security=False;Persist Security Info=True;User ID=customs_sa;Password=1Ot7eG5b2K1c;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
   <add name="SystemLogsStr" connectionString="LOGS,customs_sa,1Ot7eG5b2K1c,sql-customs-prod-il.database.windows.net" />
   <add name="Globalstr" connectionString="Global,customs_sa,1Ot7eG5b2K1c,sql-customs-prod-il.database.windows.net" />

  


	    <!-- prod/import 19 cloud -->
	<clear/>
	<add name="CargoTrackingStr" connectionString="CargoTracking,amitaladmin,ut6py6VH7QkEiwR,sql-amital-dev-il.database.windows.net" />
	<add name="Globalstr" connectionString="Global,amitaladmin,ut6py6VH7QkEiwR,sql-amital-dev-il.database.windows.net"/>
	<add name="SystemLogsStr" connectionString="SystemLogs,amitaladmin,ut6py6VH7QkEiwR,sql-amital-dev-il.database.windows.net"/>
  
	<add name="LogitudeStr" connectionString="Data Source=.;Initial Catalog=Logitude2-5_Main;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
	<add name="LogitudeGlobalStr" connectionString="Data Source=.;Initial Catalog=Logitude2-5_Global;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
	<add name="LogitudeSystemLogsStr" connectionString="Data Source=.;Initial Catalog=Logitude2-5_SystemLogs;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />

	<!-- export local -->
	<clear/>
	<add name="LogitudeStr" connectionString="Data Source=univ511;Initial Catalog=Main;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256!;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
	<add name="LogitudeGlobalStr" connectionString="Data Source=univ511;Initial Catalog=Global;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256!;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
	<add name="LogitudeSystemLogsStr" connectionString="Data Source=univ511;Initial Catalog=Logs;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256!;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
	<add name="SystemLogsStr" connectionString="LOGS,sa,Saas256!,univ511" />
	<add name="Globalstr" connectionString="Global,sa,Saas256!,univ511" />
	<add name="Globalstr" connectionString="Global,sa,Saas256!,univ511" />

	


		<!--prod19__BLD-->
	<clear/>
	<add name="Oracle_Globalstr"  connectionString="User Id=Aminet5113_GLOBAL;  Password=Aminet5113_GLOBAL;Direct=True;Data Source=oracle2022;port=1521;sid=amital"/>
	<add name="Oracle_SystemLogsStr"  connectionString="User Id=Aminet5113_LOGS;  Password=Aminet5113_LOGS;Direct=True;Data Source=oracle2022;port=1521;sid=amital"/>
  

	
  <clear/>
  <add name="CargoTrackingStr" connectionString="CargoTracking,amitaladmin,ut6py6VH7QkEiwR,sql-amital-dev-il.database.windows.net" />
  <add name="Globalstr" connectionString="Global,amitaladmin,ut6py6VH7QkEiwR,sql-amital-dev-il.database.windows.net"/>
  <add name="SystemLogsStr" connectionString="Sys temLogs,amitaladmin,ut6py6VH7QkEiwR,sql-amital-dev-il.database.windows.net"/>

  <add name="LogitudeStr" connectionString="Data Source=sql-amital-dev-il.database.windows.net;Initial Catalog=Main;Integrated Security=False;Persist Security Info=True;User ID=amitaladmin;Password=ut6py6VH7QkEiwR;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  <add name="LogitudeGlobalStr" connectionString="Data Source=.;Initial Catalog=Logitude2-5_Global;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  <add name="LogitudeSystemLogsStr" connectionString="Data Source=.;Initial Catalog=Logitude2-5_SystemLogs;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />




</connectionStrings>