.TabTitleRow {
    margin: 10px;
}

.haeder-feedback-to-storage {
    height: 35px;
    font-weight: bolder;
}

.GeneratedGridContainer {
    width: 830px;
    height: calc(100% - 110px);
    margin-right: 10px;
}