<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<!--${basedir}/-->
		<target name="logfile" xsi:type="File"
                  fileName="Logs/${date:format=yyyy-MM-dd}.log"
                  layout="${longdate} ${level:uppercase=true:padding=5} - ${callsite:padding=5} ${message} ${onexception:EX\:${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}"
                  keepFileOpen="false"/>
	</targets>
	<rules>
		<logger name="*" minlevel="Debug" writeTo="logfile" />

	</rules>
</nlog>