<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="Code Coverage" uri="datacollector://Microsoft/CodeCoverage/2.0">
        <Configuration>
          <CodeCoverage>
            <ModulePaths>
              <Include>
                <ModulePath>.*\\Logitude\.Accounting\.BL\.dll$</ModulePath>
              </Include>
              <Include>
                <ModulePath>.*\\Logitude\.Customs\.BL\.dll$</ModulePath>
              </Include>
              <Include>
                <ModulePath>.*\\Logitude\.ShipmentOrderModule\.BL\.dll$</ModulePath>
              </Include>
              <Include>
                <ModulePath>.*\\Logitude\.BL\.dll$</ModulePath>
              </Include>
              <Include>
                <ModulePath>.*\\Simplog\.Data\.dll$</ModulePath>
              </Include>
            </ModulePaths>
            <Exclude>
              <ModulePath>.*\\Generated\\.*</ModulePath>
              <ModulePath>.*\\AutoGenerators\\.*</ModulePath>
              <ModulePath>.*\\packages\\.*</ModulePath>
              <Company>Microsoft</Company>
              <Company>Telerik</Company>
              <Attributes>
                <Attribute>^System.Diagnostics.DebuggerHiddenAttribute$</Attribute>
                <Attribute>^System.Runtime.CompilerServices.CompilerGeneratedAttribute$</Attribute>
              </Attributes>
              <Sources>
                <Source>.*\\EntityPMs\\Generated\\.*</Source>
                <Source>.*\\EntityUpdateServices\\Generated\\.*</Source>
                <Source>.*\\EntityDataMappings\\Generated\\.*</Source>
              </Sources>
            </Exclude>
          </CodeCoverage>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>

