
<style>
    .iwanttohover:hover {
        background: #DDE6F0;
    }

    GridView th, .GridView td, .GridView td div {
        text-align: left;
        text-indent: 5px;
        /*height: 24px;*/
        line-height: 17px;
        vertical-align: middle;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
</style>






    <table>




        <tr style="height:100%">

            <td style="width:350px">
            
                <table style="vertical-align:top">
                    <tr style="vertical-align:top;height:30px">
                        <td style="width:5px"><div></div></td>
                        <td style="width:210px;color:black"> <span>{{'TenantManagement.F.Id' | TextCodeTranslationPipe}} :</span></td>
                        <td style="width:200px;color:black">{{ID}}</td>
                        <td><div></div></td>
                    </tr>

                    <tr style="vertical-align:top;height:30px">
                        <td style="width:5px"><div></div></td>
                        <td style="width:210px;color:black"> <span>{{'TenantManagement.F.PackageName' | TextCodeTranslationPipe}} :</span></td>
                        <td style="width:200px;color:black">{{PackageName}}</td>
                        <td><div></div></td>
                    </tr>




                    <tr *ngIf="TemporalPackageVisibility" style="vertical-align:top;height:30px">
                        <td style="width:5px"><div></div></td>
                        <td style="width:210px;color:black"> <span>{{'TenantManagement.F.TemporalPackageCode' | TextCodeTranslationPipe}} :</span></td>
                        <td style="width:200px;color:black">{{TemporalPackageName}}</td>
                        <td><div></div></td>
                    </tr>








                    <tr *ngIf="TemporalPackageVisibility" style="vertical-align:top;height:30px">
                        <td style="width:5px"><div></div></td>
                        <td style="width:210px;color:black"> <span>{{'TenantManagement.F.TemporalStartDate' | TextCodeTranslationPipe}} :</span></td>
                        <td style="width:200px;color:black">{{TemporalStartDate | DateTimeToDatePipe}} </td>
                        <td><div></div></td>
                    </tr>


                    <tr *ngIf="TemporalPackageVisibility" style="vertical-align:top;height:30px">
                        <td style="width:5px"><div></div></td>
                        <td style="width:210px;color:black"> <span>{{'TenantManagement.F.TemporalEndDate' | TextCodeTranslationPipe}} :</span></td>
                        <td style="width:200px;color:black">{{TemporalEndDate | DateTimeToDatePipe}}</td>
                        <td><div></div></td>
                    </tr>






                    <tr style="vertical-align:top;height:30px">
                        <td style="width:5px"><div></div></td>
                        <td style="width:210px;color:black"> <span>{{'TenantManagement.F.NumberOfUsers' | TextCodeTranslationPipe}} :</span></td>
                        <td style="width:200px;color:black">{{NumberOfUsers}}</td>
                        <td><div></div></td>
                    </tr>


                    <tr  style="vertical-align:top;height:30px">
                        <td style="width:5px"><div></div></td>
                        <td style="width:210px;color:black"> <span>{{'TenantManagement.F.IsTrial' | TextCodeTranslationPipe}} :</span></td>
                        <td style="width:200px;color:black">{{IsTrial}}</td>
                        <td><div></div></td>
                    </tr>

                    
                    <tr *ngIf="IsTrailVisibility" style="vertical-align:top;height:30px">
                        <td style="width:5px"><div></div></td>
                        <td style="width:210px;color:black"> <span>{{'TenantManagement.F.TrialStartDate' | TextCodeTranslationPipe}} :</span></td>
                        <td style="width:200px;color:black"> {{TrialStartDate | DateTimeToDatePipe}}</td>
                        <td><div></div></td>
                    </tr>

                    <tr *ngIf="IsTrailVisibility" style="vertical-align:top;height:30px">
                        
                        <td style="width:5px"><div></div></td>
                        <td style="width:210px;color:black"> <span>{{'TenantManagement.F.TrialEndDate' | TextCodeTranslationPipe}} :</span></td>
                        <td style="width:200px;color:black"> {{TrialEndDate | DateTimeToDatePipe}}</td>
                        <td><div></div></td>
                    </tr>


                    <tr *ngIf="PaidVisibility" style="vertical-align:top;height:30px">
                        <td style="width:5px"><div></div></td>
                        <td style="width:210px;color:black;"> <span>{{'TenantManagement.F.IsRecurring' | TextCodeTranslationPipe}} :</span></td>
                        <td style="width:200px;color:black">{{IsRecurring}}</td>
                        <td><div></div></td>
                    </tr>


                    <tr *ngIf="PaidVisibility" style="vertical-align:top;height:30px">
                        <td style="width:5px"><div></div></td>
                        <td style="width:210px;color:black"> <span>{{'TenantManagement.F.PaidUntilDate' | TextCodeTranslationPipe}} :</span></td>
                        <td style="width:200px;color:black"> {{PaidUntilDate | DateTimeToDatePipe}} </td>
                        <td><div></div></td>
                    </tr>

                    <tr  style="vertical-align:top;height:30px">
                        <td style="width:5px"><div></div></td>
                        <td style="width:210px;color:black"> <span>{{'General.F.UsedSpace' | TextCodeTranslationPipe}} : </span></td>
                        <td style="width:200px;color:black">{{UsedSpace}}</td>
                        <td><div></div></td>
                    </tr>

                    <tr *ngIf="BluesnapVisibility" style="vertical-align:top;height:30px">
                        <td style="width:5px"><div></div></td>
                        <td style="width:210px;color:black"> <span> Bluesnap user ID :</span></td>
                        <td style="width:200px;color:black">{{BluesnapID}}</td>
                        <td><div></div></td>
                    </tr>

                   <tr><td colspan="4"></td></tr>

                    </table>

                </td>

            <td ><div></div></td>

        </tr>

        <tr>
            <td colspan="2"><div></div></td>
        </tr>

        <tr style="height: 32px;">
            <td colspan="2" style="vertical-align: bottom">
                <table style="height: 22px;">
                    <tr>
                        <td>
                            <div></div>
                        </td>

                        <td style="width: 57px;">
                            <div>
                                <!-- <button class="RedButton" (click)="CloseButtonClicked()">Cancel</button>-->
                            </div>
                        </td>

                        <td style="width: 5px;">
                            <div></div>
                        </td>

                        <td style="width: 57px;">
                            <button class="Button" (click)="CloseButtonClicked()">Close</button>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

    </table>

