<div class="search-wrapper" [style.height]="Shipments.length>0 ? '100%' : ''">
    <div class="vertical-center" [class.vertical-center-withdata]="Shipments.length>0">
        <h1 class="page-title">Track Shipment</h1>
 
        <router-outlet ></router-outlet>


        <div class=" ">
            <div>
                <form [formGroup]="searchForm" (ngSubmit)="Search()">

                    <div class="search-text ">
                        <input #input type="text " class="gray " [(ngModel)]="SearchText " placeholder="Type Customer/Booking/Shipment Reference no. " formControlName="SearchText" name="SearchText " />
                        <!-- [(ngModel)]="SearchText " -->

                        <div class="icon ">
                            <!-- <img src="./assets/search.png " alt=" " /> -->
                            <img *ngIf="!SearchText" src="./assets/images/icons/search.svg " alt=" " />
                            <img *ngIf="SearchText" (click)="Clear()" class="delete" src="./assets/images/icons/delete.svg " alt=" " />
                        </div>

                    </div>

                    <button class="search-button hide-mobile" type="submit">{{isLoading?'Loading...': 'Search'}}</button>
                </form>
            </div>
        </div>

        <div class="container ">

            <div class="info-text " *ngIf="Shipments.length==0 && !noResult  && !hasError">
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                    survived not only five centuries.
                </p>
            </div>
            <div class="path-image hide-mobile " *ngIf="Shipments.length==0  && !noResult  && !hasError">
                <img class="path " src="./assets/images/misc/dot-path.svg " alt=" " />
                <img class="end " src="./assets/images/misc/path-end.svg " alt=" " />
                <img class="start " src="./assets/images/misc/path-start.svg " alt=" " />

            </div>



            <div class="result-count dark-gray" *ngIf="Shipments.length>0">
                {{Shipments.length}} 
                <span *ngIf="Shipments.length==1">result</span>
                <span *ngIf="Shipments.length>1">results</span>       
            </div>


            <!-- Has Error -->
            <div class="no-result-div" *ngIf="hasError">
                <h1 style="color: rgb(211, 0, 0) ;">Oops!</h1>
                <p style="font-size: 14px;">
                    An error occurred while searching, please try again.
                </p>
                <a *ngIf="!showErrorMessage" (click)="showErrorMessage = true" style="cursor: pointer;text-decoration: underline;">Show Error</a>

                <p *ngIf="showErrorMessage">{{ServiceError.ErrorMessage}}</p>

            </div>

            <!-- No Result -->
            <div class="no-result-div" *ngIf="noResult">
                <h1>We couldn't find the shipment you were looking for...</h1>
                <p>
                    Please check your input or use a different reference. Make sure to enter the entire reference - or choose your shipment from the search suggesions we provide.
                </p>
                <p>Just start typing to start your new search.</p>

            </div>

            <div class="path-image hide-mobile " *ngIf="noResult">
                <img class="path " src="./assets/images/misc/dot-path.svg " alt=" " />
                <img class="end " src="./assets/images/misc/path-end.svg " alt=" " />
                <img class="start " src="./assets/images/misc/path-start.svg " alt=" " />

            </div>


            <div *ngIf="Shipments.length>0" class="scrollable-table">

                <div class="table">

                    <!-- <div class="row record-header">
                        <div class="col-md-2">
                            <div>Sender</div>
                        </div>
                        <div class="col-md-1">
                            <div>Mode</div>
                        </div>
                        <div class="col-md-2">
                            <div>Receiver</div>
                        </div>
                        <div class="col-md-2">
                            <div>Reference</div>
                        </div>
                        <div class="col-md-2">
                            <div>From</div>
                        </div>
                        <div class="col-md-2">
                            <div>To</div>
                        </div>
                        <div class="col-md-1">
                            <div>Status</div>
                        </div>
                    </div> -->


                    <div *ngFor="let shipment of Shipments" class="row record-row" (click)="ItemClicked(shipment)" style="cursor: pointer;">
                        <div class="column mode-icon" style="width: 8%;">
                            <div class="circle-image">
                                <img class="path " [attr.src]="GetModeIcon(shipment.TransportModeId)" alt=" " />
                            </div>
                        </div>

                        <!-- References -->
                        <div class="column col-md-2 reference" style="width: 14%;">
                            <div>
                              <div [attr.src]="SplitReference(shipment.SearchReferences)" class="subtitle">Reference NO.</div>
                                <div class="truncateText" *ngFor="let item of references; let i = index">
                                   <span [ngClass]="{'hide-mobile': i > 1}" >
                                      {{item}}  
                                   </span>
                                </div>
                            </div>
                        </div>

                        <div class="column seperator"></div>

                        <!-- Sender -->
                        <div class="column col-md-2 sender" style="width: 14%;">
                            <div>
                                <div class="subtitle">Origin Port</div>
                                <div   class="value uppercase truncateText">
                                    <img src="./assets/images/icons/info.png" alt=" " /> {{ shipment.FromPortName }} , {{shipment.FromPortCountryCode}}
                                </div>


                                <div class="subtitle">Destination Port</div>
                                <div   class="value uppercase truncateText">
                                    <img src="./assets/images/icons/info.png" alt=" " /> {{ shipment.ToPortName }} , {{shipment.ToPortCountryCode}}
                                </div>

                            </div>
                        </div>
                           <!-- Pickup -->
                        <!--<div class="column col-md-2 hide-mobile" style="width: 14%;">
                            <div>
                                <div class="subtitle">Pickup</div>
                                <div class="value uppercase">
                                    <img src="./assets/images/icons/info.png" alt=" " /> {{ shipment.PickupDone }}
                                </div>

                                <div class="subtitle">Delivery Location</div>
                                <div class="value uppercase">
                                    <img src="./assets/images/icons/info.png" alt=" " /> {{ shipment.Delivery }}
                                </div>

                            </div>
                        </div>-->
                      

                        <!-- Shipment Id -->
                        <div class="column col-md-2 hide-mobile" style="width: 12%;">
                            <div>
                                <div class="subtitle">Shipment ID</div>
                                <div   class="value uppercase truncateText">{{ shipment.ShipmentNumber }}</div>

                            </div>
                        </div>

                        <div class="column seperator"></div>

                        <!-- From -->
                        <!-- <div class="column col-md-2">
                            <div>
                                <div class="header subtitle">From</div>
                                {{ shipment.From | date: " MMMM d, y, h:mm" }}
                            </div>
                        </div> -->

                        <!-- To -->
                        <!-- <div class="column col-md-2">
                            <div>
                                <div class="header subtitle">To</div>
                                {{ shipment.To | date: " MMMM d, y, h:mm" }}
                            </div>
                        </div> -->

                        <!-- Status -->
                        <div class="column col-md-1 status" style="width: 17%;">
                            <div>
                                <div class="subtitle">Status</div>
                                <div class="value truncateText">{{ shipment.CurrentMilestoneName != null? shipment.CurrentMilestoneName : shipment.FutureMilstoneName }}</div>


                                <div class="subtitle">Last Updated</div>
                                <div class="value">{{  shipment.CurrentMilestoneName != null? shipment.CurrentMilestoneDate : shipment.FutureMilstoneDate | date: "d-MMM-y, h:mm" }}</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
