<style>
    .SimpleGridViewRow:hover {
        color: black;
        cursor: pointer;
        border: 1px solid #85CBED;
        background: -moz-linear-gradient(50% 0% -90deg,rgba(255, 255, 255, 1) 0%,rgba(221, 232, 245, 1) 100%);
        background: -webkit-linear-gradient(-90deg, rgba(255, 255, 255, 1) 0%, rgba(221, 232, 245, 1) 100%);
        background: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0,rgba(255, 255, 255, 1) ),color-stop(1,rgba(221, 232, 245, 1) ));
        background: -o-linear-gradient(-90deg, rgba(255, 255, 255, 1) 0%, rgba(221, 232, 245, 1) 100%);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#DDE8F5' ,GradientType=0)";
        background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(221, 232, 245, 1) 100%);
    }

    .Selected {
        background: -moz-linear-gradient(50% 119.23% 90deg,rgba(133, 203, 237, 1) 0%,rgba(232, 247, 255, 1) 100%);
        background: -webkit-linear-gradient(90deg, rgba(133, 203, 237, 1) 0%, rgba(232, 247, 255, 1) 100%);
        background: linear-gradient(0deg, rgba(133, 203, 237, 1) 0%, rgba(232, 247, 255, 1) 100%);
    }

        .Selected:hover {
            background: -moz-linear-gradient(50% 119.23% 90deg,rgba(133, 203, 237, 1) 0%,rgba(232, 247, 255, 1) 100%);
            background: -webkit-linear-gradient(90deg, rgba(133, 203, 237, 1) 0%, rgba(232, 247, 255, 1) 100%);
            background: linear-gradient(0deg, rgba(133, 203, 237, 1) 0%, rgba(232, 247, 255, 1) 100%);
        }
</style>

<table>
    <tr>
        <!-- Left Sidebar -->
        <td style="width: 215px; border: solid 1px silver">
            <div class="MediaFill">
                <div class="SimpleGridView MediaFillAbsolute">
                    <div class="SimpleGridViewHeader">
                        <table>
                            <tr>
                                <td style="width: 200px; min-width: 200px; max-width: 200px; ">Screen Name</td>
                            </tr>
                        </table>
                    </div>
                    <div class="SimpleGridViewBody">
                        <table>

                            <tr class="SimpleGridViewRow" *ngFor="let item of Screens" (click)="SelectionChanged(item)" [class.Selected]="item == SelectedItem">
                                <td [attr.data-cy]="item.Name">
                                    <div [attr.title]="item.Name" class="GridViewCell" style="width: 200px; min-width: 200px; max-width: 200px; font-size: 11px ">
                                        {{item.Name}}
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </td>

        <td style="width: 10px;">
            <div></div>
        </td>

        <td>
            <table>
                <tr style="height: 32px;">
                    <td style="vertical-align: top">
                        <table style="height: 22px;">
                            <tr>

                                <td style="width: 170px;">
                                    <button class="Button" (click)="AddPredefinedComponentClicked()">Add Predefined Component </button>
                                </td>

                                <td style="width: 5px;">
                                    <div></div>
                                </td>

                                <td style="width: 100px;">
                                    <button class="Button" (click)="AddFieldCodesClicked()">Add Field</button>
                                </td>

                                <td>
                                    <div></div>
                                </td>

                            </tr>
                        </table>
                    </td>
                </tr>
                <tr style="height: 5px; vertical-align: top;">
                    <td>
                        <div></div>
                    </td>
                </tr>
                <tr style="vertical-align: top;">
                    <td>
                        <div class="MediaFill">
                            <!-- <textarea [attr.id] = "TextAreaInputId" class="language-html input shadow" style="padding: 5px; border-width: thick;font-size:14px;"
                                      [(ngModel)]="HTMLEditor"
                                      autocomplete="off"
                                      autocorrect="off"
                                      autocapitalize="off"
                                      spellcheck="false"
                                      (onDidBlurEditorText)="blur($event)"
                                      placeholder="Your HTML text here ">
                            </textarea> -->
                            <ngx-monaco-editor [options]="editorOptions" [(ngModel)]="HTMLEditor" style="height: 100%" (onInit)="onInit($event)"></ngx-monaco-editor>
                        </div>
                    </td>
                </tr>

                <tr style="height: 5px; vertical-align: top;">
                    <td>
                        <div></div>
                    </td>
                </tr>

                <tr style="height: 32px;">
                    <td style="vertical-align: top">
                        <table style="height: 22px;">
                            <tr>
                                <td style="width: 150px;">
                                    <button class="Button" (click)="RestoreDefaultLayoutClicked()">Restore Default Layout </button>
                                </td>

                                <td style="width: 3px;">
                                    <div></div>
                                </td>

                                <td style="width: 150px;">
                                    <button class="Button" (click)="LoadDraftLayoutClicked()">Load Draft </button>
                                </td>

                                <td>
                                    <div></div>
                                </td>

                                <td style="width: 100px;">
                                    <button id="{{ 'SaveBtn' | IdGeneratorAsyncPipe | async}}" *ngIf="!IsModified" class="Button" (click)="PublishChangesClicked(false)">
                                        <img class="LeftCenter" style="margin-left: 2px;" src="./Images/Buttons/Save.png" />
                                        <span style="line-height: 19px; margin-left: 17px;">Publish Changes</span>
                                    </button>

                                    <button id="{{ 'SaveBtn' | IdGeneratorAsyncPipe | async}}" class="EntityChangesButton" *ngIf="IsModified" (click)="PublishChangesClicked(false)">
                                        <img class="LeftCenter" style="margin-left: 2px;" src="./Images/Buttons/Save.Red.png" />
                                        <span style="line-height: 19px; margin-left: 17px;">Publish Changes</span>
                                    </button>
                                </td>

                                <td style="width: 3px;">
                                    <div></div>
                                </td>
                                <td style="width: 100px;">
                                    <button class="Button" (click)="PublishChangesClicked(true)">Save Draft </button>
                                </td>
                                <td style="width: 3px;">
                                    <div></div>
                                </td>
                                <td style="width: 100px;">
                                    <button class="Button" (click)="PreviewChangesClicked()">Preview Changes </button>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>


            </table>
        </td>
    </tr>

</table>

