<table>
    <tr>
        <!-- Left Sidebar -->
        <td style="width: 155px; border: solid 1px silver">
            <div class="SimpleGridView MediaFillAbsolute">
                <div class="SimpleGridViewHeader">
                    <table>
                        <tr>
                            <td style="width: 135px; min-width: 135px; max-width: 135px; ">Screen Name</td>
                        </tr>
                    </table>
                </div>

                <div class="SimpleGridViewBody">
                    <table>
                        <tr class="SimpleGridViewRow" *ngFor="let item of Screens" (click)="SelectionChanged(item)" [class.Selected]="item == SelectedItem">
                            <td [attr.data-cy]="item.Name">
                                <div [attr.title]="item.Name" class="GridViewCell" style="width: 135px; min-width: 135px; max-width: 135px; font-size: 11px ">
                                    {{item.Name}}
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </td>

        <td>
            <table>
                <tr>
                    <td>
                        <div> </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

</table>

