<style>
    .iwanttohover:hover {
        background: #DDE6F0;
    }

    GridView th, .GridView td, .GridView td div {
        text-align: left;
        text-indent: 5px;
        /*height: 24px;*/
        line-height: 17px;
        vertical-align: middle;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }


    .pwdCheckCase0, .pwdCheckCase1, .pwdCheckCase2, .pwdCheckCase3, .pwdCheckCase4 {
        text-align: center;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-right-style: solid;
        border-bottom-style: solid;
        vertical-align: central;
    }

    .pwdCheckCase0 {
        background-color: #CCCCCC;
        border-right-color: #CCCCCC;
        border-bottom-color: #CCCCCC;
    }

    .pwdCheckCase1 {
        background-color: #FF0000;
        border-right-color: #FF0000;
        border-bottom-color: #FF0000;
    }

    .pwdCheckCase2 {
        background-color: #FFCC00;
        border-right-color: #FFCC00;
        border-bottom-color: #FFCC00;
    }

    .pwdCheckCase3 {
        background-color: #4DFF00;
        border-right-color: #3333FF;
        border-bottom-color: #3333FF;
    }

    .pwdCheckCase4 {
        background-color: #00CC00;
        border-right-color: #336600;
        border-bottom-color: #336600;
    }

    .pwdCheckTable {
        /*border: 3px outset #CCCCCC;*/
        padding: 0px 0px 0px 0px;
        width: 100%;
    }

    .pwdCheckInnerTable {
        font-family: Tahoma,sans-serif;
        font-weight: bold;
        width: 210px;
        border: 0px 0px 0px 0px;
        height: 19px;
        background-color: #FFFFFF;
    }

        .pwdCheckInnerTable span {
            font-size: 70%;
        }

    .pwdCheckLabelCell {
        font-size: 9pt;
        color: #000000;
        font-weight: bold;
        vertical-align: top;
        text-align: right;
        padding: 5px 20px 13px 5px;
    }

    .pwdCheckDataCell {
        width: 200px;
        vertical-align: top;
        padding: 0px 0px 13px 0px;
    }
</style>


<table>




    <tr style="height:100%;vertical-align:top;margin:15px;">


        <td style="position: relative;vertical-align:top">
            <div style="vertical-align:top">



                <table style="vertical-align:top;margin-top:15px">


                    <tr *ngIf="ValidationErrorsList != null && ValidationErrorsList.length > 0" style="height:1px;margin-top:10px;">
                        <td colspan="2">
                            <ValidationSummary [ItemsSource]="ValidationErrorsList" [SingleLine]="true"></ValidationSummary>
                        </td>
                    </tr>



                    <tr style="height:15px">
                        <td colspan="2" style="height:15px">
                            <div style="height:15px"></div>
                        </td>
                    </tr>


                    <tr>
                        <td>


                            <div style="height:auto;">

                                <table style="margin-left:20px;">
                                    <tr>


                                        <td style="text-align:left;width:120px"><div style="text-align:left;width:120px;font-size:11px;color:#6e7172">Current Password</div> </td>
                                        <td style="text-align:left;width:100px">
                                            <div style="text-align:left">
                                                <input autocomplete="new-password" type="password" style="height:22px;border-radius:3px;border:1px solid gray;width:200px;" [(ngModel)]="CurrentPassword" />


                                            </div>
                                        </td>
                                        <td></td>

                                    </tr>

                                    <tr style="height:5px"> <td colspan="2" style="height:5px"> <div style="height:5px"></div></td> </tr>

                                    <tr>
                                        <td style="text-align:left;width:120px"><div style="text-align:left;width:120px;font-size:11px;color:#6e7172">New Password</div> </td>
                                        <td style="text-align:left;">
                                            <div style="text-align:left;width:auto">
                                                <input type="password" autocomplete="new-password" style="height:22px;border-radius:3px;border:1px solid gray;width:200px;" [(ngModel)]="NewPassword" (keypress)="capLock($event)" (keyup)="Passwordkeyup(NewPassword)" (change)="onPasswordChanged()" value="" />

                                            </div>
                                            
                                        </td>
                                        
                                        <td><img width="16" style="margin-left:5px" src="./_Resources/Images/Icons/ChangePassword/ChangePassword.png" /></td>
                                    </tr>

                                    <tr style="height:5px"> <td colspan="2" style="height:5px"> <div style="height:5px"></div></td> </tr>

                                    <tr>



                                        <td style="text-align:left;width:120px"><div style="text-align:left;width:120px;font-size:11px;color:#6e7172">Retype Password</div> </td>
                                        <td style="text-align:left">
                                            <div style="text-align:left">

                                                <input autocomplete="new-password" type="password" style="height:22px;border-radius:3px;border:1px solid gray;width:200px;" [(ngModel)]="RetypePassword" />
                                      
                                            </div>
                                        </td>
                                        <td></td>

                                    </tr>



                                </table>




                            </div>




                        </td>

                        <td style="text-align:left;width:75px;vertical-align:central"><span style="text-align:left;width:75px"><img style="width:75px;height:75px;margin-right:80px;margin-top:-10px" src="Images/ser-password-icon.png" /></span></td>

                    </tr>


                    <tr style="height:25px"><td colspan="2"><div style="height:25px"></div></td></tr>

                    <tr>
                       

                        <td colspan="2">
                            <table style="margin-left:20px">
                                <tr>
                                    <td><div></div></td>

                                    <td>
                                        <table>
                                            <tr style="height:20px"><td colspan="2"><div style="font-size:13px;font-family:'Arial'">Your Password must have : </div></td></tr>
                                            <tr style="height:20px">
                                                <td style="width:16px;">  <img width="16" src={{PasswordLenghtImg}} /></td>
                                                <td><div id="PasswordLenghtDiv" style="font-size:13px;color:gray;margin-left:5px;margin-top:3px;vertical-align:central;font-family:'Arial'">8 or more characters</div></td>

                                            </tr>
                                            <tr style="height:20px">
                                                <td style="width:16px;">  <img src={{PasswordContainsCharactersImg}} width="16" /></td>
                                                <td><div id="PasswordContainsCharactersDiv" style="font-size:13px;color:gray;margin-top:3px;margin-left:5px;vertical-align:central;font-family:'Arial'">Upper & lowercase letters</div></td>
                                            </tr>

                                            <tr style="height:20px">
                                                <td style="width:16px;">  <img src={{PasswordContainsNumberImg}} width="16" /></td>
                                                <td><div id="PasswordContainsNumberDiv" style="font-size:13px;color:gray;margin-top:3px;margin-left:5px;vertical-align:central;font-family:'Arial'">At least one number</div></td>

                                            </tr>
                                        </table>


                                    </td>
                                    <td style="width:10px"></td>

                                </tr>
                            </table>
                        </td>

                    </tr>

                </table>



            </div>
        </td>




    </tr>

    <tr style="height: 32px;">
        <td style="vertical-align: bottom">
            <table style="height: 22px;">
                <tr>
                    <td>
                        <div></div>
                    </td>

                    <td style="width: 57px;">
                        <div>
                            <button tabindex="-1" class="Button" (click)="CancelButtonClicked()">Cancel</button>
                        </div>
                    </td>

                    <td style="width: 5px;">
                        <div></div>
                    </td>

                    <td style="width: 57px;">
                        <button tabindex="-5" class="RedButton" (click)="SaveButtonClicked()">OK</button>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

</table>
