<connectionStrings>

  <!--<add name="Globalstr" connectionString="LogitudeGlobal,logitudemanager,!LO852456,ebup282itq.database.windows.net" />
    <add name="SystemLogsStr" connectionString="LogitudeSystemLogs,logitudemanager,!LO852456,ebup282itq.database.windows.net" />-->


  <!--<add name="Globalstr" connectionString="SimplogGlobal_Test,logitudemanager,S@@s256.0,jubwciho7q.database.windows.net" />
    <add name="SystemLogsStr" connectionString="LogitudeSystemLogs_Test,logitudemanager,S@@s256.0,jubwciho7q.database.windows.net"/>-->

  <!--<add name="Globalstr" connectionString="LogitudeGlobal-2016R2,logitudeuser,!LU789456,ek5cxrtgus.database.windows.net" />
   <add name="SystemLogsStr" connectionString="LogitudeSystemLogs-2016R2,logitudeuser,!LU789456,ek5cxrtgus.database.windows.net" />-->


  <!--Development-->
<!--<add name="Globalstr" connectionString="2019R5_Global,sa,Saas256,." />
  <add name="SystemLogsStr" connectionString="2019R5_SystemLogs,sa,Saas256,." />-->
  <!--<add name="Globalstr" connectionString="Logitude2-5_Global,sa,Saas256,." />
  <add name="SystemLogsStr" connectionString="Logitude2-5_SystemLogs,sa,Saas256,." />-->
  <!--
  <add name="Globalstr" connectionString="GlobalPreR2,sa,Saas256,amitaldata.cloudapp.net" />
  <add name="SystemLogsStr" connectionString="LogsPreR2,sa,Saas256,amitaldata.cloudapp.net" />-->


  <!--Test-->
  <add name="Globalstr" connectionString="LogitudeGlobal-Test2,sa,Saas256,logitudetestdb.westeurope.cloudapp.azure.com" />
  <add name="SystemLogsStr" connectionString="LogitudeSystemLogs-Test2,sa,Saas256,logitudetestdb.westeurope.cloudapp.azure.com" />


  <!--<add name="Globalstr" connectionString="LogitudeGlobal-Test2,sa,Saas256,logitudetest.cloudapp.net" />
  <add name="SystemLogsStr" connectionString="LogitudeSystemLogs-Test2,sa,Saas256,logitudetest.cloudapp.net" />-->

 
  <!--<add name="Globalstr" connectionString="LogitudeGlobal-Pre3,logitudemanager,!LO009008,logitudetest.database.windows.net" />
  <add name="SystemLogsStr" connectionString="LogitudeSystemLogs-Pre3,logitudemanager,!LO009008,logitudetest.database.windows.net"/>-->


 
  <!--<add name="Globalstr" connectionString="LogitudeGlobal-Test2,logitudeuser,!LU789456,ek5cxrtgus.database.windows.net" />
    <add name="SystemLogsStr" connectionString="LogitudeSystemLogs-Test2,logitudeuser,!LU789456,ek5cxrtgus.database.windows.net" />-->


 

  
  <!--Amital Cloud-->
  <!--<add name="Globalstr" connectionString="Global,sa,Saas256,amitaldata.cloudapp.net" />
     <add name="SystemLogsStr" connectionString="Logs,sa,Saas256,amitaldata.cloudapp.net" />-->





  <!-- Online Locally -->
  <!--<add name="Globalstr" connectionString="SimplogGlobal293,sa,Saas256, 192.168.1.32\SQLServer" />
    <add name="SystemLogsStr" connectionString="2015R1_SystemLogs,sa,Saas256, 192.168.1.32\SQLServer" />-->

  <!--<add name="Globalstr" connectionString="SimplogGlobal-Test,logitudemanager,S@@s256.0,jubwciho7q.database.windows.net" />
    <add name="SystemLogsStr" connectionString="LogitudeSystemLogs-Test,logitudemanager,S@@s256.0,jubwciho7q.database.windows.net"/>-->


  <!--Logitude-->
  <!--<add name="Globalstr" connectionString="SimplogGlobal,simplog,Saas256!@,z0n0c08sao.database.windows.net" />
    <add name="SystemLogsStr" connectionString="LogitudeSystemLogs,simplog,Saas256!@,z0n0c08sao.database.windows.net"/>-->

  <!--Amital Cloud-->
  <!--<add name="Globalstr" connectionString="Global,sa,Saas256,amital.cloudapp.net" />
    <add name="SystemLogsStr" connectionString="Logs,sa,Saas256,amital.cloudapp.net" />-->

  <!--Test on Cloud-->
  <!--<add name="Globalstr" connectionString="LogitudeGlobal-Test2,logitudeuser,!LU789456,ek5cxrtgus.database.windows.net" /> 
   <add name="SystemLogsStr" connectionString="LogitudeSystemLogs-Test2,logitudeuser,!LU789456,ek5cxrtgus.database.windows.net" />-->

  <!--<add name="Globalstr" connectionString="Logbox_Global,sa,Saas256,amitaldata.cloudapp.net" /> 
   <add name="SystemLogsStr" connectionString="Logbox_Logs,sa,Saas256,amitaldata.cloudapp.net" />-->

  <!--<add name="Globalstr" connectionString="SimplogGlobal-Test,logitudemanager,!LO852456,ebup282itq.database.windows.net" />
    <add name="SystemLogsStr" connectionString="LogitudeSystemLogs-Test,logitudemanager,!LO852456,ebup282itq.database.windows.net"/>-->

  <!--Test on Main-->
  <!--<add name="Globalstr" connectionString="SimplogGlobal-Test,logitudemanager,S@@s256.0,jubwciho7q.database.windows.net" />
    <add name="SystemLogsStr" connectionString="LogitudeSystemLogs-Test,logitudemanager,S@@s256.0,jubwciho7q.database.windows.net"/>-->

  <!--Test on IIGTest-->
  <!--<add name="Globalstr" connectionString="2017R2_Global,sa,Saas256,192.116.221.103" />
    <add name="SystemLogsStr" connectionString="2017R2_SystemLogs,sa,Saas256,192.116.221.103" />-->


  <add name="LogitudeStr" connectionString="Data Source=.;Initial Catalog=Logitude2-5_Main;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  <add name="LogitudeGlobalStr" connectionString="Data Source=.;Initial Catalog=Logitude2-5_Global;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  <add name="LogitudeSystemLogsStr" connectionString="Data Source=.;Initial Catalog=Logitude2-5_SystemLogs;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />


	
	
	
	
	
	

 

  <!--<add name="Globalstr" connectionString="LogitudeGlobal-Test2,sa,Saas256,logitudetest.cloudapp.net" /> 
   <add name="SystemLogsStr" connectionString="LogitudeSystemLogs-Test2,sa,Saas256,logitudetest.cloudapp.net" />--> 
  
</connectionStrings>