<?xml version="1.0" encoding="utf-8"?>
<appSettings> 
   
  <add key="ServerURL" value="http://test.logitudeworld.com/test" />
  <add key="Tenant" value="951" />
  <add key="APICredential_PrimaryKey" value="9ae681d0-1d42-4293-9bea-aadef12e20dc" />
  <add key="APICredential_SecondaryKey" value="1dac32e1-84e4-496a-b4d2-687f16d04e3b" />

</appSettings>