<?xml version="1.0" encoding="utf-8"?>
<appSettings>

  <!--<add key="ServerURL" value="http://localhost:9996" />
  <add key="MainTenant" value="1" />
  <add key="MainTenant_APICredential_PrimaryKey" value="1abdd455-43b2-49ed-8b00-1768c6f40464" />
  <add key="MainTenant_APICredential_SecondaryKey" value="e28f5196-2846-4940-9e28-0f2dae1f1c7f" />-->
  
  <!--<add key="ServerURL" value="http://test.logitudeworld.com/test" />
  <add key="MainTenant" value="951" />
  <add key="SecondaryTenant" value="1150" />
  <add key="MainTenant_APICredential_PrimaryKey" value="9ae681d0-1d42-4293-9bea-aadef12e20dc" />
  <add key="MainTenant_APICredential_SecondaryKey" value="1dac32e1-84e4-496a-b4d2-687f16d04e3b" />
  <add key="SecondaryTenant_APICredential_PrimaryKey" value="1f85163a-a3af-4cfa-8f65-8bb646fbb1a5" />
  <add key="SecondaryTenant_APICredential_SecondaryKey" value="05b9a213-154a-497d-9e19-31e68039b9c6" />-->
  
  <!--<add key="ServerURL" value="http://pre.amital.co.il" />
  <add key="MainTenant" value="92" />
  <add key="SecondaryTenant" value="93" />
  <add key="MainTenant_APICredential_PrimaryKey" value="b80263df-8472-44c0-88e7-ea7d3768afdd" />
  <add key="MainTenant_APICredential_SecondaryKey" value="b233a214-8b9a-461d-9fbd-574ba63aa9a5" />
  <add key="SecondaryTenant_APICredential_PrimaryKey" value="9f195efd-3885-4f31-ac2a-65eab9f5de47" />
  <add key="SecondaryTenant_APICredential_SecondaryKey" value="2a56f5b9-1806-4301-bbe7-56267380c42b" />-->

  <!--<add key="ServerURL" value="http://cloud.amital.co.il" />
  <add key="MainTenant" value="88" />
  <add key="SecondaryTenant" value="89" />
  <add key="MainTenant_APICredential_PrimaryKey" value="6d03c060-8abe-45d8-9401-2b02e2b23b09" />
  <add key="MainTenant_APICredential_SecondaryKey" value="33658562-1f32-4cd7-811b-81d597afa123" />
  <add key="SecondaryTenant_APICredential_PrimaryKey" value="45af0337-04c8-463d-bf74-92fdf4664e3c" />
  <add key="SecondaryTenant_APICredential_SecondaryKey" value="e3281621-6d42-4f3e-a6ae-e3b10ac0ba1e" />-->

</appSettings>

