<?xml version="1.0" encoding="utf-8"?>
<appSettings>

  <!--<add key="ServerURL" value="http://localhost:9996" />
  <add key="MainTenant_APICredential_PrimaryKey" value="1abdd455-43b2-49ed-8b00-1768c6f40464" />
  <add key="MainTenant_APICredential_SecondaryKey" value="e28f5196-2846-4940-9e28-0f2dae1f1c7f" />-->
  
  <add key="ServerURL" value="http://test.logitudeworld.com/test" />
  <add key="MainTenant" value="951" />
  <add key="SecondaryTenant" value="1150" />
  <add key="MainTenant_APICredential_PrimaryKey" value="9ae681d0-1d42-4293-9bea-aadef12e20dc" />
  <add key="MainTenant_APICredential_SecondaryKey" value="1dac32e1-84e4-496a-b4d2-687f16d04e3b" />
  <add key="SecondaryTenant_APICredential_PrimaryKey" value="1f85163a-a3af-4cfa-8f65-8bb646fbb1a5" />
  <add key="SecondaryTenant_APICredential_SecondaryKey" value="05b9a213-154a-497d-9e19-31e68039b9c6" />

</appSettings>

