:host {
    position: relative;
    white-space: normal;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

img {
    width: 32px;
    height: 32px;
    position: absolute;
    right: 2px;
    bottom: -2px;
}

.google-map {
    width: 20px;
    height: 15px;
    position: absolute;
    right: 10px;
    bottom: 30px;
}
