<style>
    .padding-10 {
        padding: 10px
    }
</style>

<div class="MediaFillAbsolute workflow-builder-wrapper">
    <div class="MarginAbsolute10">
        <table>
            <tr>
                <td>
                    <div class="MediaFill CurvedArea">
                        <table class="padding-10">
                            <tr>
                                <td>
                                    <div class="MediaFill">
                                        <div class="MediaFillAbsolute MarginAbsolute10">
                                            <div #Child LocationDirective Code="WFVersionContainer"></div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>