
<div class="TabHolder">
    <table>

        <tr style="height: 1px;">
            <td>
                <table>
                    <tr>
                        <td style="width: 1px;" class="BlueTitle">
                            Version {{ VersionNumber}} ({{LinesCount}} lines)
                        </td>

                        <td>
                            <div></div>
                        </td>

                        <td style="width:90px;">
                            <CheckBox [IsChecked]="IsComparToChecked" (Checked)="IsComparToChecked = $event" [Text]="'Compare to'" [IsEnabled]="!IsFirstDraft"></CheckBox>
                        </td>

                        <td style="width:190px;">
                            <ComboBox [ItemsSource]="VersionsList" [IsDisabled]="!IsComparToChecked" [Binding]="'Name'" [SelectedItem]="SelectedVersion" (SelectedItemChanged)="SelectedVersion = $event"></ComboBox>
                        </td>

                        <td style="width:5px;">
                            <div></div>
                        </td>

                        <td style="width:60px;">
                            <LogLabel [NoObjectField]="true" [Text]="'Warning'" [DataContext]="DataContext"></LogLabel>
                        </td>

                        <td style="width:50px;">
                            <LogTextBox [NoObjectField]="true" [HideColumns]="true" [ObjectFieldName]="'WarningPercentage'" [Text]="WarningPercentage" [DataContext]="DataContext"></LogTextBox>
                        </td>

                        <td style="width:1px;padding-left:3px;">
                            %
                        </td>

                        <td style="width:50px;">
                            <div></div>
                        </td>

                        <td style="width: 20px;">
                            <IconButton [IsEnabled]="IsDraftVersion" [Name]="'Add'" (click)="AddTariffLine()"></IconButton>
                        </td>

                        <td style="width:5px;">
                            <div></div>
                        </td>

                        <td style="width: 1px" *ngIf="IsUpdateSurchargesButtonVisible">
                            <button class="Button" (click)="UpdateSurchargesClicked()">Update Surcharges</button>
                        </td>

                        <td style="width:5px;" *ngIf="IsUpdateSurchargesButtonVisible">
                            <div></div>
                        </td>

                        <td style="width: 1px" *ngIf="IsApproveVersionButtonVisible">
                            <button class="GreenButton" (click)="ApproveVersionClicked()">Approve Version</button>
                        </td>

                        <td style="width:5px;" *ngIf="IsApproveVersionButtonVisible">
                            <div></div>
                        </td>

                        <td *ngIf="!IsDraftVersion" style="width:70px;">
                            <div tabindex="0" class="ToggleButton">
                                <label>Actions</label>
                                <img src="./Images/ToggleIcon.png" />

                                <div class="ToggleButtonMenu">
                                    <button (click)="CopyVersionClicked()">Copy into new Version</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr style="height: 10px;">
            <td>
                <div></div>
            </td>
        </tr>

        <!-- Surcharge Tariff Grid -->
        <tr>
            <td>
                <div class="MediaFill">
                    <logitude-edit-grid GridWidth="100%"
                                        GridHeight="100%"
                                        [ItemSource]="TariffsLinesSource"
                                        [ReloadDetails]="ReloadDetails"
                                        (RowDataLoaded)="OnRowLoaded($event)"
                                        (SelectedItemChanged)="OnRowSelected($event)"
                                        [SelectedRow]="SelectedRow"
                                        (MouseOverChanged)="SetMouseHoverRow($event, true)"
                                        (MouseleaveChanged)="SetMouseHoverRow($event, false)"
                                        [EnableExpandCollapseAll]="true"
                                        [ChangeScrollPosition]="changeScrollPosition">

                        <log-row-details>
                            <ng-template let-item>
                                <row-template>
                                    <div style="min-height: 80px; width: 100%; background: #E8F7FF; position: relative;" [style.height.px]="item.RowDetailsHeights">
                                        <div style="position: absolute; top: 10px; right: 10px; bottom: 10px; left: 10px;">
                                            <div class="SimpleGridView" style="background: none; border: 1px solid #85CBED;">
                                                <div class="SimpleGridViewHeader" style="background: none; border: none; border-bottom: 1px solid #85CBED;">
                                                    <table>
                                                        <tr>
                                                            <td style="width: 60px; min-width: 60px; max-width: 60px;"></td>
                                                            <td style="width: 100px; min-width: 100px; max-width: 100px; color : #6E7172;">Surcharge</td>
                                                            <td style="width: 120px; min-width: 120px; max-width: 120px; color : #6E7172;" *ngIf="Container1Visibility">{{Container1Label}}</td>
                                                            <td style="width: 120px; min-width: 120px; max-width: 120px; color : #6E7172;" *ngIf="Container2Visibility">{{Container2Label}}</td>
                                                            <td style="width: 120px; min-width: 120px; max-width: 120px; color : #6E7172;" *ngIf="Container3Visibility">{{Container3Label}}</td>
                                                            <td style="width: 120px; min-width: 120px; max-width: 120px; color : #6E7172;" *ngIf="Container4Visibility">{{Container4Label}}</td>
                                                            <td style="width: 120px; min-width: 120px; max-width: 120px; color : #6E7172;" *ngIf="Container5Visibility">{{Container5Label}}</td>
                                                            <td style="width: 120px; min-width: 120px; max-width: 120px; color : #6E7172;">{{'TariffLinesContainersPrice.F.CostPrice' | TextCodeTranslationPipe}}</td>
                                                            <td style="width: 80px; min-width: 80px; max-width: 80px; color : #6E7172;">{{'TariffLinesContainersPrice.F.CurrencyId' | TextCodeTranslationPipe}}</td>
                                                            <td class="LastChild">
                                                                <div></div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>

                                                <div class="SimpleGridViewBody">
                                                    <table>
                                                        <tr class="SimpleGridViewRow" *ngFor="let containerItem of item.ContainersItemsSourceView">
                                                            <td class="CellDisabled" style="width: 60px; min-width: 60px; max-width: 60px;">
                                                                <label *ngIf="containerItem.IsNewEntity" style="width: 1px; color:red; font-size:10px; font-style:italic;">
                                                                    New
                                                                </label>
                                                            </td>

                                                            <td class="GridViewCell" style="width: 100px; min-width: 100px; max-width: 100px;">
                                                                {{containerItem.ChargeLabel}}
                                                            </td>

                                                            <td class="GridViewCell" style="width: 120px; min-width: 120px; max-width: 120px; text-align: right;" *ngIf="Container1Visibility">
                                                                <table>
                                                                    <tr>
                                                                        <td [ngStyle]="{color: containerItem.Price1ComparingTextColor}" *ngIf="containerItem.ComparingPrice1" style="width: 1px; font-size:10px; font-style:italic; padding-left:5px;">
                                                                            {{containerItem.ComparingPrice1| NumbersPipe:'N1'}} %
                                                                        </td>

                                                                        <td style="width: 2px;">
                                                                            <div></div>
                                                                        </td>

                                                                        <td style="width: 1px;">
                                                                            <span>{{containerItem.Price1 | NumbersPipe:'N3'}}</span>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>

                                                            <td class="GridViewCell" style="width: 120px; min-width: 120px; max-width: 120px; text-align: right;" *ngIf="Container2Visibility">
                                                                <table>
                                                                    <tr>
                                                                        <td [ngStyle]="{color: containerItem.Price2ComparingTextColor}" *ngIf="containerItem.ComparingPrice2" style="width: 1px; font-size:10px; font-style:italic; padding-left:5px;">
                                                                            {{containerItem.ComparingPrice2| NumbersPipe:'N1'}} %
                                                                        </td>

                                                                        <td style="width: 2px;">
                                                                            <div></div>
                                                                        </td>

                                                                        <td style="width: 1px;">
                                                                            <span>{{containerItem.Price2 | NumbersPipe:'N3'}}</span>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>

                                                            <td class="GridViewCell" style="width: 120px; min-width: 120px; max-width: 120px; text-align: right;" *ngIf="Container3Visibility">
                                                                <table>
                                                                    <tr>
                                                                        <td [ngStyle]="{color: containerItem.Price3ComparingTextColor}" *ngIf="containerItem.ComparingPrice3" style="width: 1px; font-size:10px; font-style:italic; padding-left:5px;">
                                                                            {{containerItem.ComparingPrice3| NumbersPipe:'N1'}} %
                                                                        </td>

                                                                        <td style="width: 2px;">
                                                                            <div></div>
                                                                        </td>

                                                                        <td style="width: 1px;">
                                                                            <span>{{containerItem.Price3 | NumbersPipe:'N3'}}</span>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>

                                                            <td class="GridViewCell" style="width: 120px; min-width: 120px; max-width: 120px; text-align: right;" *ngIf="Container4Visibility">
                                                                <table>
                                                                    <tr>
                                                                        <td [ngStyle]="{color: containerItem.Price4ComparingTextColor}" *ngIf="containerItem.ComparingPrice4" style="width: 1px; font-size:10px; font-style:italic; padding-left:5px;">
                                                                            {{containerItem.ComparingPrice4| NumbersPipe:'N1'}} %
                                                                        </td>

                                                                        <td style="width: 2px;">
                                                                            <div></div>
                                                                        </td>

                                                                        <td style="width: 1px;">
                                                                            <span>{{containerItem.Price4 | NumbersPipe:'N3'}}</span>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>

                                                            <td class="GridViewCell" style="width: 120px; min-width: 120px; max-width: 120px; text-align: right;" *ngIf="Container5Visibility">
                                                                <table>
                                                                    <tr>
                                                                        <td [ngStyle]="{color: containerItem.Price5ComparingTextColor}" *ngIf="containerItem.ComparingPrice5" style="width: 1px; font-size:10px; font-style:italic; padding-left:5px;">
                                                                            {{containerItem.ComparingPrice5| NumbersPipe:'N1'}} %
                                                                        </td>

                                                                        <td style="width: 2px;">
                                                                            <div></div>
                                                                        </td>

                                                                        <td style="width: 1px;">
                                                                            <span>{{containerItem.Price5 | NumbersPipe:'N3'}}</span>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>

                                                            <td class="GridViewCell" style="width: 120px; min-width: 120px; max-width: 120px; text-align: right;">
                                                                <table>
                                                                    <tr>
                                                                        <td [ngStyle]="{color: containerItem.CostPriceComparingTextColor}" *ngIf="containerItem.ComparingCostPrice" style="width: 1px; font-size:10px; font-style:italic; padding-left:5px;">
                                                                            {{containerItem.ComparingCostPrice| NumbersPipe:'N1'}} %
                                                                        </td>

                                                                        <td style="width: 2px;">
                                                                            <div></div>
                                                                        </td>

                                                                        <td style="width: 1px;">
                                                                            <span>{{containerItem.CostPrice | NumbersPipe:'N3'}}</span>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>

                                                            <td class="GridViewCell" style="width: 80px; min-width: 80px; max-width: 80px;">
                                                                {{containerItem.CurrencyCode}}
                                                            </td>

                                                            <td class="CellStretched">
                                                                <div></div>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td colspan="9">
                                                                <div></div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </row-template>
                            </ng-template>
                        </log-row-details>

                        <!--Actions-->
                        <log-column [width]="'60'" *ngIf="IsDraftVersion">
                            <ng-template let-item>
                                <log-header-template>
                                    <div class="GridHeaderCellTemplate">
                                        <table>
                                            <tr>
                                                <td style="width:14px;">
                                                    <CheckBox [IsChecked]="IsAllSelected" (Checked)="IsAllSelected = $event"></CheckBox>
                                                </td>

                                                <td style="width:5px;">
                                                    <div></div>
                                                </td>

                                                <td>
                                                    <ToggleButton [Title]="'New'" [DropDownWidth]="100" [DropDownHeight]="30" [Position]="'Left'" [IconButtonName]="'Actions'">
                                                        <ToggleButtonItem [Text]="'Delete Lines'" (click)="DeleteLinesClicked()"></ToggleButtonItem>
                                                    </ToggleButton>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </log-header-template>
                            </ng-template>

                            <ng-template let-item>
                                <log-cell-template #logcelltemplate [TabIndex]="-1">
                                    <div style="height: 100%; width: 100%; position:relative;">
                                        <table>
                                            <tr>
                                                <td style="width:3px;">
                                                    <div></div>
                                                </td>

                                                <td style="width:14px;">
                                                    <CheckBox [IsChecked]="item.IsLineSelected" (Checked)="item.IsLineSelected = $event"></CheckBox>
                                                </td>

                                                <td>
                                                    <div></div>
                                                </td>

                                            </tr>
                                        </table>
                                    </div>
                                </log-cell-template>
                            </ng-template>
                        </log-column>

                        <!--Error-->
                        <log-column [width]="'60'">
                            <ng-template let-item>
                                <log-cell-template #logcelltemplate [IsEnabled]="false" [CellColor]="item.CellColor">
                                    <div style="height: 100%; width: 100%;">
                                        <table>
                                            <tr>
                                                <td style="width:16px;" *ngIf="item.HasErrors">
                                                    <img class="CenterCenter" src="./Images/ValidationError.png" [title]="item.ErrorText" />
                                                </td>
                                                <td style="width: 2px;">
                                                    <div></div>
                                                </td>
                                                <td *ngIf="item.IsNewEntity">
                                                    <div style="width: 1px; color:red; font-size:10px; font-style:italic;">
                                                        New
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </log-cell-template>
                            </ng-template>
                        </log-column>

                        <!-- OriginPortId -->
                        <log-column [header]="'TariffLine.F.OriginPortId' | TextCodeTranslationPipe" [width]="'70'">
                            <ng-template let-item>

                                <log-cell-template #logcelltemplate [IsEnabled]="item.IsEditEnabled" [CellColor]="item.CellColor">
                                    <div class="TextTrimming" *ngIf="logcelltemplate.IsDisplayMode" style="text-align:left;">
                                        <span *ngIf="!item.IsFromAllOtherPorts" [ngStyle]="{color: item.OriginPortColor}">{{item.OriginPortValue}}</span>

                                        <div style="height: 100%; width: 100%;" *ngIf="item.IsFromAllOtherPorts">
                                            <img src="./Images/Icons/A-icon.png" width="16" height="16" title="From All Other Ports" />
                                        </div>
                                    </div>

                                    <div *ngIf="logcelltemplate.IsEditMode">
                                        <LogLov [ObjectFieldName]="'OriginPortId'"
                                                [ObjectTableName]="'TarifflLine'"
                                                [DataContext]="item"
                                                [LookUpTableName]="'Port'"
                                                [HideColumns]="true"
                                                (SelectedItemChanged)="item.OriginPort = $event"
                                                [DisplayMemberPath]="'CombinedCode'"
                                                [FocusOnMe]="true"
                                                [SelectedValue]="item.OriginPortId"
                                                [DependencyFilter1Value]="'O'">
                                        </LogLov>
                                    </div>
                                </log-cell-template>
                            </ng-template>
                        </log-column>

                        <!-- DestinationPortId -->
                        <log-column [header]="'TariffLine.F.DestinationPortId' | TextCodeTranslationPipe" [width]="'70'">

                            <ng-template let-item>
                                <log-cell-template #logcelltemplate [IsEnabled]="item.IsEditEnabled" [CellColor]="item.CellColor">
                                    <div class="TextTrimming" *ngIf="logcelltemplate.IsDisplayMode" style="text-align:left;">
                                        <span *ngIf="!item.IsToAllOtherPorts" [ngStyle]="{color: item.DestinationPortColor}">{{item.DestinationPortValue}}</span>

                                        <div style="height: 100%; width: 100%;" *ngIf="item.IsToAllOtherPorts">
                                            <img src="./Images/Icons/A-icon.png" width="16" height="16" title="To All Other Ports" />
                                        </div>
                                    </div>

                                    <div *ngIf="logcelltemplate.IsEditMode">
                                        <LogLov [ObjectFieldName]="'DestinationPortId'"
                                                [ObjectTableName]="'TarifflLine'"
                                                [DataContext]="item"
                                                [LookUpTableName]="'Port'"
                                                [HideColumns]="true"
                                                (SelectedItemChanged)="item.DestinationPort = $event"
                                                [DisplayMemberPath]="'CombinedCode'"
                                                [FocusOnMe]="true"
                                                [SelectedValue]="item.DestinationPortId"
                                                [DependencyFilter1Value]="'O'">
                                        </LogLov>

                                    </div>
                                </log-cell-template>

                            </ng-template>
                        </log-column>

                        <!-- Currency -->
                        <log-column [header]="'TariffLine.F.CurrencyId' | TextCodeTranslationPipe" [width]="'70'">

                            <ng-template let-item>
                                <log-cell-template #logcelltemplate [IsEnabled]="item.IsEditEnabled && !item.IsDifferentCurrenciesPerCharge" [CellColor]="item.CellColor">
                                    <div class="TextTrimming" *ngIf="logcelltemplate.IsDisplayMode" style="text-align:left;">
                                        <span *ngIf="!item.IsDifferentCurrenciesPerCharge">{{item.CurrencyCode}}</span>
                                        <span *ngIf="item.IsDifferentCurrenciesPerCharge">Multi</span>
                                    </div>

                                    <div *ngIf="logcelltemplate.IsEditMode">
                                        <LogLov [ObjectFieldName]="'CurrencyId'"
                                                [ObjectTableName]="'TarifflLine'"
                                                [SelectedValue]="item.CurrencyId"
                                                [DataContext]="item"
                                                [HideMaintenanceIcon]="true"
                                                [FocusOnMe]="true"
                                                [HideColumns]="true"
                                                [DisplayMemberPath]="'Code'"
                                                (SelectedItemChanged)="item.Currency = $event"
                                                [LookUpTableName]="'Currency'">
                                        </LogLov>
                                    </div>
                                </log-cell-template>
                            </ng-template>
                        </log-column>

                        <!-- StartDate -->
                        <log-column [header]="'TariffLine.F.StartDate' | TextCodeTranslationPipe" [width]="'120'">

                            <ng-template let-item>
                                <log-cell-template #logcelltemplate [IsEnabled]="item.IsEditEnabled" [CellColor]="item.CellColor">
                                    <div class="TextTrimming" *ngIf="logcelltemplate.IsDisplayMode" style="text-align:left;">
                                        <span>{{item.StartDate | DateTimePipe:'SD'}}</span>
                                    </div>

                                    <div *ngIf="logcelltemplate.IsEditMode">
                                        <LogDatePicker [FocusOnMe]="true" [ObjectFieldName]="'StartDate'" [SelectedDateValue]="item.StartDate" [ObjectTableName]="'TarifflLine'" [DataContext]="item"></LogDatePicker>
                                    </div>
                                </log-cell-template>

                            </ng-template>
                        </log-column>

                        <!-- Surcharge1Price -->
                        <log-column *ngIf="Surcharge1PriceVisibility" [Alignment]="'center'" [header]="Surcharge1PriceLabel" [width]="'180'">
                            <ng-template let-item>
                                <log-cell-template #logcelltemplate [IsEnabled]="false" [CellColor]="item.CellColor">
                                    <div class="TextTrimming" *ngIf="logcelltemplate.IsDisplayMode" style="text-align:right;">                                       
                                        <span *ngFor="let itemArray of item.Surcharge1PriceArray" [ngStyle]="{color: itemArray.Color}">
                                            {{itemArray.Price}}
                                        </span>
                                    </div>
                                </log-cell-template>
                            </ng-template>
                        </log-column>

                        <!-- Surcharge2Price -->
                        <log-column *ngIf="Surcharge2PriceVisibility" [Alignment]="'center'" [header]="Surcharge2PriceLabel" [width]="'180'">
                            <ng-template let-item>
                                <log-cell-template #logcelltemplate [IsEnabled]="false" [CellColor]="item.CellColor">
                                    <div class="TextTrimming" *ngIf="logcelltemplate.IsDisplayMode" style="text-align:right;">
                                        <span *ngFor="let itemArray of item.Surcharge2PriceArray" [ngStyle]="{color: itemArray.Color}">
                                            {{itemArray.Price}}
                                        </span>
                                    </div>
                                </log-cell-template>
                            </ng-template>
                        </log-column>

                        <!-- Surcharge3Price -->
                        <log-column *ngIf="Surcharge3PriceVisibility" [Alignment]="'center'" [header]="Surcharge3PriceLabel" [width]="'180'">
                            <ng-template let-item>
                                <log-cell-template #logcelltemplate [IsEnabled]="false" [CellColor]="item.CellColor">
                                    <div class="TextTrimming" *ngIf="logcelltemplate.IsDisplayMode" style="text-align:right;">
                                        <span *ngFor="let itemArray of item.Surcharge3PriceArray" [ngStyle]="{color: itemArray.Color}">
                                            {{itemArray.Price}}
                                        </span>
                                    </div>
                                </log-cell-template>
                            </ng-template>
                        </log-column>

                        <!-- Surcharge4Price -->
                        <log-column *ngIf="Surcharge4PriceVisibility" [Alignment]="'center'" [header]="Surcharge4PriceLabel" [width]="'180'">
                            <ng-template let-item>
                                <log-cell-template #logcelltemplate [IsEnabled]="false" [CellColor]="item.CellColor">
                                    <div class="TextTrimming" *ngIf="logcelltemplate.IsDisplayMode" style="text-align:right;">
                                        <span *ngFor="let itemArray of item.Surcharge4PriceArray" [ngStyle]="{color: itemArray.Color}">
                                            {{itemArray.Price}}
                                        </span>
                                    </div>
                                </log-cell-template>
                            </ng-template>
                        </log-column>

                        <!-- Surcharge5Price -->
                        <log-column *ngIf="Surcharge5PriceVisibility" [Alignment]="'center'" [header]="Surcharge5PriceLabel" [width]="'180'">
                            <ng-template let-item>
                                <log-cell-template #logcelltemplate [IsEnabled]="false" [CellColor]="item.CellColor">
                                    <div class="TextTrimming" *ngIf="logcelltemplate.IsDisplayMode" style="text-align:right;">
                                        <span *ngFor="let itemArray of item.Surcharge5PriceArray" [ngStyle]="{color: itemArray.Color}">
                                            {{itemArray.Price}}
                                        </span>
                                    </div>
                                </log-cell-template>
                            </ng-template>
                        </log-column>

                        <!-- Surcharge6Price -->
                        <log-column *ngIf="Surcharge6PriceVisibility" [Alignment]="'center'" [header]="Surcharge6PriceLabel" [width]="'180'">
                            <ng-template let-item>
                                <log-cell-template #logcelltemplate [IsEnabled]="false" [CellColor]="item.CellColor">
                                    <div class="TextTrimming" *ngIf="logcelltemplate.IsDisplayMode" style="text-align:right;">
                                        <span *ngFor="let itemArray of item.Surcharge6PriceArray" [ngStyle]="{color: itemArray.Color}">
                                            {{itemArray.Price}}
                                        </span>
                                    </div>
                                </log-cell-template>
                            </ng-template>
                        </log-column>

                        <!-- Surcharge7Price -->
                        <log-column *ngIf="Surcharge7PriceVisibility" [Alignment]="'center'" [header]="Surcharge7PriceLabel" [width]="'180'">
                            <ng-template let-item>
                                <log-cell-template #logcelltemplate [IsEnabled]="false" [CellColor]="item.CellColor">
                                    <div class="TextTrimming" *ngIf="logcelltemplate.IsDisplayMode" style="text-align:right;">
                                        <span *ngFor="let itemArray of item.Surcharge7PriceArray" [ngStyle]="{color: itemArray.Color}">
                                            {{itemArray.Price}}
                                        </span>
                                    </div>
                                </log-cell-template>
                            </ng-template>
                        </log-column>

                        <!-- Surcharge8Price -->
                        <log-column *ngIf="Surcharge8PriceVisibility" [Alignment]="'center'" [header]="Surcharge8PriceLabel" [width]="'180'">
                            <ng-template let-item>
                                <log-cell-template #logcelltemplate [IsEnabled]="false" [CellColor]="item.CellColor">
                                    <div class="TextTrimming" *ngIf="logcelltemplate.IsDisplayMode" style="text-align:right;">
                                        <span *ngFor="let itemArray of item.Surcharge8PriceArray" [ngStyle]="{color: itemArray.Color}">
                                            {{itemArray.Price}}
                                        </span>
                                    </div>
                                </log-cell-template>
                            </ng-template>
                        </log-column>

                        <!-- Surcharge9Price -->
                        <log-column *ngIf="Surcharge9PriceVisibility" [Alignment]="'center'" [header]="Surcharge9PriceLabel" [width]="'180'">
                            <ng-template let-item>
                                <log-cell-template #logcelltemplate [IsEnabled]="false" [CellColor]="item.CellColor">
                                    <div class="TextTrimming" *ngIf="logcelltemplate.IsDisplayMode" style="text-align:right;">
                                        <span *ngFor="let itemArray of item.Surcharge9PriceArray" [ngStyle]="{color: itemArray.Color}">
                                            {{itemArray.Price}}
                                        </span>
                                    </div>
                                </log-cell-template>
                            </ng-template>
                        </log-column>

                        <!-- Surcharge10Price -->
                        <log-column *ngIf="Surcharge10PriceVisibility" [Alignment]="'center'" [header]="Surcharge10PriceLabel" [width]="'180'">
                            <ng-template let-item>
                                <log-cell-template #logcelltemplate [IsEnabled]="false" [CellColor]="item.CellColor">
                                    <div class="TextTrimming" *ngIf="logcelltemplate.IsDisplayMode" style="text-align:right;">
                                        <span *ngFor="let itemArray of item.Surcharge10PriceArray" [ngStyle]="{color: itemArray.Color}">
                                            {{itemArray.Price}}
                                        </span>
                                    </div>
                                </log-cell-template>
                            </ng-template>
                        </log-column>

                        <!-- Notes -->
                        <log-column [width]="'40'">
                            <ng-template let-item>
                                <log-cell-template #logcelltemplate [IsEnabled]="false" [CellColor]="item.CellColor">
                                    <div style="height: 100%; width: 100%; left:5px;">
                                        <img class="CenterCenter" *ngIf="!item.Notes" src="./Images/Notes_notexists.png" style="display: block;" />
                                        <img class="CenterCenter" *ngIf="item.Notes" src="./Images/Notes_exists.png" style="display: block;" [title]="item.Notes" />
                                    </div>
                                </log-cell-template>
                            </ng-template>
                        </log-column>

                        <!-- Tools Button -->
                        <log-column [width]="'80'" [Editable]="true" [Alignment]="'right'">
                            <ng-template let-item>
                                <log-cell-template [IgnoreMods]="true" #logcelltemplate>
                                    <div style="width: 100%; height: 100%; position: relative;">
                                        <div class="LeftCenter" style="height: 20px;">
                                            <table>
                                                <tr>
                                                    <td style="width: 4px;">
                                                        <span class="CellSeparator"></span>
                                                    </td>
                                                    <td>
                                                        <IconButton [IsEnabled]="IsDraftVersion" [Left]="3" [Name]="'Edit'" [IsSmall]="true" (click)="EditTariffButtonClicked(item)"></IconButton>
                                                        <IconButton [IsEnabled]="IsDraftVersion" [Left]="3" [Name]="'delete'" [IsSmall]="true" (click)="DeleteTariffButtonClicked(item)"></IconButton>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </log-cell-template>
                            </ng-template>

                        </log-column>

                    </logitude-edit-grid>
                </div>
            </td>
        </tr>

        <tr style="height: 20px;">
            <td>
                <div></div>
            </td>
        </tr>

        <tr *ngIf="IsComparToChecked">
            <td>
                <table>
                    <tr>
                        <td>
                            <div class="MediaFill">
                                <div class="SimpleGridView">
                                    <div class="SimpleGridViewHeader">
                                        <table>
                                            <tr>
                                                <td>
                                                    <div> Deleted Lines</div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>

                                    <div class="SimpleGridViewBody">
                                        <table>
                                            <tr class="SimpleGridViewRow" *ngFor="let item of DeletedTariffsLines">
                                                <td class="GridViewCell" style="width: 60px; min-width:60px; max-width:60px;">
                                                    <img class="CenterCenter" src="./Images/RedX.png" [title]="item.ErrorText" />
                                                </td>
                                                <td class="CellDisabled" style="width: 70px; min-width:70px; max-width:70px; text-align: left;">
                                                    {{item.OriginPortValue}}
                                                    <div style="height: 100%; width: 100%;" *ngIf="item.IsFromAllOtherPorts">
                                                        <img src="./Images/Icons/A-icon.png" width="16" height="16" title="From All Other Ports" />
                                                    </div>
                                                </td>
                                                <td class="CellDisabled" style="width: 70px; min-width:70px; max-width:70px; text-align: left;">
                                                    {{item.DestinationPortValue}}
                                                    <div style="height: 100%; width: 100%;" *ngIf="item.IsToAllOtherPorts">
                                                        <img src="./Images/Icons/A-icon.png" width="16" height="16" title="To All Other Ports" />
                                                    </div>
                                                </td>
                                                <td class="CellDisabled" style="width: 70px; min-width:70px; max-width:70px; text-align: left;">
                                                    {{item.CurrencyCode }}
                                                </td>
                                                <td class="CellDisabled" style="width: 120px; min-width:120px; max-width:120px; text-align: left;">
                                                    {{item.StartDate | DateTimePipe:'SD'}}
                                                </td>

                                                <td *ngIf="Surcharge1PriceVisibility" class="CellDisabled" style="width: 180px; min-width:180px; max-width:180px; text-align:right;">
                                                    {{item.Surcharge1PriceValue}}
                                                </td>

                                                <td *ngIf="Surcharge2PriceVisibility" class="CellDisabled" style="width: 180px; min-width:180px; max-width:180px; text-align:right;">
                                                    {{item.Surcharge2PriceValue}}
                                                </td>

                                                <td *ngIf="Surcharge3PriceVisibility" class="CellDisabled" style="width: 180px; min-width:180px; max-width:180px; text-align:right;">
                                                    {{item.Surcharge3PriceValue}}
                                                </td>

                                                <td *ngIf="Surcharge4PriceVisibility" class="CellDisabled" style="width: 180px; min-width:180px; max-width:180px; text-align:right;">
                                                    {{item.Surcharge4PriceValue}}
                                                </td>

                                                <td *ngIf="Surcharge5PriceVisibility" class="CellDisabled" style="width: 180px; min-width:180px; max-width:180px; text-align:right;">
                                                    {{item.Surcharge5PriceValue}}
                                                </td>

                                                <td *ngIf="Surcharge6PriceVisibility" class="CellDisabled" style="width: 180px; min-width:180px; max-width:180px; text-align:right;">
                                                    {{item.Surcharge6PriceValue}}
                                                </td>

                                                <td *ngIf="Surcharge7PriceVisibility" class="CellDisabled" style="width: 180px; min-width:180px; max-width:180px; text-align:right;">
                                                    {{item.Surcharge7PriceValue}}
                                                </td>

                                                <td *ngIf="Surcharge8PriceVisibility" class="CellDisabled" style="width: 180px; min-width:180px; max-width:180px; text-align:right;">
                                                    {{item.Surcharge8PriceValue}}
                                                </td>

                                                <td *ngIf="Surcharge9PriceVisibility" class="CellDisabled" style="width: 180px; min-width:180px; max-width:180px; text-align:right;">
                                                    {{item.Surcharge9PriceValue}}
                                                </td>

                                                <td *ngIf="Surcharge10PriceVisibility" class="CellDisabled" style="width: 180px; min-width:180px; max-width:180px; text-align:right;">
                                                    {{item.Surcharge10PriceValue}}
                                                </td>
                                                <td>
                                                    <div></div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <div></div>
                                                </td>
                                            </tr>

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

    </table>
</div>


