<table>
    <tr>
        <td>
            <div class="MediaFill">
                <div class="SimpleGridView">
                    <div class="SimpleGridViewHeader">
                        <table>
                            <tr>
                                <td style="width:70px; min-width:70px; max-width:70px;">Index</td>
                                <td style="width:110px; min-width:110px; max-width:110px;">Upload Date</td>
                                <td style="width:200px; min-width:200px; max-width:200px;">Uploaded by</td>
                                <td style="width:80px; min-width:80px; max-width:80px;">No. of Lines</td>

                                <td style="width:100px; min-width:100px; max-width:100px;">
                                    <div></div>
                                </td>

                                <td class="LastChild">
                                    <div></div>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="SimpleGridViewBody">
                        <table>
                            <tr class="SimpleGridViewRow" *ngFor="let item of ItemsSource">

                                <td class="GridViewCell" style="width:70px; min-width:70px; max-width:70px;">
                                    {{item.Index}}
                                </td>

                                <td class="GridViewCell" style="width:110px; min-width:110px; max-width:110px;">
                                    {{item.UploadDate | DateTimeToDatePipe}}
                                </td>

                                <td class="GridViewCell" style="width: 200px; min-width: 200px; max-width: 200px;">
                                    {{item.UploadedByUserName}}
                                </td>

                                <td class="GridViewCell" style="width:80px; min-width:80px; max-width:80px;">
                                    {{item.NumberOfLines}}
                                </td>

                                <td class="GridViewCell" style="width:100px; min-width:100px; max-width:100px;">
                                    <Hyperlink (click)="item.DownloadClicked()">Download</Hyperlink>
                                </td>

                                <td>
                                    <div></div>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="6">
                                    <div></div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </td>
    </tr>

    <tr style="height: 32px;">
        <td style="vertical-align: bottom">
            <table style="height: 22px;">
                <tr>
                    <td>
                        <div></div>
                    </td>

                    <td style="width: 57px;">
                        <button class="Button" (click)="CloseButtonClicked()">Close</button>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
