:host ::ng-deep {
    app-address-textarea {
        textarea {
            height: 136px;
            font-size: 1rem;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
                "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        }

        .google-map {
            right: 20px;
            bottom: 77px;
        }

        img {
            width: 65px;
            height: 65px;
        }

        googlemapsbutton img {
            width: 38px !important;
            height: 28px !important;
        }
    }

    p-button button.p-button {
        padding: 8px 7px !important;
        top: 3px;
        position: relative;        
    }

    app-accordion {
        display: block;
        padding: 12px 0;

        .accordion-contect {
            border-top: 1px solid var(--surface-200);
        }

        h4 {
            font-size: 17px;
            font-weight: bold;
        }

        .accordion-container > i.pi-angle-down {
            margin-right: 18px !important;
            margin-top: 6px;
            // margin-left: 7px;
            color: #1084dc;
        }
    }

    textarea {
        height: 136px;
    }

    app-autocomplate-table {
        display: inline-block;
        width: calc(100% - 69px);
    }

    app-btn-menu-plus {
        float: right;
        margin-top: 12px;
    }

    .plus-btn:hover {
        background: #0d89ec;
        color: #ffffff;
        border-color: #0d89ec;
    }

    .plus-btn {
        border-color: #e2f0fb;
        background: #e2f0fb;
        color: #1084dc;
        // border-radius: 5px;
        padding: 8px 23px;
        cursor: pointer;
        float: right;
        margin-top: 12px;
        position: relative;
        top: 3px;
        border-radius: 7px;
    }
}
