<style>
    .tab-footer {
        background: white;
        height: 55px;
        border-top: 1px solid #d1d1d1;
        margin-right: -1px;
        padding: 7px 10px;
    }

    .orangeCircle {
        background: #ff7920 !important;
    }

    .circleDraw {
        background: #00b1e9;
        margin: 0 auto;
        margin-top: 7px;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        display: block;
    }

    .bg {
        background: #d5eaf1;
    }

    .Disabled {
        background: red;
        opacity: 0.5;
    }

    .footer-title {
        color: #1692ef;
        font-size: 15px;
    }

    .footer-cell {
        float: left;
        padding: 5px;
        margin: 0px 10px;
        width: 150px;
        text-align: center;
        overflow: auto;
    }

    .footer-summery::before,
    .footer-summery::after {
        clear: both;
    }

    .footer-summery {
        height: 100%;
        padding-left: 20px;
    }

    .border-left {
        border-left: 1px solid #dadada;
    }

    .red {
        color: #d53737 !important;
    }

    .SimpleGridHeaderRow {
        pointer-events: none;
    }

    .SimpleGridViewRow:hover {
        background: #f8f8f8;
    }

    .SimpleGridViewRow:hover .trashIcon {
        display: block !important;
    }

    .trashIcon {
        opacity: 0.6;
    }

    .trashIcon:hover {
        opacity: 1;
    }

    .NoRows {
        text-align: center;
        color: #a0a0a0;
        font-size: 15px;
        font-style: italic;
        font-family: verdana;
        vertical-align: middle;
        position: relative;
        height: 100px;
    }

    /* Override ComboBox styles */
    .ComboBox {
        outline: none !important;
        font-size: 11px !important;
        color: #45494A !important;
        -webkit-border-radius: 3px !important;
        -moz-border-radius: 3px !important;
        border-radius: 3px !important;
        -moz-box-shadow: inset 0 0 3px #AAAAAA !important;
        -webkit-box-shadow: inset 0 0 3px #AAAAAA !important;
        box-shadow: inset 0 0 3px #AAAAAA !important;
    }

    .slide-animation {
        animation: animationFrames ease 0.5s;
        animation-iteration-count: 1;
        transform-origin: 50% 50%;
        animation-fill-mode: forwards;
        /*when the spec is finished*/
        -webkit-animation: animationFrames ease 0.5s;
        -webkit-animation-iteration-count: 1;
        -webkit-transform-origin: 50% 50%;
        -webkit-animation-fill-mode: forwards;
        /*Chrome 16+, Safari 4+*/
        -moz-animation: animationFrames ease 0.5s;
        -moz-animation-iteration-count: 1;
        -moz-transform-origin: 50% 50%;
        -moz-animation-fill-mode: forwards;
        /*FF 5+*/
        -o-animation: animationFrames ease 0.5s;
        -o-animation-iteration-count: 1;
        -o-transform-origin: 50% 50%;
        -o-animation-fill-mode: forwards;
        /*Not implemented yet*/
        -ms-animation: animationFrames ease 0.5s;
        -ms-animation-iteration-count: 1;
        -ms-transform-origin: 50% 50%;
        -ms-animation-fill-mode: forwards;
        /*IE 10+*/
    }

    @keyframes animationFrames {
        0% {
            opacity: 0;
            transform: translate(0px, 6px);
        }

        100% {
            opacity: 1;
            transform: translate(0px, 0px);
        }
    }

    @-moz-keyframes animationFrames {
        0% {
            opacity: 0;
            -moz-transform: translate(0px, 6px);
        }

        100% {
            opacity: 1;
            -moz-transform: translate(0px, 0px);
        }
    }

    @-webkit-keyframes animationFrames {
        0% {
            opacity: 0;
            -webkit-transform: translate(0px, -6px);
        }

        100% {
            opacity: 1;
            -webkit-transform: translate(0px, 0px);
        }
    }

    @-o-keyframes animationFrames {
        0% {
            opacity: 0;
            -o-transform: translate(0px, 6px);
        }

        100% {
            opacity: 1;
            -o-transform: translate(0px, 0px);
        }
    }

    @-ms-keyframes animationFrames {
        0% {
            opacity: 0;
            -ms-transform: translate(0px, 6px);
        }

        100% {
            opacity: 1;
            -ms-transform: translate(0px, 0px);
        }
    }


    .Alert {
        position: absolute;
        top: 20px;
        left: 0px;
        right: 0px;
        z-index: 10;
        width: 400px;
        height: 100px;
        color: #717171;
        text-align: center;
        background: #f3f3f3;
        border: 1px solid #c8c8c8;
        border-radius: 12px;
        padding: 5px;
        margin: auto;
        white-space: normal;
        -webkit-box-shadow: 3px 3px 2px 0px rgba(50, 50, 50, 0.14);
        -moz-box-shadow: 3px 3px 2px 0px rgba(50, 50, 50, 0.14);
        box-shadow: 3px 3px 2px 0px rgba(50, 50, 50, 0.14);

        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e6e6e6+0,ffffff+39,ffffff+100 */
        background: #e6e6e6;
        /* Old browsers */
        background: -moz-linear-gradient(top, #e6e6e6 0%, #ffffff 39%, #ffffff 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #e6e6e6 0%, #ffffff 39%, #ffffff 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #e6e6e6 0%, #ffffff 39%, #ffffff 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e6e6', endColorstr='#ffffff', GradientType=0);
        /* IE6-9 */

    }

    .alert-close {
        float: right;
        position: absolute;
        right: 5px;
        top: 5px;
        font-weight: bold;
        cursor: pointer;
        color: #a78757;
    }

    .alert-title {
        float: left;
        position: absolute;
        left: 15px;
        top: 5px;
        cursor: pointer;
        font-size: 16px;
        color: #1b90d1;
    }

    .ConfirmIcon {
        margin-top: 36px;
        left: 20px;
        width: 45px;
        height: 45px;
        line-height: 44px;
        color: white;
        font-size: 28px;
        font-weight: bold;
        font-family: Arial;
        text-align: center;
        vertical-align: middle;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#429b30+0,b8ddb8+100 */
        background: #429b30;
        /* Old browsers */
        background: -moz-linear-gradient(top, #429b30 0%, #b8ddb8 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #429b30 0%, #b8ddb8 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #429b30 0%, #b8ddb8 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#429b30', endColorstr='#b8ddb8', GradientType=0);
        /* IE6-9 */

    }

    .SubTitle {
        font-size: 14px;
        color: #09a6d8;
        padding: 10px 5px;
    }

    /* list styles */
    ul.horizontal-list {
        list-style: none;
        height: 30px;
        padding: 0 15px 0 0;
        width: fit-content;
        border: 1px solid #d6d6d6;
        border-radius: 3px;

        /* Background */
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6f6f6+0,e3e3e3+100 */
        background: #f6f6f6;
        /* Old browsers */
        background: -moz-linear-gradient(top, #f6f6f6 0%, #e3e3e3 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #f6f6f6 0%, #e3e3e3 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #f6f6f6 0%, #e3e3e3 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#e3e3e3', GradientType=0);
        /* IE6-9 */

    }

    ul.horizontal-list li {
        display: inline;
        user-select: none;
    }

    ul.horizontal-list li.seperator {
        width: 2px;
        /*margin: 0 6px;*/
        height: 100%;
        border-right: 1px solid #dedede;
        border-left: 1px solid #f7f7f7;
        float: right;
    }

    .filter-button {
        cursor: pointer;
        /*border: 1px solid #c7c7c7;*/
        border-radius: 4px;
        padding: 0px 4px;
        height: 100%;

        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f1f1f1+0,f7f7f7+34,f1f1f1+100 */
        background: #f1f1f1;
        /* Old browsers */
        background: -moz-linear-gradient(top, #f1f1f1 0%, #f7f7f7 34%, #f1f1f1 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #f1f1f1 0%, #f7f7f7 34%, #f1f1f1 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #f1f1f1 0%, #f7f7f7 34%, #f1f1f1 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#f1f1f1', GradientType=0);
        /* IE6-9 */
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
    }

    .filter-button:hover {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f7f7f7+34,f1f1f1+100 */
        background: #ffffff;
        /* Old browsers */
        background: -moz-linear-gradient(top, #ffffff 0%, #f7f7f7 34%, #f1f1f1 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #ffffff 0%, #f7f7f7 34%, #f1f1f1 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #ffffff 0%, #f7f7f7 34%, #f1f1f1 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f1f1f1', GradientType=0);
        /* IE6-9 */
    }

    .filter-button:active {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d8d8d8+0,f7f7f7+34,e4e4e4+100 */
        background: #d8d8d8;
        /* Old browsers */
        background: -moz-linear-gradient(top, #d8d8d8 0%, #f7f7f7 34%, #e4e4e4 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #d8d8d8 0%, #f7f7f7 34%, #e4e4e4 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #d8d8d8 0%, #f7f7f7 34%, #e4e4e4 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d8d8d8', endColorstr='#e4e4e4', GradientType=0);
        /* IE6-9 */
    }

    .FlipImgVert {
        transform: rotate(180deg);
    }

    .SaveAlert {
        color: #717171;
        text-align: center;
        background: #fff5ce;
        border: 1px solid #ffd598;
        border-radius: 6px;
        padding: 5px;
        margin: auto;
        white-space: normal;
    }
</style>

<div style="padding: 10px;height: 100%;">

    <table>
        <tr style="height:1px; float:isRTL ? right :left;">
            <td>
            <p style="width: 250px; margin-right:isRTL ? 150px : 0px; margin-left:isRTL ?0px:150px; text-align: center;">{{BankName}}</p>
            </td>
        </tr>
        <!-- Alert -->
        <tr *ngIf="showAlert" style="height:1px;">
            <td colspan="2">

                <div class="alert-animation SaveAlert" [style.text-align]="isRTL ? 'right' : 'left'"
                    style="margin: 0 auto;margin-bottom: 8px;min-width: 325px;height: 24px;width: fit-content;background: #c0e8c2;border: 1px solid #54a758;color: #6a7769;position: relative;padding: 3px 5px;border-radius: 5px; padding-left: 40px;"
                    [style.padding-left]="isRTL ? '40px' : 'initial'"
                    [style.padding-right]="isRTL ? 'initial' : '40px'">

                    <div class="alert-close" (click)="CloseAlert()" [style.right]="isRTL ? 'initial' : '5px'"
                        [style.left]="isRTL ? '5px' : 'initial'"
                        style="color: #439c47;text-decoration: underline;top: 3px;">
                        {{'Accounting.General.B.Close' | TextCodeTranslationPipe}}</div>
                    {{'Accounting.General.O.Reconciliation' | TextCodeTranslationPipe}} <a *ngIf="ExternalRecoPM"
                        href="#" (click)="OpenReco()"> {{ExternalRecoPM.ReconciliationNumber }}</a>
                    {{'Accounting.General.O.wascreatedsuccessfully' | TextCodeTranslationPipe}}.
                    {{GetAutoRecoMSG()}}
                </div>
            </td>

        </tr>

        <!-- Validation Box-->
        <tr *ngIf="ValidationErrorsList != null && ValidationErrorsList.length > 0" style="height:1px;">
            <td colspan="2">
                <ValidationSummary [ItemsSource]="ValidationErrorsList"></ValidationSummary>
            </td>
        </tr>

        <!-- Filter Fields -->
        <tr style="height: 50px;">
            <td colspan="2" style="">
                <table>
                    <!-- Automatic Reconcile Toolbar -->
                    <tr class="FormFieldRow">
                        <td>

                            <!-- First List -->
                            <ul class="horizontal-list" [style.padding]="isRTL ? '0 15px 0 0' : '0 0 0 15px'" float-start>
                                <li float-start [style.padding-left]="isRTL ? '40px' : 'initial'"
                                    [style.padding-right]="isRTL ? 'initial' : '40px'" style="padding-top: 4px;"
                                    (click)="LabelClicked()">
                                    {{'Accounting.O.ReconcileAccordingTo' | TextCodeTranslationPipe}}:</li>

                                <!-- Amount Checkbox -->
                                <li float-start style="padding: 0 8px;padding-top: 5px;"> 
                                    <CheckBox [IsChecked]="AmountCheckBoxChecked"
                                        (Checked)="AmountCheckBoxChecked = $event"></CheckBox>
                                </li> 
                                <li float-start [style.padding-left]="isRTL ? '30px' : 'initial'"
                                    [style.padding-right]="isRTL ? 'initial' : '30px'" style="padding-top: 4px;">
                                    {{'Accounting.General.O.Amount' | TextCodeTranslationPipe}}</li>

                                <!-- Reference Date Checkbox -->
                                <li float-start style="padding: 0 8px;padding-top: 5px;">
                                    <CheckBox [IsChecked]="ReferenceDateCheckBoxChecked"
                                        (Checked)="ReferenceDateCheckBoxChecked = $event"></CheckBox>
                                </li>
                                <li float-start [style.padding-left]="isRTL ? '30px' : 'initial'"
                                    [style.padding-right]="isRTL ? 'initial' : '30px'" style="padding-top: 4px;">
                                    {{'ReconcileExternalPageLine.F.ReferenceDate' | TextCodeTranslationPipe}}</li>

                                <!-- Reference Checkbox -->
                                <li float-start style="padding: 0 8px;padding-top: 5px;">
                                    <CheckBox [IsChecked]="ReferenceCheckBoxChecked"
                                        (Checked)="ReferenceCheckBoxChecked = $event"></CheckBox>
                                </li>
                                <li float-start [style.padding-left]="isRTL ? '30px' : 'initial'"
                                    [style.padding-right]="isRTL ? 'initial' : '30px'" style="padding-top: 4px;">
                                    {{'Accounting.General.O.Reference' | TextCodeTranslationPipe}}</li>

                                <!-- Auto Reco Button -->
                                <li float-start style="padding: 0 15px;padding-top: 2px;"><button class="Button"
                                        (click)="AutoReco()">{{'Accounting.General.O.AutomaticReconcile' | TextCodeTranslationPipe}}</button>
                                </li>

                                <!-- Refresh Button -->
                                <!--<li float-start style="padding: 0 15px;padding-top: 2px;"><button class="Button" (click)="RefreshButtonClicked()">R</button></li>-->
                                <!-- Seperator -->
                                <!-- <li float-start class="seperator"></li> -->


                                <!-- Seperator -->
                                <li float-start class="seperator"></li>

                                <!-- Show lines in progress -->
                                <li float-start style="padding: 0 8px;padding-top: 5px;">
                                    <CheckBox [IsChecked]="ShowInProgessLines" (Checked)="ShowInProgessLines = $event">
                                    </CheckBox>
                                </li>
                                <li float-start [style.padding-left]="isRTL ? '30px' : 'initial'"
                                    [style.padding-right]="isRTL ? 'initial' : '30px'" style="padding-top: 4px;">
                                    {{'ReconcileExternalPageLine.O.ShowInProgess' | TextCodeTranslationPipe}}
                                </li>

                                <!-- Seperator -->
                                <li float-start class="seperator"></li>

                                <!-- Filters Button -->
                                <li float-start style="width: 41px;padding-top: 3px;position: relative;"
                                    class="filter-button" (click)="FilterButtonClicked()">
                                    <div class="">
                                        <img [attr.src]="isFiltersSelected ? './Images/FilterGrayTransUsed.png' : './Images/FilterGrayTrans.png'"
                                            [attr.title]="isFiltersSelected ? txt_FiltersSelected : ''">
                                        <img [class.FlipImgVert]="isFiltersVisible" src="./Images/FiltersOpen.png">
                                    </div>

                                    <div *ngIf="isFiltersVisible" style="width: 44px;
                                            height: 10px;
                                            z-index: 9999;
                                            background: #f2f2f2;
                                            position: absolute;
                                            bottom: -6px;
                                            left: -1px;
                                            /* right: 0; */
                                            border-left: 1px solid #d6d6d6;
                                            border-right: 1px solid #d6d6d6;"></div>
                                </li>


                            </ul>

                            <!-- Auto Reco Alert -->
                            <div *ngIf="IsAutoReconcile" class="alert-animation SaveAlert"
                                [style.float]="isRTL ? 'right' : 'left'" [style.text-align]="isRTL ? 'right' : 'left'"
                                style="margin: 3px 10px 0;min-width: 150px;height: 24px;width: fit-content;color: #6a7769;position: relative;padding: 2px 10px;border-radius: 5px;">

                                {{GetAutoRecoBackMSG()}}
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="#" (click)="AutoRecoBackButtonClicked()" style="font-size: 12px;">
                                    {{'Accounting.O.BackFromAutoRecoBACK' | TextCodeTranslationPipe}}</a>

                            </div>

                        </td>
                    </tr>

                    <!-- Filters selected -->
                    <tr *ngIf="isFiltersVisible" class="FormFieldRow">
                        <td>
                            <ul class="horizontal-list" style="overflow: auto;">

                                <!-- Date -->
                                <li float-start style="padding-left: 20px;padding-top: 4px;">
                                    {{'Accounting.General.O.Date' | TextCodeTranslationPipe}}:</li>
                                <li float-start style="padding: 0 5px;padding-top: 2px;width: 150px;">
                                    <ComboBox [ItemsSource]="DateFilterList" [Binding]="'LocalName'"
                                        [SelectedItem]="SelectedDateOperator"
                                        (SelectedItemChanged)="SelectedDateOperator = $event"></ComboBox>
                                </li>
                                <li float-start style="padding: 0 5px;padding-top: 2px;width: 150px;">
                                    <LogDatePicker [ObjectFieldName]="'FromDate'" [ObjectTableName]="ExtRecoTable"
                                        [NoObjectField]="true" [SelectedDateValue]="FromDate" [ForceSubscribe]="true"
                                        [DataContext]="DataContext" [HideColumns]="true"></LogDatePicker>
                                </li>
                                <li float-start style="padding: 0 5px;padding-top: 2px;width: 150px;">
                                    <LogDatePicker [ObjectFieldName]="'ToDate'" [ObjectTableName]="ExtRecoTable"
                                        [NoObjectField]="true" [SelectedDateValue]="ToDate" [ForceSubscribe]="true"
                                        [DataContext]="DataContext" [HideColumns]="true"></LogDatePicker>
                                </li>

                                <li float-start style="width: 40px;height: 100%;"></li>

                                <!-- ForeignAmount -->
                                <li float-start style="padding-left: 20px;padding-top: 4px;">
                                    {{'LedgerTransaction.F.ForeignAmount' | TextCodeTranslationPipe}}:</li>
                                <li float-start style="padding: 0 5px;padding-top: 2px;width: 150px;">
                                    <ComboBox [ItemsSource]="OperatorsList" [Binding]="'LocalName'"
                                        [SelectedItem]="SelectedOperator"
                                        (SelectedItemChanged)="SelectedOperator = $event"></ComboBox>
                                </li>
                                <li float-start style="padding: 0 5px;padding-top: 2px;width: 100px;">
                                    <LogTextBox [InputType]="'sigdouble'" [NoObjectField]="true"
                                        [ObjectFieldName]="'OpenAmount'" [Text]="OpenAmount" [HideColumns]="true"
                                        (ValueChanged)="OpenAmountTextChanged($event)"
                                        [ObjectTableName]="ExtRecoTable" [DataContext]="DataContext"></LogTextBox>
                                </li>

                                <!-- Reset Filters Button -->
                                <li float-start style="padding: 0 15px;padding-top: 2px;">
                                    <IconButton *ngIf="isFiltersSelected" [Name]="'delete'" (click)="ResetFilters()">
                                    </IconButton>
                                </li>

                                <li float-start style="width: 40px;height: 100%;"></li>

                                <!-- Search -->
                                <li float-start style="padding-left: 20px;padding-top: 4px;">
                                    {{'Accounting.General.B.Search' | TextCodeTranslationPipe}}:</li>
                                <li float-start
                                    style="padding: 0 5px;padding-top: 2px;width: 170px;position: relative;">
                                    <SearchTextBox [ObjectTableName]="'LedgerTransaction'"
                                        (SearchTextChangeEvent)="TextChanged($event)"></SearchTextBox>
                                </li>

                                <!-- Refresh Button -->
                                <li float-start style="padding: 0 15px;padding-top: 2px;">
                                    <IconButton [Name]="'refresh'" (click)="RefreshButtonClicked()"></IconButton>
                                </li>


                            </ul>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div></div>
                        </td>
                    </tr>

                </table>
            </td>
        </tr>

        <tr>
            <!-- Section B -->
            <td style="width: 50%;padding: 0px 8px;">
                <table>

                    <!-- subtitle -->
                    <tr>
                        <td>
                            <div class="SubTitle">{{'ReconcileExternalPage.O.Transactions' | TextCodeTranslationPipe}}
                                ({{IsAutoReconcile ? TransactionSelectedLines.Length : transCount}})</div>
                        </td>
                    </tr>

                    <!-- Grid -->
                    <tr *ngIf="!IsAutoReconcile">
                        <td style="height: 100%; padding-bottom: 3px; vertical-align: top;">
                            <div class="GeneratedGridContainer" style="height: calc(100% - 20px)" *ngIf="LoadGrids">
                                <logitude-grid GridWidth="100%" GridHeight="100%" 
                                [ObjectTable]="'LedgerTransaction'"
                                [dataSource]="TransactionDataSource" 
                                [FireCheckBoxChecked]="TransactionFireCheckBoxChecked"
                                [MenuHeaderchangeevent]="TransactionMenuHeaderchangeevent" 
                                [columns]="TransactionsColumns" 
                                [autoLoad]="true"
                                [QueryChangeEvent]="TransactiononQueryChangeEvent" 
                                [IsCustomTemplate]="true"
                                (CountReady)="onCountReadyTrans($event)" 
                                [PassAdditionalDataToTemplates]="true"
                                [ColumnsReady]="TransactionColumnsReady" 
                                [MarkIsChecked]="TransactionMarkIsChecked"
                                (DataLoaded)="TransactiononDataLoaded()" 
                                (SortInvoked)="OnSortInvoked($event)">
                                </logitude-grid>
                            </div>
                        </td>
                    </tr>

                    <!-- Edit Grid -->
                    <tr>
                        <td style="height: 160px;"
                            [style.height]="IsAutoReconcile ? '100%' : ( getScreenHeight() < 670 ? '120px' : '160px')">
                            <div class="CellContent">
                                <logitude-edit-grid GridWidth="100%" GridHeight="100%"
                                    [ItemSource]="TransactionSelectedLines" [UseVirtuallization]="true">

                                    <log-column [Alignment]="isRTL ? 'right' : 'left'" [width]="'30'">
                                        <ng-template let-item>
                                        <log-cell-template   [IgnoreMods]="true">
                                            <img (click)="CheckBoxValueChanged(item)" class="trashIcon" title="Remove"
                                                style="cursor: pointer;" src="./Images/Trash-can.png" />
                                        </log-cell-template>
                                        </ng-template>
                                    </log-column>

                                    <log-column *ngIf="IsAutoReconcile" [Alignment]="isRTL ? 'right' : 'left'"
                                        [header]="'#'" [width]="'50'" [binding]="'GroupHash'">
                                        <ng-template let-item>
                                        <log-cell-template   #logcelltemplate [IgnoreMods]="true">
                                            <div class="TextTrimming" [style.text-align]="isRTL ? 'right' : 'left'">
                                                <span>{{item.GroupHash}}</span>
                                            </div>
                                        </log-cell-template>
                                    </ng-template>
                                    </log-column>

                                    <log-column [Alignment]="isRTL ? 'right' : 'left'"  [SortFieldName]="'DocumentDate'"
                                        [header]="'LedgerTransaction.F.DocumentDate' | TextCodeTranslationPipe"
                                        [width]="'100'" [binding]="'DocumentDate'">
                                        <ng-template let-item>
                                        <log-cell-template   #logcelltemplate [IgnoreMods]="true">
                                            <div class="TextTrimming" [style.text-align]="isRTL ? 'right' : 'left'">
                                                <span>{{item.DocumentDate | DateTimeToDatePipe }}</span>
                                            </div>
                                        </log-cell-template>
                                    </ng-template>
                                    </log-column>

                                    <log-column [Alignment]="isRTL ? 'right' : 'left'" [SortFieldName]="'SourceNumber'"
                                        [header]="'LedgerTransaction.F.Source' | TextCodeTranslationPipe"
                                        [width]="'100'" [binding]="'Source'">
                                        <ng-template let-item>
                                        <log-cell-template   #logcelltemplate [IgnoreMods]="true">
                                            <div class="TextTrimming" [style.text-align]="isRTL ? 'left' : 'left'">
                                                <span title="{{item.SourceType}}" *ngIf="item.IconCode"
                                                    (click)="OpenSource(item.SourceId, item.SourceTypeCode)"
                                                    [class]="'SourceTypeIcon color-' + item.SourceTypeCode">{{item.IconCode}}</span>
                                                <a href="javascript:;"
                                                    (click)="OpenSource(item.SourceId, item.SourceTypeCode)">{{item.SourceNumber}}</a>
                                            </div>
                                        </log-cell-template>
                                    </ng-template>
                                    </log-column>

                                    <log-column [Alignment]="isRTL ? 'right' : 'left'" [SortFieldName]="'ForeignAmount'"
                                        [header]="'LedgerTransaction.F.ForeignAmount' | TextCodeTranslationPipe"
                                        [width]="'120'" [binding]="'ForeignAmount'">
                                        <ng-template let-item>
                                        <log-cell-template   #logcelltemplate [IgnoreMods]="true">
                                            <div style="color:#00a24d;direction: ltr; text-align: right; padding: 0px 2px;"
                                                [class.red]='item.IsCredit'>
                                                <span>{{ item.ForeignAmount | NumbersPipe:'N2'  }}</span>
                                            </div>
                                        </log-cell-template>
                                    </ng-template>
                                    </log-column>

                                    <log-column [Alignment]="isRTL ? 'right' : 'left'" [SortFieldName]="'Reference1'"
                                        [header]="'LedgerTransaction.F.Reference1' | TextCodeTranslationPipe"
                                        [width]="'80'" [binding]="'Reference1'">
                                        <ng-template let-item>
                                        <log-cell-template   #logcelltemplate [IgnoreMods]="true">
                                            <div class="TextTrimming" [style.text-align]="isRTL ? 'right' : 'left'">
                                                <span>{{item.Reference1}}</span>
                                            </div>
                                        </log-cell-template>
                                    </ng-template>
                                    </log-column>

                                    <log-column [Alignment]="isRTL ? 'right' : 'left'" [SortFieldName]="'Reference2'"
                                        [header]="'LedgerTransaction.F.Reference2' | TextCodeTranslationPipe"
                                        [width]="'80'" [binding]="'Reference3'">
                                        <ng-template let-item>
                                        <log-cell-template   #logcelltemplate [IgnoreMods]="true">
                                            <div class="TextTrimming" [style.text-align]="isRTL ? 'right' : 'left'">
                                                <span>{{item.Reference2}}</span>
                                            </div>
                                        </log-cell-template>
                                    </ng-template>
                                    </log-column>

                                    <log-column [Alignment]="isRTL ? 'right' : 'left'" [SortFieldName]="'Reference3'"
                                        [header]="'LedgerTransaction.F.Reference3' | TextCodeTranslationPipe"
                                        [width]="'80'" [binding]="'Reference4'">
                                        <ng-template let-item>
                                        <log-cell-template   #logcelltemplate [IgnoreMods]="true">
                                            <div class="TextTrimming" [style.text-align]="isRTL ? 'right' : 'left'">
                                                <span>{{item.Reference3}}</span>
                                            </div>
                                        </log-cell-template>
                                    </ng-template>
                                    </log-column>

                                    <log-column [Alignment]="isRTL ? 'right' : 'left'" [SortFieldName]="'Notes'"
                                        [header]="'LedgerTransaction.F.Notes' | TextCodeTranslationPipe" [width]="'120'"
                                        [binding]="'Notes'">
                                        <ng-template let-item>
                                        <log-cell-template   #logcelltemplate [IgnoreMods]="true">
                                            <div class="TextTrimming" [style.text-align]="isRTL ? 'right' : 'left'">
                                                <span>{{item.Notes}}</span>
                                            </div>
                                        </log-cell-template>
                                    </ng-template>
                                    </log-column>

                                </logitude-edit-grid>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td style="height: 5px; border-top: 1px solid lightgray;">
                            <div></div>
                        </td>
                    </tr>

                    <!-- Totals -->
                    <tr>
                        <td style="height: 60px;">
                            <div style="color: #00b1e9;">
                                {{ getTotalText('glaccount') }}
                            </div>
                            <div style="font-size: 15px;color:#0a7d4c;" [class.red]="accountTransactionsTotal<0">
                                <!--{{'ReconcileExternalPage.O.Sum' | TextCodeTranslationPipe}}:-->
                                {{accountTransactionsTotal | NumbersPipe: 'N2'}} {{ openAmountCurrency }}
                            </div>
                        </td>

                    </tr>

                </table>
            </td>

            <!-- Section A -->
            <td style="width: 50%;padding: 0px 8px;">
                <table>

                    <!-- subtitle -->
                    <tr>
                        <td colspan="3">
                            <div class="SubTitle">
                                {{ExternalPagesTitle}}
                                ({{IsAutoReconcile ? ExtPageSelectedLines.Length : extPageCount}})</div>
                        </td>
                    </tr>

                    <!-- Grid -->
                    <tr *ngIf="!IsAutoReconcile">
                        <td colspan="3" style="height: 100%; padding-bottom: 3px; vertical-align: top;">
                            <div class="GeneratedGridContainer" style="height: calc(100% - 20px)" *ngIf="LoadGrids">
                                <logitude-grid GridWidth="100%" GridHeight="100%"
                                    [ObjectTable]="'ReconcileExternalPageLine'" [dataSource]="ExtPageDataSource"
                                    [FireCheckBoxChecked]="ExtPageFireCheckBoxChecked"
                                    [MenuHeaderchangeevent]="ExtPageMenuHeaderchangeevent" [columns]="ExtPageColumns"
                                    [autoLoad]="true" [QueryChangeEvent]="ExtPageonQueryChangeEvent"
                                    [IsCustomTemplate]="true" [PassAdditionalDataToTemplates]="true"
                                    (CountReady)="onCountReadyExtPage($event)" [ColumnsReady]="ExtPageColumnsReady"
                                    [MarkIsChecked]="ExtPageMarkIsChecked" (DataLoaded)="ExtPageonDataLoaded()" (SortInvoked)="OnSortInvoked($event)">
                                </logitude-grid>
                            </div>
                        </td>
                    </tr>

                    <!-- Edit Grid -->
                    <tr>
                        <td colspan="3"
                            [style.height]="IsAutoReconcile ? '100%' : ( getScreenHeight() < 670 ? '120px' : '160px')"
                            style="height: 160px;">
                            <div class="CellContent">
                                <logitude-edit-grid GridWidth="100%" GridHeight="100%" [ItemSource]="ExtPageSelectedLines"
                                    [UseVirtuallization]="true">

                                    <log-column [Alignment]="isRTL ? 'right' : 'left'" [width]="'30'">
                                        <ng-template let-item>
                                        <log-cell-template   [IgnoreMods]="true">
                                            <img (click)="ExtPageCheckBoxValueChanged(item)" class="trashIcon"
                                                title="Remove" style="cursor: pointer;" src="./Images/Trash-can.png" />
                                        </log-cell-template>
                                    </ng-template>
                                    </log-column>


                                    <log-column *ngIf="IsAutoReconcile" [Alignment]="isRTL ? 'right' : 'left'"
                                        [header]="'#'" [width]="'50'" [binding]="'GroupHash'">
                                        <ng-template let-item>
                                        <log-cell-template   #logcelltemplate [IgnoreMods]="true">
                                            <div class="TextTrimming" [style.text-align]="isRTL ? 'right' : 'left'">
                                                <span>{{item.GroupHash}}</span>
                                            </div>
                                        </log-cell-template>
                                    </ng-template>
                                    </log-column>

                                    <log-column [Alignment]="isRTL ? 'right' : 'left'"  [SortFieldName]="'ReferenceDate'"
                                        [header]="'ReconcileExternalPageLine.F.ReferenceDate' | TextCodeTranslationPipe"
                                        [width]="'100'" [binding]="'ReferenceDate'">
                                        <ng-template let-item>
                                        <log-cell-template   #logcelltemplate [IgnoreMods]="true">
                                            <div class="TextTrimming" [style.text-align]="isRTL ? 'right' : 'left'">
                                                <span>{{item.ReferenceDate | DateTimeToDatePipe }}</span>
                                            </div>
                                        </log-cell-template>
                                    </ng-template>
                                    </log-column>

                                    <log-column [Alignment]="isRTL ? 'right' : 'left'"  [SortFieldName]="'Amount'"
                                        [header]="'ReconcileExternalPageLine.F.Amount' | TextCodeTranslationPipe"
                                        [width]="'120'" [binding]="'Amount'">
                                        <ng-template let-item>
                                        <log-cell-template   #logcelltemplate [IgnoreMods]="true">
                                            <div style="color:#00a24d;direction: ltr; text-align: right; padding: 0px 2px;"
                                                [class.red]='item.IsCredit'>
                                                <span>{{ item.Amount | NumbersPipe:'N2'  }}
                                                    {{item.OpenAmountCurrencySign}}</span>
                                            </div>
                                        </log-cell-template>
                                    </ng-template>
                                    </log-column>

                                    <log-column [Alignment]="isRTL ? 'right' : 'left'"  [SortFieldName]="'Reference'"
                                        [header]="'ReconcileExternalPageLine.F.Reference' | TextCodeTranslationPipe"
                                        [width]="'150'" [binding]="'Reference'">
                                        <ng-template let-item>
                                        <log-cell-template   #logcelltemplate [IgnoreMods]="true">
                                            <div class="TextTrimming" [style.text-align]="isRTL ? 'right' : 'left'">
                                                <span>{{item.Reference}}</span>
                                            </div>
                                        </log-cell-template>
                                    </ng-template>
                                    </log-column>

                                    <log-column [Alignment]="isRTL ? 'right' : 'left'"  [SortFieldName]="'Notes'"
                                        [header]="'ReconcileExternalPageLine.F.Notes' | TextCodeTranslationPipe"
                                        [width]="IsAutoReconcile ? '100' : '150'" [binding]="'Notes'">
                                        <ng-template let-item>
                                        <log-cell-template   #logcelltemplate [IgnoreMods]="true">
                                            <div class="TextTrimming" [style.text-align]="isRTL ? 'right' : 'left'">
                                                <span>{{item.Notes}}</span>
                                            </div>
                                        </log-cell-template>
                                    </ng-template>
                                    </log-column>

                                </logitude-edit-grid>

                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="3" style="height: 5px; border-top: 1px solid lightgray;">
                            <div></div>
                        </td>
                    </tr>

                    <!-- Totals -->
                    <tr>
                        <td style="width: 100px;height: 60px;color: #00b1e9;">
                            <div>
                                {{ getTotalText('ExtPage') }}
                            </div>
                            <div style="font-size: 15px;color:#0a7d4c;" [class.red]="extPageTransactionsTotal<0">
                                {{extPageTransactionsTotal | NumbersPipe: 'N2'}} {{ openAmountCurrency }}
                            </div>
                        </td>

                        <td style="height: 60px;"></td>

                        <!-- Difference -->
                        <td style="height: 60px;width: 100px;">
                            <div style="color: #00b1e9;font-weight: bold;">
                                {{'ReconcileExternalPage.O.Difference' | TextCodeTranslationPipe}}
                            </div>
                            <div style="font-size: 15px;color:#0f9776;" [class.red]="totalDifference!=0">
                                {{totalDifference | NumbersPipe: 'N2'}} {{ openAmountCurrency }}
                            </div>
                        </td>

                    </tr>

                </table>
            </td>
        </tr>

        <!-- Buttons -->
        <tr style="height: 32px;">
            <td colspan="2">
                <table style="height: 28px;">
                    <tr>
                        <td>
                            <div></div>
                        </td>

                        <td style="width: 170px; height: 22px; padding-left: 5px;">

                            <div *ngIf="IsGeneratePasswordVisible" style="width: 210px">
                                <div style="float: left;width: 175px;">
                                    <input [(ngModel)]="GeneratePWD" type="password"
                                        placeholder="Enter Generate Button Password" />
                                </div>
                                <div style="float: left;">
                                    <button class="Button" (click)="PasswordOkButtonClicked()">Ok</button>
                                </div>
                            </div>

                            <div *ngIf="IsGenerateButtonVisible"
                                style="height:22px;padding: 0px 5px; width: 170px; position: absolute; top:0px; text-align:left;">

                                <div tabindex="0" class="ToggleButton"
                                    style="margin: auto;text-align:left; width: 100% !important; height: 100% !important">
                                    <label>Generate test records</label>
                                    <img src="./Images/ToggleIcon.png" />
                                    <div [style.right]="isRTL ? 'initial' : '0'" [style.left]="isRTL ? '0' : 'initial'"
                                        class="ToggleButtonMenu"
                                        style="bottom:22px;top: unset !important;width: 160px;">
                                        <button (click)="GenerateTestLines('1')">One to One</button>
                                        <button (click)="GenerateTestLines('2')">One to More</button>
                                    </div>
                                </div>

                                <!--<button class="Button" (click)="GenerateTestLines()">Generate test records</button>-->
                            </div>
                        </td>

                        <td style="width: 57px; padding-left: 5px;">
                            <button class="Button"
                                (click)="CancelButtonClicked()">{{'Accounting.General.B.Close' | TextCodeTranslationPipe}}</button>
                        </td>

                        <td style="width: 110px; padding-left: 5px;">
                            <button class="Button" (click)="SaveAsDraftButton()"
                                disabled>{{'Accounting.General.O.Saveasdraft' | TextCodeTranslationPipe}}</button>
                        </td>

                        <td style="width: 110px; padding-left: 5px;">
                            <button class="RedButton"
                                (click)="ReconcileButtonClicked()">{{'Accounting.General.O.Reconcile' | TextCodeTranslationPipe}}</button>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

    </table>

</div>
