<style>
    .red {
        color: #d53737 !important;
    }

    .x-button {
        width: initial !important;
        position: relative;
        margin: 0;
        height: 22px;
        float: left;
        outline: none;
        line-height: 21px;
        border: 1px solid #6A8299;
        background: -moz-linear-gradient(50% 0% -90deg,rgba(255, 255, 255, 1) 0%,rgba(237, 192, 147, 1) 100%);
        background: -webkit-linear-gradient(-90deg, rgba(255, 255, 255, 1) 0%, rgba(237, 192, 147, 1) 100%);
        background: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0,rgba(255, 255, 255, 1) ),color-stop(1,rgba(237, 192, 147, 1) ));
        background: -o-linear-gradient(-90deg, rgba(255, 255, 255, 1) 0%, rgba(237, 192, 147, 1) 100%);
        background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(237, 192, 147, 1) 100%);
    }

    .x-button:disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    .x-button:hover {
        cursor: pointer;
        background: -moz-linear-gradient(50% 0% -90deg,rgba(255, 255, 255, 1) 0%,rgba(237, 192, 147, 0.85) 100%);
        background: -webkit-linear-gradient(-90deg, rgba(255, 255, 255, 1) 0%, rgba(237, 192, 147, 0.85) 100%);
        background: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0,rgba(255, 255, 255, 1) ),color-stop(1,rgba(237, 192, 147, 0.85) ));
        background: -o-linear-gradient(-90deg, rgba(255, 255, 255, 1) 0%, rgba(237, 192, 147, 0.85) 100%);
        background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(237, 192, 147, 0.85) 100%);
    }

    .x-button:active {
        background: #F2F2F2;
    }

    .x-button.x-button-drop {
        border-right: 0;
        height: 22px;
    }

    .x-button-drop-menu {
        position: absolute;
        top: 23px;
        z-index: 1000;
        text-align: right;
        float: left;
        min-width: 130px;
        font-size: 15px;
        list-style: none;
        background-color: #F2F2F2;
        background-clip: padding-box;
        border: .5px solid #45494A;
        box-shadow: .5px .5px 2px #6A8299;
    }

    .x-button-drop-menu li span {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-family: arial;
        color: #444;
        text-decoration: none;
        height: 22px;
    }

    .x-button-drop-menu li span:hover {
        background: #D3D3D3;
        cursor: pointer;
    }

    .truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    display: block;
    }

</style>
<table>
    <tr *ngIf="ValidationErrorsList != null && ValidationErrorsList.length > 0" style="height:1px;">
        <td>
            <ValidationSummary [ItemsSource]="ValidationErrorsList"></ValidationSummary>
        </td>
    </tr>
    <tr>
        <td>
            <div class="TableHolder">
                <table>



                    <tr class="FormFieldRow">
                        <td style="width: 150px;" [style.text-align]="isRTL ? 'right' : 'left'">
                            {{'Accounting.General.O.Difference' | TextCodeTranslationPipe}}
                        </td>
                    
                        <td style="width: 180px;" [style.text-align]="isRTL ? 'right' : 'left'">
                            <div style="font-size: 15px; "  >{{TotalLocalDifference | NumbersPipe:'N2'}}</div>
                        </td>
                        <td><div></div></td>
                    </tr>



                    <tr class="FormFieldRow">
                        <td style="width: 150px;" [style.text-align]="isRTL ? 'right' : 'left'">{{'Reconciliation.F.AccountName' | TextCodeTranslationPipe}}</td>

                        <td style="width: 280px;"  [style.text-align]="isRTL ? 'right' : 'left'" class="truncate" [dir]="isRTL ? 'rtl' : 'ltr'">
                            <div style="font-size: 12px; "  >{{AccountName}}</div>
                        </td>


                        <td><div></div></td>
                    </tr>

                    <tr class="FormFieldRow">
                        <td style="width: 150px;" [style.text-align]="isRTL ? 'right' : 'left'">{{DiffAccount}}</td>

                        <td style="width: 280px;" [style.text-align]="isRTL ? 'right' : 'left'" class="truncate" [dir]="isRTL ? 'rtl' : 'ltr'">
                            <div style="font-size: 12px; "  >{{RevaluationsGLAccountName}}</div>
                        </td>
                        <td><div></div></td>
                    </tr>

                    



                    <!-- Reference -->
                    <tr class="FormFieldRow">
                        <td style="width: 150px;" [style.text-align]="isRTL ? 'right' : 'left'">{{txt_Reference}}  1</td>
                        <td style="width: 180px">
                            <LogTextBox [ObjectFieldName]="'Reference1'" [InputType]="'ntext'" [DataContext]="DataContext"
                                        [Placeholder]="txt_Reference+ ' 1'" [ObjectTableName]="ObjectTableName" [HideColumns]="true"></LogTextBox>
                        </td>
                        <td><div></div></td>
                    </tr>



                    <tr><td><div></div></td></tr>
                    <tr>
                        <td>
                            <a *ngIf="_NewJournalPM"
                               href="javascript:;" (click)="OpenJournal(_NewJournalPM['Id'])">
                                Adjust Journal have created :{{ _NewJournalPM['JournalNumber'] }}
                            </a>

                        </td>
                    </tr>


                    <tr><td><div></div></td></tr>



                </table>
            </div>
        </td>
    </tr>
    <tr style="height: 32px;">
        <td style="vertical-align: bottom">
            <table style="height: 22px;">
                <tr>
                    <td>
                        <div></div>
                    </td>

                    <td style="width: 57px;">
                        <button class="Button" (click)="CancelButtonClicked()">{{'General.B.Cancel' | TextCodeTranslationPipe}}</button>
                    </td>

                    <td style="width: 5px;">
                        <div></div>
                    </td>

                    <td style="width: 57px;">
                        <button  class="RedButton" (click)="OkButtonClicked()">{{'General.B.Ok' | TextCodeTranslationPipe}}</button>
                    </td>

                </tr>
            </table>
        </td>
    </tr>
</table>

