
<table>
    <tr *ngIf="ValidationErrorsList != null && ValidationErrorsList.length > 0" style="height:1px;">
        <td>
            <ValidationSummary [ItemsSource]="ValidationErrorsList"></ValidationSummary>
        </td>
    </tr>

    <tr style="height: 1px;" *ngIf="IsMessageVisible">
        <td>
            <div class="OrangeInfo" style="margin: 5px;">
                <label class="Value">You are not allowed to add a new active customer</label>
            </div>
        </td>
    </tr>

    <tr style="height: 1px;">
        <td>
            <div>
                <RadioButton [IsEnabled]="IsCustomerRadioEnabled" [Name]="'CustomerRadio'" [IsChecked]="IsCustomer" (Checked)="SetIsCustomer(true)" [Text]="'Is Customer (Allows more options in customer management)'"></RadioButton>
            </div>

            <div>
                <RadioButton [IsEnabled]="IsCustomerRadioEnabled" [Name]="'CustomerRadio'" [IsChecked]="!IsCustomer" (Checked)="SetIsCustomer(false)" [Text]="'Shipper / Consignee is NOT my customer'" [Top]="5"></RadioButton>
            </div>
        </td>
    </tr>

    <tr style="height: 5px;">
        <td>
            <div></div>
        </td>
    </tr>

    <tr>
        <td>
            <div class="MediaFill">
                <div class="LocationDirective" #Child></div>
            </div>
        </td>
    </tr>

    <tr style="height: 32px;">
        <td style="vertical-align: bottom">
            <table style="height: 22px;">
                <tr>
                    <td>
                        <div></div>
                    </td>

                    <td style="width: 57px;">
                        <button id="{{'Cancel-DontCreateCustomer' | IdGeneratorPipe}}" class="Button" (click)="CancelButtonClicked()">Cancel</button>
                    </td>

                    <td style="width: 5px;">
                        <div></div>
                    </td>

                    <td style="width: 57px;">
                        <button id="{{'Ok-AddCustomer' | IdGeneratorPipe}}" class="RedButton" (click)="OkButtonClicked()" [disabled]="!IsOkButtonEnabled">Ok</button>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

