

<table>

    <tr>
        <td>
            <div class="MediaFill">
                <div style="border:0px;" class="TabControl">
                    <div style="border:0px;border-bottom:1px solid #E4E3E1;" class="TabControlHead">
                        <ul style="margin-left: 2px;">
                            <li [class.Selected]="SelectedTabCode == 'CRA'" (click)="SelectedTabCode = 'CRA'" style="margin-left:2px;">
                                <div style="width:100px;text-align:center;font-size:11px;color:black" class="InnerChild">
                                    <span>{{OnCreateAutomationTabTitle}}</span>
                                </div>
                            </li>

                            <li *ngIf="IsShowTabUpdate" [class.Selected]="SelectedTabCode == 'UPA'" (click)="SelectedTabCode = 'UPA'">
                                <div class="InnerChild" style="color:black;width:100px">

                                    <div [attr.data-cy]="'OnUpdateAutomationTabTitle'" style="width:100px;text-align:center;font-size:11px;color:black" class="InnerChild">
                                        <span>{{OnUpdateAutomationTabTitle}}</span>
                                    </div>
                                </div>
                            </li>

                            <li *ngIf="IsShowTabDocumentUpdate" [class.Selected]="SelectedTabCode == 'DUP'" (click)="SelectedTabCode = 'DUP'">
                                <div class="InnerChild" style="color:black;width:160px">

                                    <div style="width:160px;text-align:center;font-size:11px;color:black" class="InnerChild">
                                        <span>{{OnDocumentUpdateAutomationTabTitle}}</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div style="border:0px;" class="TabControlBody">

                        <!--   Tab 1-->
                        <div class="MediaFillRelative" [hidden]="SelectedTabCode != 'CRA'">
                            <div class="MediaFillAbsolute" style="top: 5px; border-right:2px solid #E4E3E1;border-left:2px solid #E4E3E1;border-bottom:2px solid #E4E3E1;border-radius:6px;">
                                <table>

                                    <tr style="height:25px">

                                        <td>
                                            <div style="background-color:#EDEDED;height:25px;border-top:2px solid #E4E3E1;border-bottom:2px solid #E4E3E1;border-top-Right-radius:6px; border-top-left-radius:6px;color:black">

                                                <table>
                                                    <tr>
                                                        <td style="width:100px">
                                                            <p style="font-size:11px;margin-left:5px;margin-top:1px;color:#000000">On Create</p>
                                                        </td>
                                                        <td>
                                                            <div></div>
                                                        </td>

                                                        <td style="width:95px;">
                                                            <div style="width:95px"> Include Inactive</div>
                                                        </td>

                                                        <td style="width:20px">
                                                            <div class="CheckBox">
                                                                <input class="LeftCenter" style="text-align:center" (change)="CheckboxInCludeInActiveClick('OnCreate')" [attr.id]="ShowIncludeInactiveOnCreateCheckBoxKey" type="checkbox" />
                                                                <label class="LeftCenter" [attr.for]="ShowIncludeInactiveOnCreateCheckBoxKey"></label>
                                                            </div>

                                                        </td>

                                                        <td style="width:20px">
                                                            <div style="width:20px">

                                                            </div>

                                                        </td>


                                                        <td class="CellStretched" style="width:25px; min-width:25px; max-width:25px; position: relative;">

                                                            <IconButton [DataCy]="'AddAutomationOnCreate'"  [Name]="'Add'" [IsSmall]="true" (click)="AddAutomation('OnCreate')"></IconButton>

                                                        </td>

                                                    </tr>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>



                                    <tr style="height:3px">
                                        <td>
                                            <div></div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <ScrollViewer>
                                                <div class="SimpleGridView">
                                                    <div class="SimpleGridViewHeader">
                                                        <table>
                                                            <tr>
                                                                <td style="width: 80px; min-width: 80px;">Order</td>
                                                                <td style="width: 120px; min-width: 120px;">Name</td>
                                                                <td style="width: 100px; min-width:100px">Result</td>
                                                                <td style="width: 130px; min-width:130px">Description</td>
                                                                <td style="width: 90px; min-width: 90px">Create Date</td>
                                                                <td style="width: 110px; min-width: 110px">Create By</td>
                                                                <td style="width: 90px; min-width: 90px">Update Date</td>
                                                                <td style="width: 110px; min-width: 110px">Update By</td>
                                                                <td style="width: 50px; min-width: 50px">inactive</td>
                                                                <td style="width: 30px; min-width: 30px"></td>
                                                                <td style="width: 100%; min-width: 100%"></td>
                                                            </tr>
                                                        </table>
                                                    </div>

                                                    <div class="SimpleGridViewBody">
                                                        <table>
                                                            <tr class="SimpleGridViewRow RowHover" *ngFor="let item of OnCreateAutomationList">
                                                                <td>
                                                                    <table>
                                                                        <tr style="height:25px;" (click)="AutomationOnCreateListChangeSelected(item)" [class.RowSelected]="item === OnCreateAutomationListSelected">



                                                                            <td class="GridViewCell" style="width: 80px; min-width: 80px; max-width: 80px; position: relative;">


                                                                                {{item.Order}}
                                                                            </td>

                                                                            <td [attr.title]="item.Name"  class="GridViewCell" style="width: 120px; min-width: 120px; max-width: 120px; position: relative;">
                                                                                {{item.Name}}

                                                                            </td>

                                                                            <td [attr.title]="item.ResultName" class="GridViewCell" style="width: 100px; min-width: 100px; max-width: 100px; position: relative;">

                                                                                {{item.ResultName}}

                                                                            </td>


                                                                            <td class="GridViewCell" style="width:130px; min-width:130px; max-width:130px; position: relative;">

                                                                                {{item.Description}}

                                                                            </td>

                                                                            <td class="GridViewCell" style="width: 90px; min-width: 90px; max-width: 90px; position: relative;">
                                                                                {{item.CreateDate | DateTimeToDatePipe}}

                                                                            </td>

                                                                            <td class="GridViewCell" style="width: 110px; min-width: 110px; max-width: 110px; position: relative;">

                                                                                {{item.CreatedByUserName}}

                                                                            </td>




                                                                            <td class="GridViewCell" style="width: 90px; min-width: 90px; max-width: 90px; position: relative;">

                                                                                {{item.UpdateDate | DateTimeToDatePipe}}

                                                                            </td>

                                                                            <td class="GridViewCell" style="width: 110px; min-width: 110px; max-width: 110px; position: relative;">

                                                                                {{item.UpdatedByUserName}}

                                                                            </td>



                                                                            <td class="CellStretched" style="width:50px; min-width:50px; max-width:50px; position: relative;">
                                                                                <div style="width:50px">
                                                                                    <img class="CenterCenter" style="width:20px;height:20px" *ngIf="item.Inactive" src="./Images/Icons/MiniGreenTick.png" />

                                                                                </div>

                                                                            </td>


                                                                            <td class="CellStretched" style="width:30px; min-width:30px; max-width:30px; position: relative;">
                                                                                <div class="EditButton" (click)="EditAutomation('OnCreate' , item)" style="display:inline;width:18px;">
                                                                                    <IconButton [Name]="'Edit'" [IsSmall]="true" style="display: block;margin-left:7px"></IconButton>
                                                                                </div>

                                                                            </td>

                                                                            <td class="CellStretched" style="width:100%;min-width:100%;max-width:100%;position:relative">
                                                                                <div *ngIf="item.IsShowArrowUpDown" class="CenterCenter" style="width:100%;vertical-align:middle;">


                                                                                    <img (click)="ArrowUpAutomationButtonClicked(item,'OnCreate')" [attr.title]="'Up'" style="width:20px;height:20px;margin-left:7px" src="./Images/arrow-up-n.png" />

                                                                                    <img (click)="ArrowDownAutomationButtonClicked(item,'OnCreate')" [attr.title]="'Down'" style="width:20px;height:20px;margin-left:-10px" src="./Images/arrow-down-n.png" />
                                                                                </div>



                                                                            </td>

                                                                        </tr>

                                                                        <tr>
                                                                            <td colspan="11"></td>
                                                                        </tr>
                                                                    </table>


                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td>
                                                                    <div></div>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </ScrollViewer>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <!--   Tab 2-->
                        <div class="MediaFillRelative" *ngIf="IsShowTabUpdate" [hidden]="SelectedTabCode != 'UPA'">

                            <div class="MediaFillAbsolute" style="top: 5px; border-right:2px solid #E4E3E1;border-left:2px solid #E4E3E1;border-bottom:2px solid #E4E3E1;border-radius:6px;">

                                <table>

                                    <tr style="height:25px">

                                        <td>
                                            <div style="background-color:#EDEDED;height:25px;border-top:2px solid #E4E3E1;border-bottom:2px solid #E4E3E1;border-top-Right-radius:6px; border-top-left-radius:6px;color:black">

                                                <table>
                                                    <tr>
                                                        <td style="width:100px">
                                                            <p style="font-size:11px;margin-left:5px;margin-top:1px;color:#000000">On Update</p>
                                                        </td>
                                                        <td>
                                                            <div></div>
                                                        </td>

                                                        <td style="width:95px;">
                                                            <div style="width:95px"> Include Inactive</div>
                                                        </td>

                                                        <td style="width:20px">
                                                            <div class="CheckBox">
                                                                <input class="LeftCenter" style="text-align:center" (change)="CheckboxInCludeInActiveClick('OnUpdate')" [attr.id]="ShowIncludeInactiveOnUpDateCheckBoxKey" type="checkbox" />
                                                                <label class="LeftCenter" [attr.for]="ShowIncludeInactiveOnUpDateCheckBoxKey"></label>
                                                            </div>

                                                        </td>

                                                        <td style="width:20px">
                                                            <div style="width:20px">

                                                            </div>

                                                        </td>


                                                        <td class="CellStretched" style="width:25px; min-width:25px; max-width:25px; position: relative;">

                                                            <IconButton [DataCy]="'AddAutomationOnUpdate'" [Name]="'Add'" [IsSmall]="true" (click)="AddAutomation('OnUpdate')"></IconButton>

                                                        </td>

                                                    </tr>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>


                                    <tr style="height:3px">
                                        <td>
                                            <div></div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <ScrollViewer>
                                                <div class="SimpleGridView">
                                                    <div class="SimpleGridViewHeader">
                                                        <table>
                                                            <tr>

                                                                <td style="width: 80px; min-width: 80px;">Order</td>
                                                                <td style="width: 120px; min-width: 120px;">Name</td>
                                                                <td style="width: 100px; min-width:100px">Result</td>
                                                                <td style="width: 130px; min-width:130px">Description</td>
                                                                <td style="width: 90px; min-width: 90px">Create Date</td>
                                                                <td style="width: 110px; min-width: 110px">Create By</td>
                                                                <td style="width: 90px; min-width: 90px">Update Date</td>
                                                                <td style="width: 110px; min-width: 110px">Update By</td>
                                                                <td style="width: 50px; min-width: 50px">inactive</td>
                                                                <td style="width: 30px; min-width: 30px"></td>
                                                                <td style="width: 100%; min-width: 100%"></td>
                                                            </tr>
                                                        </table>
                                                    </div>

                                                    <div class="SimpleGridViewBody">
                                                        <table>
                                                            <tr class="SimpleGridViewRow RowHover" *ngFor="let item of OnUpdateAutomationList">
                                                                <td>
                                                                    <table>
                                                                        <tr style="height:25px;" (click)="AutomationUpdateListChangeSelected(item)" [class.RowSelected]="item === OnUpdateAutomationListSelected">



                                                                            <td class="GridViewCell" style="width: 80px; min-width: 80px; max-width: 80px; position: relative;">

                                                                                {{item.Order}}
                                                                            </td>

                                                                            <td  [attr.title]="item.Name" class="GridViewCell" style="width: 120px; min-width: 120px; max-width: 120px; position: relative;">

                                                                                {{item.Name}}

                                                                            </td>

                                                                            <td [attr.title]="item.ResultName" class="GridViewCell" style="width: 100px; min-width: 100px; max-width: 100px; position: relative;">

                                                                                {{item.ResultName}}

                                                                            </td>


                                                                            <td class="GridViewCell" style="width:130px; min-width:130px; max-width:130px; position: relative;">

                                                                                {{item.Description}}

                                                                            </td>

                                                                            <td class="GridViewCell" style="width: 90px; min-width: 90px; max-width: 90px; position: relative;">

                                                                                {{item.CreateDate | DateTimeToDatePipe}}

                                                                            </td>

                                                                            <td class="GridViewCell" style="width: 110px; min-width: 110px; max-width: 110px; position: relative;">

                                                                                {{item.CreatedByUserName}}

                                                                            </td>




                                                                            <td class="GridViewCell" style="width: 90px; min-width: 90px; max-width: 90px; position: relative;">

                                                                                {{item.UpdateDate | DateTimeToDatePipe}}

                                                                            </td>

                                                                            <td class="GridViewCell" style="width: 110px; min-width: 110px; max-width: 110px; position: relative;">

                                                                                {{item.UpdatedByUserName}}

                                                                            </td>



                                                                            <td class="CellStretched" style="width:50px; min-width:50px; max-width:50px; position: relative;">
                                                                                <div style="width:50px">
                                                                                    <img class="CenterCenter" style="width:20px;height:20px" *ngIf="item.Inactive" src="./Images/Icons/MiniGreenTick.png" />

                                                                                </div>

                                                                            </td>


                                                                            <td class="CellStretched" style="width:30px; min-width:30px; max-width:30px; position: relative;">
                                                                                <div class="EditButton" (click)="EditAutomation('OnUpdate' , item)" style="display:inline;width:18px;">
                                                                                    <IconButton [Name]="'Edit'" [IsSmall]="true" style="display: block;margin-left:7px"></IconButton>
                                                                                </div>

                                                                            </td>

                                                                            <td class="CellStretched" style="width:100%;min-width:100%;max-width:100%;position:relative">
                                                                                <div *ngIf="item.IsShowArrowUpDown" class="CenterCenter" style="width:100%;vertical-align:middle;">


                                                                                    <img (click)="ArrowUpAutomationButtonClicked(item,'OnUpdate')" [attr.title]="'Up'" style="width:20px;height:20px;margin-left:7px" src="./Images/arrow-up-n.png" />

                                                                                    <img (click)="ArrowDownAutomationButtonClicked(item,'OnUpdate')" [attr.title]="'View'" style="width:20px;height:20px;margin-left:-10px" src="./Images/arrow-down-n.png" />
                                                                                </div>



                                                                            </td>

                                                                        </tr>
                                                                        <tr>
                                                                            <td colspan="11"></td>
                                                                        </tr>
                                                                    </table>


                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </ScrollViewer>
                                        </td>
                                    </tr>




                                </table>
                            </div>

                        </div>


                        <!--   Tab 3-->
                        <div class="MediaFillRelative" *ngIf="IsShowTabDocumentUpdate" [hidden]="SelectedTabCode != 'DUP'">
                            <OnUpdateDocumentAutomationsSettings [OnDocumentUpdateAutomationList]="OnDocumentUpdateAutomationList" (AddAutomation)="onAddAutomation($event)" (EditAutomation)="onEditAutomation($event)" (RefreshAutomation)="onRefreshAutomation($event)"></OnUpdateDocumentAutomationsSettings>
                        </div>

                    </div>
                </div>
            </div>
        </td>
    </tr>


    <tr style="height: 32px;">
        <td style="vertical-align: bottom">
            <table style="height: 22px;">
                <tr>
                    <td>
                        <div></div>
                    </td>

                    <td style="width: 57px;">
                        <button class="Button" (click)="CloseButtonClicked()">Cancel</button>
                    </td>

                    <td style="width: 5px;">
                        <div></div>
                    </td>

                    <td style="width: 57px;">
                        <button class="RedButton" (click)="SaveButtonClicked()">Ok</button>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

