<style>
    .short-title-row {
        display: flex;
    }

    .short-title {
        width: 25%;
        margin-right: 125px;
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
    }

    .title-span {
        font-size: 18px;
        color: #1B90CB;
    }

    .warning-summary {
        width: 55%;
    }
</style>

<div class="short-title-row">
    <div class="short-title">
        <span class="title-span">
            {{WorkflowName}} - V{{WorkflowVersionNumber}}
        </span>
    </div>
    <div *ngIf="WarningErrorsList != null && WarningErrorsList.length > 0" class="warning-summary" title="{{WarningErrorTitle}}">
        <WarningSummary [ItemsSource]="WarningErrorsList" [SingleLine]="true">
        </WarningSummary>
    </div>
</div>