<connectionStrings>

  <!--
  
  R4
  <add name="Globalstr" connectionString="2019R4_Global,sa,Saas256,." />
  <add name="SystemLogsStr" connectionString="2019R4_SystemLogs,sa,Saas256,." />
  <add name="LogitudeStr" connectionString="Data Source=.;Initial Catalog=2019R4_Main;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  <add name="LogitudeGlobalStr" connectionString="Data Source=.;Initial Catalog=2019R4_Global;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  <add name="LogitudeSystemLogsStr" connectionString="Data Source=.;Initial Catalog=2019R4_SystemLogs;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />

  R5
  <add name="Globalstr" connectionString="2019R5_Global,sa,Saas256,." />
  <add name="SystemLogsStr" connectionString="2019R5_SystemLogs,sa,Saas256,." />
  <add name="LogitudeStr" connectionString="Data Source=.;Initial Catalog=2019R5_Main;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  <add name="LogitudeGlobalStr" connectionString="Data Source=.;Initial Catalog=2019R5_Global;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  <add name="LogitudeSystemLogsStr" connectionString="Data Source=.;Initial Catalog=2019R5_SystemLogs;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
   
  Main
  <add name="Globalstr" connectionString="Logitude2-5_Global,sa,Saas256,." />
  <add name="SystemLogsStr" connectionString="Logitude2-5_SystemLogs,sa,Saas256,." />
  <add name="LogitudeStr" connectionString="Data Source=.;Initial Catalog=Logitude2-5_Main;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  <add name="LogitudeGlobalStr" connectionString="Data Source=.;Initial Catalog=Logitude2-5_Global;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  <add name="LogitudeSystemLogsStr" connectionString="Data Source=.;Initial Catalog=Logitude2-5_SystemLogs;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  
-->
  <add name="Globalstr" connectionString="2019R5_Global,sa,Saas256,." />
  <add name="SystemLogsStr" connectionString="2019R5_SystemLogs,sa,Saas256,." />
  <add name="LogitudeStr" connectionString="Data Source=.;Initial Catalog=2019R5_Main;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  <add name="LogitudeGlobalStr" connectionString="Data Source=.;Initial Catalog=2019R5_Global;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  <add name="LogitudeSystemLogsStr" connectionString="Data Source=.;Initial Catalog=2019R5_SystemLogs;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />

</connectionStrings>