<connectionStrings>

  <add name="Globalstr" connectionString="2019R2_Global,sa,Saas256,." />
  <add name="SystemLogsStr" connectionString="2019R2_SystemLogs,sa,Saas256,." />
  <add name="LogitudeStr" connectionString="Data Source=.;Initial Catalog=2019R2_Main;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  <add name="LogitudeGlobalStr" connectionString="Data Source=.;Initial Catalog=2019R2_Global;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  <add name="LogitudeSystemLogsStr" connectionString="Data Source=.;Initial Catalog=2019R2_SystemLogs;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Saas256;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />

</connectionStrings>