<connectionStrings>

  <clear/>
  <add name="Oracle_Globalstr"  connectionString="User Id=Aminet5113_GLOBAL;  Password=Aminet5113_GLOBAL;Direct=True;Data Source=oracle2022;port=1521;sid=amital;"/>
  <add name="Oracle_SystemLogsStr"  connectionString="User Id=Aminet5113_LOGS;  Password=Aminet5113_LOGS;Direct=True;Data Source=oracle2022;port=1521;sid=amital;"/>
  <!-- <add name="OracleMainMigration" connectionString="User Id=logitude_main;  Password=oracle;Direct=True;Data Source=10.10.10.67;port=1521;sid=amital;" providerName="Devart.Data.Oracle" /> -->
  
</connectionStrings>