::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

th, td {
    word-wrap: break-word;
    white-space: normal;
    text-align: right;
}

.detailsSlide_table {
    border-radius: 10px;
    border: 1px solid var(--greyRO);
    /* #109216 cancel overflow */
    /* overflow: auto;
    max-height: 450px; */
}

.detailsSlide_table table {
    width: 100%;
    border-collapse: collapse;
}

.detailsSlide_table th {
    padding: 7px 10px 7px 0px;
    text-align: right;
    background-color: var(--grey);
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
}

.detailsSlide_table td {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    padding: 12px 10px 11px 0px;
    vertical-align: top;
    border-bottom: 1px solid var(--greyRO);
}

.detailsSlide_table tr:nth-last-child(1) td {
    border-bottom: 0px;
}

.detailsSlide_table td img {
    display: block;
    width: 14px;
}

.detailsSlide_table th.legalDescription {
    width: 220px;
}

.detailsSlide_table th.printsDescription {
    width: 540px;
}

.detailsSlide_table th {
    font-size: 12px;
}

.detailsSlide_table th.printsDescription {
    width: 420px;
}

.detailsSlide_table td {
    padding: 11px 10px 8px 0px;
    font-size: 12px;
    line-height: 14px;
}

.detailsSlide_table th {
    padding: 6px 10px 5px 0px;
}

.tableBox {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 10px;
    overflow-x: auto;
}

/* .detailsSlide_table.tableBox {
    width: 100%;
    overflow-x: auto;
}

.detailsSlide_table.tableBox table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.detailsSlide_table.tableBox th,
.detailsSlide_table.tableBox td {
    width: auto;
    word-wrap: break-word;
    text-align: center;
    padding: 8px;
    box-sizing: border-box;
} */



/* Style for the "link button" */
.link-button {
    display: inline-block;
    padding: 8px 12px; /* Add padding for a button-like look */
    border: 1px solid #007bff; /* Border similar to a button */
    background-color: transparent; /* Transparent background like a link */
    color: #007bff; /* Link color */
    text-decoration: none; /* Remove underline */
    font-size: 14px; /* Adjust font size */
    text-align: center; /* Center text */
    border-radius: 4px; /* Rounded corners like a button */
    cursor: pointer; /* Pointer cursor for interactivity */
    transition: background-color 0.2s, color 0.2s; /* Smooth transition */
  }
  
  .link-button:hover {
    background-color: #007bff; /* Highlight background on hover */
    color: #fff; /* White text on hover */
  }
  
  .link-button:focus {
    outline: 2px solid #0056b3; /* Focus outline for accessibility */
    outline-offset: 2px;
  }
  