<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings configSource="Config\JustWebFreightConnectionStrings.config" />

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ILoginWcfService" />
        <binding name="BasicHttpBinding_IAutoSignUpWcfService" />
        <binding name="BasicHttpBinding_IQuoteWcfService" />
        <binding name="BasicHttpBinding_IShipmentWcfService" />
        <binding name="BasicHttpBinding_IPortWcfService" />
        <binding name="BasicHttpBinding_IOpportunityWcfService" />
        <binding name="BasicHttpBinding_IUserWcfService" />
        <binding name="BasicHttpBinding_IContactWcfService" />
        <binding name="BasicHttpBinding_IPackageTypeWcfService" />
        <binding name="BasicHttpBinding_ICustomerWcfService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:9996/WcfApi/LoginWcfService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILoginWcfService" contract="LoginServiceReference.ILoginWcfService" name="BasicHttpBinding_ILoginWcfService" />
      <endpoint address="http://localhost:9996/WcfApi/AutoSignUpWcfService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAutoSignUpWcfService" contract="AutoSignUpServiceReference.IAutoSignUpWcfService" name="BasicHttpBinding_IAutoSignUpWcfService" />
      <endpoint address="http://localhost:9996/WcfApi/QuoteWcfService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQuoteWcfService" contract="QuoteServiceReference.IQuoteWcfService" name="BasicHttpBinding_IQuoteWcfService" />
      <endpoint address="http://localhost:9996/WcfApi/ShipmentWcfService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IShipmentWcfService" contract="ShipmentServiceReference.IShipmentWcfService" name="BasicHttpBinding_IShipmentWcfService" />
      <endpoint address="http://localhost:9996/WcfApi/PortWcfService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPortWcfService" contract="PortServiceReference.IPortWcfService" name="BasicHttpBinding_IPortWcfService" />
      <endpoint address="http://localhost:9996/WcfApi/OpportunityWcfService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOpportunityWcfService" contract="OpportunityServiceReference.IOpportunityWcfService" name="BasicHttpBinding_IOpportunityWcfService" />
      <endpoint address="http://localhost:9996/WcfApi/UserWcfService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserWcfService" contract="UserServiceReference.IUserWcfService" name="BasicHttpBinding_IUserWcfService" />
      <endpoint address="http://localhost:9996/WcfApi/ContactWcfService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IContactWcfService" contract="ContactServiceReference.IContactWcfService" name="BasicHttpBinding_IContactWcfService" />
      <endpoint address="http://localhost:9996/WcfApi/PackageTypeWcfService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPackageTypeWcfService" contract="PackageTypeServiceReference.IPackageTypeWcfService" name="BasicHttpBinding_IPackageTypeWcfService" />
      <endpoint address="http://localhost:9996/WcfApi/CustomerWcfService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomerWcfService" contract="CustomerServiceReference.ICustomerWcfService" name="BasicHttpBinding_ICustomerWcfService" />
    </client>
  </system.serviceModel>
  <appSettings configSource="JustWebFreightConnectionStrings.config">
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Devart.Data.Oracle" publicKeyToken="09af7300eec23701" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.9.872.0" newVersion="9.9.872.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Devart.Data" publicKeyToken="09af7300eec23701" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.2296.0" newVersion="5.0.2296.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Dataflow" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.3.0" newVersion="4.6.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>

        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
         <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
       </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Confluent.Kafka" publicKeyToken="12c514ca49093d1e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.3.0" newVersion="1.6.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
       <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
 
      <dependentAssembly>
        <assemblyIdentity name="Azure.Core" publicKeyToken="92742159e12e44c8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.33.0.0" newVersion="1.33.0.0" />
      </dependentAssembly>
     </assemblyBinding>
  </runtime>
</configuration>