<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBranchWcfService" />
                <binding name="BasicHttpBinding_IAirlineWcfService" />
                <binding name="BasicHttpBinding_IGlobalZoneWcfService" />
                <binding name="BasicHttpBinding_ICountryWcfService" />
                <binding name="BasicHttpBinding_ICityWcfService" />
                <binding name="BasicHttpBinding_IAgentWcfService" />
                <binding name="BasicHttpBinding_ICustomAgentWcfService" />
                <binding name="BasicHttpBinding_IDepartmentWcfService" />
                <binding name="BasicHttpBinding_ILoginWcfService" />
                <binding name="BasicHttpBinding_ICustomerWcfService" />
                <binding name="BasicHttpBinding_IAccountingPartnerWcfService" />
                <binding name="BasicHttpBinding_IShippingLineWcfService" />
                <binding name="BasicHttpBinding_IVendorWcfService" />
                <binding name="BasicHttpBinding_ITruckerWcfService" />
                <binding name="BasicHttpBinding_IShippingAgentWcfService" />
                <binding name="BasicHttpBinding_IShipmentWcfService" />
                <binding name="BasicHttpBinding_IPortWcfService" />
                <binding name="BasicHttpBinding_IQuoteWcfService" />
                <binding name="BasicHttpBinding_ICurrencyWcfService" />
                <binding name="BasicHttpBinding_IPackageTypeWcfService" />
                <binding name="BasicHttpBinding_IContactWcfService" />
                <binding name="BasicHttpBinding_IVesselWcfServcie" />
                <binding name="BasicHttpBinding_IStateWcfService" />
                <binding name="BasicHttpBinding_ISpecialServicesTypeWcfService" />
                <binding name="BasicHttpBinding_IDocumentTypeWcfService" />
                <binding name="BasicHttpBinding_IUserWcfService" />
                <binding name="BasicHttpBinding_IAddressWcfService" />
                <binding name="BasicHttpBinding_ICardContactWcfService" />
                <binding name="BasicHttpBinding_IEventTypeWcfService" />
                <binding name="BasicHttpBinding_IChargeTypeWcfService" />
                <binding name="BasicHttpBinding_IContactPasswordService" />
                <binding name="BasicHttpBinding_IRoleWcfService" />
                <binding name="BasicHttpBinding_ITenantManagementDWWcfService" />
                <binding name="BasicHttpBinding_IShipmenFollowerstWcfService" />
                <binding name="BasicHttpBinding_ICustomerCompetitorDWWcfService" />
                <binding name="BasicHttpBinding_ICustomerAdditionalServiceDWWcfService" />
                <binding name="BasicHttpBinding_IHybridPartnerWcfService" />
                <binding name="BasicHttpBinding_ICustomBankCardWcfService" />
                <binding name="BasicHttpBinding_IIncotermWcfService" />
                <binding name="BasicHttpBinding_IActivityWcfService" />
                <binding name="BasicHttpBinding_IAutoSignUpWcfService" />
                <binding name="BasicHttpBinding_IOpportunityDWWcfService" />
                <binding name="BasicHttpBinding_IOpportunityWcfService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9996/WcfApi/BranchWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBranchWcfService"
                contract="BranchServiceReference.IBranchWcfService" name="BasicHttpBinding_IBranchWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/AirlineWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAirlineWcfService"
                contract="AirlineServiceReference.IAirlineWcfService" name="BasicHttpBinding_IAirlineWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/GlobalZoneWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGlobalZoneWcfService"
                contract="GlobalZoneServiceReference.IGlobalZoneWcfService"
                name="BasicHttpBinding_IGlobalZoneWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/CountryWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICountryWcfService"
                contract="CountryServiceReference.ICountryWcfService" name="BasicHttpBinding_ICountryWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/CityWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICityWcfService"
                contract="CityServiceReference.ICityWcfService" name="BasicHttpBinding_ICityWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/AgentWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAgentWcfService"
                contract="AgentServiceReference.IAgentWcfService" name="BasicHttpBinding_IAgentWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/CustomAgentWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomAgentWcfService"
                contract="CustomAgentServiceReference.ICustomAgentWcfService"
                name="BasicHttpBinding_ICustomAgentWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/DepartmentWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDepartmentWcfService"
                contract="DepartmentServiceReference.IDepartmentWcfService"
                name="BasicHttpBinding_IDepartmentWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/LoginWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILoginWcfService"
                contract="LoginServiceReference.ILoginWcfService" name="BasicHttpBinding_ILoginWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/CustomerWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomerWcfService"
                contract="CustomerServiceReference.ICustomerWcfService" name="BasicHttpBinding_ICustomerWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/AccountingPartnerWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccountingPartnerWcfService"
                contract="AccountingPartnerServiceReference.IAccountingPartnerWcfService"
                name="BasicHttpBinding_IAccountingPartnerWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/ShippingLineWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IShippingLineWcfService"
                contract="ShippingLineServiceReference.IShippingLineWcfService"
                name="BasicHttpBinding_IShippingLineWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/VendorWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVendorWcfService"
                contract="VendorServiceReference.IVendorWcfService" name="BasicHttpBinding_IVendorWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/TruckerWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITruckerWcfService"
                contract="TruckerServiceReference.ITruckerWcfService" name="BasicHttpBinding_ITruckerWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/ShippingAgentWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IShippingAgentWcfService"
                contract="ShippingAgentServiceReference.IShippingAgentWcfService"
                name="BasicHttpBinding_IShippingAgentWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/ShipmentWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IShipmentWcfService"
                contract="ShipmentServiceReference.IShipmentWcfService" name="BasicHttpBinding_IShipmentWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/PortWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPortWcfService"
                contract="PortServiceReference.IPortWcfService" name="BasicHttpBinding_IPortWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/QuoteWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQuoteWcfService"
                contract="QuoteServiceReference.IQuoteWcfService" name="BasicHttpBinding_IQuoteWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/CurrencyWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICurrencyWcfService"
                contract="CurrencyServiceReference.ICurrencyWcfService" name="BasicHttpBinding_ICurrencyWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/PackageTypeWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPackageTypeWcfService"
                contract="PackageTypeServiceReference.IPackageTypeWcfService"
                name="BasicHttpBinding_IPackageTypeWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/ContactWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IContactWcfService"
                contract="ContactServiceReference.IContactWcfService" name="BasicHttpBinding_IContactWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/VesselWcfServcie.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVesselWcfServcie"
                contract="VesselServiceReference.IVesselWcfServcie" name="BasicHttpBinding_IVesselWcfServcie" />
            <endpoint address="http://localhost:9996/WcfApi/StateWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStateWcfService"
                contract="StateServiceReference.IStateWcfService" name="BasicHttpBinding_IStateWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/SpecialServicesTypeWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISpecialServicesTypeWcfService"
                contract="SpecialServicesTypeServiceReference.ISpecialServicesTypeWcfService"
                name="BasicHttpBinding_ISpecialServicesTypeWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/DocumentTypeWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDocumentTypeWcfService"
                contract="DocumentTypeServiceReference.IDocumentTypeWcfService"
                name="BasicHttpBinding_IDocumentTypeWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/UserWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserWcfService"
                contract="UserServiceReference.IUserWcfService" name="BasicHttpBinding_IUserWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/AddressWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAddressWcfService"
                contract="AddressServiceReference.IAddressWcfService" name="BasicHttpBinding_IAddressWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/CardContactWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICardContactWcfService"
                contract="CardContactServiceReference.ICardContactWcfService"
                name="BasicHttpBinding_ICardContactWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/EventTypeWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEventTypeWcfService"
                contract="EventTypeServiceReference.IEventTypeWcfService"
                name="BasicHttpBinding_IEventTypeWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/ChargeTypeWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IChargeTypeWcfService"
                contract="ChargeTypeServiceReference.IChargeTypeWcfService"
                name="BasicHttpBinding_IChargeTypeWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/ContactPasswordService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IContactPasswordService"
                contract="ContactPasswordServiceReference.IContactPasswordService"
                name="BasicHttpBinding_IContactPasswordService" />
            <endpoint address="http://localhost:9996/WcfApi/RoleWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRoleWcfService"
                contract="RoleServiceReference.IRoleWcfService" name="BasicHttpBinding_IRoleWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/TenantManagementDWWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITenantManagementDWWcfService"
                contract="TenantManagementDWServiceReference.ITenantManagementDWWcfService"
                name="BasicHttpBinding_ITenantManagementDWWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/ShipmenFollowerstWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IShipmenFollowerstWcfService"
                contract="ShipmentFollowerstServiceReference.IShipmenFollowerstWcfService"
                name="BasicHttpBinding_IShipmenFollowerstWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/CustomerCompetitorDWWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomerCompetitorDWWcfService"
                contract="CustomerCompetitorServiceReference.ICustomerCompetitorDWWcfService"
                name="BasicHttpBinding_ICustomerCompetitorDWWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/CustomerAdditionalServiceDWWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomerAdditionalServiceDWWcfService"
                contract="CustomerAdditionalServiceDWServiceReference.ICustomerAdditionalServiceDWWcfService"
                name="BasicHttpBinding_ICustomerAdditionalServiceDWWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/HybridPartnerWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHybridPartnerWcfService"
                contract="HybridPartnerServiceReference.IHybridPartnerWcfService"
                name="BasicHttpBinding_IHybridPartnerWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/CustomBankCardWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomBankCardWcfService"
                contract="CustomBankCardServiceReference.ICustomBankCardWcfService"
                name="BasicHttpBinding_ICustomBankCardWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/IncotermWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIncotermWcfService"
                contract="IncotermServiceReference.IIncotermWcfService" name="BasicHttpBinding_IIncotermWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/ActivityWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IActivityWcfService"
                contract="ActivityServiceReference.IActivityWcfService" name="BasicHttpBinding_IActivityWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/AutoSignUpWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAutoSignUpWcfService"
                contract="AutoSignUpServiceReference.IAutoSignUpWcfService"
                name="BasicHttpBinding_IAutoSignUpWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/OpportunityDWWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOpportunityDWWcfService"
                contract="OpportunityDWServiceReference.IOpportunityDWWcfService"
                name="BasicHttpBinding_IOpportunityDWWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/OpportunityWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOpportunityWcfService"
                contract="OpportunityServiceReference.IOpportunityWcfService"
                name="BasicHttpBinding_IOpportunityWcfService" />
        </client>
    </system.serviceModel>

  <appSettings configSource="Config\test.appSettings.config">
    
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
