<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ILoginWcfService" />
                <binding name="BasicHttpBinding_IAutoSignUpWcfService" />
                <binding name="BasicHttpBinding_IQuoteWcfService" />
                <binding name="BasicHttpBinding_IShipmentWcfService" />
                <binding name="BasicHttpBinding_IPortWcfService" />
                <binding name="BasicHttpBinding_IOpportunityWcfService" />
                <binding name="BasicHttpBinding_IUserWcfService" />
                <binding name="BasicHttpBinding_IContactWcfService" />
                <binding name="BasicHttpBinding_IPackageTypeWcfService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9996/WcfApi/LoginWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILoginWcfService"
                contract="LoginServiceReference.ILoginWcfService" name="BasicHttpBinding_ILoginWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/AutoSignUpWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAutoSignUpWcfService"
                contract="AutoSignUpServiceReference.IAutoSignUpWcfService"
                name="BasicHttpBinding_IAutoSignUpWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/QuoteWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQuoteWcfService"
                contract="QuoteServiceReference.IQuoteWcfService" name="BasicHttpBinding_IQuoteWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/ShipmentWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IShipmentWcfService"
                contract="ShipmentServiceReference.IShipmentWcfService" name="BasicHttpBinding_IShipmentWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/PortWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPortWcfService"
                contract="PortServiceReference.IPortWcfService" name="BasicHttpBinding_IPortWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/OpportunityWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOpportunityWcfService"
                contract="OpportunityServiceReference.IOpportunityWcfService"
                name="BasicHttpBinding_IOpportunityWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/UserWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserWcfService"
                contract="UserServiceReference.IUserWcfService" name="BasicHttpBinding_IUserWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/ContactWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IContactWcfService"
                contract="ContactServiceReference.IContactWcfService" name="BasicHttpBinding_IContactWcfService" />
            <endpoint address="http://localhost:9996/WcfApi/PackageTypeWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPackageTypeWcfService"
                contract="PackageTypeServiceReference.IPackageTypeWcfService"
                name="BasicHttpBinding_IPackageTypeWcfService" />
        </client>
    </system.serviceModel>

  <appSettings configSource="Config\test.appSettings.config">
    
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
