
<div class="TabHolder" *ngIf="ResourcesReady">
    <table>
        <tr style="height:5px">
            <td></td>
        </tr>
        <tr>
            <td style="vertical-align:top">
                <table>
                    <tr style="height:30px">
                        <td>
                            <table>
                                <tr>
                                    <td style="width:100px">
                                        <button class="Button" (click)="AddAirlineAreaClicked()">New Area</button>
                                    </td>
                                    <td></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr style="height:5px">
                        <td></td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top">
                            <table>
                                <tr>
                                    <td>
                                        <div class="SimpleGridView">
                                            <div class="SimpleGridViewHeader">
                                                <table>
                                                    <tr class="SimpleGridHeaderRow">
                                                        <td style="width: 150px;">{{'AirlineArea.F.Name' | TextCodeTranslationPipe}}</td>
                                                        <td style="width: 170px;">{{'AirlineArea.F.Description' | TextCodeTranslationPipe}}</td>
                                                        <td style="width: 150px;">{{'AirlineArea.F.CreatedByUserName' | TextCodeTranslationPipe}}</td>
                                                        <td style="width: 150px;">{{'AirlineArea.F.CreateDate' | TextCodeTranslationPipe}}</td>
                                                        <td style="width: 150px;">{{'AirlineArea.F.UpdatedByUserName' | TextCodeTranslationPipe}}</td>
                                                        <td style="width: 150px;">{{'AirlineArea.F.UpdateDate' | TextCodeTranslationPipe}}</td>

                                                        <td class="LastChild"></td>
                                                    </tr>
                                                </table>
                                            </div>

                                            <div class="SimpleGridViewBody">
                                                <table>
                                                    <tr class="SimpleGridViewRow RowHover" *ngFor="let item of ItemsSource">
                                                        <td class="GridViewCell" style="width: 150px;">
                                                            <div class="TextTrimming" style="width: 150px;">{{item.Name}}</div>
                                                        </td>
                                                        <td class="GridViewCell" style="width: 170px;">
                                                            <div class="TextTrimming" style="width: 170px;">{{item.Description}}</div>
                                                        </td>
                                                        <td class="GridViewCell" style="width: 150px;">{{item.CreatedByUserName}}</td>
                                                        <td class="GridViewCell" style="width: 150px;">{{item.CreateDate | DateTimePipe:'SD'}}</td>
                                                        <td class="GridViewCell" style="width: 150px;">{{item.UpdatedByUserName}}</td>
                                                        <td class="GridViewCell" style="width: 150px;">{{item.UpdateDate | DateTimePipe:'SD'}}</td>
                                                        <td class="LastChild">
                                                            <table>
                                                                <tr>
                                                                    <td style="width:5px"></td>
                                                                    <td style="width:20px">
                                                                        <IconButton (click)="EditAirlineAreaClicked(item)" [IsSmall]="true"
                                                                                    [Name]="'Edit'"></IconButton>
                                                                    </td>
                                                                    <td style="width:20px">
                                                                        <IconButton (click)="DeleteAirlineAreaClicked(item)" [IsSmall]="true"
                                                                                    [Name]="'Delete'"></IconButton>
                                                                    </td>
                                                                    <td>
                                                                        <div></div>
                                                                    </td>
                                                                </tr>
                                                            </table>

                                                        </td>

                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>


                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <div></div>
            </td>
        </tr>
    </table>

</div>
