
<table>

    <tr class="FormFieldRow">
        <td>
            <table>
                <tr>
                    <td style="width: 30px; font-size:11px; color : #6E7172; padding-right: 15px;">Search:</td>
    <td style="width:300px">
        <SearchTextBox [PlaceHolder]="'Search Codes'" [ObjectTableName]="'SchedulerProcedure'" (SearchTextChangeEvent)="TextChanged($event)"></SearchTextBox>
    </td>
                    <!--<td style="width: 30px; font-size:11px; color : #6E7172;">Search:</td>

                    <td style="width: 100px;">
                        <SearchBox [ObjectTableName]="'SchedulerProcedure'" [IsQuickSearch]="true" [AutoClearSearchText]="true"></SearchBox>
                    </td>-->
                    <td>
                        <div></div>
                    </td>

                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <div class="MediaFill">
                <div  style="vertical-align:top;" class="GeneratedGridContainer" >
                <SectionBox>
                    <SectionHead>
                        <table>
                            <tr>
                                <td style="width: 2px;">
                                    <div></div>
                                </td>


                                <td style="width:80px; max-width: 80px;padding-right:2px;">
                                    <span>Name</span>

                                </td>



                              <!--  <td style="width:0.5px; max-width:1px; background: gray"></td>-->
                                <td style="width:80px; max-width: 80px; padding-left: 2px;">
                                    <span>Description</span>

                                </td>


                            </tr>


                        </table>

                    </SectionHead>
                    <SectionBody>
                        <div class="ScrollViewer">
                            <div class="ScrollContent">
                                <ul>
                                    <li class="RecentEntityItem" *ngFor="let item of schedulerprocedureList" (click)="SendCode(item)">
                                        <table>
                                            <tr>
                                                <td style="width: 2px;">
                                                    <div></div>
                                                </td>


                                                <td style="width:80px; max-width: 80px;padding-right:2px;">
                                                    <span>{{item.Name}}</span>

                                                </td>

                                                <!--  <td style="width:0.5px; max-width:1px; background: gray"></td>-->

                                                <td style="width:80px; max-width: 80px; padding-left: 2px;">
                                                    <span>{{item.Description}}</span>

                                                </td>


                                               
                                            </tr>


                                        </table>
                                    </li>
                                </ul>

                                </div> </div>
                    </SectionBody>

                    </SectionBox>
                        </div>
                </div>
        </td>
    </tr>

    <tr style="height: 32px;">
        <td style="vertical-align: bottom" colspan="3">
            <table style="height: 22px;">
                <tr>
                    <td>
                        <div></div>
                    </td>

                    <td style="width: 57px;">
                        <button class="Button" (click)="CancelButtonClicked()">Close</button>
                    </td>


                </tr>
            </table>
        </td>
    </tr>

</table>




