<table>
    <tr *ngIf="ValidationErrorsList != null && ValidationErrorsList.length > 0" style="height:1px;">
        <td colspan="4">
            <ValidationSummary [ItemsSource]="ValidationErrorsList" [SingleLine]="false"></ValidationSummary>
        </td>
    </tr>

    <tr>
        <td style="width: 370px; padding-top: 10px;">
            <table>
                <tr>
                    <td>
                        <table>

                            <!-- CustomerId -->
                            <tr class="FormFieldRow">
                                <td style="width: 120px">
                                    <LogLabel [ObjectFieldName]="'CustomerId'" [ObjectTableName]="ObjectTableName"
                                              [DataContext]="DataContext"></LogLabel>
                                </td>

                                <td style="width: 180px">
                                    <LogLov [ObjectFieldName]="'CustomerId'"
                                            [ObjectTableName]="ObjectTableName"
                                            [DataContext]="DataContext"
                                            [SelectedValue]="CustomerId"
                                            [DependencyFilter1Value]="'CS'"
                                            [HideAddLink]="true"
                                            [LookUpTableName]="'Card'"
                                            [DisplayMemberPath]="'LocalName'"
                                            [DisplayFieldsFromList]="'Code,LocalName'">
                                    </LogLov>
                                </td>
                                <td><div></div></td>
                            </tr>

                            <!-- ClaimOfficeCode -->
                            <tr class="FormFieldRow">
                                <td style="width: 120px">
                                    <LogLabel [TextCode]="'Customs.DeclarationStatusQuery.O.DeclarationOfficeText'"
                                              [ObjectFieldName]="'ClaimOfficeCode'" [ObjectTableName]="'ObjectTableName'" [DataContext]="DataContext"></LogLabel>
                                </td>

                                <td style="width: 180px">
                                    <LogLov [ObjectFieldName]="'ClaimOfficeCode'"
                                            [ObjectTableName]="ObjectTableName"
                                            [DataContext]="DataContext"
                                            [LookUpTableName]="'Customs.CustomsHouseType'">
                                    </LogLov>
                                </td>
                                <td><div></div></td>
                            </tr>

                            <tr><td><div></div></td></tr>
                        </table>

                    </td>
                </tr>
            </table>
        </td>

        <td><div></div></td>


    </tr>

    <tr style="height: 32px;">
        <td colspan="4" style="vertical-align: bottom">
            <table style="height: 22px;">
                <tr>
                    <td>
                        <div></div>
                    </td>

                    <td style="width: 57px;">
                        <button class="Button" (click)="CancelButtonClicked()">{{'General.B.Cancel' | TextCodeTranslationPipe}}</button>
                    </td>

                    <td style="width: 5px;">
                        <div></div>
                    </td>

                    <td style="width: 57px;">
                        <button id="Customs_NewClaimWindow_OkButton" class="RedButton" (click)="OkButtonClicked()">{{'General.B.Ok' | TextCodeTranslationPipe}}</button>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

</table>
