
Drop PROCEDURE [dbo].[usp_UpdateAPILog]
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[usp_UpdateAPILog]
(
  
  @pLogId  as  varchar(15),
  @pTenant   as int,
  @pStatus as varchar(1),
  @pUpdateDate as DateTime,
  @pUpdateDateUTC as DateTime,
  @pLog as  nvarchar(MAX),
  @pRequestData as  nvarchar(MAX),
  @pResponseData as  nvarchar(MAX),
  @pExceptionMessage as  nvarchar(MAX),
  @pLastExceptionMessage as  nvarchar(MAX)
)
AS
   
   declare @LogString  as nvarchar(max);
   declare @OldLogString  as nvarchar(max);
   declare @RequestDataString  as nvarchar(max);
   declare @OldRequestDataString  as nvarchar(max);
   declare @ResponseDataString  as nvarchar(max);
   declare @OldResponseDataString  as nvarchar(max);
   declare @ExceptionDataString  as nvarchar(max);
   declare @OldExceptionDataString  as nvarchar(max);
   declare @RetriesNo  as int;
   declare @DiagnosticLogLength  as int;
   DECLARE @NewLineChar AS CHAR(2) = CHAR(13) + CHAR(10)
  

    --IF  EXISTS (SELECT Id 
     --    FROM APILogs with (UPDLOCK) WHERE Id =@pLogId and Tenant = @pTenant) 
     --    and EXISTS(SELECT Id 
     --    FROM APILogsData with (UPDLOCK) WHERE Id =@pLogId and Tenant = @pTenant)
		  
		 
--BEGIN  

select
@OldLogString = DiagnosticLog,
@OldRequestDataString= RequestData,
@OldResponseDataString = ResponseData,
@OldExceptionDataString = ExceptionsMessage,
@DiagnosticLogLength = LEN(DiagnosticLog)
from APILogsData
where Id =@pLogId and Tenant = @pTenant

      --set @OldLogString = (select DiagnosticLog 
      --FROM APILogsData with (UPDLOCK) WHERE Id =@pLogId and Tenant = @pTenant);
      
	  if(@OldLogString is not null)
	  begin
	     if(@pLog is not null)
	     begin
	       set @LogString = @OldLogString +@NewLineChar + convert(varchar(20),@pUpdateDate,103) + @NewLineChar +    isnull(@pLog,'')
	     end
	     ELSE
	     begin
	        set @LogString = @OldLogString
	     end
	  end
	  else
	  begin
	  if(@pLog is not null)
	     begin
	       set @LogString = @pLog
	     end
	     if(LEN(@LogString) > 1000)
	     begin
	       set @LogString = right(@LogString,1000)
	     end 
	  end
	  
	  ---------------------------------------------------------------
      --set @OldRequestDataString = (select RequestData 
      --FROM APILogsData with (UPDLOCK) WHERE Id =@pLogId and Tenant = @pTenant);
      
	  if(@OldRequestDataString is not null)
	  begin
	     if(@pRequestData is not null)
	     begin
	       set @RequestDataString = @pRequestData
	     end
	     ELSE
	     begin
	        set @RequestDataString = @OldRequestDataString
	     end
	  end
	  else
	  begin
	  if(@pRequestData is not null)
	     begin
	       set @RequestDataString = @pRequestData
	     end
	  end
	  
	  ------------------------------------------------------------------
	  
      --set @OldResponseDataString = (select ResponseData 
      --FROM APILogsData with (UPDLOCK) WHERE Id =@pLogId and Tenant = @pTenant);
       
	  if(@OldResponseDataString is not null)
	  begin
	     if(@pResponseData is not null)
	     begin
	       set @ResponseDataString = @pResponseData
	     end
	     ELSE
	     begin
	        set @ResponseDataString = @OldResponseDataString
	     end
	  end
	  else
	  begin
	 if(@pResponseData is not null)
	     begin
	       set @ResponseDataString = @pResponseData
	     end
	  end
	  -----------------------------------------------------------------
	  
	  --set @OldExceptionDataString = (select ExceptionsMessage 
      --FROM APILogsData with (UPDLOCK) WHERE Id =@pLogId and Tenant = @pTenant);
      
	  if(@OldExceptionDataString is not null)
	  begin
	    if(@pExceptionMessage is not null)
	     begin
	       set @ExceptionDataString = @pExceptionMessage
	     end
	     ELSE
	     begin
	        set @ExceptionDataString = @OldExceptionDataString
	     end
	  end
	  else
	  begin
	  if(@pExceptionMessage is not null)
	     begin
	       set @ExceptionDataString = @pExceptionMessage
	     end
	  end
	  
	  -------------------------------------------------------------------
	  set @RetriesNo = (select NumberOfRetries from APILogs WHERE Id = @pLogId and Tenant = @pTenant); 
	  
	  if(@pStatus = 'F')
	  begin
	     set @RetriesNo = @RetriesNo + 1;
	  end
	  
	  update APILogs
	  set Status = @pStatus,
	  NumberOfRetries = @RetriesNo,
	  LastUpdateDate = @pUpdateDate,
	  LastUpdateDateUTC = @pUpdateDateUTC,
	  LastExceptionMessage = @pLastExceptionMessage
	  WHERE Id = @pLogId and Tenant = @pTenant
	  
	  update APILogsData
	  set DiagnosticLog = @LogString,
	  RequestData = @RequestDataString,
	  ResponseData = @ResponseDataString,
	  ExceptionsMessage = @ExceptionDataString
	  WHERE Id = @pLogId and Tenant = @pTenant
 
--End

    

  



    

  

