:host ::ng-deep {
    p-autocomplete {
        ul.p-autocomplete-items {
            padding: 0;
            li.p-autocomplete-item {
                padding: 0 !important;
                border-top: 1px solid rgb(167, 169, 172);
                height: 26px;
            }
            
            .highlight-row {
                background: #efefef;
            }

            li.p-autocomplete-item:first-child {
                position: sticky;
                top: 0;
                pointer-events: none;
                cursor: pointer;
                z-index: 1;
                border: none;

                div {
                    // background-image: linear-gradient(to bottom,  #bbbdbd 0%,#8f9192 100%);
                    color: #0d89ec;
                    border-right: 1px solid #8f8f8f;
                    border-left: 1px solid #bcbcbc;
                    background: #e2f0fb;
                }
            }
            
            li.p-autocomplete-item:hover {
                div {
                    color: #000000;
                    background: #d7d9db;
                }
            }
        }

        .p-autocomplete-dropdown {
            border-color: #ced4da;
            border-left: none;
        }
    }

    .p-autocomplete-dd .p-autocomplete-dropdown {
        background: white;
        color: #1084dc;
    }

    .have-drop-icon p-autocomplete {
        input {
            border-right: none;
        }

        li.p-autocomplete-item:hover {
            div {
                color: #000000;
                background: #d7d9db;
            }
        }
    }
}

.autocomplete-col {
    display: inline-block;
    width: 110px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 13px;
    padding: 4px;
    height: 26px;
}

.autocomplete-col:last-child {
    border: none;
}

.pi {
    margin: auto;
    color: #1084dc !important;
}
