
h1{
    margin: 0;
    text-transform: uppercase;
    padding-top: 60px;
    padding-bottom: 20px;
    font-size: 28px;
}
.FlipImgHoriz {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
.circle-image {
  background: #E5E9EF; /*#F2F4F7;*/
  border-radius: 50%;
  width: 80px !important;
  height: 80px;
  padding: 0 !important;
  margin: 0 auto;
  /* top: 50%; */
  position: relative;
  text-align: center;
}

.circle-image img {
  width: 30px;
  height: 24px;
  position: relative;
  top: calc(50% - 9px);
}
.shipment-header::after,.slider::after {
  content: "";
  display: block;
  clear: both;
}
.slider-wrapper{
  padding: 10px 0 50px 0;
  background: RGB(242,244,247);
}
.shipment-header{
  padding: 40px 90px 20px 90px;
  background: RGB(242,244,247);
}
.shipment-header > div{
  float: left;
  margin: 0 30px;
}

.shipment-header .title{
  font-size: 16px;
  font-weight: bold;
  color:var(--MainColor); 
}
.shipment-header .title > a{
  font-size: 14px;
  font-weight: normal;
}
.shipment-header ul{
  padding: 0;
  margin: 0;
}
.shipment-header ul li{
  list-style: none;
  font-size: 15px;
}
.slider-wrapper{
  height: 190px;
} 
.pager.dim{
    opacity: 0.3;
    pointer-events: none;
    cursor: auto;
}
.slider{
  width: 1400px;
  overflow: hidden;
  /* box-sizing: border-box; */
  /* margin: 0 50px; */
  display: inline-block;
  padding: 15px 0px;
  /* float: left; */
}
.slider .cards{
  width: 2500px;
  height: 160px;
  transition: margin-left 1s;
}
.slider .cards::after,  .cards::before{
  content: "";
  clear: both;
}
 .pager{
    width: 100px;
    /* height: 160px; */
    display: inline-block;
    cursor: pointer;
    /* float: left; */
    /* padding: 15px 0px; */
    position: relative;
    height: 100%;
    user-select: none;
  }
  .pager:active{
    transform: scale(0.9);
  }
 .pager img{
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.slider .card{
  position: relative;
  float: left;
  width: 150px;
  height: 130px;
  background: white;
  color: #444444;
  border-radius: 5px;
  margin: 0 10px;
  padding: 15px;

  box-shadow: 0px 0px 8px 0px #00000030;

}
.slider .card + .active{
  background: var(--MainColor);
  color: white;
}
.slider .card + .warning::after {
  content: "!";
  display: block;
  width: 25px;
  height: 25px;
  border: 3px solid white;
  background: red;
  position: absolute;
  top: -12px;
  right: -9px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  z-index: 1;
  color: white;
}
.slider .card + .dim{
  background: none;
  box-shadow: none;
  border: 1px solid gray;
  color: gray;
}
.slider .card:hover{
  box-shadow: 0px 0px 8px 0px #00000060;
}
.slider .card .code{
  height: 22px;
  width: 100%;
  color: black;
  text-align: right;
  font-weight: bold;
}
.slider .card .date{
  font-size: 45px;
  margin-bottom: 10px;
}
.slider .card .date > span{
  font-size: 16px;
  font-weight: bold;
}
.slider .card .title{
  font-size: 15px;
  font-weight: 600;
}
.slider .card .desc{
  font-size: 13px;
  line-height: 18px;
}