<table *ngIf="_IsLoaded">
    <tr>
        <td>
            <div class="TableHolder">
                <table style="width: 100%; height: 100px;padding-top: 10px;">

                    <!--  Request  -->
                    <tr style="vertical-align: top;">
                        <td>
                            <fieldset>
                                <div style="border: 1px solid #3BB3E2; padding: 1rem">
                                    <table>
                                        <tr class="FormFieldRow">
                                            <!-- CreatedAt -->
                                            <td style="width: 100px;">
                                                <LogLabel [ObjectFieldName]="'CreatedAt'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext" [NoValidation] = "'false'" [ShowWarning] = "'false'"></LogLabel>
                                            </td>
                                           
                                            <td style="width:100px;">
                                                <LogDatePicker [ObjectFieldName]="'FromDate'" [ObjectTableName]="ObjectTableName"
                                                    [NoObjectField]="true" [ForceSubscribe]="true" [DataContext]="DataContext"
                                                    [HideColumns]="true" [SelectedDateValue]="FromDate"></LogDatePicker>
                                            </td>
                                            <td style="width: 3px;"><div></div></td>

                                            <td style="width: 100px;">
                                                <LogLabel [Text] = "ToDateText" [NoObjectField]="true"  [DataContext]="DataContext"></LogLabel>

                                                <!-- {{ToDateText}} -->
                                            </td>
                                           
                                           
                    
                                            <td style="width:100px;">
                                                <LogDatePicker [ObjectFieldName]="'ToDate'" [ObjectTableName]="ObjectTableName"
                                                    [NoObjectField]="true" [ForceSubscribe]="true" [DataContext]="DataContext"
                                                    [HideColumns]="true" [SelectedDateValue]="ToDate"></LogDatePicker>
                                            </td>

                                            <td style="width: 3px;"><div></div></td>

                                            <!-- EntityId1 -->
                                            <td style="width: 100px;">
                                                <LogLabel [ObjectFieldName]="'EntityId1'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                            </td>
                                            <td style="width: 100px;">
                                                <LogTextBox [ObjectFieldName]="'EntityId1'"
                                                [InputType]="'text'"
                                                [DataContext]="DataContext"
                                                [ObjectTableName]="ObjectTableName"
                                                [HideColumns]="true"></LogTextBox>                                              
                                            </td>

                                            <td style="width: 3px;"><div></div></td>

                                            <!-- ObjectTableId1 -->
                                            <td style="width: 100px;">
                                                <LogLabel [ObjectFieldName]="'ObjectTableId1'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                            </td>
                                            <td style="width: 100px;">
                                                <LogLov [ObjectFieldName]="'ObjectTableId1'"
                                                        [SelectedValue]="ObjectTableId1"
                                                        [ObjectTableName]="ObjectTableName"
                                                        [DataContext]="DataContext"
                                                        [LookUpTableName]="'ObjectTable'"
                                                        [HideLastColumn]="true"
                                                        [HideColumns]="true">
                                                </LogLov>
                                            </td>
                                        </tr>

                                        <tr class="FormFieldRow">
                                            <!-- UserId -->
                                            <td style="width: 100px;">
                                                <LogLabel [ObjectFieldName]="'UserId'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                            </td>
                                            <td style="width: 100px;">
                                                <LogLov [ObjectFieldName]="'UserId'"
                                                        [SelectedValue]="UserId"
                                                        [ObjectTableName]="ObjectTableName"
                                                        [DataContext]="DataContext"
                                                        [LookUpTableName]="'User'"
                                                        [HideLastColumn]="true"
                                                        [HideColumns]="true">
                                                </LogLov>
                                            </td>

                                            <td style="width: 3px;"><div></div></td>

                                          <!-- EntityId2 -->
                                          <td style="width: 100px;">
                                            <LogLabel [ObjectFieldName]="'EntityId2'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                        </td>
                                        <td style="width: 100px;">                                     
                                            <LogTextBox [ObjectFieldName]="'EntityId2'"
                                            [InputType]="'text'"
                                            [DataContext]="DataContext"
                                            [ObjectTableName]="ObjectTableName"
                                            [HideColumns]="true"></LogTextBox>
                                        </td>

                                        <td style="width: 3px;"><div></div></td>

                                        <!-- ObjectTableId2 -->
                                        <td style="width: 100px;">
                                            <LogLabel [ObjectFieldName]="'ObjectTableId2'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                        </td>
                                        <td style="width: 100px;">
                                            <LogLov [ObjectFieldName]="'ObjectTableId2'"
                                                    [SelectedValue]="ObjectTableId2"
                                                    [ObjectTableName]="ObjectTableName"
                                                    [DataContext]="DataContext"
                                                    [LookUpTableName]="'ObjectTable'"
                                                    [HideLastColumn]="true"
                                                    [HideColumns]="true">
                                            </LogLov>
                                        </td>

                                            <td style="width: 3px;"><div></div></td>
                                           

                                        </tr>

                                        <tr class="FormFieldRow">
                                            <td style="width: 100px;"><div></div></td>

                                            <td style="width: 100px;">
                                                <IconButton [IsSmall]="true"
                                                            [Name]="'Search'"
                                                            [Width]="60"
                                                            (click)="RefreshBtnClick()"
                                                            style="float:left;"></IconButton>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </fieldset>
                        </td>
                    </tr>

                    <tr style="height :15px;">
                        <td class="TabTitleRow">
                            <div>תוצאות</div>
                        </td>
                    </tr>

                    <!-- Response  -->
                    <tr>
                        <td>
                            <fieldset >
                                <div style="border: 1px solid #3BB3E2; padding: 1rem">
                                    <table style="width: 100%;height: 400px; padding-top: 10px;">
                                        <tr>
                                            <td colspan="12" style="width: 100%; height:400px">
                                                <table>
                                                    <tr style="width: 100%; height: 30px">
                                                        <td style="width:150px; font-size: 12px; color: #1B90CB; text-align:right">
                                                            {{'GeneralLock'| TextCodeTranslationPipe}}
                                                        </td>
                                                        <td> <div></div> </td>
                                                        <td style="height: 20px;">
                                                            <div>
                                                                <IconButton [IsSmall]="true"
                                                                            [Name]="'refresh'"
                                                                            (click)="ClearFilter()"
                                                                            style="float:left;"></IconButton>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr style="width: 100%; height:350px" >
                                                        <td colspan="3" style="width: 100% ; height : 100%">
                                                            <div class="GeneratedGridContainer" style="width: 100% ; height : 100%">

                                                                <logitude-grid [dataSource]="DataSource"
                                                                [ObjectTable]="ObjectTableName"
                                                                [MenuHeaderchangeevent]="MenuHeaderchangeevent"
                                                                [columns]="columns"
                                                                [QueryChangeEvent]="onQueryChangeEvent"
                                                                 
                                                                [IsCustomTemplate]="true">
                                                              </logitude-grid>
                             
                                                               
                                                            </div>
                                                        </td>
                                                    </tr>

                                                    <tr><td><div></div></td></tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </fieldset>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>
