
<table>
        <tr *ngIf="ValidationErrorsList != null && ValidationErrorsList.length > 0" style="height:1px;">
            <td>
                <ValidationSummary [ItemsSource]="ValidationErrorsList"></ValidationSummary>
            </td>
        </tr>

        <tr style="height: 1px;">
            <td>
                <table>
                    <tr class="FormFieldRow">
                        <td>
                            <table>

                                <tr class="FormFieldRow">
                                    <td style="width: 150px;">
                                        <LogLabel [ObjectFieldName]="'Name'" [DataContext]="DataContext" [ObjectTableName]="ObjectTableName"></LogLabel>
                                    </td>

                                    <td style="width: 250px;">
                                        <LogTextBox [ObjectFieldName]="'Name'" [InputType]="'nText'" [DataContext]="DataContext" [HideColumns]="true" [ObjectTableName]="ObjectTableName"></LogTextBox>
                                    </td>

                                    <td>
                                        <div></div>
                                    </td>

                                </tr>

                                <tr class="FormFieldRow">
                                    <td>
                                        <LogLabel [ObjectFieldName]="'RateCoefficient'" [DataContext]="DataContext"  [ObjectTableName]="ObjectTableName"></LogLabel>
                                    </td>

                                    <td>
                                        <LogTextBox [ObjectFieldName]="'RateCoefficient'" [InputType]="'double'" [DataContext]="DataContext" [HideColumns]="true" [ObjectTableName]="ObjectTableName"></LogTextBox>
                                    </td>

                                    <td>
                                        <div></div>
                                    </td>

                                </tr>

                                <tr><td><div></div></td></tr>
                            </table>

                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr style="height: 32px;">
            <td style="vertical-align: bottom">
                <table style="height: 22px;">
                    <tr>
                        <td>
                            <div></div>
                        </td>

                        <td style="width: 57px;">
                            <button class="Button" (click)="CancelButtonClicked()">{{ 'Accounting.General.B.Cancel' | TextCodeTranslationPipe }}</button>
                        </td>

                        <td style="width: 5px;">
                            <div></div>
                        </td>

                        <td style="width: 57px;">
                            <button class="RedButton" (click)="SubmitChanges()">{{ 'Accounting.General.B.OK' | TextCodeTranslationPipe }}</button>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

    </table>

