<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
   <!-- http://localhost:9996 http://test.logitudeworld.com/test/ http://logboxwe1.cloudapp.net/ http://system.logbox.co.il/ http://system.dsv.co.il-->
    <!--<add key="SystemUrl" value="https://system.logbox.co.il/"/>
    <add key="Environment" value="LogBox"/> --> 
    <add key="SystemUrl" value="http://system.logbox.co.il/"/>
    <add key="Environment" value="LogBox"/>
    <!--DSV,LogBox-->
  </appSettings>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
  </system.net>
    <system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
