
<table>
    <tr style="height:1px;" *ngIf="ValidationErrorsList && ValidationErrorsList.length > 0">
        <td>
            <ValidationSummary [ItemsSource]="ValidationErrorsList"></ValidationSummary>
        </td>
    </tr>

    <tr>
        <td>
            <table>

                <!-- AddressTypeId -->
                <tr class="FormFieldRow">
                    <td style="width: 90px;">
                        <LogLabel [ObjectFieldName]="'AddressTypeId'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                    </td>

                    <td style="width: 336px;">
                        <LogLov [ObjectFieldName]="'AddressTypeId'"
                                [SelectedValue]="DataContext.AddressTypeId"
                                [ObjectTableName]="ObjectTableName"
                                [DataContext]="DataContext"
                                [LookUpTableName]="'AddressType'"
                                [DependencyFilter1Value]="AddressTypeDependencyProperty1"
                                [DependencyFilter1IsList]="true"
                                (SelectedItemChanged)="DataContext.AddressTypeList = $event">
                        </LogLov>
                    </td>

                    <td>
                        <div></div>
                    </td>
                </tr>

                <!-- Description -->
                <tr class="FormFieldRow">
                    <td style="width: 90px;">
                        <LogLabel [ObjectFieldName]="'Description'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                    </td>

                    <td style="width: 336px;">
                        <LogTextBox [ObjectFieldName]="'Description'" [Text]="Description" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogTextBox>
                    </td>

                    <td>
                        <div></div>
                    </td>
                </tr>

                <!-- Name -->
                <tr class="FormFieldRow">
                    <td style="width: 90px;">
                        <LogLabel [ObjectFieldName]="'Name'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                    </td>

                    <td style="width: 336px;">
                        <LogTextBox [ObjectFieldName]="'Name'" [Text]="Name" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogTextBox>
                    </td>

                    <td>
                        <div></div>
                    </td>
                </tr>

                <!-- Address1 -->
                <tr class="FormFieldRow">
                    <td>
                        <LogLabel [ObjectFieldName]="'Address1'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                    </td>

                    <td>
                        <LogTextBox [ObjectFieldName]="'Address1'" [Text]="Address1" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogTextBox>
                    </td>

                    <td>
                        <div></div>
                    </td>
                </tr>

                <!-- Address2 -->
                <tr class="FormFieldRow">
                    <td>
                        <LogLabel [ObjectFieldName]="'Address2'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                    </td>

                    <td>
                        <LogTextBox [ObjectFieldName]="'Address2'" [Text]="Address2" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogTextBox>
                    </td>

                    <td>
                        <div></div>
                    </td>
                </tr>

                <!-- CountryId -->
                <tr class="FormFieldRow">
                    <td>
                        <LogLabel [ObjectFieldName]="'CountryId'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                    </td>

                    <td>
                        <table>
                            <tr>
                                <td style="width: 200px;">
                                    <LogLov [ObjectFieldName]="'CountryId'"
                                            [SelectedValue]="CountryId"
                                            [ObjectTableName]="ObjectTableName"
                                            [DataContext]="DataContext"
                                            [LookUpTableName]="'Country'"
                                            (SelectedItemChanged)="Country = $event">
                                    </LogLov>
                                </td>

                                <td>
                                    <div></div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr style="height: 1px;">
                    <td colspan="3">
                        <table>
                            <tr>
                                <td>
                                    <table>

                                        <!-- ZipCode -->
                                        <tr class="FormFieldRow">
                                            <td style="width: 90px;">
                                                <LogLabel [ObjectFieldName]="'ZipCode'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                            </td>

                                            <td>
                                                <table>
                                                    <tr>
                                                        <td style="width: 164px;">
                                                            <LogTextBox [ObjectFieldName]="'ZipCode'" [Text]="ZipCode" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext" [HideColumns]="true"></LogTextBox>
                                                        </td>

                                                        <td style="width: 5px;">
                                                            <div></div>
                                                        </td>

                                                        <td *ngIf="CountryCode == 'MX'">
                                                            <span class="hyperlink" (click)="SelectZipCode()">{{'General.B.Select' | TextCodeTranslationPipe}}</span>
                                                        </td>
                                                        <td  *ngIf="CountryCode != 'MX'"></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>


                                        <!-- City -->
                                        <tr class="FormFieldRow">
                                            <td style="width: 90px;">
                                                <LogLabel [ObjectFieldName]="'City'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                            </td>

                                            <td>
                                                <table>
                                                    <tr>
                                                        <td style="width: 164px;">
                                                            <LogTextBox [ObjectFieldName]="'City'" [Text]="City" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext" [HideColumns]="true"></LogTextBox>
                                                        </td>

                                                        <td style="width: 5px;">
                                                            <div></div>
                                                        </td>

                                                        <td>
                                                            <span class="hyperlink" (click)="SelectCityCommand()">{{'General.B.Select' | TextCodeTranslationPipe}}</span>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>



                                        <!-- StateId -->
                                        <tr class="FormFieldRow">
                                            <td>
                                                <LogLabel [ObjectFieldName]="'StateId'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                            </td>

                                            <td>
                                                <table>
                                                    <tr>
                                                        <td style="width: 200px;">
                                                            <LogLov [ObjectFieldName]="'StateId'"
                                                                    [SelectedValue]="DataContext.StateId"
                                                                    [ObjectTableName]="ObjectTableName"
                                                                    [DataContext]="DataContext"
                                                                    [LookUpTableName]="'State'"
                                                                    (SelectedItemChanged)="State = $event"
                                                                    [DependencyFilter1Value]="CountryId">
                                                            </LogLov>
                                                        </td>

                                                        <td>
                                                            <div></div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>

                                        <!-- InActive -->
                                        <tr class="FormFieldRow" *ngIf="AddressTypeId == 'O' && IsNewEntity == false">
                                            <td>
                                                <LogLabel [ObjectFieldName]="'InActive'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                            </td>

                                            <td>
                                                <table>
                                                    <tr>
                                                        <td style="width: 200px;">
                                                            <LogCheckBox [ObjectFieldName]="'InActive'" [Checked]="InActive" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogCheckBox>
                                                        </td>

                                                        <td>
                                                            <div></div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td colspan="2">
                                                <div></div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>

                                <td style="width: 260px;">
                                    <table>

                                        <!-- PhoneNumber -->
                                        <tr class="FormFieldRow">
                                            <td style="width: 80px;">
                                                <LogLabel [ObjectFieldName]="'PhoneNumber'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                            </td>

                                            <td>
                                                <LogTextBox [ObjectFieldName]="'PhoneNumber'" [Text]="PhoneNumber" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogTextBox>
                                            </td>
                                        </tr>

                                        <!-- FaxNumber -->
                                        <tr class="FormFieldRow">
                                            <td>
                                                <LogLabel [ObjectFieldName]="'FaxNumber'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                            </td>

                                            <td>
                                                <LogTextBox [ObjectFieldName]="'FaxNumber'" [Text]="FaxNumber" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogTextBox>
                                            </td>
                                        </tr>

                                        <!-- ATTN -->
                                        <tr class="FormFieldRow">
                                            <td>
                                                <LogLabel [ObjectFieldName]="'ATTN'" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogLabel>
                                            </td>

                                            <td>
                                                <LogTextBox [ObjectFieldName]="'ATTN'" [Text]="ATTN" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext"></LogTextBox>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td colspan="2">
                                                <div></div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td colspan="3">
                        <div></div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr style="height: 32px;">
        <td style="vertical-align: bottom">
            <table style="height: 22px;">
                <tr>
                    <td style="width: 16px;" *ngIf="AddressTypeId != 'M'">
                        <LogCheckBox [ObjectFieldName]="'IsLocalLanguage'" [Checked]="IsLocalLanguage" [ObjectTableName]="ObjectTableName" [DataContext]="DataContext" [HideColumns]="true"></LogCheckBox>
                    </td>

                    <td style="width: 1px;" *ngIf="AddressTypeId != 'M'">
                        <span class="Label" style="padding-left: 5px">Is Local Langugae</span>
                    </td>

                    <td>
                        <div></div>
                    </td>

                    <td style="width: 57px;">
                        <button class="Button" (click)="CancelButtonClicked()">{{'General.B.Cancel' | TextCodeTranslationPipe}}</button>
                    </td>

                    <td style="width: 5px;">
                        <div></div>
                    </td>

                    <td style="width: 57px;">
                        <button class="RedButton" (click)="OkButtonClicked()">{{'General.B.Ok' | TextCodeTranslationPipe}}</button>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
