:host ::ng-deep {
    p-checkbox {
        direction: rtl;
        display: block;
    }

    .p-checkbox {
        margin-top: 6px !important;
        margin-bottom: -1px !important;
        margin-right: 7px !important;
        width: auto;
        position: relative;
        right: -13px;

        .p-checkbox-box {
            width: 13px;
            height: 13px;

            .p-checkbox-icon {
                font-size: 9px;
            }
        }
    }

    .p-checkbox-label {
        position: relative;
        left: 4px;
        padding-top: 5.7px;
        float: left;
        font-size: 13px;
    }

    app-address-textarea {
        margin: auto;
        margin-top: 12px;
        display: block;
        width: 164px;
        margin-bottom: 6px;
        text-align: left;

        label {
            margin-bottom: 0px;
        }

        img {
            bottom: 2px;
            right: 4px;
        }

        .goolge-map {
            right: 4px;
            bottom: 36px;
        }
    }

    .p-field {
        app-autocomplate-table label,
        label {
            position: absolute;
            top: -8px;
        }

        app-autocomplate-table {
            label[for='Address'] {
                top: -12px;
            }

            .pi-search {
                top: 7px;
            }
        }
    }
}

// hr {
//     height: 1px;
//     background: #ced4da;
//     margin-bottom: 23px;
// }

.form {
    margin: 0px;
    padding: 2px 13px;
    border: 1px solid #ced4da;
    border-radius: 7px;
    margin-top: 19px;

    > div {
        height: 155px;
    }
}

.container {
    border: 1px solid #ced4da;
    border-radius: 3px;
    padding: 0 10px;
    margin-bottom: 8px;
    margin-top: 14px;
    
    > .p-fluid {
        position: relative;
        // top: -17px;
        // height: 129px;
        
        .p-field {
            margin-bottom: 12px !important;
            // height: 47px;
            display: block;
        }
        
        .zip-code-wrapper {
            margin-top: 3px;
            
        }
    }
}

.address-container {
    text-align: center;    
}

h5 {
    top: -8px;
    position: relative;
    left: 16px;
    background: white;
    display: inline-block;
    padding: 0 4px;
}

.pi {
    border-color: #e2f0fb;
    background: #e2f0fb;
    color: #1084dc;
    border-radius: 5px;
    padding: 5px;
    // margin-left: 10px;
    cursor: pointer;
    // float: right;
    margin-top: 21px;
}

app-autocomplate-table.address-input {
    display: inline-block;
    width: calc(100% - 70px);
}

.address-top {
    margin-top: 3px;
}

.disabled {
    background-color: #cccccca3;
    color: #1084dc70;
    cursor: not-allowed;
    pointer-events: none;
}

.pi-pencil {
    margin-left: 12px;
    margin-right: 2px;
}

.error-msg {
    position: absolute;
    top: 28px;
    z-index: 2;
    font-size: 9px;
}
