:host ::ng-deep {
    p-checkbox { 
        direction: rtl;
        display: block;
    }

    .p-checkbox {
        margin-top: 5px !important;
        margin-bottom: 0px !important;
        margin-right: 7px !important;
        width: auto;
        position: relative;
        right: -13px;

        .p-checkbox-box {
            width: 13px;
            height: 13px;
            
            .p-checkbox-icon {
                font-size: 12px;
            }
        }
    }

    .p-checkbox-label {
        position: relative;
        left: 4px;
        padding-top: 3px;
        float: left;
    }
}


// hr {
//     height: 1px;
//     background: #ced4da;
//     margin-bottom: 23px;
// }

.form {
    margin: 0px;
    padding: 2px 13px;
    border: 1px solid #ced4da;
    border-radius: 7px;
    margin-top: 19px;
}

.container {
    border: 1px solid #ced4da;
    border-radius: 3px;
    padding: 0 18px;
    margin-top: 21px;
}

h5 {
    top: -8px;
    position: relative;
    left: 16px;
    background: white;
    display: inline-block;
    padding: 0 4px;
}

.pi {
    border-color: #e2f0fb;
    background: #e2f0fb;
    color: #1084dc;
    border-radius: 5px;
    padding: 5px;
    margin-left: 10px;
    cursor: pointer;
    float: right;
    margin-top: 21px;
}

app-autocomplate-table.address-input {
    display: inline-block;
    width: calc(100% - 70px);
}

.disabled {
    background-color: #cccccca3;
    color: #1084dc70;
    cursor: not-allowed;
    pointer-events: none;
}
