<table>
    <tr>
        <td>
            <div></div>
        </td>
    </tr>
    <tr style="height:100%;vertical-align:top">
        <td>
            <table>
                <tr *ngIf="!FullComponentsVisibility" style="height:10px">
                    <td></td>
                </tr>
                <tr style="height:20px">
                    <td>
                        <table>
                            <tr>

                                <td><span style="color:gray;font-size:11px;vertical-align:top;width:300px">In this screen you choose which milestones can be viewed by the customer.</span></td>
                                <td><span><SearchTextBox style="float: right;margin-top:0px;margin-right:0px;width:200px" [ObjectTableName]="'CargoTrackingMilestone'" [PlaceHolder]="'Search'" (SearchTextChangeEvent)="onSearchTextChangeEvent($event)"></SearchTextBox></span></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr *ngIf="!FullComponentsVisibility" style="height:3px">
                    <td></td>
                </tr>
                <tr *ngIf="FullComponentsVisibility" style="height:15px">
                    <td></td>
                </tr>
                <!--GridView-->
                <tr style="height:100%">
                   <td class="CellStretch">
                       <div style="border:1px solid lightGray;height:100%">
                           <table>
                               <tr style="height:5px;"><td></td></tr>
                               <tr style="height:100%">
                                   <td style="margin-left:5px;margin-right:5px;">
                                       <table>
                                           <tr style="height:100%">
                                               <td style="width:5px;"></td>
                                               <td>
                                                   <div class="SimpleGridView">
                                                       <div class="SimpleGridViewHeader">
                                                           <table>
                                                               <tr>
                                                                   <td style="width: 100%; min-width: 100%;text-align:center">Milestone Name</td>
                                                                   <td style="width:80px; min-width:80px;text-align:center ">Import Weight</td>
                                                                   <td style="width:80px; min-width:80px;text-align:center ">Export Weight</td>
                                                                   <td style="width:70px; min-width:70px;text-align:center ">Choose</td>
                                                                   

                                                               </tr>
                                                           </table>
                                                       </div>
                                                       <div class="SimpleGridViewBody">
                                                           <table>
                                                               <tr style="height: 1px;">
                                                                   <td>
                                                                       <table>
                                                                           <tr class="SimpleGridViewRow RowHover" *ngFor="let item of MilestonesPermissiosLists">
                                                                               <td>
                                                                                   <table>
                                                                                       <tr style="height:25px;" (click)="MilestonePermissiosSelectedViewModel=item" [class.RowSelected]="item === MilestonePermissiosSelectedViewModel">
                                                                                           <td class="GridViewCell" style="width: 100%; min-width: 100%; max-width: 100%; position: relative;">
                                                                                               <div style="text-align:left">{{item.MilestoneName}}</div>
                                                                                           </td>
                                                                                           <td class="GridViewCell" style="width: 80px; min-width: 80px; max-width: 80px; position: relative;">
                                                                                                <div style="text-align:left">{{item.ImportWeight}}</div>
                                                                                            </td>
                                                                                            <td class="GridViewCell" style="width: 80px; min-width: 80px; max-width: 80px; position: relative;">
                                                                                                <div style="text-align:left">{{item.ExportWeight}}</div>
                                                                                            </td>
                                                                                           <td class="CellStretched" style="width: 70px; min-width: 70px; max-width: 70px; position: relative;">
                                                                                               <div class="CheckBox">
                                                                                                   <input class="CenterCenter" style="text-align:center" [attr.id]="item.CustomerChooseCheckedBoxId" type="checkbox" [(ngModel)]="item.CustomerChooseIsChecked" />
                                                                                                   <label class="CenterCenter" [attr.for]="item.CustomerChooseCheckedBoxId"></label>
                                                                                               </div>
                                                                                           </td>
                                                                                          
                                                                                       </tr>
                                                                                       <tr><td colspan="10"></td></tr>
                                                                                   </table>
                                                                               </td>
                                                                           </tr>
                                                                       </table>
                                                                   </td>
                                                               </tr>
                                                               <tr>
                                                                   <td>
                                                                       <div></div>
                                                                   </td>
                                                               </tr>
                                                           </table>
                                                       </div>
                                                   </div>
                                               </td>
                                               <td style="width:5px;"></td>
                                           </tr>
                                       </table>
                                   </td>
                               </tr>
                               <tr style="height:5px;"><td></td></tr>
                           </table>
                       </div>
                   </td>
                </tr>
                <!--EndGridView-->
            </table>
        </td>
    </tr>
    <tr *ngIf="FullComponentsVisibility" style="height: 32px;">
        <td style="vertical-align: bottom">
            <table style="height: 22px;">
                <tr>
                    <td>
                        <div></div>
                    </td>
                    <td style="width: 57px;">
                        <div>
                            <button class="Button" (click)="CloseButtonClicked()">Cancel</button>
                        </div>
                    </td>
                    <td style="width: 5px;">
                        <div></div>
                    </td>
                    <td style="width: 57px;">
                        <button class="RedButton" (click)="SaveButtonClicked()">OK</button>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
